Repository cilium/tetragon, changes with the owners that CODEOWNERS names for each.
All owners: @cilium/tetragon, @willfindlay, @kkourt, @mtardy

CODEOWNERS:

# Request a review from the Tetragon team on any PR
* @cilium/tetragon

# Request a review from William when codegen is edited
cmd/protoc-gen-go-tetragon/ @willfindlay

# Request a review from William when CI is edited
.github/workflows/ @willfindlay

# Request a review from kkourt when core sensor files are modified
pkg/src/sensors/ @kkourt

# Request a review from mtardy when anything from docs is modified but do not
# block on approval from anyone in the tetragon team
/docs/ @mtardy @cilium/tetragon

tetragon: Move read_arg to generic_calls.h
  bpf/process/generic_calls.h
  bpf/process/types/basic.h
Owners: @cilium/tetragon

tetragon: Decouple generic_process_event from setup code
  bpf/process/generic_calls.h
  pkg/sensors/tracing/kprobe_test.go
  pkg/sensors/tracing/lsm_test.go
Owners: @cilium/tetragon

tetragon: Remove data_heap argument from args functions
  bpf/process/generic_calls.h
Owners: @cilium/tetragon

tetragon: Read only defined arguments
  bpf/process/generic_calls.h
  bpf/process/types/basic.h
  pkg/api/tracingapi/client_kprobe.go
  pkg/sensors/tracing/generickprobe.go
  pkg/sensors/tracing/genericlsm.go
  pkg/sensors/tracing/generictracepoint.go
  pkg/sensors/tracing/genericuprobe.go
  pkg/sensors/tracing/kprobe_test.go
Owners: @cilium/tetragon

tetragon: Add test for retrieving same argument multiple times
  pkg/sensors/tracing/kprobe_test.go
Owners: @cilium/tetragon

tetragon: Add test for resolving same argument multiple times
  pkg/sensors/tracing/kprobe_test.go
Owners: @cilium/tetragon

tetragon: Move read_arg to generic_calls.h
  bpf/process/generic_calls.h
  bpf/process/types/basic.h
Owners: @cilium/tetragon

tetragon: Remove data_heap argument from args functions
  bpf/process/generic_calls.h
Owners: @cilium/tetragon

tetragon: Decouple generic_process_event from setup code
  bpf/process/generic_calls.h
  pkg/sensors/tracing/kprobe_test.go
  pkg/sensors/tracing/lsm_test.go
Owners: @cilium/tetragon

feat: collect environment variables in execve events
  api/v1/README.md
  api/v1/tetragon/codegen/eventchecker/eventchecker.pb.go
  api/v1/tetragon/tetragon.pb.go
  api/v1/tetragon/tetragon.proto
  bpf/lib/process.h
  bpf/process/bpf_execve_event.c
  contrib/tetragon-rthooks/vendor/github.com/cilium/tetragon/api/v1/tetragon/tetragon.pb.go
  contrib/tetragon-rthooks/vendor/github.com/cilium/tetragon/api/v1/tetragon/tetragon.proto
  docs/content/en/docs/reference/grpc-api.md
  pkg/api/flags.go
  pkg/api/processapi/processapi.go
  pkg/process/process.go
  pkg/sensors/exec/exec_linux.go
  vendor/github.com/cilium/tetragon/api/v1/tetragon/codegen/eventchecker/eventchecker.pb.go
  vendor/github.com/cilium/tetragon/api/v1/tetragon/tetragon.pb.go
  vendor/github.com/cilium/tetragon/api/v1/tetragon/tetragon.proto
Owners: @cilium/tetragon, @mtardy

add feature flag for envs collection & move env vars from Process to ProcessExec
  api/v1/README.md
  api/v1/tetragon/codegen/eventchecker/eventchecker.pb.go
  api/v1/tetragon/tetragon.pb.go
  api/v1/tetragon/tetragon.proto
  contrib/tetragon-rthooks/vendor/github.com/cilium/tetragon/api/v1/tetragon/tetragon.pb.go
  contrib/tetragon-rthooks/vendor/github.com/cilium/tetragon/api/v1/tetragon/tetragon.proto
  docs/content/en/docs/reference/grpc-api.md
  pkg/grpc/exec/exec.go
  pkg/option/config.go
  pkg/option/flags.go
  pkg/process/process.go
  vendor/github.com/cilium/tetragon/api/v1/tetragon/codegen/eventchecker/eventchecker.pb.go
  vendor/github.com/cilium/tetragon/api/v1/tetragon/tetragon.pb.go
  vendor/github.com/cilium/tetragon/api/v1/tetragon/tetragon.proto
Owners: @cilium/tetragon, @mtardy

just checking e2e logs
  .github/workflows/run-e2e-tests.yaml
Owners: @willfindlay

e2e: Add 'failed' field to Runner
  .github/workflows/run-e2e-tests.yaml
  tests/e2e/runners/runners.go
  tests/e2e/state/state.go
  tests/e2e/tests/labels/labels_test.go
  tests/e2e/tests/policyfilter/policyfilter_test.go
  tests/e2e/tests/skeleton/skeleton_test.go
Owners: @willfindlay, @cilium/tetragon

WIP check test failure
  tests/e2e/helpers/dumpinfo.go
  tests/e2e/tests/skeleton/skeleton_test.go
Owners: @cilium/tetragon

sensors: Cleanup global slice of maps to fix memory leaks
  pkg/observer/observer_stats.go
  pkg/sensors/load.go
  pkg/sensors/sensors.go
Owners: @cilium/tetragon

Simplify setup in some tests
  pkg/sensors/exec/cgroups_test.go
  pkg/testutils/sensors/sensors.go
Owners: @cilium/tetragon

pkg/k8s : Add `index` field in `matchCapabilities`
  install/kubernetes/tetragon/crds-yaml/cilium.io_tracingpolicies.yaml
  install/kubernetes/tetragon/crds-yaml/cilium.io_tracingpoliciesnamespaced.yaml
  pkg/k8s/apis/cilium.io/client/crds/v1alpha1/cilium.io_tracingpolicies.yaml
  pkg/k8s/apis/cilium.io/client/crds/v1alpha1/cilium.io_tracingpoliciesnamespaced.yaml
  pkg/k8s/apis/cilium.io/v1alpha1/types.go
  pkg/k8s/apis/cilium.io/v1alpha1/version.go
  vendor/github.com/cilium/tetragon/pkg/k8s/apis/cilium.io/client/crds/v1alpha1/cilium.io_tracingpolicies.yaml
  vendor/github.com/cilium/tetragon/pkg/k8s/apis/cilium.io/client/crds/v1alpha1/cilium.io_tracingpoliciesnamespaced.yaml
  vendor/github.com/cilium/tetragon/pkg/k8s/apis/cilium.io/v1alpha1/types.go
  vendor/github.com/cilium/tetragon/pkg/k8s/apis/cilium.io/v1alpha1/version.go
Owners: @cilium/tetragon

bpf/process : Reorder tailcalls
  bpf/process/bpf_generic_kprobe.c
  bpf/process/bpf_generic_lsm_core.c
  bpf/process/bpf_generic_rawtp.c
  bpf/process/bpf_generic_uprobe.c
  bpf/process/generic_calls.h
Owners: @cilium/tetragon

generic_calls.h : Extract arg in map instead of variable
  bpf/process/generic_calls.h
Owners: @cilium/tetragon

bpf: Add `idx` field in `caps_filter`
  bpf/process/pfilter.h
  pkg/selectors/kernel.go
Owners: @cilium/tetragon

bpf/process: Reorder tailcalls for tracepoints
  bpf/process/bpf_generic_tracepoint.c
Owners: @cilium/tetragon

bpf/pfilter : Use `caps->idx` to retieve the extracted `args:` data
  bpf/process/pfilter.h
Owners: @cilium/tetragon

bpf/pfilter : Disable matchCapChang when using idx in matchCapabilities
  bpf/process/pfilter.h
Owners: @cilium/tetragon

example: Add new TracingPolicy to deny privileged container creation
  examples/tracingpolicy/deny-privileged-containers.yml
Owners: @cilium/tetragon

tests : Update tests to feat new field in `matchCapabilities`
  pkg/crdutils/crdutils_test.go
  pkg/selectors/kernel_test.go
Owners: @cilium/tetragon

docs : Update `matchCapabilities` documentation for the `index` feature
  docs/content/en/docs/concepts/tracing-policy/selectors.md
Owners: @mtardy, @cilium/tetragon

test : Add test for matchCapabilities `index` feature
  pkg/sensors/tracing/kprobe_test.go
Owners: @cilium/tetragon

tetragon: Use map for id mbset storage
  pkg/mbset/mbset.go
Owners: @cilium/tetragon

e2e: Fix DumpInfo
  tests/e2e/helpers/dumpinfo.go
Owners: @cilium/tetragon

e2e: Fix the logic to dump info on failure
  tests/e2e/runners/runners.go
  tests/e2e/state/state.go
  tests/e2e/tests/labels/labels_test.go
  tests/e2e/tests/policyfilter/policyfilter_test.go
  tests/e2e/tests/skeleton/skeleton_test.go
Owners: @cilium/tetragon

e2e: Call helpers.DumpInfo if Tetragon setup failed
  tests/e2e/helpers/dumpinfo.go
  tests/e2e/runners/runners.go
Owners: @cilium/tetragon

e2e: Don't install Cilium
  .github/workflows/run-e2e-tests.yaml
Owners: @willfindlay

Simplify setup in some tests
  pkg/sensors/exec/cgroups_test.go
  pkg/testutils/sensors/sensors.go
Owners: @cilium/tetragon

sensors: Cleanup global slice of maps to fix memory leaks
  pkg/observer/observer_stats.go
  pkg/sensors/load.go
  pkg/sensors/sensors.go
Owners: @cilium/tetragon

sensors: Cleanup global slice of maps to fix memory leaks
  pkg/observer/observer_stats.go
  pkg/sensors/load_linux.go
  pkg/sensors/sensors_linux.go
Owners: @cilium/tetragon

Simplify setup in some tests
  pkg/sensors/exec/cgroups_test.go
  pkg/testutils/sensors/sensors.go
Owners: @cilium/tetragon

sensors: Cleanup global slice of maps to fix memory leaks
  pkg/observer/observer_stats.go
  pkg/sensors/load.go
  pkg/sensors/sensors.go
Owners: @cilium/tetragon

Simplify setup in some tests
  pkg/sensors/exec/cgroups_test.go
  pkg/testutils/sensors/sensors.go
Owners: @cilium/tetragon

sensors: Cleanup global slice of maps to fix memory leaks
  pkg/observer/observer_stats.go
  pkg/sensors/load.go
  pkg/sensors/sensors.go
Owners: @cilium/tetragon

e2e: Don't install Cilium
  .github/workflows/run-e2e-tests.yaml
Owners: @willfindlay
