Repository cilium/tetragon, changes with the owners that CODEOWNERS names for each.
All owners: @cilium/tetragon, @willfindlay, @kkourt, @mtardy

tetragon: Use standard iteration pattern in __copy_reverse
  bpf/process/types/basic.h
Owners: @cilium/tetragon

tetragon: Use standard iteration pattern in filter_char_substring
  bpf/process/types/basic.h
Owners: @cilium/tetragon

Makefile: add target to check images tags in k8s values
  install/kubernetes/Makefile
Owners: @cilium/tetragon

ci: add check for image tags in k8s values.yaml
  .github/workflows/lint-helm.yaml
Owners: @willfindlay

loader: link uprobe target by file descriptor
  pkg/sensors/program/loader_linux.go
Owners: @cilium/tetragon

testutils: move repoRootPath into its own package
  pkg/policyfilter/policyfilter_test.go
  pkg/testutils/path.go
  pkg/testutils/repo/repo.go
Owners: @cilium/tetragon

program/loader: move uprobe-specific code out
  pkg/sensors/program/loader_linux.go
  pkg/sensors/program/loader_uprobe_linux.go
Owners: @cilium/tetragon

tests/e2e: grpctls readiness check run through the port-forward
  tests/e2e/helpers/grpctls/grpctls.go
Owners: @cilium/tetragon

uprobe: defer elf offset determination
  pkg/elf/pclntab_test.go
  pkg/sensors/program/loader_uprobe_linux.go
  pkg/sensors/program/program.go
  pkg/sensors/tracing/genericuprobe.go
  pkg/sensors/tracing/genericusdt.go
Owners: @cilium/tetragon

uprobe: plumb the digest to the attach logic
  pkg/sensors/program/program.go
  pkg/sensors/tracing/genericuprobe.go
Owners: @cilium/tetragon

uprobe: add BinaryDigest to UProbeSpec
  pkg/k8s/apis/cilium.io/v1alpha1/types.go
Owners: @cilium/tetragon

docs: run "make gen-docs-references"
  docs/content/en/docs/reference/tracing-policy.md
Owners: @mtardy, @cilium/tetragon

add digest to uprobe spec
  pkg/k8s/apis/cilium.io/v1alpha1/types.go
  pkg/k8s/apis/cilium.io/v1alpha1/version.go
Owners: @cilium/tetragon

loader_test: correct alignment calculation
  pkg/sensors/tracing/loader_test.go
Owners: @cilium/tetragon

loader_test: remove desc size check
  pkg/sensors/tracing/loader_test.go
Owners: @cilium/tetragon

pkg/k8s: run "make crds"
  install/kubernetes/tetragon/crds-yaml/cilium.io_tracingpolicies.yaml
  install/kubernetes/tetragon/crds-yaml/cilium.io_tracingpoliciesnamespaced.yaml
  pkg/k8s/apis/cilium.io/client/crds/v1alpha1/cilium.io_tracingpolicies.yaml
  pkg/k8s/apis/cilium.io/client/crds/v1alpha1/cilium.io_tracingpoliciesnamespaced.yaml
  pkg/k8s/apis/cilium.io/v1alpha1/zz_generated.deepcopy.go
  vendor/github.com/cilium/tetragon/pkg/k8s/apis/cilium.io/client/crds/v1alpha1/cilium.io_tracingpolicies.yaml
  vendor/github.com/cilium/tetragon/pkg/k8s/apis/cilium.io/client/crds/v1alpha1/cilium.io_tracingpoliciesnamespaced.yaml
  vendor/github.com/cilium/tetragon/pkg/k8s/apis/cilium.io/v1alpha1/types.go
  vendor/github.com/cilium/tetragon/pkg/k8s/apis/cilium.io/v1alpha1/version.go
  vendor/github.com/cilium/tetragon/pkg/k8s/apis/cilium.io/v1alpha1/zz_generated.deepcopy.go
Owners: @cilium/tetragon

loader_test: move build-id parse logic out
  pkg/elf/build_id.go
  pkg/elf/usdt_linux.go
  pkg/sensors/tracing/loader_test.go
Owners: @cilium/tetragon

tetra: show the warnings in "tetra tp list"
  cmd/tetra/common/utils.go
Owners: @cilium/tetragon

uprobe: add binaryDigests tests
  pkg/sensors/tracing/uprobe_digest_test.go
Owners: @cilium/tetragon

uprobe digests: show digest failures in status
  docs/content/en/docs/concepts/tracing-policy/hooks.md
  pkg/sensors/handler.go
  pkg/sensors/program/loader_uprobe_linux.go
  pkg/sensors/program/program.go
  pkg/sensors/tracing/uprobe_digest_test.go
Owners: @mtardy, @cilium/tetragon

tracingpolicy: include warnings in api
  api/v1/tetragon/sensors.proto
Owners: @cilium/tetragon

docs: update docs for uprobe digest verification
  docs/content/en/docs/concepts/tracing-policy/hooks.md
Owners: @mtardy, @cilium/tetragon

uprobe: check the binary digest before attach
  pkg/sensors/program/loader_uprobe_linux.go
Owners: @cilium/tetragon

api: make protogen
  api/v1/README.md
  api/v1/tetragon/sensors.pb.go
  contrib/tetragon-rthooks/vendor/github.com/cilium/tetragon/api/v1/tetragon/sensors.pb.go
  contrib/tetragon-rthooks/vendor/github.com/cilium/tetragon/api/v1/tetragon/sensors.proto
  docs/content/en/docs/reference/grpc-api.md
  vendor/github.com/cilium/tetragon/api/v1/tetragon/sensors.pb.go
  vendor/github.com/cilium/tetragon/api/v1/tetragon/sensors.proto
Owners: @cilium/tetragon, @mtardy

uprobe: check for consistency among probes
  pkg/sensors/tracing/genericuprobe.go
Owners: @cilium/tetragon

pkg/sensors/tracing: skip x86 specific tests on non-x86
  pkg/sensors/tracing/uprobe_reg_test.go
Owners: @cilium/tetragon

workflows: remove deprecated delete artifact token
  .github/workflows/vmtests.yml
Owners: @willfindlay

tests/e2e: grpctls readiness check run through the port-forward
  tests/e2e/helpers/grpctls/grpctls.go
Owners: @cilium/tetragon

tests/e2e: Refactor gRPC mTLS tests
  tests/e2e/helpers/grpctls/grpctls.go
  tests/e2e/tests/grpctls/grpctls_test.go
Owners: @cilium/tetragon

e2e/policyfilter: watch custom files for matchWorkloads test
  tests/e2e/tests/policyfilter/policyfilter_test.go
Owners: @cilium/tetragon

e2e/policyfilter: pin ubuntu docker images
  tests/e2e/tests/policyfilter/policyfilter_test.go
Owners: @cilium/tetragon

policytest: add tests for SubString
  pkg/bpf/detect_linux.go
  pkg/bpf/probes.go
  pkg/sensors/tracing/fentry_test.go
  pkg/sensors/tracing/kprobe_test.go
  tests/policytests/kprobes.go
Owners: @cilium/tetragon

selectors: Add SubString support for more types
  bpf/process/types/basic.h
  pkg/selectors/kernel.go
  pkg/selectors/kernel_test.go
Owners: @cilium/tetragon

docs: add SubString and SubStringIgnoreCase operators
  docs/content/en/docs/concepts/tracing-policy/argument_types.md
  docs/content/en/docs/concepts/tracing-policy/selectors.md
Owners: @mtardy, @cilium/tetragon

ci: bump go test job timeout to 60m
  .github/workflows/gotests.yml
Owners: @willfindlay

e2e/policyfilter: pin ubuntu docker images
  tests/e2e/tests/policyfilter/policyfilter_test.go
Owners: @cilium/tetragon

e2e/policyfilter: watch custom files for matchWorkloads test
  tests/e2e/tests/policyfilter/policyfilter_test.go
Owners: @cilium/tetragon

docs: add SubString and SubStringIgnoreCase operators
  docs/content/en/docs/concepts/tracing-policy/argument_types.md
  docs/content/en/docs/concepts/tracing-policy/selectors.md
Owners: @mtardy, @cilium/tetragon

policytest: add tests for SubString
  pkg/bpf/detect_linux.go
  pkg/bpf/probes.go
  pkg/sensors/tracing/fentry_test.go
  pkg/sensors/tracing/kprobe_test.go
  tests/policytests/kprobes.go
Owners: @cilium/tetragon

selectors: Add SubString support for more types
  bpf/process/types/basic.h
  pkg/selectors/kernel.go
  pkg/selectors/kernel_test.go
Owners: @cilium/tetragon

CODEOWNERS:

# Request a review from the Tetragon team on any PR
* @cilium/tetragon

# Request a review from William when codegen is edited
cmd/protoc-gen-go-tetragon/ @willfindlay

# Request a review from William when CI is edited
.github/workflows/ @willfindlay

# Request a review from kkourt when core sensor files are modified
pkg/src/sensors/ @kkourt

# Request a review from mtardy when anything from docs is modified but do not
# block on approval from anyone in the tetragon team
/docs/ @mtardy @cilium/tetragon
