Repository cilium/tetragon, changes with the owners that CODEOWNERS names for each.
All owners: @cilium/tetragon, @willfindlay, @kkourt, @mtardy

CODEOWNERS:

# Request a review from the Tetragon team on any PR
* @cilium/tetragon

# Request a review from William when codegen is edited
cmd/protoc-gen-go-tetragon/ @willfindlay

# Request a review from William when CI is edited
.github/workflows/ @willfindlay

# Request a review from kkourt when core sensor files are modified
pkg/src/sensors/ @kkourt

# Request a review from mtardy when anything from docs is modified but do not
# block on approval from anyone in the tetragon team
/docs/ @mtardy @cilium/tetragon

new(make): `generate` target to also generate tetragon JSON schemas.
  Makefile
  pkg/tracingpolicy/schemas/podinfo-cilium.io.json
  pkg/tracingpolicy/schemas/tracingpolicy-cilium.io.json
  pkg/tracingpolicy/schemas/tracingpolicynamespaced-cilium.io.json
Owners: @cilium/tetragon

new(install/kubernetes): make target to generate JSON schemas from crds.
  install/kubernetes/Makefile
Owners: @cilium/tetragon

chore: `TestFooValidationReturnWithoutArg` to check for error string.
  pkg/tracingpolicy/k8s_xvalidation_test.go
Owners: @cilium/tetragon

fix(install,pkg): fixed `return|returnArg` CEL rule to avoid warnings.
  install/kubernetes/tetragon/crds-yaml/cilium.io_tracingpolicies.yaml
  install/kubernetes/tetragon/crds-yaml/cilium.io_tracingpoliciesnamespaced.yaml
  pkg/k8s/apis/cilium.io/client/crds/v1alpha1/cilium.io_tracingpolicies.yaml
  pkg/k8s/apis/cilium.io/client/crds/v1alpha1/cilium.io_tracingpoliciesnamespaced.yaml
  pkg/k8s/apis/cilium.io/v1alpha1/types.go
  pkg/k8s/apis/cilium.io/v1alpha1/version.go
  pkg/tracingpolicy/schemas/tracingpolicy-cilium.io.json
  pkg/tracingpolicy/schemas/tracingpolicynamespaced-cilium.io.json
  vendor/github.com/cilium/tetragon/pkg/k8s/apis/cilium.io/client/crds/v1alpha1/cilium.io_tracingpolicies.yaml
  vendor/github.com/cilium/tetragon/pkg/k8s/apis/cilium.io/client/crds/v1alpha1/cilium.io_tracingpoliciesnamespaced.yaml
  vendor/github.com/cilium/tetragon/pkg/k8s/apis/cilium.io/v1alpha1/types.go
  vendor/github.com/cilium/tetragon/pkg/k8s/apis/cilium.io/v1alpha1/version.go
Owners: @cilium/tetragon

cleanup(pkg): drop redundant `TestKprobeValidationMissingReturnArg`.
  pkg/build/k8s.go
  pkg/build/nok8s.go
  pkg/sensors/tracing/kprobe_validation_test.go
Owners: @cilium/tetragon

new(nok8s): implement CEL validation.
  go.mod
  pkg/tracingpolicy/k8s_xvalidation_test.go
  pkg/tracingpolicy/nok8s.go
Owners: @cilium/tetragon

fix(ci): use actions/checkout to clone microsoft/ntosebpfext in CI.
  .github/workflows/windows-build-smoke-test.yml
Owners: @willfindlay

fix(ci): use actions/checkout to clone microsoft/ntosebpfext in CI.
  .github/workflows/windows-build-smoke-test.yml
Owners: @willfindlay

fix(ci): use actions/checkout to clone microsoft/ntosebpfext in CI.
  .github/workflows/windows-build-smoke-test.yml
Owners: @willfindlay

fix(ci): use actions/checkout to clone microsoft/ntosebpfext in CI.
  .github/workflows/windows-build-smoke-test.yml
Owners: @willfindlay

fix(ci): use actions/checkout to clone microsoft/ntosebpfext in CI.
  .github/workflows/windows-build-smoke-test.yml
Owners: @willfindlay

fix(ci): use actions/checkout to clone microsoft/ntosebpfext in CI.
  .github/workflows/windows-build-smoke-test.yml
Owners: @willfindlay

uprobe: Add container binary path resolver
  pkg/sensors/tracing/uprobe_resolve_linux.go
  pkg/sensors/tracing/uprobe_resolve_linux_test.go
Owners: @cilium/tetragon

uprobe: Add resolvePathInContainer field to UProbeSpec
  docs/content/en/docs/reference/tracing-policy.md
  install/kubernetes/tetragon/crds-yaml/cilium.io_tracingpolicies.yaml
  install/kubernetes/tetragon/crds-yaml/cilium.io_tracingpoliciesnamespaced.yaml
  pkg/k8s/apis/cilium.io/client/crds/v1alpha1/cilium.io_tracingpolicies.yaml
  pkg/k8s/apis/cilium.io/client/crds/v1alpha1/cilium.io_tracingpoliciesnamespaced.yaml
  pkg/k8s/apis/cilium.io/v1alpha1/tracing_policy_types.go
  pkg/k8s/apis/cilium.io/v1alpha1/types.go
  pkg/k8s/apis/cilium.io/v1alpha1/version.go
  pkg/sensors/tracing/genericuprobe.go
  pkg/sensors/tracing/policyhandler_linux.go
  pkg/sensors/tracing/uprobe_validation_test.go
  vendor/github.com/cilium/tetragon/pkg/k8s/apis/cilium.io/client/crds/v1alpha1/cilium.io_tracingpolicies.yaml
  vendor/github.com/cilium/tetragon/pkg/k8s/apis/cilium.io/client/crds/v1alpha1/cilium.io_tracingpoliciesnamespaced.yaml
  vendor/github.com/cilium/tetragon/pkg/k8s/apis/cilium.io/v1alpha1/tracing_policy_types.go
  vendor/github.com/cilium/tetragon/pkg/k8s/apis/cilium.io/v1alpha1/types.go
  vendor/github.com/cilium/tetragon/pkg/k8s/apis/cilium.io/v1alpha1/version.go
Owners: @mtardy, @cilium/tetragon

uprobe: Add per-container reconciler
  pkg/sensors/tracing/uprobe_reconciler_linux.go
  pkg/sensors/tracing/uprobe_reconciler_linux_test.go
Owners: @cilium/tetragon

celbpf: refactor add/sub overloads
  pkg/celbpf/env.go
  pkg/celbpf/types.go
Owners: @cilium/tetragon

celbpf: refactor int comparison operators
  pkg/celbpf/env.go
  pkg/celbpf/types.go
Owners: @cilium/tetragon

celbpf: make arg test cases global
  pkg/celbpf/celbpf_test.go
Owners: @cilium/tetragon

celbpf: implement randomized testing
  pkg/celbpf/cel_fuzz_test.go
Owners: @cilium/tetragon

celbpf: evaluate CEL expressions in user-space
  pkg/celbpf/cel_eval_test.go
Owners: @cilium/tetragon

celbpf_test: add some additional tests
  pkg/celbpf/celbpf_test.go
Owners: @cilium/tetragon

celbpf: refactor function/overloads definition
  pkg/celbpf/env.go
  pkg/celbpf/types.go
Owners: @cilium/tetragon

celbpf: create evalCELBPF function for testing
  pkg/celbpf/celbpf_test.go
Owners: @cilium/tetragon

celbpf: allow for boolean inequality
  pkg/celbpf/celbpfexpr_test.go
  pkg/celbpf/codegen.go
Owners: @cilium/tetragon

test: Add e2e test for resolve in container
  Makefile
  contrib/tester-progs/Dockerfile
  contrib/tester-progs/Dockerfile.dockerignore
  contrib/tester-progs/Makefile
  tests/e2e/flags/flags.go
  tests/e2e/helpers/cluster.go
  tests/e2e/tests/uprobe_ric/testdata/policy.yaml
  tests/e2e/tests/uprobe_ric/testdata/values.yaml
  tests/e2e/tests/uprobe_ric/testdata/workload.yaml
  tests/e2e/tests/uprobe_ric/uprobe_ric_test.go
Owners: @cilium/tetragon

contrib: Add tester-progs image for e2e test workloads
  Makefile
  contrib/tester-progs/Dockerfile
  contrib/tester-progs/uprobe-simple.c
Owners: @cilium/tetragon

uprobe: Add reconciler registry
  pkg/sensors/tracing/uprobe_registry_linux.go
  pkg/sensors/tracing/uprobe_registry_linux_test.go
Owners: @cilium/tetragon

uprobe: Wire resolvePathInContainer reconciler into policy load
  cmd/tetragon/main_k8s.go
  cmd/tetragon/main_k8s_unix.go
  cmd/tetragon/main_k8s_windows.go
  pkg/elf/build_id.go
  pkg/elf/build_id_test.go
  pkg/elf/pclntab.go
  pkg/elf/pclntab_test.go
  pkg/sensors/collection.go
  pkg/sensors/handler.go
  pkg/sensors/handler_lifecycle_test.go
  pkg/sensors/load.go
  pkg/sensors/load_hooks_test.go
  pkg/sensors/load_linux.go
  pkg/sensors/map_lifecycle_test.go
  pkg/sensors/program/map.go
  pkg/sensors/sensors.go
  pkg/sensors/sort_test.go
  pkg/sensors/tracing/genericuprobe.go
  pkg/sensors/tracing/policyhandler_linux.go
  pkg/sensors/tracing/uprobe_attacher_linux.go
  pkg/sensors/tracing/uprobe_attacher_linux_test.go
  pkg/sensors/tracing/uprobe_reconciler_linux.go
  pkg/sensors/tracing/uprobe_reconciler_linux_test.go
  pkg/sensors/tracing/uprobe_registry_linux.go
  pkg/sensors/tracing/uprobe_registry_linux_test.go
  pkg/sensors/tracing/uprobe_resolve_linux.go
  pkg/sensors/tracing/uprobe_ric_linux.go
  pkg/sensors/tracing/uprobe_ric_linux_test.go
  pkg/sensors/tracing/uprobe_ric_nok8s.go
  pkg/sensors/tracing/uprobe_validation_test.go
Owners: @cilium/tetragon

uprobe: Route pod events to matching reconcilers
  pkg/sensors/tracing/uprobe_podhooks_linux.go
  pkg/sensors/tracing/uprobe_podhooks_linux_test.go
Owners: @cilium/tetragon

uprobe: Add resolvePathInContainer docs and example policy
  docs/content/en/docs/concepts/tracing-policy/hooks.md
  examples/tracingpolicy/uprobe-pod.yaml
Owners: @mtardy, @cilium/tetragon

manager: Expose pod snapshot from the manager cache
  pkg/manager/manager.go
  pkg/manager/manager_integration_test.go
Owners: @cilium/tetragon

uprobe: Resolve container root via runtime hooks and CRI
  pkg/cri/container.go
  pkg/cri/container_test.go
  pkg/sensors/tracing/uprobe_rootdir_linux.go
  pkg/sensors/tracing/uprobe_rootdir_linux_test.go
Owners: @cilium/tetragon

tetragon: Add pin name to program.Map
  pkg/sensors/load_linux.go
  pkg/sensors/program/map.go
Owners: @cilium/tetragon

tetragon: Check err before reading the info in windows loader
  pkg/sensors/program/loader_windows.go
Owners: @cilium/tetragon

tetragon: Factor loader refMaps resolving
  pkg/sensors/program/loader_linux.go
Owners: @cilium/tetragon

tetragon: Remove copyLoadedCollection from windows build
  pkg/sensors/program/coll.go
  pkg/sensors/program/coll_windows.go
  pkg/sensors/program/loader_windows.go
Owners: @cilium/tetragon

tetragon: Store only refferenced maps in LoadedCollection
  pkg/sensors/program/coll.go
  pkg/sensors/program/loader_linux.go
Owners: @cilium/tetragon

tetragon: Load pinned maps without stat
  pkg/sensors/program/map.go
Owners: @cilium/tetragon

tetragon: Add BPF_RODATA_FIELD macro and struct rodata_config
  bpf/lib/config.h
Owners: @cilium/tetragon

tetragon: Add Configure and Validate program.Map callbacks
  pkg/sensors/program/map.go
Owners: @cilium/tetragon
