Repository cilium/tetragon, changes with the owners that CODEOWNERS names for each.
All owners: @cilium/tetragon, @willfindlay, @kkourt, @mtardy

CODEOWNERS:

# Request a review from the Tetragon team on any PR
* @cilium/tetragon

# Request a review from William when codegen is edited
cmd/protoc-gen-go-tetragon/ @willfindlay

# Request a review from William when CI is edited
.github/workflows/ @willfindlay

# Request a review from kkourt when core sensor files are modified
pkg/src/sensors/ @kkourt

# Request a review from mtardy when anything from docs is modified but do not
# block on approval from anyone in the tetragon team
/docs/ @mtardy @cilium/tetragon

cel: Do not allocate a new map per event
  api/v1/tetragon/codegen/helpers/helpers.pb.go
  pkg/filters/cel_expression.go
  tools/protoc-gen-go-tetragon/helpers/helpers.go
  vendor/github.com/cilium/tetragon/api/v1/tetragon/codegen/helpers/helpers.pb.go
Owners: @cilium/tetragon

move ExecveMapUpdater to its own package
  pkg/execvemapupdater/execvemapupdater.go
  pkg/sensors/base/base.go
Owners: @cilium/tetragon

feat: add `nameOverride` support to helm templates
  install/kubernetes/tetragon/templates/_helpers.tpl
  install/kubernetes/tetragon/templates/clusterrole.yaml
  install/kubernetes/tetragon/templates/clusterrolebinding.yml
  install/kubernetes/tetragon/templates/daemonset.yaml
  install/kubernetes/tetragon/templates/operator_clusterrole.yaml
  install/kubernetes/tetragon/templates/operator_clusterrolebinding.yaml
  install/kubernetes/tetragon/templates/operator_configmap.yaml
  install/kubernetes/tetragon/templates/operator_deployment.yaml
  install/kubernetes/tetragon/templates/operator_role.yaml
  install/kubernetes/tetragon/templates/operator_rolebinding.yaml
  install/kubernetes/tetragon/templates/operator_service.yaml
  install/kubernetes/tetragon/templates/operator_servicemonitor.yaml
  install/kubernetes/tetragon/templates/service.yaml
  install/kubernetes/tetragon/templates/servicemonitor.yaml
  install/kubernetes/tetragon/templates/tetragon_configmap.yaml
  install/kubernetes/tetragon/values.yaml
Owners: @cilium/tetragon

codegen: generate docs for `nameOverride` Helm values
  docs/content/en/docs/reference/helm-chart.md
  install/kubernetes/tetragon/README.md
Owners: @mtardy, @cilium/tetragon

move ExecveMapUpdater to its own package
  pkg/execvemapupdater/execvemapupdater.go
  pkg/sensors/base/base.go
Owners: @cilium/tetragon

codegen: generate docs for `nameOverride` Helm values
  docs/content/en/docs/reference/helm-chart.md
  install/kubernetes/tetragon/README.md
Owners: @mtardy, @cilium/tetragon

feat: add `nameOverride` support to helm templates
  install/kubernetes/tetragon/templates/_helpers.tpl
  install/kubernetes/tetragon/templates/clusterrole.yaml
  install/kubernetes/tetragon/templates/clusterrolebinding.yml
  install/kubernetes/tetragon/templates/daemonset.yaml
  install/kubernetes/tetragon/templates/operator_clusterrole.yaml
  install/kubernetes/tetragon/templates/operator_clusterrolebinding.yaml
  install/kubernetes/tetragon/templates/operator_configmap.yaml
  install/kubernetes/tetragon/templates/operator_deployment.yaml
  install/kubernetes/tetragon/templates/operator_role.yaml
  install/kubernetes/tetragon/templates/operator_rolebinding.yaml
  install/kubernetes/tetragon/templates/operator_service.yaml
  install/kubernetes/tetragon/templates/operator_servicemonitor.yaml
  install/kubernetes/tetragon/templates/service.yaml
  install/kubernetes/tetragon/templates/servicemonitor.yaml
  install/kubernetes/tetragon/templates/tetragon_configmap.yaml
  install/kubernetes/tetragon/values.yaml
Owners: @cilium/tetragon

tetragon: Make config.GenericKprobeObjs multi kprobe friendly
  pkg/config/config_linux.go
  pkg/config/config_windows.go
  pkg/policyfilter/map.go
  pkg/sensors/tracing/generickprobe.go
Owners: @cilium/tetragon

tetragon: Add 6.12 objects variant
  bpf/Makefile
  pkg/config/config_linux.go
Owners: @cilium/tetragon

tetragon: Add config.GenericLsmObjs function
  pkg/config/config_linux.go
  pkg/config/config_windows.go
  pkg/sensors/tracing/genericlsm.go
Owners: @cilium/tetragon

tetragon: Add config.GenericUprobeObjs function
  pkg/config/config_linux.go
  pkg/config/config_windows.go
  pkg/sensors/tracing/genericuprobe.go
Owners: @cilium/tetragon

tetragon: Add config.GenericTracepointObjs function
  pkg/config/config_linux.go
  pkg/config/config_windows.go
  pkg/sensors/tracing/generictracepoint.go
Owners: @cilium/tetragon

helm: Add security context support for non-root operator
  install/kubernetes/tetragon/templates/operator_deployment.yaml
  install/kubernetes/tetragon/values.yaml
Owners: @cilium/tetragon

build: Update operator Dockerfile for non-root user Creates a dedicated non-root user (UID/GID 65532) in the operator container image
  Dockerfile.operator
Owners: @cilium/tetragon

docs: Add documentation for non-root operator configuration
  docs/content/en/docs/installation/kubernetes-operator-security.md
Owners: @mtardy, @cilium/tetragon

helm: add action on tetragon servicemonitor
  install/kubernetes/tetragon/Chart.yaml
  install/kubernetes/tetragon/README.md
  install/kubernetes/tetragon/templates/operator_servicemonitor.yaml
  install/kubernetes/tetragon/templates/servicemonitor.yaml
Owners: @cilium/tetragon

tetragon: Add iteration helpers for v6.12
  .clang-format-ignore
  bpf/lib/bpf_helpers.h
Owners: @cilium/tetragon

tetragon: Add test for follow children of old process
  contrib/tester-progs/Makefile
  contrib/tester-progs/follow_children_1.c
  pkg/sensors/tracing/matchbinaries_follow_children_test.go
Owners: @cilium/tetragon

tetragon: Add support to follow children of old process
  bpf/lib/process.h
  bpf/process/bpf_execve_event.c
  bpf/process/bpf_mbset.h
  bpf/process/types/basic.h
  pkg/api/processapi/processapi.go
  pkg/mbset/mbset.go
  pkg/sensors/base/base.go
  pkg/sensors/base/base_linux.go
Owners: @cilium/tetragon

tetragon: Move mbset related code in bpf_mbset.h header
  bpf/process/bpf_execve_event.c
  bpf/process/bpf_mbset.h
Owners: @cilium/tetragon

tetragon: Enable __execve_map_update for 6.12 kernels
  bpf/process/bpf_execve_map_update.c
Owners: @cilium/tetragon

CI: Push OCI Helm chart
  .github/workflows/build-images-ci.yml
  Makefile
Owners: @willfindlay, @cilium/tetragon

CI: Push OCI Helm chart
  .github/workflows/build-images-ci.yml
  Makefile
Owners: @willfindlay, @cilium/tetragon

DO NOT MERGE testing Packages e2e Tests
  Dockerfile
Owners: @cilium/tetragon

bugtool: Collect pprof CPU profile
  .github/workflows/packages-e2e-tests.yaml
  pkg/bugtool/bugtool.go
Owners: @willfindlay, @cilium/tetragon

refactor: Clean up composite literals and nil comparisons notified by gopls
  pkg/sensors/tracing/genericlsm.go
  pkg/sensors/tracing/kprobe_test.go
  pkg/sensors/tracing/lsm_test.go
  pkg/sensors/tracing/options.go
  pkg/sensors/tracing/tracepoint_test.go
  pkg/sensors/tracing/uprobe_test.go
Owners: @cilium/tetragon

cel: Add a test with 2 events in the cel expression
  pkg/filters/cel_expression_test.go
Owners: @cilium/tetragon

cel: Do not allocate a new map per event
  api/v1/tetragon/codegen/helpers/helpers.pb.go
  pkg/filters/cel_expression.go
  tools/protoc-gen-go-tetragon/helpers/helpers.go
  vendor/github.com/cilium/tetragon/api/v1/tetragon/codegen/helpers/helpers.pb.go
Owners: @cilium/tetragon

cel: Add a test with 2 events in the cel expression
  pkg/filters/cel_expression_test.go
Owners: @cilium/tetragon

cel: Do not allocate a new map per event
  api/v1/tetragon/codegen/helpers/helpers.pb.go
  pkg/filters/cel_expression.go
  tools/protoc-gen-go-tetragon/helpers/helpers.go
  vendor/github.com/cilium/tetragon/api/v1/tetragon/codegen/helpers/helpers.pb.go
Owners: @cilium/tetragon

bugtool: Collect pprof CPU profile
  .github/workflows/packages-e2e-tests.yaml
  pkg/bugtool/bugtool.go
Owners: @willfindlay, @cilium/tetragon

bugtool: Collect pprof CPU profile
  .github/workflows/packages-e2e-tests.yaml
  pkg/bugtool/bugtool.go
Owners: @willfindlay, @cilium/tetragon

bugtool: Collect pprof CPU profile
  .github/workflows/packages-e2e-tests.yaml
  pkg/bugtool/bugtool.go
Owners: @willfindlay, @cilium/tetragon

bugtool: Collect pprof CPU profile
  .github/workflows/packages-e2e-tests.yaml
  pkg/bugtool/bugtool.go
Owners: @willfindlay, @cilium/tetragon

bugtool: Collect pprof CPU profile
  .github/workflows/packages-e2e-tests.yaml
  pkg/bugtool/bugtool.go
Owners: @willfindlay, @cilium/tetragon

refactor: Clean up composite literals and nil comparisons notified by gopls
  pkg/sensors/tracing/genericlsm.go
  pkg/sensors/tracing/kprobe_test.go
  pkg/sensors/tracing/lsm_test.go
  pkg/sensors/tracing/options.go
  pkg/sensors/tracing/tracepoint_test.go
  pkg/sensors/tracing/uprobe_test.go
Owners: @cilium/tetragon

helm: add action on tetragon servicemonitor
  install/kubernetes/tetragon/templates/operator_servicemonitor.yaml
  install/kubernetes/tetragon/templates/servicemonitor.yaml
Owners: @cilium/tetragon

helm: add action on tetragon servicemonitor
  install/kubernetes/tetragon/templates/operator_servicemonitor.yaml
  install/kubernetes/tetragon/templates/servicemonitor.yaml
Owners: @cilium/tetragon

tetragon: Make config.GenericKprobeObjs multi kprobe friendly
  pkg/config/config_linux.go
  pkg/config/config_windows.go
  pkg/policyfilter/map.go
  pkg/sensors/tracing/generickprobe.go
Owners: @cilium/tetragon

tetragon: Add config.GenericLsmObjs function
  pkg/config/config_linux.go
  pkg/config/config_windows.go
  pkg/sensors/tracing/genericlsm.go
Owners: @cilium/tetragon
