Repository cilium/tetragon, changes with the owners that CODEOWNERS names for each.
All owners: @cilium/tetragon, @willfindlay, @kkourt, @mtardy

CODEOWNERS:

# Request a review from the Tetragon team on any PR
* @cilium/tetragon

# Request a review from William when codegen is edited
cmd/protoc-gen-go-tetragon/ @willfindlay

# Request a review from William when CI is edited
.github/workflows/ @willfindlay

# Request a review from kkourt when core sensor files are modified
pkg/src/sensors/ @kkourt

# Request a review from mtardy when anything from docs is modified but do not
# block on approval from anyone in the tetragon team
/docs/ @mtardy @cilium/tetragon

new(pkg): add `domain` arg to sensors.Manager interface methods.
  pkg/metrics/policymetrics/policymetrics.go
  pkg/sensors/collection.go
  pkg/sensors/handler.go
  pkg/sensors/manager.go
  pkg/server/server.go
  pkg/watcher/crdwatcher/tracingpolicy.go
Owners: @cilium/tetragon

new(cmd/tetra): add `domain` argument to `tetra tracingpolicy`.
  cmd/tetra/common/utils.go
  cmd/tetra/tracingpolicy/tracingpolicy.go
Owners: @cilium/tetragon

fix(pkg/sensors): fixed tests build.
  pkg/metrics/policymetrics/policymetrics_test.go
  pkg/policyconf/test/mode_test.go
  pkg/sensors/manager_test.go
  pkg/sensors/tracing/enforcer_test.go
  pkg/sensors/tracing/generickprobe_test.go
  pkg/sensors/tracing/kprobe_net_test.go
  pkg/sensors/tracing/kprobe_test.go
  pkg/sensors/tracing/matchbinaries_follow_children_test.go
  pkg/sensors/tracing/policyfilter_test.go
  pkg/server/fake_observer.go
  pkg/testutils/policyfilter/tester/pftester.go
Owners: @cilium/tetragon

new(tetra): add `tetra tracingpolicy domains` command.
  cmd/tetra/tracingpolicy/tracingpolicy.go
Owners: @cilium/tetragon

new(pkg): add a `TpDomain()` method on tracing policy.
  pkg/k8s/apis/cilium.io/v1alpha1/tracing_policy_types.go
  pkg/tracingpolicy/generictracingpolicy.go
  pkg/tracingpolicy/generictracingpolicy_nok8s.go
  pkg/tracingpolicy/tracingpolicy.go
  vendor/github.com/cilium/tetragon/pkg/k8s/apis/cilium.io/v1alpha1/tracing_policy_types.go
Owners: @cilium/tetragon

new: implement ListDomains rpc.
  api/v1/README.md
  api/v1/tetragon/sensors.pb.go
  api/v1/tetragon/sensors.pb.json.go
  api/v1/tetragon/sensors.proto
  api/v1/tetragon/sensors_grpc.pb.go
  cmd/tetra/getevents/io_reader_client.go
  contrib/tetragon-rthooks/vendor/github.com/cilium/tetragon/api/v1/tetragon/sensors.pb.go
  contrib/tetragon-rthooks/vendor/github.com/cilium/tetragon/api/v1/tetragon/sensors.pb.json.go
  contrib/tetragon-rthooks/vendor/github.com/cilium/tetragon/api/v1/tetragon/sensors.proto
  contrib/tetragon-rthooks/vendor/github.com/cilium/tetragon/api/v1/tetragon/sensors_grpc.pb.go
  docs/content/en/docs/reference/grpc-api.md
  pkg/sensors/handler.go
  pkg/sensors/manager.go
  pkg/server/fake_observer.go
  pkg/server/server.go
  vendor/github.com/cilium/tetragon/api/v1/tetragon/sensors.pb.go
  vendor/github.com/cilium/tetragon/api/v1/tetragon/sensors.pb.json.go
  vendor/github.com/cilium/tetragon/api/v1/tetragon/sensors.proto
  vendor/github.com/cilium/tetragon/api/v1/tetragon/sensors_grpc.pb.go
Owners: @cilium/tetragon, @mtardy

new: add domain string to multiple tp-related sensors pb methods.
  api/v1/README.md
  api/v1/tetragon/sensors.pb.go
  api/v1/tetragon/sensors.proto
  contrib/tetragon-rthooks/vendor/github.com/cilium/tetragon/api/v1/tetragon/sensors.pb.go
  contrib/tetragon-rthooks/vendor/github.com/cilium/tetragon/api/v1/tetragon/sensors.proto
  docs/content/en/docs/reference/grpc-api.md
  vendor/github.com/cilium/tetragon/api/v1/tetragon/sensors.pb.go
  vendor/github.com/cilium/tetragon/api/v1/tetragon/sensors.proto
Owners: @cilium/tetragon, @mtardy

new(pkg/sensors): add a `TestPoliciesDomain` manager test.
  pkg/sensors/manager_test.go
Owners: @cilium/tetragon

new(pkg/sensors): deny add,delete,configure on `sensors` domain.
  pkg/sensors/collection.go
  pkg/sensors/manager.go
Owners: @cilium/tetragon

cleanup: dropped unsupported test case.
  pkg/sensors/tracing/generickprobe_test.go
Owners: @cilium/tetragon

bpf: share verifier rodata config maps
  bpf/lib/bpf_helpers.h
  bpf/lib/config.h
  bpf/process/bpf_execve_event.c
  bpf/process/bpf_process_event.h
  pkg/sensors/base/base.go
  pkg/sensors/program/loader_linux.go
  pkg/sensors/program/program.go
  pkg/sensors/program/shared_maps.go
Owners: @cilium/tetragon

gh: pr template: add Cilium's Gen AI policy
  .github/pull_request_template.md
Owners: @cilium/tetragon

e2e: add log message on tetragon installation failure
  tests/e2e/runners/runners.go
Owners: @cilium/tetragon

ci: get chart version before second checkout
  .github/workflows/build-images-ci.yml
Owners: @willfindlay

ci: get chart version before second checkout
  .github/workflows/build-images-ci.yml
Owners: @willfindlay

bpf: use void *ctx for the fentry entry program
  bpf/process/bpf_generic_fentry.c
Owners: @cilium/tetragon

bpf: use void *ctx for the fexit prog-array
  bpf/process/bpf_generic_fexit.c
Owners: @cilium/tetragon

e2e: add log message on tetragon installation failure
  tests/e2e/runners/runners.go
Owners: @cilium/tetragon

metrics/errormetrics: fix missing HandlePerfEmptyData label
  docs/content/en/docs/reference/metrics.md
  pkg/metrics/errormetrics/errormetrics.go
  pkg/metrics/errormetrics/errormetrics_test.go
Owners: @mtardy, @cilium/tetragon

renovate: use installTools for golang instead of manual install
  .github/renovate.json5
Owners: @cilium/tetragon

pkg/bugtool: sort the debug map output on total memory
  pkg/bugtool/maps.go
Owners: @cilium/tetragon

pkg/bugtool: pre-allocate some slices capacity
  pkg/bugtool/maps.go
Owners: @cilium/tetragon

pkg/bugtool: use proper unsigned types for debug map metrics
  cmd/tetra/common/utils.go
  cmd/tetra/common/utils_test.go
  pkg/bpf/maps.go
  pkg/bpf/maps_test.go
  pkg/bugtool/maps.go
  pkg/bugtool/maps_test.go
  pkg/sensors/delayed_sensor_test.go
  pkg/sensors/sensors.go
Owners: @cilium/tetragon

pkg/bugtool: fix incorrect debug maps TotalMemlockBytes
  cmd/tetra/debug/maps.go
  pkg/bugtool/maps.go
Owners: @cilium/tetragon

pkg/bugtool: use proper unsigned types for debug map metrics
  cmd/tetra/common/utils.go
  cmd/tetra/common/utils_test.go
  pkg/bpf/maps.go
  pkg/bpf/maps_test.go
  pkg/bugtool/maps.go
  pkg/bugtool/maps_test.go
  pkg/sensors/delayed_sensor_test.go
  pkg/sensors/sensors.go
Owners: @cilium/tetragon

pkg/bugtool: fix incorrect debug maps TotalMemlockBytes
  cmd/tetra/debug/maps.go
  pkg/bugtool/maps.go
Owners: @cilium/tetragon

pkg/bugtool: sort the debug map output on total memory
  pkg/bugtool/maps.go
Owners: @cilium/tetragon

pkg/bugtool: pre-allocate some slices capacity
  pkg/bugtool/maps.go
Owners: @cilium/tetragon

update(docs): update docs about `domain` sharding.
  docs/content/en/docs/concepts/tracing-policy/_index.md
  docs/content/en/docs/concepts/tracing-policy/mode.md
Owners: @mtardy, @cilium/tetragon

pkg/bugtool: sort the debug map output on total memory
  pkg/bugtool/maps.go
Owners: @cilium/tetragon

pkg/bugtool: use proper unsigned types for debug map metrics
  cmd/tetra/common/utils.go
  cmd/tetra/common/utils_test.go
  pkg/bpf/maps.go
  pkg/bpf/maps_test.go
  pkg/bugtool/maps.go
  pkg/bugtool/maps_test.go
  pkg/sensors/delayed_sensor_test.go
  pkg/sensors/sensors.go
Owners: @cilium/tetragon

pkg/bugtool: pre-allocate some slices capacity
  pkg/bugtool/maps.go
Owners: @cilium/tetragon

pkg/bugtool: fix incorrect debug maps TotalMemlockBytes
  cmd/tetra/debug/maps.go
  pkg/bugtool/maps.go
Owners: @cilium/tetragon

pkg/selectors: fix Equals selector for dentry
  pkg/selectors/kernel.go
Owners: @cilium/tetragon

pkg/selectors: fix Equals selector for dentry
  pkg/selectors/kernel.go
Owners: @cilium/tetragon

bpf: Strengthen fentry program detection
  pkg/bpf/detect_linux.go
Owners: @cilium/tetragon

pkg/selectors: fix Equals selector for dentry
  pkg/selectors/kernel.go
Owners: @cilium/tetragon

pkg/selectors: fix Equals selector for dentry
  pkg/selectors/kernel.go
Owners: @cilium/tetragon

pkg/selectors: fix Equals selector for dentry
  pkg/selectors/kernel.go
Owners: @cilium/tetragon

cleanup: dropped unsupported test case.
  pkg/sensors/tracing/generickprobe_test.go
Owners: @cilium/tetragon
