Repository cilium/tetragon, changes with the owners that CODEOWNERS names for each.
All owners: @cilium/tetragon, @willfindlay, @kkourt, @mtardy

CODEOWNERS:

# Request a review from the Tetragon team on any PR
* @cilium/tetragon

# Request a review from William when codegen is edited
cmd/protoc-gen-go-tetragon/ @willfindlay

# Request a review from William when CI is edited
.github/workflows/ @willfindlay

# Request a review from kkourt when core sensor files are modified
pkg/src/sensors/ @kkourt

# Request a review from mtardy when anything from docs is modified but do not
# block on approval from anyone in the tetragon team
/docs/ @mtardy @cilium/tetragon

new(bpf): manage set action for uprobes.
  bpf/process/generic_calls.h
Owners: @cilium/tetragon

new(contrib,tests): add 2 new uprobe policytest for `Set` action.
  contrib/tester-progs/uprobe-simple.c
  tests/policytests/uprobes.go
Owners: @cilium/tetragon

new(pkg/selectors): manage `Set` action for uprobes in selectors.
  pkg/selectors/kernel.go
  pkg/selectors/kernel_regs_amd64.go
  pkg/selectors/kernel_regs_arm64.go
Owners: @cilium/tetragon

new(pkg/sensors): manage `Set` action in genericuprobe.
  pkg/sensors/tracing/genericuprobe.go
Owners: @cilium/tetragon

chore(deps): update golangci/golangci-lint to v2.13.1
  .github/workflows/static-checks.yaml
  Makefile
  bpf/tests/pid_match_test.go
  bpf/tests/prepend_name_test.go
  operator/podinfo/podinfo_controller.go
  pkg/asm/regoffset_linux_arm64.go
  pkg/sensors/handler.go
  tests/e2e/install/tetragon/tetragon.go
Owners: @willfindlay, @cilium/tetragon

Prepare for v1.7.1 release
  contrib/upgrade-notes/latest.md
  contrib/upgrade-notes/v1.7.1.md
  docs/config/_default/hugo.toml
  docs/content/en/docs/reference/helm-chart.md
  install/kubernetes/tetragon/Chart.yaml
  install/kubernetes/tetragon/README.md
  install/kubernetes/tetragon/values.yaml
Owners: @cilium/tetragon, @mtardy

bpf: use bpf_loop for v61 substring filters
  bpf/process/types/basic.h
Owners: @cilium/tetragon

bpf: unroll v61 argument-filter slots
  bpf/process/types/basic.h
Owners: @cilium/tetragon

bpf: keep reverse-copy bounds visible to verifier
  bpf/process/types/basic.h
Owners: @cilium/tetragon

cleanup: modernize code for go1.27.
  operator/podinfo/podinfo_controller.go
  operator/podinfo/podinfo_controller_test.go
  pkg/crdutils/crdutils_test.go
  pkg/grpc/exec/exec_test_helper.go
  pkg/grpc/process_manager_test.go
  pkg/manager/podevents_test.go
  pkg/metrics/counter.go
  pkg/metrics/gauge.go
  pkg/metrics/histogram.go
  pkg/metrics/metricwithpod_test.go
  pkg/metrics/opts.go
  pkg/metrics/podevents_test.go
  pkg/policyfilter/k8s_test.go
  pkg/policyfilter/state_test.go
  pkg/process/podinfo_test.go
  pkg/sensors/manager_test.go
  pkg/sensors/sensors.go
  pkg/sensors/tracing/enforcer_builder.go
  pkg/sensors/tracing/generickprobe_test.go
  pkg/sensors/tracing/uprobe_test.go
  pkg/server/eventlog/server.go
  pkg/testutils/policytest/trigger.go
  pkg/tracingpolicy/generate/generate.go
  pkg/tracingpolicy/generictracingpolicy_test.go
  pkg/watcher/crdwatcher/nodeselector_test.go
  pkg/watcher/crdwatcher/tracingpolicy_namespaced_reconciler.go
  pkg/watcher/crdwatcher/tracingpolicy_reconciler.go
  pkg/watcher/crdwatcher/tracingpolicy_reconciler_test.go
  pkg/watcher/fake_test.go
  tests/e2e/helpers/grpcbridge/grpcbridge.go
  tests/e2e/helpers/grpctls/grpctls.go
  tests/e2e/helpers/resources.go
  tests/e2e/install/tetragon/tetragon.go
  tests/e2e/tests/nodeselector/nodeselector_test.go
Owners: @cilium/tetragon

docs: document matchCEL selector
  contrib/upgrade-notes/latest.md
  docs/content/en/docs/concepts/tracing-policy/selectors.md
Owners: @cilium/tetragon, @mtardy

k8s: add MatchCEL selector
  pkg/k8s/apis/cilium.io/v1alpha1/types.go
  pkg/k8s/apis/cilium.io/v1alpha1/version.go
Owners: @cilium/tetragon

policytest: add test for CEL expr using data
  pkg/testutils/progs/tester.go
  tests/policytests/kprobes.go
Owners: @cilium/tetragon

selectors: implement MatchCEL
  pkg/celbpf/celbpf.go
  pkg/celbpf/celbpf_test.go
  pkg/celbpf/celbpfexpr_test.go
  pkg/celbpf/compiler.go
  pkg/celbpf/env.go
  pkg/selectors/celexpr.go
  pkg/selectors/kernel.go
  pkg/selectors/kernel_test.go
Owners: @cilium/tetragon

autochore: make crds tracing-policy-docs
  docs/content/en/docs/reference/tracing-policy.md
  install/kubernetes/tetragon/crds-yaml/cilium.io_tracingpolicies.yaml
  install/kubernetes/tetragon/crds-yaml/cilium.io_tracingpoliciesnamespaced.yaml
  pkg/k8s/apis/cilium.io/client/crds/v1alpha1/cilium.io_tracingpolicies.yaml
  pkg/k8s/apis/cilium.io/client/crds/v1alpha1/cilium.io_tracingpoliciesnamespaced.yaml
  pkg/k8s/apis/cilium.io/v1alpha1/zz_generated.deepcopy.go
  pkg/tracingpolicy/schemas/tracingpolicy-cilium.io.json
  pkg/tracingpolicy/schemas/tracingpolicynamespaced-cilium.io.json
  vendor/github.com/cilium/tetragon/pkg/k8s/apis/cilium.io/client/crds/v1alpha1/cilium.io_tracingpolicies.yaml
  vendor/github.com/cilium/tetragon/pkg/k8s/apis/cilium.io/client/crds/v1alpha1/cilium.io_tracingpoliciesnamespaced.yaml
  vendor/github.com/cilium/tetragon/pkg/k8s/apis/cilium.io/v1alpha1/types.go
  vendor/github.com/cilium/tetragon/pkg/k8s/apis/cilium.io/v1alpha1/version.go
  vendor/github.com/cilium/tetragon/pkg/k8s/apis/cilium.io/v1alpha1/zz_generated.deepcopy.go
Owners: @mtardy, @cilium/tetragon

pkg/bugtool: fix debug maps aggregation
  pkg/bugtool/maps.go
Owners: @cilium/tetragon

tetragon: configurable size of sleepable_offload
  docs/data/tetragon_flags.yaml
  pkg/defaults/defaults.go
  pkg/defaults/defaults_windows.go
  pkg/option/config.go
  pkg/option/flags.go
  pkg/sensors/tracing/genericuprobe.go
  pkg/sensors/tracing/genericusdt.go
  pkg/sensors/tracing/options.go
Owners: @mtardy, @cilium/tetragon

tetragon: removing prealloc of sleepable_offload
  bpf/process/uprobe_offload.h
Owners: @cilium/tetragon

tetragon: Add tests for sleepable_offload changes
  pkg/sensors/tracing/uprobe_test.go
Owners: @cilium/tetragon

pkg/bugtool: use full name in debug output for pinned maps
  pkg/bugtool/maps.go
Owners: @cilium/tetragon

fix(exporter): disable rotation at zero interval
  pkg/exporter/exporter.go
  pkg/exporter/exporter_test.go
Owners: @cilium/tetragon

fix: typos in uprobe tracing policy schema
  tests/policytests/uprobes.go
Owners: @cilium/tetragon

ci(gotests): add validation for policy tests for nok8s builds
  .github/workflows/gotests.yml
Owners: @willfindlay

tests: add tests for rendering policy tests
  pkg/testutils/policytest/render_test.go
Owners: @cilium/tetragon

renovate: retain 5-day cooldown for official Docker Hub images
  .github/renovate.json5
Owners: @cilium/tetragon

docs: fix typos across tracing-policy, installation and reference docs
  docs/content/en/docs/concepts/tracing-policy/hooks.md
  docs/content/en/docs/concepts/tracing-policy/options.md
  docs/content/en/docs/concepts/tracing-policy/selectors.md
  docs/content/en/docs/installation/metrics.md
  docs/content/en/docs/reference/grpc-api.md
Owners: @mtardy, @cilium/tetragon

update(docs): added documentation for uprobe `Set` action.
  docs/content/en/docs/concepts/tracing-policy/selectors.md
Owners: @mtardy, @cilium/tetragon

tests: add tests for rendering policy tests
  pkg/testutils/policytest/render_test.go
Owners: @cilium/tetragon

fix: typos in uprobe tracing policy schema
  tests/policytests/uprobes.go
Owners: @cilium/tetragon

ci(gotests): add validation for policy tests for nok8s builds
  .github/workflows/gotests.yml
Owners: @willfindlay

new(pkg/selectors): manage `Set` action for uprobes in selectors.
  pkg/selectors/kernel.go
  pkg/selectors/kernel_regs_amd64.go
  pkg/selectors/kernel_regs_arm64.go
Owners: @cilium/tetragon

new(pkg): update `selectors.HasSetArgIndex` signature.
  pkg/selectors/kernel.go
  pkg/sensors/tracing/genericusdt.go
Owners: @cilium/tetragon

update(docs): added documentation for uprobe `Set` action.
  docs/content/en/docs/concepts/tracing-policy/selectors.md
Owners: @mtardy, @cilium/tetragon

new(pkg/sensors): manage `Set` action in genericuprobe.
  pkg/sensors/tracing/genericuprobe.go
Owners: @cilium/tetragon

new(contrib,tests): add 2 new uprobe policytest for `Set` action.
  contrib/tester-progs/uprobe-simple.c
  tests/policytests/uprobes.go
Owners: @cilium/tetragon

new(bpf): manage set action for uprobes.
  bpf/process/generic_calls.h
Owners: @cilium/tetragon

cleanup: modernize code for go1.27.
  operator/podinfo/podinfo_controller.go
  operator/podinfo/podinfo_controller_test.go
  pkg/crdutils/crdutils_test.go
  pkg/grpc/exec/exec_test_helper.go
  pkg/grpc/process_manager_test.go
  pkg/manager/podevents_test.go
  pkg/metrics/counter.go
  pkg/metrics/gauge.go
  pkg/metrics/histogram.go
  pkg/metrics/metricwithpod_test.go
  pkg/metrics/opts.go
  pkg/metrics/podevents_test.go
  pkg/policyfilter/k8s_test.go
  pkg/policyfilter/state_test.go
  pkg/process/podinfo_test.go
  pkg/sensors/manager_test.go
  pkg/sensors/sensors.go
  pkg/sensors/tracing/enforcer_builder.go
  pkg/sensors/tracing/generickprobe_test.go
  pkg/sensors/tracing/uprobe_test.go
  pkg/server/eventlog/server.go
  pkg/testutils/policytest/trigger.go
  pkg/tracingpolicy/generate/generate.go
  pkg/tracingpolicy/generictracingpolicy_test.go
  pkg/watcher/crdwatcher/nodeselector_test.go
  pkg/watcher/crdwatcher/tracingpolicy_namespaced_reconciler.go
  pkg/watcher/crdwatcher/tracingpolicy_reconciler.go
  pkg/watcher/crdwatcher/tracingpolicy_reconciler_test.go
  pkg/watcher/fake_test.go
  tests/e2e/helpers/grpcbridge/grpcbridge.go
  tests/e2e/helpers/grpctls/grpctls.go
  tests/e2e/helpers/resources.go
  tests/e2e/install/tetragon/tetragon.go
  tests/e2e/tests/nodeselector/nodeselector_test.go
Owners: @cilium/tetragon

fix: handle empty size values
  pkg/strutils/strutls.go
  pkg/strutils/strutls_test.go
Owners: @cilium/tetragon

docs: fix argIndex range
  docs/content/en/docs/concepts/tracing-policy/selectors.md
Owners: @mtardy, @cilium/tetragon

fix(pkg/crdutils): make FromYAML() case sensitive
  pkg/crdutils/crdutils.go
  pkg/crdutils/crdutils_test.go
Owners: @cilium/tetragon
