Repository cilium/tetragon, changes with the owners that CODEOWNERS names for each.
All owners: @cilium/tetragon, @willfindlay, @kkourt, @mtardy

CODEOWNERS:

# Request a review from the Tetragon team on any PR
* @cilium/tetragon

# Request a review from William when codegen is edited
cmd/protoc-gen-go-tetragon/ @willfindlay

# Request a review from William when CI is edited
.github/workflows/ @willfindlay

# Request a review from kkourt when core sensor files are modified
pkg/src/sensors/ @kkourt

# Request a review from mtardy when anything from docs is modified but do not
# block on approval from anyone in the tetragon team
/docs/ @mtardy @cilium/tetragon

tetragon: Add environment_variables string to Process message
  api/v1/tetragon/tetragon.proto
Owners: @cilium/tetragon

tetragon: Collect environment variables in execve events
  bpf/lib/environ_conf.h
  bpf/lib/process.h
  bpf/process/bpf_execve_event.c
Owners: @cilium/tetragon

tetragon: Simplify execParse error value handling
  pkg/sensors/exec/exec_linux.go
  pkg/sensors/exec/exec_test.go
Owners: @cilium/tetragon

tetragon: Store exec event data sizes for easier parsing
  bpf/lib/process.h
  bpf/process/bpf_execve_event.c
  bpf/process/bpf_process_event.h
  pkg/api/processapi/processapi.go
  pkg/sensors/exec/exec_linux.go
  pkg/sensors/exec/exec_test.go
Owners: @cilium/tetragon

tetragon: Add generated code for previous changes
  api/v1/README.md
  api/v1/tetragon/codegen/eventchecker/eventchecker.pb.go
  api/v1/tetragon/tetragon.pb.go
  contrib/tetragon-rthooks/vendor/github.com/cilium/tetragon/api/v1/tetragon/tetragon.pb.go
  contrib/tetragon-rthooks/vendor/github.com/cilium/tetragon/api/v1/tetragon/tetragon.proto
  docs/content/en/docs/reference/grpc-api.md
  vendor/github.com/cilium/tetragon/api/v1/tetragon/codegen/eventchecker/eventchecker.pb.go
  vendor/github.com/cilium/tetragon/api/v1/tetragon/tetragon.pb.go
  vendor/github.com/cilium/tetragon/api/v1/tetragon/tetragon.proto
Owners: @cilium/tetragon, @mtardy

tetragon: Add docs for environment variables redaction
  docs/content/en/docs/concepts/events.md
Owners: @mtardy, @cilium/tetragon

tetragon: Process environment variables in exec event
  docs/data/tetragon_flags.yaml
  pkg/api/flags.go
  pkg/api/processapi/processapi.go
  pkg/option/config.go
  pkg/option/flags.go
  pkg/process/process.go
  pkg/sensors/config/confmap/confmap.go
  pkg/sensors/exec/exec_linux.go
Owners: @mtardy, @cilium/tetragon

tetragon: Add test for execParse with environment variables
  pkg/sensors/exec/exec_test.go
Owners: @cilium/tetragon

tetragon: Add redact test for environment variables
  pkg/fieldfilters/redaction_test.go
Owners: @cilium/tetragon

tetragon: Apply redaction filters also on environment variables
  pkg/fieldfilters/benchmark_test.go
  pkg/fieldfilters/redaction.go
  pkg/fieldfilters/redaction_test.go
  pkg/process/process.go
Owners: @cilium/tetragon

selectors: skip TestNamespaceValueStr on EACCES
  pkg/selectors/kernel_test.go
Owners: @cilium/tetragon

selectors: skip TestNamespaceValueStr on EACCES
  pkg/selectors/kernel_test.go
Owners: @cilium/tetragon

tests:pkg/sensors: Use JsonTestExpect() for negative tests
  pkg/sensors/tracing/kprobe_test.go
Owners: @cilium/tetragon

fix: add maps for parent binaries
  bpf/lib/process.h
  bpf/process/bpf_execve_event.c
  bpf/process/bpf_exit.h
  bpf/process/bpf_mbset.h
  bpf/process/pfilter.h
  bpf/process/types/basic.h
  pkg/sensors/base/base.go
  pkg/sensors/base/base_linux.go
  pkg/sensors/tracing/generickprobe.go
  pkg/sensors/tracing/genericlsm.go
  pkg/sensors/tracing/generictracepoint.go
Owners: @cilium/tetragon

test: add more tests for matchParentBinaries
  pkg/sensors/tracing/kprobe_test.go
Owners: @cilium/tetragon

test: fix
  pkg/sensors/tracing/kprobe_test.go
Owners: @cilium/tetragon

test: fix
  pkg/sensors/tracing/kprobe_test.go
Owners: @cilium/tetragon

fix: add match parent binaries map for usdt and uprobe
  bpf/lib/process.h
  bpf/process/bpf_execve_event.c
  bpf/process/pfilter.h
  pkg/sensors/tracing/genericuprobe.go
  pkg/sensors/tracing/genericusdt.go
  pkg/sensors/tracing/kprobe_test.go
Owners: @cilium/tetragon

tetragon/windows: Upgrade CI to use efw 1.0.0-rc1
  .github/workflows/windows-build-smoke-test.yml
  pkg/sensors/base/base_windows.go
Owners: @willfindlay, @cilium/tetragon

tetragon/windows: Upgrade CI to use efw 1.0.0-rc1
  .github/workflows/windows-build-smoke-test.yml
  pkg/sensors/base/base_windows.go
Owners: @willfindlay, @cilium/tetragon

tetragon: Support (u)int16 selectors
  bpf/process/types/basic.h
  pkg/selectors/kernel.go
Owners: @cilium/tetragon

tetragron: Add tests for (u)int16 selectors
  pkg/selectors/kernel_test.go
Owners: @cilium/tetragon

tetragon: Support (u)int8 selectors
  bpf/process/types/basic.h
  pkg/selectors/kernel.go
Owners: @cilium/tetragon

tetragon: Add tests for (u)int8 selectors
  pkg/selectors/kernel_test.go
Owners: @cilium/tetragon

tracepoint: support (u)int8/16 args
  bpf/process/bpf_generic_tracepoint.c
  pkg/grpc/tracing/tracing.go
  pkg/sensors/tracing/generictracepoint.go
Owners: @cilium/tetragon

tracepoint: Add u16 arg test
  pkg/sensors/tracing/tracepoint_test.go
Owners: @cilium/tetragon

selectors: wrap call sites of filter_*ty_range
  bpf/process/types/basic.h
Owners: @cilium/tetragon

selectors: Support ranges of (u)int8/16
  pkg/selectors/kernel.go
Owners: @cilium/tetragon

sensors: extend TestUInt16Tracepoint to test range
  pkg/sensors/tracing/tracepoint_test.go
Owners: @cilium/tetragon

tetragon/windows: Use ringbuf implementation from ebpf go library
  pkg/bpf/ringbuf_windows.go
  pkg/observer/observer_windows.go
Owners: @cilium/tetragon

tetragon: Factor data read from exec event into single function
  pkg/sensors/exec/exec_linux.go
Owners: @cilium/tetragon

tetragon: Collect environment variables in execve events
  bpf/lib/environ_conf.h
  bpf/lib/process.h
  bpf/process/bpf_execve_event.c
Owners: @cilium/tetragon

tetragon: Read 4.19 curr->bin.path from tracepoint filename
  bpf/process/bpf_execve_event.c
Owners: @cilium/tetragon

tetragon: Add generated code for previous changes
  api/v1/README.md
  api/v1/tetragon/codegen/eventchecker/eventchecker.pb.go
  api/v1/tetragon/tetragon.pb.go
  contrib/tetragon-rthooks/vendor/github.com/cilium/tetragon/api/v1/tetragon/tetragon.pb.go
  contrib/tetragon-rthooks/vendor/github.com/cilium/tetragon/api/v1/tetragon/tetragon.proto
  docs/content/en/docs/reference/grpc-api.md
  vendor/github.com/cilium/tetragon/api/v1/tetragon/codegen/eventchecker/eventchecker.pb.go
  vendor/github.com/cilium/tetragon/api/v1/tetragon/tetragon.pb.go
  vendor/github.com/cilium/tetragon/api/v1/tetragon/tetragon.proto
Owners: @cilium/tetragon, @mtardy

tetragon: Add test for execParse with just filename
  pkg/sensors/exec/exec_test.go
Owners: @cilium/tetragon

tetragon: Store exec event data sizes for easier parsing
  bpf/lib/process.h
  bpf/process/bpf_execve_event.c
  bpf/process/bpf_process_event.h
  pkg/api/processapi/processapi.go
  pkg/sensors/exec/exec_linux.go
  pkg/sensors/exec/exec_test.go
Owners: @cilium/tetragon

tetragon: Add test for execParse with api.EventErrorFilename
  pkg/sensors/exec/exec_test.go
Owners: @cilium/tetragon

tetragon: Add environment_variables string to Process message
  api/v1/tetragon/tetragon.proto
Owners: @cilium/tetragon

tetragon: Simplify execParse error value handling
  pkg/sensors/exec/exec_linux.go
  pkg/sensors/exec/exec_test.go
Owners: @cilium/tetragon

tetragon: Process environment variables in exec event
  docs/content/en/docs/reference/metrics.md
  docs/data/tetragon_flags.yaml
  pkg/api/flags.go
  pkg/api/processapi/processapi.go
  pkg/option/config.go
  pkg/option/flags.go
  pkg/process/process.go
  pkg/reader/exec/exec.go
  pkg/sensors/config/confmap/confmap.go
  pkg/sensors/exec/exec_linux.go
Owners: @mtardy, @cilium/tetragon
