Repository cilium/tetragon, changes with the owners that CODEOWNERS names for each.
All owners: @cilium/tetragon, @willfindlay, @kkourt, @mtardy

CODEOWNERS:

# Request a review from the Tetragon team on any PR
* @cilium/tetragon

# Request a review from William when codegen is edited
cmd/protoc-gen-go-tetragon/ @willfindlay

# Request a review from William when CI is edited
.github/workflows/ @willfindlay

# Request a review from kkourt when core sensor files are modified
pkg/src/sensors/ @kkourt

# Request a review from mtardy when anything from docs is modified but do not
# block on approval from anyone in the tetragon team
/docs/ @mtardy @cilium/tetragon

perf: migrate integer deserialisation to ReadIntegerLE()
  pkg/sensors/tracing/args_linux.go
  pkg/sensors/tracing/generickprobe.go
  pkg/sensors/tracing/genericlsm.go
  pkg/sensors/tracing/generictracepoint.go
  pkg/sensors/tracing/genericuprobe.go
Owners: @cilium/tetragon

alignchecker: add msg_clone_event
  bpf/alignchecker/bpf_alignchecker.c
  pkg/alignchecker/alignchecker.go
  pkg/api/processapi/processapi.go
Owners: @cilium/tetragon

bpf: remove 'packed' attribute from msg_clone_event
  bpf/lib/process.h
Owners: @cilium/tetragon

alignchecker: add msg_throttle_event
  bpf/alignchecker/bpf_alignchecker.c
  pkg/alignchecker/alignchecker.go
  pkg/api/processapi/processapi.go
Owners: @cilium/tetragon

alignchecker: add support for checking 'prefix' structs
  pkg/alignchecker/alignchecker.go
Owners: @cilium/tetragon

alignchecker: extract check() body into helper functions
  pkg/alignchecker/alignchecker.go
Owners: @cilium/tetragon

alignchecker: add msg_generic_kprobe
  pkg/alignchecker/alignchecker.go
  pkg/api/tracingapi/client_kprobe.go
  pkg/api/tracingapi/client_tracepoint.go
Owners: @cilium/tetragon

alignchecker: add msg_data
  bpf/alignchecker/bpf_alignchecker.c
  pkg/alignchecker/alignchecker.go
  pkg/api/dataapi/data.go
Owners: @cilium/tetragon

alignchecker: add msg_execve_event
  pkg/alignchecker/alignchecker.go
  pkg/api/processapi/processapi.go
Owners: @cilium/tetragon

docs: document Forest CEM support
  forest/docs/tetragon-cem-support.md
Owners: @cilium/tetragon

docs: refine CEM support findings
  forest/docs/tetragon-cem-support.md
Owners: @cilium/tetragon

docs: design Forest Tetragon adapter
  forest/docs/tetragon-cem-adapter-design.md
Owners: @cilium/tetragon

docs: plan Forest Tetragon adapter TDD
  forest/docs/tetragon-cem-adapter-plan.md
Owners: @cilium/tetragon

docs: fix design metadata formatting
  forest/docs/tetragon-cem-adapter-design.md
Owners: @cilium/tetragon

tetragon: Factor out event_clone_rate_check() in bpf_fork.c
  bpf/process/bpf_fork.c
Owners: @cilium/tetragon

tetragon: Store msg_exit on the stack instead of a heap map
  bpf/process/bpf_exit.c
Owners: @cilium/tetragon

tetragon: Reserve fork events on ring buffer
  bpf/lib/process.h
  bpf/process/bpf_fork.c
Owners: @cilium/tetragon

tetragon: Move rate check earlier in the fork program
  bpf/process/bpf_fork.c
Owners: @cilium/tetragon

tetragon: Reserve exit events on ring buffer
  bpf/process/bpf_exit.c
Owners: @cilium/tetragon

tetragon: Move bpf_exit.h into bpf_exit.c
  bpf/errmetrics/fileids.h
  bpf/process/bpf_exit.c
  bpf/process/bpf_exit.h
  pkg/errmetrics/files.go
Owners: @cilium/tetragon

new(pkg/k8s): bump CustomResourceDefinitionSchemaVersion
  pkg/k8s/apis/cilium.io/v1alpha1/version.go
  vendor/github.com/cilium/tetragon/pkg/k8s/apis/cilium.io/v1alpha1/version.go
Owners: @cilium/tetragon

new: introduce `ActionSelector.sopath`
  docs/content/en/docs/reference/tracing-policy.md
  install/kubernetes/tetragon/crds-yaml/cilium.io_tracingpolicies.yaml
  install/kubernetes/tetragon/crds-yaml/cilium.io_tracingpoliciesnamespaced.yaml
  pkg/k8s/apis/cilium.io/client/crds/v1alpha1/cilium.io_tracingpolicies.yaml
  pkg/k8s/apis/cilium.io/client/crds/v1alpha1/cilium.io_tracingpoliciesnamespaced.yaml
  pkg/k8s/apis/cilium.io/v1alpha1/types.go
  pkg/tracingpolicy/schemas/tracingpolicy-cilium.io.json
  pkg/tracingpolicy/schemas/tracingpolicynamespaced-cilium.io.json
  vendor/github.com/cilium/tetragon/pkg/k8s/apis/cilium.io/client/crds/v1alpha1/cilium.io_tracingpolicies.yaml
  vendor/github.com/cilium/tetragon/pkg/k8s/apis/cilium.io/client/crds/v1alpha1/cilium.io_tracingpoliciesnamespaced.yaml
  vendor/github.com/cilium/tetragon/pkg/k8s/apis/cilium.io/v1alpha1/types.go
Owners: @mtardy, @cilium/tetragon

new(bpf,pkg): add new `uprobe_dyn.h` to errmetrics
  bpf/errmetrics/fileids.h
  pkg/errmetrics/files.go
Owners: @cilium/tetragon

new(bpf): add `BPF_AREA_UPROBE_SO` to debug.h
  bpf/lib/debug.h
  docs/data/tetragon_flags.yaml
  pkg/option/config.go
Owners: @cilium/tetragon, @mtardy

chore(bpf): expose additional APIs to be used by subsequent commit.
  bpf/include/api.h
Owners: @cilium/tetragon

ci: add failure summary to vmtests
  .github/workflows/vmtests.yml
Owners: @willfindlay

tetragon: Close unit listener on Chmod/Rename error
  pkg/unixlisten/unixlisten.go
Owners: @cilium/tetragon

tetragon: Add process java message
  api/v1/tetragon/events.proto
  api/v1/tetragon/tetragon.proto
Owners: @cilium/tetragon

tetragon: Add pid process cache index
  pkg/process/cache.go
  pkg/process/process.go
Owners: @cilium/tetragon

tetragon: Add codegen and generate changes
  api/v1/README.md
  api/v1/tetragon/codegen/eventchecker/eventchecker.pb.go
  api/v1/tetragon/codegen/eventchecker/yaml/yaml.pb.go
  api/v1/tetragon/codegen/helpers/helpers.pb.go
  api/v1/tetragon/events.pb.go
  api/v1/tetragon/tetragon.pb.go
  api/v1/tetragon/tetragon.pb.json.go
  api/v1/tetragon/types.pb.go
  api/v1/tetragon/types_test.go
  contrib/tetragon-rthooks/vendor/github.com/cilium/tetragon/api/v1/tetragon/events.pb.go
  contrib/tetragon-rthooks/vendor/github.com/cilium/tetragon/api/v1/tetragon/events.proto
  contrib/tetragon-rthooks/vendor/github.com/cilium/tetragon/api/v1/tetragon/tetragon.pb.go
  contrib/tetragon-rthooks/vendor/github.com/cilium/tetragon/api/v1/tetragon/tetragon.pb.json.go
  contrib/tetragon-rthooks/vendor/github.com/cilium/tetragon/api/v1/tetragon/tetragon.proto
  contrib/tetragon-rthooks/vendor/github.com/cilium/tetragon/api/v1/tetragon/types.pb.go
  docs/content/en/docs/reference/grpc-api.md
  vendor/github.com/cilium/tetragon/api/v1/tetragon/codegen/eventchecker/eventchecker.pb.go
  vendor/github.com/cilium/tetragon/api/v1/tetragon/codegen/eventchecker/yaml/yaml.pb.go
  vendor/github.com/cilium/tetragon/api/v1/tetragon/codegen/helpers/helpers.pb.go
  vendor/github.com/cilium/tetragon/api/v1/tetragon/events.pb.go
  vendor/github.com/cilium/tetragon/api/v1/tetragon/events.proto
  vendor/github.com/cilium/tetragon/api/v1/tetragon/tetragon.pb.go
  vendor/github.com/cilium/tetragon/api/v1/tetragon/tetragon.pb.json.go
  vendor/github.com/cilium/tetragon/api/v1/tetragon/tetragon.proto
  vendor/github.com/cilium/tetragon/api/v1/tetragon/types.pb.go
Owners: @cilium/tetragon, @mtardy

tetragon: Add MSG_OP_JAVA opcode and wire-format package
  bpf/lib/msg_types.h
  pkg/api/javaapi/javaapi.go
  pkg/api/ops/ops.go
Owners: @cilium/tetragon

tetragon: Add tests for javaipc package
  pkg/javaipc/ring_linux_test.go
Owners: @cilium/tetragon

tetragon: Add ProcessJava event handling
  pkg/grpc/tracing/tracing.go
  pkg/option/config.go
Owners: @cilium/tetragon

tetragon: Add tests for pid process cache index
  pkg/process/cache_test.go
Owners: @cilium/tetragon

tetragon: Add tests for ProcessJava event decoding
  pkg/sensors/tracing/genericjava_test.go
Owners: @cilium/tetragon

tetragon: Add Java monitoring agent
  contrib/java-monitoring-agent/.gitignore
  contrib/java-monitoring-agent/Makefile
  contrib/java-monitoring-agent/README.md
  contrib/java-monitoring-agent/sample/Sample.java
  contrib/java-monitoring-agent/src/io/tetragon/javaagent/JavaIPC.java
  contrib/java-monitoring-agent/src/io/tetragon/javaagent/TetragonAgent.java
  contrib/java-monitoring-agent/test/io/tetragon/javaagent/AgentUnitTest.java
  contrib/java-monitoring-agent/test/sample/TargetMethods.java
Owners: @cilium/tetragon

tetragon: Add shared memory ring buffer
  pkg/javaipc/ring_linux.go
Owners: @cilium/tetragon

tetragon: Add run helpers for the Java monitoring agent
  contrib/java-monitoring-agent/run-sample.sh
  contrib/java-monitoring-agent/run-tetragon.sh
Owners: @cilium/tetragon

tetragon: Add tests javaapi package
  pkg/api/javaapi/javaapi_test.go
Owners: @cilium/tetragon

tetra: Add support to encode ProcessJava events
  pkg/encoder/encoder.go
  pkg/filters/filters.go
Owners: @cilium/tetragon
