Repository cilium/tetragon, changes with the owners that CODEOWNERS names for each.
All owners: @cilium/tetragon, @willfindlay, @kkourt, @mtardy

CODEOWNERS:

# Request a review from the Tetragon team on any PR
* @cilium/tetragon

# Request a review from William when codegen is edited
cmd/protoc-gen-go-tetragon/ @willfindlay

# Request a review from William when CI is edited
.github/workflows/ @willfindlay

# Request a review from kkourt when core sensor files are modified
pkg/src/sensors/ @kkourt

# Request a review from mtardy when anything from docs is modified but do not
# block on approval from anyone in the tetragon team
/docs/ @mtardy @cilium/tetragon

tetragon-oci-hook: add flags
  contrib/rthooks/minikube-containerd-install-hook.sh
  contrib/rthooks/tetragon-oci-hook/main.go
Owners: @cilium/tetragon

tetragon-oci-hook: handle cri-o's userdata path
  contrib/rthooks/tetragon-oci-hook/main.go
Owners: @cilium/tetragon

tetragon-oci-hook: add disable-grpc flag
  contrib/rthooks/tetragon-oci-hook/main.go
Owners: @cilium/tetragon

crd: Add NotPrefix and NotPostfix operators
  pkg/k8s/apis/cilium.io/client/crds/v1alpha1/cilium.io_tracingpolicies.yaml
  pkg/k8s/apis/cilium.io/client/crds/v1alpha1/cilium.io_tracingpoliciesnamespaced.yaml
  pkg/k8s/apis/cilium.io/v1alpha1/types.go
  vendor/github.com/cilium/tetragon/pkg/k8s/apis/cilium.io/client/crds/v1alpha1/cilium.io_tracingpolicies.yaml
  vendor/github.com/cilium/tetragon/pkg/k8s/apis/cilium.io/client/crds/v1alpha1/cilium.io_tracingpoliciesnamespaced.yaml
  vendor/github.com/cilium/tetragon/pkg/k8s/apis/cilium.io/v1alpha1/types.go
Owners: @cilium/tetragon

matchArgs: Add Not{Equal, Prefix, Postfix} in fd, file, path types
  bpf/process/types/basic.h
  bpf/process/types/operations.h
  pkg/selectors/kernel.go
Owners: @cilium/tetragon

tracing: Add a test to demonstrate the use of Prefix and NotPrefix
  pkg/sensors/tracing/kprobe_test.go
Owners: @cilium/tetragon

Fix TestKprobeMatchArgsNonPrefix test
  pkg/sensors/tracing/kprobe_test.go
Owners: @cilium/tetragon

Fix TestKprobeMatchArgsNonPrefix test
  pkg/sensors/tracing/kprobe_test.go
Owners: @cilium/tetragon

api: add cred type to tracing policies definition
  pkg/k8s/apis/cilium.io/client/crds/v1alpha1/cilium.io_tracingpolicies.yaml
  pkg/k8s/apis/cilium.io/client/crds/v1alpha1/cilium.io_tracingpoliciesnamespaced.yaml
  pkg/k8s/apis/cilium.io/v1alpha1/types.go
  vendor/github.com/cilium/tetragon/pkg/k8s/apis/cilium.io/client/crds/v1alpha1/cilium.io_tracingpolicies.yaml
  vendor/github.com/cilium/tetragon/pkg/k8s/apis/cilium.io/client/crds/v1alpha1/cilium.io_tracingpoliciesnamespaced.yaml
  vendor/github.com/cilium/tetragon/pkg/k8s/apis/cilium.io/v1alpha1/types.go
Owners: @cilium/tetragon

docs: reference the linux process_credentials object
  docs/content/en/docs/use-cases/linux-process-credentials/_index.md
  docs/content/en/docs/use-cases/linux-process-credentials/syscalls-monitoring.md
Owners: @mtardy, @cilium/tetragon

api: add the process_credentials object
  api/v1/README.md
  api/v1/tetragon/capabilities.pb.go
  api/v1/tetragon/capabilities.proto
  api/v1/tetragon/codegen/eventchecker/eventchecker.pb.go
  api/v1/tetragon/tetragon.pb.go
  api/v1/tetragon/tetragon.pb.json.go
  api/v1/tetragon/tetragon.proto
  docs/content/en/docs/reference/grpc-api.md
  vendor/github.com/cilium/tetragon/api/v1/tetragon/capabilities.pb.go
  vendor/github.com/cilium/tetragon/api/v1/tetragon/capabilities.proto
  vendor/github.com/cilium/tetragon/api/v1/tetragon/codegen/eventchecker/eventchecker.pb.go
  vendor/github.com/cilium/tetragon/api/v1/tetragon/tetragon.pb.go
  vendor/github.com/cilium/tetragon/api/v1/tetragon/tetragon.pb.json.go
  vendor/github.com/cilium/tetragon/api/v1/tetragon/tetragon.proto
Owners: @cilium/tetragon, @mtardy

bpf:kprobe: add process_credentials support
  bpf/process/bpf_process_event.h
  bpf/process/types/basic.h
  bpf/process/types/cred.h
  bpf/process/types/user_namespace.h
  pkg/api/processapi/processapi.go
  pkg/api/tracingapi/client_kprobe.go
  pkg/btf/validation.go
  pkg/grpc/tracing/tracing.go
  pkg/sensors/tracing/generickprobe.go
Owners: @cilium/tetragon

api: add UserNamespace object
  api/v1/README.md
  api/v1/tetragon/codegen/eventchecker/eventchecker.pb.go
  api/v1/tetragon/tetragon.pb.go
  api/v1/tetragon/tetragon.pb.json.go
  api/v1/tetragon/tetragon.proto
  docs/content/en/docs/reference/grpc-api.md
  pkg/api/tracingapi/client_kprobe.go
  pkg/grpc/tracing/tracing.go
  pkg/sensors/tracing/generickprobe.go
  pkg/sensors/tracing/kprobe_amd64_test.go
  vendor/github.com/cilium/tetragon/api/v1/tetragon/codegen/eventchecker/eventchecker.pb.go
  vendor/github.com/cilium/tetragon/api/v1/tetragon/tetragon.pb.go
  vendor/github.com/cilium/tetragon/api/v1/tetragon/tetragon.pb.json.go
  vendor/github.com/cilium/tetragon/api/v1/tetragon/tetragon.proto
Owners: @cilium/tetragon, @mtardy

docs: add monitor credentials at kernel layer
  docs/content/en/docs/use-cases/linux-process-credentials/_index.md
  docs/content/en/docs/use-cases/linux-process-credentials/monitor-changes-at-kernel.md
Owners: @mtardy, @cilium/tetragon

tests: add kprobe process_credentials test
  pkg/sensors/tracing/kprobe_process_credentials_test.go
Owners: @cilium/tetragon

creds: add support to securebits
  bpf/process/types/basic.h
  pkg/grpc/tracing/tracing.go
  pkg/reader/caps/caps.go
  pkg/sensors/tracing/generickprobe.go
Owners: @cilium/tetragon

use-case: add tracing policy to monitor when installing creds
  examples/tracingpolicy/process-credentials/process-creds-installed.yaml
Owners: @cilium/tetragon

tests: add test for securebits
  pkg/sensors/tracing/kprobe_process_credentials_test.go
Owners: @cilium/tetragon

use-case: add tracing policy to monitor when creds change.
  examples/tracingpolicy/process-credentials/process-creds-changed.yaml
Owners: @cilium/tetragon

tetra: version cmd default to CLI and add build info
  cmd/tetra/version/version.go
  pkg/version/version.go
Owners: @cilium/tetragon

api: add the process_credentials object
  api/v1/README.md
  api/v1/tetragon/capabilities.pb.go
  api/v1/tetragon/capabilities.proto
  api/v1/tetragon/codegen/eventchecker/eventchecker.pb.go
  api/v1/tetragon/tetragon.pb.go
  api/v1/tetragon/tetragon.pb.json.go
  api/v1/tetragon/tetragon.proto
  docs/content/en/docs/reference/grpc-api.md
  vendor/github.com/cilium/tetragon/api/v1/tetragon/capabilities.pb.go
  vendor/github.com/cilium/tetragon/api/v1/tetragon/capabilities.proto
  vendor/github.com/cilium/tetragon/api/v1/tetragon/codegen/eventchecker/eventchecker.pb.go
  vendor/github.com/cilium/tetragon/api/v1/tetragon/tetragon.pb.go
  vendor/github.com/cilium/tetragon/api/v1/tetragon/tetragon.pb.json.go
  vendor/github.com/cilium/tetragon/api/v1/tetragon/tetragon.proto
Owners: @cilium/tetragon, @mtardy

api: add UserNamespace object
  api/v1/README.md
  api/v1/tetragon/codegen/eventchecker/eventchecker.pb.go
  api/v1/tetragon/tetragon.pb.go
  api/v1/tetragon/tetragon.pb.json.go
  api/v1/tetragon/tetragon.proto
  docs/content/en/docs/reference/grpc-api.md
  pkg/api/tracingapi/client_kprobe.go
  pkg/grpc/tracing/tracing.go
  pkg/sensors/tracing/generickprobe.go
  pkg/sensors/tracing/kprobe_amd64_test.go
  vendor/github.com/cilium/tetragon/api/v1/tetragon/codegen/eventchecker/eventchecker.pb.go
  vendor/github.com/cilium/tetragon/api/v1/tetragon/tetragon.pb.go
  vendor/github.com/cilium/tetragon/api/v1/tetragon/tetragon.pb.json.go
  vendor/github.com/cilium/tetragon/api/v1/tetragon/tetragon.proto
Owners: @cilium/tetragon, @mtardy

docs: reference the linux process_credentials object
  docs/content/en/docs/use-cases/linux-process-credentials/_index.md
  docs/content/en/docs/use-cases/linux-process-credentials/syscalls-monitoring.md
Owners: @mtardy, @cilium/tetragon

api: add cred type to tracing policies definition
  pkg/k8s/apis/cilium.io/client/crds/v1alpha1/cilium.io_tracingpolicies.yaml
  pkg/k8s/apis/cilium.io/client/crds/v1alpha1/cilium.io_tracingpoliciesnamespaced.yaml
  pkg/k8s/apis/cilium.io/v1alpha1/types.go
  vendor/github.com/cilium/tetragon/pkg/k8s/apis/cilium.io/client/crds/v1alpha1/cilium.io_tracingpolicies.yaml
  vendor/github.com/cilium/tetragon/pkg/k8s/apis/cilium.io/client/crds/v1alpha1/cilium.io_tracingpoliciesnamespaced.yaml
  vendor/github.com/cilium/tetragon/pkg/k8s/apis/cilium.io/v1alpha1/types.go
Owners: @cilium/tetragon

use-case: add tracing policy to monitor when installing creds
  examples/tracingpolicy/process-credentials/process-creds-installed.yaml
Owners: @cilium/tetragon

creds: add support to securebits
  bpf/process/types/basic.h
  pkg/grpc/tracing/tracing.go
  pkg/reader/caps/caps.go
  pkg/sensors/tracing/generickprobe.go
Owners: @cilium/tetragon

tests: add kprobe process_credentials test
  pkg/sensors/tracing/kprobe_process_credentials_test.go
Owners: @cilium/tetragon

use-case: add tracing policy to monitor when creds change.
  examples/tracingpolicy/process-credentials/process-creds-changed.yaml
Owners: @cilium/tetragon

bpf:kprobe: add process_credentials support
  bpf/process/bpf_process_event.h
  bpf/process/types/basic.h
  bpf/process/types/cred.h
  bpf/process/types/user_namespace.h
  pkg/api/processapi/processapi.go
  pkg/api/tracingapi/client_kprobe.go
  pkg/btf/validation.go
  pkg/grpc/tracing/tracing.go
  pkg/sensors/tracing/generickprobe.go
Owners: @cilium/tetragon

tests: add test for securebits
  pkg/sensors/tracing/kprobe_process_credentials_test.go
Owners: @cilium/tetragon

docs: add monitor credentials at kernel layer
  docs/content/en/docs/use-cases/linux-process-credentials/_index.md
  docs/content/en/docs/use-cases/linux-process-credentials/monitor-changes-at-kernel.md
Owners: @mtardy, @cilium/tetragon

renovate: group Helm chart version bump PRs
  .github/renovate.json5
Owners: @cilium/tetragon

tetra: fix version tag injection
  Makefile.cli
Owners: @cilium/tetragon

tetra: version cmd default to CLI and add build info
  cmd/tetra/version/version.go
  pkg/version/version.go
Owners: @cilium/tetragon

operator: Move the CRD registration logic to a separate package
  operator/crd/crd.go
  operator/main.go
Owners: @cilium/tetragon

operator: Move the CRD registration logic to a separate package
  operator/crd/crd.go
  operator/main.go
Owners: @cilium/tetragon

docs: Update the link to the cosign installation page
  README.md
  docs/content/en/docs/tutorials/verify-tetragon-image-signatures.md
Owners: @cilium/tetragon, @mtardy

docs: Update the link to the cosign installation page
  README.md
  docs/content/en/docs/tutorials/verify-tetragon-image-signatures.md
Owners: @cilium/tetragon, @mtardy

Add tetragon operator deployment into the helm chart
  docs/content/en/docs/reference/helm-chart.md
  install/kubernetes/README.md
  install/kubernetes/templates/clusterrole.yaml
  install/kubernetes/templates/operator_clusterrole.yaml
  install/kubernetes/templates/operator_clusterrolebinding.yaml
  install/kubernetes/templates/operator_configmap.yaml
  install/kubernetes/templates/operator_deployment.yaml
  install/kubernetes/templates/operator_serviceaccount.yaml
  install/kubernetes/values.yaml
Owners: @mtardy, @cilium/tetragon

tetragon: Define Execve with pure program.Builder call
  pkg/sensors/base/base.go
Owners: @cilium/tetragon
