Repository cilium/tetragon, changes with the owners that CODEOWNERS names for each.
All owners: @cilium/tetragon, @willfindlay, @kkourt, @mtardy

CODEOWNERS:

# Request a review from the Tetragon team on any PR
* @cilium/tetragon

# Request a review from William when codegen is edited
cmd/protoc-gen-go-tetragon/ @willfindlay

# Request a review from William when CI is edited
.github/workflows/ @willfindlay

# Request a review from kkourt when core sensor files are modified
pkg/src/sensors/ @kkourt

# Request a review from mtardy when anything from docs is modified but do not
# block on approval from anyone in the tetragon team
/docs/ @mtardy @cilium/tetragon

new: switch to use tracefs by default.
  bpf/test/bpf_lseek.c
  docs/content/en/docs/concepts/tracing-policy/hooks.md
  pkg/ftrace/ftrace.go
  pkg/sensors/test/checker_test.go
  pkg/sensors/test/lseek_test.go
  pkg/sensors/tracing/selectors_test.go
  pkg/sensors/tracing/tracepoint_test.go
  pkg/tracepoint/tracepoint.go
Owners: @cilium/tetragon, @mtardy

new(pkg): introduce `tracepoint.GetTraceFSPath()`.
  pkg/tracepoint/tracepoint.go
Owners: @cilium/tetragon

new(pkg): fallback at debugFS when traceFS is not available.
  pkg/ftrace/ftrace.go
  pkg/tracepoint/tracepoint.go
Owners: @cilium/tetragon

new(pkg): introduce `testutils.CheckKernelTracingExists`.
  pkg/sensors/test/checker_test.go
  pkg/sensors/test/lseek_test.go
  pkg/sensors/tracing/tracepoint_test.go
  pkg/testutils/path.go
Owners: @cilium/tetragon

tracing: Add GetName() to kprobe and uprobe message types
  pkg/grpc/tracing/tracing.go
Owners: @cilium/tetragon

encoder: add support for security_bpf_map_create (Linux 6.9+)
  pkg/encoder/encoder.go
  pkg/encoder/encoder_test.go
Owners: @cilium/tetragon

docs: document security_bpf_map_create kernel compatibility (Linux 6.9+)
  docs/content/en/docs/policy-library/observability/_index.md
Owners: @mtardy, @cilium/tetragon

examples: add support for security_bpf_map_create (Linux 6.9+)
  examples/policylibrary/bpf.yaml
  examples/tracingpolicy/bpf.yaml
Owners: @cilium/tetragon

tracing: have TestKprobeLseek use a binary
  pkg/sensors/tracing/kprobe_test.go
Owners: @cilium/tetragon

tracing: move TestKprobeLseek to policy tests
  pkg/sensors/tracing/kprobe_test.go
  tests/policytests/kprobes.go
Owners: @cilium/tetragon

policytests: clarify configuration
  cmd/tetra/policytest/policytest.go
  pkg/testutils/policytest/conf.go
  pkg/testutils/policytest/runner.go
  tests/policytests/uprobes.go
Owners: @cilium/tetragon

policytest: add parameter support
  pkg/testutils/policytest/builder.go
  pkg/testutils/policytest/conf.go
  pkg/testutils/policytest/policytest.go
  pkg/testutils/policytest/runner.go
Owners: @cilium/tetragon

policytests: parametrize kprobe-lseek with Hook
  tests/policytests/kprobes.go
Owners: @cilium/tetragon

tetra: policytest run: set params switch
  cmd/tetra/policytest/policytest.go
Owners: @cilium/tetragon

tetra: add pt dump-policy command
  cmd/tetra/policytest/policytest.go
Owners: @cilium/tetragon

policytest: add params to DoObserverTest
  pkg/sensors/tracing/kprobe_test.go
  pkg/sensors/tracing/uprobe_test.go
  pkg/testutils/policytest/observertest.go
Owners: @cilium/tetragon

tetra: add --list-params in pt list
  cmd/tetra/policytest/policytest.go
Owners: @cilium/tetragon

new: use new bpf.CheckOrMountTraceFS() helper.
  cmd/tetragon/main.go
  pkg/bench/bench.go
  pkg/policyfilter/policyfilter_test.go
  pkg/testutils/sensors/testrun_linux.go
Owners: @cilium/tetragon

cleanup(pkg/bpf): drop `bpf.CheckOrMountDebugFS()`.
  pkg/bpf/bpffs_linux.go
  pkg/bpf/bpffs_windows.go
Owners: @cilium/tetragon

new: switch to use tracefs by default.
  bpf/test/bpf_lseek.c
  docs/content/en/docs/concepts/tracing-policy/hooks.md
  pkg/ftrace/ftrace.go
  pkg/sensors/test/checker_test.go
  pkg/sensors/test/lseek_test.go
  pkg/sensors/tracing/selectors_test.go
  pkg/sensors/tracing/tracepoint_test.go
  pkg/tracepoint/tracepoint.go
Owners: @cilium/tetragon, @mtardy

new(pkg): fallback at debugFS when traceFS is not available.
  pkg/ftrace/ftrace.go
  pkg/tracepoint/tracepoint.go
Owners: @cilium/tetragon

new(pkg): introduce `tracepoint.GetTraceFSPath()`.
  pkg/tracepoint/tracepoint.go
Owners: @cilium/tetragon

new(pkg): introduce `testutils.CheckKernelTracingExists`.
  pkg/sensors/test/checker_test.go
  pkg/sensors/test/lseek_test.go
  pkg/sensors/tracing/tracepoint_test.go
  pkg/testutils/path.go
Owners: @cilium/tetragon

new(pkg/bpf): add `CheckOrMountTraceFS()` helper.
  pkg/bpf/bpffs_linux.go
  pkg/bpf/bpffs_windows.go
  pkg/mountinfo/mountinfo.go
Owners: @cilium/tetragon

cleanup(pkg/bpf): constify global variables.
  pkg/bpf/bpffs_linux.go
Owners: @cilium/tetragon

new(pkg/bpf): add `CheckOrMountTraceFS()` helper.
  pkg/bpf/bpffs_linux.go
  pkg/bpf/bpffs_windows.go
  pkg/mountinfo/mountinfo.go
Owners: @cilium/tetragon

new(pkg): introduce `tracepoint.GetTraceFSPath()`.
  pkg/tracepoint/tracepoint.go
Owners: @cilium/tetragon

new(pkg): fallback at debugFS when traceFS is not available.
  pkg/ftrace/ftrace.go
  pkg/tracepoint/tracepoint.go
Owners: @cilium/tetragon

new: use new bpf.CheckOrMountTraceFS() helper.
  cmd/tetragon/main.go
  pkg/bench/bench.go
  pkg/policyfilter/policyfilter_test.go
  pkg/testutils/sensors/testrun_linux.go
Owners: @cilium/tetragon

cleanup(pkg/bpf): constify global variables.
  pkg/bpf/bpffs_linux.go
Owners: @cilium/tetragon

cleanup(pkg/bpf): drop `bpf.CheckOrMountDebugFS()`.
  pkg/bpf/bpffs_linux.go
  pkg/bpf/bpffs_windows.go
Owners: @cilium/tetragon

new: switch to use tracefs by default.
  bpf/test/bpf_lseek.c
  docs/content/en/docs/concepts/tracing-policy/hooks.md
  pkg/ftrace/ftrace.go
  pkg/sensors/test/checker_test.go
  pkg/sensors/test/lseek_test.go
  pkg/sensors/tracing/selectors_test.go
  pkg/sensors/tracing/tracepoint_test.go
  pkg/tracepoint/tracepoint.go
Owners: @cilium/tetragon, @mtardy

new(pkg): fallback at debugFS when traceFS is not available.
  pkg/ftrace/ftrace.go
  pkg/tracepoint/tracepoint.go
Owners: @cilium/tetragon

new(pkg): introduce `tracepoint.GetTraceFSPath()`.
  pkg/tracepoint/tracepoint.go
Owners: @cilium/tetragon

cleanup(pkg/bpf): drop `bpf.CheckOrMountDebugFS()`.
  pkg/bpf/bpffs_linux.go
Owners: @cilium/tetragon

new: use new bpf.CheckOrMountTraceFS() helper.
  cmd/tetragon/main_linux.go
  pkg/bench/bench.go
  pkg/policyfilter/policyfilter_test.go
  pkg/testutils/sensors/testrun_linux.go
Owners: @cilium/tetragon

new(pkg/bpf): add `CheckOrMountTraceFS()` helper.
  pkg/bpf/bpffs_linux.go
  pkg/mountinfo/mountinfo.go
Owners: @cilium/tetragon

new: switch to use tracefs by default.
  bpf/test/bpf_lseek.c
  docs/content/en/docs/concepts/tracing-policy/hooks.md
  pkg/ftrace/ftrace.go
  pkg/sensors/test/checker_test.go
  pkg/sensors/test/lseek_test.go
  pkg/sensors/tracing/selectors_test.go
  pkg/sensors/tracing/tracepoint_test.go
  pkg/tracepoint/tracepoint.go
Owners: @cilium/tetragon, @mtardy

pkg/sensors/tracing: resolve Go symbols via pclntab in uprobe sensor
  pkg/sensors/tracing/genericuprobe.go
Owners: @cilium/tetragon

new(pkg/elf): add .gopclntab parser for stripped Go binaries
  pkg/elf/file.go
  pkg/elf/pclntab.go
Owners: @cilium/tetragon
