Repository cilium/tetragon, changes with the owners that CODEOWNERS names for each.
All owners: @cilium/tetragon, @willfindlay, @kkourt, @mtardy

CODEOWNERS:

# Request a review from the Tetragon team on any PR
* @cilium/tetragon

# Request a review from William when codegen is edited
cmd/protoc-gen-go-tetragon/ @willfindlay

# Request a review from William when CI is edited
.github/workflows/ @willfindlay

# Request a review from kkourt when core sensor files are modified
pkg/src/sensors/ @kkourt

# Request a review from mtardy when anything from docs is modified but do not
# block on approval from anyone in the tetragon team
/docs/ @mtardy @cilium/tetragon

Make reverse policy filter mapping optional
  cmd/tetra/debug/dump.go
  docs/content/en/docs/reference/helm-chart.md
  docs/data/tetragon_flags.yaml
  install/kubernetes/tetragon/README.md
  install/kubernetes/tetragon/templates/tetragon_configmap.yaml
  install/kubernetes/tetragon/values.yaml
  pkg/option/config.go
  pkg/option/flags.go
  pkg/policyfilter/k8s_test.go
  pkg/policyfilter/map.go
  pkg/policyfilter/map_test.go
  pkg/policyfilter/policyfilter.go
  pkg/policyfilter/state.go
  pkg/policyfilter/state_test.go
Owners: @cilium/tetragon, @mtardy

Add tests for the reverse policy filter mapping
  pkg/policyfilter/map_test.go
Owners: @cilium/tetragon

Add tetra policyfilter listpolicies command
  cmd/tetra/policyfilter/policyfilter.go
Owners: @cilium/tetragon

[fix] fix probe_read_str return type
  bpf/process/bpf_execve_event.c
Owners: @cilium/tetragon

change int to __s32
  bpf/process/bpf_execve_event.c
Owners: @cilium/tetragon

docs: local dev with Apple Silicon small fixes
  docs/content/en/docs/contribution-guide/development-setup.md
Owners: @mtardy, @cilium/tetragon

docs: move the BPF progs stats page under troubleshooting
  docs/content/en/docs/troubleshooting/bpf-progs-stats.md
Owners: @mtardy, @cilium/tetragon

docs: split troubleshooting page into subpages
  docs/content/en/docs/troubleshooting/_index.md
  docs/content/en/docs/troubleshooting/loglevel.md
  docs/content/en/docs/troubleshooting/sysdump.md
Owners: @mtardy, @cilium/tetragon

docs: local dev with Apple Silicon small fixes
  docs/content/en/docs/contribution-guide/development-setup.md
Owners: @mtardy, @cilium/tetragon

tetragon: Use process_call_heap in generic functions
  bpf/process/bpf_generic_kprobe.c
  bpf/process/bpf_generic_lsm_core.c
  bpf/process/bpf_generic_tracepoint.c
  bpf/process/bpf_generic_uprobe.c
  bpf/process/generic_calls.h
Owners: @cilium/tetragon

tetragon: Use config_map in generic functions
  bpf/process/bpf_generic_kprobe.c
  bpf/process/bpf_generic_lsm_core.c
  bpf/process/bpf_generic_tracepoint.c
  bpf/process/bpf_generic_uprobe.c
  bpf/process/generic_calls.h
Owners: @cilium/tetragon

tetragon: Move generic maps in generic_maps.h header
  bpf/process/bpf_generic_kprobe.c
  bpf/process/bpf_generic_lsm_core.c
  bpf/process/bpf_generic_lsm_ima_bprm.c
  bpf/process/bpf_generic_lsm_ima_file.c
  bpf/process/bpf_generic_lsm_output.c
  bpf/process/bpf_generic_retkprobe.c
  bpf/process/bpf_generic_tracepoint.c
  bpf/process/bpf_generic_uprobe.c
  bpf/process/generic_maps.h
  pkg/sensors/tracing/tracepoint_test.go
Owners: @cilium/tetragon

tetragon: Update ebpf version
  go.mod
  go.sum
  vendor/github.com/cilium/ebpf/attachtype_string.go
  vendor/github.com/cilium/ebpf/elf_sections.go
  vendor/github.com/cilium/ebpf/internal/sys/types.go
  vendor/github.com/cilium/ebpf/link/kprobe_multi.go
  vendor/github.com/cilium/ebpf/types.go
  vendor/modules.txt
Owners: @cilium/tetragon

tetra: Fix tetra debug progs fail
  cmd/tetra/debug/progs.go
  pkg/bugtool/maps.go
Owners: @cilium/tetragon

tetra: Add support to detect bpffs mount
  cmd/tetra/debug/progs.go
Owners: @cilium/tetragon

tetra: Add support to detect bpf lib path
  cmd/tetra/debug/progs.go
Owners: @cilium/tetragon

tetra: Display output that fits to terminal screen
  cmd/tetra/debug/progs.go
  go.mod
Owners: @cilium/tetragon

tetra: Update debug progs documentation
  docs/content/en/docs/concepts/performance-stats.md
Owners: @mtardy, @cilium/tetragon

tetragon: Use data_heap in generic functions
  bpf/process/bpf_generic_kprobe.c
  bpf/process/bpf_generic_lsm_core.c
  bpf/process/bpf_generic_tracepoint.c
  bpf/process/bpf_generic_uprobe.c
  bpf/process/generic_calls.h
  bpf/process/generic_maps.h
Owners: @cilium/tetragon

tetragon: Move generic_output to generic functions
  bpf/process/bpf_generic_kprobe.c
  bpf/process/bpf_generic_lsm_output.c
  bpf/process/bpf_generic_retkprobe.c
  bpf/process/bpf_generic_tracepoint.c
  bpf/process/bpf_generic_uprobe.c
  bpf/process/generic_calls.h
  bpf/process/types/basic.h
Owners: @cilium/tetragon

tetragon: Move generic_actions to generic functions
  bpf/process/generic_calls.h
  bpf/process/types/basic.h
Owners: @cilium/tetragon

tetragon: Switch generic_actions to use maps directly
  bpf/process/bpf_generic_kprobe.c
  bpf/process/bpf_generic_lsm_core.c
  bpf/process/bpf_generic_retkprobe.c
  bpf/process/bpf_generic_tracepoint.c
  bpf/process/bpf_generic_uprobe.c
  bpf/process/generic_calls.h
Owners: @cilium/tetragon

tetragon: Add generic_retkprobe function
  bpf/process/bpf_generic_retkprobe.c
  bpf/process/generic_calls.h
Owners: @cilium/tetragon

tetragon: Switch generic_start_process_filter to use maps directly
  bpf/process/bpf_generic_kprobe.c
  bpf/process/bpf_generic_lsm_core.c
  bpf/process/bpf_generic_uprobe.c
  bpf/process/generic_calls.h
  bpf/process/types/basic.h
Owners: @cilium/tetragon

[performance] Avoid kallsyms load multiple times
  pkg/ksyms/ksyms.go
Owners: @cilium/tetragon

tetra: Add support to detect bpffs mount
  cmd/tetra/debug/progs.go
Owners: @cilium/tetragon

tetra: Display output that fits to terminal screen
  cmd/tetra/debug/progs.go
  go.mod
Owners: @cilium/tetragon

tetra: Fix tetra debug progs fail
  cmd/tetra/debug/progs.go
  pkg/bugtool/maps.go
Owners: @cilium/tetragon

tetra: Add support to detect bpf lib path
  cmd/tetra/debug/progs.go
Owners: @cilium/tetragon

tetra: Update debug progs documentation
  docs/content/en/docs/concepts/performance-stats.md
Owners: @mtardy, @cilium/tetragon

tetragon: Use data_heap in generic functions
  bpf/process/bpf_generic_kprobe.c
  bpf/process/bpf_generic_lsm_core.c
  bpf/process/bpf_generic_tracepoint.c
  bpf/process/bpf_generic_uprobe.c
  bpf/process/generic_calls.h
  bpf/process/generic_maps.h
Owners: @cilium/tetragon

tetragon: Move generic_actions to generic functions
  bpf/process/generic_calls.h
  bpf/process/types/basic.h
Owners: @cilium/tetragon

tetragon: Move generic maps in generic_maps.h header
  bpf/process/bpf_generic_kprobe.c
  bpf/process/bpf_generic_lsm_core.c
  bpf/process/bpf_generic_lsm_ima_bprm.c
  bpf/process/bpf_generic_lsm_ima_file.c
  bpf/process/bpf_generic_lsm_output.c
  bpf/process/bpf_generic_retkprobe.c
  bpf/process/bpf_generic_tracepoint.c
  bpf/process/bpf_generic_uprobe.c
  bpf/process/generic_maps.h
  pkg/sensors/tracing/tracepoint_test.go
Owners: @cilium/tetragon

tetragon: Use process_call_heap in generic functions
  bpf/process/bpf_generic_kprobe.c
  bpf/process/bpf_generic_lsm_core.c
  bpf/process/bpf_generic_tracepoint.c
  bpf/process/bpf_generic_uprobe.c
  bpf/process/generic_calls.h
Owners: @cilium/tetragon

tetragon: Move generic_output to generic functions
  bpf/process/bpf_generic_kprobe.c
  bpf/process/bpf_generic_lsm_output.c
  bpf/process/bpf_generic_retkprobe.c
  bpf/process/bpf_generic_tracepoint.c
  bpf/process/bpf_generic_uprobe.c
  bpf/process/generic_calls.h
  bpf/process/types/basic.h
Owners: @cilium/tetragon

tetragon: Use config_map in generic functions
  bpf/process/bpf_generic_kprobe.c
  bpf/process/bpf_generic_lsm_core.c
  bpf/process/bpf_generic_tracepoint.c
  bpf/process/bpf_generic_uprobe.c
  bpf/process/generic_calls.h
Owners: @cilium/tetragon

tetragon: Update ebpf version
  go.mod
  go.sum
  vendor/github.com/cilium/ebpf/attachtype_string.go
  vendor/github.com/cilium/ebpf/elf_sections.go
  vendor/github.com/cilium/ebpf/internal/sys/types.go
  vendor/github.com/cilium/ebpf/link/kprobe_multi.go
  vendor/github.com/cilium/ebpf/types.go
  vendor/modules.txt
Owners: @cilium/tetragon

tetragon: Switch generic_start_process_filter to use maps directly
  bpf/process/bpf_generic_kprobe.c
  bpf/process/bpf_generic_lsm_core.c
  bpf/process/bpf_generic_uprobe.c
  bpf/process/generic_calls.h
  bpf/process/types/basic.h
Owners: @cilium/tetragon

tetragon: Add generic_retkprobe function
  bpf/process/bpf_generic_retkprobe.c
  bpf/process/generic_calls.h
Owners: @cilium/tetragon

tetragon: Switch generic_actions to use maps directly
  bpf/process/bpf_generic_kprobe.c
  bpf/process/bpf_generic_lsm_core.c
  bpf/process/bpf_generic_retkprobe.c
  bpf/process/bpf_generic_tracepoint.c
  bpf/process/bpf_generic_uprobe.c
  bpf/process/generic_calls.h
Owners: @cilium/tetragon
