Repository cilium/tetragon, changes with the owners that CODEOWNERS names for each.
All owners: @cilium/tetragon, @willfindlay, @kkourt, @mtardy

CODEOWNERS:

# Request a review from the Tetragon team on any PR
* @cilium/tetragon

# Request a review from William when codegen is edited
cmd/protoc-gen-go-tetragon/ @willfindlay

# Request a review from William when CI is edited
.github/workflows/ @willfindlay

# Request a review from kkourt when core sensor files are modified
pkg/src/sensors/ @kkourt

# Request a review from mtardy when anything from docs is modified but do not
# block on approval from anyone in the tetragon team
/docs/ @mtardy @cilium/tetragon

cmd/tetragon: advertise unix socket in tetragon-info.json
  cmd/tetragon/main.go
Owners: @cilium/tetragon

cmd/tetra: add TLS / mTLS client flags
  cmd/tetra/common/client.go
  cmd/tetra/common/tls.go
  cmd/tetra/common/tls_test.go
  cmd/tetra/eventlog/client.go
  cmd/tetra/main.go
Owners: @cilium/tetragon

cmd/tetragon: wire TLS / mTLS and add dual-listener mode
  cmd/tetragon/main.go
  cmd/tetragon/main_linux.go
  cmd/tetragon/main_windows.go
  docs/data/tetragon_flags.yaml
  pkg/defaults/defaults.go
Owners: @cilium/tetragon, @mtardy

install/kubernetes: provision gRPC mTLS via Helm
  docs/content/en/docs/reference/helm-chart.md
  install/kubernetes/tetragon/README.md
  install/kubernetes/tetragon/templates/_container_tetragon.tpl
  install/kubernetes/tetragon/templates/_helpers.tpl
  install/kubernetes/tetragon/templates/daemonset.yaml
  install/kubernetes/tetragon/templates/tetragon_configmap.yaml
  install/kubernetes/tetragon/templates/tls-certmanager/server-secret.yaml
  install/kubernetes/tetragon/templates/tls-cronjob/_job-spec.tpl
  install/kubernetes/tetragon/templates/tls-cronjob/cronjob.yaml
  install/kubernetes/tetragon/templates/tls-cronjob/job.yaml
  install/kubernetes/tetragon/templates/tls-cronjob/role.yaml
  install/kubernetes/tetragon/templates/tls-cronjob/rolebinding.yaml
  install/kubernetes/tetragon/templates/tls-cronjob/serviceaccount.yaml
  install/kubernetes/tetragon/templates/tls-helm/server-secret.yaml
  install/kubernetes/tetragon/values.yaml
Owners: @mtardy, @cilium/tetragon

tests/e2e: add gRPC mTLS tests
  tests/e2e/tests/grpctls/grpctls_test.go
Owners: @cilium/tetragon

bpf: skip fentry load probe on amd64
  pkg/bpf/detect_linux.go
Owners: @cilium/tetragon

fix: V-001 security vulnerability
  contrib/tester-progs/direct-write-tester.c
Owners: @cilium/tetragon

fix: add buffer-length check in direct-write-tester.c
  contrib/tester-progs/direct-write-tester_invariant_test.go
Owners: @cilium/tetragon

bpf: skip fentry load probe on amd64
  pkg/bpf/detect_linux.go
Owners: @cilium/tetragon

pkg/crdutils: validate XValidation CEL rules in standalone
  pkg/crdutils/crdutils.go
Owners: @cilium/tetragon

pkg/crdutils: test XValidation CEL rule
  pkg/crdutils/crdutils_test.go
Owners: @cilium/tetragon

Add CRD for matchWorkloads selector
  install/kubernetes/tetragon/crds-yaml/cilium.io_tracingpolicies.yaml
  install/kubernetes/tetragon/crds-yaml/cilium.io_tracingpoliciesnamespaced.yaml
  pkg/k8s/apis/cilium.io/client/crds/v1alpha1/cilium.io_tracingpolicies.yaml
  pkg/k8s/apis/cilium.io/client/crds/v1alpha1/cilium.io_tracingpoliciesnamespaced.yaml
  pkg/k8s/apis/cilium.io/v1alpha1/types.go
  pkg/k8s/apis/cilium.io/v1alpha1/version.go
  pkg/k8s/apis/cilium.io/v1alpha1/zz_generated.deepcopy.go
  vendor/github.com/cilium/tetragon/pkg/k8s/apis/cilium.io/client/crds/v1alpha1/cilium.io_tracingpolicies.yaml
  vendor/github.com/cilium/tetragon/pkg/k8s/apis/cilium.io/client/crds/v1alpha1/cilium.io_tracingpoliciesnamespaced.yaml
  vendor/github.com/cilium/tetragon/pkg/k8s/apis/cilium.io/v1alpha1/types.go
  vendor/github.com/cilium/tetragon/pkg/k8s/apis/cilium.io/v1alpha1/version.go
  vendor/github.com/cilium/tetragon/pkg/k8s/apis/cilium.io/v1alpha1/zz_generated.deepcopy.go
Owners: @cilium/tetragon

Populate new tracing policy refs
  docs/content/en/docs/reference/tracing-policy.md
Owners: @mtardy, @cilium/tetragon

selectors: factor out label selector matching helpers
  pkg/selectors/helpers.go
  pkg/selectors/helpers_test.go
  pkg/sensors/k8s.go
Owners: @cilium/tetragon

Add support in the agent for matchWorkloads selector
  pkg/policyfilter/nok8s.go
  pkg/policyfilter/selectors.go
  pkg/selectors/kernel.go
  pkg/selectors/selectors.go
  pkg/sensors/tracing/generickprobe.go
  pkg/sensors/tracing/genericlsm.go
  pkg/sensors/tracing/generictracepoint.go
  pkg/sensors/tracing/genericuprobe.go
  pkg/sensors/tracing/genericusdt.go
  pkg/sensors/tracing/kprobe_test.go
  pkg/sensors/tracing/lsm_test.go
  pkg/sensors/tracing/selectors.go
  pkg/sensors/tracing/tracepoint_test.go
  pkg/sensors/tracing/uprobe_test.go
  pkg/sensors/tracing/usdt_test.go
Owners: @cilium/tetragon

Add new e2e test for matchWorkloads
  tests/e2e/tests/policyfilter/policyfilter_test.go
Owners: @cilium/tetragon

docs: Document matchWorkloads selector
  docs/content/en/docs/concepts/tracing-policy/selectors.md
Owners: @mtardy, @cilium/tetragon

Add eBPF code for matchWorkloads selector
  bpf/process/pfilter.h
  bpf/process/policy_filter.h
Owners: @cilium/tetragon

helm: Adjust mounting of socket to survive daemon restarts
  contrib/upgrade-notes/latest.md
  install/kubernetes/tetragon/templates/_container_tetragon.tpl
  install/kubernetes/tetragon/templates/daemonset.yaml
Owners: @cilium/tetragon

pkg/crdutils: test XValidation CEL rule
  pkg/crdutils/crdutils_test.go
Owners: @cilium/tetragon

pkg/crdutils: validate XValidation CEL rules in standalone
  pkg/crdutils/crdutils.go
Owners: @cilium/tetragon

pkg/crdutils: validate XValidation CEL rules in standalone
  pkg/crdutils/crdutils.go
Owners: @cilium/tetragon

workflows: remove deprecated delete artifact token
  .github/workflows/vmtests.yml
Owners: @willfindlay

bpf: let __event_get_cgroup_info always return 0 on success
  bpf/process/bpf_process_event.h
Owners: @cilium/tetragon

bpf: add errmetrics around tg_get_current_cgroup_id
  bpf/errmetrics/fileids.h
  bpf/process/bpf_fork.c
  bpf/process/policy_filter.h
  pkg/errmetrics/files.go
Owners: @cilium/tetragon

bpf: add errmetrics more generously
  bpf/cgroup/bpf_cgroup_events.h
  bpf/errmetrics/fileids.h
  bpf/lib/bpf_cgroup.h
  bpf/process/bpf_exit.h
  bpf/process/bpf_generic_lsm_output.c
  bpf/process/bpf_process_event.h
  bpf/process/generic_calls.h
  bpf/process/syscall64.h
  bpf/process/types/basic.h
  bpf/process/uprobe_offload.h
  bpf/process/user_preload.h
  pkg/errmetrics/files.go
Owners: @cilium/tetragon

bpf: let probe_read errors fail with arg status
  bpf/process/generic_calls.h
Owners: @cilium/tetragon

bpf: handle probe_read errors in copy_iov_iter
  bpf/process/generic_calls.h
Owners: @cilium/tetragon

bpf/errmetrics: only report _err < 0
  bpf/lib/errmetrics.h
Owners: @cilium/tetragon

selectors: factor out label selector matching helpers
  pkg/selectors/helpers.go
  pkg/selectors/helpers_test.go
  pkg/sensors/k8s.go
Owners: @cilium/tetragon

docs: Document matchWorkloads selector
  docs/content/en/docs/concepts/tracing-policy/selectors.md
Owners: @mtardy, @cilium/tetragon

Add CRD for matchWorkloads selector
  install/kubernetes/tetragon/crds-yaml/cilium.io_tracingpolicies.yaml
  install/kubernetes/tetragon/crds-yaml/cilium.io_tracingpoliciesnamespaced.yaml
  pkg/k8s/apis/cilium.io/client/crds/v1alpha1/cilium.io_tracingpolicies.yaml
  pkg/k8s/apis/cilium.io/client/crds/v1alpha1/cilium.io_tracingpoliciesnamespaced.yaml
  pkg/k8s/apis/cilium.io/v1alpha1/types.go
  pkg/k8s/apis/cilium.io/v1alpha1/version.go
  pkg/k8s/apis/cilium.io/v1alpha1/zz_generated.deepcopy.go
  vendor/github.com/cilium/tetragon/pkg/k8s/apis/cilium.io/client/crds/v1alpha1/cilium.io_tracingpolicies.yaml
  vendor/github.com/cilium/tetragon/pkg/k8s/apis/cilium.io/client/crds/v1alpha1/cilium.io_tracingpoliciesnamespaced.yaml
  vendor/github.com/cilium/tetragon/pkg/k8s/apis/cilium.io/v1alpha1/types.go
  vendor/github.com/cilium/tetragon/pkg/k8s/apis/cilium.io/v1alpha1/version.go
  vendor/github.com/cilium/tetragon/pkg/k8s/apis/cilium.io/v1alpha1/zz_generated.deepcopy.go
Owners: @cilium/tetragon

Populate new tracing policy refs
  docs/content/en/docs/reference/tracing-policy.md
Owners: @mtardy, @cilium/tetragon

Add eBPF code for matchWorkloads selector
  bpf/process/pfilter.h
  bpf/process/policy_filter.h
Owners: @cilium/tetragon

Add support in the agent for matchWorkloads selector
  pkg/policyfilter/nok8s.go
  pkg/policyfilter/selectors.go
  pkg/selectors/kernel.go
  pkg/selectors/selectors.go
  pkg/sensors/tracing/generickprobe.go
  pkg/sensors/tracing/genericlsm.go
  pkg/sensors/tracing/generictracepoint.go
  pkg/sensors/tracing/genericuprobe.go
  pkg/sensors/tracing/genericusdt.go
  pkg/sensors/tracing/kprobe_test.go
  pkg/sensors/tracing/lsm_test.go
  pkg/sensors/tracing/selectors.go
  pkg/sensors/tracing/tracepoint_test.go
  pkg/sensors/tracing/uprobe_test.go
  pkg/sensors/tracing/usdt_test.go
Owners: @cilium/tetragon

Add new e2e test for matchWorkloads
  tests/e2e/tests/policyfilter/policyfilter_test.go
Owners: @cilium/tetragon

docs: expand matchData section with examples and operator reference
  docs/content/en/docs/concepts/tracing-policy/selectors.md
Owners: @mtardy, @cilium/tetragon

docs: expand matchData section with examples and operator reference
  docs/content/en/docs/concepts/tracing-policy/selectors.md
Owners: @mtardy, @cilium/tetragon

pkg/crdutils: validate XValidation CEL rules in standalone
  pkg/crdutils/crdutils.go
Owners: @cilium/tetragon

examples: add CVE-2021-4034 PwnKit LD_PRELOAD persistence detection policy
  examples/tracingpolicy/cves/VALIDATION-cve-2021-4034.md
  examples/tracingpolicy/cves/cve-2021-4034-pwnkit-ld-preload.yaml
Owners: @cilium/tetragon
