Repository cilium/tetragon, changes with the owners that CODEOWNERS names for each.
All owners: @cilium/tetragon, @willfindlay, @kkourt, @mtardy

CODEOWNERS:

# Request a review from the Tetragon team on any PR
* @cilium/tetragon

# Request a review from William when codegen is edited
cmd/protoc-gen-go-tetragon/ @willfindlay

# Request a review from William when CI is edited
.github/workflows/ @willfindlay

# Request a review from kkourt when core sensor files are modified
pkg/src/sensors/ @kkourt

# Request a review from mtardy when anything from docs is modified but do not
# block on approval from anyone in the tetragon team
/docs/ @mtardy @cilium/tetragon

cmd/tetra: add policytest run-inpod entrypoint
  cmd/tetra/policytest/inpod.go
  cmd/tetra/policytest/inpod_test.go
  cmd/tetra/policytest/policytest.go
  pkg/testutils/sensors/testrun.go
Owners: @cilium/tetragon

policytest: add machine-readable result schema in kube package
  pkg/testutils/policytest/kube/results.go
  pkg/testutils/policytest/kube/results_test.go
Owners: @cilium/tetragon

tests/e2e: add a run --kube e2e test
  tests/e2e/tests/policytest/policytest_test.go
Owners: @cilium/tetragon

policytest: add cluster orchestrator
  pkg/testutils/policytest/kube/orchestrator.go
  pkg/testutils/policytest/kube/orchestrator_test.go
Owners: @cilium/tetragon

policytest: add test pod spec builder
  pkg/testutils/policytest/kube/testpod.go
  pkg/testutils/policytest/kube/testpod_test.go
Owners: @cilium/tetragon

new: move `exportDirectory` default value to a non-tmpfs folder.
  docs/content/en/docs/concepts/events.md
  docs/content/en/docs/reference/helm-chart.md
  install/kubernetes/tetragon/README.md
  install/kubernetes/tetragon/values.yaml
  tests/e2e/helpers/dumpinfo.go
Owners: @mtardy, @cilium/tetragon

chore(contrib): updated upgrade-notes.
  contrib/upgrade-notes/latest.md
Owners: @cilium/tetragon

crdutils: Warn on unknown fields not in CRD schema
  pkg/crdutils/crdutils.go
  pkg/crdutils/crdutils_test.go
Owners: @cilium/tetragon

tetragon: Make the testKprobeObjectFileWriteHook spec more detailed
  pkg/sensors/tracing/kprobe_test.go
Owners: @cilium/tetragon

sensors: fix LoadedMapsInfo data race in TotalMemlock
  pkg/sensors/manager_test.go
  pkg/sensors/program/loader_linux.go
  pkg/sensors/program/loader_windows.go
  pkg/sensors/program/program.go
  pkg/sensors/sensors.go
  pkg/sensors/sensors_race_test.go
Owners: @cilium/tetragon

ci: add race detector job for selected userspace packages
  .github/workflows/gotests.yml
  Makefile
Owners: @willfindlay, @cilium/tetragon

tetragon: Make the testKprobeObjectFileWriteHook spec more detailed
  pkg/sensors/tracing/kprobe_test.go
Owners: @cilium/tetragon

celbpf: fix 32-bit issue by using ALU32
  pkg/celbpf/celbpf_test.go
  pkg/celbpf/codegen.go
  pkg/celbpf/compiler.go
  pkg/celbpf/types.go
Owners: @cilium/tetragon

policyfilter: fix nok8s test build
  .github/workflows/gotests.yml
  pkg/policyfilter/nok8s.go
Owners: @willfindlay, @cilium/tetragon

policyfilter: fix nok8s test build
  .github/workflows/gotests.yml
  pkg/policyfilter/nok8s.go
Owners: @willfindlay, @cilium/tetragon

tetragon: Remove op argument from generic_output
  bpf/process/bpf_generic_fentry.c
  bpf/process/bpf_generic_fexit.c
  bpf/process/bpf_generic_kprobe.c
  bpf/process/bpf_generic_lsm_output.c
  bpf/process/bpf_generic_rawtp.c
  bpf/process/bpf_generic_retkprobe.c
  bpf/process/bpf_generic_retuprobe.c
  bpf/process/bpf_generic_tracepoint.c
  bpf/process/bpf_generic_uprobe.c
  bpf/process/bpf_generic_usdt.c
  bpf/process/generic_calls.h
Owners: @cilium/tetragon

tetragon: Remove event cache argument from selector_arg_offset
  bpf/process/generic_calls.h
  bpf/process/types/basic.h
Owners: @cilium/tetragon

tetragon: Remove filter argument from selector_arg_offset
  bpf/process/generic_calls.h
  bpf/process/types/basic.h
Owners: @cilium/tetragon

uprobe/kprobe: Add setupCelExpr and use it to setup cel expression
  pkg/sensors/tracing/generic.go
  pkg/sensors/tracing/generickprobe.go
  pkg/sensors/tracing/genericuprobe.go
Owners: @cilium/tetragon

sensors: add support for fd type to retrieve file*
  bpf/process/generic_calls.h
  bpf/process/generic_path.h
  bpf/process/types/basic.h
  pkg/sensors/tracing/args_linux.go
  pkg/sensors/tracing/fentry_test.go
  pkg/sensors/tracing/generictracepoint.go
  pkg/sensors/tracing/kprobe_test.go
  tests/policytests/kprobes.go
Owners: @cilium/tetragon

celbpf: fix 32-bit issue by using ALU32
  pkg/celbpf/celbpf_test.go
  pkg/celbpf/codegen.go
  pkg/celbpf/compiler.go
  pkg/celbpf/types.go
Owners: @cilium/tetragon

pkg/process: reset process color to inUse when reused in GC
  pkg/process/cache.go
  pkg/process/cache_test.go
Owners: @cilium/tetragon

pkg/process: avoid double parent refcnt decrease on LRU eviction
  pkg/grpc/exec/exec.go
  pkg/process/cache.go
  pkg/process/cache_test.go
  pkg/process/process.go
Owners: @cilium/tetragon

pkg/process: use atomic for color field in ProcessInternal
  pkg/process/cache.go
  pkg/process/cache_test.go
  pkg/process/process.go
Owners: @cilium/tetragon

test: modernize color race test (range-over-int and WaitGroup.Go)
  pkg/process/cache_test.go
Owners: @cilium/tetragon

pkg/process: reset process color to inUse when reused in GC
  pkg/process/cache.go
  pkg/process/cache_test.go
Owners: @cilium/tetragon

pkg/process: avoid double parent refcnt decrease on LRU eviction
  pkg/grpc/exec/exec.go
  pkg/process/cache.go
  pkg/process/cache_test.go
  pkg/process/process.go
Owners: @cilium/tetragon

pkg/process: use atomic for color field in ProcessInternal
  pkg/process/cache.go
  pkg/process/cache_test.go
  pkg/process/process.go
Owners: @cilium/tetragon

test: modernize color race test (range-over-int and WaitGroup.Go)
  pkg/process/cache_test.go
Owners: @cilium/tetragon

celbpf: fix 32-bit issue by using ALU32
  pkg/celbpf/celbpf_test.go
  pkg/celbpf/codegen.go
  pkg/celbpf/compiler.go
  pkg/celbpf/types.go
Owners: @cilium/tetragon

test/exporter: prevent fakeNotifier.RemoveListener from blocking
  pkg/exporter/exporter_test.go
Owners: @cilium/tetragon

exporter: fix data race and runaway rotation timer
  pkg/exporter/exporter.go
Owners: @cilium/tetragon

ci: add check for image tags in k8s values.yaml
  .github/workflows/lint-helm.yaml
Owners: @willfindlay

Makefile: add target to check images tags in k8s values
  install/kubernetes/Makefile
Owners: @cilium/tetragon

Makefile.defs: update BUF_BREAKING_AGAINST_BRANCH
  Makefile.defs
Owners: @cilium/tetragon

fix(ci): fix windows CI.
  .github/workflows/windows-build-smoke-test.yml
Owners: @willfindlay

Makefile.defs: update BUF_BREAKING_AGAINST_BRANCH
  Makefile.defs
Owners: @cilium/tetragon

fix(ci): fix windows CI.
  .github/workflows/windows-build-smoke-test.yml
Owners: @willfindlay

ci: bump go test job timeout to 60m
  .github/workflows/gotests.yml
Owners: @willfindlay

ci: bump go test job timeout to 60m
  .github/workflows/gotests.yml
Owners: @willfindlay
