Repository cilium/tetragon, changes with the owners that CODEOWNERS names for each.
All owners: @cilium/tetragon, @willfindlay, @kkourt, @mtardy

docs: Add separate ProcessLoader ancestors configuration
  docs/content/en/docs/reference/helm-chart.md
  docs/data/tetragon_flags.yaml
  install/kubernetes/tetragon/README.md
Owners: @mtardy, @cilium/tetragon

test(tetra): Add policy mode stats checks and checker utility
  pkg/policyconf/test/mode_test.go
  pkg/testutils/policystats/stats.go
Owners: @cilium/tetragon

api: Add Int32ListArg to KprobeArgument
  api/v1/README.md
  api/v1/tetragon/codegen/eventchecker/eventchecker.pb.go
  api/v1/tetragon/tetragon.pb.go
  api/v1/tetragon/tetragon.pb.json.go
  api/v1/tetragon/tetragon.proto
  contrib/tetragon-rthooks/vendor/github.com/cilium/tetragon/api/v1/tetragon/tetragon.pb.go
  contrib/tetragon-rthooks/vendor/github.com/cilium/tetragon/api/v1/tetragon/tetragon.pb.json.go
  contrib/tetragon-rthooks/vendor/github.com/cilium/tetragon/api/v1/tetragon/tetragon.proto
  docs/content/en/docs/reference/grpc-api.md
  install/kubernetes/tetragon/crds-yaml/cilium.io_tracingpolicies.yaml
  install/kubernetes/tetragon/crds-yaml/cilium.io_tracingpoliciesnamespaced.yaml
  pkg/generictypes/generictypes.go
  pkg/k8s/apis/cilium.io/client/crds/v1alpha1/cilium.io_tracingpolicies.yaml
  pkg/k8s/apis/cilium.io/client/crds/v1alpha1/cilium.io_tracingpoliciesnamespaced.yaml
  pkg/k8s/apis/cilium.io/v1alpha1/types.go
  vendor/github.com/cilium/tetragon/api/v1/tetragon/codegen/eventchecker/eventchecker.pb.go
  vendor/github.com/cilium/tetragon/api/v1/tetragon/tetragon.pb.go
  vendor/github.com/cilium/tetragon/api/v1/tetragon/tetragon.pb.json.go
  vendor/github.com/cilium/tetragon/api/v1/tetragon/tetragon.proto
  vendor/github.com/cilium/tetragon/pkg/k8s/apis/cilium.io/client/crds/v1alpha1/cilium.io_tracingpolicies.yaml
  vendor/github.com/cilium/tetragon/pkg/k8s/apis/cilium.io/client/crds/v1alpha1/cilium.io_tracingpoliciesnamespaced.yaml
  vendor/github.com/cilium/tetragon/pkg/k8s/apis/cilium.io/v1alpha1/types.go
Owners: @cilium/tetragon, @mtardy

pkg/sensors: Support int32_arr in BPF and userspace
  bpf/process/generic_calls.h
  bpf/process/types/basic.h
  pkg/api/tracingapi/client_kprobe.go
  pkg/grpc/tracing/tracing.go
  pkg/sensors/tracing/args_linux.go
  pkg/sensors/tracing/generickprobe.go
Owners: @cilium/tetragon

pkg/sensors: Add test for int32_arr
  examples/tracingpolicy/pipe.yaml
  examples/tracingpolicy/socketpair.yaml
  pkg/sensors/tracing/args_linux_test.go
  pkg/sensors/tracing/pipe2_test.go
Owners: @cilium/tetragon

pkg/option: allow policy-filter-map-entries configurable via flag
  bpf/process/policy_filter.h
  docs/data/tetragon_flags.yaml
  pkg/defaults/defaults.go
  pkg/defaults/defaults_windows.go
  pkg/option/config.go
  pkg/option/flags.go
  pkg/policyfilter/map.go
  pkg/sensors/program/loader_linux.go
Owners: @cilium/tetragon, @mtardy

fix: fix error message typo
  pkg/policyfilter/map.go
Owners: @cilium/tetragon

Update cgroup-rate.md
  docs/content/en/docs/concepts/cgroup-rate.md
Owners: @mtardy, @cilium/tetragon

Update cgroup-rate.md
  docs/content/en/docs/concepts/cgroup-rate.md
Owners: @mtardy, @cilium/tetragon

tetragon: Move argument reading code to __read_arg
  bpf/process/generic_calls.h
Owners: @cilium/tetragon

tetragon: Split __read_arg function
  bpf/process/generic_calls.h
Owners: @cilium/tetragon

tetragon: Wire extra process event tail call
  bpf/include/api.h
  bpf/process/bpf_generic_kprobe.c
  bpf/process/bpf_generic_lsm_core.c
  bpf/process/bpf_generic_rawtp.c
  bpf/process/bpf_generic_tracepoint.c
  bpf/process/bpf_generic_uprobe.c
  bpf/process/bpf_generic_usdt.c
  bpf/process/generic_calls.h
  bpf/process/types/basic.h
  pkg/sensors/tracing/kprobe_test.go
  pkg/sensors/tracing/uprobe_test.go
Owners: @cilium/tetragon

tetragon: Add support for SubString operator in matchArg selector
  bpf/include/api.h
  bpf/lib/config.h
  bpf/process/string_maps.h
  bpf/process/types/basic.h
  bpf/process/types/operations.h
  pkg/k8s/apis/cilium.io/v1alpha1/types.go
  pkg/selectors/kernel.go
  pkg/selectors/selectors.go
  pkg/sensors/program/loader_linux.go
  pkg/sensors/tracing/genericuprobe.go
  pkg/sensors/tracing/selectors.go
  vendor/github.com/cilium/tetragon/pkg/k8s/apis/cilium.io/v1alpha1/types.go
Owners: @cilium/tetragon

tetragon: Use selectorsMaploads for uprobe selectors loads
  pkg/sensors/tracing/genericuprobe.go
Owners: @cilium/tetragon

tetragon: Add bpf.HasLoopHelper function
  pkg/bpf/detect_linux.go
Owners: @cilium/tetragon

tetragon: Move execve_msg_heap_map to execve sensor
  bpf/lib/process.h
  bpf/process/bpf_execve_event.c
Owners: @cilium/tetragon

tetragon: Move struct msg_execve_event to msg.h
  bpf/lib/bpf_task.h
  bpf/lib/common.h
  bpf/lib/process.h
  bpf/process/bpf_process_event.h
  bpf/process/msg.h
Owners: @cilium/tetragon

tetragon: Move execve_map objects and functions in execve_map.h header
  bpf/cgroup/bpf_cgroup_events.h
  bpf/lib/bpf_task.h
  bpf/lib/process.h
  bpf/process/bpf_execve_bprm_commit_creds.c
  bpf/process/bpf_execve_map_update.c
  bpf/process/bpf_exit.h
  bpf/process/bpf_fork.c
  bpf/process/bpf_loader.c
  bpf/process/execve_map.h
  bpf/process/generic_calls.h
  bpf/process/msg.h
Owners: @cilium/tetragon

tetragon: Add support to attach uprobe preload program
  pkg/sensors/program/loader_linux.go
  pkg/sensors/program/program.go
  pkg/sensors/tracing/args_linux.go
  pkg/sensors/tracing/consts.go
  pkg/sensors/tracing/genericuprobe.go
Owners: @cilium/tetragon

tetragon: Add support for config variables
  bpf/lib/config.h
  bpf/process/generic_calls.h
  pkg/sensors/program/loader_linux.go
Owners: @cilium/tetragon

tetragon: Move struct msg_generic_kprobe to msg.h
  bpf/lib/bpf_task.h
  bpf/lib/common.h
  bpf/process/bpf_process_event.h
  bpf/process/generic_calls.h
  bpf/process/msg.h
Owners: @cilium/tetragon

tetragon: Add uprobe preload program
  bpf/errmetrics/fileids.h
  bpf/process/bpf_generic_uprobe.c
  bpf/process/generic_calls.h
  bpf/process/types/basic.h
  bpf/process/uprobe_preload.h
Owners: @cilium/tetragon

tetragon: Move read_exe to execve sensor
  bpf/errmetrics/fileids.h
  bpf/lib/process.h
  bpf/process/bpf_process_event.h
Owners: @cilium/tetragon

tetragon: Add test_3 to regs-override test program
  contrib/tester-progs/regs-override.c
Owners: @cilium/tetragon

tetragon: Add bpf.HasKfunc function
  pkg/bpf/detect_linux.go
Owners: @cilium/tetragon

readHook -> hook
  pkg/sensors/tracing/kprobe_test.go
Owners: @cilium/tetragon

tetragon: Add uprobe preload test with substring match
  pkg/sensors/tracing/uprobe_amd64_test.go
Owners: @cilium/tetragon

tetragon: Add uprobe preload test
  pkg/sensors/tracing/uprobe_amd64_test.go
Owners: @cilium/tetragon

tetragon: Add uprobe preload test with substring match with override
  pkg/sensors/tracing/uprobe_amd64_test.go
Owners: @cilium/tetragon

test fix
  pkg/sensors/tracing/kprobe_test.go
Owners: @cilium/tetragon

tetragon: Add codegen change for previous commits
  install/kubernetes/tetragon/crds-yaml/cilium.io_tracingpolicies.yaml
  install/kubernetes/tetragon/crds-yaml/cilium.io_tracingpoliciesnamespaced.yaml
  pkg/k8s/apis/cilium.io/client/crds/v1alpha1/cilium.io_tracingpolicies.yaml
  pkg/k8s/apis/cilium.io/client/crds/v1alpha1/cilium.io_tracingpoliciesnamespaced.yaml
  pkg/k8s/apis/cilium.io/v1alpha1/version.go
  vendor/github.com/cilium/tetragon/pkg/k8s/apis/cilium.io/client/crds/v1alpha1/cilium.io_tracingpolicies.yaml
  vendor/github.com/cilium/tetragon/pkg/k8s/apis/cilium.io/client/crds/v1alpha1/cilium.io_tracingpoliciesnamespaced.yaml
  vendor/github.com/cilium/tetragon/pkg/k8s/apis/cilium.io/v1alpha1/version.go
Owners: @cilium/tetragon

fix
  pkg/sensors/tracing/uprobe_amd64_test.go
Owners: @cilium/tetragon

tetragon: Use read_reg function in usdt set action
  bpf/process/generic_calls.h
  bpf/process/regs.h
Owners: @cilium/tetragon

tetragon: Fix usdt-set.yaml example policy
  examples/tracingpolicy/usdt-set.yaml
Owners: @cilium/tetragon

tetragon: Pin stack_trace_map only when it's used
  pkg/sensors/tracing/generickprobe.go
Owners: @cilium/tetragon

tetragon: Pin fdinstall_map only when it's used
  pkg/sensors/tracing/generickprobe.go
  pkg/sensors/tracing/kprobe_test.go
Owners: @cilium/tetragon

tetragon: Pin override_tasks only when it's used
  pkg/sensors/tracing/generickprobe.go
Owners: @cilium/tetragon

tetragon: Pin selector maps only when they are used
  pkg/selectors/kernel.go
  pkg/sensors/tracing/generickprobe.go
Owners: @cilium/tetragon

tetragon: Fix asm parseConst parsing
  pkg/asm/assignment_linux_amd64.go
  pkg/asm/assignment_linux_amd64_test.go
Owners: @cilium/tetragon

tetragon: Use string_maps_heap map in match_binaries
  bpf/process/types/basic.h
Owners: @cilium/tetragon

CODEOWNERS:

# Request a review from the Tetragon team on any PR
* @cilium/tetragon

# Request a review from William when codegen is edited
cmd/protoc-gen-go-tetragon/ @willfindlay

# Request a review from William when CI is edited
.github/workflows/ @willfindlay

# Request a review from kkourt when core sensor files are modified
pkg/src/sensors/ @kkourt

# Request a review from mtardy when anything from docs is modified but do not
# block on approval from anyone in the tetragon team
/docs/ @mtardy @cilium/tetragon
