Repository cilium/tetragon, changes with the owners that CODEOWNERS names for each.
All owners: @cilium/tetragon, @willfindlay, @kkourt, @mtardy

docs: update kind instructions for /proc
  docs/content/en/docs/getting-started/install-k8s.md
Owners: @mtardy, @cilium/tetragon

docs: sysdump and bugtool
  docs/content/en/docs/troubleshooting/_index.md
Owners: @mtardy, @cilium/tetragon

ci: fix branch name
  .github/workflows/build-images-ci.yml
Owners: @willfindlay

bpf: Dual-license the code as GPL-2.0 OR BSD-2-Clause (update text)
  README.md
  bpf/COPYING
  bpf/LICENSE.BSD-2-Clause
  bpf/LICENSE.GPL-2.0
Owners: @cilium/tetragon

Prepare for v1.0.0 release
  docs/content/en/docs/reference/helm-chart.md
  docs/hugo.toml
  install/kubernetes/Chart.yaml
  install/kubernetes/README.md
  install/kubernetes/values.yaml
Owners: @mtardy, @cilium/tetragon

Prepare for v1.0.0 release
  docs/content/en/docs/reference/helm-chart.md
  docs/hugo.toml
  install/kubernetes/Chart.yaml
  install/kubernetes/README.md
  install/kubernetes/values.yaml
Owners: @mtardy, @cilium/tetragon

starting 1.1 development
  pkg/k8s/apis/cilium.io/v1alpha1/version.go
  vendor/github.com/cilium/tetragon/pkg/k8s/apis/cilium.io/v1alpha1/version.go
Owners: @cilium/tetragon

Add a metric to provide per-event missed events
  bpf/alignchecker/bpf_alignchecker.c
  bpf/cgroup/bpf_cgroup_events.h
  bpf/lib/msg_types.h
  bpf/lib/process.h
  bpf/process/bpf_execve_event.c
  bpf/process/bpf_exit.h
  bpf/process/bpf_fork.c
  bpf/process/bpf_generic_kprobe.c
  bpf/process/bpf_generic_retkprobe.c
  bpf/process/bpf_generic_tracepoint.c
  bpf/process/bpf_generic_uprobe.c
  bpf/process/bpf_loader.c
  bpf/process/data_event.h
  bpf/process/types/basic.h
  pkg/alignchecker/alignchecker.go
  pkg/api/processapi/processapi.go
  pkg/metrics/eventmetrics/collector.go
  pkg/metrics/eventmetrics/eventmetrics.go
  pkg/metrics/metricsconfig/initmetrics.go
  pkg/sensors/base/base.go
Owners: @cilium/tetragon

pkg/option: add metrics-label-filter flag
  docs/content/en/docs/reference/daemon-flags.md
  examples/configuration/tetragon.yaml
  pkg/option/flags.go
Owners: @mtardy, @cilium/tetragon

starting 1.1 development
  pkg/k8s/apis/cilium.io/v1alpha1/version.go
  vendor/github.com/cilium/tetragon/pkg/k8s/apis/cilium.io/v1alpha1/version.go
Owners: @cilium/tetragon

Update gitignore
  contrib/tester-progs/.gitignore
Owners: @cilium/tetragon

Add a metric to provide per-event missed events
  bpf/alignchecker/bpf_alignchecker.c
  bpf/cgroup/bpf_cgroup_events.h
  bpf/lib/msg_types.h
  bpf/lib/process.h
  bpf/process/bpf_execve_event.c
  bpf/process/bpf_exit.h
  bpf/process/bpf_fork.c
  bpf/process/bpf_generic_kprobe.c
  bpf/process/bpf_generic_retkprobe.c
  bpf/process/bpf_generic_tracepoint.c
  bpf/process/bpf_generic_uprobe.c
  bpf/process/bpf_loader.c
  bpf/process/data_event.h
  bpf/process/types/basic.h
  pkg/alignchecker/alignchecker.go
  pkg/api/processapi/processapi.go
  pkg/metrics/eventmetrics/collector.go
  pkg/metrics/eventmetrics/eventmetrics.go
  pkg/metrics/metricsconfig/initmetrics.go
  pkg/sensors/base/base.go
Owners: @cilium/tetragon

backports/v1.0: Add a metric to provide per-event missed events
  bpf/alignchecker/bpf_alignchecker.c
  bpf/cgroup/bpf_cgroup_events.h
  bpf/lib/msg_types.h
  bpf/lib/process.h
  bpf/process/bpf_execve_event.c
  bpf/process/bpf_exit.h
  bpf/process/bpf_fork.c
  bpf/process/bpf_generic_kprobe.c
  bpf/process/bpf_generic_retkprobe.c
  bpf/process/bpf_generic_tracepoint.c
  bpf/process/bpf_generic_uprobe.c
  bpf/process/bpf_loader.c
  bpf/process/data_event.h
  bpf/process/types/basic.h
  pkg/alignchecker/alignchecker.go
  pkg/api/processapi/processapi.go
  pkg/metrics/eventmetrics/collector.go
  pkg/metrics/eventmetrics/eventmetrics.go
  pkg/metrics/metricsconfig/initmetrics.go
  pkg/sensors/base/base.go
Owners: @cilium/tetragon

grpc: nil check process.Pid
  pkg/grpc/exec/exec.go
  pkg/grpc/tracing/tracing.go
  pkg/metrics/eventcachemetrics/eventcachemetrics.go
Owners: @cilium/tetragon

server: make a copy of exit messages when filtering fields
  pkg/filters/fields.go
  pkg/server/server.go
Owners: @cilium/tetragon

server: make a copy of exit messages when filtering fields
  pkg/filters/fields.go
  pkg/server/server.go
Owners: @cilium/tetragon

grpc: nil check process.Pid
  pkg/grpc/exec/exec.go
  pkg/grpc/tracing/tracing.go
  pkg/metrics/eventcachemetrics/eventcachemetrics.go
Owners: @cilium/tetragon

server: make a copy of exit messages when filtering fields
  pkg/filters/fields.go
  pkg/server/server.go
Owners: @cilium/tetragon

grpc: nil check process.Pid
  pkg/grpc/exec/exec.go
  pkg/grpc/tracing/tracing.go
  pkg/metrics/eventcachemetrics/eventcachemetrics.go
Owners: @cilium/tetragon

server: make a copy of exit messages when filtering fields
  pkg/filters/fields.go
  pkg/server/server.go
Owners: @cilium/tetragon

grpc: nil check process.Pid
  pkg/grpc/exec/exec.go
  pkg/grpc/tracing/tracing.go
  pkg/metrics/eventcachemetrics/eventcachemetrics.go
Owners: @cilium/tetragon

filters/field: small for for event copying logic
  pkg/filters/fields.go
Owners: @cilium/tetragon

ebpf: Remove unused error_flags in event_wake_up_new_task
  bpf/process/bpf_fork.c
Owners: @cilium/tetragon

docs: update tetragon.io title
  docs/content/en/_index.html
  docs/hugo.toml
Owners: @mtardy, @cilium/tetragon

docs: update tetragon.io title
  docs/content/en/_index.html
  docs/hugo.toml
Owners: @mtardy, @cilium/tetragon

tetra/getevents: remove field filter copy logic
  cmd/tetra/getevents/io_reader_client.go
Owners: @cilium/tetragon

backports/v1.0: Add a metric to provide per-event missed events
  bpf/alignchecker/bpf_alignchecker.c
  bpf/cgroup/bpf_cgroup_events.h
  bpf/lib/msg_types.h
  bpf/lib/process.h
  bpf/process/bpf_execve_event.c
  bpf/process/bpf_exit.h
  bpf/process/bpf_fork.c
  bpf/process/bpf_generic_kprobe.c
  bpf/process/bpf_generic_retkprobe.c
  bpf/process/bpf_generic_tracepoint.c
  bpf/process/bpf_generic_uprobe.c
  bpf/process/bpf_loader.c
  bpf/process/data_event.h
  bpf/process/types/basic.h
  pkg/alignchecker/alignchecker.go
  pkg/api/processapi/processapi.go
  pkg/metrics/eventmetrics/collector.go
  pkg/metrics/eventmetrics/eventmetrics.go
  pkg/metrics/metricsconfig/initmetrics.go
  pkg/sensors/base/base.go
Owners: @cilium/tetragon

fieldfilters: remove copy and apply filter at json export
  pkg/exporter/exporter.go
  pkg/server/server.go
Owners: @cilium/tetragon

filters/fields: remove needscopy logic
  pkg/filters/fields.go
Owners: @cilium/tetragon

filters/fields: do a deep copy before filtering
  cmd/tetra/getevents/io_reader_client.go
  pkg/filters/fields.go
  pkg/filters/fields_test.go
  pkg/server/server.go
Owners: @cilium/tetragon

renovate: let renovate update gops in Dockerfile
  .github/renovate.json5
  Dockerfile
Owners: @cilium/tetragon

ebpf: Fix missing parent issue in clone events
  bpf/process/bpf_fork.c
Owners: @cilium/tetragon

ebpf: Ignore kernel threads during clone events
  bpf/process/bpf_fork.c
Owners: @cilium/tetragon

pkg/selectors: use a struct to hold the binary names related vars
  pkg/selectors/selectors.go
Owners: @cilium/tetragon

bpf: add a new binary_path struct to execve_map_value
  bpf/lib/process.h
Owners: @cilium/tetragon

pkg/sensors/exec: add the binary_path struct to userspace
  pkg/api/processapi/processapi.go
  pkg/sensors/exec/execvemap/execve.go
  pkg/sensors/exec/procevents/proc_reader.go
Owners: @cilium/tetragon

pkg/sensors/exec/procevents: rework proc reader for exe paths
  pkg/sensors/exec/procevents/proc_reader.go
Owners: @cilium/tetragon

bpf: copy path info from excve_event to exceve_map
  bpf/process/bpf_execve_event.c
Owners: @cilium/tetragon

pkg/selectors: add matchBinary prefix operator
  pkg/k8s/apis/cilium.io/client/crds/v1alpha1/cilium.io_tracingpolicies.yaml
  pkg/k8s/apis/cilium.io/client/crds/v1alpha1/cilium.io_tracingpoliciesnamespaced.yaml
  pkg/k8s/apis/cilium.io/v1alpha1/types.go
  pkg/selectors/kernel.go
  vendor/github.com/cilium/tetragon/pkg/k8s/apis/cilium.io/client/crds/v1alpha1/cilium.io_tracingpolicies.yaml
  vendor/github.com/cilium/tetragon/pkg/k8s/apis/cilium.io/client/crds/v1alpha1/cilium.io_tracingpoliciesnamespaced.yaml
  vendor/github.com/cilium/tetragon/pkg/k8s/apis/cilium.io/v1alpha1/types.go
Owners: @cilium/tetragon

bpf: add prefix operator for match binaries implementation
  bpf/process/types/basic.h
Owners: @cilium/tetragon

CODEOWNERS:

# Request a review from the Tetragon team on any PR
* @cilium/tetragon

# Request a review from William when codegen is edited
cmd/protoc-gen-go-tetragon/ @willfindlay

# Request a review from William when CI is edited
.github/workflows/ @willfindlay

# Request a review from kkourt when core sensor files are modified
pkg/src/sensors/ @kkourt

# Request a review from mtardy when anything from docs is modified but do not
# block on approval from anyone in the tetragon team
/docs/ @mtardy @cilium/tetragon
