Repository cilium/tetragon, changes with the owners that CODEOWNERS names for each.
All owners: @cilium/tetragon, @willfindlay, @kkourt, @mtardy

CODEOWNERS:

# Request a review from the Tetragon team on any PR
* @cilium/tetragon

# Request a review from William when codegen is edited
cmd/protoc-gen-go-tetragon/ @willfindlay

# Request a review from William when CI is edited
.github/workflows/ @willfindlay

# Request a review from kkourt when core sensor files are modified
pkg/src/sensors/ @kkourt

# Request a review from mtardy when anything from docs is modified but do not
# block on approval from anyone in the tetragon team
/docs/ @mtardy @cilium/tetragon

Bump CRD schema version
  pkg/k8s/apis/cilium.io/v1alpha1/version.go
Owners: @cilium/tetragon

lint
  pkg/grpc/tracing/tracing.go
Owners: @cilium/tetragon

bugtool: save gops path if any and allow to change it
  cmd/tetra/bugtool/bugtool.go
  pkg/bugtool/bugtool.go
  pkg/observer/observertesthelper/observer_test_helper.go
Owners: @cilium/tetragon

tarball: copy gops into tarball
  Dockerfile.tarball
Owners: @cilium/tetragon

pprof: get pprof-heap profile from gops
  pkg/bugtool/bugtool.go
Owners: @cilium/tetragon

ci:tarball: ensure that bugtool gops heap works
  .github/workflows/packages-e2e-tests.yaml
Owners: @willfindlay

bugtool: save gops path if any and allow to change it
  cmd/tetra/bugtool/bugtool.go
  pkg/bugtool/bugtool.go
  pkg/observer/observertesthelper/observer_test_helper.go
Owners: @cilium/tetragon

pprof: get pprof-heap profile from gops
  pkg/bugtool/bugtool.go
Owners: @cilium/tetragon

tarball: copy gops into tarball
  Dockerfile.tarball
Owners: @cilium/tetragon

ci:tarball: ensure that bugtool gops heap works
  .github/workflows/packages-e2e-tests.yaml
Owners: @willfindlay

tetragon: Add support to use security_ functions in killer
  pkg/arch/arch.go
  pkg/sensors/tracing/killer.go
Owners: @cilium/tetragon

tetragon: Add support to use NotifyKiller action from kprobes
  bpf/process/types/basic.h
  pkg/sensors/tracing/generickprobe.go
Owners: @cilium/tetragon

tetragon: Log program attach string when loading
  pkg/sensors/load.go
Owners: @cilium/tetragon

tetragon: Return error in case we failed to compile pattern
  pkg/ftrace/ftrace.go
Owners: @cilium/tetragon

tetragon: Check fmodret support based on the symbol type
  pkg/sensors/tracing/killer.go
Owners: @cilium/tetragon

tetragon: Rename killer's syscalls to calls
  docs/content/en/docs/concepts/tracing-policy/selectors.md
  examples/tracingpolicy/killer.yaml
  pkg/k8s/apis/cilium.io/client/crds/v1alpha1/cilium.io_tracingpolicies.yaml
  pkg/k8s/apis/cilium.io/client/crds/v1alpha1/cilium.io_tracingpoliciesnamespaced.yaml
  pkg/k8s/apis/cilium.io/v1alpha1/types.go
  pkg/k8s/apis/cilium.io/v1alpha1/zz_generated.deepcopy.go
  pkg/sensors/tracing/killer.go
  pkg/sensors/tracing/killer_builder.go
  vendor/github.com/cilium/tetragon/pkg/k8s/apis/cilium.io/client/crds/v1alpha1/cilium.io_tracingpolicies.yaml
  vendor/github.com/cilium/tetragon/pkg/k8s/apis/cilium.io/client/crds/v1alpha1/cilium.io_tracingpoliciesnamespaced.yaml
  vendor/github.com/cilium/tetragon/pkg/k8s/apis/cilium.io/v1alpha1/types.go
  vendor/github.com/cilium/tetragon/pkg/k8s/apis/cilium.io/v1alpha1/zz_generated.deepcopy.go
Owners: @mtardy, @cilium/tetragon

tetragon: Add direct-write-tester tester prog
  contrib/tester-progs/Makefile
  contrib/tester-progs/direct-write-tester.c
Owners: @cilium/tetragon

tetragon: Add killer test for security hook
  pkg/sensors/tracing/killer_test.go
Owners: @cilium/tetragon

pprof: get pprof-heap profile from gops
  pkg/bugtool/bugtool.go
Owners: @cilium/tetragon

bugtool: save gops path if any and allow to change it
  cmd/tetra/bugtool/bugtool.go
  pkg/bugtool/bugtool.go
  pkg/observer/observertesthelper/observer_test_helper.go
Owners: @cilium/tetragon

tarball: copy gops into tarball
  Dockerfile.tarball
Owners: @cilium/tetragon

ci:tarball: ensure that bugtool gops heap works
  .github/workflows/packages-e2e-tests.yaml
Owners: @willfindlay

Git-ignore drop-privileges along with other binaries
  contrib/tester-progs/.gitignore
Owners: @cilium/tetragon

renovate: remove regex for removed GOLANGCILINT_WANT_VERSION
  .github/renovate.json5
Owners: @cilium/tetragon

renovate: make Makefile docker image regex more general
  .github/renovate.json5
Owners: @cilium/tetragon

golangci-lint: removes specific Dockerfile and fix go toolchain issue
  Dockerfile.golangci-lint
  Makefile
Owners: @cilium/tetragon

Git-ignore drop-privileges along with other binaries
  contrib/tester-progs/.gitignore
Owners: @cilium/tetragon

golangci-lint: removes specific Dockerfile and fix go toolchain issue
  Dockerfile.golangci-lint
  Makefile
Owners: @cilium/tetragon

renovate: make Makefile docker image regex more general
  .github/renovate.json5
Owners: @cilium/tetragon

renovate: remove regex for removed GOLANGCILINT_WANT_VERSION
  .github/renovate.json5
Owners: @cilium/tetragon

CI: validate-crd
  .github/workflows/validate-crd.yaml
Owners: @willfindlay

validation: improve error message when failing to load a TracingPolicy
  pkg/tracingpolicy/generictracingpolicy.go
  pkg/tracingpolicy/generictracingpolicy_test.go
Owners: @cilium/tetragon

workflows: use defined actions/checkout version in validate-crd.yaml
  .github/workflows/validate-crd.yaml
Owners: @willfindlay

validation: improve error message when failing to load a TracingPolicy
  pkg/tracingpolicy/generictracingpolicy.go
  pkg/tracingpolicy/generictracingpolicy_test.go
Owners: @cilium/tetragon

Tutorial: Correlate additional metadata with events
  docs/content/en/docs/tutorials/correlate-metadata.md
Owners: @mtardy, @cilium/tetragon

bugtool: save gops path if any and allow to change it
  cmd/tetra/bugtool/bugtool.go
  pkg/bugtool/bugtool.go
  pkg/observer/observer_test_helper.go
Owners: @cilium/tetragon

[PATCH 2/4] pprof: get pprof-heap profile from gops
  pkg/bugtool/bugtool.go
Owners: @cilium/tetragon

tarball: copy gops into tarball
  Dockerfile.tarball
Owners: @cilium/tetragon

ci:tests: add tarball package CI tests
  .github/workflows/packages-e2e-tests.yaml
Owners: @willfindlay

Get correct process time during exec/clone
  bpf/process/bpf_execve_event.c
  bpf/process/bpf_fork.c
  bpf/process/time.h
Owners: @cilium/tetragon
