Repository cilium/tetragon, changes with the owners that CODEOWNERS names for each.
All owners: @cilium/tetragon, @willfindlay, @kkourt, @mtardy

helm: expose Tetragon server over UDS
  Makefile
  docs/content/en/docs/concepts/events.md
  docs/content/en/docs/reference/helm-chart.md
  examples/configuration/tetragon.conf.d/server-address
  examples/configuration/tetragon.yaml
  install/kubernetes/tetragon/README.md
  install/kubernetes/tetragon/values.yaml
Owners: @cilium/tetragon, @mtardy

bpf: detect faults for basic types
  bpf/process/generic_calls.h
  bpf/process/generic_path.h
  bpf/process/types/basic.h
Owners: @cilium/tetragon

tracing: update expected maps
  pkg/sensors/tracing/tracepoint_test.go
Owners: @cilium/tetragon

tracing: set message for basic type faults
  pkg/sensors/tracing/args_linux.go
Owners: @cilium/tetragon

bpf: expose string read faults from preload
  bpf/process/user_preload.h
Owners: @cilium/tetragon

krpobes: add test for NULL string args
  pkg/sensors/tracing/kprobe_test.go
  tests/policytests/kprobes.go
Owners: @cilium/tetragon

uprobe: mask index with a mask
  bpf/process/user_preload.h
Owners: @cilium/tetragon

tester-progs: add null mount program
  contrib/tester-progs/.gitignore
  contrib/tester-progs/Makefile
  contrib/tester-progs/null-mount.c
Owners: @cilium/tetragon

tetragon: teragon -> tetragon
  contrib/tetragon-rthooks/docs/demo.md
  contrib/tetragon-rthooks/scripts/minikube-install-hook.sh
  pkg/testutils/policytest/observertest.go
  pkg/testutils/sensors/testrun_linux.go
  pkg/testutils/sensors/testrun_windows.go
Owners: @cilium/tetragon

bpf: initialize retprobe return arg status
  bpf/process/generic_calls.h
Owners: @cilium/tetragon

uprobe: test NULL string arguments
  contrib/tester-progs/uprobe-lib.c
  contrib/tester-progs/uprobe-test.c
  pkg/sensors/tracing/uprobe_test.go
Owners: @cilium/tetragon

cleanup: drop `TracingPolicyNamespaced` interface.
  cmd/tetragon/main.go
  pkg/k8s/apis/cilium.io/v1alpha1/tracing_policy_types.go
  pkg/policyconf/policyconf.go
  pkg/policystats/policystats.go
  pkg/sensors/handler.go
  pkg/sensors/k8s.go
  pkg/sensors/manager.go
  pkg/sensors/nok8s.go
  pkg/sensors/sensors.go
  pkg/sensors/tracing/enforcer.go
  pkg/sensors/tracing/policyhandler_linux.go
  pkg/server/server.go
  pkg/testutils/policyfilter/tester/pftester.go
  pkg/tracingpolicy/generictracingpolicy.go
  pkg/tracingpolicy/generictracingpolicy_nok8s.go
  pkg/tracingpolicy/generictracingpolicy_test.go
  pkg/tracingpolicy/tracingpolicy.go
  pkg/tracingpolicy/utils.go
  pkg/watcher/crdwatcher/tracingpolicy.go
  vendor/github.com/cilium/tetragon/pkg/k8s/apis/cilium.io/v1alpha1/tracing_policy_types.go
Owners: @cilium/tetragon

tracingpolicy: add Labels for nok8s builds
  pkg/tracingpolicy/generictracingpolicy_nok8s.go
Owners: @cilium/tetragon

tracingpolicy: improve TestYamlLseek
  pkg/tracingpolicy/generictracingpolicy_test.go
Owners: @cilium/tetragon

Test
  install/kubernetes/tetragon/crds-yaml/cilium.io_tracingpolicies.yaml
  install/kubernetes/tetragon/crds-yaml/cilium.io_tracingpoliciesnamespaced.yaml
  pkg/cgtracker/test/cgtracker_test.go
  pkg/crdutils/crdutils_test.go
  pkg/k8s/apis/cilium.io/client/crds/v1alpha1/cilium.io_tracingpolicies.yaml
  pkg/k8s/apis/cilium.io/client/crds/v1alpha1/cilium.io_tracingpoliciesnamespaced.yaml
  pkg/k8s/apis/cilium.io/v1alpha1/tracing_policy_types.go
  pkg/k8s/apis/cilium.io/v1alpha1/version.go
  pkg/k8s/apis/cilium.io/v1alpha1/zz_generated.deepcopy.go
  pkg/labels/labels.go
  pkg/labels/labels_test.go
  pkg/policyconf/test/mode_test.go
  pkg/policyfilter/disabled.go
  pkg/policyfilter/k8s_test.go
  pkg/policyfilter/policyfilter.go
  pkg/policyfilter/state.go
  pkg/policyfilter/state_test.go
  pkg/sensors/k8s.go
  pkg/sensors/manager_test.go
  pkg/sensors/tracing/policyfilter_test.go
  pkg/testutils/policyfilter/policyfilter.go
  pkg/tracingpolicy/generictracingpolicy_test.go
  vendor/github.com/cilium/tetragon/pkg/k8s/apis/cilium.io/client/crds/v1alpha1/cilium.io_tracingpolicies.yaml
  vendor/github.com/cilium/tetragon/pkg/k8s/apis/cilium.io/client/crds/v1alpha1/cilium.io_tracingpoliciesnamespaced.yaml
  vendor/github.com/cilium/tetragon/pkg/k8s/apis/cilium.io/v1alpha1/tracing_policy_types.go
  vendor/github.com/cilium/tetragon/pkg/k8s/apis/cilium.io/v1alpha1/version.go
  vendor/github.com/cilium/tetragon/pkg/k8s/apis/cilium.io/v1alpha1/zz_generated.deepcopy.go
Owners: @cilium/tetragon

pkg/selectors: fix InMap ranges with upper bound of math.MaxUint64
  pkg/selectors/kernel.go
  pkg/selectors/kernel_test.go
Owners: @cilium/tetragon

docs: document InMap memory usage with range notation
  docs/content/en/docs/concepts/tracing-policy/selectors.md
Owners: @mtardy, @cilium/tetragon

helm: expose Tetragon server over UDS
  Makefile
  docs/content/en/docs/concepts/events.md
  docs/content/en/docs/reference/helm-chart.md
  examples/configuration/tetragon.conf.d/server-address
  examples/configuration/tetragon.yaml
  install/kubernetes/tetragon/README.md
  install/kubernetes/tetragon/values.yaml
Owners: @cilium/tetragon, @mtardy

tracingpolicy: add a test for Labels
  pkg/tracingpolicy/generictracingpolicy_test.go
Owners: @cilium/tetragon

gha/gotests: add simple nok8s tests
  .github/workflows/gotests.yml
Owners: @willfindlay

Update docs
  docs/content/en/docs/reference/tracing-policy.md
Owners: @mtardy, @cilium/tetragon

hubble-fgs/windows: Fix process_exit event on Windows
  bpf/windows/process_monitor.c
Owners: @cilium/tetragon

gha/gotests: add simple nok8s tests
  .github/workflows/gotests.yml
Owners: @willfindlay

tracingpolicy: improve TestYamlLseek
  pkg/tracingpolicy/generictracingpolicy_test.go
Owners: @cilium/tetragon

tracingpolicy: add Labels for nok8s builds
  pkg/tracingpolicy/generictracingpolicy_nok8s.go
Owners: @cilium/tetragon

tracingpolicy: add a test for Labels
  pkg/tracingpolicy/generictracingpolicy_test.go
Owners: @cilium/tetragon

genericlsm: improve logging in event handler
  pkg/sensors/tracing/genericlsm.go
Owners: @cilium/tetragon

generickprobe: improve logging in event handler
  pkg/sensors/tracing/generickprobe.go
Owners: @cilium/tetragon

Fix null spec.{pod, container, host}Selectors
  pkg/watcher/crdwatcher/lastapplied.go
  pkg/watcher/crdwatcher/tracingpolicy.go
Owners: @cilium/tetragon

tracing: additional log info in arg parsing
  pkg/sensors/tracing/args_linux.go
  pkg/sensors/tracing/generickprobe.go
  pkg/sensors/tracing/genericlsm.go
  pkg/sensors/tracing/genericuprobe.go
  pkg/sensors/tracing/genericusdt.go
Owners: @cilium/tetragon

hubble-fgs/windows: Fix process_exit event on Windows
  bpf/windows/process_monitor.c
Owners: @cilium/tetragon

ci: add prep job in vmtests to cache packages
  .github/workflows/vmtests.yml
Owners: @willfindlay

tracing: additional log info in arg parsing
  pkg/sensors/tracing/args_linux.go
  pkg/sensors/tracing/generickprobe.go
  pkg/sensors/tracing/genericlsm.go
  pkg/sensors/tracing/genericuprobe.go
  pkg/sensors/tracing/genericusdt.go
Owners: @cilium/tetragon

generickprobe: improve logging in event handler
  pkg/sensors/tracing/generickprobe.go
Owners: @cilium/tetragon

genericlsm: improve logging in event handler
  pkg/sensors/tracing/genericlsm.go
Owners: @cilium/tetragon

uprobe-test-1: have libs relative to binary
  contrib/tester-progs/Makefile
Owners: @cilium/tetragon

chore(ci): try to improve reliability of windows smoke tests.
  .github/workflows/windows-build-smoke-test.yml
Owners: @willfindlay

chore(ci): try to improve reliability of windows smoke tests.
  .github/workflows/windows-build-smoke-test.yml
Owners: @willfindlay

ci: remove azure apt mirrors
  .github/workflows/vmtests.yml
Owners: @willfindlay

ci: remove azure apt mirrors
  .github/workflows/vmtests.yml
Owners: @willfindlay

CODEOWNERS:

# Request a review from the Tetragon team on any PR
* @cilium/tetragon

# Request a review from William when codegen is edited
cmd/protoc-gen-go-tetragon/ @willfindlay

# Request a review from William when CI is edited
.github/workflows/ @willfindlay

# Request a review from kkourt when core sensor files are modified
pkg/src/sensors/ @kkourt

# Request a review from mtardy when anything from docs is modified but do not
# block on approval from anyone in the tetragon team
/docs/ @mtardy @cilium/tetragon
