Repository cilium/tetragon, changes with the owners that CODEOWNERS names for each.
All owners: @cilium/tetragon, @willfindlay, @kkourt, @mtardy

typo
  docs/content/en/docs/installation/runtime-hooks.md
Owners: @mtardy, @cilium/tetragon

helm: Remove tcp-stats-sample-segs flag from ConfigMap
  install/kubernetes/tetragon/templates/tetragon_configmap.yaml
Owners: @cilium/tetragon

exporter: Rename ratelimit drops counter
  contrib/upgrade-notes/latest.md
  docs/content/en/docs/reference/metrics.md
  pkg/exporter/metrics.go
Owners: @cilium/tetragon, @mtardy

Move ratelimitmetrics inside pkg/exporter
  pkg/exporter/exporter.go
  pkg/exporter/metrics.go
  pkg/metrics/ratelimitmetrics/ratelimitmetrics.go
  pkg/metricsconfig/healthmetrics.go
  pkg/ratelimit/ratelimit.go
Owners: @cilium/tetragon

Remove deps target from Helm Makefile
  install/kubernetes/Makefile
Owners: @cilium/tetragon

helm: Remove tcp-stats-sample-segs flag from ConfigMap
  install/kubernetes/tetragon/templates/tetragon_configmap.yaml
Owners: @cilium/tetragon

Remove openapi2jsonschema.py from default Helm Makefile target
  install/kubernetes/Makefile
Owners: @cilium/tetragon

bugtool: add pid in init info
  cmd/tetragon/main.go
  pkg/bugtool/bugtool.go
Owners: @cilium/tetragon

bugtool: add pmap out to the dump
  pkg/bugtool/bugtool.go
Owners: @cilium/tetragon

bugtool: add memory cgroup stats
  pkg/bugtool/bugtool.go
  pkg/bugtool/bugtool_test.go
Owners: @cilium/tetragon

bugtool: show error on Copy in tarAddFile
  pkg/bugtool/bugtool.go
Owners: @cilium/tetragon

[bugfix] Fix clone event caching due to missing pod info
  pkg/grpc/exec/exec.go
  pkg/process/process.go
Owners: @cilium/tetragon

Add support to dump processLRU
  api/v1/README.md
  api/v1/tetragon/sensors.pb.go
  api/v1/tetragon/sensors.pb.json.go
  api/v1/tetragon/sensors.proto
  cmd/tetra/dump/dump.go
  contrib/tetragon-rthooks/vendor/github.com/cilium/tetragon/api/v1/tetragon/sensors.pb.go
  contrib/tetragon-rthooks/vendor/github.com/cilium/tetragon/api/v1/tetragon/sensors.pb.json.go
  contrib/tetragon-rthooks/vendor/github.com/cilium/tetragon/api/v1/tetragon/sensors.proto
  docs/content/en/docs/reference/grpc-api.md
  pkg/grpc/exec/exec.go
  pkg/grpc/exec/kthread_init.go
  pkg/process/cache.go
  pkg/process/process.go
  pkg/server/server.go
  vendor/github.com/cilium/tetragon/api/v1/tetragon/sensors.pb.go
  vendor/github.com/cilium/tetragon/api/v1/tetragon/sensors.pb.json.go
  vendor/github.com/cilium/tetragon/api/v1/tetragon/sensors.proto
Owners: @cilium/tetragon, @mtardy

Add support to dump processLRU
  api/v1/README.md
  api/v1/tetragon/sensors.pb.go
  api/v1/tetragon/sensors.pb.json.go
  api/v1/tetragon/sensors.proto
  cmd/tetra/dump/dump.go
  contrib/tetragon-rthooks/vendor/github.com/cilium/tetragon/api/v1/tetragon/sensors.pb.go
  contrib/tetragon-rthooks/vendor/github.com/cilium/tetragon/api/v1/tetragon/sensors.pb.json.go
  contrib/tetragon-rthooks/vendor/github.com/cilium/tetragon/api/v1/tetragon/sensors.proto
  docs/content/en/docs/reference/grpc-api.md
  pkg/grpc/exec/exec.go
  pkg/grpc/exec/kthread_init.go
  pkg/process/cache.go
  pkg/process/process.go
  pkg/server/server.go
  vendor/github.com/cilium/tetragon/api/v1/tetragon/sensors.pb.go
  vendor/github.com/cilium/tetragon/api/v1/tetragon/sensors.pb.json.go
  vendor/github.com/cilium/tetragon/api/v1/tetragon/sensors.proto
Owners: @cilium/tetragon, @mtardy

[bugfix] Fix clone event caching due to missing pod info
  pkg/grpc/exec/exec.go
  pkg/process/process.go
Owners: @cilium/tetragon

[bugfix] Fix clone event caching due to missing pod info
  pkg/grpc/exec/exec.go
  pkg/process/process.go
Owners: @cilium/tetragon

[bugfix] Fix clone event caching due to missing pod info
  pkg/grpc/exec/exec.go
  pkg/process/process.go
Owners: @cilium/tetragon

tetragon: Enable loader tests for 6.1 and bpf-next
  pkg/vmtests/skip.go
Owners: @cilium/tetragon

[bugfix] Fix clone event caching due to missing pod info
  pkg/grpc/exec/exec.go
  pkg/process/process.go
Owners: @cilium/tetragon

tetragon: Enable loader tests for 6.1 and bpf-next
  pkg/vmtests/skip.go
Owners: @cilium/tetragon

tetragon: Fix delayed sensor unblock code
  pkg/sensors/delayed_sensor_test.go
Owners: @cilium/tetragon

tetragon: Change generickprobe sensor pin path
  pkg/sensors/tracing/generickprobe.go
Owners: @cilium/tetragon

tetragon: Move base sensor maps under new hierarchy
  pkg/sensors/base/base.go
Owners: @cilium/tetragon

tetragon: Use map pin path for MapLoad interface
  pkg/sensors/program/loader.go
  pkg/sensors/program/program.go
  pkg/sensors/tracing/generickprobe.go
  pkg/sensors/tracing/genericlsm.go
  pkg/sensors/tracing/generictracepoint.go
  pkg/sensors/tracing/genericuprobe.go
  pkg/sensors/tracing/selectors.go
Owners: @cilium/tetragon

tetragon: Add tests for map builders
  bpf/Makefile
  bpf/process/bpf_map_test_p1.c
  bpf/process/bpf_map_test_p2.c
  pkg/sensors/test/sensors_test.go
Owners: @cilium/tetragon

tetragon: Add shared map type fields
  pkg/sensors/program/map.go
Owners: @cilium/tetragon

tetragon: Change genericuprobe sensor pin path
  pkg/sensors/tracing/genericuprobe.go
Owners: @cilium/tetragon

tetragon: Change generictracepoint sensor pin path
  pkg/sensors/tracing/generictracepoint.go
Owners: @cilium/tetragon

tetragon: Move generickprobe sensor maps under new hierarchy
  pkg/sensors/tracing/generickprobe.go
Owners: @cilium/tetragon

tetragon: Add documentation for maps usage
  pkg/sensors/program/map.go
  pkg/sensors/program/program.go
Owners: @cilium/tetragon

tetragon: Change genericlsm sensor pin path
  pkg/sensors/tracing/genericlsm.go
Owners: @cilium/tetragon

tetragon: Move generictracepoint sensor maps under new hierarchy
  pkg/sensors/tracing/generictracepoint.go
Owners: @cilium/tetragon

tetragon: Sanitize policy name before using it in path
  pkg/sensors/load.go
  pkg/sensors/sensors.go
Owners: @cilium/tetragon

tetragon: Add PinPath to Map object
  pkg/sensors/load.go
  pkg/sensors/program/loader.go
  pkg/sensors/program/map.go
Owners: @cilium/tetragon

tetragon: Get rid of MapBuilderPin functions
  pkg/sensors/load.go
  pkg/sensors/program/map.go
Owners: @cilium/tetragon

tetragon: Add policy argument to SensorBuilder function
  pkg/sensors/sensors.go
Owners: @cilium/tetragon

tetragon: Move genericuprobe sensor maps under new hierarchy
  pkg/sensors/tracing/genericuprobe.go
Owners: @cilium/tetragon

tetragon: Adjust linkPinPath for new hierarchy
  pkg/sensors/program/loader.go
  pkg/sensors/program/loader_test.go
Owners: @cilium/tetragon

tetragon: Move genericlsm sensor maps under new hierarchy
  pkg/sensors/tracing/genericlsm.go
Owners: @cilium/tetragon

tetragon: Add tests for map max entries setup
  pkg/sensors/test/sensors_test.go
Owners: @cilium/tetragon

CODEOWNERS:

# Request a review from the Tetragon team on any PR
* @cilium/tetragon

# Request a review from William when codegen is edited
cmd/protoc-gen-go-tetragon/ @willfindlay

# Request a review from William when CI is edited
.github/workflows/ @willfindlay

# Request a review from kkourt when core sensor files are modified
pkg/src/sensors/ @kkourt

# Request a review from mtardy when anything from docs is modified but do not
# block on approval from anyone in the tetragon team
/docs/ @mtardy @cilium/tetragon
