Repository cilium/tetragon, changes with the owners that CODEOWNERS names for each.
All owners: @cilium/tetragon, @willfindlay, @kkourt, @mtardy

bpf: remove 'packed' attribute from msg_clone_event
  bpf/lib/process.h
Owners: @cilium/tetragon

alignchecker: extract check() body into helper functions
  pkg/alignchecker/alignchecker.go
Owners: @cilium/tetragon

alignchecker: add support for checking 'prefix' structs
  pkg/alignchecker/alignchecker.go
Owners: @cilium/tetragon

alignchecker: add msg_generic_kprobe
  pkg/alignchecker/alignchecker.go
  pkg/api/tracingapi/client_kprobe.go
  pkg/api/tracingapi/client_tracepoint.go
Owners: @cilium/tetragon

alignchecker: add msg_execve_event
  pkg/alignchecker/alignchecker.go
  pkg/api/processapi/processapi.go
Owners: @cilium/tetragon

alignchecker: add msg_data
  bpf/alignchecker/bpf_alignchecker.c
  pkg/alignchecker/alignchecker.go
  pkg/api/dataapi/data.go
Owners: @cilium/tetragon

fix: preserve matching USDT events when filtering by policy name
  cmd/tetra/getevents/io_reader_client_test.go
  pkg/filters/filters.go
  pkg/filters/policies_test.go
Owners: @cilium/tetragon

contrib/verify: Initialize kernel BTF before probing kfuncs
  contrib/verify/verify_test.go
Owners: @cilium/tetragon

ci: Run BPF verifier on ubuntu-26.04 as well
  .github/workflows/gotests.yml
Owners: @willfindlay

contrib/verify: Link empty CEL functions for uprobe objects
  contrib/verify/verify_test.go
Owners: @cilium/tetragon

Allow renovate to update .github/actions
  .github/renovate.json5
Owners: @cilium/tetragon

Allow renovate to update .github/actions; Prevent Windows runner upgrades
  .github/renovate.json5
Owners: @cilium/tetragon

Allow renovate to update .github/actions; Prevent Windows runner upgrades
  .github/renovate.json5
Owners: @cilium/tetragon

Allow renovate to update .github/actions; Prevent Windows runner upgrades
  .github/renovate.json5
Owners: @cilium/tetragon

pkg/fieldfilters: rename REDACTION_STR constant to DefaultRedactionString
  pkg/fieldfilters/redaction.go
  pkg/fieldfilters/redaction_test.go
Owners: @cilium/tetragon

feat: add cve-2026-65960 tracing policy
  examples/tracingpolicy/cves/cve-2026-65960.yaml
Owners: @cilium/tetragon

metrics: add a human-readable opstr label to handler errors
  pkg/metrics/errormetrics/errormetrics.go
Owners: @cilium/tetragon

metrics: standardize opcode labels in the shared library
  pkg/metrics/labels.go
  pkg/metrics/labels_test.go
Owners: @cilium/tetragon

metrics: use standardized opcode labels in opcodemetrics
  pkg/metrics/opcodemetrics/opcodemetrics.go
  pkg/observer/observer.go
Owners: @cilium/tetragon

metrics: standardize labels in eventmetrics
  pkg/metrics/eventmetrics/bpfcollector.go
  pkg/metrics/eventmetrics/eventmetrics.go
  pkg/metrics/eventmetrics/eventmetrics_test.go
Owners: @cilium/tetragon

observer: rename data event op label to status
  pkg/observer/data_stats.go
Owners: @cilium/tetragon

docs: regenerate metrics reference and add upgrade notes
  contrib/upgrade-notes/latest.md
  docs/content/en/docs/reference/metrics.md
Owners: @cilium/tetragon, @mtardy

fix: preserve matching USDT events when filtering by policy name
  cmd/tetra/getevents/io_reader_client_test.go
  pkg/filters/filters.go
  pkg/filters/policies_test.go
Owners: @cilium/tetragon

contrib/verify: Link empty CEL functions for uprobe objects
  contrib/verify/verify_test.go
Owners: @cilium/tetragon

ci: Run BPF verifier on ubuntu-26.04 as well
  .github/workflows/gotests.yml
Owners: @willfindlay

contrib/verify: Initialize kernel BTF before probing kfuncs
  contrib/verify/verify_test.go
Owners: @cilium/tetragon

Uprobe/Usdt: Improve switch for clang analyzer
  bpf/process/user_preload.h
Owners: @cilium/tetragon

CGroup: Initialise error_flags
  bpf/lib/bpf_cgroup.h
Owners: @cilium/tetragon

api, pkg/fieldfilters: make redaction replacement string configurable
  api/v1/README.md
  api/v1/tetragon/events.pb.go
  api/v1/tetragon/events.proto
  contrib/tetragon-rthooks/vendor/github.com/cilium/tetragon/api/v1/tetragon/events.pb.go
  contrib/tetragon-rthooks/vendor/github.com/cilium/tetragon/api/v1/tetragon/events.proto
  docs/content/en/docs/reference/grpc-api.md
  pkg/fieldfilters/redaction.go
  pkg/fieldfilters/redaction_test.go
  vendor/github.com/cilium/tetragon/api/v1/tetragon/events.pb.go
  vendor/github.com/cilium/tetragon/api/v1/tetragon/events.proto
Owners: @cilium/tetragon, @mtardy

pkg/fieldfilters: add unit tests for configurable redaction string
  pkg/fieldfilters/redaction_test.go
Owners: @cilium/tetragon

docs, install/kubernetes: document redact_str configuration
  docs/content/en/docs/concepts/events.md
  docs/content/en/docs/reference/helm-chart.md
  install/kubernetes/tetragon/README.md
  install/kubernetes/tetragon/values.yaml
Owners: @mtardy, @cilium/tetragon

Revert "renovate: allow docker updates without timestamps"
  .github/renovate.json5
Owners: @cilium/tetragon

Revert "renovate: retain 5-day cooldown for official Docker Hub images"
  .github/renovate.json5
Owners: @cilium/tetragon

Revert "renovate: add dependency cooldown"
  .github/renovate.json5
Owners: @cilium/tetragon

renovate: update the GHA to latest release
  .github/workflows/renovate.yaml
Owners: @willfindlay

renovate: migrate config for their usual change of names
  .github/renovate.json5
Owners: @cilium/tetragon

renovate: make renovate update itself with fixed version
  .github/workflows/renovate-config-validator.yaml
  .github/workflows/renovate.yaml
Owners: @willfindlay

renovate: limit renovate container image update to once a month
  .github/renovate.json5
Owners: @cilium/tetragon

api: add data arguments to ProcessLsm
  api/v1/tetragon/tetragon.proto
Owners: @cilium/tetragon

pkg/sensors: support matchData selectors for LSM hooks
  pkg/sensors/tracing/genericlsm.go
Owners: @cilium/tetragon

CODEOWNERS:

# Request a review from the Tetragon team on any PR
* @cilium/tetragon

# Request a review from William when codegen is edited
cmd/protoc-gen-go-tetragon/ @willfindlay

# Request a review from William when CI is edited
.github/workflows/ @willfindlay

# Request a review from kkourt when core sensor files are modified
pkg/src/sensors/ @kkourt

# Request a review from mtardy when anything from docs is modified but do not
# block on approval from anyone in the tetragon team
/docs/ @mtardy @cilium/tetragon
