Repository cilium/tetragon, changes with the owners that CODEOWNERS names for each.
All owners: @cilium/tetragon, @willfindlay, @kkourt, @mtardy

tetragon: Add tests for map max entries setup
  pkg/sensors/test/sensors_test.go
Owners: @cilium/tetragon

tetragon: Get rid of MapBuilderPin functions
  pkg/sensors/load.go
  pkg/sensors/program/map.go
Owners: @cilium/tetragon

tetragon: Add tests for map builders
  bpf/Makefile
  bpf/process/bpf_map_test_p1.c
  bpf/process/bpf_map_test_p2.c
  pkg/sensors/test/sensors_test.go
Owners: @cilium/tetragon

tetragon: Change genericlsm sensor pin path
  pkg/sensors/tracing/genericlsm.go
Owners: @cilium/tetragon

tetragon: Move enforcer sensor maps under new hierarchy
  pkg/sensors/tracing/enforcer.go
  pkg/sensors/tracing/generickprobe.go
  pkg/sensors/tracing/generictracepoint.go
Owners: @cilium/tetragon

tetragon: Sanitize policy name before using it in path
  pkg/sensors/load.go
  pkg/sensors/sensors.go
Owners: @cilium/tetragon

tetragon: Add documentation for maps usage
  pkg/sensors/program/map.go
  pkg/sensors/program/program.go
Owners: @cilium/tetragon

tetragon: Change genericuprobe sensor pin path
  pkg/sensors/tracing/genericuprobe.go
Owners: @cilium/tetragon

fork_test: remove pid export filter
  pkg/sensors/exec/fork_test.go
Owners: @cilium/tetragon

chores: run make crds with updated scripts
  install/kubernetes/schemas/tracingpolicy-cilium.io.json
  install/kubernetes/schemas/tracingpolicynamespaced-cilium.io.json
  install/kubernetes/tetragon/crds-yaml/cilium.io_podinfo.yaml
  install/kubernetes/tetragon/crds-yaml/cilium.io_tracingpolicies.yaml
  install/kubernetes/tetragon/crds-yaml/cilium.io_tracingpoliciesnamespaced.yaml
  pkg/k8s/apis/cilium.io/v1alpha1/version.go
  vendor/github.com/cilium/tetragon/pkg/k8s/apis/cilium.io/v1alpha1/version.go
Owners: @cilium/tetragon

kube-codegen: update tool to generate client-go libs
  pkg/k8s/Makefile
  pkg/k8s/tools/k8s-code-gen.sh
Owners: @cilium/tetragon

chores: golang linter fixes
  pkg/metrics/metricwithpod.go
Owners: @cilium/tetragon

eventmetrics: Rename tetragon_missed_events_total
  contrib/upgrade-notes/latest.md
  docs/content/en/docs/reference/metrics.md
  pkg/metrics/eventmetrics/bpfcollector.go
  pkg/metrics/eventmetrics/eventmetrics.go
Owners: @cilium/tetragon, @mtardy

Expose kernel ringbuffer errors in metrics
  bpf/lib/process.h
  docs/content/en/docs/reference/metrics.md
  pkg/api/processapi/processapi.go
  pkg/metrics/eventmetrics/collector.go
  pkg/metrics/eventmetrics/eventmetrics.go
Owners: @cilium/tetragon, @mtardy

chores: run make crds with updated scripts
  install/kubernetes/schemas/tracingpolicy-cilium.io.json
  install/kubernetes/schemas/tracingpolicynamespaced-cilium.io.json
  install/kubernetes/tetragon/crds-yaml/cilium.io_podinfo.yaml
  install/kubernetes/tetragon/crds-yaml/cilium.io_tracingpolicies.yaml
  install/kubernetes/tetragon/crds-yaml/cilium.io_tracingpoliciesnamespaced.yaml
  pkg/k8s/apis/cilium.io/v1alpha1/version.go
  vendor/github.com/cilium/tetragon/pkg/k8s/apis/cilium.io/v1alpha1/version.go
Owners: @cilium/tetragon

chores: golang linter fixes
  pkg/metrics/metricwithpod.go
Owners: @cilium/tetragon

kube-codegen: update tool to generate client-go libs
  pkg/k8s/Makefile
  pkg/k8s/tools/k8s-code-gen.sh
Owners: @cilium/tetragon

tetragon: rename pprof flag for consistency
  docs/data/tetragon_flags.yaml
  pkg/option/flags.go
Owners: @mtardy, @cilium/tetragon

helm: add pprof address flag to the chart
  docs/content/en/docs/reference/helm-chart.md
  install/kubernetes/tetragon/README.md
  install/kubernetes/tetragon/templates/tetragon_configmap.yaml
  install/kubernetes/tetragon/values.yaml
Owners: @mtardy, @cilium/tetragon

doc: Improved Tetragon metrics guide
  docs/content/en/docs/installation/metrics.md
Owners: @mtardy, @cilium/tetragon

doc: Improved Tetragon metrics guide
  docs/content/en/docs/installation/metrics.md
Owners: @mtardy, @cilium/tetragon

helm: add pprof address flag to the chart
  docs/content/en/docs/reference/helm-chart.md
  install/kubernetes/tetragon/README.md
  install/kubernetes/tetragon/templates/tetragon_configmap.yaml
  install/kubernetes/tetragon/values.yaml
Owners: @mtardy, @cilium/tetragon

tetragon: rename pprof flag for consistency
  docs/data/tetragon_flags.yaml
  pkg/option/flags.go
Owners: @mtardy, @cilium/tetragon

helm: use podSecurityContext for rthooks
  docs/content/en/docs/reference/helm-chart.md
  install/kubernetes/tetragon/README.md
  install/kubernetes/tetragon/templates/_container_rthooks.tpl
  install/kubernetes/tetragon/values.yaml
Owners: @mtardy, @cilium/tetragon

[docs] Fix typo
  docs/content/en/docs/installation/runtime-hooks.md
Owners: @mtardy, @cilium/tetragon

Revert "kube-codegen: update tool to generate client-go libs"
  pkg/k8s/Makefile
  pkg/k8s/tools/k8s-code-gen.sh
Owners: @cilium/tetragon

Revert "chores: run make crds with updated scripts"
  install/kubernetes/schemas/tracingpolicy-cilium.io.json
  install/kubernetes/schemas/tracingpolicynamespaced-cilium.io.json
  install/kubernetes/tetragon/crds-yaml/cilium.io_podinfo.yaml
  install/kubernetes/tetragon/crds-yaml/cilium.io_tracingpolicies.yaml
  install/kubernetes/tetragon/crds-yaml/cilium.io_tracingpoliciesnamespaced.yaml
  pkg/k8s/apis/cilium.io/v1alpha1/version.go
  vendor/github.com/cilium/tetragon/pkg/k8s/apis/cilium.io/v1alpha1/version.go
Owners: @cilium/tetragon

Revert "chores: golang linter fixes"
  pkg/metrics/metricwithpod.go
Owners: @cilium/tetragon

Revert "kube-codegen: update tool to generate client-go libs"
  pkg/k8s/Makefile
  pkg/k8s/tools/k8s-code-gen.sh
Owners: @cilium/tetragon

Revert "chores: golang linter fixes"
  pkg/metrics/metricwithpod.go
Owners: @cilium/tetragon

Revert "chores: run make crds with updated scripts"
  install/kubernetes/schemas/tracingpolicy-cilium.io.json
  install/kubernetes/schemas/tracingpolicynamespaced-cilium.io.json
  install/kubernetes/tetragon/crds-yaml/cilium.io_podinfo.yaml
  install/kubernetes/tetragon/crds-yaml/cilium.io_tracingpolicies.yaml
  install/kubernetes/tetragon/crds-yaml/cilium.io_tracingpoliciesnamespaced.yaml
  pkg/k8s/apis/cilium.io/v1alpha1/version.go
  vendor/github.com/cilium/tetragon/pkg/k8s/apis/cilium.io/v1alpha1/version.go
Owners: @cilium/tetragon

golangci-lint: fix various issues from linters update
  pkg/filters/caps.go
  pkg/policyfilter/k8s_test.go
  pkg/sensors/exec/exec_test.go
  pkg/tracingpolicy/generictracingpolicy.go
Owners: @cilium/tetragon

docs: Fix the mentioned containerd version
  docs/content/en/docs/concepts/runtime-hooks.md
Owners: @mtardy, @cilium/tetragon

[docs] Fix typo
  docs/content/en/docs/installation/runtime-hooks.md
Owners: @mtardy, @cilium/tetragon

observer: Improve ringbuf metrics help texts
  docs/content/en/docs/reference/metrics.md
  pkg/observer/metrics.go
Owners: @mtardy, @cilium/tetragon

Move ringbuf metrics into observer package
  pkg/bench/summary.go
  pkg/metrics/ringbufmetrics/ringbufmetrics.go
  pkg/metrics/ringbufqueuemetrics/ringbufqueuemetrics.go
  pkg/metricsconfig/healthmetrics.go
  pkg/observer/metrics.go
  pkg/observer/observer.go
Owners: @cilium/tetragon

observer: Rename ringbuf metrics
  contrib/upgrade-notes/latest.md
  docs/content/en/docs/reference/metrics.md
  pkg/observer/metrics.go
Owners: @cilium/tetragon, @mtardy

observer: Improve ringbuf metrics help texts
  docs/content/en/docs/reference/metrics.md
  pkg/observer/metrics.go
Owners: @mtardy, @cilium/tetragon

Move ringbuf metrics into observer package
  pkg/bench/summary.go
  pkg/metrics/ringbufmetrics/ringbufmetrics.go
  pkg/metrics/ringbufqueuemetrics/ringbufqueuemetrics.go
  pkg/metricsconfig/healthmetrics.go
  pkg/observer/metrics.go
  pkg/observer/observer.go
Owners: @cilium/tetragon

observer: Rename ringbuf metrics
  contrib/upgrade-notes/latest.md
  docs/content/en/docs/reference/metrics.md
  pkg/observer/metrics.go
Owners: @cilium/tetragon, @mtardy

CODEOWNERS:

# Request a review from the Tetragon team on any PR
* @cilium/tetragon

# Request a review from William when codegen is edited
cmd/protoc-gen-go-tetragon/ @willfindlay

# Request a review from William when CI is edited
.github/workflows/ @willfindlay

# Request a review from kkourt when core sensor files are modified
pkg/src/sensors/ @kkourt

# Request a review from mtardy when anything from docs is modified but do not
# block on approval from anyone in the tetragon team
/docs/ @mtardy @cilium/tetragon
