Repository cilium/tetragon, changes with the owners that CODEOWNERS names for each.
All owners: @cilium/tetragon, @willfindlay, @kkourt, @mtardy

tetragon: Add codegen and generate changes
  api/v1/README.md
  api/v1/tetragon/codegen/eventchecker/eventchecker.pb.go
  api/v1/tetragon/tetragon.pb.go
  contrib/tetragon-rthooks/vendor/github.com/cilium/tetragon/api/v1/tetragon/tetragon.pb.go
  contrib/tetragon-rthooks/vendor/github.com/cilium/tetragon/api/v1/tetragon/tetragon.proto
  docs/content/en/docs/reference/grpc-api.md
  install/kubernetes/tetragon/crds-yaml/cilium.io_tracingpolicies.yaml
  install/kubernetes/tetragon/crds-yaml/cilium.io_tracingpoliciesnamespaced.yaml
  pkg/k8s/apis/cilium.io/client/crds/v1alpha1/cilium.io_tracingpolicies.yaml
  pkg/k8s/apis/cilium.io/client/crds/v1alpha1/cilium.io_tracingpoliciesnamespaced.yaml
  pkg/k8s/apis/cilium.io/v1alpha1/zz_generated.deepcopy.go
  vendor/github.com/cilium/tetragon/api/v1/tetragon/codegen/eventchecker/eventchecker.pb.go
  vendor/github.com/cilium/tetragon/api/v1/tetragon/tetragon.pb.go
  vendor/github.com/cilium/tetragon/api/v1/tetragon/tetragon.proto
  vendor/github.com/cilium/tetragon/pkg/k8s/apis/cilium.io/client/crds/v1alpha1/cilium.io_tracingpolicies.yaml
  vendor/github.com/cilium/tetragon/pkg/k8s/apis/cilium.io/client/crds/v1alpha1/cilium.io_tracingpoliciesnamespaced.yaml
  vendor/github.com/cilium/tetragon/pkg/k8s/apis/cilium.io/v1alpha1/types.go
  vendor/github.com/cilium/tetragon/pkg/k8s/apis/cilium.io/v1alpha1/version.go
  vendor/github.com/cilium/tetragon/pkg/k8s/apis/cilium.io/v1alpha1/zz_generated.deepcopy.go
Owners: @cilium/tetragon, @mtardy

tetragon: Store 8 usdt arguments in event config object
  bpf/process/types/basic.h
  pkg/api/tracingapi/client_kprobe.go
Owners: @cilium/tetragon

tetragon: Add usdt action protobuf and spec support
  api/v1/tetragon/tetragon.proto
  pkg/k8s/apis/cilium.io/v1alpha1/types.go
  pkg/k8s/apis/cilium.io/v1alpha1/version.go
Owners: @cilium/tetragon

tetragon: Create pin for uprobe and uprobe multi links
  pkg/sensors/program/loader_linux.go
Owners: @cilium/tetragon

helm: Quote tetragon.processAncestors.enabled
  install/kubernetes/tetragon/templates/tetragon_configmap.yaml
Owners: @cilium/tetragon

k8s: Enable k8s control plane for non-k8s deployment
  cmd/tetragon/main.go
  pkg/manager/manager.go
  pkg/option/config.go
  pkg/watcher/crdwatcher/tracingpolicy.go
Owners: @cilium/tetragon

k8s: Enable k8s control plane for non-k8s deployment
  cmd/tetragon/main.go
  pkg/manager/manager.go
  pkg/option/config.go
  pkg/watcher/crdwatcher/tracingpolicy.go
Owners: @cilium/tetragon

renovate: Allow go 1.24 for v1.3 branch
  .github/renovate.json5
Owners: @cilium/tetragon

selectors: Ignore empty matchBinaries
  pkg/selectors/kernel.go
Owners: @cilium/tetragon

tetragon: Add loader support to load write offload uprobe
  pkg/sensors/program/loader_linux.go
  pkg/sensors/program/program.go
Owners: @cilium/tetragon

todo
  todo
Owners: @cilium/tetragon

tetragon: Add support to use write offload usdt action
  bpf/process/bpf_generic_usdt.c
  bpf/process/generic_calls.h
  bpf/process/generic_maps.h
  pkg/selectors/kernel.go
  pkg/sensors/tracing/consts.go
  pkg/sensors/tracing/genericusdt.go
Owners: @cilium/tetragon

tetragon: Add missing dentry type to GenericTypeToStringTable
  pkg/generictypes/generictypes.go
Owners: @cilium/tetragon

tetragon: Make generictypes maps local
  pkg/generictypes/generictypes.go
Owners: @cilium/tetragon

tetragon: Add source field to KProbeArg
  install/kubernetes/tetragon/crds-yaml/cilium.io_tracingpolicies.yaml
  install/kubernetes/tetragon/crds-yaml/cilium.io_tracingpoliciesnamespaced.yaml
  pkg/k8s/apis/cilium.io/client/crds/v1alpha1/cilium.io_tracingpolicies.yaml
  pkg/k8s/apis/cilium.io/client/crds/v1alpha1/cilium.io_tracingpoliciesnamespaced.yaml
  pkg/k8s/apis/cilium.io/v1alpha1/types.go
  pkg/k8s/apis/cilium.io/v1alpha1/version.go
  vendor/github.com/cilium/tetragon/pkg/k8s/apis/cilium.io/client/crds/v1alpha1/cilium.io_tracingpolicies.yaml
  vendor/github.com/cilium/tetragon/pkg/k8s/apis/cilium.io/client/crds/v1alpha1/cilium.io_tracingpoliciesnamespaced.yaml
  vendor/github.com/cilium/tetragon/pkg/k8s/apis/cilium.io/v1alpha1/types.go
  vendor/github.com/cilium/tetragon/pkg/k8s/apis/cilium.io/v1alpha1/version.go
Owners: @cilium/tetragon

tetragon: Add missing dentry type to GenericTypeToStringTable
  pkg/generictypes/generictypes.go
Owners: @cilium/tetragon

tetragon: Make generictypes maps local
  pkg/generictypes/generictypes.go
Owners: @cilium/tetragon

tetragon: Create pin for uprobe and uprobe multi links
  pkg/sensors/program/loader_linux.go
Owners: @cilium/tetragon

selectors: Ignore empty matchBinaries
  pkg/selectors/kernel.go
Owners: @cilium/tetragon

tetragon: Add support for current argument
  bpf/process/generic_calls.h
  bpf/process/types/basic.h
  pkg/btf/btf.go
  pkg/sensors/tracing/args_linux.go
  pkg/sensors/tracing/generic.go
  pkg/sensors/tracing/generickprobe.go
Owners: @cilium/tetragon

tetragon: Add test for resolving current kprobe argument
  pkg/sensors/tracing/kprobe_test.go
Owners: @cilium/tetragon

tetragon: Add current source documentation
  docs/content/en/docs/concepts/tracing-policy/hooks.md
Owners: @mtardy, @cilium/tetragon

tetragon: Add missing dentry type to GenericTypeToStringTable
  pkg/generictypes/generictypes.go
Owners: @cilium/tetragon

tetragon: Make generictypes maps local
  pkg/generictypes/generictypes.go
Owners: @cilium/tetragon

tetragon: Create pin for uprobe and uprobe multi links
  pkg/sensors/program/loader_linux.go
Owners: @cilium/tetragon

fix: reject NotifyEnforcer kprobe action without an Enforcer
  pkg/selectors/kernel.go
  pkg/sensors/tracing/generickprobe.go
  pkg/sensors/tracing/policyhandler_linux.go
Owners: @cilium/tetragon

renovate: sync helm chart version/appVersion update with image tag
  .github/renovate.json5
  install/kubernetes/tetragon/Chart.yaml
Owners: @cilium/tetragon

helm: Add 'containers.extra' helper function
  install/kubernetes/tetragon/templates/_extensions.tpl
  install/kubernetes/tetragon/templates/daemonset.yaml
Owners: @cilium/tetragon

helm: Add 'containers.extra' helper function
  install/kubernetes/tetragon/templates/_extensions.tpl
  install/kubernetes/tetragon/templates/daemonset.yaml
Owners: @cilium/tetragon

bpf: turn environment configuration storage into a BPF ARRAY storage
  bpf/lib/environ_conf.h
Owners: @cilium/tetragon

tetragon: Add support to offload path for usdt and uprobe sensors
  bpf/process/bpf_generic_uprobe.c
  bpf/process/bpf_generic_usdt.c
  pkg/sensors/tracing/uprobe_test.go
  pkg/sensors/tracing/usdt_test.go
Owners: @cilium/tetragon

tetragon: Add source field to KProbeArg
  install/kubernetes/tetragon/crds-yaml/cilium.io_tracingpolicies.yaml
  install/kubernetes/tetragon/crds-yaml/cilium.io_tracingpoliciesnamespaced.yaml
  pkg/k8s/apis/cilium.io/client/crds/v1alpha1/cilium.io_tracingpolicies.yaml
  pkg/k8s/apis/cilium.io/client/crds/v1alpha1/cilium.io_tracingpoliciesnamespaced.yaml
  pkg/k8s/apis/cilium.io/v1alpha1/types.go
  pkg/k8s/apis/cilium.io/v1alpha1/version.go
  vendor/github.com/cilium/tetragon/pkg/k8s/apis/cilium.io/client/crds/v1alpha1/cilium.io_tracingpolicies.yaml
  vendor/github.com/cilium/tetragon/pkg/k8s/apis/cilium.io/client/crds/v1alpha1/cilium.io_tracingpoliciesnamespaced.yaml
  vendor/github.com/cilium/tetragon/pkg/k8s/apis/cilium.io/v1alpha1/types.go
  vendor/github.com/cilium/tetragon/pkg/k8s/apis/cilium.io/v1alpha1/version.go
Owners: @cilium/tetragon

tetragon: Add support for current argument source
  bpf/process/generic_calls.h
  bpf/process/types/basic.h
  pkg/btf/btf.go
  pkg/sensors/tracing/args_linux.go
  pkg/sensors/tracing/generic.go
  pkg/sensors/tracing/generickprobe.go
Owners: @cilium/tetragon

tetragon: Add uprobe support to resolve current source argument
  pkg/sensors/tracing/genericuprobe.go
Owners: @cilium/tetragon

tetragon: Add usdt support to resolve current source argument
  bpf/process/generic_calls.h
  pkg/sensors/tracing/genericusdt.go
Owners: @cilium/tetragon

tetragon: Add test for resolving uprobe argument with current source
  pkg/sensors/tracing/uprobe_test.go
Owners: @cilium/tetragon

tetragon: Add test for failing current source without resolve
  pkg/sensors/tracing/kprobe_validation_test.go
Owners: @cilium/tetragon

tetragon: Add test for resolving kprobe argument with current source
  pkg/sensors/tracing/kprobe_test.go
Owners: @cilium/tetragon

tetragon: Add test for resolving tracepoint argument with current source
  pkg/sensors/tracing/tracepoint_test.go
Owners: @cilium/tetragon

tetragon: Add test for resolving usdt argument with current source
  pkg/sensors/tracing/usdt_test.go
Owners: @cilium/tetragon

CODEOWNERS:

# Request a review from the Tetragon team on any PR
* @cilium/tetragon

# Request a review from William when codegen is edited
cmd/protoc-gen-go-tetragon/ @willfindlay

# Request a review from William when CI is edited
.github/workflows/ @willfindlay

# Request a review from kkourt when core sensor files are modified
pkg/src/sensors/ @kkourt

# Request a review from mtardy when anything from docs is modified but do not
# block on approval from anyone in the tetragon team
/docs/ @mtardy @cilium/tetragon
