Repository cilium/tetragon, changes with the owners that CODEOWNERS names for each.
All owners: @cilium/tetragon, @willfindlay, @kkourt, @mtardy

CODEOWNERS:

# Request a review from the Tetragon team on any PR
* @cilium/tetragon

# Request a review from William when codegen is edited
cmd/protoc-gen-go-tetragon/ @willfindlay

# Request a review from William when CI is edited
.github/workflows/ @willfindlay

# Request a review from kkourt when core sensor files are modified
pkg/src/sensors/ @kkourt

# Request a review from mtardy when anything from docs is modified but do not
# block on approval from anyone in the tetragon team
/docs/ @mtardy @cilium/tetragon

api: Copy API reference into docs
  api/Makefile
  docs/content/en/docs/reference/grpc-api.md
Owners: @cilium/tetragon, @mtardy

ci: Run lint-proto workflow on changes to the API docs page
  .github/workflows/lint-proto.yaml
Owners: @willfindlay

main: Split k8s watchers into process metadata and policy
  cmd/tetragon/main_linux.go
  pkg/watcher/watcher.go
Owners: @cilium/tetragon

tetragon: Use percpu heap for fdinstall_value buffer
  bpf/process/heap.h
  bpf/process/types/basic.h
Owners: @cilium/tetragon

tetragon: Move ratelimit maps and defs to separate file
  bpf/process/ratelimit_maps.h
  bpf/process/types/basic.h
Owners: @cilium/tetragon

tetragon: Make string_maps_ro_zero and ratelimit_ro_heap standard arrays
  bpf/process/string_maps.h
  bpf/process/types/basic.h
Owners: @cilium/tetragon

tetragon: Add heap_ro_zero map
  bpf/process/heap.h
  bpf/process/ratelimit_maps.h
  bpf/process/string_maps.h
  bpf/process/types/basic.h
Owners: @cilium/tetragon

main: Split k8s watchers into process metadata and policy
  cmd/tetragon/main_linux.go
  pkg/watcher/watcher.go
Owners: @cilium/tetragon

watcher: Rename a function argument
  pkg/watcher/watcher.go
Owners: @cilium/tetragon

ci: Run lint-proto workflow on changes to the API docs page
  .github/workflows/lint-proto.yaml
Owners: @willfindlay

api: Copy API reference into docs
  api/Makefile
  docs/content/en/docs/reference/grpc-api.md
Owners: @cilium/tetragon, @mtardy

btf.go : Add wrapper for `FindBtfFuncParamFromHook` to use different spec
  pkg/btf/btf.go
Owners: @cilium/tetragon

btf_test.go : Add `listBtfFiles` to easily find all testable BTF files
  pkg/btf/btf_test.go
Owners: @cilium/tetragon

btf_test.go : Change TestResolveBtfPath sub-tests to use custom BTF file
  pkg/btf/btf_test.go
Owners: @cilium/tetragon

validation_test.go : Perform TestSpecs on multiple BTF files
  pkg/btf/validation_test.go
Owners: @cilium/tetragon

pkg/btf : Rename all functions/variables including "Btf" to "BTF"
  cmd/tetragon-vmtests-run/image.go
  cmd/tetragon/main_linux.go
  pkg/api/tracingapi/client_kprobe.go
  pkg/btf/btf.go
  pkg/btf/btf_test.go
  pkg/btf/validation.go
  pkg/btf/validation_test.go
  pkg/bugtool/bugtool.go
  pkg/bugtool/bugtool_test.go
  pkg/observer/observertesthelper/observer_test_helper.go
  pkg/sensors/tracing/generic.go
  pkg/sensors/tracing/generic_test.go
  pkg/sensors/tracing/generickprobe.go
  pkg/sensors/tracing/genericlsm.go
Owners: @cilium/tetragon

pkg/arch : Add new helper to retrieve arch specific syscalls from symbol
  pkg/arch/arch.go
Owners: @cilium/tetragon

btf/validation.go : Change syscall prefix trim to use pkg/arch helper
  pkg/btf/validation.go
Owners: @cilium/tetragon

pkg/btf/validation_test.go : Add bypass in TestSpecs for ARM
  pkg/btf/validation_test.go
Owners: @cilium/tetragon

bpf: Fix complexity issue selectors
  bpf/process/pfilter.h
Owners: @cilium/tetragon

bpf: Fix verifier issue
  bpf/process/pfilter.h
Owners: @cilium/tetragon

tests/e2e: remove extraneous logs
  Makefile
  tests/e2e/install/tetragon/tetragon.go
Owners: @cilium/tetragon

tests/e2e: Dump operator info
  tests/e2e/helpers/dumpinfo.go
Owners: @cilium/tetragon

tests/e2e: Move CreateExportDir to runners package and unexport
  tests/e2e/checker/rpcchecker.go
  tests/e2e/helpers/dumpinfo.go
  tests/e2e/runners/runners.go
Owners: @cilium/tetragon

tests/e2e: Remove cluster-name flag
  .github/workflows/run-e2e-tests.yaml
  tests/e2e/helpers/cluster.go
Owners: @willfindlay, @cilium/tetragon

tests/e2e: Remove duplicate log lines
  tests/e2e/install/tetragon/tetragon.go
Owners: @cilium/tetragon

don't merge disable workflows
  .github/workflows/checkpatch.yaml
  .github/workflows/gotests.yml
  .github/workflows/lint-codeql.yml
  .github/workflows/packages-e2e-tests.yaml
  .github/workflows/podinfo-test.yaml
  .github/workflows/run-e2e-tests.yaml
  .github/workflows/static-checks.yaml
  .github/workflows/vmtests.yml
Owners: @willfindlay

don't merge fail
  tests/e2e/tests/policyfilter/policyfilter_test.go
Owners: @cilium/tetragon

don't merge testing
  .github/workflows/run-e2e-tests.yaml
  Makefile
Owners: @willfindlay, @cilium/tetragon

ci: In "Tetragon Go Test" add vmlinux in artifact when test fails
  .github/workflows/gotests.yml
Owners: @willfindlay

refactor: move video data to data folder, add default cover
  docs/content/en/_index.html
  docs/content/en/docs/resources/_index.md
  docs/data/videos.yaml
  docs/layouts/shortcodes/video-table.html
  docs/static/images/video-preview/default-cover.jpg
  docs/static/images/video-preview/getting-familiar-with-security-observability.jpg
  docs/static/images/video-preview/securing-the-superpowers.jpg
  docs/static/images/video-preview/the-next-log4jshell.jpg
Owners: @mtardy, @cilium/tetragon

refactor: move social section from shortcodes to partial
  docs/assets/scss/social.scss
  docs/content/en/_index.html
  docs/content/en/enterprise.html
  docs/layouts/partials/social.html
Owners: @mtardy, @cilium/tetragon

feat: add use cases pages
  docs/assets/scss/home.scss
  docs/assets/scss/home/case.scss
  docs/assets/scss/home/intro.scss
  docs/assets/scss/home/videos.scss
  docs/assets/scss/social.scss
  docs/content/en/_index.html
  docs/content/en/use-cases/capabilities-monitoring.md
  docs/content/en/use-cases/execution-monitoring.md
  docs/content/en/use-cases/file-integrity-monitoring.md
  docs/content/en/use-cases/kubernetes-identity-aware-policies.md
  docs/content/en/use-cases/network-observability.md
  docs/content/en/use-cases/operating-system-integrity.md
  docs/content/en/use-cases/privileges-monitoring.md
  docs/layouts/partials/videos.html
  docs/layouts/use-cases/single.html
  docs/static/images/use-cases/eye.svg
  docs/static/images/use-cases/file-integrity-monitoring-illustration.jpg
  docs/static/images/use-cases/gear.svg
  docs/static/images/use-cases/management.svg
  docs/static/images/use-cases/monitor.svg
  docs/static/images/use-cases/monitoring.svg
  docs/static/images/use-cases/search-activity-blue.svg
  docs/static/images/use-cases/search-activity-green.svg
  docs/static/images/use-cases/settings.svg
  docs/static/images/use-cases/shield-code.svg
  docs/static/images/use-cases/shield-lock-blue.svg
  docs/static/images/use-cases/shield-lock-green.svg
  docs/static/images/use-cases/socket-plug.svg
  docs/static/images/use-cases/table.svg
  docs/static/images/use-cases/target-blue.svg
  docs/static/images/use-cases/target-green.svg
  docs/static/images/use-cases/telescope-blue.svg
  docs/static/images/use-cases/telescope-green.svg
Owners: @mtardy, @cilium/tetragon

bpf: Fix complexity issue selectors
  bpf/process/pfilter.h
Owners: @cilium/tetragon

bpf: Fix verifier issue
  bpf/process/pfilter.h
Owners: @cilium/tetragon

docs: fix typo
  docs/content/en/docs/concepts/events.md
Owners: @mtardy, @cilium/tetragon

Add windows specific constants to constants package
  pkg/constants/constants_windows.go
Owners: @cilium/tetragon

watcher: Fix pod lookup if the index is out-of-sync
  pkg/watcher/fake.go
  pkg/watcher/pod.go
Owners: @cilium/tetragon

watcher: Add a test for K8sWatcher.FindPod
  pkg/watcher/pod_test.go
Owners: @cilium/tetragon

tetragon/windows: Port pkg/kernels to Windows
  pkg/kernels/kernels.go
  pkg/kernels/kernels_common.go
  pkg/kernels/kernels_windows.go
Owners: @cilium/tetragon
