Repository cilium/tetragon, changes with the owners that CODEOWNERS names for each.
All owners: @cilium/tetragon, @willfindlay, @kkourt, @mtardy

CODEOWNERS:

# Request a review from the Tetragon team on any PR
* @cilium/tetragon

# Request a review from William when codegen is edited
cmd/protoc-gen-go-tetragon/ @willfindlay

# Request a review from William when CI is edited
.github/workflows/ @willfindlay

# Request a review from kkourt when core sensor files are modified
pkg/src/sensors/ @kkourt

# Request a review from mtardy when anything from docs is modified but do not
# block on approval from anyone in the tetragon team
/docs/ @mtardy @cilium/tetragon

kprobe: allow LSM funcs to be overridden on SLE
  pkg/sensors/tracing/generickprobe.go
Owners: @cilium/tetragon

kprobe: unit tests for validateOverride
  pkg/sensors/tracing/generickprobe_test.go
Owners: @cilium/tetragon

docs: Update FAQ on kernel config with `tetra probe config`
  docs/content/en/docs/installation/faq.md
Owners: @mtardy, @cilium/tetragon

tetragon: Use clang 20 to build bpf objects
  Makefile
Owners: @cilium/tetragon

tetragon: Disable has_return_copy check for generic tracepoint
  bpf/process/types/basic.h
Owners: @cilium/tetragon

tetragon: Execute next_selidx function only for large programs
  bpf/process/generic_calls.h
Owners: @cilium/tetragon

tetragon: Mask msg_capabilities::c index access
  bpf/process/pfilter.h
Owners: @cilium/tetragon

tetragon: Use mcpu=v3 t ocompile bof objects
  bpf/Makefile.defs
Owners: @cilium/tetragon

tetragon: Adjust event_config fields to properly mask verifier access
  bpf/process/types/basic.h
  pkg/api/tracingapi/client_kprobe.go
  pkg/sensors/tracing/generickprobe.go
  pkg/sensors/tracing/genericlsm.go
  pkg/sensors/tracing/genericusdt.go
Owners: @cilium/tetragon

tetragon: Display verifier log in TestVerifyTetragonPrograms
  contrib/verify/verify_test.go
Owners: @cilium/tetragon

fix
  bpf/process/pfilter.h
Owners: @cilium/tetragon

pkg/process/cache: fix memory leak in proc cache GC goroutine
  pkg/process/cache.go
Owners: @cilium/tetragon

pkg/eventcache: fix a memory leak in event cache
  pkg/eventcache/eventcache.go
Owners: @cilium/tetragon

pkg/eventcache: fix a memory leak in event cache
  pkg/eventcache/eventcache.go
Owners: @cilium/tetragon

pkg/process/cache: fix memory leak in proc cache GC goroutine
  pkg/process/cache.go
Owners: @cilium/tetragon

pkg/process/cache: fix memory leak in proc cache GC goroutine
  pkg/process/cache.go
Owners: @cilium/tetragon

pkg/eventcache: fix a memory leak in event cache
  pkg/eventcache/eventcache.go
Owners: @cilium/tetragon

pkg/process/cache: fix memory leak in proc cache GC goroutine
  pkg/process/cache.go
Owners: @cilium/tetragon

pkg/process/cache: fix memory leak in proc cache GC goroutine
  pkg/process/cache.go
Owners: @cilium/tetragon

pkg/eventcache: fix a memory leak in event cache
  pkg/eventcache/eventcache.go
Owners: @cilium/tetragon

pkg/eventcache: fix a memory leak in event cache
  pkg/eventcache/eventcache.go
Owners: @cilium/tetragon

pkg/process/cache: fix memory leak in proc cache GC goroutine
  pkg/process/cache.go
Owners: @cilium/tetragon

pkg/eventcache: fix a memory leak in event cache
  pkg/eventcache/eventcache.go
Owners: @cilium/tetragon

pkg/eventcache: fix a memory leak in event cache
  pkg/eventcache/eventcache.go
Owners: @cilium/tetragon

pkg/process/cache: fix memory leak in proc cache GC goroutine
  pkg/process/cache.go
Owners: @cilium/tetragon

cleanup(pkg/elf): rewrite elf package to allow further architectures.
  pkg/elf/usdt_args.go
  pkg/elf/usdt_args_amd64.go
  pkg/elf/usdt_args_others.go
Owners: @cilium/tetragon

new(pkg): add usdt_args_arm64 implementation and tests.
  pkg/asm/reg_offset_arm64.go
  pkg/elf/usdt_args_arm64.go
  pkg/elf/usdt_args_arm64_test.go
Owners: @cilium/tetragon

cleanup(pkg/asm,pkg/elf): rename sources relying upon go name convention.
  pkg/asm/assignment_linux_amd64.go
  pkg/asm/assignment_linux_amd64_test.go
  pkg/asm/regoffset_linux_amd64.go
  pkg/asm/regoffset_linux_arm64.go
  pkg/elf/usdt_args_others.go
  pkg/elf/usdtargs_linux.go
  pkg/elf/usdtargs_linux_amd64.go
  pkg/elf/usdtargs_linux_amd64_test.go
  pkg/elf/usdtargs_linux_arm64.go
  pkg/elf/usdtargs_linux_arm64_test.go
Owners: @cilium/tetragon

pkg/process/cache: fix memory leak in proc cache GC goroutine
  pkg/process/cache.go
Owners: @cilium/tetragon

pkg/eventcache: fix a memory leak in event cache
  pkg/eventcache/eventcache.go
Owners: @cilium/tetragon

new(pkg/bpf): add `CheckOrMountTraceFS()` helper.
  pkg/bpf/bpffs_linux.go
  pkg/bpf/bpffs_windows.go
  pkg/mountinfo/mountinfo.go
Owners: @cilium/tetragon

cleanup(pkg/bpf): constify global variables.
  pkg/bpf/bpffs_linux.go
Owners: @cilium/tetragon

new: use new bpf.CheckOrMountTraceFS() helper.
  cmd/tetragon/main.go
  pkg/bench/bench.go
  pkg/policyfilter/policyfilter_test.go
  pkg/testutils/sensors/testrun_linux.go
Owners: @cilium/tetragon

cleanup(pkg/bpf): drop `bpf.CheckOrMountDebugFS()`.
  pkg/bpf/bpffs_linux.go
  pkg/bpf/bpffs_windows.go
Owners: @cilium/tetragon

new: switch to use tracefs by default.
  bpf/test/bpf_lseek.c
  docs/content/en/docs/concepts/tracing-policy/hooks.md
  pkg/ftrace/ftrace.go
  pkg/sensors/test/checker_test.go
  pkg/sensors/test/lseek_test.go
  pkg/sensors/tracing/selectors_test.go
  pkg/sensors/tracing/tracepoint_test.go
  pkg/tracepoint/tracepoint.go
Owners: @cilium/tetragon, @mtardy

new(pkg): introduce `tracepoint.GetTraceFSPath()`.
  pkg/tracepoint/tracepoint.go
Owners: @cilium/tetragon

new(pkg): introduce `testutils.CheckKernelTracingExists`.
  pkg/sensors/test/checker_test.go
  pkg/sensors/test/lseek_test.go
  pkg/sensors/tracing/tracepoint_test.go
  pkg/testutils/path.go
Owners: @cilium/tetragon

new(pkg): fallback at debugFS when traceFS is not available.
  pkg/ftrace/ftrace.go
  pkg/tracepoint/tracepoint.go
Owners: @cilium/tetragon

cleanup(pkg/bpf): drop `bpf.CheckOrMountDebugFS()`.
  pkg/bpf/bpffs_linux.go
  pkg/bpf/bpffs_windows.go
Owners: @cilium/tetragon

new: switch to use tracefs by default.
  bpf/test/bpf_lseek.c
  docs/content/en/docs/concepts/tracing-policy/hooks.md
  pkg/ftrace/ftrace.go
  pkg/sensors/test/checker_test.go
  pkg/sensors/test/lseek_test.go
  pkg/sensors/tracing/selectors_test.go
  pkg/sensors/tracing/tracepoint_test.go
  pkg/tracepoint/tracepoint.go
Owners: @cilium/tetragon, @mtardy
