Repository cilium/tetragon, changes with the owners that CODEOWNERS names for each.
All owners: @cilium/tetragon, @willfindlay, @kkourt, @mtardy

[metrics] Fix overhead_program metrics for return probes
  docs/content/en/docs/reference/metrics.md
  pkg/metrics/overhead/collector.go
  pkg/metrics/overhead/overhead.go
  pkg/sensors/sensors.go
Owners: @mtardy, @cilium/tetragon

[metrics] Fix overhead_program metrics for return probes
  docs/content/en/docs/reference/metrics.md
  pkg/metrics/overhead/collector.go
  pkg/metrics/overhead/overhead.go
  pkg/sensors/sensors.go
Owners: @mtardy, @cilium/tetragon

tetragon: Skip loader test for 6.1 and 6.6
  pkg/vmtests/skip.go
Owners: @cilium/tetragon

bugtool: Dump tracefs log
  pkg/bugtool/bugtool.go
Owners: @cilium/tetragon

Add upgrade note for export-file-perm change
  contrib/upgrade-notes/latest.md
Owners: @cilium/tetragon

Add upgrade note for export-file-perm change
  contrib/upgrade-notes/latest.md
Owners: @cilium/tetragon

enforcer: add policynamespace to sensor
  pkg/sensors/tracing/enforcer.go
Owners: @cilium/tetragon

enforcer: add policynamespace to sensor
  pkg/sensors/tracing/enforcer.go
Owners: @cilium/tetragon

Renovate: Extend Helm files coverage
  .github/renovate.json5
Owners: @cilium/tetragon

Switch to Go stdlib maps/slices packages
  go.mod
  pkg/bugtool/maps.go
  pkg/eventcache/metrics.go
  pkg/metrics/eventmetrics/eventmetrics.go
  pkg/metrics/policyfiltermetrics/policyfiltermetrics.go
Owners: @cilium/tetragon

.golangci.yml: make sure golang.org/x/exp/{maps,slices} aren't used anymore
  .golangci.yml
Owners: @cilium/tetragon

Renovate: Extend Helm files coverage
  .github/renovate.json5
Owners: @cilium/tetragon

crd: Added 'tetragon' category for Tetragon CRDs
  install/kubernetes/tetragon/crds-yaml/cilium.io_tracingpolicies.yaml
  install/kubernetes/tetragon/crds-yaml/cilium.io_tracingpoliciesnamespaced.yaml
  pkg/k8s/apis/cilium.io/client/crds/v1alpha1/cilium.io_tracingpolicies.yaml
  pkg/k8s/apis/cilium.io/client/crds/v1alpha1/cilium.io_tracingpoliciesnamespaced.yaml
  pkg/k8s/apis/cilium.io/v1alpha1/tracing_policy_types.go
  pkg/k8s/crdutils/register.go
  vendor/github.com/cilium/tetragon/pkg/k8s/apis/cilium.io/client/crds/v1alpha1/cilium.io_tracingpolicies.yaml
  vendor/github.com/cilium/tetragon/pkg/k8s/apis/cilium.io/client/crds/v1alpha1/cilium.io_tracingpoliciesnamespaced.yaml
  vendor/github.com/cilium/tetragon/pkg/k8s/apis/cilium.io/v1alpha1/tracing_policy_types.go
  vendor/github.com/cilium/tetragon/pkg/k8s/crdutils/register.go
Owners: @cilium/tetragon

crd: Added 'tetragon' category for Tetragon CRDs
  install/kubernetes/tetragon/crds-yaml/cilium.io_tracingpolicies.yaml
  install/kubernetes/tetragon/crds-yaml/cilium.io_tracingpoliciesnamespaced.yaml
  pkg/k8s/apis/cilium.io/client/crds/v1alpha1/cilium.io_tracingpolicies.yaml
  pkg/k8s/apis/cilium.io/client/crds/v1alpha1/cilium.io_tracingpoliciesnamespaced.yaml
  pkg/k8s/apis/cilium.io/v1alpha1/tracing_policy_types.go
  pkg/k8s/crdutils/register.go
  vendor/github.com/cilium/tetragon/pkg/k8s/apis/cilium.io/client/crds/v1alpha1/cilium.io_tracingpolicies.yaml
  vendor/github.com/cilium/tetragon/pkg/k8s/apis/cilium.io/client/crds/v1alpha1/cilium.io_tracingpoliciesnamespaced.yaml
  vendor/github.com/cilium/tetragon/pkg/k8s/apis/cilium.io/v1alpha1/tracing_policy_types.go
  vendor/github.com/cilium/tetragon/pkg/k8s/crdutils/register.go
Owners: @cilium/tetragon

crd: Added shortnames for Tetragon CRDs
  install/kubernetes/tetragon/crds-yaml/cilium.io_podinfo.yaml
  install/kubernetes/tetragon/crds-yaml/cilium.io_tracingpolicies.yaml
  install/kubernetes/tetragon/crds-yaml/cilium.io_tracingpoliciesnamespaced.yaml
  pkg/k8s/apis/cilium.io/client/crds/v1alpha1/cilium.io_podinfo.yaml
  pkg/k8s/apis/cilium.io/client/crds/v1alpha1/cilium.io_tracingpolicies.yaml
  pkg/k8s/apis/cilium.io/client/crds/v1alpha1/cilium.io_tracingpoliciesnamespaced.yaml
  pkg/k8s/apis/cilium.io/v1alpha1/tracing_policy_types.go
  pkg/k8s/apis/cilium.io/v1alpha1/types.go
  pkg/k8s/apis/cilium.io/v1alpha1/version.go
  vendor/github.com/cilium/tetragon/pkg/k8s/apis/cilium.io/client/crds/v1alpha1/cilium.io_podinfo.yaml
  vendor/github.com/cilium/tetragon/pkg/k8s/apis/cilium.io/client/crds/v1alpha1/cilium.io_tracingpolicies.yaml
  vendor/github.com/cilium/tetragon/pkg/k8s/apis/cilium.io/client/crds/v1alpha1/cilium.io_tracingpoliciesnamespaced.yaml
  vendor/github.com/cilium/tetragon/pkg/k8s/apis/cilium.io/v1alpha1/tracing_policy_types.go
  vendor/github.com/cilium/tetragon/pkg/k8s/apis/cilium.io/v1alpha1/types.go
  vendor/github.com/cilium/tetragon/pkg/k8s/apis/cilium.io/v1alpha1/version.go
Owners: @cilium/tetragon

[docs] Fix typo
  docs/content/en/docs/installation/runtime-hooks.md
Owners: @mtardy, @cilium/tetragon

[docs] Fix typo
  docs/content/en/docs/installation/runtime-hooks.md
Owners: @mtardy, @cilium/tetragon

example: block loading modules from host
  examples/tracingpolicy/modules-nohost.yaml
Owners: @cilium/tetragon

examples: Cleanup and clarify different directories
  examples/README.md
  examples/tracingpolicy/cves/cve-2024-3094-xz-ssh.yaml
  examples/tracingpolicy/sandbox/linux-namespaces/kill_unprivileged_user_namespace.yaml
  examples/tracingpolicy/sandbox/linux-namespaces/kill_unprivileged_user_namespace_in_pid_namespace.yaml
Owners: @cilium/tetragon

docs: Add a little note to the Policy Library main page
  docs/content/en/docs/policy-library/_index.md
  docs/content/en/docs/policy-library/observability/_index.md
Owners: @mtardy, @cilium/tetragon

tetragon: Move loadInitialSensor after server is started
  cmd/tetragon/main.go
  pkg/bench/bench.go
  pkg/observer/observer.go
  pkg/observer/observertesthelper/observer_test_helper.go
  pkg/sensors/manager.go
  pkg/sensors/manager_test.go
  pkg/sensors/tracing/generickprobe_test.go
  pkg/testutils/sensors/sensors.go
Owners: @cilium/tetragon

Add protobuf helper functions
  api/v1/tetragon/codegen/helpers/helpers.pb.go
  tools/protoc-gen-go-tetragon/helpers/helpers.go
  vendor/github.com/cilium/tetragon/api/v1/tetragon/codegen/helpers/helpers.pb.go
Owners: @cilium/tetragon

Add Common Expression Language filter
  api/v1/README.md
  api/v1/tetragon/events.pb.go
  api/v1/tetragon/events.proto
  contrib/tetragon-rthooks/vendor/github.com/cilium/tetragon/api/v1/tetragon/events.pb.go
  contrib/tetragon-rthooks/vendor/github.com/cilium/tetragon/api/v1/tetragon/events.proto
  docs/content/en/docs/reference/grpc-api.md
  go.mod
  pkg/filters/cel_expression.go
  pkg/filters/cel_expression_test.go
  vendor/github.com/cilium/tetragon/api/v1/tetragon/events.pb.go
  vendor/github.com/cilium/tetragon/api/v1/tetragon/events.proto
Owners: @cilium/tetragon, @mtardy

example: block file access to kubectl exec
  examples/other/file-block-kubectl-exec-access.yaml
Owners: @cilium/tetragon

tetragon: Move procevents.GetRunningProcs call from base sensor load
  cmd/tetragon/main.go
  pkg/bugtool/maps_test.go
  pkg/observer/observertesthelper/observer_test_helper.go
  pkg/sensors/exec/cgroups_test.go
  pkg/sensors/exec/exec.go
  pkg/sensors/exec/exec_test.go
  pkg/sensors/exec/threads_test.go
  pkg/sensors/tracing/enforcer_test.go
  pkg/sensors/tracing/generickprobe_test.go
  pkg/sensors/tracing/kprobe_test.go
  pkg/sensors/tracing/policyfilter_test.go
  pkg/sensors/tracing/selectors_test.go
  pkg/testutils/sensors/sensors.go
Owners: @cilium/tetragon

tetragon: Add test for exec events generated throgh main
  cmd/tetragon/main.go
  cmd/tetragon/main_test.go
  pkg/observer/observer.go
Owners: @cilium/tetragon

.golangci.yml: make sure golang.org/x/exp/{maps,slices} aren't used anymore
  .golangci.yml
Owners: @cilium/tetragon

Switch to Go stdlib maps/slices packages
  go.mod
  pkg/bugtool/maps.go
  pkg/eventcache/metrics.go
  pkg/metrics/eventmetrics/eventmetrics.go
  pkg/metrics/policyfiltermetrics/policyfiltermetrics.go
Owners: @cilium/tetragon

tetragon: Move procevents.GetRunningProcs call from base sensor load
  cmd/tetragon/main.go
  pkg/bugtool/maps_test.go
  pkg/observer/observertesthelper/observer_test_helper.go
  pkg/sensors/exec/cgroups_test.go
  pkg/sensors/exec/exec.go
  pkg/sensors/exec/exec_test.go
  pkg/sensors/exec/threads_test.go
  pkg/sensors/tracing/enforcer_test.go
  pkg/sensors/tracing/generickprobe_test.go
  pkg/sensors/tracing/kprobe_test.go
  pkg/sensors/tracing/policyfilter_test.go
  pkg/sensors/tracing/selectors_test.go
  pkg/testutils/sensors/sensors.go
Owners: @cilium/tetragon

tetragon: Add test for exec events generated throgh main
  cmd/tetragon/main.go
  cmd/tetragon/main_test.go
  pkg/observer/observer.go
Owners: @cilium/tetragon

bugtool: Use nil opts when calling ebpf.LoadPinnedMap
  pkg/bugtool/maps.go
Owners: @cilium/tetragon

tetragon: Use DestroyHook to remove enforcer handle
  pkg/sensors/tracing/enforcer.go
Owners: @cilium/tetragon

tetragon: Pin links unconditionally
  pkg/sensors/program/loader.go
Owners: @cilium/tetragon

tetragon: Unpin link in unloader objects
  pkg/sensors/unloader/unloader.go
Owners: @cilium/tetragon

tetragon: Add unpin arg to sensor Unload and Destroy
  pkg/observer/observertesthelper/observer_test_helper.go
  pkg/sensors/collection.go
  pkg/sensors/delayed_sensor_test.go
  pkg/sensors/exec/exec_test.go
  pkg/sensors/handler.go
  pkg/sensors/load.go
  pkg/sensors/manager.go
  pkg/sensors/program/map.go
  pkg/sensors/program/program.go
  pkg/sensors/sensors.go
  pkg/sensors/test/sensors_test.go
  pkg/sensors/tracing/enforcer_test.go
  pkg/sensors/tracing/generickprobe_test.go
  pkg/sensors/tracing/kprobe_test.go
  pkg/sensors/unloader/unloader.go
  pkg/testutils/sensors/sensors.go
Owners: @cilium/tetragon

tetragon: Rename unloader.PinUnloader to unloader.ProgUnloader
  pkg/sensors/program/loader.go
  pkg/sensors/unloader/unloader.go
Owners: @cilium/tetragon

tetragon: Fix kprobe multi attach override link path
  pkg/sensors/program/loader.go
Owners: @cilium/tetragon

tetragon: Add extra sleep in TestEnforcerMulti test
  pkg/sensors/tracing/enforcer_test.go
Owners: @cilium/tetragon

tetragon: Remove program.LinkPin field
  pkg/sensors/program/loader.go
  pkg/sensors/program/program.go
Owners: @cilium/tetragon

tetragon: Fix fmodret attach override link path
  pkg/sensors/program/loader.go
Owners: @cilium/tetragon

CODEOWNERS:

# Request a review from the Tetragon team on any PR
* @cilium/tetragon

# Request a review from William when codegen is edited
cmd/protoc-gen-go-tetragon/ @willfindlay

# Request a review from William when CI is edited
.github/workflows/ @willfindlay

# Request a review from kkourt when core sensor files are modified
pkg/src/sensors/ @kkourt

# Request a review from mtardy when anything from docs is modified but do not
# block on approval from anyone in the tetragon team
/docs/ @mtardy @cilium/tetragon
