Repository cilium/tetragon, changes with the owners that CODEOWNERS names for each.
All owners: @cilium/tetragon, @willfindlay, @kkourt, @mtardy

CODEOWNERS:

# Request a review from the Tetragon team on any PR
* @cilium/tetragon

# Request a review from William when codegen is edited
cmd/protoc-gen-go-tetragon/ @willfindlay

# Request a review from William when CI is edited
.github/workflows/ @willfindlay

# Request a review from kkourt when core sensor files are modified
pkg/src/sensors/ @kkourt

# Request a review from mtardy when anything from docs is modified but do not
# block on approval from anyone in the tetragon team
/docs/ @mtardy @cilium/tetragon

tetragon: log current lockdown security context
  pkg/reader/proc/proc.go
Owners: @cilium/tetragon

tracingpolicy: add tags field to categorize events
  pkg/k8s/apis/cilium.io/client/crds/v1alpha1/cilium.io_tracingpolicies.yaml
  pkg/k8s/apis/cilium.io/client/crds/v1alpha1/cilium.io_tracingpoliciesnamespaced.yaml
  pkg/k8s/apis/cilium.io/v1alpha1/types.go
  pkg/k8s/apis/cilium.io/v1alpha1/version.go
  vendor/github.com/cilium/tetragon/pkg/k8s/apis/cilium.io/client/crds/v1alpha1/cilium.io_tracingpolicies.yaml
  vendor/github.com/cilium/tetragon/pkg/k8s/apis/cilium.io/client/crds/v1alpha1/cilium.io_tracingpoliciesnamespaced.yaml
  vendor/github.com/cilium/tetragon/pkg/k8s/apis/cilium.io/v1alpha1/types.go
  vendor/github.com/cilium/tetragon/pkg/k8s/apis/cilium.io/v1alpha1/version.go
Owners: @cilium/tetragon

api:proto: add tags to print Tracing Policy tags
  api/v1/README.md
  api/v1/tetragon/codegen/eventchecker/eventchecker.pb.go
  api/v1/tetragon/tetragon.pb.go
  api/v1/tetragon/tetragon.proto
  docs/content/en/docs/reference/grpc-api.md
  vendor/github.com/cilium/tetragon/api/v1/tetragon/codegen/eventchecker/eventchecker.pb.go
  vendor/github.com/cilium/tetragon/api/v1/tetragon/tetragon.pb.go
  vendor/github.com/cilium/tetragon/api/v1/tetragon/tetragon.proto
Owners: @cilium/tetragon, @mtardy

tests: validate CRD tags
  pkg/sensors/tracing/kprobe_validation_test.go
Owners: @cilium/tetragon

docs: document Tags field
  docs/content/en/docs/concepts/tracing-policy/example.md
  docs/content/en/docs/concepts/tracing-policy/tags.md
Owners: @mtardy, @cilium/tetragon

tetragon: export tags field into events
  pkg/grpc/tracing/tracing.go
  pkg/sensors/tracing/generickprobe.go
  pkg/sensors/tracing/generictracepoint.go
  pkg/sensors/tracing/genericuprobe.go
  pkg/sensors/tracing/tags.go
  pkg/sensors/tracing/tags_test.go
Owners: @cilium/tetragon

tests: assert that tags are supported
  pkg/sensors/tracing/kprobe_test.go
Owners: @cilium/tetragon

tetragon: log current lockdown security context
  pkg/reader/proc/proc.go
Owners: @cilium/tetragon

tetragon: log current security context if any at startup
  cmd/tetragon/main.go
  pkg/reader/proc/proc.go
Owners: @cilium/tetragon

tetragon: export tags field into events
  pkg/grpc/tracing/tracing.go
  pkg/sensors/tracing/generickprobe.go
  pkg/sensors/tracing/generictracepoint.go
  pkg/sensors/tracing/genericuprobe.go
  pkg/sensors/tracing/tags.go
  pkg/sensors/tracing/tags_test.go
Owners: @cilium/tetragon

tests: validate CRD tags
  pkg/sensors/tracing/kprobe_validation_test.go
Owners: @cilium/tetragon

tracingpolicy: add tags field to categorize events
  pkg/k8s/apis/cilium.io/client/crds/v1alpha1/cilium.io_tracingpolicies.yaml
  pkg/k8s/apis/cilium.io/client/crds/v1alpha1/cilium.io_tracingpoliciesnamespaced.yaml
  pkg/k8s/apis/cilium.io/v1alpha1/types.go
  pkg/k8s/apis/cilium.io/v1alpha1/version.go
  vendor/github.com/cilium/tetragon/pkg/k8s/apis/cilium.io/client/crds/v1alpha1/cilium.io_tracingpolicies.yaml
  vendor/github.com/cilium/tetragon/pkg/k8s/apis/cilium.io/client/crds/v1alpha1/cilium.io_tracingpoliciesnamespaced.yaml
  vendor/github.com/cilium/tetragon/pkg/k8s/apis/cilium.io/v1alpha1/types.go
  vendor/github.com/cilium/tetragon/pkg/k8s/apis/cilium.io/v1alpha1/version.go
Owners: @cilium/tetragon

api:proto: add tags to print Tracing Policy tags
  api/v1/README.md
  api/v1/tetragon/codegen/eventchecker/eventchecker.pb.go
  api/v1/tetragon/tetragon.pb.go
  api/v1/tetragon/tetragon.proto
  docs/content/en/docs/reference/grpc-api.md
  vendor/github.com/cilium/tetragon/api/v1/tetragon/codegen/eventchecker/eventchecker.pb.go
  vendor/github.com/cilium/tetragon/api/v1/tetragon/tetragon.pb.go
  vendor/github.com/cilium/tetragon/api/v1/tetragon/tetragon.proto
Owners: @cilium/tetragon, @mtardy

tests: assert that tags are supported
  pkg/sensors/tracing/kprobe_test.go
Owners: @cilium/tetragon

docs: document Tags field
  docs/content/en/docs/concepts/tracing-policy/example.md
  docs/content/en/docs/concepts/tracing-policy/tags.md
Owners: @mtardy, @cilium/tetragon

tetragon: Add local ebpf version
  go.mod
  go.sum
  vendor/github.com/cilium/ebpf/.gitattributes
  vendor/github.com/cilium/ebpf/CODEOWNERS
  vendor/github.com/cilium/ebpf/CONTRIBUTING.md
  vendor/github.com/cilium/ebpf/attachtype_string.go
  vendor/github.com/cilium/ebpf/btf/btf.go
  vendor/github.com/cilium/ebpf/btf/core.go
  vendor/github.com/cilium/ebpf/btf/kernel.go
  vendor/github.com/cilium/ebpf/btf/marshal.go
  vendor/github.com/cilium/ebpf/btf/traversal.go
  vendor/github.com/cilium/ebpf/btf/types.go
  vendor/github.com/cilium/ebpf/elf_reader.go
  vendor/github.com/cilium/ebpf/internal/endian_be.go
  vendor/github.com/cilium/ebpf/internal/endian_le.go
  vendor/github.com/cilium/ebpf/internal/feature.go
  vendor/github.com/cilium/ebpf/internal/kallsyms/kallsyms.go
  vendor/github.com/cilium/ebpf/internal/sys/signals.go
  vendor/github.com/cilium/ebpf/internal/sys/syscall.go
  vendor/github.com/cilium/ebpf/internal/sys/types.go
  vendor/github.com/cilium/ebpf/link/link.go
  vendor/github.com/cilium/ebpf/link/netkit.go
  vendor/github.com/cilium/ebpf/link/syscalls.go
  vendor/github.com/cilium/ebpf/linker.go
  vendor/github.com/cilium/ebpf/prog.go
  vendor/github.com/cilium/ebpf/run-tests.sh
  vendor/github.com/cilium/ebpf/types.go
  vendor/modules.txt
Owners: @cilium/tetragon

tetragon: Adding kprobe_multi prefix to program Attach string
  pkg/sensors/tracing/generickprobe.go
Owners: @cilium/tetragon

tetragon: Store link in program.Program
  pkg/sensors/program/loader.go
  pkg/sensors/program/program.go
Owners: @cilium/tetragon

e2e: force unique logs dump name
  .github/workflows/run-e2e-tests.yaml
Owners: @willfindlay

e2e: fix portforward error log
  tests/e2e/helpers/portforward.go
Owners: @cilium/tetragon

tetragon: Add probemetrics package
  pkg/metrics/metricsconfig/initmetrics.go
  pkg/metrics/probemetrics/collector.go
  pkg/metrics/probemetrics/probemetrics.go
Owners: @cilium/tetragon

e2e: extract logs from operator and agent
  tests/e2e/helpers/dumpinfo.go
Owners: @cilium/tetragon

tetragon: Add sensor PostLoadHook hook
  pkg/sensors/load.go
  pkg/sensors/sensors.go
Owners: @cilium/tetragon

tetragon: Add kprobe stats timer
  pkg/sensors/tracing/generickprobe.go
Owners: @cilium/tetragon

implement redaction filters
  api/v1/README.md
  api/v1/tetragon/events.pb.go
  api/v1/tetragon/events.pb.json.go
  api/v1/tetragon/events.proto
  cmd/tetragon/main.go
  docs/content/en/docs/concepts/events.md
  docs/content/en/docs/reference/grpc-api.md
  docs/content/en/docs/reference/helm-chart.md
  docs/data/tetragon_flags.yaml
  install/kubernetes/tetragon/README.md
  install/kubernetes/tetragon/templates/tetragon_configmap.yaml
  install/kubernetes/tetragon/values.yaml
  pkg/bench/bench.go
  pkg/exporter/exporter_test.go
  pkg/fieldfilters/redaction.go
  pkg/fieldfilters/redaction_test.go
  pkg/grpc/exec/exec_test_helper.go
  pkg/grpc/process_manager.go
  pkg/grpc/process_manager_test.go
  pkg/observer/observertesthelper/observer_test_helper.go
  pkg/option/flags.go
  pkg/server/server.go
  vendor/github.com/cilium/tetragon/api/v1/tetragon/events.pb.go
  vendor/github.com/cilium/tetragon/api/v1/tetragon/events.pb.json.go
  vendor/github.com/cilium/tetragon/api/v1/tetragon/events.proto
  vendor/google.golang.org/protobuf/internal/msgfmt/format.go
  vendor/google.golang.org/protobuf/reflect/protopath/path.go
  vendor/google.golang.org/protobuf/reflect/protopath/step.go
  vendor/google.golang.org/protobuf/reflect/protorange/range.go
  vendor/modules.txt
Owners: @cilium/tetragon, @mtardy

implement redaction filters
  api/v1/README.md
  api/v1/tetragon/events.pb.go
  api/v1/tetragon/events.pb.json.go
  api/v1/tetragon/events.proto
  cmd/tetragon/main.go
  contrib/rthooks/tetragon-oci-hook/vendor/github.com/cilium/tetragon/api/v1/tetragon/events.pb.go
  contrib/rthooks/tetragon-oci-hook/vendor/github.com/cilium/tetragon/api/v1/tetragon/events.pb.json.go
  contrib/rthooks/tetragon-oci-hook/vendor/github.com/cilium/tetragon/api/v1/tetragon/events.proto
  docs/content/en/docs/concepts/events.md
  docs/content/en/docs/reference/grpc-api.md
  docs/content/en/docs/reference/helm-chart.md
  install/kubernetes/templates/tetragon_configmap.yaml
  install/kubernetes/values.yaml
  pkg/bench/bench.go
  pkg/exporter/exporter_test.go
  pkg/fieldfilters/redaction.go
  pkg/fieldfilters/redaction_test.go
  pkg/grpc/exec/exec_test_helper.go
  pkg/grpc/process_manager.go
  pkg/grpc/process_manager_test.go
  pkg/observer/observertesthelper/observer_test_helper.go
  pkg/option/flags.go
  pkg/server/server.go
  vendor/github.com/cilium/tetragon/api/v1/tetragon/events.pb.go
  vendor/github.com/cilium/tetragon/api/v1/tetragon/events.pb.json.go
  vendor/github.com/cilium/tetragon/api/v1/tetragon/events.proto
  vendor/google.golang.org/protobuf/internal/msgfmt/format.go
  vendor/google.golang.org/protobuf/reflect/protopath/path.go
  vendor/google.golang.org/protobuf/reflect/protopath/step.go
  vendor/google.golang.org/protobuf/reflect/protorange/range.go
  vendor/modules.txt
Owners: @cilium/tetragon, @mtardy

Human-readable specification of Tracing Policy API
  docs/Dockerfile.hugo
  docs/Makefile
  docs/hugo.toml
Owners: @mtardy, @cilium/tetragon

Human-readable specification of Tracing Policy API
  docs/Dockerfile.hugo
  docs/Makefile
  docs/content/en/docs/reference/tracing-policy-api.html
  docs/hugo.toml
Owners: @mtardy, @cilium/tetragon

pkg/api: move MsgGenericCred from tracingapi to processapi
  pkg/alignchecker/alignchecker.go
  pkg/api/processapi/processapi.go
  pkg/api/tracingapi/client_kprobe.go
  pkg/sensors/tracing/args.go
Owners: @cilium/tetragon

tetragon:execve: use msg_cred to send creds including capabilities
  bpf/alignchecker/bpf_alignchecker.c
  bpf/lib/bpf_cred.h
  bpf/lib/process.h
  bpf/process/bpf_execve_event.c
  bpf/process/bpf_process_event.h
  pkg/alignchecker/alignchecker.go
  pkg/api/processapi/processapi.go
  pkg/grpc/process_manager_test.go
  pkg/process/process.go
  pkg/sensors/exec/procevents/proc_reader.go
Owners: @cilium/tetragon

tests:process_exec: ensure we get caps and ns
  pkg/sensors/exec/exec_test.go
Owners: @cilium/tetragon

ci/static-checks: ensure no binary files are checked in
  .github/workflows/static-checks.yaml
Owners: @willfindlay

cves: add detection of XZ backdoor in OpenSSH
  examples/policylibrary/cves/cve-2024-3094-xz-ssh.yaml
Owners: @cilium/tetragon

bpf: store thread leader caps during fork and reduce false positives
  bpf/process/bpf_fork.c
Owners: @cilium/tetragon

test: assert that we get caps in thread forks
  pkg/sensors/tracing/kprobe_threads_test.go
Owners: @cilium/tetragon

cves: add detection of XZ backdoor in OpenSSH
  examples/policylibrary/cves/cve-2024-3094-xz-ssh.yaml
Owners: @cilium/tetragon

tetragon: Add MultiRelinkUnloader unloader
  pkg/sensors/unloader/unloader.go
Owners: @cilium/tetragon

tetragon: Add HasUprobeMulti function
  pkg/bpf/detect.go
Owners: @cilium/tetragon

tetragon: Add documentation for uprobe options
  docs/content/en/docs/concepts/tracing-policy/options.md
Owners: @mtardy, @cilium/tetragon

tetragon: Add LoadMultiUprobeProgram function
  pkg/sensors/program/loader.go
  pkg/sensors/program/program.go
Owners: @cilium/tetragon
