Repository cilium/tetragon, changes with the owners that CODEOWNERS names for each.
All owners: @cilium/tetragon, @willfindlay, @kkourt, @mtardy

String: Increase prefix size from 128 to 256 chars
  bpf/process/string_maps.h
  pkg/selectors/selectors.go
  pkg/sensors/tracing/selectors.go
Owners: @cilium/tetragon

Arg validation: Add mappings for sock and skb
  pkg/btf/validation.go
Owners: @cilium/tetragon

String matching: Fix long postfix string match
  bpf/process/types/basic.h
Owners: @cilium/tetragon

helm: Fix templating securityContext and tolerations
  install/kubernetes/templates/daemonset.yaml
Owners: @cilium/tetragon

tracingpolicy: add a stack traces example
  examples/tracingpolicy/stack_traces.yaml
Owners: @cilium/tetragon

tracingpolicy: add a stack traces example
  examples/tracingpolicy/stack_traces.yaml
Owners: @cilium/tetragon

docs: bump Hugo to v0.120.4
  .github/workflows/build-deploy-docs.yaml
  .github/workflows/check-links-pr.yaml
  netlify.toml
Owners: @willfindlay, @cilium/tetragon

docs: add some custom CSS and partials
  docs/assets/scss/_styles_project.scss
  docs/assets/scss/alert.scss
  docs/assets/scss/banner.scss
  docs/assets/scss/codeblock.scss
  docs/assets/scss/details.scss
  docs/assets/scss/footer.scss
  docs/assets/scss/header.scss
  docs/assets/scss/home.scss
  docs/assets/scss/img.scss
  docs/assets/scss/page-card.scss
  docs/assets/scss/tabbed-pane.scss
  docs/assets/scss/tdcontent.scss
  docs/assets/scss/toc.scss
  docs/layouts/partials/footer.html
  docs/layouts/partials/section-index.html
  docs/layouts/partials/toc.html
  docs/static/icons/contribution-icon.svg
  docs/static/icons/faq-icon.svg
  docs/static/icons/features-icon.svg
  docs/static/icons/observability-icon.svg
  docs/static/icons/overview-icon.svg
  docs/static/icons/reference-icon.svg
  docs/static/icons/resources-icon.svg
  docs/static/icons/tutorials-icon.svg
Owners: @mtardy, @cilium/tetragon

docs: enable search using Algolia
  docs/hugo.toml
Owners: @mtardy, @cilium/tetragon

docs: remove incompatibles Pixelpoint customizations
  docs/assets/scss/_styles_project.scss
  docs/assets/scss/_variables_project.scss
  docs/assets/scss/alert.scss
  docs/assets/scss/banner.scss
  docs/assets/scss/footer.scss
  docs/assets/scss/header.scss
  docs/assets/scss/home.scss
  docs/assets/scss/main-content.scss
  docs/assets/scss/page-card.scss
  docs/assets/scss/page-info.scss
  docs/assets/scss/prism.scss
  docs/assets/scss/sidebar.scss
  docs/assets/scss/tabbed-pane.scss
  docs/assets/scss/theme/buttons.scss
  docs/assets/scss/theme/code.scss
  docs/assets/scss/theme/content.scss
  docs/assets/scss/theme/main-container.scss
  docs/assets/scss/theme/nav.scss
  docs/assets/scss/theme/navbar.scss
  docs/assets/scss/theme/shortcodes/cards-pane.scss
  docs/assets/scss/theme/shortcodes/tabbed-pane.scss
  docs/assets/scss/theme/sidebar-toc.scss
  docs/assets/scss/theme/sidebar-tree.scss
  docs/assets/scss/theme/support/utilities.scss
  docs/assets/scss/theme/tables.scss
  docs/assets/scss/theme/taxonomy.scss
  docs/assets/scss/theme/text.scss
  docs/assets/scss/toc.scss
  docs/layouts/partials/footer.html
  docs/layouts/partials/navbar.html
  docs/layouts/partials/page-meta-lastmod.html
  docs/layouts/partials/page-meta-links.html
  docs/layouts/partials/section-index.html
  docs/layouts/partials/sidebar-tree.html
  docs/layouts/partials/toc.html
  docs/layouts/shortcodes/tabpane.html
Owners: @mtardy, @cilium/tetragon

docs: fix some Hugo-Docsy warnings
  docs/content/en/docs/installation/tetra-cli.md
  docs/hugo.toml
Owners: @mtardy, @cilium/tetragon

docs: simplify the hugo.toml settings
  docs/hugo.toml
Owners: @mtardy, @cilium/tetragon

docs: fix syntax highlighting
  docs/content/en/docs/concepts/events.md
  docs/content/en/docs/concepts/metrics.md
  docs/content/en/docs/concepts/tracing-policy/example.md
  docs/content/en/docs/getting-started/enforcement.md
  docs/content/en/docs/getting-started/execution.md
  docs/content/en/docs/getting-started/file-events.md
  docs/content/en/docs/getting-started/install-docker.md
  docs/content/en/docs/getting-started/install-k8s.md
  docs/content/en/docs/getting-started/network.md
  docs/content/en/docs/installation/container.md
  docs/content/en/docs/installation/kubernetes.md
  docs/content/en/docs/installation/package.md
  docs/content/en/docs/installation/tetra-cli.md
  docs/content/en/docs/policy-library/observability/_index.md
  docs/content/en/docs/reference/helm-chart.md
  docs/content/en/docs/troubleshooting/_index.md
  docs/content/en/docs/use-cases/host-system-changes/linux-kernel-modules.md
  docs/content/en/docs/use-cases/linux-process-credentials/monitor-changes-at-kernel.md
  docs/content/en/docs/use-cases/process-lifecycle/advanced-process-execution.md
  docs/content/en/docs/use-cases/security-profiles/record-linux-capabilities.md
  docs/hugo.toml
Owners: @mtardy, @cilium/tetragon

helm: Fix templating securityContext and tolerations
  install/kubernetes/templates/daemonset.yaml
Owners: @cilium/tetragon

helm: Fix templating securityContext and tolerations
  install/kubernetes/templates/daemonset.yaml
Owners: @cilium/tetragon

helm: Fix templating securityContext and tolerations
  install/kubernetes/templates/daemonset.yaml
Owners: @cilium/tetragon

linters: add makezero and fix a related bug
  .golangci.yml
  pkg/btf/validation.go
  pkg/reader/network/network.go
  pkg/syscallinfo/syscallinfo.go
Owners: @cilium/tetragon

linters: add makezero and fix a related bug
  .golangci.yml
  pkg/btf/validation.go
  pkg/reader/network/network.go
  pkg/syscallinfo/syscallinfo.go
Owners: @cilium/tetragon

linters: add dupword detecting stutters in comments and strings
  .golangci.yml
  pkg/api/ops/ops.go
  pkg/cgroups/cgroups.go
  pkg/kernels/kernels.go
  pkg/matchers/durationmatcher/durationmatcher.go
  pkg/reader/proc/proc.go
  pkg/tgsyscall/tgsyscall.go
  tests/e2e/helpers/dumpinfo.go
Owners: @cilium/tetragon

Remove pod.labels field
  api/v1/README.md
  api/v1/tetragon/codegen/eventchecker/eventchecker.pb.go
  api/v1/tetragon/tetragon.pb.go
  api/v1/tetragon/tetragon.proto
  contrib/rthooks/tetragon-oci-hook/vendor/github.com/cilium/tetragon/api/v1/tetragon/tetragon.pb.go
  contrib/rthooks/tetragon-oci-hook/vendor/github.com/cilium/tetragon/api/v1/tetragon/tetragon.proto
  docs/content/en/docs/reference/grpc-api.md
  examples/eventchecker/process_exec.yaml
  pkg/fieldfilters/fields_test.go
  pkg/process/podinfo.go
  vendor/github.com/cilium/tetragon/api/v1/tetragon/codegen/eventchecker/eventchecker.pb.go
  vendor/github.com/cilium/tetragon/api/v1/tetragon/tetragon.pb.go
  vendor/github.com/cilium/tetragon/api/v1/tetragon/tetragon.proto
Owners: @cilium/tetragon, @mtardy

feat: add servicemonitor for operator
  docs/content/en/docs/reference/helm-chart.md
  install/kubernetes/README.md
  install/kubernetes/templates/operator_servicemonitor.yaml
  install/kubernetes/values.yaml
Owners: @mtardy, @cilium/tetragon

feat: add servicemonitor for operator
  docs/content/en/docs/reference/helm-chart.md
  install/kubernetes/README.md
  install/kubernetes/templates/operator_servicemonitor.yaml
  install/kubernetes/values.yaml
Owners: @mtardy, @cilium/tetragon

Revert "setup-go: Get Go version from go.mod"
  .github/workflows/generated-files.yaml
  .github/workflows/gotests.yml
  .github/workflows/podinfo-test.yaml
  .github/workflows/run-e2e-tests.yaml
  .github/workflows/static-checks.yaml
  .github/workflows/vmtests.yml
Owners: @willfindlay

tetragon: Add syscallNames32 map
  pkg/syscallinfo/syscallinfo.go
  pkg/syscallinfo/syscallnames_amd64.go
  pkg/syscallinfo/syscallnames_arm64.go
  pkg/syscallinfo/syscallnames_darwin.go
  pkg/syscallinfo/syscallnames_windows.go
Owners: @cilium/tetragon

tetragon: Make CutSyscallPrefix return true for 32bit prefix
  pkg/arch/arch.go
  pkg/encoder/encoder.go
  pkg/sensors/tracing/lists.go
Owners: @cilium/tetragon

tetragon: Add i386 syscall values
  pkg/syscallinfo/i386/linux.go
Owners: @cilium/tetragon

tetragon: Detect send_signal helper for killer test
  pkg/bpf/detect.go
  pkg/sensors/tracing/killer_test.go
Owners: @cilium/tetragon

tetragon: Detect large program size
  pkg/bpf/detect.go
Owners: @cilium/tetragon

tetragon: Change EnableLargeProgs to check on features
  pkg/kernels/kernels.go
Owners: @cilium/tetragon

tetragon: Add syscall64 in KProbeArg type
  pkg/k8s/apis/cilium.io/client/crds/v1alpha1/cilium.io_tracingpolicies.yaml
  pkg/k8s/apis/cilium.io/client/crds/v1alpha1/cilium.io_tracingpoliciesnamespaced.yaml
  pkg/k8s/apis/cilium.io/v1alpha1/types.go
  vendor/github.com/cilium/tetragon/pkg/k8s/apis/cilium.io/client/crds/v1alpha1/cilium.io_tracingpolicies.yaml
  vendor/github.com/cilium/tetragon/pkg/k8s/apis/cilium.io/client/crds/v1alpha1/cilium.io_tracingpoliciesnamespaced.yaml
  vendor/github.com/cilium/tetragon/pkg/k8s/apis/cilium.io/v1alpha1/types.go
Owners: @cilium/tetragon

tetragon: Load syscall lists with syscall64 values
  pkg/selectors/kernel.go
  pkg/selectors/selectors.go
  pkg/sensors/tracing/lists.go
Owners: @cilium/tetragon

tetragon: Add syscall64 argument type
  bpf/lib/generic.h
  bpf/process/bpf_generic_tracepoint.c
  bpf/process/generic_calls.h
  bpf/process/types/basic.h
  pkg/generictypes/generictypes.go
  pkg/selectors/kernel.go
  pkg/sensors/tracing/generictracepoint.go
Owners: @cilium/tetragon

workflows: add independent go-version for setup-go actions
  .github/renovate.json5
  .github/workflows/build-clang-image.yaml
  .github/workflows/build-images-ci.yml
  .github/workflows/build-images-releases.yml
  .github/workflows/generated-files.yaml
  .github/workflows/gotests.yml
  .github/workflows/lint-codeql.yml
  .github/workflows/podinfo-test.yaml
  .github/workflows/run-e2e-tests.yaml
  .github/workflows/static-checks.yaml
  .github/workflows/vmtests.yml
Owners: @cilium/tetragon, @willfindlay

tetragon: Use syscall64 type in killer specs
  examples/tracingpolicy/killer.yaml
  pkg/sensors/tracing/killer_test.go
  pkg/sensors/tracing/tracepoint_amd64_test.go
  pkg/sensors/tracing/tracepoint_test.go
Owners: @cilium/tetragon

tetragon: Add killer test for both bits
  pkg/sensors/tracing/killer_amd64_test.go
  pkg/sensors/tracing/killer_test.go
Owners: @cilium/tetragon

tetragon: Update list docs with syscall64 type
  docs/content/en/docs/concepts/tracing-policy/hooks.md
  docs/content/en/docs/concepts/tracing-policy/selectors.md
Owners: @mtardy, @cilium/tetragon

tetragon: Add 32bit versions of killer tests
  .github/workflows/gotests.yml
  .github/workflows/vmtests.yml
  contrib/tester-progs/Makefile
  pkg/sensors/tracing/killer_amd64_test.go
Owners: @willfindlay, @cilium/tetragon

workflows: add independent go-version for setup-go actions
  .github/renovate.json5
  .github/workflows/build-clang-image.yaml
  .github/workflows/build-images-ci.yml
  .github/workflows/build-images-releases.yml
  .github/workflows/generated-files.yaml
  .github/workflows/gotests.yml
  .github/workflows/lint-codeql.yml
  .github/workflows/podinfo-test.yaml
  .github/workflows/run-e2e-tests.yaml
  .github/workflows/static-checks.yaml
  .github/workflows/vmtests.yml
Owners: @cilium/tetragon, @willfindlay

Revert "setup-go: Get Go version from go.mod"
  .github/workflows/generated-files.yaml
  .github/workflows/gotests.yml
  .github/workflows/podinfo-test.yaml
  .github/workflows/run-e2e-tests.yaml
  .github/workflows/static-checks.yaml
  .github/workflows/vmtests.yml
Owners: @willfindlay

Remove pod.labels field
  api/v1/README.md
  api/v1/tetragon/codegen/eventchecker/eventchecker.pb.go
  api/v1/tetragon/tetragon.pb.go
  api/v1/tetragon/tetragon.proto
  contrib/rthooks/tetragon-oci-hook/vendor/github.com/cilium/tetragon/api/v1/tetragon/tetragon.pb.go
  contrib/rthooks/tetragon-oci-hook/vendor/github.com/cilium/tetragon/api/v1/tetragon/tetragon.proto
  docs/content/en/docs/reference/grpc-api.md
  examples/eventchecker/process_exec.yaml
  pkg/fieldfilters/fields_test.go
  pkg/process/podinfo.go
  vendor/github.com/cilium/tetragon/api/v1/tetragon/codegen/eventchecker/eventchecker.pb.go
  vendor/github.com/cilium/tetragon/api/v1/tetragon/tetragon.pb.go
  vendor/github.com/cilium/tetragon/api/v1/tetragon/tetragon.proto
Owners: @cilium/tetragon, @mtardy

CODEOWNERS:

# Request a review from the Tetragon team on any PR
* @cilium/tetragon

# Request a review from William when codegen is edited
cmd/protoc-gen-go-tetragon/ @willfindlay

# Request a review from William when CI is edited
.github/workflows/ @willfindlay

# Request a review from kkourt when core sensor files are modified
pkg/src/sensors/ @kkourt

# Request a review from mtardy when anything from docs is modified but do not
# block on approval from anyone in the tetragon team
/docs/ @mtardy @cilium/tetragon
