Repository cilium/tetragon, changes with the owners that CODEOWNERS names for each.
All owners: @cilium/tetragon, @willfindlay, @kkourt, @mtardy

tetragon: Add redact test for environment variables
  pkg/fieldfilters/redaction_test.go
Owners: @cilium/tetragon

tetragon: Add test for execParse with environment variables
  pkg/sensors/exec/exec_test.go
Owners: @cilium/tetragon

tetragon: Add docs for environment variables redaction
  docs/content/en/docs/concepts/events.md
Owners: @mtardy, @cilium/tetragon

tetragon: Apply redaction filters also on environment variables
  pkg/fieldfilters/benchmark_test.go
  pkg/fieldfilters/redaction.go
  pkg/fieldfilters/redaction_test.go
  pkg/process/process.go
Owners: @cilium/tetragon

new(pkg/sensors): set `policyMode` to `MonitorOnlyMode`.
  pkg/sensors/tracing/policyhandler_linux.go
Owners: @cilium/tetragon

new(bpf): introduce `POLICY_MODE_MONITOR_ONLY` enum value.
  bpf/lib/policy_conf.h
  bpf/process/generic_calls.h
Owners: @cilium/tetragon

new(pkg/selectors): introduce `HasEnforcementAction` helper.
  pkg/selectors/kernel.go
Owners: @cilium/tetragon

new(api,vendor,pkg): introduce `TracingPolicyMode_TP_MODE_MONITOR_ONLY`.
  api/v1/README.md
  api/v1/tetragon/sensors.pb.go
  api/v1/tetragon/sensors.proto
  cmd/tetra/tracingpolicy/tracingpolicy.go
  contrib/tetragon-rthooks/vendor/github.com/cilium/tetragon/api/v1/tetragon/sensors.pb.go
  contrib/tetragon-rthooks/vendor/github.com/cilium/tetragon/api/v1/tetragon/sensors.proto
  docs/content/en/docs/reference/grpc-api.md
  pkg/policyconf/policyconf.go
  pkg/sensors/collection.go
  vendor/github.com/cilium/tetragon/api/v1/tetragon/sensors.pb.go
  vendor/github.com/cilium/tetragon/api/v1/tetragon/sensors.proto
Owners: @cilium/tetragon, @mtardy

Remove duplicate from k8s definition
  docs/content/en/docs/reference/tracing-policy.md
  install/kubernetes/tetragon/crds-yaml/cilium.io_tracingpolicies.yaml
  install/kubernetes/tetragon/crds-yaml/cilium.io_tracingpoliciesnamespaced.yaml
  pkg/k8s/apis/cilium.io/client/crds/v1alpha1/cilium.io_tracingpolicies.yaml
  pkg/k8s/apis/cilium.io/client/crds/v1alpha1/cilium.io_tracingpoliciesnamespaced.yaml
  pkg/k8s/apis/cilium.io/v1alpha1/types.go
  pkg/k8s/apis/cilium.io/v1alpha1/version.go
  vendor/github.com/cilium/tetragon/pkg/k8s/apis/cilium.io/client/crds/v1alpha1/cilium.io_tracingpolicies.yaml
  vendor/github.com/cilium/tetragon/pkg/k8s/apis/cilium.io/client/crds/v1alpha1/cilium.io_tracingpoliciesnamespaced.yaml
  vendor/github.com/cilium/tetragon/pkg/k8s/apis/cilium.io/v1alpha1/types.go
  vendor/github.com/cilium/tetragon/pkg/k8s/apis/cilium.io/v1alpha1/version.go
Owners: @mtardy, @cilium/tetragon

tetraon/windows: Fix CI failure caused by caching
  .github/workflows/windows-build-smoke-test.yml
Owners: @willfindlay

tetragon/windows: Use ringbuf implementation from ebpf go library
  pkg/bpf/ringbuf_windows.go
  pkg/observer/observer_windows.go
Owners: @cilium/tetragon

tetraon/windows: Fix CI failure caused by caching
  .github/workflows/windows-build-smoke-test.yml
Owners: @willfindlay

Remove duplicate from k8s definition
  docs/content/en/docs/reference/tracing-policy.md
  install/kubernetes/tetragon/crds-yaml/cilium.io_tracingpolicies.yaml
  install/kubernetes/tetragon/crds-yaml/cilium.io_tracingpoliciesnamespaced.yaml
  pkg/k8s/apis/cilium.io/client/crds/v1alpha1/cilium.io_tracingpolicies.yaml
  pkg/k8s/apis/cilium.io/client/crds/v1alpha1/cilium.io_tracingpoliciesnamespaced.yaml
  pkg/k8s/apis/cilium.io/v1alpha1/types.go
  pkg/k8s/apis/cilium.io/v1alpha1/version.go
  vendor/github.com/cilium/tetragon/pkg/k8s/apis/cilium.io/client/crds/v1alpha1/cilium.io_tracingpolicies.yaml
  vendor/github.com/cilium/tetragon/pkg/k8s/apis/cilium.io/client/crds/v1alpha1/cilium.io_tracingpoliciesnamespaced.yaml
  vendor/github.com/cilium/tetragon/pkg/k8s/apis/cilium.io/v1alpha1/types.go
  vendor/github.com/cilium/tetragon/pkg/k8s/apis/cilium.io/v1alpha1/version.go
Owners: @mtardy, @cilium/tetragon

kprobe: support 38+ override on lsm funcs
  bpf/Makefile
  bpf/process/bpf_generic_kprobe.c
  bpf/process/bpf_generic_lsm_output.c
  bpf/process/bpf_generic_override.c
  bpf/process/bpf_override_maps.h
  bpf/process/generic_calls.h
  bpf/process/generic_maps.h
Owners: @cilium/tetragon

kprobe: custom ebpf program unloader
  pkg/sensors/program/loader_linux.go
  pkg/sensors/program/loader_windows.go
  pkg/sensors/tracing/enforcer.go
  pkg/sensors/unloader/unloader.go
Owners: @cilium/tetragon

kprobe: support 38+ override on lsm funcs
  pkg/sensors/load.go
  pkg/sensors/load_linux.go
  pkg/sensors/tracing/generickprobe.go
  pkg/sensors/tracing/genericoverride.go
Owners: @cilium/tetragon

kprobe: cleanup obsolete code.
  pkg/sensors/program/loader_linux.go
Owners: @cilium/tetragon

tester-progs: make clean should remove libs too
  contrib/tester-progs/Makefile
Owners: @cilium/tetragon

tester-progs: make clean should remove libs too
  contrib/tester-progs/Makefile
Owners: @cilium/tetragon

new(pkg/sensors): deny mode update for monitor_only policies.
  pkg/policyconf/policyconf.go
Owners: @cilium/tetragon

new(pkg/policyconf): add test around monitor-only mode.
  pkg/policyconf/test/mode_test.go
Owners: @cilium/tetragon

Chore: Remove Kubecon NA 2025 banner
  docs/layouts/partials/community-banner.html
Owners: @mtardy, @cilium/tetragon

tests:pkg/sensors: Use JsonTestExpect() for negative tests
  pkg/sensors/tracing/kprobe_test.go
Owners: @cilium/tetragon

tetragon: Add generated code for previous changes
  api/v1/README.md
  api/v1/tetragon/codegen/eventchecker/eventchecker.pb.go
  api/v1/tetragon/tetragon.pb.go
  contrib/tetragon-rthooks/vendor/github.com/cilium/tetragon/api/v1/tetragon/tetragon.pb.go
  contrib/tetragon-rthooks/vendor/github.com/cilium/tetragon/api/v1/tetragon/tetragon.proto
  docs/content/en/docs/reference/grpc-api.md
  vendor/github.com/cilium/tetragon/api/v1/tetragon/codegen/eventchecker/eventchecker.pb.go
  vendor/github.com/cilium/tetragon/api/v1/tetragon/tetragon.pb.go
  vendor/github.com/cilium/tetragon/api/v1/tetragon/tetragon.proto
Owners: @cilium/tetragon, @mtardy

tetragon: Collect environment variables in execve events
  bpf/lib/environ_conf.h
  bpf/lib/process.h
  bpf/process/bpf_execve_event.c
Owners: @cilium/tetragon

tetragon: Add environment_variables string to Process message
  api/v1/tetragon/tetragon.proto
Owners: @cilium/tetragon

tetragon: Read 4.19 curr->bin.path from tracepoint filename
  bpf/process/bpf_execve_event.c
Owners: @cilium/tetragon

tetragon: Add test for execParse with api.EventErrorFilename
  pkg/sensors/exec/exec_test.go
Owners: @cilium/tetragon

tetragon: Store exec event data sizes for easier parsing
  bpf/lib/process.h
  bpf/process/bpf_execve_event.c
  bpf/process/bpf_process_event.h
  pkg/api/processapi/processapi.go
  pkg/sensors/exec/exec_linux.go
  pkg/sensors/exec/exec_test.go
Owners: @cilium/tetragon

tetragon: Factor data read from exec event into single function
  pkg/sensors/exec/exec_linux.go
Owners: @cilium/tetragon

tetragon: Simplify execParse error value handling
  pkg/sensors/exec/exec_linux.go
  pkg/sensors/exec/exec_test.go
Owners: @cilium/tetragon

tetragon: Add test for execParse with just filename
  pkg/sensors/exec/exec_test.go
Owners: @cilium/tetragon

tetragon: Process environment variables in exec event
  docs/content/en/docs/reference/metrics.md
  docs/data/tetragon_flags.yaml
  pkg/api/flags.go
  pkg/api/processapi/processapi.go
  pkg/option/config.go
  pkg/option/flags.go
  pkg/process/process.go
  pkg/reader/exec/exec.go
  pkg/sensors/config/confmap/confmap.go
  pkg/sensors/exec/exec_linux.go
Owners: @mtardy, @cilium/tetragon

tetragon: Add test for execParse with environment variables
  pkg/sensors/exec/exec_test.go
Owners: @cilium/tetragon

tetragon: Add redact test for environment variables
  pkg/fieldfilters/redaction_test.go
Owners: @cilium/tetragon

tetragon: Add test for execParse with empty environment variables
  pkg/sensors/exec/exec_test.go
Owners: @cilium/tetragon

tetragon: Apply redaction filters also on environment variables
  pkg/fieldfilters/benchmark_test.go
  pkg/fieldfilters/redaction.go
  pkg/fieldfilters/redaction_test.go
  pkg/process/process.go
Owners: @cilium/tetragon

tetragon: Add docs for environment variables redaction
  docs/content/en/docs/concepts/events.md
Owners: @mtardy, @cilium/tetragon

new(api,vendor,pkg): introduce `TracingPolicyMode_TP_MODE_MONITOR_ONLY`.
  api/v1/README.md
  api/v1/tetragon/sensors.pb.go
  api/v1/tetragon/sensors.proto
  cmd/tetra/tracingpolicy/tracingpolicy.go
  contrib/tetragon-rthooks/vendor/github.com/cilium/tetragon/api/v1/tetragon/sensors.pb.go
  contrib/tetragon-rthooks/vendor/github.com/cilium/tetragon/api/v1/tetragon/sensors.proto
  docs/content/en/docs/reference/grpc-api.md
  pkg/policyconf/policyconf.go
  pkg/sensors/collection.go
  vendor/github.com/cilium/tetragon/api/v1/tetragon/sensors.pb.go
  vendor/github.com/cilium/tetragon/api/v1/tetragon/sensors.proto
Owners: @cilium/tetragon, @mtardy

new(pkg/selectors): introduce `HasEnforcementAction` helper.
  pkg/selectors/kernel.go
Owners: @cilium/tetragon

CODEOWNERS:

# Request a review from the Tetragon team on any PR
* @cilium/tetragon

# Request a review from William when codegen is edited
cmd/protoc-gen-go-tetragon/ @willfindlay

# Request a review from William when CI is edited
.github/workflows/ @willfindlay

# Request a review from kkourt when core sensor files are modified
pkg/src/sensors/ @kkourt

# Request a review from mtardy when anything from docs is modified but do not
# block on approval from anyone in the tetragon team
/docs/ @mtardy @cilium/tetragon
