Repository cilium/tetragon, changes with the owners that CODEOWNERS names for each.
All owners: @cilium/tetragon, @willfindlay, @kkourt, @mtardy

docs: Document how metrics reference is generated
  Makefile
  docs/content/en/docs/reference/metrics.md
Owners: @cilium/tetragon, @mtardy

docs: Add autogenerated metrics reference page
  .gitattributes
  docs/content/en/docs/reference/metrics.md
Owners: @cilium/tetragon, @mtardy

docs: Improve metrics reference title and frontmatter
  Makefile
  docs/content/en/docs/reference/metrics.md
Owners: @cilium/tetragon, @mtardy

Makefile: Document metrics-docs and lint-metrics-md targets
  Makefile
Owners: @cilium/tetragon

docs: Don't mention github.com/isovalent/metricstool in metrics docs
  Makefile
  docs/content/en/docs/reference/metrics.md
Owners: @cilium/tetragon, @mtardy

Makefile: Add metrics-docs rule
  Makefile
Owners: @cilium/tetragon

docs: Document how metrics reference is generated
  Makefile
  docs/content/en/docs/reference/metrics.md
Owners: @cilium/tetragon, @mtardy

ci: Check generated metrics docs
  .github/workflows/generated-files.yaml
  Makefile
Owners: @willfindlay, @cilium/tetragon

policystatemetrics: Initialize custom collectors for docs
  pkg/metrics/policystatemetrics/policystatemetrics.go
Owners: @cilium/tetragon

eventmetrics: Initialize custom collectors for docs
  pkg/metrics/eventmetrics/collector.go
  pkg/metrics/metricsconfig/initmetrics.go
Owners: @cilium/tetragon

observer: Initialize custom collectors for docs
  pkg/metrics/metricsconfig/initmetrics.go
  pkg/observer/observer_stats.go
Owners: @cilium/tetragon

docs: Add autogenerated metrics reference page
  .gitattributes
  docs/content/en/docs/reference/metrics.md
Owners: @cilium/tetragon, @mtardy

docs: Don't mention github.com/isovalent/metricstool in metrics docs
  Makefile
  docs/content/en/docs/reference/metrics.md
Owners: @cilium/tetragon, @mtardy

tetra: Add metrics-docs command
  cmd/tetra/commands_linux.go
  cmd/tetra/metrics/print.go
  go.mod
  go.sum
  vendor/github.com/isovalent/metricstool/LICENSE
  vendor/github.com/isovalent/metricstool/pkg/metricsmd/config.go
  vendor/github.com/isovalent/metricstool/pkg/metricsmd/generate.go
  vendor/github.com/isovalent/metricstool/pkg/metricsmd/print.go
  vendor/modules.txt
Owners: @cilium/tetragon

syscallmetrics: Initialize metrics with example labels for docs
  pkg/metrics/consts/consts.go
  pkg/metrics/syscallmetrics/syscallmetrics.go
Owners: @cilium/tetragon

tetra: Split metrics reference into sections
  Makefile
  cmd/tetra/metrics/print.go
  pkg/metrics/metricsconfig/initmetrics.go
Owners: @cilium/tetragon

Makefile: Document metrics-docs and lint-metrics-md targets
  Makefile
Owners: @cilium/tetragon

kprobemetrics: Initialize metrics with example labels for docs
  pkg/metrics/kprobemetrics/kprobemetrics.go
Owners: @cilium/tetragon

docs: Improve metrics reference title and frontmatter
  Makefile
  docs/content/en/docs/reference/metrics.md
Owners: @cilium/tetragon, @mtardy

metricsconfig: Split InitMetrics and introduce InitMetricsForDocs
  cmd/tetra/metrics/print.go
  pkg/metrics/eventmetrics/eventmetrics.go
  pkg/metrics/kprobemetrics/kprobemetrics.go
  pkg/metrics/metricsconfig/initmetrics.go
  pkg/metrics/policystatemetrics/policystatemetrics.go
  pkg/metrics/syscallmetrics/syscallmetrics.go
Owners: @cilium/tetragon

eventmetrics: Initialize metrics with example labels for docs
  pkg/metrics/consts/consts.go
  pkg/metrics/eventmetrics/eventmetrics.go
Owners: @cilium/tetragon

README: add a link to the community call
  README.md
Owners: @cilium/tetragon

pkg/k8s: fix use of deprecated scripts
  pkg/k8s/Makefile
Owners: @cilium/tetragon

README: add a link to the community call
  README.md
Owners: @cilium/tetragon

tetragon: Remove superfluous switch in HandleMessage callbacks
  pkg/grpc/exec/exec.go
Owners: @cilium/tetragon

pkg/k8s: fix use of deprecated scripts
  pkg/k8s/Makefile
Owners: @cilium/tetragon

Add `ForceUpdateCRD` argument to the chart
  docs/content/en/docs/reference/helm-chart.md
  install/kubernetes/tetragon/README.md
  install/kubernetes/tetragon/templates/operator_configmap.yaml
  install/kubernetes/tetragon/values.yaml
Owners: @mtardy, @cilium/tetragon

Add `--force-update-crd` argument to the operator
  operator/cmd/common/common.go
  operator/crd/crd.go
  operator/option/config.go
Owners: @cilium/tetragon

Add `CRDOptions` to crdutils
  pkg/k8s/crdutils/register.go
  vendor/github.com/cilium/tetragon/pkg/k8s/crdutils/register.go
Owners: @cilium/tetragon

Add `ForceUpdateCRD` argument to the chart
  docs/content/en/docs/reference/helm-chart.md
  install/kubernetes/tetragon/README.md
  install/kubernetes/tetragon/templates/operator_configmap.yaml
  install/kubernetes/tetragon/values.yaml
Owners: @mtardy, @cilium/tetragon

Add `--force-update-crd` argument to the operator
  operator/cmd/common/common.go
  operator/crd/crd.go
  operator/option/config.go
Owners: @cilium/tetragon

Add `CRDOptions` to crdutils
  pkg/k8s/crdutils/register.go
  vendor/github.com/cilium/tetragon/pkg/k8s/crdutils/register.go
Owners: @cilium/tetragon

renovate: Update rhel8 as well
  .github/renovate.json5
Owners: @cilium/tetragon

vmtests: Add rhel8 kernel
  .github/workflows/vmtests.yml
  cmd/tetragon-vmtests-run/conf.go
  cmd/tetragon-vmtests-run/main.go
  cmd/tetragon-vmtests-run/qemu.go
Owners: @willfindlay, @cilium/tetragon

vmtests: Add rhel8 kernel
  .github/workflows/vmtests.yml
  cmd/tetragon-vmtests-run/conf.go
  cmd/tetragon-vmtests-run/main.go
  cmd/tetragon-vmtests-run/qemu.go
Owners: @willfindlay, @cilium/tetragon

renovate: Update rhel8 as well
  .github/renovate.json5
Owners: @cilium/tetragon

tetragon-oci-hook: improve logging
  contrib/rthooks/tetragon-oci-hook/cmd/hook/main.go
Owners: @cilium/tetragon

cves: add runc CVE-2024-21626 detection
  examples/tracingpolicy/cves/cve-2024-21626-runc.yaml
Owners: @cilium/tetragon

tetra: add cgroup id command in policyfilter
  cmd/tetra/policyfilter/policyfilter.go
Owners: @cilium/tetragon

cgroups: skip crio-conmon container in fsscan
  pkg/cgroups/fsscan/fsscan.go
Owners: @cilium/tetragon

CODEOWNERS:

# Request a review from the Tetragon team on any PR
* @cilium/tetragon

# Request a review from William when codegen is edited
cmd/protoc-gen-go-tetragon/ @willfindlay

# Request a review from William when CI is edited
.github/workflows/ @willfindlay

# Request a review from kkourt when core sensor files are modified
pkg/src/sensors/ @kkourt

# Request a review from mtardy when anything from docs is modified but do not
# block on approval from anyone in the tetragon team
/docs/ @mtardy @cilium/tetragon
