Repository cilium/tetragon, changes with the owners that CODEOWNERS names for each.
All owners: @cilium/tetragon, @willfindlay, @kkourt, @mtardy

test(tracing): add Go ABI register slot unit tests
  pkg/sensors/tracing/goabi_slots_test.go
Owners: @cilium/tetragon

feat(uprobes): add go_string for Go uprobes
  bpf/include/api.h
  bpf/process/event_config.h
  bpf/process/generic_calls.h
  bpf/process/types/basic.h
  bpf/process/user_preload.h
  pkg/api/tracingapi/client_kprobe.go
  pkg/elf/pclntab.go
  pkg/generictypes/generictypes.go
  pkg/selectors/kernel.go
  pkg/sensors/tracing/args_linux.go
  pkg/sensors/tracing/genericuprobe.go
  pkg/sensors/tracing/goabi_slots.go
  pkg/sensors/tracing/goabi_slots_test.go
Owners: @cilium/tetragon

feat(tracing): add ClearGoString override argument
  pkg/k8s/apis/cilium.io/v1alpha1/types.go
  pkg/selectors/kernel.go
  pkg/sensors/tracing/genericuprobe.go
  pkg/sensors/tracing/goabi_slots.go
  vendor/github.com/cilium/tetragon/pkg/k8s/apis/cilium.io/v1alpha1/types.go
Owners: @cilium/tetragon

chore(k8s): regenerate CRDs/docs for go_string
  docs/content/en/docs/reference/tracing-policy.md
  install/kubernetes/tetragon/crds-yaml/cilium.io_tracingpolicies.yaml
  install/kubernetes/tetragon/crds-yaml/cilium.io_tracingpoliciesnamespaced.yaml
  pkg/k8s/apis/cilium.io/client/crds/v1alpha1/cilium.io_tracingpolicies.yaml
  pkg/k8s/apis/cilium.io/client/crds/v1alpha1/cilium.io_tracingpoliciesnamespaced.yaml
  pkg/k8s/apis/cilium.io/v1alpha1/types.go
  vendor/github.com/cilium/tetragon/pkg/k8s/apis/cilium.io/client/crds/v1alpha1/cilium.io_tracingpolicies.yaml
  vendor/github.com/cilium/tetragon/pkg/k8s/apis/cilium.io/client/crds/v1alpha1/cilium.io_tracingpoliciesnamespaced.yaml
  vendor/github.com/cilium/tetragon/pkg/k8s/apis/cilium.io/v1alpha1/types.go
Owners: @mtardy, @cilium/tetragon

test(tracing): add TestExpandClearGoStringActions
  pkg/sensors/tracing/goabi_slots_test.go
Owners: @cilium/tetragon

test(tracing): add go_string arg uprobe test
  cmd/goabi-gen/main.go
  contrib/tester-progs/.gitignore
  contrib/tester-progs/Makefile
  contrib/tester-progs/go/gostring-arg-test/main.go
  contrib/tester-progs/go/gostring-clear-test/main.go
  pkg/sensors/tracing/goabi_slots_gen.go
  pkg/sensors/tracing/goabi_slots_test.go
  pkg/sensors/tracing/goabitest/reportlen.go
  pkg/sensors/tracing/uprobe_test.go
  tests/policytests/uprobes.go
Owners: @cilium/tetragon

chore(k8s): regenerate CRDs/docs for ClearGoString uprobe override
  docs/content/en/docs/reference/tracing-policy.md
  install/kubernetes/tetragon/crds-yaml/cilium.io_tracingpolicies.yaml
  install/kubernetes/tetragon/crds-yaml/cilium.io_tracingpoliciesnamespaced.yaml
  pkg/k8s/apis/cilium.io/client/crds/v1alpha1/cilium.io_tracingpolicies.yaml
  pkg/k8s/apis/cilium.io/client/crds/v1alpha1/cilium.io_tracingpoliciesnamespaced.yaml
  pkg/k8s/apis/cilium.io/v1alpha1/version.go
  vendor/github.com/cilium/tetragon/pkg/k8s/apis/cilium.io/client/crds/v1alpha1/cilium.io_tracingpolicies.yaml
  vendor/github.com/cilium/tetragon/pkg/k8s/apis/cilium.io/client/crds/v1alpha1/cilium.io_tracingpoliciesnamespaced.yaml
  vendor/github.com/cilium/tetragon/pkg/k8s/apis/cilium.io/v1alpha1/version.go
Owners: @mtardy, @cilium/tetragon

dummy commit for testing purpose
  .github/workflows/build-images-ci.yml
  .github/workflows/push-chart-ci.yml
  contrib/scripts/print-chart-version.sh
Owners: @willfindlay, @cilium/tetragon

tester-progs: pass arg with nested anon structs
  contrib/tester-progs/.gitignore
  contrib/tester-progs/Makefile
  contrib/tester-progs/resolve-nested-anon-struct.c
Owners: @cilium/tetragon

race_condition
  pkg/manager/manager.go
Owners: @cilium/tetragon

tracing: tests resolving nested anon structs
  pkg/sensors/tracing/uprobe_reg_test.go
  tests/policytests/uprobes.go
Owners: @cilium/tetragon

tetragon: Add docs for btfType and btfTypeModule
  docs/content/en/docs/concepts/tracing-policy/hooks.md
Owners: @mtardy, @cilium/tetragon

new: add `new{Symbol,Addr,Offset}` to `ActionSelector`.
  install/kubernetes/tetragon/crds-yaml/cilium.io_tracingpolicies.yaml
  install/kubernetes/tetragon/crds-yaml/cilium.io_tracingpoliciesnamespaced.yaml
  pkg/k8s/apis/cilium.io/client/crds/v1alpha1/cilium.io_tracingpolicies.yaml
  pkg/k8s/apis/cilium.io/client/crds/v1alpha1/cilium.io_tracingpoliciesnamespaced.yaml
  pkg/k8s/apis/cilium.io/v1alpha1/types.go
  vendor/github.com/cilium/tetragon/pkg/k8s/apis/cilium.io/client/crds/v1alpha1/cilium.io_tracingpolicies.yaml
  vendor/github.com/cilium/tetragon/pkg/k8s/apis/cilium.io/client/crds/v1alpha1/cilium.io_tracingpoliciesnamespaced.yaml
  vendor/github.com/cilium/tetragon/pkg/k8s/apis/cilium.io/v1alpha1/types.go
Owners: @cilium/tetragon

new: add kprobe action override call to KprobeActions and generate.
  api/v1/README.md
  api/v1/tetragon/tetragon.pb.go
  api/v1/tetragon/tetragon.proto
  contrib/tetragon-rthooks/vendor/github.com/cilium/tetragon/api/v1/tetragon/tetragon.pb.go
  contrib/tetragon-rthooks/vendor/github.com/cilium/tetragon/api/v1/tetragon/tetragon.proto
  docs/content/en/docs/reference/grpc-api.md
  install/kubernetes/tetragon/crds-yaml/cilium.io_tracingpolicies.yaml
  install/kubernetes/tetragon/crds-yaml/cilium.io_tracingpoliciesnamespaced.yaml
  pkg/api/tracingapi/client_kprobe.go
  pkg/grpc/tracing/tracing.go
  pkg/k8s/apis/cilium.io/client/crds/v1alpha1/cilium.io_tracingpolicies.yaml
  pkg/k8s/apis/cilium.io/client/crds/v1alpha1/cilium.io_tracingpoliciesnamespaced.yaml
  pkg/k8s/apis/cilium.io/v1alpha1/types.go
  vendor/github.com/cilium/tetragon/api/v1/tetragon/tetragon.pb.go
  vendor/github.com/cilium/tetragon/api/v1/tetragon/tetragon.proto
  vendor/github.com/cilium/tetragon/pkg/k8s/apis/cilium.io/client/crds/v1alpha1/cilium.io_tracingpolicies.yaml
  vendor/github.com/cilium/tetragon/pkg/k8s/apis/cilium.io/client/crds/v1alpha1/cilium.io_tracingpoliciesnamespaced.yaml
  vendor/github.com/cilium/tetragon/pkg/k8s/apis/cilium.io/v1alpha1/types.go
Owners: @cilium/tetragon, @mtardy

new(pkg): uprobe implementation for overridecall.
  pkg/selectors/kernel.go
  pkg/selectors/kernel_regs_amd64.go
  pkg/selectors/kernel_regs_arm64.go
  pkg/selectors/selectors.go
  pkg/sensors/tracing/genericuprobe.go
Owners: @cilium/tetragon

new(pkg/selectors): add selectors.HasOverrideCall helper.
  pkg/selectors/kernel.go
  pkg/sensors/tracing/policyhandler_linux.go
Owners: @cilium/tetragon

new(pkg,contrib): add test around new overridecall feat for uprobes.
  contrib/tester-progs/uprobe-lib.c
  pkg/sensors/tracing/uprobe_reg_test.go
Owners: @cilium/tetragon

update(pkg/k8s): bumped CustomResourceDefinitionSchemaVersion.
  contrib/kind/install-tetragon.sh
  pkg/k8s/apis/cilium.io/v1alpha1/version.go
  vendor/github.com/cilium/tetragon/pkg/k8s/apis/cilium.io/v1alpha1/version.go
Owners: @cilium/tetragon

new(docs): added OverrideCall docs.
  docs/content/en/docs/concepts/tracing-policy/selectors.md
  docs/content/en/docs/reference/tracing-policy.md
Owners: @mtardy, @cilium/tetragon

new(bpf): bpf implementation for overridecall.
  bpf/process/generic_calls.h
  bpf/process/types/basic.h
Owners: @cilium/tetragon

tetragon: Fix flexible array check in ResolveBTFPath
  pkg/btf/btf.go
Owners: @cilium/tetragon

tetragon: Add docs for btfType and btfTypeModule
  docs/content/en/docs/concepts/tracing-policy/hooks.md
Owners: @mtardy, @cilium/tetragon

tetragon: Add test for spec with btfTypeModule
  pkg/sensors/tracing/kprobe_test.go
  tests/policytests/kprobes.go
Owners: @cilium/tetragon

tetragon: Add generated code for previous changes
  docs/content/en/docs/reference/tracing-policy.md
  install/kubernetes/tetragon/crds-yaml/cilium.io_tracingpolicies.yaml
  install/kubernetes/tetragon/crds-yaml/cilium.io_tracingpoliciesnamespaced.yaml
  pkg/k8s/apis/cilium.io/client/crds/v1alpha1/cilium.io_tracingpolicies.yaml
  pkg/k8s/apis/cilium.io/client/crds/v1alpha1/cilium.io_tracingpoliciesnamespaced.yaml
  pkg/k8s/apis/cilium.io/v1alpha1/version.go
  vendor/github.com/cilium/tetragon/pkg/k8s/apis/cilium.io/client/crds/v1alpha1/cilium.io_tracingpolicies.yaml
  vendor/github.com/cilium/tetragon/pkg/k8s/apis/cilium.io/client/crds/v1alpha1/cilium.io_tracingpoliciesnamespaced.yaml
  vendor/github.com/cilium/tetragon/pkg/k8s/apis/cilium.io/v1alpha1/version.go
Owners: @mtardy, @cilium/tetragon

tetragon: Dereference final scalar array elements
  pkg/btf/btf.go
  pkg/btf/btf_test.go
Owners: @cilium/tetragon

tetragon: Add test for btfTypeModule mismatch
  pkg/sensors/tracing/generic_test.go
Owners: @cilium/tetragon

tetragon: Add btfTypeModule support for kprobes
  pkg/btf/btf.go
  pkg/k8s/apis/cilium.io/v1alpha1/types.go
  pkg/sensors/tracing/generic.go
  vendor/github.com/cilium/tetragon/pkg/k8s/apis/cilium.io/v1alpha1/types.go
Owners: @cilium/tetragon

tetragon: Add test for spec with btfType
  pkg/sensors/tracing/generic_test.go
Owners: @cilium/tetragon

tetragon: Add test for flexible array resolve
  pkg/btf/btf_test.go
Owners: @cilium/tetragon

tetragon: Add btfType support for kprobes
  pkg/k8s/apis/cilium.io/v1alpha1/types.go
  pkg/sensors/tracing/generic.go
  vendor/github.com/cilium/tetragon/pkg/k8s/apis/cilium.io/v1alpha1/types.go
Owners: @cilium/tetragon

rthooks: add tests for --fail-allow-namespaces-regex
  contrib/tetragon-rthooks/cmd/oci-hook/cel_test.go
Owners: @cilium/tetragon

docs: document failAllowNamespacesRegex in runtime-hooks.md
  docs/content/en/docs/installation/runtime-hooks.md
Owners: @mtardy, @cilium/tetragon

helm: expose failAllowNamespacesRegex in rthooks chart
  docs/content/en/docs/reference/helm-chart.md
  install/kubernetes/tetragon/README.md
  install/kubernetes/tetragon/templates/_container_rthooks.tpl
  install/kubernetes/tetragon/values.yaml
Owners: @mtardy, @cilium/tetragon

tetragon: Add btfType support for kprobes
  pkg/k8s/apis/cilium.io/v1alpha1/types.go
  pkg/sensors/tracing/generic.go
  vendor/github.com/cilium/tetragon/pkg/k8s/apis/cilium.io/v1alpha1/types.go
Owners: @cilium/tetragon

tetragon: Fix flexible array check in ResolveBTFPath
  pkg/btf/btf.go
Owners: @cilium/tetragon

tetragon: Add test for flexible array resolve
  pkg/btf/btf_test.go
Owners: @cilium/tetragon

tetragon: Dereference final scalar array elements
  pkg/btf/btf.go
  pkg/btf/btf_test.go
Owners: @cilium/tetragon

tetragon: Add btfTypeModule support for kprobes
  pkg/btf/btf.go
  pkg/k8s/apis/cilium.io/v1alpha1/types.go
  pkg/sensors/tracing/generic.go
  vendor/github.com/cilium/tetragon/pkg/k8s/apis/cilium.io/v1alpha1/types.go
Owners: @cilium/tetragon

tetragon: Add test for spec with btfTypeModule
  pkg/sensors/tracing/kprobe_test.go
  tests/policytests/kprobes.go
Owners: @cilium/tetragon

tetragon: Add test for btfTypeModule mismatch
  pkg/sensors/tracing/generic_test.go
Owners: @cilium/tetragon

CODEOWNERS:

# Request a review from the Tetragon team on any PR
* @cilium/tetragon

# Request a review from William when codegen is edited
cmd/protoc-gen-go-tetragon/ @willfindlay

# Request a review from William when CI is edited
.github/workflows/ @willfindlay

# Request a review from kkourt when core sensor files are modified
pkg/src/sensors/ @kkourt

# Request a review from mtardy when anything from docs is modified but do not
# block on approval from anyone in the tetragon team
/docs/ @mtardy @cilium/tetragon
