Repository cilium/tetragon, changes with the owners that CODEOWNERS names for each.
All owners: @cilium/tetragon, @willfindlay, @kkourt, @mtardy

tetragon: Remove data_heap argument from args functions
  bpf/process/generic_calls.h
Owners: @cilium/tetragon

tetragon: Make verifier think that get_ctx_ul returns scalar for const_buf_type
  bpf/process/generic_calls.h
Owners: @cilium/tetragon

tetragon: Read only defined arguments
  bpf/process/generic_calls.h
  bpf/process/types/basic.h
  pkg/api/tracingapi/client_kprobe.go
  pkg/sensors/tracing/generickprobe.go
  pkg/sensors/tracing/genericlsm.go
  pkg/sensors/tracing/generictracepoint.go
  pkg/sensors/tracing/genericuprobe.go
  pkg/sensors/tracing/kprobe_test.go
Owners: @cilium/tetragon

tetragon: Remove KprobeArgs struct
  pkg/api/tracingapi/client_kprobe.go
Owners: @cilium/tetragon

tetragon: Add SafeELFFile to elf package
  pkg/elf/file.go
Owners: @cilium/tetragon

tetragon: Pass Offset/RefCtrOffset to ProcessUprobe message
  pkg/grpc/tracing/tracing.go
  pkg/sensors/tracing/genericuprobe.go
Owners: @cilium/tetragon

tetragon: Factor TestUprobeArgs test to use policy object
  pkg/sensors/tracing/uprobe_test.go
Owners: @cilium/tetragon

tetragon: Add Offsets and RefCtrOffsets fields to uprobe spec
  pkg/k8s/apis/cilium.io/v1alpha1/types.go
  pkg/k8s/apis/cilium.io/v1alpha1/version.go
  vendor/github.com/cilium/tetragon/pkg/k8s/apis/cilium.io/v1alpha1/types.go
  vendor/github.com/cilium/tetragon/pkg/k8s/apis/cilium.io/v1alpha1/version.go
Owners: @cilium/tetragon

tetragon: Add offset and ref_ctr_offset fields to ProcessUprobe message
  api/v1/tetragon/tetragon.proto
Owners: @cilium/tetragon

tetragon: Remove pinPathPrefix from uprobeEntry
  pkg/sensors/tracing/genericuprobe.go
Owners: @cilium/tetragon

tetragon: Add codegen and generate changes
  api/v1/README.md
  api/v1/tetragon/codegen/eventchecker/eventchecker.pb.go
  api/v1/tetragon/tetragon.pb.go
  contrib/tetragon-rthooks/vendor/github.com/cilium/tetragon/api/v1/tetragon/tetragon.pb.go
  contrib/tetragon-rthooks/vendor/github.com/cilium/tetragon/api/v1/tetragon/tetragon.proto
  docs/content/en/docs/reference/grpc-api.md
  install/kubernetes/tetragon/crds-yaml/cilium.io_tracingpolicies.yaml
  install/kubernetes/tetragon/crds-yaml/cilium.io_tracingpoliciesnamespaced.yaml
  pkg/k8s/apis/cilium.io/client/crds/v1alpha1/cilium.io_tracingpolicies.yaml
  pkg/k8s/apis/cilium.io/client/crds/v1alpha1/cilium.io_tracingpoliciesnamespaced.yaml
  pkg/k8s/apis/cilium.io/v1alpha1/zz_generated.deepcopy.go
  vendor/github.com/cilium/tetragon/api/v1/tetragon/codegen/eventchecker/eventchecker.pb.go
  vendor/github.com/cilium/tetragon/api/v1/tetragon/tetragon.pb.go
  vendor/github.com/cilium/tetragon/api/v1/tetragon/tetragon.proto
  vendor/github.com/cilium/tetragon/pkg/k8s/apis/cilium.io/client/crds/v1alpha1/cilium.io_tracingpolicies.yaml
  vendor/github.com/cilium/tetragon/pkg/k8s/apis/cilium.io/client/crds/v1alpha1/cilium.io_tracingpoliciesnamespaced.yaml
  vendor/github.com/cilium/tetragon/pkg/k8s/apis/cilium.io/v1alpha1/zz_generated.deepcopy.go
Owners: @cilium/tetragon, @mtardy

tetragon: Allow to define uprobe with offset and refCtrOffset
  pkg/sensors/tracing/genericuprobe.go
Owners: @cilium/tetragon

tetragon: Add TestUprobeArgsWithOffset/Symbol tests
  pkg/sensors/tracing/uprobe_test.go
Owners: @cilium/tetragon

tetragon: Allow to attach uprobe with offset and ref_ctr_offset
  pkg/sensors/program/loader_linux.go
  pkg/sensors/program/program.go
Owners: @cilium/tetragon

tetragon/windows: Fix exec/exit event timestamp in event json
  bpf/windows/process_monitor.c
  pkg/ktime/ktime_windows.go
  pkg/ktime/ktime_windows_test.go
  pkg/sensors/exec/procevents/proc_reader_windows.go
Owners: @cilium/tetragon

tetragon/windows: Fix exec/exit event timestamp in event json
  bpf/windows/process_monitor.c
  pkg/ktime/ktime_windows.go
  pkg/ktime/ktime_windows_test.go
  pkg/sensors/exec/procevents/proc_reader_windows.go
Owners: @cilium/tetragon

Tracing: Functionise the LPM TRIE evaluation
  bpf/process/types/basic.h
Owners: @cilium/tetragon

Tracing: Add test for NotDAddr in other family
  pkg/sensors/tracing/kprobe_test.go
Owners: @cilium/tetragon

Tracing: Fix NotDAddr and NotSAddr across families
  bpf/process/types/basic.h
Owners: @cilium/tetragon

Add nameOverride and fullnameOverride support to Tetragon Helm chart
  docs/content/en/docs/reference/helm-chart.md
  install/kubernetes/tetragon/README.md
  install/kubernetes/tetragon/templates/_container_oci_hooks_setup.tpl
  install/kubernetes/tetragon/templates/_helpers.tpl
  install/kubernetes/tetragon/templates/clusterrole.yaml
  install/kubernetes/tetragon/templates/clusterrolebinding.yml
  install/kubernetes/tetragon/templates/daemonset.yaml
  install/kubernetes/tetragon/templates/operator_clusterrole.yaml
  install/kubernetes/tetragon/templates/operator_clusterrolebinding.yaml
  install/kubernetes/tetragon/templates/operator_configmap.yaml
  install/kubernetes/tetragon/templates/operator_deployment.yaml
  install/kubernetes/tetragon/templates/operator_role.yaml
  install/kubernetes/tetragon/templates/operator_rolebinding.yaml
  install/kubernetes/tetragon/templates/operator_service.yaml
  install/kubernetes/tetragon/templates/operator_serviceaccount.yaml
  install/kubernetes/tetragon/templates/operator_servicemonitor.yaml
  install/kubernetes/tetragon/templates/rthooks-daemonset.yaml
  install/kubernetes/tetragon/templates/service.yaml
  install/kubernetes/tetragon/templates/serviceaccount.yaml
  install/kubernetes/tetragon/templates/servicemonitor.yaml
  install/kubernetes/tetragon/templates/tetragon_configmap.yaml
  install/kubernetes/tetragon/values.yaml
Owners: @mtardy, @cilium/tetragon

Tracing: Functionise the LPM TRIE evaluation
  bpf/process/types/basic.h
Owners: @cilium/tetragon

Tracing: Fix NotDAddr and NotSAddr across families
  bpf/process/types/basic.h
Owners: @cilium/tetragon

Tracing: Add test for NotDAddr in other family
  pkg/sensors/tracing/kprobe_test.go
Owners: @cilium/tetragon

Tracing: Use require over assert in tests
  pkg/sensors/tracing/enforcer_test.go
  pkg/sensors/tracing/generic_test.go
  pkg/sensors/tracing/generickprobe_test.go
  pkg/sensors/tracing/kprobe_amd64_test.go
  pkg/sensors/tracing/kprobe_copyfd_test.go
  pkg/sensors/tracing/kprobe_filterchange_test.go
  pkg/sensors/tracing/kprobe_process_credentials_test.go
  pkg/sensors/tracing/kprobe_sigkill_test.go
  pkg/sensors/tracing/kprobe_test.go
  pkg/sensors/tracing/kprobe_threads_test.go
  pkg/sensors/tracing/kprobe_validation_test.go
  pkg/sensors/tracing/loader_test.go
  pkg/sensors/tracing/lsm_test.go
  pkg/sensors/tracing/tracepoint_amd64_test.go
  pkg/sensors/tracing/tracepoint_test.go
  pkg/sensors/tracing/uprobe_test.go
Owners: @cilium/tetragon

Sensors: Use require over assert in tests
  pkg/sensors/exec/cache_test.go
  pkg/sensors/exec/cgroups_test.go
  pkg/sensors/exec/exec_test.go
  pkg/sensors/exec/exit_test.go
  pkg/sensors/exec/fork_test.go
  pkg/sensors/exec/threads_test.go
  pkg/sensors/manager_test.go
  pkg/sensors/test/lseek_test.go
  pkg/sensors/test/sensors_test.go
Owners: @cilium/tetragon

Sensors: Use require over assert in tests
  pkg/sensors/exec/cache_test.go
  pkg/sensors/exec/cgroups_test.go
  pkg/sensors/exec/exec_test.go
  pkg/sensors/exec/exit_test.go
  pkg/sensors/exec/fork_test.go
  pkg/sensors/exec/threads_test.go
  pkg/sensors/manager_test.go
  pkg/sensors/test/lseek_test.go
  pkg/sensors/test/sensors_test.go
Owners: @cilium/tetragon

Tracing: Use require over assert in tests
  pkg/sensors/tracing/enforcer_test.go
  pkg/sensors/tracing/generic_test.go
  pkg/sensors/tracing/generickprobe_test.go
  pkg/sensors/tracing/kprobe_amd64_test.go
  pkg/sensors/tracing/kprobe_copyfd_test.go
  pkg/sensors/tracing/kprobe_filterchange_test.go
  pkg/sensors/tracing/kprobe_process_credentials_test.go
  pkg/sensors/tracing/kprobe_sigkill_test.go
  pkg/sensors/tracing/kprobe_test.go
  pkg/sensors/tracing/kprobe_threads_test.go
  pkg/sensors/tracing/kprobe_validation_test.go
  pkg/sensors/tracing/loader_test.go
  pkg/sensors/tracing/lsm_test.go
  pkg/sensors/tracing/tracepoint_amd64_test.go
  pkg/sensors/tracing/tracepoint_test.go
  pkg/sensors/tracing/uprobe_test.go
Owners: @cilium/tetragon

Add node_labels field to Tetragon events
  api/v1/README.md
  api/v1/tetragon/events.pb.go
  api/v1/tetragon/events.proto
  cmd/tetragon/main.go
  contrib/tetragon-rthooks/vendor/github.com/cilium/tetragon/api/v1/tetragon/events.pb.go
  contrib/tetragon-rthooks/vendor/github.com/cilium/tetragon/api/v1/tetragon/events.proto
  docs/content/en/docs/reference/grpc-api.md
  install/kubernetes/tetragon/templates/clusterrole.yaml
  pkg/manager/manager.go
  pkg/manager/manager_integration_test.go
  pkg/reader/node/node.go
  vendor/github.com/cilium/tetragon/api/v1/tetragon/events.pb.go
  vendor/github.com/cilium/tetragon/api/v1/tetragon/events.proto
Owners: @cilium/tetragon, @mtardy

deps: Remove cilium hubble package dependency
  cmd/tetra/getevents/io_reader_client.go
  pkg/event/event.go
  pkg/filters/arguments_regex.go
  pkg/filters/arguments_regex_test.go
  pkg/filters/binary_regex.go
  pkg/filters/binary_regex_test.go
  pkg/filters/caps.go
  pkg/filters/caps_test.go
  pkg/filters/cel_expression.go
  pkg/filters/cel_expression_test.go
  pkg/filters/container.go
  pkg/filters/container_test.go
  pkg/filters/eventType.go
  pkg/filters/filters.go
  pkg/filters/filters_test.go
  pkg/filters/health_check.go
  pkg/filters/health_check_test.go
  pkg/filters/labels.go
  pkg/filters/labels_test.go
  pkg/filters/namespace.go
  pkg/filters/namespace_test.go
  pkg/filters/pid.go
  pkg/filters/pidSet.go
  pkg/filters/pod_regex.go
  pkg/filters/pod_regex_test.go
  pkg/filters/policies.go
  pkg/filters/policies_test.go
  pkg/metrics/eventmetrics/eventmetrics.go
  pkg/server/server.go
Owners: @cilium/tetragon

renovate: migrate config to for major version 40
  .github/renovate.json5
Owners: @cilium/tetragon

renovate: migrate config to for major version 40
  .github/renovate.json5
Owners: @cilium/tetragon

deps: Remove cilium hubble package dependency
  cmd/tetra/getevents/io_reader_client.go
  pkg/event/event.go
  pkg/filters/arguments_regex.go
  pkg/filters/arguments_regex_test.go
  pkg/filters/binary_regex.go
  pkg/filters/binary_regex_test.go
  pkg/filters/caps.go
  pkg/filters/caps_test.go
  pkg/filters/cel_expression.go
  pkg/filters/cel_expression_test.go
  pkg/filters/container.go
  pkg/filters/container_test.go
  pkg/filters/eventType.go
  pkg/filters/filters.go
  pkg/filters/filters_test.go
  pkg/filters/health_check.go
  pkg/filters/health_check_test.go
  pkg/filters/labels.go
  pkg/filters/labels_test.go
  pkg/filters/namespace.go
  pkg/filters/namespace_test.go
  pkg/filters/pid.go
  pkg/filters/pidSet.go
  pkg/filters/pod_regex.go
  pkg/filters/pod_regex_test.go
  pkg/filters/policies.go
  pkg/filters/policies_test.go
  pkg/metrics/eventmetrics/eventmetrics.go
  pkg/server/server.go
Owners: @cilium/tetragon

Add node_labels field to Tetragon events
  api/v1/README.md
  api/v1/tetragon/events.pb.go
  api/v1/tetragon/events.proto
  cmd/tetragon/main.go
  contrib/tetragon-rthooks/vendor/github.com/cilium/tetragon/api/v1/tetragon/events.pb.go
  contrib/tetragon-rthooks/vendor/github.com/cilium/tetragon/api/v1/tetragon/events.proto
  docs/content/en/docs/reference/grpc-api.md
  install/kubernetes/tetragon/templates/clusterrole.yaml
  pkg/manager/manager.go
  pkg/manager/manager_integration_test.go
  pkg/reader/node/node.go
  vendor/github.com/cilium/tetragon/api/v1/tetragon/events.pb.go
  vendor/github.com/cilium/tetragon/api/v1/tetragon/events.proto
Owners: @cilium/tetragon, @mtardy

pkg/k8s: generate deepcopy function on k8s types
  pkg/k8s/Makefile
  pkg/k8s/apis/cilium.io/v1alpha1/zz_generated.deepcopy.go
  pkg/k8s/tools/header.txt
  vendor/github.com/cilium/tetragon/pkg/k8s/apis/cilium.io/v1alpha1/zz_generated.deepcopy.go
Owners: @cilium/tetragon

pkg/k8s: remove zz_generated.defaults.go
  pkg/k8s/apis/cilium.io/v1alpha1/zz_generated.defaults.go
  vendor/github.com/cilium/tetragon/pkg/k8s/apis/cilium.io/v1alpha1/zz_generated.defaults.go
Owners: @cilium/tetragon

pkg/k8s: remove zz_generated.defaults.go
  pkg/k8s/apis/cilium.io/v1alpha1/zz_generated.defaults.go
  vendor/github.com/cilium/tetragon/pkg/k8s/apis/cilium.io/v1alpha1/zz_generated.defaults.go
Owners: @cilium/tetragon

pkg/k8s: generate deepcopy function on k8s types
  pkg/k8s/Makefile
  pkg/k8s/apis/cilium.io/v1alpha1/zz_generated.deepcopy.go
  pkg/k8s/tools/header.txt
  vendor/github.com/cilium/tetragon/pkg/k8s/apis/cilium.io/v1alpha1/zz_generated.deepcopy.go
Owners: @cilium/tetragon

tetragon: Remove superficial program.MapLoad.Index
  pkg/sensors/program/loader_linux.go
  pkg/sensors/program/loader_windows.go
  pkg/sensors/program/program.go
  pkg/sensors/tracing/generickprobe.go
  pkg/sensors/tracing/genericlsm.go
  pkg/sensors/tracing/generictracepoint.go
  pkg/sensors/tracing/genericuprobe.go
  pkg/sensors/tracing/policyhandler_linux.go
  pkg/sensors/tracing/selectors.go
Owners: @cilium/tetragon

tetragon: Remove KprobeArgs struct
  pkg/api/tracingapi/client_kprobe.go
Owners: @cilium/tetragon

linters: enable testifylint and autofix issues
  .golangci.yml
  bpf/tests/prepend_name_test.go
  cmd/tetra/getevents/getevents_test.go
  cmd/tetragon/conf_test.go
  pkg/btf/btf_test.go
  pkg/btf/validation_test.go
  pkg/cgrouprate/cgrouprate_test.go
  pkg/cgroups/cgroups_test.go
  pkg/cgtracker/test/cgtracker_test.go
  pkg/fieldfilters/fields_test.go
  pkg/fieldfilters/parse_test.go
  pkg/grpc/exec/exec_test_helper.go
  pkg/kernels/kernels_test.go
  pkg/labels/labels_test.go
  pkg/metrics/filteredlabels_test.go
  pkg/policyconf/test/mode_test.go
  pkg/policyfilter/error_test.go
  pkg/policyfilter/k8s_test.go
  pkg/policyfilter/map_test.go
  pkg/policyfilter/state_test.go
  pkg/process/cache_test.go
  pkg/reader/caps/caps_test.go
  pkg/reader/node/node_test.go
  pkg/reader/proc/proc_linux_test.go
  pkg/sensors/exec/cgroups_test.go
  pkg/sensors/exec/exec_test.go
  pkg/sensors/exec/procevents/proc_reader_test.go
  pkg/sensors/exec/procevents/proc_test.go
  pkg/sensors/exec/userinfo/userinfo_test.go
  pkg/sensors/manager_test.go
  pkg/sensors/test/sensors_test.go
  pkg/sensors/tracing/message_test.go
  pkg/sensors/tracing/syscall_list_test.go
  pkg/sensors/tracing/tags_test.go
  pkg/testutils/progs/tester.go
  pkg/testutils/progs/tester_test.go
  pkg/timer/timer_test.go
  pkg/tracingpolicy/yaml_test.go
Owners: @cilium/tetragon

CODEOWNERS:

# Request a review from the Tetragon team on any PR
* @cilium/tetragon

# Request a review from William when codegen is edited
cmd/protoc-gen-go-tetragon/ @willfindlay

# Request a review from William when CI is edited
.github/workflows/ @willfindlay

# Request a review from kkourt when core sensor files are modified
pkg/src/sensors/ @kkourt

# Request a review from mtardy when anything from docs is modified but do not
# block on approval from anyone in the tetragon team
/docs/ @mtardy @cilium/tetragon
