Repository cilium/tetragon, changes with the owners that CODEOWNERS names for each.
All owners: @cilium/tetragon, @willfindlay, @kkourt, @mtardy

CODEOWNERS:

# Request a review from the Tetragon team on any PR
* @cilium/tetragon

# Request a review from William when codegen is edited
cmd/protoc-gen-go-tetragon/ @willfindlay

# Request a review from William when CI is edited
.github/workflows/ @willfindlay

# Request a review from kkourt when core sensor files are modified
pkg/src/sensors/ @kkourt

# Request a review from mtardy when anything from docs is modified but do not
# block on approval from anyone in the tetragon team
/docs/ @mtardy @cilium/tetragon

tetragon: Add test for ParseMatchData function
  pkg/selectors/kernel_test.go
Owners: @cilium/tetragon

tetragon: Add selector test for ParseMatchArgs over args and data
  pkg/selectors/kernel_test.go
Owners: @cilium/tetragon

tetragon: Add docs for data and matchData spec
  docs/content/en/docs/concepts/tracing-policy/hooks.md
  docs/content/en/docs/concepts/tracing-policy/selectors.md
Owners: @mtardy, @cilium/tetragon

adds tracing policy reference docs
  .github/workflows/generated-docs.yaml
  Makefile
  docs/Makefile
  docs/content/en/docs/concepts/tracing-policy/_index.md
  docs/content/en/docs/reference/templates/tracing_policy.tmpl
  docs/content/en/docs/reference/tracing-policy.md
Owners: @willfindlay, @cilium/tetragon, @mtardy

tetragon: Add support to store data in kprobe events
  pkg/grpc/tracing/tracing.go
  pkg/sensors/tracing/args_linux.go
  pkg/sensors/tracing/generic.go
  pkg/sensors/tracing/generic_test.go
  pkg/sensors/tracing/generickprobe.go
  pkg/sensors/tracing/genericlsm.go
  pkg/sensors/tracing/generictracepoint.go
Owners: @cilium/tetragon

tetragon: Add support to filter on data fields
  pkg/selectors/kernel.go
  pkg/selectors/kernel_test.go
  pkg/sensors/tracing/generickprobe.go
  pkg/sensors/tracing/genericlsm.go
  pkg/sensors/tracing/generictracepoint.go
  pkg/sensors/tracing/genericuprobe.go
Owners: @cilium/tetragon

tetragon: Add test for resolving kprobe argument with current source
  pkg/sensors/tracing/kprobe_test.go
Owners: @cilium/tetragon

tetragon: Add selector test for ParseMatchData function
  pkg/selectors/kernel_test.go
Owners: @cilium/tetragon

tetragon: Add docs for data and matchData spec
  docs/content/en/docs/concepts/tracing-policy/hooks.md
  docs/content/en/docs/concepts/tracing-policy/selectors.md
Owners: @mtardy, @cilium/tetragon

tetragon: Add selector test for ParseMatchArgs over args and data
  pkg/selectors/kernel_test.go
Owners: @cilium/tetragon

helm: Add security context support for non-root operator
  install/kubernetes/tetragon/README.md
  install/kubernetes/tetragon/templates/operator_deployment.yaml
  install/kubernetes/tetragon/values.yaml
Owners: @cilium/tetragon

docs: Add documentation for non-root operator configuration
  Dockerfile.operator
  contrib/upgrade-notes/latest.md
  docs/content/en/docs/installation/kubernetes-operator-security.md
  docs/content/en/docs/reference/helm-chart.md
Owners: @cilium/tetragon, @mtardy

bpf: policy stats
  bpf/lib/policy_stats.h
  bpf/lib/process.h
  bpf/process/generic_calls.h
Owners: @cilium/tetragon

pkg/policystats: package for policy stats
  pkg/policystats/policystats.go
Owners: @cilium/tetragon

policyhandler: use policyfonf.PolicyConfMapName
  pkg/sensors/tracing/policyhandler_linux.go
Owners: @cilium/tetragon

policyhandler: initialize policy stats map
  pkg/sensors/tracing/generickprobe.go
  pkg/sensors/tracing/genericlsm.go
  pkg/sensors/tracing/generictracepoint.go
  pkg/sensors/tracing/policyhandler_linux.go
Owners: @cilium/tetragon

api: add TracingPolicyStats
  api/v1/README.md
  api/v1/tetragon/sensors.pb.go
  api/v1/tetragon/sensors.pb.json.go
  api/v1/tetragon/sensors.proto
  contrib/tetragon-rthooks/vendor/github.com/cilium/tetragon/api/v1/tetragon/sensors.pb.go
  contrib/tetragon-rthooks/vendor/github.com/cilium/tetragon/api/v1/tetragon/sensors.pb.json.go
  contrib/tetragon-rthooks/vendor/github.com/cilium/tetragon/api/v1/tetragon/sensors.proto
  docs/content/en/docs/reference/grpc-api.md
  vendor/github.com/cilium/tetragon/api/v1/tetragon/sensors.pb.go
  vendor/github.com/cilium/tetragon/api/v1/tetragon/sensors.pb.json.go
  vendor/github.com/cilium/tetragon/api/v1/tetragon/sensors.proto
Owners: @cilium/tetragon, @mtardy

sensors: log errors on retrieving the policy mode
  pkg/sensors/collection.go
Owners: @cilium/tetragon

sensors: add policy stats
  pkg/sensors/collection.go
  pkg/sensors/handler.go
Owners: @cilium/tetragon

tetra: print tracingpolicy stats
  cmd/tetra/common/utils.go
Owners: @cilium/tetragon

chore: consolidate action verification checks
  pkg/selectors/kernel.go
  pkg/sensors/tracing/generickprobe.go
Owners: @cilium/tetragon

tetragon: Add selector to usdt spec
  pkg/k8s/apis/cilium.io/v1alpha1/types.go
  pkg/k8s/apis/cilium.io/v1alpha1/version.go
  vendor/github.com/cilium/tetragon/pkg/k8s/apis/cilium.io/v1alpha1/types.go
  vendor/github.com/cilium/tetragon/pkg/k8s/apis/cilium.io/v1alpha1/version.go
Owners: @cilium/tetragon

k8s: Reduce RBAC permission for non-k8s deployment
  cmd/tetragon/main.go
  pkg/manager/manager.go
  pkg/option/config.go
  pkg/watcher/conf/conf.go
Owners: @cilium/tetragon

tetragon: add HasAuditLoginuid function
  pkg/bpf/detect_linux.go
  pkg/kernels/config.go
Owners: @cilium/tetragon

tetragon: Add action and flags to usdt event
  api/v1/tetragon/tetragon.proto
Owners: @cilium/tetragon

tetragon: Add codegen and generate changes
  api/v1/README.md
  api/v1/tetragon/codegen/eventchecker/eventchecker.pb.go
  api/v1/tetragon/tetragon.pb.go
  contrib/tetragon-rthooks/vendor/github.com/cilium/tetragon/api/v1/tetragon/tetragon.pb.go
  contrib/tetragon-rthooks/vendor/github.com/cilium/tetragon/api/v1/tetragon/tetragon.proto
  docs/content/en/docs/reference/grpc-api.md
  install/kubernetes/tetragon/crds-yaml/cilium.io_tracingpolicies.yaml
  install/kubernetes/tetragon/crds-yaml/cilium.io_tracingpoliciesnamespaced.yaml
  pkg/k8s/apis/cilium.io/client/crds/v1alpha1/cilium.io_tracingpolicies.yaml
  pkg/k8s/apis/cilium.io/client/crds/v1alpha1/cilium.io_tracingpoliciesnamespaced.yaml
  pkg/k8s/apis/cilium.io/v1alpha1/zz_generated.deepcopy.go
  vendor/github.com/cilium/tetragon/api/v1/tetragon/codegen/eventchecker/eventchecker.pb.go
  vendor/github.com/cilium/tetragon/api/v1/tetragon/tetragon.pb.go
  vendor/github.com/cilium/tetragon/api/v1/tetragon/tetragon.proto
  vendor/github.com/cilium/tetragon/pkg/k8s/apis/cilium.io/client/crds/v1alpha1/cilium.io_tracingpolicies.yaml
  vendor/github.com/cilium/tetragon/pkg/k8s/apis/cilium.io/client/crds/v1alpha1/cilium.io_tracingpoliciesnamespaced.yaml
  vendor/github.com/cilium/tetragon/pkg/k8s/apis/cilium.io/v1alpha1/zz_generated.deepcopy.go
Owners: @cilium/tetragon, @mtardy

tetragon: Set action field for usdt event
  pkg/grpc/tracing/tracing.go
Owners: @cilium/tetragon

tetragon: Add usdt selector support
  pkg/sensors/tracing/genericusdt.go
Owners: @cilium/tetragon

tetragon: Add test for usdt sigkill action
  pkg/sensors/tracing/usdt_amd64_test.go
Owners: @cilium/tetragon

tetragon: Set action field for usdt event
  pkg/grpc/tracing/tracing.go
Owners: @cilium/tetragon

tetragon: Add test for usdt sigkill action
  pkg/sensors/tracing/usdt_amd64_test.go
Owners: @cilium/tetragon

tetragon: Add set action spec changes
  api/v1/tetragon/tetragon.proto
  contrib/tetragon-rthooks/vendor/github.com/cilium/tetragon/api/v1/tetragon/tetragon.proto
  pkg/k8s/apis/cilium.io/v1alpha1/types.go
  pkg/k8s/apis/cilium.io/v1alpha1/version.go
  vendor/github.com/cilium/tetragon/api/v1/tetragon/tetragon.proto
  vendor/github.com/cilium/tetragon/pkg/k8s/apis/cilium.io/v1alpha1/types.go
  vendor/github.com/cilium/tetragon/pkg/k8s/apis/cilium.io/v1alpha1/version.go
Owners: @cilium/tetragon

tetragon: Add codegen and generate changes
  api/v1/README.md
  api/v1/tetragon/tetragon.pb.go
  contrib/tetragon-rthooks/vendor/github.com/cilium/tetragon/api/v1/tetragon/tetragon.pb.go
  docs/content/en/docs/reference/grpc-api.md
  install/kubernetes/tetragon/crds-yaml/cilium.io_tracingpolicies.yaml
  install/kubernetes/tetragon/crds-yaml/cilium.io_tracingpoliciesnamespaced.yaml
  pkg/k8s/apis/cilium.io/client/crds/v1alpha1/cilium.io_tracingpolicies.yaml
  pkg/k8s/apis/cilium.io/client/crds/v1alpha1/cilium.io_tracingpoliciesnamespaced.yaml
  vendor/github.com/cilium/tetragon/api/v1/tetragon/tetragon.pb.go
  vendor/github.com/cilium/tetragon/pkg/k8s/apis/cilium.io/client/crds/v1alpha1/cilium.io_tracingpolicies.yaml
  vendor/github.com/cilium/tetragon/pkg/k8s/apis/cilium.io/client/crds/v1alpha1/cilium.io_tracingpoliciesnamespaced.yaml
Owners: @cilium/tetragon, @mtardy

tetragon: Add selector to usdt spec
  pkg/k8s/apis/cilium.io/v1alpha1/types.go
  pkg/k8s/apis/cilium.io/v1alpha1/version.go
  vendor/github.com/cilium/tetragon/pkg/k8s/apis/cilium.io/v1alpha1/types.go
  vendor/github.com/cilium/tetragon/pkg/k8s/apis/cilium.io/v1alpha1/version.go
Owners: @cilium/tetragon

tetragon: Add codegen and generate changes
  api/v1/README.md
  api/v1/tetragon/codegen/eventchecker/eventchecker.pb.go
  api/v1/tetragon/tetragon.pb.go
  contrib/tetragon-rthooks/vendor/github.com/cilium/tetragon/api/v1/tetragon/tetragon.pb.go
  contrib/tetragon-rthooks/vendor/github.com/cilium/tetragon/api/v1/tetragon/tetragon.proto
  docs/content/en/docs/reference/grpc-api.md
  install/kubernetes/tetragon/crds-yaml/cilium.io_tracingpolicies.yaml
  install/kubernetes/tetragon/crds-yaml/cilium.io_tracingpoliciesnamespaced.yaml
  pkg/k8s/apis/cilium.io/client/crds/v1alpha1/cilium.io_tracingpolicies.yaml
  pkg/k8s/apis/cilium.io/client/crds/v1alpha1/cilium.io_tracingpoliciesnamespaced.yaml
  pkg/k8s/apis/cilium.io/v1alpha1/zz_generated.deepcopy.go
  vendor/github.com/cilium/tetragon/api/v1/tetragon/codegen/eventchecker/eventchecker.pb.go
  vendor/github.com/cilium/tetragon/api/v1/tetragon/tetragon.pb.go
  vendor/github.com/cilium/tetragon/api/v1/tetragon/tetragon.proto
  vendor/github.com/cilium/tetragon/pkg/k8s/apis/cilium.io/client/crds/v1alpha1/cilium.io_tracingpolicies.yaml
  vendor/github.com/cilium/tetragon/pkg/k8s/apis/cilium.io/client/crds/v1alpha1/cilium.io_tracingpoliciesnamespaced.yaml
  vendor/github.com/cilium/tetragon/pkg/k8s/apis/cilium.io/v1alpha1/zz_generated.deepcopy.go
Owners: @cilium/tetragon, @mtardy

tetragon: Add usdt-override test program
  contrib/tester-progs/.gitignore
  contrib/tester-progs/Makefile
  contrib/tester-progs/usdt-override.c
Owners: @cilium/tetragon

tetragon: Add action and flags to usdt event
  api/v1/tetragon/tetragon.proto
Owners: @cilium/tetragon

tetragon: Add usdt selector support
  pkg/sensors/tracing/genericusdt.go
Owners: @cilium/tetragon

tetragon: Store 8 usdt arguments in event config object
  bpf/process/types/basic.h
  pkg/api/tracingapi/client_kprobe.go
Owners: @cilium/tetragon

tetragon: Add loader support for uprobe multi write offload
  pkg/sensors/program/loader_linux.go
Owners: @cilium/tetragon
