Repository cilium/tetragon, changes with the owners that CODEOWNERS names for each.
All owners: @cilium/tetragon, @willfindlay, @kkourt, @mtardy

fix: cleanup error propagation and remove unused vars
  pkg/bpf/ringbuf_windows.go
  pkg/observer/observer_windows.go
Owners: @cilium/tetragon

pkg/bpf: wrap Windows GetModuleHandleW procedure
  pkg/bpf/ringbuf_windows.go
Owners: @cilium/tetragon

linters: fix redefinition of built-in type error
  pkg/errmetrics/err_msg_windows.go
Owners: @cilium/tetragon

linters: fix a misspelling of current
  pkg/observer/observer_windows.go
Owners: @cilium/tetragon

linters: ignore use of deprecated syscall.Syscall9
  pkg/bpf/ringbuf_windows.go
Owners: @cilium/tetragon

linters: fix for loop can use an integer range
  pkg/sensors/exec/procevents/proc_reader_windows.go
Owners: @cilium/tetragon

fix: reuse notSupportedWinErr when possible
  pkg/bpf/bpffs_windows.go
  pkg/procsyms/procsyms_windows.go
  pkg/reader/proc/proc_windows.go
  pkg/sensors/program/loader_windows.go
Owners: @cilium/tetragon

linters: fix missing license headers in files
  cmd/tetra/tracingpolicy/generate/all_syscalls_windows.go
  pkg/constants/constants_windows.go
  pkg/errmetrics/err_msg_windows.go
  pkg/errmetrics/err_msg_windows_test.go
  pkg/ktime/ktime_test_windows.go
  pkg/reader/proc/proc_windows_test.go
Owners: @cilium/tetragon

.gitignore: add tetragon.exe
  .gitignore
Owners: @cilium/tetragon

ci: running golangci-lint on windows
  .github/workflows/static-checks.yaml
Owners: @willfindlay

linters: fix error strings should not be capitalized
  pkg/bpf/perf_windows.go
  pkg/constants/constants_windows.go
  pkg/observer/observer_windows.go
  pkg/reader/proc/proc_windows.go
Owners: @cilium/tetragon

linters: fixes unused parameter by explicitly using _
  cmd/tetragon/main_windows.go
  pkg/bpf/bpffs_windows.go
  pkg/cgroups/cgroups_windows.go
  pkg/encoder/raw_syscall_enter_windows.go
  pkg/metrics/syscallmetrics/raw_syscall_name_windows.go
  pkg/metricsconfig/healthmetrics_windows.go
  pkg/process/process_id_windows.go
  pkg/procsyms/procsyms_windows.go
  pkg/reader/namespace/namespace_windows.go
  pkg/reader/proc/proc_windows.go
  pkg/sensors/exec/procevents/proc_reader_windows.go
  pkg/sensors/exec/procevents/proc_windows.go
  pkg/sensors/load_windows.go
  pkg/sensors/program/loader_windows.go
  pkg/sensors/tracing/lists_windows.go
  pkg/sensors/tracing/policyhandler_windows.go
Owners: @cilium/tetragon

pkg/bpf: wrap Windows GetModuleHandleW procedure
  pkg/bpf/ringbuf_windows.go
Owners: @cilium/tetragon

linters: replace deprecated syscall.StringToUTF16Ptr use
  pkg/bpf/ringbuf_windows.go
Owners: @cilium/tetragon

linters: remove useless else blocks
  pkg/sensors/exec/procevents/proc_reader_windows.go
Owners: @cilium/tetragon

linters: remove or move unused const/types/func
  pkg/bpf/bpffs.go
  pkg/bpf/bpffs_linux.go
  pkg/cgroups/cgroups.go
  pkg/cgroups/cgroups_linux.go
  pkg/observer/observer.go
  pkg/observer/observer_linux.go
  pkg/reader/namespace/namespace_windows.go
  pkg/sensors/exec/procevents/proc_reader.go
  pkg/sensors/exec/procevents/proc_reader_linux.go
  pkg/sensors/exec/procevents/proc_reader_windows.go
  pkg/sensors/program/loader_windows.go
  pkg/sensors/sensor_types_windows.go
  pkg/sensors/tracing/args_linux.go
  pkg/sensors/tracing/consts.go
  pkg/sensors/tracing/consts_linux.go
  pkg/sensors/tracing/enforcer.go
  pkg/sensors/tracing/enforcer_linux.go
  pkg/sensors/tracing/lists_windows.go
  pkg/sensors/tracing/loader_windows.go
  pkg/sensors/tracing/policyhandler.go
  pkg/sensors/tracing/policyhandler_linux.go
Owners: @cilium/tetragon

linters: remove redundant return statement
  pkg/sensors/load_windows.go
Owners: @cilium/tetragon

linters: replace fmt.Sprintf with concat or strconv
  pkg/sensors/exec/procevents/proc_reader_windows.go
  pkg/testutils/sensors/testrun_windows.go
Owners: @cilium/tetragon

linters: remove duplicate types in declaration
  pkg/bpf/ringbuf_windows.go
  pkg/observer/observer_windows.go
  pkg/sensors/exec/procevents/proc_reader_windows.go
Owners: @cilium/tetragon

linters: use errors.New instead of fmt.Errorf
  pkg/bpf/ringbuf_windows.go
  pkg/observer/observer_windows.go
  pkg/reader/proc/proc_windows.go
  pkg/sensors/exec/exec_windows.go
  pkg/sensors/exec/procevents/proc_reader_windows.go
Owners: @cilium/tetragon

fix: use camelCase instead of snake_case in Go code
  pkg/bpf/ringbuf_windows.go
  pkg/observer/observer_windows.go
  pkg/sensors/exec/procevents/proc_reader_windows.go
Owners: @cilium/tetragon

fix: cleanup error propagation and remove unused vars
  pkg/bpf/ringbuf_windows.go
  pkg/observer/observer_windows.go
Owners: @cilium/tetragon

pkg/bpf: do not raise error on reply size mismatch
  pkg/bpf/ringbuf_windows.go
Owners: @cilium/tetragon

linters: do not compare errors directly, use errors.Is
  pkg/bpf/ringbuf_windows.go
  pkg/reader/proc/proc_windows.go
Owners: @cilium/tetragon

tests/e2e: ignore build for windows
  tests/e2e/checker/doc.go
  tests/e2e/checker/rpcchecker.go
  tests/e2e/flags/doc.go
  tests/e2e/flags/flags.go
  tests/e2e/helpers/cluster.go
  tests/e2e/helpers/doc.go
  tests/e2e/helpers/dumpinfo.go
  tests/e2e/helpers/exec.go
  tests/e2e/helpers/gops/gops.go
  tests/e2e/helpers/grpc/grpc.go
  tests/e2e/helpers/portforward.go
  tests/e2e/helpers/resources.go
  tests/e2e/install/cilium/cilium.go
  tests/e2e/install/cilium/doc.go
  tests/e2e/install/tetragon/doc.go
  tests/e2e/install/tetragon/tetragon.go
  tests/e2e/runners/doc.go
  tests/e2e/runners/runners.go
  tests/e2e/state/doc.go
  tests/e2e/state/state.go
  tests/e2e/tests/doc.go
  tests/e2e/tests/labels/labels_test.go
  tests/e2e/tests/policyfilter/policyfilter_test.go
  tests/e2e/tests/skeleton/skeleton_test.go
Owners: @cilium/tetragon

docs: update homepage announcement section
  docs/content/en/_index.html
Owners: @mtardy, @cilium/tetragon

sensors: add utility helper for detecting fentry support
  pkg/sensors/utils/tracing.go
  pkg/sensors/utils/tracing_windows.go
Owners: @cilium/tetragon

bpf: populate nsid map from the bpf side
  bpf/process/bpf_execve_event.c
  bpf/process/policy_filter.h
  pkg/policyfilter/k8s_test.go
  pkg/policyfilter/namespace.go
  pkg/policyfilter/state.go
  pkg/policyfilter/support_linux.go
  pkg/policyfilter/support_windows.go
  pkg/sensors/base/base.go
  pkg/sensors/base/base_linux.go
Owners: @cilium/tetragon

base: pre-populate cgroup information on startup
  bpf/Makefile
  bpf/process/bpf_cgroup_lookup.c
  bpf/process/bpf_cgroup_lookup.h
  bpf/process/bpf_cgroup_lookup_fentry.c
  cmd/tetragon/main.go
  pkg/sensors/base/base.go
  pkg/sensors/base/procfs/procfs_linux.go
  pkg/sensors/base/procfs/procfs_windows.go
  pkg/sensors/utils/tracing_linux.go
Owners: @cilium/tetragon

helm: Change default metrics scrape interval to 60s
  contrib/upgrade-notes/latest.md
  docs/content/en/docs/reference/helm-chart.md
  install/kubernetes/tetragon/README.md
  install/kubernetes/tetragon/values.yaml
Owners: @cilium/tetragon, @mtardy

tetragon: Allow uprobes to use actions
  pkg/sensors/tracing/genericuprobe.go
Owners: @cilium/tetragon

Add Helm support for export.mode with sidecar management
  install/kubernetes/tetragon/templates/_container_tetragon.tpl
  install/kubernetes/tetragon/templates/daemonset.yaml
  install/kubernetes/tetragon/templates/tetragon_configmap.yaml
  install/kubernetes/tetragon/values.yaml
Owners: @cilium/tetragon

helm: Change default metrics scrape interval to 60s
  contrib/upgrade-notes/latest.md
  docs/content/en/docs/reference/helm-chart.md
  install/kubernetes/tetragon/README.md
  install/kubernetes/tetragon/values.yaml
Owners: @cilium/tetragon, @mtardy

tetragon: Add usdt test binary
  contrib/tester-progs/Makefile
  contrib/tester-progs/usdt.c
Owners: @cilium/tetragon

tetragon: Update ebpf version
  go.mod
  go.sum
  vendor/github.com/cilium/ebpf/.gitignore
  vendor/github.com/cilium/ebpf/Makefile
  vendor/github.com/cilium/ebpf/internal/elf.go
  vendor/github.com/cilium/ebpf/link/uprobe.go
  vendor/github.com/cilium/ebpf/link/usdt.go
  vendor/github.com/cilium/ebpf/usdt.c
  vendor/github.com/cilium/ebpf/usdt.h
  vendor/modules.txt
Owners: @cilium/tetragon

debug
  examples/tracingpolicy/usdt.yaml
Owners: @cilium/tetragon

tetragon: Add generic usdt bpf sensor code
  bpf/Makefile
  bpf/process/bpf_generic_usdt.c
  bpf/process/generic_calls.h
Owners: @cilium/tetragon

tetragon: Add usdt tracing policy example
  examples/tracingpolicy/usdt.yaml
Owners: @cilium/tetragon

tetragon: Add usdt spec changes
  pkg/k8s/apis/cilium.io/v1alpha1/tracing_policy_types.go
  pkg/k8s/apis/cilium.io/v1alpha1/types.go
  vendor/github.com/cilium/tetragon/pkg/k8s/apis/cilium.io/v1alpha1/tracing_policy_types.go
  vendor/github.com/cilium/tetragon/pkg/k8s/apis/cilium.io/v1alpha1/types.go
Owners: @cilium/tetragon

tetragon: Add codegen & generate usdt spec changes
  install/kubernetes/tetragon/crds-yaml/cilium.io_tracingpolicies.yaml
  install/kubernetes/tetragon/crds-yaml/cilium.io_tracingpoliciesnamespaced.yaml
  pkg/k8s/apis/cilium.io/client/crds/v1alpha1/cilium.io_tracingpolicies.yaml
  pkg/k8s/apis/cilium.io/client/crds/v1alpha1/cilium.io_tracingpoliciesnamespaced.yaml
  pkg/k8s/apis/cilium.io/v1alpha1/zz_generated.deepcopy.go
  vendor/github.com/cilium/tetragon/pkg/k8s/apis/cilium.io/client/crds/v1alpha1/cilium.io_tracingpolicies.yaml
  vendor/github.com/cilium/tetragon/pkg/k8s/apis/cilium.io/client/crds/v1alpha1/cilium.io_tracingpoliciesnamespaced.yaml
  vendor/github.com/cilium/tetragon/pkg/k8s/apis/cilium.io/v1alpha1/zz_generated.deepcopy.go
Owners: @cilium/tetragon

CODEOWNERS:

# Request a review from the Tetragon team on any PR
* @cilium/tetragon

# Request a review from William when codegen is edited
cmd/protoc-gen-go-tetragon/ @willfindlay

# Request a review from William when CI is edited
.github/workflows/ @willfindlay

# Request a review from kkourt when core sensor files are modified
pkg/src/sensors/ @kkourt

# Request a review from mtardy when anything from docs is modified but do not
# block on approval from anyone in the tetragon team
/docs/ @mtardy @cilium/tetragon
