Repository cilium/tetragon, changes with the owners that CODEOWNERS names for each.
All owners: @cilium/tetragon, @willfindlay, @kkourt, @mtardy

vmtests: skip TestTracepointLoadFormat in 6.1
  pkg/vmtests/skip.go
Owners: @cilium/tetragon

tetragon: for now drop benchmark section
  docs/content/en/docs/benchmarks/_index.md
  docs/content/en/docs/getting-started/enforcement.md
Owners: @mtardy, @cilium/tetragon

docs: update enforcement page
  docs/content/en/docs/concepts/enforcement/_index.md
  docs/content/en/docs/concepts/tracing-policy/selectors.md
Owners: @mtardy, @cilium/tetragon

tetragon: install tetragon service under multi-user target
  install/linux-tarball/systemd/tetragon.service
  install/linux-tarball/uninstall.sh
Owners: @cilium/tetragon

tetragon: copy default configuration and don't overwrite old config
  install/linux-tarball/install.sh
Owners: @cilium/tetragon

ci: test that default grpc is on socket
  .github/workflows/packages-e2e-tests.yaml
Owners: @willfindlay

tetra: close the policy filter map
  cmd/tetra/dump/dump.go
Owners: @cilium/tetragon

tetragon: point service doc to the new website
  install/linux-tarball/systemd/tetragon.service
Owners: @cilium/tetragon

tetragon: limit systemd from restarting the service
  install/linux-tarball/systemd/tetragon.service
Owners: @cilium/tetragon

tetra: add policyfilter command
  cmd/tetra/commands_linux.go
  cmd/tetra/dump/dump.go
  cmd/tetra/policyfilter/policyfilter.go
  pkg/policyfilter/map.go
Owners: @cilium/tetragon

tetragon: limit systemd from restarting the service
  install/linux-tarball/systemd/tetragon.service
Owners: @cilium/tetragon

vmtests: TestLoader fails in 6.1 as well, skip it
  pkg/vmtests/skip.go
Owners: @cilium/tetragon

gh/vmtests: add 6.1 kernel
  .github/workflows/vmtests.yml
Owners: @willfindlay

vmtests: skip TestTracepointLoadFormat in 6.1
  pkg/vmtests/skip.go
Owners: @cilium/tetragon

ci: test that default grpc is on socket
  .github/workflows/packages-e2e-tests.yaml
Owners: @willfindlay

tetragon: point service doc to the new website
  install/linux-tarball/systemd/tetragon.service
Owners: @cilium/tetragon

tetragon: limit systemd from restarting the service
  install/linux-tarball/systemd/tetragon.service
Owners: @cilium/tetragon

tetragon: copy default configuration and don't overwrite old config
  install/linux-tarball/install.sh
Owners: @cilium/tetragon

tetragon: install tetragon service under multi-user target
  install/linux-tarball/systemd/tetragon.service
  install/linux-tarball/uninstall.sh
Owners: @cilium/tetragon

fix
  pkg/vmtests/skip.go
Owners: @cilium/tetragon

helm: Fix selector labels for the operator deployment
  install/kubernetes/templates/operator_deployment.yaml
Owners: @cilium/tetragon

helm: Fix selector labels for the operator deployment
  install/kubernetes/templates/operator_deployment.yaml
Owners: @cilium/tetragon

tetragon: Add HasModifyReturn detection
  pkg/bpf/detect.go
Owners: @cilium/tetragon

tetragon: Log detected bpf features
  cmd/tetragon/main.go
  pkg/bpf/detect.go
  pkg/observer/observertesthelper/observer_test_helper.go
Owners: @cilium/tetragon

tetragon: Factor kprobe override attach into kprobeAttachOverride
  pkg/sensors/program/loader.go
Owners: @cilium/tetragon

tetragon: Add disableProg helper function
  pkg/sensors/program/loader.go
Owners: @cilium/tetragon

linters: fix new errors from update to v1.55.0
  cmd/protoc-gen-go-tetragon/eventchecker/field.go
  pkg/kernels/kernels.go
  pkg/sensors/base/base.go
  pkg/sensors/load.go
  pkg/sensors/tracing/generickprobe.go
  pkg/sensors/tracing/genericuprobe.go
Owners: @willfindlay, @cilium/tetragon

tetragon: Add support for fmod_ret override
  bpf/process/bpf_generic_kprobe.c
  pkg/sensors/program/loader.go
  pkg/sensors/program/program.go
  pkg/sensors/tracing/generickprobe.go
Owners: @cilium/tetragon

tetragon: Add test to override security_ function
  pkg/sensors/tracing/kprobe_test.go
Owners: @cilium/tetragon

tetragon: Add security override example
  examples/tracingpolicy/override-security.yaml
Owners: @cilium/tetragon

helm: add service monitor scrape interval config
  docs/content/en/docs/reference/helm-chart.md
  install/kubernetes/README.md
  install/kubernetes/templates/servicemonitor.yaml
  install/kubernetes/values.yaml
Owners: @mtardy, @cilium/tetragon

tetra: add policyfilter command
  cmd/tetra/commands_linux.go
  cmd/tetra/dump/dump.go
  cmd/tetra/policyfilter/policyfilter.go
  pkg/policyfilter/map.go
Owners: @cilium/tetragon

tetra: close the policy filter map
  cmd/tetra/dump/dump.go
Owners: @cilium/tetragon

linters: fix new errors from update to v1.55.0
  cmd/protoc-gen-go-tetragon/eventchecker/field.go
  pkg/kernels/kernels.go
  pkg/sensors/base/base.go
  pkg/sensors/load.go
  pkg/sensors/tracing/generickprobe.go
  pkg/sensors/tracing/genericuprobe.go
Owners: @willfindlay, @cilium/tetragon

helm: enable policyfilter by default
  docs/content/en/docs/reference/helm-chart.md
  install/kubernetes/README.md
  install/kubernetes/values.yaml
Owners: @mtardy, @cilium/tetragon

ci: fix CI for external contributors
  .github/workflows/packages-e2e-tests.yaml
Owners: @willfindlay

creds:tracing-policy: trace user namespaces creations
  examples/tracingpolicy/process-credentials/process-creds-change-user-namespace.yaml
Owners: @cilium/tetragon

tetragon: Add test to override security_ function
  pkg/sensors/tracing/kprobe_test.go
Owners: @cilium/tetragon

tetragon: Add disableProg helper function
  pkg/sensors/program/loader.go
Owners: @cilium/tetragon

tetragon: Add HasModifyReturn detection
  pkg/bpf/detect.go
Owners: @cilium/tetragon

CODEOWNERS:

# Request a review from the Tetragon team on any PR
* @cilium/tetragon

# Request a review from William when codegen is edited
cmd/protoc-gen-go-tetragon/ @willfindlay

# Request a review from William when CI is edited
.github/workflows/ @willfindlay

# Request a review from kkourt when core sensor files are modified
pkg/src/sensors/ @kkourt

# Request a review from mtardy when anything from docs is modified but do not
# block on approval from anyone in the tetragon team
/docs/ @mtardy @cilium/tetragon
