Repository cilium/tetragon, changes with the owners that CODEOWNERS names for each.
All owners: @cilium/tetragon, @willfindlay, @kkourt, @mtardy

CI: Improve/stabilize lint Helm CI workflow
  .github/workflows/lint-helm.yaml
Owners: @willfindlay

metrics: Expose more errors in tetragon_bpf_missed_events_total counter
  bpf/lib/process.h
  docs/content/en/docs/reference/metrics.md
  pkg/api/processapi/processapi.go
  pkg/metrics/eventmetrics/eventmetrics.go
Owners: @cilium/tetragon, @mtardy

Remove tetragon_msg_op_total metric
  contrib/upgrade-notes/latest.md
  docs/content/en/docs/reference/metrics.md
  pkg/metrics/opcodemetrics/opcodemetrics.go
  pkg/observer/observer.go
Owners: @cilium/tetragon, @mtardy

process: Refactor cache capacity metric
  pkg/process/metrics.go
Owners: @cilium/tetragon

process: Add tetragon_process_cache_evictions_total metric
  docs/content/en/docs/reference/metrics.md
  pkg/process/cache.go
  pkg/process/metrics.go
Owners: @mtardy, @cilium/tetragon

process: Add tetragon_process_cache_misses_total metric
  docs/content/en/docs/reference/metrics.md
  pkg/process/cache.go
  pkg/process/metrics.go
Owners: @mtardy, @cilium/tetragon

Stop reporting process cache evictions and misses as errors
  contrib/upgrade-notes/latest.md
  docs/content/en/docs/reference/metrics.md
  pkg/metrics/errormetrics/errormetrics.go
  pkg/process/cache.go
Owners: @cilium/tetragon, @mtardy

docs for followChildren true
  docs/content/en/docs/concepts/tracing-policy/selectors.md
Owners: @mtardy, @cilium/tetragon

verify.sh: Handle when bpf_verride_return is unavailable
  contrib/verify/verify.sh
Owners: @cilium/tetragon

docs: Fix the mentioned containerd version
  docs/content/en/docs/concepts/runtime-hooks.md
Owners: @mtardy, @cilium/tetragon

golangci-lint: fix various issues from linters update
  pkg/filters/caps.go
  pkg/policyfilter/k8s_test.go
  pkg/sensors/exec/exec_test.go
  pkg/tracingpolicy/generictracingpolicy.go
Owners: @cilium/tetragon

tetragon: fix deprecated pprof flag compatibility
  pkg/option/flags.go
Owners: @cilium/tetragon

docs for followChildren true
  docs/content/en/docs/concepts/tracing-policy/selectors.md
Owners: @mtardy, @cilium/tetragon

helm: Use selector labels in ServiceMonitors
  install/kubernetes/tetragon/templates/operator_servicemonitor.yaml
  install/kubernetes/tetragon/templates/servicemonitor.yaml
Owners: @cilium/tetragon

helm: Minor docs improvements
  docs/content/en/docs/reference/helm-chart.md
  install/kubernetes/tetragon/README.md
  install/kubernetes/tetragon/values.yaml
Owners: @mtardy, @cilium/tetragon

helm: Support adding extra labels to ServiceMonitors
  docs/content/en/docs/reference/helm-chart.md
  install/kubernetes/tetragon/README.md
  install/kubernetes/tetragon/templates/operator_servicemonitor.yaml
  install/kubernetes/tetragon/templates/servicemonitor.yaml
  install/kubernetes/tetragon/values.yaml
Owners: @mtardy, @cilium/tetragon

CI: Improve/stabilize lint Helm CI workflow
  .github/workflows/lint-helm.yaml
Owners: @willfindlay

metrics: Expose more errors in tetragon_bpf_missed_events_total counter
  bpf/lib/process.h
  docs/content/en/docs/reference/metrics.md
  pkg/api/processapi/processapi.go
  pkg/metrics/eventmetrics/eventmetrics.go
Owners: @cilium/tetragon, @mtardy

process: Add tetragon_process_cache_misses_total metric
  docs/content/en/docs/reference/metrics.md
  pkg/process/cache.go
  pkg/process/metrics.go
Owners: @mtardy, @cilium/tetragon

process: Add tetragon_process_cache_evictions_total metric
  docs/content/en/docs/reference/metrics.md
  pkg/process/cache.go
  pkg/process/metrics.go
Owners: @mtardy, @cilium/tetragon

process: Refactor cache capacity metric
  pkg/process/metrics.go
Owners: @cilium/tetragon

Stop reporting process cache evictions and misses as errors
  contrib/upgrade-notes/latest.md
  docs/content/en/docs/reference/metrics.md
  pkg/metrics/errormetrics/errormetrics.go
  pkg/process/cache.go
Owners: @cilium/tetragon, @mtardy

eventcache: Refactor cache size metric
  pkg/eventcache/metrics.go
  pkg/metricsconfig/healthmetrics.go
Owners: @cilium/tetragon

eventcache: Add tetragon_event_cache_fetch_failures_total metric
  docs/content/en/docs/reference/metrics.md
  pkg/eventcache/eventcache.go
  pkg/eventcache/metrics.go
  pkg/metrics/labels.go
Owners: @mtardy, @cilium/tetragon

Move eventcachemetrics inside pkg/eventcache
  pkg/eventcache/eventcache.go
  pkg/eventcache/metrics.go
  pkg/grpc/exec/exec.go
  pkg/grpc/tracing/tracing.go
  pkg/metrics/eventcachemetrics/eventcachemetrics.go
  pkg/metricsconfig/healthmetrics.go
Owners: @cilium/tetragon

eventcache: Remove tetragon_event_cache_<entry_type>_errors_total metrics
  contrib/upgrade-notes/latest.md
  docs/content/en/docs/reference/metrics.md
  pkg/eventcache/eventcache.go
  pkg/eventcache/metrics.go
Owners: @cilium/tetragon, @mtardy

eventcache: Refactor retries counter
  contrib/upgrade-notes/latest.md
  docs/content/en/docs/reference/metrics.md
  pkg/eventcache/eventcache.go
  pkg/eventcache/metrics.go
  pkg/grpc/exec/exec.go
Owners: @cilium/tetragon, @mtardy

eventcache: Refactor errors counter
  pkg/eventcache/metrics.go
  pkg/grpc/exec/exec.go
  pkg/grpc/tracing/tracing.go
  pkg/metricsconfig/healthmetrics.go
Owners: @cilium/tetragon

eventcache: Rename inserts counter
  contrib/upgrade-notes/latest.md
  docs/content/en/docs/reference/metrics.md
  pkg/eventcache/eventcache.go
  pkg/eventcache/metrics.go
Owners: @cilium/tetragon, @mtardy

tetragon: fix deprecated pprof flag compatibility
  pkg/option/flags.go
Owners: @cilium/tetragon

eventcache: Rename inserts counter
  contrib/upgrade-notes/latest.md
  docs/content/en/docs/reference/metrics.md
  pkg/eventcache/eventcache.go
  pkg/eventcache/metrics.go
Owners: @cilium/tetragon, @mtardy

eventcache: Remove tetragon_event_cache_<entry_type>_errors_total metrics
  contrib/upgrade-notes/latest.md
  docs/content/en/docs/reference/metrics.md
  pkg/eventcache/eventcache.go
  pkg/eventcache/metrics.go
Owners: @cilium/tetragon, @mtardy

Move eventcachemetrics inside pkg/eventcache
  pkg/eventcache/eventcache.go
  pkg/eventcache/metrics.go
  pkg/grpc/exec/exec.go
  pkg/grpc/tracing/tracing.go
  pkg/metrics/eventcachemetrics/eventcachemetrics.go
  pkg/metricsconfig/healthmetrics.go
Owners: @cilium/tetragon

eventcache: Add tetragon_event_cache_fetch_failures_total metric
  docs/content/en/docs/reference/metrics.md
  pkg/eventcache/eventcache.go
  pkg/eventcache/metrics.go
  pkg/metrics/labels.go
Owners: @mtardy, @cilium/tetragon

eventcache: Refactor retries counter
  contrib/upgrade-notes/latest.md
  docs/content/en/docs/reference/metrics.md
  pkg/eventcache/eventcache.go
  pkg/eventcache/metrics.go
  pkg/grpc/exec/exec.go
Owners: @cilium/tetragon, @mtardy

eventcache: Refactor errors counter
  pkg/eventcache/metrics.go
  pkg/grpc/exec/exec.go
  pkg/grpc/tracing/tracing.go
  pkg/metricsconfig/healthmetrics.go
Owners: @cilium/tetragon

eventcache: Refactor cache size metric
  pkg/eventcache/metrics.go
  pkg/metricsconfig/healthmetrics.go
Owners: @cilium/tetragon

eventmetrics: Add tetragon_events_missing_process_info_total metric
  docs/content/en/docs/reference/metrics.md
  pkg/metrics/eventmetrics/eventmetrics.go
Owners: @mtardy, @cilium/tetragon

Remove tetragon_errors_total{type="event_missing_process_info"} metric
  contrib/upgrade-notes/latest.md
  docs/content/en/docs/reference/metrics.md
  pkg/metrics/errormetrics/errormetrics.go
  pkg/metrics/eventmetrics/eventmetrics.go
Owners: @cilium/tetragon, @mtardy

Remove tetragon_errors_total{type="event_missing_process_info"} metric
  contrib/upgrade-notes/latest.md
  docs/content/en/docs/reference/metrics.md
  pkg/metrics/errormetrics/errormetrics.go
  pkg/metrics/eventmetrics/eventmetrics.go
Owners: @cilium/tetragon, @mtardy

CODEOWNERS:

# Request a review from the Tetragon team on any PR
* @cilium/tetragon

# Request a review from William when codegen is edited
cmd/protoc-gen-go-tetragon/ @willfindlay

# Request a review from William when CI is edited
.github/workflows/ @willfindlay

# Request a review from kkourt when core sensor files are modified
pkg/src/sensors/ @kkourt

# Request a review from mtardy when anything from docs is modified but do not
# block on approval from anyone in the tetragon team
/docs/ @mtardy @cilium/tetragon
