Repository cilium/tetragon, changes with the owners that CODEOWNERS names for each.
All owners: @cilium/tetragon, @willfindlay, @kkourt, @mtardy

CODEOWNERS:

# Request a review from the Tetragon team on any PR
* @cilium/tetragon

# Request a review from William when codegen is edited
cmd/protoc-gen-go-tetragon/ @willfindlay

# Request a review from William when CI is edited
.github/workflows/ @willfindlay

# Request a review from kkourt when core sensor files are modified
pkg/src/sensors/ @kkourt

# Request a review from mtardy when anything from docs is modified but do not
# block on approval from anyone in the tetragon team
/docs/ @mtardy @cilium/tetragon

tetragon: Add loader support for uprobe write offload
  pkg/sensors/program/loader_linux.go
  pkg/sensors/program/program.go
Owners: @cilium/tetragon

tetragon: Add support for usdt set action
  bpf/include/api.h
  bpf/lib/common.h
  bpf/process/generic_calls.h
  bpf/process/types/basic.h
  pkg/api/processapi/processapi.go
  pkg/api/tracingapi/client_kprobe.go
  pkg/grpc/tracing/tracing.go
  pkg/selectors/kernel.go
  pkg/sensors/tracing/genericusdt.go
Owners: @cilium/tetragon

tetragon: Add support for usdt set action write offload
  bpf/process/bpf_generic_usdt.c
  bpf/process/generic_calls.h
  bpf/process/generic_maps.h
  pkg/selectors/kernel.go
  pkg/sensors/tracing/consts.go
  pkg/sensors/tracing/genericusdt.go
Owners: @cilium/tetragon

tetragon: Add test for usdt set action
  pkg/sensors/tracing/usdt_amd64_test.go
Owners: @cilium/tetragon

tetragon: Add usdt set action example
  ex.yaml
Owners: @cilium/tetragon

tetragon: Add helper for ring buffer support
  pkg/config/config_linux.go
  pkg/config/config_windows.go
Owners: @cilium/tetragon

tetragon: add ring buffer for events
  bpf/lib/bpf_event.h
  pkg/sensors/base/base.go
  pkg/sensors/base/base_linux.go
  pkg/sensors/test/cgroups.go
  pkg/sensors/test/test.go
  pkg/sensors/tracing/generickprobe.go
  pkg/sensors/tracing/genericlsm.go
  pkg/sensors/tracing/generictracepoint.go
  pkg/sensors/tracing/genericuprobe.go
  pkg/sensors/tracing/genericusdt.go
  pkg/sensors/tracing/loader_linux.go
Owners: @cilium/tetragon

tetragon: ring buf versions of programs
  bpf/Makefile
  pkg/config/config_linux.go
  pkg/config/config_windows.go
  pkg/sensors/base/base.go
  pkg/sensors/test/cgroups.go
  pkg/sensors/test/test.go
  pkg/sensors/tracing/loader_linux.go
Owners: @cilium/tetragon

tetragon: service the bpf ring buffer
  pkg/bpf/ringbuf_linux.go
  pkg/observer/observer.go
  pkg/observer/observer_linux.go
  vendor/github.com/cilium/ebpf/ringbuf/doc.go
  vendor/github.com/cilium/ebpf/ringbuf/reader.go
  vendor/github.com/cilium/ebpf/ringbuf/ring.go
  vendor/modules.txt
Owners: @cilium/tetragon

tetragon: fix prototype for ringbuf_output
  bpf/include/api.h
Owners: @cilium/tetragon

tetragon: test support for bpf ring buffer
  pkg/observer/observertesthelper/observer_test_helper.go
  pkg/sensors/tracing/kprobe_test.go
  pkg/sensors/tracing/lsm_test.go
  pkg/sensors/tracing/tracepoint_test.go
  pkg/sensors/tracing/uprobe_test.go
  pkg/sensors/tracing/usdt_test.go
  pkg/testutils/perfring/perfring.go
  pkg/testutils/sensors/load.go
Owners: @cilium/tetragon

tetragon: choose output ring buf from config
  bpf/lib/bpf_event.h
  bpf/lib/process.h
  bpf/process/data_event.h
  bpf/test/bpf_lseek.c
Owners: @cilium/tetragon

tetragon: use switch to choose ring buffer
  pkg/observer/observer_linux.go
  pkg/sensors/base/base_linux.go
  pkg/sensors/config/confmap/confmap.go
  pkg/sensors/test/cgroups.go
  pkg/sensors/test/test.go
  pkg/sensors/tracing/generickprobe.go
  pkg/sensors/tracing/genericlsm.go
  pkg/sensors/tracing/generictracepoint.go
  pkg/sensors/tracing/genericuprobe.go
  pkg/sensors/tracing/genericusdt.go
  pkg/sensors/tracing/loader_linux.go
Owners: @cilium/tetragon

tetragon: fix-up capabilities test
  contrib/tester-progs/.gitignore
  contrib/tester-progs/Makefile
  contrib/tester-progs/capabilities-ioperm.c
  pkg/sensors/tracing/kprobe_amd64_test.go
Owners: @cilium/tetragon

tetragon: add config to choose event ring buffer
  bpf/lib/environ_conf.h
  pkg/sensors/config/confmap/confmap.go
Owners: @cilium/tetragon

tetragon: Only service ring buffer in use
  pkg/observer/observer_linux.go
Owners: @cilium/tetragon

tetragon: eventsQueue only needs raw samples
  pkg/bpf/ringbuf_linux.go
  pkg/bpf/ringbuf_windows.go
  pkg/observer/observer_linux.go
Owners: @cilium/tetragon

tetragon: Remove map and flags from event_output
  bpf/cgroup/bpf_cgroup_events.h
  bpf/lib/process.h
  bpf/process/bpf_execve_event.c
  bpf/process/bpf_exit.h
  bpf/process/bpf_fork.c
  bpf/process/bpf_loader.c
  bpf/process/bpf_rate.h
  bpf/process/data_event.h
  bpf/process/generic_calls.h
Owners: @cilium/tetragon

tetragon: add switch to choose ring buffer
  cmd/tetragon/main.go
  docs/content/en/docs/reference/helm-chart.md
  docs/data/tetragon_flags.yaml
  install/kubernetes/tetragon/README.md
  install/kubernetes/tetragon/templates/tetragon_configmap.yaml
  install/kubernetes/tetragon/values.yaml
  pkg/option/config.go
  pkg/option/flags.go
Owners: @cilium/tetragon, @mtardy

pkg/sensors: initialize RewriteConstant map in builder
  pkg/sensors/program/program.go
Owners: @cilium/tetragon

install/kubernetes/tetragon: Helm chart add serviceLabels
  install/kubernetes/tetragon/templates/service.yaml
  install/kubernetes/tetragon/values.yaml
Owners: @cilium/tetragon

install/kubernetes/tetragon: Helm chart add serviceAnnotations and serviceLabels
  install/kubernetes/tetragon/templates/service.yaml
  install/kubernetes/tetragon/values.yaml
Owners: @cilium/tetragon

new(cmd/tetra,pkg/bugtool): allow to extend bugtool tar archive.
  cmd/tetra/bugtool/bugtool.go
  cmd/tetra/commands_linux.go
  pkg/bugtool/bugtool.go
  pkg/observer/observertesthelper/observer_test_helper.go
Owners: @cilium/tetragon

chore(pkg/bugtool): moved `tarWriter` inside `bugtoolInfo` struct.
  pkg/bugtool/bugtool.go
Owners: @cilium/tetragon

pkg/sensors: initialize RewriteConstant map in builder
  pkg/sensors/program/program.go
Owners: @cilium/tetragon

tetragon: Add generate changes
  api/v1/README.md
  api/v1/tetragon/codegen/eventchecker/eventchecker.pb.go
  api/v1/tetragon/tetragon.pb.go
  contrib/tetragon-rthooks/vendor/github.com/cilium/tetragon/api/v1/tetragon/tetragon.pb.go
  contrib/tetragon-rthooks/vendor/github.com/cilium/tetragon/api/v1/tetragon/tetragon.proto
  docs/content/en/docs/reference/grpc-api.md
  install/kubernetes/tetragon/crds-yaml/cilium.io_tracingpolicies.yaml
  install/kubernetes/tetragon/crds-yaml/cilium.io_tracingpoliciesnamespaced.yaml
  pkg/k8s/apis/cilium.io/client/crds/v1alpha1/cilium.io_tracingpolicies.yaml
  pkg/k8s/apis/cilium.io/client/crds/v1alpha1/cilium.io_tracingpoliciesnamespaced.yaml
  pkg/k8s/apis/cilium.io/v1alpha1/zz_generated.deepcopy.go
  vendor/github.com/cilium/tetragon/api/v1/tetragon/codegen/eventchecker/eventchecker.pb.go
  vendor/github.com/cilium/tetragon/api/v1/tetragon/tetragon.pb.go
  vendor/github.com/cilium/tetragon/api/v1/tetragon/tetragon.proto
  vendor/github.com/cilium/tetragon/pkg/k8s/apis/cilium.io/client/crds/v1alpha1/cilium.io_tracingpolicies.yaml
  vendor/github.com/cilium/tetragon/pkg/k8s/apis/cilium.io/client/crds/v1alpha1/cilium.io_tracingpoliciesnamespaced.yaml
  vendor/github.com/cilium/tetragon/pkg/k8s/apis/cilium.io/v1alpha1/zz_generated.deepcopy.go
Owners: @cilium/tetragon, @mtardy

tetragon: Add selector test for ParseMatchData function
  pkg/selectors/kernel_test.go
Owners: @cilium/tetragon

tetragon: Add data and source fields to kprobe spec
  pkg/k8s/apis/cilium.io/v1alpha1/types.go
  pkg/k8s/apis/cilium.io/v1alpha1/version.go
  vendor/github.com/cilium/tetragon/pkg/k8s/apis/cilium.io/v1alpha1/types.go
  vendor/github.com/cilium/tetragon/pkg/k8s/apis/cilium.io/v1alpha1/version.go
Owners: @cilium/tetragon

tetragon: Add test for resolving kprobe argument with current source
  pkg/sensors/tracing/kprobe_test.go
Owners: @cilium/tetragon

tetragon: Add support to store data in kprobe events
  pkg/grpc/tracing/tracing.go
  pkg/sensors/tracing/args_linux.go
  pkg/sensors/tracing/generic.go
  pkg/sensors/tracing/generic_test.go
  pkg/sensors/tracing/generickprobe.go
  pkg/sensors/tracing/genericlsm.go
  pkg/sensors/tracing/generictracepoint.go
Owners: @cilium/tetragon

tetragon: Add selector test for ParseMatchArgs over args and data
  pkg/selectors/kernel_test.go
Owners: @cilium/tetragon

tetragon: Add data field to kprobe event
  api/v1/tetragon/tetragon.proto
Owners: @cilium/tetragon

tetragon: Add support to filter on data fields
  pkg/selectors/kernel.go
  pkg/selectors/kernel_test.go
  pkg/sensors/tracing/generickprobe.go
  pkg/sensors/tracing/genericlsm.go
  pkg/sensors/tracing/generictracepoint.go
  pkg/sensors/tracing/genericuprobe.go
Owners: @cilium/tetragon

tetragon: Remove leftover argsBTFSet variable
  pkg/sensors/tracing/generickprobe.go
Owners: @cilium/tetragon

tetragon: Add docs for data and matchData spec
  docs/content/en/docs/concepts/tracing-policy/hooks.md
  docs/content/en/docs/concepts/tracing-policy/selectors.md
Owners: @mtardy, @cilium/tetragon

tetragon: Add support to resolve current task data
  bpf/process/generic_calls.h
  bpf/process/types/basic.h
  pkg/btf/btf.go
  pkg/sensors/tracing/args_linux.go
  pkg/sensors/tracing/generic.go
Owners: @cilium/tetragon

tetragon: Add selector to usdt spec
  pkg/k8s/apis/cilium.io/v1alpha1/types.go
  pkg/k8s/apis/cilium.io/v1alpha1/version.go
  vendor/github.com/cilium/tetragon/pkg/k8s/apis/cilium.io/v1alpha1/types.go
  vendor/github.com/cilium/tetragon/pkg/k8s/apis/cilium.io/v1alpha1/version.go
Owners: @cilium/tetragon

tetragon: Add usdt selector support
  pkg/sensors/tracing/genericusdt.go
Owners: @cilium/tetragon

tetragon: Add action and flags to usdt event
  api/v1/tetragon/tetragon.proto
Owners: @cilium/tetragon

tetragon: Add codegen and generate changes
  api/v1/README.md
  api/v1/tetragon/codegen/eventchecker/eventchecker.pb.go
  api/v1/tetragon/tetragon.pb.go
  contrib/tetragon-rthooks/vendor/github.com/cilium/tetragon/api/v1/tetragon/tetragon.pb.go
  contrib/tetragon-rthooks/vendor/github.com/cilium/tetragon/api/v1/tetragon/tetragon.proto
  docs/content/en/docs/reference/grpc-api.md
  install/kubernetes/tetragon/crds-yaml/cilium.io_tracingpolicies.yaml
  install/kubernetes/tetragon/crds-yaml/cilium.io_tracingpoliciesnamespaced.yaml
  pkg/k8s/apis/cilium.io/client/crds/v1alpha1/cilium.io_tracingpolicies.yaml
  pkg/k8s/apis/cilium.io/client/crds/v1alpha1/cilium.io_tracingpoliciesnamespaced.yaml
  pkg/k8s/apis/cilium.io/v1alpha1/zz_generated.deepcopy.go
  vendor/github.com/cilium/tetragon/api/v1/tetragon/codegen/eventchecker/eventchecker.pb.go
  vendor/github.com/cilium/tetragon/api/v1/tetragon/tetragon.pb.go
  vendor/github.com/cilium/tetragon/api/v1/tetragon/tetragon.proto
  vendor/github.com/cilium/tetragon/pkg/k8s/apis/cilium.io/client/crds/v1alpha1/cilium.io_tracingpolicies.yaml
  vendor/github.com/cilium/tetragon/pkg/k8s/apis/cilium.io/client/crds/v1alpha1/cilium.io_tracingpoliciesnamespaced.yaml
  vendor/github.com/cilium/tetragon/pkg/k8s/apis/cilium.io/v1alpha1/zz_generated.deepcopy.go
Owners: @cilium/tetragon, @mtardy
