Repository cilium/tetragon, changes with the owners that CODEOWNERS names for each.
All owners: @cilium/tetragon, @willfindlay, @kkourt, @mtardy

CODEOWNERS:

# Request a review from the Tetragon team on any PR
* @cilium/tetragon

# Request a review from William when codegen is edited
cmd/protoc-gen-go-tetragon/ @willfindlay

# Request a review from William when CI is edited
.github/workflows/ @willfindlay

# Request a review from kkourt when core sensor files are modified
pkg/src/sensors/ @kkourt

# Request a review from mtardy when anything from docs is modified but do not
# block on approval from anyone in the tetragon team
/docs/ @mtardy @cilium/tetragon

new(pkg/policyconf): add test around monitor-only mode.
  pkg/policyconf/test/mode_test.go
Owners: @cilium/tetragon

new(bpf): introduce `POLICY_MODE_MONITOR_ONLY` enum value.
  bpf/lib/policy_conf.h
  bpf/process/generic_calls.h
Owners: @cilium/tetragon

new(pkg/sensors): set `policyMode` to `MonitorOnlyMode`.
  pkg/sensors/tracing/policyhandler_linux.go
Owners: @cilium/tetragon

new(pkg/sensors): deny mode update for monitor_only policies.
  pkg/policyconf/policyconf.go
Owners: @cilium/tetragon

tetragon: handle resolving null pointer
  bpf/lib/generic.h
  bpf/process/generic_calls.h
  bpf/process/types/basic.h
Owners: @cilium/tetragon

tetragon: add resolve_err_depth to KprobeArgument
  api/v1/tetragon/tetragon.proto
Owners: @cilium/tetragon

api: make protogen
  api/v1/README.md
  api/v1/tetragon/codegen/eventchecker/eventchecker.pb.go
  api/v1/tetragon/tetragon.pb.go
  contrib/tetragon-rthooks/vendor/github.com/cilium/tetragon/api/v1/tetragon/tetragon.pb.go
  contrib/tetragon-rthooks/vendor/github.com/cilium/tetragon/api/v1/tetragon/tetragon.proto
  docs/content/en/docs/reference/grpc-api.md
  vendor/github.com/cilium/tetragon/api/v1/tetragon/codegen/eventchecker/eventchecker.pb.go
  vendor/github.com/cilium/tetragon/api/v1/tetragon/tetragon.pb.go
  vendor/github.com/cilium/tetragon/api/v1/tetragon/tetragon.proto
Owners: @cilium/tetragon, @mtardy

tracepoint: plumb resolve err depth into event
  pkg/api/tracingapi/client_tracepoint.go
  pkg/grpc/tracing/tracing.go
  pkg/sensors/tracing/generictracepoint.go
Owners: @cilium/tetragon

tetragon: Plumb resolve error from bpf to event
  pkg/api/tracingapi/client_kprobe.go
  pkg/grpc/tracing/tracing.go
  pkg/sensors/tracing/args_linux.go
  pkg/sensors/tracing/generickprobe.go
  pkg/sensors/tracing/genericlsm.go
  pkg/sensors/tracing/genericuprobe.go
  pkg/sensors/tracing/genericusdt.go
Owners: @cilium/tetragon

tester-progs: Add program that passes NULL
  contrib/tester-progs/.gitignore
  contrib/tester-progs/Makefile
  contrib/tester-progs/uprobe-null.c
Owners: @cilium/tetragon

tetragon: make GetIndex() consistent
  pkg/sensors/tracing/generickprobe.go
  pkg/sensors/tracing/genericuprobe.go
  pkg/sensors/tracing/genericusdt.go
Owners: @cilium/tetragon

tetragon: test uprobe resolve failure
  pkg/sensors/tracing/uprobe_amd64_test.go
Owners: @cilium/tetragon

tetragon: Add additional returnCopy test
  pkg/sensors/tracing/kprobe_test.go
Owners: @cilium/tetragon

Add Reddit to USERS.md
  USERS.md
Owners: @cilium/tetragon

Add Reddit to USERS.md
  USERS.md
Owners: @cilium/tetragon

cmd/tetra: add explain command for local CRD schema exploration
  cmd/tetra/commands_darwin.go
  cmd/tetra/commands_linux.go
  cmd/tetra/explain/explain.go
Owners: @cilium/tetragon

fix: update cgtracker.h file changing 1 to 16384
  bpf/cgroup/cgtracker.h
Owners: @cilium/tetragon

renovate: Update the branch for breaking change check
  Makefile.defs
Owners: @cilium/tetragon

tetragon: Add parent to ProcessLoader message
  api/v1/tetragon/tetragon.proto
Owners: @cilium/tetragon

tetragon: Generated changes for previous commit
  api/v1/README.md
  api/v1/tetragon/codegen/eventchecker/eventchecker.pb.go
  api/v1/tetragon/codegen/helpers/helpers.pb.go
  api/v1/tetragon/tetragon.pb.go
  api/v1/tetragon/types.pb.go
  contrib/tetragon-rthooks/vendor/github.com/cilium/tetragon/api/v1/tetragon/tetragon.pb.go
  contrib/tetragon-rthooks/vendor/github.com/cilium/tetragon/api/v1/tetragon/tetragon.proto
  contrib/tetragon-rthooks/vendor/github.com/cilium/tetragon/api/v1/tetragon/types.pb.go
  docs/content/en/docs/reference/grpc-api.md
  vendor/github.com/cilium/tetragon/api/v1/tetragon/codegen/eventchecker/eventchecker.pb.go
  vendor/github.com/cilium/tetragon/api/v1/tetragon/codegen/helpers/helpers.pb.go
  vendor/github.com/cilium/tetragon/api/v1/tetragon/tetragon.pb.go
  vendor/github.com/cilium/tetragon/api/v1/tetragon/tetragon.proto
  vendor/github.com/cilium/tetragon/api/v1/tetragon/types.pb.go
Owners: @cilium/tetragon, @mtardy

tetragon: Store parent to ProcessLoader message
  pkg/grpc/tracing/tracing.go
Owners: @cilium/tetragon

autogenerated: update protobuf, CRDs, and vendor files
  api/v1/README.md
  api/v1/tetragon/codegen/eventchecker/eventchecker.pb.go
  api/v1/tetragon/tetragon.pb.go
  api/v1/tetragon/tetragon.pb.json.go
  api/v1/tetragon/tetragon.proto
  contrib/tetragon-rthooks/vendor/github.com/cilium/tetragon/api/v1/tetragon/tetragon.pb.go
  contrib/tetragon-rthooks/vendor/github.com/cilium/tetragon/api/v1/tetragon/tetragon.pb.json.go
  contrib/tetragon-rthooks/vendor/github.com/cilium/tetragon/api/v1/tetragon/tetragon.proto
  docs/content/en/docs/reference/grpc-api.md
  docs/content/en/docs/reference/tracing-policy.md
  install/kubernetes/tetragon/crds-yaml/cilium.io_tracingpolicies.yaml
  install/kubernetes/tetragon/crds-yaml/cilium.io_tracingpoliciesnamespaced.yaml
  pkg/k8s/apis/cilium.io/client/crds/v1alpha1/cilium.io_tracingpolicies.yaml
  pkg/k8s/apis/cilium.io/client/crds/v1alpha1/cilium.io_tracingpoliciesnamespaced.yaml
  pkg/k8s/apis/cilium.io/v1alpha1/types.go
  pkg/k8s/apis/cilium.io/v1alpha1/version.go
  vendor/github.com/cilium/tetragon/api/v1/tetragon/codegen/eventchecker/eventchecker.pb.go
  vendor/github.com/cilium/tetragon/api/v1/tetragon/tetragon.pb.go
  vendor/github.com/cilium/tetragon/api/v1/tetragon/tetragon.pb.json.go
  vendor/github.com/cilium/tetragon/api/v1/tetragon/tetragon.proto
  vendor/github.com/cilium/tetragon/pkg/k8s/apis/cilium.io/client/crds/v1alpha1/cilium.io_tracingpolicies.yaml
  vendor/github.com/cilium/tetragon/pkg/k8s/apis/cilium.io/client/crds/v1alpha1/cilium.io_tracingpoliciesnamespaced.yaml
  vendor/github.com/cilium/tetragon/pkg/k8s/apis/cilium.io/v1alpha1/types.go
  vendor/github.com/cilium/tetragon/pkg/k8s/apis/cilium.io/v1alpha1/version.go
Owners: @cilium/tetragon, @mtardy

bpf: add AF_UNIX (sockaddr_un) support
  bpf/process/generic_calls.h
  bpf/process/types/basic.h
  bpf/process/types/sockaddr_un.h
  bpf/process/types/tuple.h
  pkg/api/tracingapi/client_kprobe.go
  pkg/btf/validation.go
  pkg/generictypes/generictypes.go
  pkg/grpc/tracing/tracing.go
  pkg/selectors/kernel.go
  pkg/sensors/tracing/args_linux.go
  pkg/sensors/tracing/generictracepoint.go
Owners: @cilium/tetragon

tests: added unit tests for tracing unix socket events
  pkg/sensors/tracing/kprobe_net_test.go
Owners: @cilium/tetragon

cmd/tetra: add explain command for local CRD schema exploration
  cmd/tetra/commands_darwin.go
  cmd/tetra/commands_linux.go
  cmd/tetra/explain/explain.go
Owners: @cilium/tetragon

k8s: add btfType and btfPath for uprobes
  pkg/k8s/apis/cilium.io/client/crds/v1alpha1/cilium.io_tracingpolicies.yaml
  pkg/k8s/apis/cilium.io/client/crds/v1alpha1/cilium.io_tracingpoliciesnamespaced.yaml
  pkg/k8s/apis/cilium.io/v1alpha1/types.go
  pkg/k8s/apis/cilium.io/v1alpha1/version.go
Owners: @cilium/tetragon

crds: run "make crds"
  install/kubernetes/tetragon/crds-yaml/cilium.io_tracingpolicies.yaml
  install/kubernetes/tetragon/crds-yaml/cilium.io_tracingpoliciesnamespaced.yaml
  vendor/github.com/cilium/tetragon/pkg/k8s/apis/cilium.io/client/crds/v1alpha1/cilium.io_tracingpolicies.yaml
  vendor/github.com/cilium/tetragon/pkg/k8s/apis/cilium.io/client/crds/v1alpha1/cilium.io_tracingpoliciesnamespaced.yaml
  vendor/github.com/cilium/tetragon/pkg/k8s/apis/cilium.io/v1alpha1/types.go
  vendor/github.com/cilium/tetragon/pkg/k8s/apis/cilium.io/v1alpha1/version.go
Owners: @cilium/tetragon

tracing: add support for uprobe resolve
  pkg/sensors/tracing/genericuprobe.go
Owners: @cilium/tetragon

tracing/uprobe: add test for resolve
  contrib/tester-progs/.gitignore
  contrib/tester-progs/Makefile
  contrib/tester-progs/uprobe-resolve.c
  pkg/sensors/tracing/uprobe_amd64_test.go
Owners: @cilium/tetragon

chore: generate policy docs
  docs/content/en/docs/reference/tracing-policy.md
Owners: @mtardy, @cilium/tetragon

tetragon: Store parent and ancestors to ProcessLoader message
  pkg/grpc/tracing/tracing.go
Owners: @cilium/tetragon

tetragon: Add parent and ancestors to ProcessLoader message
  api/v1/tetragon/tetragon.proto
Owners: @cilium/tetragon

tetragon: Generated changes for previous commit
  api/v1/README.md
  api/v1/tetragon/codegen/eventchecker/eventchecker.pb.go
  api/v1/tetragon/codegen/helpers/helpers.pb.go
  api/v1/tetragon/tetragon.pb.go
  api/v1/tetragon/types.pb.go
  contrib/tetragon-rthooks/vendor/github.com/cilium/tetragon/api/v1/tetragon/tetragon.pb.go
  contrib/tetragon-rthooks/vendor/github.com/cilium/tetragon/api/v1/tetragon/tetragon.proto
  contrib/tetragon-rthooks/vendor/github.com/cilium/tetragon/api/v1/tetragon/types.pb.go
  docs/content/en/docs/reference/grpc-api.md
  vendor/github.com/cilium/tetragon/api/v1/tetragon/codegen/eventchecker/eventchecker.pb.go
  vendor/github.com/cilium/tetragon/api/v1/tetragon/codegen/helpers/helpers.pb.go
  vendor/github.com/cilium/tetragon/api/v1/tetragon/tetragon.pb.go
  vendor/github.com/cilium/tetragon/api/v1/tetragon/tetragon.proto
  vendor/github.com/cilium/tetragon/api/v1/tetragon/types.pb.go
Owners: @cilium/tetragon, @mtardy

tetragon: Introduce uprobeHas object
  pkg/sensors/tracing/genericuprobe.go
Owners: @cilium/tetragon

tetragon: Use just single copy of read_reg/write_regs
  bpf/process/generic_calls.h
  bpf/process/regs.h
  bpf/process/uprobe_offload.h
Owners: @cilium/tetragon

chore: generate policy docs
  docs/content/en/docs/reference/tracing-policy.md
Owners: @mtardy, @cilium/tetragon

k8s: add btfType and btfPath for uprobes
  pkg/k8s/apis/cilium.io/client/crds/v1alpha1/cilium.io_tracingpolicies.yaml
  pkg/k8s/apis/cilium.io/client/crds/v1alpha1/cilium.io_tracingpoliciesnamespaced.yaml
  pkg/k8s/apis/cilium.io/v1alpha1/types.go
  pkg/k8s/apis/cilium.io/v1alpha1/version.go
Owners: @cilium/tetragon

crds: run "make crds"
  install/kubernetes/tetragon/crds-yaml/cilium.io_tracingpolicies.yaml
  install/kubernetes/tetragon/crds-yaml/cilium.io_tracingpoliciesnamespaced.yaml
  vendor/github.com/cilium/tetragon/pkg/k8s/apis/cilium.io/client/crds/v1alpha1/cilium.io_tracingpolicies.yaml
  vendor/github.com/cilium/tetragon/pkg/k8s/apis/cilium.io/client/crds/v1alpha1/cilium.io_tracingpoliciesnamespaced.yaml
  vendor/github.com/cilium/tetragon/pkg/k8s/apis/cilium.io/v1alpha1/types.go
  vendor/github.com/cilium/tetragon/pkg/k8s/apis/cilium.io/v1alpha1/version.go
Owners: @cilium/tetragon

tracing/uprobe: add test for resolve
  contrib/tester-progs/.gitignore
  contrib/tester-progs/Makefile
  contrib/tester-progs/uprobe-resolve.c
  pkg/sensors/tracing/uprobe_amd64_test.go
Owners: @cilium/tetragon

tracing: add support for uprobe resolve
  pkg/sensors/tracing/genericuprobe.go
Owners: @cilium/tetragon
