Repository cilium/tetragon, changes with the owners that CODEOWNERS names for each.
All owners: @cilium/tetragon, @willfindlay, @kkourt, @mtardy

Replace jobs-app by otel-demo
  .github/workflows/run-e2e-tests.yaml
  Makefile
  api/vendor/github.com/cilium/tetragon/pkg/matchers/stringmatcher/stringmatcher.go
  pkg/matchers/stringmatcher/stringmatcher.go
  tests/e2e/tests/labels/labels_test.go
Owners: @willfindlay, @cilium/tetragon

bpf: use CORE for execve hook
  bpf/lib/generic.h
  bpf/process/bpf_execve_event.c
Owners: @cilium/tetragon

Wait for Tetragon's images exist before run test
  .github/workflows/run-e2e-tests.yaml
Owners: @willfindlay

Wait for Tetragon's images exist before run test
  .github/workflows/run-e2e-tests.yaml
Owners: @willfindlay

tetragon: Add cgroup rate ebpf logic
  bpf/process/bpf_rate.h
Owners: @cilium/tetragon

tetragon: Add cgrouprate processCgroup test
  pkg/cgrouprate/cgrouprate.go
  pkg/cgrouprate/cgrouprate_test.go
Owners: @cilium/tetragon

tetragon: Add cgroup rate config option
  docs/data/tetragon_flags.yaml
  pkg/option/config.go
  pkg/option/flags.go
Owners: @mtardy, @cilium/tetragon

tetragon: Add cgroup rate support for exit
  bpf/process/bpf_exit.h
  pkg/testutils/sensors/load.go
Owners: @cilium/tetragon

tetra: Add support to display throttle events
  pkg/encoder/encoder.go
Owners: @cilium/tetragon

tetragon: Add cgrouprate instance for tetragon and tests
  cmd/tetragon/main.go
  pkg/observer/observertesthelper/observer_test_helper.go
  pkg/sensors/base/base.go
Owners: @cilium/tetragon

tetragon: Add cgroup rate rmdir sensor
  bpf/Makefile
  bpf/process/bpf_cgroup.c
  bpf/process/bpf_rate.h
  pkg/option/config.go
  pkg/sensors/base/base.go
  pkg/testutils/sensors/load.go
Owners: @cilium/tetragon

tetragon: Add cgroup rate metrics
  pkg/cgrouprate/cgrouprate.go
  pkg/metrics/cgroupratemetrics/cgroupratemetrics.go
  pkg/metrics/metricsconfig/initmetrics.go
Owners: @cilium/tetragon

tetragon: Add throttle exec/fork event test
  pkg/sensors/exec/exec_test.go
Owners: @cilium/tetragon

tetragon: Add throttle message
  api/v1/README.md
  api/v1/tetragon/codegen/eventchecker/eventchecker.pb.go
  api/v1/tetragon/codegen/eventchecker/yaml/yaml.pb.go
  api/v1/tetragon/codegen/helpers/helpers.pb.go
  api/v1/tetragon/events.pb.go
  api/v1/tetragon/events.pb.json.go
  api/v1/tetragon/events.proto
  api/v1/tetragon/types.pb.go
  contrib/rthooks/tetragon-oci-hook/vendor/github.com/cilium/tetragon/api/v1/tetragon/events.pb.go
  contrib/rthooks/tetragon-oci-hook/vendor/github.com/cilium/tetragon/api/v1/tetragon/events.pb.json.go
  contrib/rthooks/tetragon-oci-hook/vendor/github.com/cilium/tetragon/api/v1/tetragon/events.proto
  contrib/rthooks/tetragon-oci-hook/vendor/github.com/cilium/tetragon/api/v1/tetragon/types.pb.go
  docs/content/en/docs/reference/grpc-api.md
  docs/content/en/docs/reference/metrics.md
  vendor/github.com/cilium/tetragon/api/v1/tetragon/codegen/eventchecker/eventchecker.pb.go
  vendor/github.com/cilium/tetragon/api/v1/tetragon/codegen/eventchecker/yaml/yaml.pb.go
  vendor/github.com/cilium/tetragon/api/v1/tetragon/codegen/helpers/helpers.pb.go
  vendor/github.com/cilium/tetragon/api/v1/tetragon/events.pb.go
  vendor/github.com/cilium/tetragon/api/v1/tetragon/events.pb.json.go
  vendor/github.com/cilium/tetragon/api/v1/tetragon/events.proto
  vendor/github.com/cilium/tetragon/api/v1/tetragon/types.pb.go
Owners: @cilium/tetragon, @mtardy

tetragon: Add cgroup rate throttle event
  bpf/lib/msg_types.h
  bpf/process/bpf_rate.h
  pkg/api/ops/ops.go
  pkg/api/processapi/processapi.go
  pkg/cgrouprate/cgrouprate.go
  pkg/grpc/tracing/tracing.go
  pkg/sensors/exec/exec.go
Owners: @cilium/tetragon

tetragon: Add cgroup rate object
  pkg/cgrouprate/cgrouprate.go
Owners: @cilium/tetragon

tetragon: Add GetInitialSensorTest function
  pkg/observer/observertesthelper/observer_test_helper.go
  pkg/sensors/base/base.go
Owners: @cilium/tetragon

tetragon: Add ParseCgroupRate test
  pkg/cgrouprate/cgrouprate_test.go
Owners: @cilium/tetragon

tetragon: Add cgroup rate support for clone
  bpf/process/bpf_fork.c
  pkg/testutils/sensors/load.go
Owners: @cilium/tetragon

tetragon: Add cgroup rate support for execve
  bpf/process/bpf_execve_event.c
  pkg/testutils/sensors/load.go
Owners: @cilium/tetragon

tetragon: Add cgroup rate logic
  pkg/api/processapi/processapi.go
  pkg/cgrouprate/cgrouprate.go
Owners: @cilium/tetragon

tetragon: Add throttle exec/fork event test
  pkg/sensors/exec/exec_test.go
Owners: @cilium/tetragon

tetragon: Add ParseCgroupRate test
  pkg/cgrouprate/cgrouprate_test.go
Owners: @cilium/tetragon

tetragon: Add cgroup rate support for exit
  bpf/process/bpf_exit.h
  pkg/testutils/sensors/load.go
Owners: @cilium/tetragon

tetragon: Add cgroup rate ebpf logic
  bpf/process/bpf_rate.h
Owners: @cilium/tetragon

tetragon: Add cgroup rate throttle event
  bpf/lib/msg_types.h
  bpf/process/bpf_rate.h
  pkg/api/ops/ops.go
  pkg/api/processapi/processapi.go
  pkg/cgrouprate/cgrouprate.go
  pkg/grpc/tracing/tracing.go
  pkg/sensors/exec/exec.go
Owners: @cilium/tetragon

tetragon: Add GetInitialSensorTest function
  pkg/observer/observertesthelper/observer_test_helper.go
  pkg/sensors/base/base.go
Owners: @cilium/tetragon

tetragon: Add cgroup rate support for clone
  bpf/process/bpf_fork.c
  pkg/testutils/sensors/load.go
Owners: @cilium/tetragon

tetragon: Add cgroup rate rmdir sensor
  bpf/Makefile
  bpf/process/bpf_cgroup.c
  bpf/process/bpf_rate.h
  pkg/option/config.go
  pkg/sensors/base/base.go
  pkg/testutils/sensors/load.go
Owners: @cilium/tetragon

tetragon: Add cgroup rate config option
  docs/data/tetragon_flags.yaml
  pkg/option/config.go
  pkg/option/flags.go
Owners: @mtardy, @cilium/tetragon

tetragon: Add cgrouprate instance for tetragon and tests
  cmd/tetragon/main.go
  pkg/observer/observertesthelper/observer_test_helper.go
  pkg/sensors/base/base.go
Owners: @cilium/tetragon

tetragon: Add cgrouprate processCgroup test
  pkg/cgrouprate/cgrouprate.go
  pkg/cgrouprate/cgrouprate_test.go
Owners: @cilium/tetragon

tetragon: Add cgroup rate logic
  pkg/api/processapi/processapi.go
  pkg/cgrouprate/cgrouprate.go
Owners: @cilium/tetragon

tetragon: Add cgroup rate support for execve
  bpf/process/bpf_execve_event.c
  pkg/testutils/sensors/load.go
Owners: @cilium/tetragon

tetra: Add support to display throttle events
  pkg/encoder/encoder.go
Owners: @cilium/tetragon

tetragon: Add cgroup rate metrics
  pkg/cgrouprate/cgrouprate.go
  pkg/metrics/cgroupratemetrics/cgroupratemetrics.go
  pkg/metrics/metricsconfig/initmetrics.go
Owners: @cilium/tetragon

tetragon: Add cgroup rate object
  pkg/cgrouprate/cgrouprate.go
Owners: @cilium/tetragon

tetragon: Add throttle message
  api/v1/README.md
  api/v1/tetragon/codegen/eventchecker/eventchecker.pb.go
  api/v1/tetragon/codegen/eventchecker/yaml/yaml.pb.go
  api/v1/tetragon/codegen/helpers/helpers.pb.go
  api/v1/tetragon/events.pb.go
  api/v1/tetragon/events.pb.json.go
  api/v1/tetragon/events.proto
  api/v1/tetragon/types.pb.go
  contrib/rthooks/tetragon-oci-hook/vendor/github.com/cilium/tetragon/api/v1/tetragon/events.pb.go
  contrib/rthooks/tetragon-oci-hook/vendor/github.com/cilium/tetragon/api/v1/tetragon/events.pb.json.go
  contrib/rthooks/tetragon-oci-hook/vendor/github.com/cilium/tetragon/api/v1/tetragon/events.proto
  contrib/rthooks/tetragon-oci-hook/vendor/github.com/cilium/tetragon/api/v1/tetragon/types.pb.go
  docs/content/en/docs/reference/grpc-api.md
  docs/content/en/docs/reference/metrics.md
  vendor/github.com/cilium/tetragon/api/v1/tetragon/codegen/eventchecker/eventchecker.pb.go
  vendor/github.com/cilium/tetragon/api/v1/tetragon/codegen/eventchecker/yaml/yaml.pb.go
  vendor/github.com/cilium/tetragon/api/v1/tetragon/codegen/helpers/helpers.pb.go
  vendor/github.com/cilium/tetragon/api/v1/tetragon/events.pb.go
  vendor/github.com/cilium/tetragon/api/v1/tetragon/events.pb.json.go
  vendor/github.com/cilium/tetragon/api/v1/tetragon/events.proto
  vendor/github.com/cilium/tetragon/api/v1/tetragon/types.pb.go
Owners: @cilium/tetragon, @mtardy

namespaces: check current namespaces only once
  pkg/reader/namespace/namespace.go
Owners: @cilium/tetragon

docs: Split FAQ into installation and contribution sections
  .github/ISSUE_TEMPLATE/feature_request_template.yaml
  README.md
  docs/content/en/docs/contribution-guide/development-setup.md
  docs/content/en/docs/contribution-guide/submitting-a-pull-request.md
  docs/content/en/docs/getting-started/install-docker.md
  docs/content/en/docs/installation/container.md
  docs/content/en/docs/installation/faq.md
  docs/content/en/docs/installation/kubernetes.md
  docs/content/en/docs/installation/package.md
Owners: @cilium/tetragon, @mtardy

CODEOWNERS:

# Request a review from the Tetragon team on any PR
* @cilium/tetragon

# Request a review from William when codegen is edited
cmd/protoc-gen-go-tetragon/ @willfindlay

# Request a review from William when CI is edited
.github/workflows/ @willfindlay

# Request a review from kkourt when core sensor files are modified
pkg/src/sensors/ @kkourt

# Request a review from mtardy when anything from docs is modified but do not
# block on approval from anyone in the tetragon team
/docs/ @mtardy @cilium/tetragon
