Repository cilium/tetragon, changes with the owners that CODEOWNERS names for each.
All owners: @cilium/tetragon, @willfindlay, @kkourt, @mtardy

CODEOWNERS:

# Request a review from the Tetragon team on any PR
* @cilium/tetragon

# Request a review from William when codegen is edited
cmd/protoc-gen-go-tetragon/ @willfindlay

# Request a review from William when CI is edited
.github/workflows/ @willfindlay

# Request a review from kkourt when core sensor files are modified
pkg/src/sensors/ @kkourt

# Request a review from mtardy when anything from docs is modified but do not
# block on approval from anyone in the tetragon team
/docs/ @mtardy @cilium/tetragon

renovate: fix pattern of LVH images to include rhel8.10
  .github/renovate.json5
Owners: @cilium/tetragon

tracing: improve arg read error status message
  pkg/sensors/tracing/args_linux.go
  pkg/sensors/tracing/uprobe_reg_test.go
  pkg/sensors/tracing/uprobe_test.go
  tests/policytests/kprobes.go
Owners: @cilium/tetragon

test: use testing/synctest for deterministic time
  pkg/exporter/exporter_test.go
  pkg/process/cache_test.go
  pkg/timer/timer_test.go
Owners: @cilium/tetragon

btf_test.go : Fix Union resolution test
  pkg/btf/btf_test.go
Owners: @cilium/tetragon

btf : Add accumulator when going up the resolve entries
  pkg/btf/btf.go
Owners: @cilium/tetragon

tracing: improve arg read error status message
  pkg/sensors/tracing/args_linux.go
  pkg/sensors/tracing/uprobe_reg_test.go
  pkg/sensors/tracing/uprobe_test.go
  tests/policytests/kprobes.go
Owners: @cilium/tetragon

btf_test.go : Fix Union resolution test
  pkg/btf/btf_test.go
Owners: @cilium/tetragon

tetragon: Factor processMembers code
  pkg/btf/btf.go
Owners: @cilium/tetragon

tetragon: Add test for btf resolve errors
  pkg/btf/btf_test.go
Owners: @cilium/tetragon

tracing: improve arg read error status message
  pkg/sensors/tracing/args_linux.go
  pkg/sensors/tracing/uprobe_reg_test.go
  pkg/sensors/tracing/uprobe_test.go
  tests/policytests/kprobes.go
Owners: @cilium/tetragon

tetragon: Call ResolveNestedTypes directly in affected functions
  pkg/btf/btf.go
Owners: @cilium/tetragon

btf : Add accumulator when going up the resolve entries
  pkg/btf/btf.go
Owners: @cilium/tetragon

tetragon: Use longest failed chain for last error in BTF resolve
  pkg/btf/btf.go
Owners: @cilium/tetragon

btf_test.go : Fix Union resolution test
  pkg/btf/btf_test.go
Owners: @cilium/tetragon

tetragon: Use longest failed chain for last error in BTF resolve
  pkg/btf/btf.go
Owners: @cilium/tetragon

tetragon: Call ResolveNestedTypes directly in affected functions
  pkg/btf/btf.go
Owners: @cilium/tetragon

tracing: improve arg read error status message
  pkg/sensors/tracing/args_linux.go
  pkg/sensors/tracing/uprobe_reg_test.go
  pkg/sensors/tracing/uprobe_test.go
  tests/policytests/kprobes.go
Owners: @cilium/tetragon

tetragon: Add test for btf resolve errors
  pkg/btf/btf_test.go
Owners: @cilium/tetragon

tetragon: Factor processMembers code
  pkg/btf/btf.go
Owners: @cilium/tetragon

btf : Add accumulator when going up the resolve entries
  pkg/btf/btf.go
Owners: @cilium/tetragon

mbset: fix spurious destroy hook warning
  pkg/selectors/kernel.go
Owners: @cilium/tetragon

test: use testing/synctest for deterministic time
  pkg/exporter/exporter_test.go
  pkg/process/cache_test.go
  pkg/timer/timer_test.go
Owners: @cilium/tetragon

k8s: Add PodEventSource framework
  pkg/manager/manager.go
  pkg/manager/podevents.go
  pkg/manager/podevents_test.go
Owners: @cilium/tetragon

k8s: Use controller-runtime for Tracing Policy resources
  .github/workflows/integration-test.yaml
  cmd/tetragon/main_k8s.go
  pkg/manager/manager.go
  pkg/watcher/crdwatcher/tracingpolicy.go
  pkg/watcher/crdwatcher/tracingpolicy_namespaced_reconciler.go
  pkg/watcher/crdwatcher/tracingpolicy_namespaced_reconciler_integration_test.go
  pkg/watcher/crdwatcher/tracingpolicy_namespaced_reconciler_test.go
  pkg/watcher/crdwatcher/tracingpolicy_reconciler.go
  pkg/watcher/crdwatcher/tracingpolicy_reconciler_integration_test.go
  pkg/watcher/crdwatcher/tracingpolicy_reconciler_test.go
Owners: @willfindlay, @cilium/tetragon

metrics: Migrate pod delete handler to PodEventSource
  cmd/tetragon/main_k8s.go
  pkg/metrics/metricwithpod.go
  pkg/metrics/podevents_test.go
Owners: @cilium/tetragon

policyfilter: Migrate to PodEventSource constructor injection
  cmd/tetragon/main_k8s.go
  pkg/manager/manager.go
  pkg/podhooks/podhooks.go
  pkg/policyfilter/disabled.go
  pkg/policyfilter/k8s_test.go
  pkg/policyfilter/policyfilter.go
  pkg/policyfilter/state.go
  pkg/testutils/policyfilter/policyfilter.go
Owners: @cilium/tetragon

cgidmap: Migrate to PodEventSource constructor injection
  cmd/tetragon/main_k8s.go
  cmd/tetragon/main_k8s_unix.go
  cmd/tetragon/main_k8s_windows.go
  pkg/cgidmap/podhooks.go
  pkg/cgidmap/register.go
Owners: @cilium/tetragon

.github/actions: add reusable cosign+SBOM action
  .github/actions/cosign/action.yaml
Owners: @cilium/tetragon

.github/workflows: switch image builds to reusable cosign action
  .github/lychee.toml
  .github/workflows/build-clang-image.yaml
  .github/workflows/build-images-releases.yml
  .github/workflows/build-rthooks-images-releases.yml
  docs/content/en/docs/installation/verify.md
Owners: @cilium/tetragon, @willfindlay, @mtardy

.github/renovate: drop sigstore/cosign-installer disable rule
  .github/renovate.json5
Owners: @cilium/tetragon

tetragon: Add btfTypeModule support for kprobes
  pkg/btf/btf.go
  pkg/k8s/apis/cilium.io/v1alpha1/types.go
  pkg/sensors/tracing/generic.go
  vendor/github.com/cilium/tetragon/pkg/k8s/apis/cilium.io/v1alpha1/types.go
Owners: @cilium/tetragon

tetragon: Add test for flexible array resolve
  pkg/btf/btf_test.go
Owners: @cilium/tetragon

tetragon: Add test for btfTypeModule mismatch
  pkg/sensors/tracing/generic_test.go
Owners: @cilium/tetragon

tetragon: Add test for spec with btfTypeModule
  pkg/sensors/tracing/kprobe_test.go
  tests/policytests/kprobes.go
Owners: @cilium/tetragon

tetragon: Add test for spec with btfType
  pkg/sensors/tracing/generic_test.go
Owners: @cilium/tetragon

tetragon: Dereference final scalar array elements
  pkg/btf/btf.go
  pkg/btf/btf_test.go
Owners: @cilium/tetragon

tetragon: Add generated code for previous changes
  docs/content/en/docs/reference/tracing-policy.md
  install/kubernetes/tetragon/crds-yaml/cilium.io_tracingpolicies.yaml
  install/kubernetes/tetragon/crds-yaml/cilium.io_tracingpoliciesnamespaced.yaml
  pkg/k8s/apis/cilium.io/client/crds/v1alpha1/cilium.io_tracingpolicies.yaml
  pkg/k8s/apis/cilium.io/client/crds/v1alpha1/cilium.io_tracingpoliciesnamespaced.yaml
  pkg/k8s/apis/cilium.io/v1alpha1/version.go
  vendor/github.com/cilium/tetragon/pkg/k8s/apis/cilium.io/client/crds/v1alpha1/cilium.io_tracingpolicies.yaml
  vendor/github.com/cilium/tetragon/pkg/k8s/apis/cilium.io/client/crds/v1alpha1/cilium.io_tracingpoliciesnamespaced.yaml
  vendor/github.com/cilium/tetragon/pkg/k8s/apis/cilium.io/v1alpha1/version.go
Owners: @mtardy, @cilium/tetragon

tetragon: Add btfType support for kprobes
  pkg/k8s/apis/cilium.io/v1alpha1/types.go
  pkg/sensors/tracing/generic.go
  vendor/github.com/cilium/tetragon/pkg/k8s/apis/cilium.io/v1alpha1/types.go
Owners: @cilium/tetragon

tetragon: Fix flexible array check in ResolveBTFPath
  pkg/btf/btf.go
Owners: @cilium/tetragon

feat(uprobes): add Go ABI register slot mapping
  Makefile
  cmd/goabi-gen/main.go
  cmd/goabi-gen/main_test.go
  go.mod
  pkg/sensors/tracing/goabi_slots.go
  pkg/sensors/tracing/goabi_slots_gen.go
Owners: @cilium/tetragon
