Repository cilium/tetragon, changes with the owners that CODEOWNERS names for each.
All owners: @cilium/tetragon, @willfindlay, @kkourt, @mtardy

CODEOWNERS:

# Request a review from the Tetragon team on any PR
* @cilium/tetragon

# Request a review from William when codegen is edited
cmd/protoc-gen-go-tetragon/ @willfindlay

# Request a review from William when CI is edited
.github/workflows/ @willfindlay

# Request a review from kkourt when core sensor files are modified
pkg/src/sensors/ @kkourt

# Request a review from mtardy when anything from docs is modified but do not
# block on approval from anyone in the tetragon team
/docs/ @mtardy @cilium/tetragon

tetragon: Do not bail on missing namespace
  pkg/reader/namespace/namespace_linux.go
Owners: @cilium/tetragon

tetragon: Introduce rhel7 3.10 bpf objects variant
  bpf/Makefile
  pkg/config/config_linux.go
  pkg/sensors/base/base.go
Owners: @cilium/tetragon

tetragon: Shut some namespace failure warnings
  pkg/sensors/exec/procevents/proc_reader_linux.go
Owners: @cilium/tetragon

tetragon: Use proper context struct in rhel7 3.10 object
  bpf/include/vmlinux.h
  bpf/process/bpf_execve_event.c
Owners: @cilium/tetragon

tetragon: Display file in TestVerifyTetragonPrograms in debug mode
  contrib/verify/verify_test.go
Owners: @cilium/tetragon

tetragon: Skip v3.10 bpf objects in TestVerifyTetragonPrograms
  contrib/verify/verify_test.go
Owners: @cilium/tetragon

tetragon: Make namespace retrieval rhel7 friendly
  bpf/include/vmlinux.h
  bpf/process/bpf_process_event.h
Owners: @cilium/tetragon

tetragon: Disable cgroup info retrieval for hel7
  bpf/lib/bpf_cgroup.h
  bpf/process/bpf_execve_event.c
  bpf/process/bpf_exit.h
  bpf/process/bpf_fork.c
Owners: @cilium/tetragon

tetragon: Use macro for buffer mask
  bpf/lib/bpf_d_path.h
  bpf/lib/bpf_misc.h
  bpf/process/generic_path.h
Owners: @cilium/tetragon

tetragon: Use macro for args mask
  bpf/lib/generic.h
  bpf/process/types/basic.h
Owners: @cilium/tetragon

tetragon/windows: Add Windows specific ringbuf implementation
  pkg/bpf/ringbuf_windows.go
Owners: @cilium/tetragon

tetragon/windows: Add a global exec collection object
  pkg/bpf/coll_windows.go
Owners: @cilium/tetragon

adf
  a.txt
Owners: @cilium/tetragon

tetragon/tracepoint: Resolve argument type early
  pkg/sensors/tracing/generictracepoint.go
Owners: @cilium/tetragon

tetragon/tracepoint: Use values directly from range loop
  pkg/sensors/tracing/generictracepoint.go
Owners: @cilium/tetragon

tetragon/tracepoint: Add raw tracepoint bpf object
  bpf/Makefile
  bpf/process/bpf_generic_rawtp.c
  bpf/process/generic_calls.h
Owners: @cilium/tetragon

tetragon/tracepoint: Add support to configure raw tracepoint
  pkg/k8s/apis/cilium.io/v1alpha1/types.go
  pkg/sensors/tracing/generictracepoint.go
  vendor/github.com/cilium/tetragon/pkg/k8s/apis/cilium.io/v1alpha1/types.go
Owners: @cilium/tetragon

tetragon/tracepoint: Generate api bits
  install/kubernetes/tetragon/crds-yaml/cilium.io_tracingpolicies.yaml
  install/kubernetes/tetragon/crds-yaml/cilium.io_tracingpoliciesnamespaced.yaml
  pkg/k8s/apis/cilium.io/client/crds/v1alpha1/cilium.io_tracingpolicies.yaml
  pkg/k8s/apis/cilium.io/client/crds/v1alpha1/cilium.io_tracingpoliciesnamespaced.yaml
  vendor/github.com/cilium/tetragon/pkg/k8s/apis/cilium.io/client/crds/v1alpha1/cilium.io_tracingpolicies.yaml
  vendor/github.com/cilium/tetragon/pkg/k8s/apis/cilium.io/client/crds/v1alpha1/cilium.io_tracingpoliciesnamespaced.yaml
Owners: @cilium/tetragon

tetragon/tracepoint: Add support to decode raw tracepoint arguments
  pkg/sensors/tracing/generictracepoint.go
Owners: @cilium/tetragon

tetragon/tracepoint: Add Support for resolve argument
  pkg/sensors/tracing/generic.go
  pkg/sensors/tracing/generic_test.go
  pkg/sensors/tracing/generickprobe.go
  pkg/sensors/tracing/genericlsm.go
  pkg/sensors/tracing/generictracepoint.go
Owners: @cilium/tetragon

tetragon/tracepoint: Add support for linux_binprm argument
  pkg/grpc/tracing/tracing.go
  pkg/sensors/tracing/generictracepoint.go
Owners: @cilium/tetragon

tetragon/tracepoint: Add support for file argument
  pkg/grpc/tracing/tracing.go
  pkg/sensors/tracing/generictracepoint.go
Owners: @cilium/tetragon

tetragon/tracepoint: Add tracepoint resolve test
  pkg/sensors/tracing/tracepoint_test.go
Owners: @cilium/tetragon

tetragon/tracepoint: Add raw tracepoint example
  examples/tracingpolicy/rawtp.yaml
Owners: @cilium/tetragon

Revert "renovate: add v1.2 for golang 1.23"
  .github/renovate.json5
Owners: @cilium/tetragon

tetragon/tracepoint: Add documentation
  docs/content/en/docs/concepts/tracing-policy/hooks.md
Owners: @mtardy, @cilium/tetragon

tetragon: Disable cgroup info retrieval for hel7
  bpf/lib/bpf_cgroup.h
  bpf/process/bpf_execve_event.c
  bpf/process/bpf_exit.h
  bpf/process/bpf_fork.c
Owners: @cilium/tetragon

tetragon: Make namespace retrieval rhel7 friendly
  bpf/include/vmlinux.h
  bpf/process/bpf_process_event.h
Owners: @cilium/tetragon

tetragon: Display file in TestVerifyTetragonPrograms in debug mode
  contrib/verify/verify_test.go
Owners: @cilium/tetragon

tetragon: Skip v3.10 bpf objects in TestVerifyTetragonPrograms
  contrib/verify/verify_test.go
Owners: @cilium/tetragon

tetragon: Do not bail on missing namespace
  pkg/reader/namespace/namespace_linux.go
Owners: @cilium/tetragon

tetragon: Introduce rhel7 3.10 bpf objects variant
  bpf/Makefile
  pkg/config/config_linux.go
  pkg/sensors/base/base.go
Owners: @cilium/tetragon

tetragon: Shut some namespace failure warnings
  pkg/sensors/exec/procevents/proc_reader_linux.go
Owners: @cilium/tetragon

tetragon: Use proper context struct in rhel7 3.10 object
  bpf/include/vmlinux.h
  bpf/process/bpf_execve_event.c
Owners: @cilium/tetragon

tetragon/windows: Support Windows create and exit process - sensor changes
  pkg/sensors/base/base.go
  pkg/sensors/base/base_linux.go
  pkg/sensors/base/base_windows.go
  pkg/sensors/config/confmap/confmap.go
  pkg/sensors/load.go
  pkg/sensors/load_linux.go
  pkg/sensors/load_windows.go
  pkg/sensors/program/loader.go
  pkg/sensors/program/loader_linux.go
  pkg/sensors/program/loader_windows.go
Owners: @cilium/tetragon

Add support for pod annotations in Tetragon events
  api/v1/README.md
  api/v1/tetragon/tetragon.pb.go
  api/v1/tetragon/tetragon.proto
  contrib/tetragon-rthooks/vendor/github.com/cilium/tetragon/api/v1/tetragon/tetragon.pb.go
  contrib/tetragon-rthooks/vendor/github.com/cilium/tetragon/api/v1/tetragon/tetragon.proto
  docs/content/en/docs/reference/grpc-api.md
  docs/content/en/docs/reference/helm-chart.md
  docs/data/tetragon_flags.yaml
  pkg/option/config.go
  pkg/option/flags.go
  pkg/process/podinfo.go
  vendor/github.com/cilium/tetragon/api/v1/tetragon/tetragon.pb.go
  vendor/github.com/cilium/tetragon/api/v1/tetragon/tetragon.proto
Owners: @cilium/tetragon, @mtardy

Add pod annotations support to Tetragon Helm chart
  install/kubernetes/tetragon/README.md
  install/kubernetes/tetragon/templates/tetragon_configmap.yaml
  install/kubernetes/tetragon/values.yaml
Owners: @cilium/tetragon

tetragon/windows: Support Windows create and exit process - sensor changes
  pkg/sensors/base/base.go
  pkg/sensors/base/base_linux.go
  pkg/sensors/base/base_windows.go
  pkg/sensors/config/confmap/confmap.go
  pkg/sensors/load.go
  pkg/sensors/load_linux.go
  pkg/sensors/load_windows.go
  pkg/sensors/program/loader.go
  pkg/sensors/program/loader_linux.go
  pkg/sensors/program/loader_windows.go
Owners: @cilium/tetragon

tetragon: Fix storing of flags and mode for path
  bpf/process/types/basic.h
Owners: @cilium/tetragon

tetragon: Add test for path permission
  pkg/sensors/tracing/kprobe_test.go
Owners: @cilium/tetragon
