Repository cilium/tetragon, changes with the owners that CODEOWNERS names for each.
All owners: @cilium/tetragon, @willfindlay, @kkourt, @mtardy

CODEOWNERS:

# Request a review from the Tetragon team on any PR
* @cilium/tetragon

# Request a review from William when codegen is edited
cmd/protoc-gen-go-tetragon/ @willfindlay

# Request a review from William when CI is edited
.github/workflows/ @willfindlay

# Request a review from kkourt when core sensor files are modified
pkg/src/sensors/ @kkourt

# Request a review from mtardy when anything from docs is modified but do not
# block on approval from anyone in the tetragon team
/docs/ @mtardy @cilium/tetragon

tetra: switch CliRun to use NewClient instead of DialContext
  cmd/tetra/common/client.go
  cmd/tetra/tracingpolicy/tracingpolicy.go
  tests/e2e/helpers/grpc/grpc.go
Owners: @cilium/tetragon

tetra: uses grpc.NewClient in NewClientWithDefaultContext
  cmd/tetra/common/client.go
  cmd/tetra/tracingpolicy/tracingpolicy.go
Owners: @cilium/tetragon

pkg/multiplexer: use NewClient instead of DialContext
  pkg/multiplexer/multiplexer.go
Owners: @cilium/tetragon

pkg/bugtool: use NewClient instead of DialContext
  pkg/bugtool/bugtool.go
Owners: @cilium/tetragon

tetra: use the builtin gRPC retry backoff mechanism
  cmd/tetra/common/client.go
Owners: @cilium/tetragon

tetra: simplify how we resolve the server address
  cmd/tetra/common/client.go
  cmd/tetra/common/flags.go
Owners: @cilium/tetragon

tetragon: Add docs for the cgroup rate limit
  docs/content/en/docs/concepts/cgroup-rate.md
Owners: @mtardy, @cilium/tetragon

tetragon: Add docs for the persistent enforcement
  docs/content/en/docs/concepts/persistent-enforcement.md
Owners: @mtardy, @cilium/tetragon

tetragon: Add cgroup-rate-map.sh script
  contrib/scripts/cgroup-rate-map.sh
Owners: @cilium/tetragon

tetragon: Clean up cgroup_rate_map map periodically
  pkg/cgrouprate/cgrouprate.go
  pkg/metrics/cgroupratemetrics/cgroupratemetrics.go
Owners: @cilium/tetragon

tetragon: Display max entries setup for loaded map
  pkg/sensors/load.go
Owners: @cilium/tetragon

tetragon: Fix cgroup rate setup for observer_test_helper
  pkg/observer/observertesthelper/observer_test_helper.go
Owners: @cilium/tetragon

tetragon: Add cgroup rate throttle test for kprobe
  pkg/sensors/tracing/kprobe_test.go
Owners: @cilium/tetragon

tetragon: Add cgroup rate support for kprobe
  bpf/process/bpf_generic_kprobe.c
  pkg/sensors/base/base.go
  pkg/sensors/tracing/generickprobe.go
  pkg/sensors/tracing/kprobe_test.go
Owners: @cilium/tetragon

doc: use tag variable for docker-based commands
  docs/content/en/docs/getting-started/enforcement.md
  docs/content/en/docs/getting-started/file-events.md
  docs/content/en/docs/getting-started/install-docker.md
  docs/content/en/docs/getting-started/network.md
Owners: @mtardy, @cilium/tetragon

doc: use tag variable for docker-based commands
  docs/content/en/docs/getting-started/enforcement.md
  docs/content/en/docs/getting-started/file-events.md
  docs/content/en/docs/getting-started/install-docker.md
  docs/content/en/docs/getting-started/network.md
Owners: @mtardy, @cilium/tetragon

tetragon: Display max entries setup for loaded map
  pkg/sensors/load.go
Owners: @cilium/tetragon

tetragon: Clean up cgroup_rate_map map periodically
  pkg/cgrouprate/cgrouprate.go
  pkg/metrics/cgroupratemetrics/cgroupratemetrics.go
Owners: @cilium/tetragon

Add LoadLSMProgramSimple
  pkg/sensors/program/loader.go
Owners: @cilium/tetragon

tetragon: Add LoadLSMProgramGeneric function
  pkg/sensors/program/loader.go
  pkg/sensors/tracing/genericlsm.go
Owners: @cilium/tetragon

Add LoadLSMProgramSimple
  pkg/sensors/program/loader.go
Owners: @cilium/tetragon

[e2e] Increase timeout in WaitForTracingPolicy
  tests/e2e/helpers/grpc/grpc.go
Owners: @cilium/tetragon

bpf: Fix Prefix operator for matchBinaries
  bpf/process/bpf_execve_event.c
Owners: @cilium/tetragon

Add TestKprobeMatchBinariesPrefixLargePath
  pkg/sensors/tracing/kprobe_test.go
Owners: @cilium/tetragon

[e2e] Increase timeout in WaitForTracingPolicy
  tests/e2e/helpers/grpc/grpc.go
Owners: @cilium/tetragon

tetragon: extra debug info on nsid mappings
  pkg/policyfilter/disabled.go
  pkg/policyfilter/policyfilter.go
  pkg/policyfilter/state.go
Owners: @cilium/tetragon

tetragon: only allow single instance to run on a node
  cmd/tetragon/main.go
Owners: @cilium/tetragon

tetragon: improve systemd deployment detection
  pkg/cgroups/cgroups.go
Owners: @cilium/tetragon

tetragon: extra debug info on nsid mappings
  pkg/policyfilter/disabled.go
  pkg/policyfilter/policyfilter.go
  pkg/policyfilter/state.go
Owners: @cilium/tetragon

make: update install/k8s when running make crds
  Makefile
  docs/content/en/docs/contribution-guide/making-changes.md
Owners: @cilium/tetragon, @mtardy

collections: take snapshot for debugging
  pkg/defaults/defaults.go
  pkg/sensors/collection.go
  pkg/sensors/handler.go
  pkg/sensors/manager.go
Owners: @cilium/tetragon

tetragon: Pass tail call map directly instead of the name
  pkg/sensors/program/loader.go
Owners: @cilium/tetragon

tetragon: Store tail call prefix and map in program
  pkg/sensors/program/program.go
Owners: @cilium/tetragon

tetragon: Use program.SetTailCall for tracepoints
  pkg/sensors/base/base.go
  pkg/sensors/program/loader.go
  pkg/sensors/tracing/generictracepoint.go
Owners: @cilium/tetragon

tetragon: Use program.SetTailCall for kprobes
  pkg/sensors/program/loader.go
  pkg/sensors/tracing/generickprobe.go
Owners: @cilium/tetragon

tetragon: Use program.SetTailCall for uprobes
  pkg/sensors/program/loader.go
  pkg/sensors/tracing/genericuprobe.go
Owners: @cilium/tetragon

tetragon: Use program.SetTailCall for lsm probes
  pkg/sensors/program/loader.go
  pkg/sensors/tracing/genericlsm.go
Owners: @cilium/tetragon

tetragon: Remove TcMap/Prefix from program.LoadOpts
  pkg/sensors/program/loader.go
Owners: @cilium/tetragon

tetragon: Clean up cgroup_rate_map map periodically
  pkg/cgrouprate/cgrouprate.go
  pkg/metrics/cgroupratemetrics/cgroupratemetrics.go
Owners: @cilium/tetragon

tetragon: Add docs for the persistent enforcement
  docs/content/en/docs/concepts/persistent-enforcement.md
Owners: @mtardy, @cilium/tetragon
