Repository cilium/tetragon, changes with the owners that CODEOWNERS names for each.
All owners: @cilium/tetragon, @willfindlay, @kkourt, @mtardy

CODEOWNERS:

# Request a review from the Tetragon team on any PR
* @cilium/tetragon

# Request a review from William when codegen is edited
cmd/protoc-gen-go-tetragon/ @willfindlay

# Request a review from William when CI is edited
.github/workflows/ @willfindlay

# Request a review from kkourt when core sensor files are modified
pkg/src/sensors/ @kkourt

# Request a review from mtardy when anything from docs is modified but do not
# block on approval from anyone in the tetragon team
/docs/ @mtardy @cilium/tetragon

Fix `tetra` CLI install directions for Windows
  docs/content/en/docs/installation/tetra-cli.md
Owners: @mtardy, @cilium/tetragon

Test: Change panic to t.Fatal
  pkg/sensors/manager_test.go
  pkg/sensors/tracing/generickprobe_test.go
  pkg/sensors/tracing/kprobe_test.go
Owners: @cilium/tetragon

vmtests: bump base image used to root-images:20240717.161638
  tests/vmtests/fetch-data.sh
Owners: @cilium/tetragon

pkg/sensors/tracing: fix enforcer security tests
  pkg/sensors/tracing/enforcer_test.go
Owners: @cilium/tetragon

tester-progs: do not define O_DIRECT manually
  contrib/tester-progs/direct-write-tester.c
Owners: @cilium/tetragon

tests/e2e: clone proto event in rpcchecker
  pkg/multiplexer/multiplexer.go
Owners: @cilium/tetragon

tests/e2e: clone proto event in rpcchecker
  pkg/multiplexer/multiplexer.go
Owners: @cilium/tetragon

tetragon: add c data types for struct dentry
  bpf/process/bpf_process_event.h
  bpf/process/types/basic.h
Owners: @cilium/tetragon

API changes for new dentry type
  api/v1/README.md
  api/v1/tetragon/codegen/eventchecker/eventchecker.pb.go
  api/v1/tetragon/tetragon.pb.go
  api/v1/tetragon/tetragon.pb.json.go
  api/v1/tetragon/tetragon.proto
  contrib/tetragon-rthooks/vendor/github.com/cilium/tetragon/api/v1/tetragon/tetragon.pb.go
  contrib/tetragon-rthooks/vendor/github.com/cilium/tetragon/api/v1/tetragon/tetragon.pb.json.go
  contrib/tetragon-rthooks/vendor/github.com/cilium/tetragon/api/v1/tetragon/tetragon.proto
  docs/content/en/docs/reference/grpc-api.md
  install/kubernetes/tetragon/crds-yaml/cilium.io_tracingpolicies.yaml
  install/kubernetes/tetragon/crds-yaml/cilium.io_tracingpoliciesnamespaced.yaml
  pkg/api/tracingapi/client_kprobe.go
  pkg/btf/validation.go
  pkg/generictypes/generictypes.go
  pkg/grpc/tracing/tracing.go
  pkg/k8s/apis/cilium.io/client/crds/v1alpha1/cilium.io_tracingpolicies.yaml
  pkg/k8s/apis/cilium.io/client/crds/v1alpha1/cilium.io_tracingpoliciesnamespaced.yaml
  pkg/k8s/apis/cilium.io/v1alpha1/types.go
  pkg/k8s/apis/cilium.io/v1alpha1/version.go
  pkg/selectors/kernel.go
  pkg/sensors/tracing/args.go
  vendor/github.com/cilium/tetragon/api/v1/tetragon/codegen/eventchecker/eventchecker.pb.go
  vendor/github.com/cilium/tetragon/api/v1/tetragon/tetragon.pb.go
  vendor/github.com/cilium/tetragon/api/v1/tetragon/tetragon.pb.json.go
  vendor/github.com/cilium/tetragon/api/v1/tetragon/tetragon.proto
  vendor/github.com/cilium/tetragon/pkg/k8s/apis/cilium.io/client/crds/v1alpha1/cilium.io_tracingpolicies.yaml
  vendor/github.com/cilium/tetragon/pkg/k8s/apis/cilium.io/client/crds/v1alpha1/cilium.io_tracingpoliciesnamespaced.yaml
  vendor/github.com/cilium/tetragon/pkg/k8s/apis/cilium.io/v1alpha1/types.go
  vendor/github.com/cilium/tetragon/pkg/k8s/apis/cilium.io/v1alpha1/version.go
Owners: @cilium/tetragon, @mtardy

Add dentry tests
  contrib/tester-progs/Makefile
  contrib/tester-progs/symlink-tester.c
  pkg/sensors/tracing/kprobe_test.go
Owners: @cilium/tetragon

Add dentry example TracingPolicy
  examples/tracingpolicy/security_inode_follow_link.yaml
Owners: @cilium/tetragon

pkg/sensors: rate limit test, avoid calling printf
  pkg/sensors/tracing/kprobe_test.go
Owners: @cilium/tetragon

pkg/sensors: rate limit test, avoid calling printf
  pkg/sensors/tracing/kprobe_test.go
Owners: @cilium/tetragon

pkg/sensors/tracing: fix enforcer security tests
  pkg/sensors/tracing/enforcer_test.go
Owners: @cilium/tetragon

tester-progs: do not define O_DIRECT manually
  contrib/tester-progs/direct-write-tester.c
Owners: @cilium/tetragon

vmtests: bump base image used to root-images:20240717.161638
  tests/vmtests/fetch-data.sh
Owners: @cilium/tetragon

Test: Change panic to t.Fatal
  pkg/sensors/manager_test.go
  pkg/sensors/tracing/generickprobe_test.go
  pkg/sensors/tracing/kprobe_test.go
Owners: @cilium/tetragon

vmtests: bump base image used to root-images:20240717.161638
  tests/vmtests/fetch-data.sh
Owners: @cilium/tetragon

pkg/sensors: checks for nil pointer dereference
  pkg/sensors/tracing/generickprobe.go
  pkg/sensors/tracing/generictracepoint.go
Owners: @cilium/tetragon

pkg/sensors: fix potential issue in stacktrace detection
  pkg/sensors/tracing/generickprobe.go
Owners: @cilium/tetragon

pkg/sensors: reduce memory footprint of unused fdinstall maps
  bpf/process/types/basic.h
  pkg/sensors/tracing/generickprobe.go
  pkg/sensors/tracing/generictracepoint.go
Owners: @cilium/tetragon

bpf: store thread leader namespaces at fork and reduce false positives
  bpf/process/bpf_fork.c
Owners: @cilium/tetragon

test:clone: test: more namespace checks
  pkg/sensors/tracing/kprobe_threads_test.go
Owners: @cilium/tetragon

fix: update execution monitoring section of docs
  docs/content/en/docs/getting-started/execution.md
  docs/content/en/docs/getting-started/install-docker.md
  examples/quickstart/docker-compose.yaml
Owners: @mtardy, @cilium/tetragon

tetragon: Update LoadLSMProgram to load generic LSM bpf object
  pkg/sensors/program/loader.go
Owners: @cilium/tetragon

helm: Add LSM event to exportAllowList and update install
  install/kubernetes/tetragon/README.md
  install/kubernetes/tetragon/crds-yaml/cilium.io_tracingpolicies.yaml
  install/kubernetes/tetragon/crds-yaml/cilium.io_tracingpoliciesnamespaced.yaml
  install/kubernetes/tetragon/values.yaml
Owners: @cilium/tetragon

Add LSM TracingPolicy examples
  examples/tracingpolicy/lsm_brm_check.yaml
  examples/tracingpolicy/lsm_file_open.yaml
Owners: @cilium/tetragon

tetragon: Add TestLSMOverrideAction
  pkg/sensors/tracing/lsm_test.go
Owners: @cilium/tetragon

tetragon: Add TestLSMObjectLoad and TestLSMOpenFile
  pkg/sensors/tracing/lsm_test.go
Owners: @cilium/tetragon

tetragon: Update codegen/generate
  api/v1/README.md
  api/v1/tetragon/codegen/eventchecker/eventchecker.pb.go
  api/v1/tetragon/codegen/eventchecker/yaml/yaml.pb.go
  api/v1/tetragon/codegen/helpers/helpers.pb.go
  api/v1/tetragon/events.pb.go
  api/v1/tetragon/tetragon.pb.go
  api/v1/tetragon/tetragon.pb.json.go
  api/v1/tetragon/types.pb.go
  contrib/tetragon-rthooks/vendor/github.com/cilium/tetragon/api/v1/tetragon/events.pb.go
  contrib/tetragon-rthooks/vendor/github.com/cilium/tetragon/api/v1/tetragon/events.proto
  contrib/tetragon-rthooks/vendor/github.com/cilium/tetragon/api/v1/tetragon/tetragon.pb.go
  contrib/tetragon-rthooks/vendor/github.com/cilium/tetragon/api/v1/tetragon/tetragon.pb.json.go
  contrib/tetragon-rthooks/vendor/github.com/cilium/tetragon/api/v1/tetragon/tetragon.proto
  contrib/tetragon-rthooks/vendor/github.com/cilium/tetragon/api/v1/tetragon/types.pb.go
  vendor/github.com/cilium/tetragon/api/v1/tetragon/codegen/eventchecker/eventchecker.pb.go
  vendor/github.com/cilium/tetragon/api/v1/tetragon/codegen/eventchecker/yaml/yaml.pb.go
  vendor/github.com/cilium/tetragon/api/v1/tetragon/codegen/helpers/helpers.pb.go
  vendor/github.com/cilium/tetragon/api/v1/tetragon/events.pb.go
  vendor/github.com/cilium/tetragon/api/v1/tetragon/events.proto
  vendor/github.com/cilium/tetragon/api/v1/tetragon/tetragon.pb.go
  vendor/github.com/cilium/tetragon/api/v1/tetragon/tetragon.pb.json.go
  vendor/github.com/cilium/tetragon/api/v1/tetragon/tetragon.proto
  vendor/github.com/cilium/tetragon/api/v1/tetragon/types.pb.go
Owners: @cilium/tetragon

tetragon: Add ProcessLSM message
  api/v1/tetragon/events.proto
  api/v1/tetragon/tetragon.proto
Owners: @cilium/tetragon

tetragon: Add generic LSM sensor
  pkg/api/ops/ops.go
  pkg/grpc/tracing/tracing.go
  pkg/k8s/apis/cilium.io/client/crds/v1alpha1/cilium.io_tracingpolicies.yaml
  pkg/k8s/apis/cilium.io/client/crds/v1alpha1/cilium.io_tracingpoliciesnamespaced.yaml
  pkg/k8s/apis/cilium.io/v1alpha1/tracing_policy_types.go
  pkg/k8s/apis/cilium.io/v1alpha1/types.go
  pkg/k8s/apis/cilium.io/v1alpha1/version.go
  pkg/k8s/apis/cilium.io/v1alpha1/zz_generated.deepcopy.go
  pkg/sensors/sensors.go
  pkg/sensors/tracing/genericlsm.go
  pkg/sensors/tracing/policyhandler.go
  vendor/github.com/cilium/tetragon/pkg/k8s/apis/cilium.io/client/crds/v1alpha1/cilium.io_tracingpolicies.yaml
  vendor/github.com/cilium/tetragon/pkg/k8s/apis/cilium.io/client/crds/v1alpha1/cilium.io_tracingpoliciesnamespaced.yaml
  vendor/github.com/cilium/tetragon/pkg/k8s/apis/cilium.io/v1alpha1/tracing_policy_types.go
  vendor/github.com/cilium/tetragon/pkg/k8s/apis/cilium.io/v1alpha1/types.go
  vendor/github.com/cilium/tetragon/pkg/k8s/apis/cilium.io/v1alpha1/version.go
  vendor/github.com/cilium/tetragon/pkg/k8s/apis/cilium.io/v1alpha1/zz_generated.deepcopy.go
Owners: @cilium/tetragon

bpf: Add generic_start_process_filter for kprobes and uprobes
  bpf/process/bpf_generic_kprobe.c
  bpf/process/bpf_generic_uprobe.c
  bpf/process/generic_calls.h
  pkg/sensors/tracing/uprobe_test.go
Owners: @cilium/tetragon

bpf: Add HasLSMPrograms() to check LSM support
  pkg/bpf/detect.go
Owners: @cilium/tetragon

Add documentation for LSM sensor
  docs/content/en/docs/concepts/tracing-policy/hooks.md
  docs/content/en/docs/reference/grpc-api.md
  docs/content/en/docs/reference/helm-chart.md
  docs/content/en/docs/reference/metrics.md
Owners: @mtardy, @cilium/tetragon

bpf: Add generic LSM bpf object
  bpf/Makefile
  bpf/lib/msg_types.h
  bpf/process/bpf_generic_kprobe.c
  bpf/process/bpf_generic_lsm.c
  bpf/process/generic_calls.h
Owners: @cilium/tetragon

contrib: Skip LSM bpf generic object load check in verify.sh
  contrib/verify/verify.sh
Owners: @cilium/tetragon

pkg/sensors: reduce ratelimit map memory footprint
  bpf/process/types/basic.h
  pkg/sensors/tracing/generickprobe.go
Owners: @cilium/tetragon

bpf: remove rate limit maps and structs for kernel <5.3
  bpf/process/types/basic.h
Owners: @cilium/tetragon

pkg/sensors: add rate limit test
  pkg/sensors/tracing/kprobe_test.go
Owners: @cilium/tetragon
