Repository cilium/tetragon, changes with the owners that CODEOWNERS names for each.
All owners: @cilium/tetragon, @willfindlay, @kkourt, @mtardy

Add unit tests for cgidmap
  pkg/cgidmap/cgidmap_test.go
Owners: @cilium/tetragon

ariane: add ariane-config
  .github/ariane-config.yaml
  .github/workflows/common-post-jobs.yml
  .github/workflows/mock-ci.yaml
Owners: @cilium/tetragon, @willfindlay

ci: add action read permission to mock ariane workflow
  .github/workflows/mock-ci.yaml
Owners: @willfindlay

ariane: add /test trigger
  .github/ariane-config.yaml
Owners: @cilium/tetragon

ariane: add ariane-config
  .github/ariane-config.yaml
  .github/workflows/common-post-jobs.yml
  .github/workflows/mock-ci.yaml
Owners: @cilium/tetragon, @willfindlay

ci: add action read permission to mock ariane workflow
  .github/workflows/mock-ci.yaml
Owners: @willfindlay

ariane: add /test trigger
  .github/ariane-config.yaml
Owners: @cilium/tetragon

ariane: add ariane-config
  .github/ariane-config.yaml
  .github/workflows/common-post-jobs.yml
  .github/workflows/mock-ci.yaml
Owners: @cilium/tetragon, @willfindlay

ariane: add /test trigger
  .github/ariane-config.yaml
Owners: @cilium/tetragon

ci: add action read permission to mock ariane workflow
  .github/workflows/mock-ci.yaml
Owners: @willfindlay

pkg/server/eventlog: fix concurrent parameter reads
  pkg/server/eventlog/server.go
  pkg/server/eventlog/server_test.go
Owners: @cilium/tetragon

tracing: reject enforcer actions for uprobes and usdts
  pkg/selectors/kernel.go
  pkg/sensors/tracing/genericuprobe.go
  pkg/sensors/tracing/genericusdt.go
Owners: @cilium/tetragon

tracing: test enforcer actions are rejected for uprobes and usdts
  pkg/selectors/kernel_test.go
  pkg/sensors/tracing/uprobe_validation_test.go
  pkg/sensors/tracing/usdt_validation_test.go
Owners: @cilium/tetragon

ci: use reusable action for removing slow Azure apt mirrors
  .github/workflows/vmpolicytests.yaml
  .github/workflows/vmtests.yml
Owners: @willfindlay

tetragon: Split generic process filters
  bpf/process/bpf_generic_fentry.c
  bpf/process/bpf_generic_kprobe.c
  bpf/process/bpf_generic_lsm_core.c
  bpf/process/bpf_generic_rawtp.c
  bpf/process/bpf_generic_tracepoint.c
  bpf/process/bpf_generic_uprobe.c
  bpf/process/bpf_generic_usdt.c
  bpf/process/generic_calls.h
  bpf/process/pfilter.h
  bpf/process/types/basic.h
Owners: @cilium/tetragon

docs: add KubeCon NA 2026 banner link
  docs/layouts/partials/community-banner.html
Owners: @mtardy, @cilium/tetragon

website: add dedicated labs page
  docs/assets/scss/_styles_project.scss
  docs/assets/scss/labs.scss
  docs/config/_default/hugo.toml
  docs/content/en/_index.html
  docs/content/en/labs/_index.html
  docs/layouts/labs/list.html
  docs/static/images/labs/exploring-tetragon.png
  docs/static/images/labs/getting-started.png
  docs/static/images/labs/open-claw.png
Owners: @mtardy, @cilium/tetragon

pkg/ksyms: strip LLVM LTO suffix when matching symbol names
  pkg/ksyms/ksyms.go
  pkg/ksyms/ksyms_test.go
Owners: @cilium/tetragon

bpf: Bump bpftool version to 7.7.0
  Dockerfile
Owners: @cilium/tetragon

renovate: Add configuration for bpftool
  .github/renovate.json5
  Dockerfile
Owners: @cilium/tetragon

docs: add KubeCon NA 2026 banner link
  docs/layouts/partials/community-banner.html
Owners: @mtardy, @cilium/tetragon

website: add dedicated labs page
  docs/assets/scss/_styles_project.scss
  docs/assets/scss/labs.scss
  docs/config/_default/hugo.toml
  docs/content/en/_index.html
  docs/content/en/labs/_index.html
  docs/layouts/labs/list.html
  docs/static/images/labs/exploring-tetragon.png
  docs/static/images/labs/getting-started.png
  docs/static/images/labs/open-claw.png
Owners: @mtardy, @cilium/tetragon

selectors: match IPv4-mapped addresses
  pkg/selectors/kernel.go
  pkg/selectors/kernel_test.go
Owners: @cilium/tetragon

docs: note IPv4-mapped address matching
  contrib/upgrade-notes/latest.md
  docs/content/en/docs/concepts/tracing-policy/selectors.md
Owners: @cilium/tetragon, @mtardy

selectors: test IPv4-mapped address selectors
  pkg/selectors/kernel_test.go
Owners: @cilium/tetragon

policytest: support required agent options
  pkg/testutils/policytest/builder.go
  pkg/testutils/policytest/policytest.go
  pkg/testutils/policytest/runner.go
Owners: @cilium/tetragon

policytest: cover required agent options
  pkg/testutils/policytest/cli_flags_test.go
Owners: @cilium/tetragon

Add cgidmap interfaces to add/update/get pod sandboxes for cgroups
  pkg/cgidmap/cgidmap.go
  pkg/cgidmap/cri.go
Owners: @cilium/tetragon

Look up pod sandboxes for pods and save in cgidmap
  pkg/cgidmap/register.go
Owners: @cilium/tetragon

Add unit tests for cgidmap
  pkg/cgidmap/cgidmap_test.go
Owners: @cilium/tetragon

renovate: Add configuration for bpftool
  .github/renovate.json5
  Dockerfile
Owners: @cilium/tetragon

policytester: allow setting environment variables
  cmd/tetragon-vmtests-run/policytest.go
  cmd/tetragon-vmtests-run/policytester_service.go
Owners: @cilium/tetragon

policytest: support required agent options
  pkg/testutils/policytest/builder.go
  pkg/testutils/policytest/policytest.go
  pkg/testutils/policytest/runner.go
Owners: @cilium/tetragon

policytest: cover required agent options
  pkg/testutils/policytest/cli_flags_test.go
Owners: @cilium/tetragon

tetragoninfo: support additional configuration value types
  pkg/tetragoninfo/info.go
Owners: @cilium/tetragon

Reduce instructions needed by memset
  bpf/lib/bpf_cgroup.h
  bpf/lib/builtins.h
  bpf/lib/process.h
  bpf/process/bpf_process_event.h
  bpf/process/types/basic.h
Owners: @cilium/tetragon

Test memcpy
  bpf/lib/bpf_d_path.h
  bpf/lib/builtins.h
  bpf/process/bpf_fork.c
  bpf/process/bpf_process_event.h
  bpf/process/bpf_rate.h
Owners: @cilium/tetragon

Test
  bpf/lib/builtins.h
Owners: @cilium/tetragon

pkg/selectors: enforce postfix max length for small BPF programs
  docs/content/en/docs/concepts/tracing-policy/selectors.md
  pkg/selectors/kernel.go
  pkg/selectors/selectors.go
Owners: @mtardy, @cilium/tetragon

pkg/selectors: test postfix max length for small and large programs
  pkg/selectors/kernel_test.go
Owners: @cilium/tetragon

CODEOWNERS:

# Request a review from the Tetragon team on any PR
* @cilium/tetragon

# Request a review from William when codegen is edited
cmd/protoc-gen-go-tetragon/ @willfindlay

# Request a review from William when CI is edited
.github/workflows/ @willfindlay

# Request a review from kkourt when core sensor files are modified
pkg/src/sensors/ @kkourt

# Request a review from mtardy when anything from docs is modified but do not
# block on approval from anyone in the tetragon team
/docs/ @mtardy @cilium/tetragon
