Repository cilium/tetragon, changes with the owners that CODEOWNERS names for each.
All owners: @cilium/tetragon, @willfindlay, @kkourt, @mtardy

tetragon: Add support for fmod_ret override
  bpf/process/bpf_generic_kprobe.c
  pkg/sensors/program/loader.go
  pkg/sensors/program/program.go
  pkg/sensors/tracing/generickprobe.go
Owners: @cilium/tetragon

tetragon: Add disableProg helper function
  pkg/sensors/program/loader.go
Owners: @cilium/tetragon

tetragon: Add test to override security_ function
  pkg/sensors/tracing/kprobe_test.go
Owners: @cilium/tetragon

tetragon: Add security override example
  examples/tracingpolicy/override-security.yaml
Owners: @cilium/tetragon

pkg/k8s: update CRD schema version to 1.0.0
  pkg/k8s/apis/cilium.io/v1alpha1/version.go
  vendor/github.com/cilium/tetragon/pkg/k8s/apis/cilium.io/v1alpha1/version.go
Owners: @cilium/tetragon

Prepare for v1.0.0-rc.1 release
  docs/content/en/docs/reference/helm-chart.md
  docs/hugo.toml
  install/kubernetes/Chart.yaml
  install/kubernetes/README.md
  install/kubernetes/values.yaml
Owners: @mtardy, @cilium/tetragon

ci fix
  .github/workflows/packages-e2e-tests.yaml
Owners: @willfindlay

Prepare for v1.0.0-rc.1 release
  docs/content/en/docs/reference/helm-chart.md
  docs/hugo.toml
  install/kubernetes/Chart.yaml
  install/kubernetes/README.md
  install/kubernetes/values.yaml
Owners: @mtardy, @cilium/tetragon

pkg/k8s: update CRD schema version to 1.0.0
  pkg/k8s/apis/cilium.io/v1alpha1/version.go
  vendor/github.com/cilium/tetragon/pkg/k8s/apis/cilium.io/v1alpha1/version.go
Owners: @cilium/tetragon

pkg/sensors/tracing: add a kprobe disable/enable regression test
  pkg/sensors/tracing/generickprobe_test.go
Owners: @cilium/tetragon

pkg/sensors: cleanup kprobe entry from table on destroy
  pkg/sensors/collection.go
  pkg/sensors/exec/cgroups_test.go
  pkg/sensors/handler.go
  pkg/sensors/load.go
  pkg/sensors/sensors.go
  pkg/sensors/tracing/generickprobe.go
  pkg/sensors/tracing/generickprobe_test.go
Owners: @cilium/tetragon

pkg/testutils: default value for option.Config.HubbleLib
  pkg/testutils/sensors/testrun.go
Owners: @cilium/tetragon

tetragon: Use pull_request_target event for e2e CI tests
  .github/workflows/packages-e2e-tests.yaml
Owners: @willfindlay

Move flag initialization to a separate function
  cmd/tetragon/main.go
  go.mod
  pkg/option/flags.go
Owners: @cilium/tetragon

ci: run veristat on every commits
  .github/workflows/veristat.yaml
Owners: @willfindlay

ci: add veristat comparison on pull requests
  .github/workflows/veristat-compare.yaml
Owners: @willfindlay

ci: minor refactor to build-images job
  .github/workflows/build-images-ci.yml
Owners: @willfindlay

ci: minor refactor to build-images job
  .github/workflows/build-images-ci.yml
Owners: @willfindlay

vendor: fix cilium/tetragon replacement in api
  api/go.mod
  api/vendor/modules.txt
Owners: @cilium/tetragon

vendor: fix cilium/tetragon replacement in api
  api/go.mod
  api/vendor/modules.txt
Owners: @cilium/tetragon

ci: fix branch name
  .github/workflows/build-images-ci.yml
Owners: @willfindlay

ci: add veristat comparison on pull requests
  .github/workflows/veristat-compare.yaml
Owners: @willfindlay

ci: run veristat on every commits
  .github/workflows/veristat.yaml
Owners: @willfindlay

docs: moved quickstart folder under examples
  docs/content/en/docs/getting-started/enforcement.md
  docs/content/en/docs/getting-started/file-events.md
  docs/content/en/docs/getting-started/network.md
  examples/quickstart/file_monitoring.yaml
  examples/quickstart/file_monitoring_enforce.yaml
  examples/quickstart/network_egress_cluster.yaml
  examples/quickstart/network_egress_cluster_enforce.yaml
Owners: @mtardy, @cilium/tetragon

docs: remove advanced-config and replace with install
  docs/content/en/docs/advanced-config/_index.md
  docs/content/en/docs/installation/Docker/_index.md
  docs/content/en/docs/installation/Kubernetes/_index.md
  docs/content/en/docs/installation/Systemd/_index.md
  docs/content/en/docs/installation/_index.md
  docs/content/en/docs/installation/container.md
  docs/content/en/docs/installation/kubernetes.md
  docs/content/en/docs/installation/package.md
  docs/content/en/docs/installation/tetra-cli.md
Owners: @mtardy, @cilium/tetragon

docs: various form fixes and docs settings
  docs/content/en/docs/concepts/enforcement/_index.md
  docs/content/en/docs/concepts/events/_index.md
  docs/content/en/docs/concepts/events/grpc-events.md
  docs/content/en/docs/concepts/events/json-events.md
  docs/content/en/docs/concepts/metrics/_index.md
  docs/content/en/docs/concepts/tetragon-events/grpc-events.md
  docs/content/en/docs/getting-started/enforcement.md
  docs/content/en/docs/getting-started/execution.md
  docs/content/en/docs/getting-started/file-events.md
  docs/content/en/docs/getting-started/install-docker.md
  docs/content/en/docs/getting-started/install-k8s.md
  docs/content/en/docs/getting-started/network.md
  docs/content/en/docs/installation/Kubernetes/_index.md
  docs/content/en/docs/installation/_index.md
  docs/content/en/docs/installation/install-tetra-cli.md
Owners: @mtardy, @cilium/tetragon

docs: move tutorial's metrics page to concept's metrics
  docs/content/en/docs/concepts/metrics.md
  docs/content/en/docs/concepts/metrics/_index.md
Owners: @mtardy, @cilium/tetragon

docs: move try tetragon on Linux to tutorials
  docs/content/en/docs/tutorials/software-bill-of-materials.md
  docs/content/en/docs/tutorials/try-tetragon-linux.md
  docs/content/en/docs/tutorials/verify-tetragon-image-signatures.md
Owners: @mtardy, @cilium/tetragon

Change GRPC to gRPC
  docs/content/en/docs/concepts/events/_index.md
Owners: @mtardy, @cilium/tetragon

tetragon: docs, namespace, pod filtering ia policy detail
  docs/content/en/docs/concepts/metrics/_index.md
  docs/content/en/docs/concepts/tracing-policy/k8s-filtering.md
Owners: @mtardy, @cilium/tetragon

tetragon: benchmarks section
  docs/content/en/docs/benchmarks/_index.md
Owners: @mtardy, @cilium/tetragon

tetragon: docs updates for network example
  docs/content/en/docs/getting-started/tetragon-network.md
Owners: @mtardy, @cilium/tetragon

tetragon: docs, align sections and filenames
  docs/content/en/docs/getting-started/enforcement.md
  docs/content/en/docs/getting-started/execution.md
  docs/content/en/docs/getting-started/file-events.md
  docs/content/en/docs/getting-started/network.md
  docs/content/en/docs/getting-started/quick-install/_index.md
  docs/content/en/docs/getting-started/quick-install/install-docker.md
  docs/content/en/docs/getting-started/quick-install/install-k8s.md
Owners: @mtardy, @cilium/tetragon

tetragon: install tetra cli move into installation
  docs/content/en/docs/installation/Systemd/install-tetra-cli.md
Owners: @mtardy, @cilium/tetragon

tetragon: create Install section and move baremetal install out
  docs/content/en/docs/getting-started/enforcement.md
  docs/content/en/docs/getting-started/execution.md
  docs/content/en/docs/getting-started/file-events.md
  docs/content/en/docs/getting-started/install-docker.md
  docs/content/en/docs/getting-started/install-k8s.md
  docs/content/en/docs/getting-started/network.md
  docs/content/en/docs/getting-started/quick-install/_index.md
  docs/content/en/docs/installation/Docker/_index.md
  docs/content/en/docs/installation/Kubernetes/_index.md
  docs/content/en/docs/installation/Systemd/_index.md
  docs/content/en/docs/installation/_index.md
  quickstart/file_monitoring_enforce.yaml
  quickstart/network_egress_cluster.yaml
  quickstart/network_egress_cluster_enforce.yaml
Owners: @mtardy, @cilium/tetragon

docs: move tutorial's metrics page to concept's metrics
  docs/content/en/docs/concepts/metrics.md
  docs/content/en/docs/concepts/metrics/_index.md
Owners: @mtardy, @cilium/tetragon

tetragon: docs, move events into concepts
  docs/content/en/docs/advanced-config/container.md
  docs/content/en/docs/advanced-config/package.md
  docs/content/en/docs/concepts/tetragon-events/_index.md
  docs/content/en/docs/concepts/tetragon-events/grpc-events.md
  docs/content/en/docs/concepts/tetragon-events/json-events.md
Owners: @mtardy, @cilium/tetragon

tetragon: docs, add enforcment to concepts
  docs/content/en/docs/concepts/enforcement/_index.md
Owners: @mtardy, @cilium/tetragon

tetragon: docs fix typo tetragonon
  docs/content/en/docs/getting-started/network.md
Owners: @mtardy, @cilium/tetragon

tetragon: docs, simplify getting started guide
  docs/content/en/docs/concepts/tracing-policy/example.md
  docs/content/en/docs/getting-started/install-tetragon/_index.md
  docs/content/en/docs/getting-started/install-tetragon/install-docker.md
  docs/content/en/docs/getting-started/install-tetragon/install-k8s.md
  docs/content/en/docs/getting-started/kubernetes-quickstart-guide.md
  docs/content/en/docs/getting-started/tetragon-enforcement.md
  docs/content/en/docs/getting-started/tetragon-execution.md
  docs/content/en/docs/getting-started/tetragon-file-events.md
  docs/content/en/docs/getting-started/tetragon-network.md
  docs/content/en/docs/getting-started/try-tetragon-linux.md
  quickstart/file_monitoring.yaml
  quickstart/network_egress_cluster.yaml
Owners: @mtardy, @cilium/tetragon

CODEOWNERS:

# Request a review from the Tetragon team on any PR
* @cilium/tetragon

# Request a review from William when codegen is edited
cmd/protoc-gen-go-tetragon/ @willfindlay

# Request a review from William when CI is edited
.github/workflows/ @willfindlay

# Request a review from kkourt when core sensor files are modified
pkg/src/sensors/ @kkourt

# Request a review from mtardy when anything from docs is modified but do not
# block on approval from anyone in the tetragon team
/docs/ @mtardy @cilium/tetragon
