Repository cilium/tetragon, changes with the owners that CODEOWNERS names for each.
All owners: @cilium/tetragon, @willfindlay, @kkourt, @mtardy

CODEOWNERS:

# Request a review from the Tetragon team on any PR
* @cilium/tetragon

# Request a review from William when codegen is edited
cmd/protoc-gen-go-tetragon/ @willfindlay

# Request a review from William when CI is edited
.github/workflows/ @willfindlay

# Request a review from kkourt when core sensor files are modified
pkg/src/sensors/ @kkourt

# Request a review from mtardy when anything from docs is modified but do not
# block on approval from anyone in the tetragon team
/docs/ @mtardy @cilium/tetragon

tracing: refactor handleGenericKprobeString
  pkg/sensors/tracing/generickprobe.go
Owners: @cilium/tetragon

tracing: ensure strings are valid utf-8
  pkg/sensors/tracing/generickprobe.go
  pkg/sensors/tracing/loader.go
Owners: @cilium/tetragon

grpc/tracing: remove unused type in HandleMessage
  pkg/grpc/tracing/tracing.go
Owners: @cilium/tetragon

doc: reference daemon settings in container deployment
  docs/content/en/docs/getting-started/deployment/container.md
Owners: @mtardy, @cilium/tetragon

docs: add restrict gRPC access to tetragon daemon config
  docs/content/en/docs/getting-started/deployment/package.md
  docs/content/en/docs/reference/tetragon-configuration.md
Owners: @mtardy, @cilium/tetragon

ci: add simple package e2e tests
  .github/workflows/packages-e2e-tests.yaml
Owners: @willfindlay

docs: document tetragon daemon --tracing-policy and --tracing-policy-dir
  docs/content/en/docs/reference/tetragon-configuration.md
Owners: @mtardy, @cilium/tetragon

tracing: use handleGenericKprobe
  pkg/sensors/tracing/generickprobe.go
Owners: @cilium/tetragon

exec event: deal with non-utf8 strings
  pkg/sensors/exec/exec.go
  pkg/sensors/exec/exec_test.go
  pkg/strutils/strutls.go
Owners: @cilium/tetragon

grpc/tracing: remove unused type in HandleMessage
  pkg/grpc/tracing/tracing.go
Owners: @cilium/tetragon

tracing: ensure strings are valid utf-8
  pkg/sensors/tracing/generickprobe.go
  pkg/sensors/tracing/loader.go
Owners: @cilium/tetragon

tracing: refactor handleGenericKprobeString
  pkg/sensors/tracing/generickprobe.go
Owners: @cilium/tetragon

docs: copy Helm chart doc to documentation reference
  docs/content/en/docs/reference/helm-chart.md
  docs/layouts/shortcodes/comment.html
  install/kubernetes/export-doc.sh
  install/kubernetes/test.sh
Owners: @mtardy, @cilium/tetragon

docs: add an auto-generated disclaimer in gRPC API doc
  api/Makefile
  api/export-doc.sh
  docs/content/en/docs/reference/grpc-api.md
Owners: @cilium/tetragon, @mtardy

tetragon: update map_linux with fixes and improvements
  pkg/bpf/map_linux.go
Owners: @cilium/tetragon

tracingpolicy: allow to load tracing policies with annotations.
  pkg/tracingpolicy/generictracingpolicy.go
Owners: @cilium/tetragon

docs: add restrict gRPC access to tetragon daemon config
  docs/content/en/docs/getting-started/deployment/package.md
  docs/content/en/docs/reference/tetragon-configuration.md
Owners: @mtardy, @cilium/tetragon

doc: add tetragon daemon configuration
  cmd/tetragon/main.go
  docs/content/en/docs/getting-started/deployment/package.md
  docs/content/en/docs/reference/tetragon-configuration.md
Owners: @cilium/tetragon, @mtardy

ci: add simple package e2e tests
  .github/workflows/packages-e2e-tests.yaml
Owners: @willfindlay

tracingpolicy:examples: add author field to some tracing policies
  examples/sandbox/linux-namespaces/kill_unprivileged_user_namespace_in_pid_namespace.yaml
  examples/tracingpolicy/bpf.yaml
  examples/tracingpolicy/open_geturl.yaml
Owners: @cilium/tetragon

docs: document tetragon daemon --tracing-policy and --tracing-policy-dir
  docs/content/en/docs/reference/tetragon-configuration.md
Owners: @mtardy, @cilium/tetragon

tracingpolicies: load policies from directory /etc/tetragon/tetragon.tp.d/
  Dockerfile
  Dockerfile.dev
  cmd/tetragon/flags.go
  cmd/tetragon/main.go
  install/linux-tarball/install.sh
  pkg/defaults/defaults.go
  pkg/option/config.go
Owners: @cilium/tetragon

doc: reference daemon settings in container deployment
  docs/content/en/docs/getting-started/deployment/container.md
Owners: @mtardy, @cilium/tetragon

sensors: harden string parsing from BPF events
  pkg/sensors/tracing/generickprobe.go
  pkg/sensors/tracing/generickprobe_test.go
Owners: @cilium/tetragon

api: add the process_credentials object
  api/v1/README.md
  api/v1/tetragon/capabilities.pb.go
  api/v1/tetragon/capabilities.proto
  api/v1/tetragon/codegen/eventchecker/eventchecker.pb.go
  api/v1/tetragon/tetragon.pb.go
  api/v1/tetragon/tetragon.pb.json.go
  api/v1/tetragon/tetragon.proto
  docs/content/en/docs/reference/grpc-api.md
  vendor/github.com/cilium/tetragon/api/v1/tetragon/capabilities.pb.go
  vendor/github.com/cilium/tetragon/api/v1/tetragon/capabilities.proto
  vendor/github.com/cilium/tetragon/api/v1/tetragon/codegen/eventchecker/eventchecker.pb.go
  vendor/github.com/cilium/tetragon/api/v1/tetragon/tetragon.pb.go
  vendor/github.com/cilium/tetragon/api/v1/tetragon/tetragon.pb.json.go
  vendor/github.com/cilium/tetragon/api/v1/tetragon/tetragon.proto
Owners: @cilium/tetragon, @mtardy

api: add cred type to tracing policies definition
  pkg/k8s/apis/cilium.io/client/crds/v1alpha1/cilium.io_tracingpolicies.yaml
  pkg/k8s/apis/cilium.io/client/crds/v1alpha1/cilium.io_tracingpoliciesnamespaced.yaml
  pkg/k8s/apis/cilium.io/v1alpha1/types.go
  vendor/github.com/cilium/tetragon/pkg/k8s/apis/cilium.io/client/crds/v1alpha1/cilium.io_tracingpolicies.yaml
  vendor/github.com/cilium/tetragon/pkg/k8s/apis/cilium.io/client/crds/v1alpha1/cilium.io_tracingpoliciesnamespaced.yaml
  vendor/github.com/cilium/tetragon/pkg/k8s/apis/cilium.io/v1alpha1/types.go
Owners: @cilium/tetragon

tetragon: add bpf and userspace ProcessCredentials support
  bpf/process/types/basic.h
  bpf/process/types/cred.h
  pkg/api/processapi/processapi.go
  pkg/api/tracingapi/client_kprobe.go
  pkg/btf/validation.go
  pkg/grpc/tracing/tracing.go
  pkg/sensors/tracing/generickprobe.go
Owners: @cilium/tetragon

docs: reference the linux process_credentials object
  docs/content/en/docs/use-cases/linux-process-credentials/_index.md
  docs/content/en/docs/use-cases/linux-process-credentials/syscalls-monitoring.md
Owners: @mtardy, @cilium/tetragon

use-case: add tracing policy to monitor when installing creds
  examples/tracingpolicy/process-credentials/process-creds-installed.yaml
Owners: @cilium/tetragon

use-case: add tracing policy to monitor when creds change.
  examples/tracingpolicy/process-credentials/process-creds-changed.yaml
Owners: @cilium/tetragon

docs: add monitor credentials at kernel layer
  docs/content/en/docs/use-cases/linux-process-credentials/_index.md
  docs/content/en/docs/use-cases/linux-process-credentials/monitor-changes-at-kernel.md
Owners: @mtardy, @cilium/tetragon

process: add processcredentilas to process
  api/v1/README.md
  api/v1/tetragon/codegen/eventchecker/eventchecker.pb.go
  api/v1/tetragon/tetragon.pb.go
  api/v1/tetragon/tetragon.proto
  docs/content/en/docs/reference/grpc-api.md
  vendor/github.com/cilium/tetragon/api/v1/tetragon/codegen/eventchecker/eventchecker.pb.go
  vendor/github.com/cilium/tetragon/api/v1/tetragon/tetragon.pb.go
  vendor/github.com/cilium/tetragon/api/v1/tetragon/tetragon.proto
Owners: @cilium/tetragon, @mtardy

bpf: re-organize structs so we can use credentials object
  bpf/lib/cred.h
  bpf/lib/process.h
  bpf/lib/user_namespace.h
  bpf/process/types/basic.h
  bpf/process/types/cred.h
Owners: @cilium/tetragon

contrib: Support upgrade in install-tetragon.sh
  contrib/localdev/bootstrap-kind-cluster.sh
  contrib/localdev/install-tetragon.sh
Owners: @cilium/tetragon

contrib: Support upgrade in install-tetragon.sh
  contrib/localdev/bootstrap-kind-cluster.sh
  contrib/localdev/install-tetragon.sh
Owners: @cilium/tetragon

process: include process_credentials
  bpf/lib/cred.h
  bpf/lib/process.h
  bpf/process/bpf_execve_event.c
  bpf/process/bpf_process_event.h
  bpf/process/types/basic.h
  pkg/api/processapi/processapi.go
  pkg/api/tracingapi/client_kprobe.go
  pkg/grpc/process_manager_test.go
  pkg/grpc/tracing/tracing.go
  pkg/process/process.go
  pkg/reader/caps/caps.go
  pkg/sensors/exec/exec.go
  pkg/sensors/exec/procevents/proc_reader.go
  pkg/sensors/tracing/generickprobe.go
Owners: @cilium/tetragon

process: use process_credentials name for creds
  api/v1/README.md
  api/v1/tetragon/tetragon.pb.go
  api/v1/tetragon/tetragon.proto
  docs/content/en/docs/reference/grpc-api.md
  vendor/github.com/cilium/tetragon/api/v1/tetragon/tetragon.pb.go
  vendor/github.com/cilium/tetragon/api/v1/tetragon/tetragon.proto
Owners: @cilium/tetragon, @mtardy

fix: static type check error on pkg/alignchecker
  pkg/alignchecker/alignchecker.go
Owners: @cilium/tetragon

fix: k8s v1.27 added an unusued arg boolean to OnAdd
  pkg/policyfilter/k8s_test.go
Owners: @cilium/tetragon

workflows: split static checks to parallelize jobs
  .github/workflows/static-checks.yaml
Owners: @willfindlay
