Repository cilium/tetragon, changes with the owners that CODEOWNERS names for each.
All owners: @cilium/tetragon, @willfindlay, @kkourt, @mtardy

chore(makefile): force rebuild cmd/bpf-fileids with `-a`.
  Makefile
Owners: @cilium/tetragon

chore(bpf,pkg/errmetrics): bpf_generic_tracepoint.c probe_read errmetrics.
  bpf/process/bpf_generic_tracepoint.c
  bpf/tetragon/fileids.h
  pkg/errmetrics/fileids.json
Owners: @cilium/tetragon

chore(bpf,pkg/errmetrics): process/generic_path.h probe_read errmetrics.
  bpf/process/generic_path.h
  bpf/tetragon/fileids.h
  pkg/errmetrics/fileids.json
Owners: @cilium/tetragon

chore(bpf,pkg/errmetrics): lib/process.h probe_read errmetrics
  bpf/lib/process.h
  bpf/tetragon/fileids.h
  pkg/errmetrics/fileids.json
Owners: @cilium/tetragon

chore(bpf,pkg/errmetrics): process/bpf_execve_event.c probe_read errmetrics
  bpf/process/bpf_execve_event.c
  bpf/tetragon/fileids.h
  pkg/errmetrics/fileids.json
Owners: @cilium/tetragon

ci: always upload Go test artifacts for easier debugging
  .github/workflows/gotests.yml
Owners: @willfindlay

ci: Make artifact names unique in Go tests workflow
  .github/workflows/gotests.yml
Owners: @willfindlay

tests:sensors: fix tests by ensuring we restore GIDs to root
  pkg/sensors/tracing/kprobe_process_credentials_test.go
Owners: @cilium/tetragon

tests:tracing: test match current real and effective uids filters
  pkg/sensors/tracing/kprobe_process_credentials_test.go
Owners: @cilium/tetragon

tetragon: Add InRange and NotInRange operators to spec
  docs/content/en/docs/reference/tracing-policy.md
  install/kubernetes/tetragon/crds-yaml/cilium.io_tracingpolicies.yaml
  install/kubernetes/tetragon/crds-yaml/cilium.io_tracingpoliciesnamespaced.yaml
  pkg/k8s/apis/cilium.io/client/crds/v1alpha1/cilium.io_tracingpolicies.yaml
  pkg/k8s/apis/cilium.io/client/crds/v1alpha1/cilium.io_tracingpoliciesnamespaced.yaml
  pkg/k8s/apis/cilium.io/v1alpha1/types.go
  pkg/k8s/apis/cilium.io/v1alpha1/version.go
  vendor/github.com/cilium/tetragon/pkg/k8s/apis/cilium.io/client/crds/v1alpha1/cilium.io_tracingpolicies.yaml
  vendor/github.com/cilium/tetragon/pkg/k8s/apis/cilium.io/client/crds/v1alpha1/cilium.io_tracingpoliciesnamespaced.yaml
  vendor/github.com/cilium/tetragon/pkg/k8s/apis/cilium.io/v1alpha1/types.go
  vendor/github.com/cilium/tetragon/pkg/k8s/apis/cilium.io/v1alpha1/version.go
Owners: @mtardy, @cilium/tetragon

tetragon: Add kprobe test for InRange/NotInRange operators
  pkg/sensors/tracing/kprobe_test.go
Owners: @cilium/tetragon

tests:tracing: test NotInRange in current task
  pkg/sensors/tracing/kprobe_process_credentials_test.go
Owners: @cilium/tetragon

tetragon: Add InRange and NotInRange operators
  bpf/process/types/basic.h
  bpf/process/types/operations.h
  pkg/selectors/kernel.go
Owners: @cilium/tetragon

doc
  docs/content/en/docs/concepts/tracing-policy/selectors.md
Owners: @mtardy, @cilium/tetragon

tetragon: Add InRange and NotInRange operators
  bpf/process/types/basic.h
  bpf/process/types/operations.h
  pkg/selectors/kernel.go
Owners: @cilium/tetragon

tetragon: Add InRange and NotInRange operators to spec
  docs/content/en/docs/reference/tracing-policy.md
  install/kubernetes/tetragon/crds-yaml/cilium.io_tracingpolicies.yaml
  install/kubernetes/tetragon/crds-yaml/cilium.io_tracingpoliciesnamespaced.yaml
  pkg/k8s/apis/cilium.io/client/crds/v1alpha1/cilium.io_tracingpolicies.yaml
  pkg/k8s/apis/cilium.io/client/crds/v1alpha1/cilium.io_tracingpoliciesnamespaced.yaml
  pkg/k8s/apis/cilium.io/v1alpha1/types.go
  pkg/k8s/apis/cilium.io/v1alpha1/version.go
  vendor/github.com/cilium/tetragon/pkg/k8s/apis/cilium.io/client/crds/v1alpha1/cilium.io_tracingpolicies.yaml
  vendor/github.com/cilium/tetragon/pkg/k8s/apis/cilium.io/client/crds/v1alpha1/cilium.io_tracingpoliciesnamespaced.yaml
  vendor/github.com/cilium/tetragon/pkg/k8s/apis/cilium.io/v1alpha1/types.go
  vendor/github.com/cilium/tetragon/pkg/k8s/apis/cilium.io/v1alpha1/version.go
Owners: @mtardy, @cilium/tetragon

tests:sensors: fix tests by ensuring we restore GIDs to root
  pkg/sensors/tracing/kprobe_process_credentials_test.go
Owners: @cilium/tetragon

tetragon: Add kprobe test for InRange/NotInRange operators
  pkg/sensors/tracing/kprobe_test.go
Owners: @cilium/tetragon

tetragon: Add InRange and NotInRange operators documentation
  docs/content/en/docs/concepts/tracing-policy/selectors.md
Owners: @mtardy, @cilium/tetragon

tests:tracing: test match current real and effective uids filters
  pkg/sensors/tracing/kprobe_process_credentials_test.go
Owners: @cilium/tetragon

tests:tracing: test NotInRange in current task
  pkg/sensors/tracing/kprobe_process_credentials_test.go
Owners: @cilium/tetragon

chore(bpf,pkg/errmetrics): bpf_generic_tracepoint.c probe_read errmetrics.
  bpf/process/bpf_generic_tracepoint.c
  bpf/tetragon/fileids.h
  pkg/errmetrics/fileids.json
Owners: @cilium/tetragon

chore(bpf,pkg/errmetrics): process/generic_path.h probe_read errmetrics.
  bpf/process/generic_path.h
  bpf/tetragon/fileids.h
  pkg/errmetrics/fileids.json
Owners: @cilium/tetragon

chore(bpf,pkg/errmetrics): process/bpf_execve_event.c probe_read errmetrics
  bpf/process/bpf_execve_event.c
  bpf/tetragon/fileids.h
  pkg/errmetrics/fileids.json
Owners: @cilium/tetragon

chore(bpf,pkg/errmetrics): lib/process.h probe_read errmetrics
  bpf/lib/process.h
  bpf/tetragon/fileids.h
  pkg/errmetrics/fileids.json
Owners: @cilium/tetragon

chore(makefile): force rebuild cmd/bpf-fileids with `-a`.
  Makefile
Owners: @cilium/tetragon

kprobe: Add support for bpf_prog_aux argument
  api/v1/README.md
  api/v1/tetragon/codegen/eventchecker/eventchecker.pb.go
  api/v1/tetragon/tetragon.pb.go
  api/v1/tetragon/tetragon.pb.json.go
  api/v1/tetragon/tetragon.proto
  bpf/libbpf/bpf_core_read.h
  bpf/process/generic_calls.h
  bpf/process/types/basic.h
  contrib/tetragon-rthooks/vendor/github.com/cilium/tetragon/api/v1/tetragon/tetragon.pb.go
  contrib/tetragon-rthooks/vendor/github.com/cilium/tetragon/api/v1/tetragon/tetragon.pb.json.go
  contrib/tetragon-rthooks/vendor/github.com/cilium/tetragon/api/v1/tetragon/tetragon.proto
  docs/content/en/docs/reference/grpc-api.md
  docs/content/en/docs/reference/tracing-policy.md
  install/kubernetes/tetragon/crds-yaml/cilium.io_tracingpolicies.yaml
  install/kubernetes/tetragon/crds-yaml/cilium.io_tracingpoliciesnamespaced.yaml
  pkg/api/tracingapi/client_kprobe.go
  pkg/btf/validation.go
  pkg/generictypes/generictypes.go
  pkg/grpc/tracing/tracing.go
  pkg/k8s/apis/cilium.io/client/crds/v1alpha1/cilium.io_tracingpolicies.yaml
  pkg/k8s/apis/cilium.io/client/crds/v1alpha1/cilium.io_tracingpoliciesnamespaced.yaml
  pkg/k8s/apis/cilium.io/v1alpha1/types.go
  pkg/k8s/apis/cilium.io/v1alpha1/version.go
  pkg/sensors/tracing/args_linux.go
  vendor/github.com/cilium/tetragon/api/v1/tetragon/codegen/eventchecker/eventchecker.pb.go
  vendor/github.com/cilium/tetragon/api/v1/tetragon/tetragon.pb.go
  vendor/github.com/cilium/tetragon/api/v1/tetragon/tetragon.pb.json.go
  vendor/github.com/cilium/tetragon/api/v1/tetragon/tetragon.proto
  vendor/github.com/cilium/tetragon/pkg/k8s/apis/cilium.io/client/crds/v1alpha1/cilium.io_tracingpolicies.yaml
  vendor/github.com/cilium/tetragon/pkg/k8s/apis/cilium.io/client/crds/v1alpha1/cilium.io_tracingpoliciesnamespaced.yaml
  vendor/github.com/cilium/tetragon/pkg/k8s/apis/cilium.io/v1alpha1/types.go
  vendor/github.com/cilium/tetragon/pkg/k8s/apis/cilium.io/v1alpha1/version.go
Owners: @cilium/tetragon, @mtardy

kprobe: Add support for bpf_prog_aux argument
  api/v1/README.md
  api/v1/tetragon/codegen/eventchecker/eventchecker.pb.go
  api/v1/tetragon/tetragon.pb.go
  api/v1/tetragon/tetragon.pb.json.go
  api/v1/tetragon/tetragon.proto
  bpf/libbpf/bpf_core_read.h
  bpf/process/generic_calls.h
  bpf/process/types/basic.h
  contrib/tetragon-rthooks/vendor/github.com/cilium/tetragon/api/v1/tetragon/tetragon.pb.go
  contrib/tetragon-rthooks/vendor/github.com/cilium/tetragon/api/v1/tetragon/tetragon.pb.json.go
  contrib/tetragon-rthooks/vendor/github.com/cilium/tetragon/api/v1/tetragon/tetragon.proto
  docs/content/en/docs/reference/grpc-api.md
  docs/content/en/docs/reference/tracing-policy.md
  install/kubernetes/tetragon/crds-yaml/cilium.io_tracingpolicies.yaml
  install/kubernetes/tetragon/crds-yaml/cilium.io_tracingpoliciesnamespaced.yaml
  pkg/api/tracingapi/client_kprobe.go
  pkg/btf/validation.go
  pkg/generictypes/generictypes.go
  pkg/grpc/tracing/tracing.go
  pkg/k8s/apis/cilium.io/client/crds/v1alpha1/cilium.io_tracingpolicies.yaml
  pkg/k8s/apis/cilium.io/client/crds/v1alpha1/cilium.io_tracingpoliciesnamespaced.yaml
  pkg/k8s/apis/cilium.io/v1alpha1/types.go
  pkg/k8s/apis/cilium.io/v1alpha1/version.go
  pkg/sensors/tracing/args_linux.go
  vendor/github.com/cilium/tetragon/api/v1/tetragon/codegen/eventchecker/eventchecker.pb.go
  vendor/github.com/cilium/tetragon/api/v1/tetragon/tetragon.pb.go
  vendor/github.com/cilium/tetragon/api/v1/tetragon/tetragon.pb.json.go
  vendor/github.com/cilium/tetragon/api/v1/tetragon/tetragon.proto
  vendor/github.com/cilium/tetragon/pkg/k8s/apis/cilium.io/client/crds/v1alpha1/cilium.io_tracingpolicies.yaml
  vendor/github.com/cilium/tetragon/pkg/k8s/apis/cilium.io/client/crds/v1alpha1/cilium.io_tracingpoliciesnamespaced.yaml
  vendor/github.com/cilium/tetragon/pkg/k8s/apis/cilium.io/v1alpha1/types.go
  vendor/github.com/cilium/tetragon/pkg/k8s/apis/cilium.io/v1alpha1/version.go
Owners: @cilium/tetragon, @mtardy

policies: only warn once for stats and mode
  pkg/policyconf/policyconf.go
  pkg/policystats/policystats.go
  pkg/sensors/collection.go
Owners: @cilium/tetragon

policies: only warn once for stats and mode
  pkg/policyconf/policyconf.go
  pkg/policystats/policystats.go
  pkg/sensors/collection.go
Owners: @cilium/tetragon

cmd/tetra/debug: reuse bpf.MapPath helper for errmetrics map file
  cmd/tetra/debug/dump.go
Owners: @cilium/tetragon

linters: fix unused parameter in usdt_args
  pkg/elf/usdt_args.go
Owners: @cilium/tetragon

tests:tracing: test NotInRange in current task
  pkg/sensors/tracing/kprobe_process_credentials_test.go
Owners: @cilium/tetragon

tetragon: Add InRange and NotInRange operators
  bpf/process/types/basic.h
  bpf/process/types/operations.h
  pkg/selectors/kernel.go
Owners: @cilium/tetragon

tetragon: Add InRange and NotInRange operators documentation
  docs/content/en/docs/concepts/tracing-policy/selectors.md
Owners: @mtardy, @cilium/tetragon

tetragon: Add kprobe test for InRange/NotInRange operators
  pkg/sensors/tracing/kprobe_test.go
Owners: @cilium/tetragon

tetragon: Add InRange and NotInRange operators to spec
  docs/content/en/docs/reference/tracing-policy.md
  install/kubernetes/tetragon/crds-yaml/cilium.io_tracingpolicies.yaml
  install/kubernetes/tetragon/crds-yaml/cilium.io_tracingpoliciesnamespaced.yaml
  pkg/k8s/apis/cilium.io/client/crds/v1alpha1/cilium.io_tracingpolicies.yaml
  pkg/k8s/apis/cilium.io/client/crds/v1alpha1/cilium.io_tracingpoliciesnamespaced.yaml
  pkg/k8s/apis/cilium.io/v1alpha1/types.go
  vendor/github.com/cilium/tetragon/pkg/k8s/apis/cilium.io/client/crds/v1alpha1/cilium.io_tracingpolicies.yaml
  vendor/github.com/cilium/tetragon/pkg/k8s/apis/cilium.io/client/crds/v1alpha1/cilium.io_tracingpoliciesnamespaced.yaml
  vendor/github.com/cilium/tetragon/pkg/k8s/apis/cilium.io/v1alpha1/types.go
Owners: @mtardy, @cilium/tetragon

tests:tracing: test match current real and effective uids filters
  pkg/sensors/tracing/kprobe_process_credentials_test.go
Owners: @cilium/tetragon

tests:sensors: fix tests by ensuring we restore GIDs to root
  pkg/sensors/tracing/kprobe_process_credentials_test.go
Owners: @cilium/tetragon

feat(rthooks): add nameOverride option and update rthooks name in daemonset
  docs/content/en/docs/reference/helm-chart.md
  install/kubernetes/tetragon/README.md
  install/kubernetes/tetragon/templates/_helpers.tpl
  install/kubernetes/tetragon/templates/rthooks-daemonset.yaml
  install/kubernetes/tetragon/values.yaml
Owners: @mtardy, @cilium/tetragon

CODEOWNERS:

# Request a review from the Tetragon team on any PR
* @cilium/tetragon

# Request a review from William when codegen is edited
cmd/protoc-gen-go-tetragon/ @willfindlay

# Request a review from William when CI is edited
.github/workflows/ @willfindlay

# Request a review from kkourt when core sensor files are modified
pkg/src/sensors/ @kkourt

# Request a review from mtardy when anything from docs is modified but do not
# block on approval from anyone in the tetragon team
/docs/ @mtardy @cilium/tetragon
