Repository cilium/tetragon, changes with the owners that CODEOWNERS names for each.
All owners: @cilium/tetragon, @willfindlay, @kkourt, @mtardy

CODEOWNERS:

# Request a review from the Tetragon team on any PR
* @cilium/tetragon

# Request a review from William when codegen is edited
cmd/protoc-gen-go-tetragon/ @willfindlay

# Request a review from William when CI is edited
.github/workflows/ @willfindlay

# Request a review from kkourt when core sensor files are modified
pkg/src/sensors/ @kkourt

# Request a review from mtardy when anything from docs is modified but do not
# block on approval from anyone in the tetragon team
/docs/ @mtardy @cilium/tetragon

tetragon: Add usdt.h from libbpf/usdt
  contrib/tester-progs/usdt.h
Owners: @cilium/tetragon

fix: Force-remove tetragon-clang container for the tetragon-bpf target.
  Makefile
Owners: @cilium/tetragon

selectors: update docs
  docs/content/en/docs/concepts/tracing-policy/selectors.md
  install/kubernetes/tetragon/crds-yaml/cilium.io_tracingpolicies.yaml
  install/kubernetes/tetragon/crds-yaml/cilium.io_tracingpoliciesnamespaced.yaml
  pkg/k8s/apis/cilium.io/client/crds/v1alpha1/cilium.io_tracingpolicies.yaml
  pkg/k8s/apis/cilium.io/client/crds/v1alpha1/cilium.io_tracingpoliciesnamespaced.yaml
  pkg/k8s/apis/cilium.io/v1alpha1/types.go
  pkg/k8s/apis/cilium.io/v1alpha1/version.go
  vendor/github.com/cilium/tetragon/pkg/k8s/apis/cilium.io/client/crds/v1alpha1/cilium.io_tracingpolicies.yaml
  vendor/github.com/cilium/tetragon/pkg/k8s/apis/cilium.io/client/crds/v1alpha1/cilium.io_tracingpoliciesnamespaced.yaml
  vendor/github.com/cilium/tetragon/pkg/k8s/apis/cilium.io/v1alpha1/types.go
  vendor/github.com/cilium/tetragon/pkg/k8s/apis/cilium.io/v1alpha1/version.go
Owners: @mtardy, @cilium/tetragon

selectors: test for multiple inactive selectors
  pkg/sensors/tracing/selectors_test.go
Owners: @cilium/tetragon

bpf: fix issue with multiple inactive selectors
  bpf/process/generic_calls.h
Owners: @cilium/tetragon

tetragon: Add usdt elf interface
  pkg/elf/usdt.go
  pkg/elf/usdt_args.go
  pkg/elf/usdt_args_amd64.go
  pkg/elf/usdt_linux.go
  pkg/elf/usdt_notsupp.go
Owners: @cilium/tetragon

tetragon: Add usdt elf args test
  pkg/elf/usdt_args_amd64_test.go
Owners: @cilium/tetragon

tetragon: Add generic usdt bpf sensor code
  bpf/Makefile
  bpf/lib/msg_types.h
  bpf/process/bpf_generic_usdt.c
  bpf/process/generic_calls.h
Owners: @cilium/tetragon

tetragon: Add codegen and generate changes
  install/kubernetes/tetragon/crds-yaml/cilium.io_tracingpolicies.yaml
  install/kubernetes/tetragon/crds-yaml/cilium.io_tracingpoliciesnamespaced.yaml
  pkg/k8s/apis/cilium.io/client/crds/v1alpha1/cilium.io_tracingpolicies.yaml
  pkg/k8s/apis/cilium.io/client/crds/v1alpha1/cilium.io_tracingpoliciesnamespaced.yaml
  pkg/k8s/apis/cilium.io/v1alpha1/zz_generated.deepcopy.go
  vendor/github.com/cilium/tetragon/pkg/k8s/apis/cilium.io/client/crds/v1alpha1/cilium.io_tracingpolicies.yaml
  vendor/github.com/cilium/tetragon/pkg/k8s/apis/cilium.io/client/crds/v1alpha1/cilium.io_tracingpoliciesnamespaced.yaml
  vendor/github.com/cilium/tetragon/pkg/k8s/apis/cilium.io/v1alpha1/zz_generated.deepcopy.go
Owners: @cilium/tetragon

tetragon: Add detection for uprobe ref_ctr_offset feature
  pkg/bpf/detect_linux.go
Owners: @cilium/tetragon

tetragon: Add usdt argument support
  bpf/include/api.h
  bpf/process/generic_calls.h
  bpf/process/types/basic.h
  pkg/api/tracingapi/client_kprobe.go
  pkg/k8s/apis/cilium.io/v1alpha1/types.go
  pkg/sensors/tracing/genericusdt.go
  vendor/github.com/cilium/tetragon/pkg/k8s/apis/cilium.io/v1alpha1/types.go
Owners: @cilium/tetragon

tetragon: Add TestUsdtLoadSensor test
  pkg/sensors/tracing/usdt_test.go
Owners: @cilium/tetragon

tetragon: Add usdt tracing policy example
  examples/tracingpolicy/usdt.yaml
Owners: @cilium/tetragon

tetragon: Add process usdt message
  api/v1/tetragon/events.proto
  api/v1/tetragon/tetragon.proto
Owners: @cilium/tetragon

tetra: Add tracingpolicy generate usdts command
  cmd/tetra/tracingpolicy/generate/generate.go
  pkg/tracingpolicy/generate/generate.go
Owners: @cilium/tetragon

tetragon: Add usdt spec changes
  pkg/k8s/apis/cilium.io/v1alpha1/tracing_policy_types.go
  pkg/k8s/apis/cilium.io/v1alpha1/types.go
  pkg/k8s/apis/cilium.io/v1alpha1/version.go
  vendor/github.com/cilium/tetragon/pkg/k8s/apis/cilium.io/v1alpha1/tracing_policy_types.go
  vendor/github.com/cilium/tetragon/pkg/k8s/apis/cilium.io/v1alpha1/types.go
  vendor/github.com/cilium/tetragon/pkg/k8s/apis/cilium.io/v1alpha1/version.go
Owners: @cilium/tetragon

tetragon: Add support to decode usdt event in compact mode
  pkg/encoder/encoder.go
Owners: @cilium/tetragon

tetragon: Add process usdt grpc support
  pkg/grpc/tracing/tracing.go
Owners: @cilium/tetragon

tetragon: Add uprobe_multi attachment to usdt sensor
  pkg/sensors/tracing/genericusdt.go
Owners: @cilium/tetragon

tetragon: Add support to configure usdt sensor
  pkg/api/ops/ops.go
  pkg/config/config_linux.go
  pkg/sensors/tracing/genericusdt.go
  pkg/sensors/tracing/policyhandler_linux.go
Owners: @cilium/tetragon

tetragon: Add TestUsdtGeneric test
  pkg/sensors/tracing/usdt_test.go
Owners: @cilium/tetragon

tetragon: Add TestUsdtArgs test
  pkg/sensors/tracing/usdt_test.go
Owners: @cilium/tetragon

tetragon: Add codegen and generate changes
  api/v1/README.md
  api/v1/tetragon/codegen/eventchecker/eventchecker.pb.go
  api/v1/tetragon/codegen/eventchecker/yaml/yaml.pb.go
  api/v1/tetragon/codegen/helpers/helpers.pb.go
  api/v1/tetragon/events.pb.go
  api/v1/tetragon/tetragon.pb.go
  api/v1/tetragon/tetragon.pb.json.go
  api/v1/tetragon/types.pb.go
  contrib/tetragon-rthooks/vendor/github.com/cilium/tetragon/api/v1/tetragon/events.pb.go
  contrib/tetragon-rthooks/vendor/github.com/cilium/tetragon/api/v1/tetragon/events.proto
  contrib/tetragon-rthooks/vendor/github.com/cilium/tetragon/api/v1/tetragon/tetragon.pb.go
  contrib/tetragon-rthooks/vendor/github.com/cilium/tetragon/api/v1/tetragon/tetragon.pb.json.go
  contrib/tetragon-rthooks/vendor/github.com/cilium/tetragon/api/v1/tetragon/tetragon.proto
  contrib/tetragon-rthooks/vendor/github.com/cilium/tetragon/api/v1/tetragon/types.pb.go
  docs/content/en/docs/reference/grpc-api.md
  docs/content/en/docs/reference/metrics.md
  install/kubernetes/tetragon/crds-yaml/cilium.io_tracingpolicies.yaml
  install/kubernetes/tetragon/crds-yaml/cilium.io_tracingpoliciesnamespaced.yaml
  pkg/k8s/apis/cilium.io/client/crds/v1alpha1/cilium.io_tracingpolicies.yaml
  pkg/k8s/apis/cilium.io/client/crds/v1alpha1/cilium.io_tracingpoliciesnamespaced.yaml
  pkg/k8s/apis/cilium.io/v1alpha1/zz_generated.deepcopy.go
  vendor/github.com/cilium/tetragon/api/v1/tetragon/codegen/eventchecker/eventchecker.pb.go
  vendor/github.com/cilium/tetragon/api/v1/tetragon/codegen/eventchecker/yaml/yaml.pb.go
  vendor/github.com/cilium/tetragon/api/v1/tetragon/codegen/helpers/helpers.pb.go
  vendor/github.com/cilium/tetragon/api/v1/tetragon/events.pb.go
  vendor/github.com/cilium/tetragon/api/v1/tetragon/events.proto
  vendor/github.com/cilium/tetragon/api/v1/tetragon/tetragon.pb.go
  vendor/github.com/cilium/tetragon/api/v1/tetragon/tetragon.pb.json.go
  vendor/github.com/cilium/tetragon/api/v1/tetragon/tetragon.proto
  vendor/github.com/cilium/tetragon/api/v1/tetragon/types.pb.go
  vendor/github.com/cilium/tetragon/pkg/k8s/apis/cilium.io/client/crds/v1alpha1/cilium.io_tracingpolicies.yaml
  vendor/github.com/cilium/tetragon/pkg/k8s/apis/cilium.io/client/crds/v1alpha1/cilium.io_tracingpoliciesnamespaced.yaml
  vendor/github.com/cilium/tetragon/pkg/k8s/apis/cilium.io/v1alpha1/zz_generated.deepcopy.go
Owners: @cilium/tetragon, @mtardy

tetragon: Add usdt docs
  docs/content/en/docs/concepts/tracing-policy/hooks.md
Owners: @mtardy, @cilium/tetragon

test: optimize kprobe rate limit tests with perfring framework fixes #2690
  pkg/sensors/tracing/kprobe_test.go
Owners: @cilium/tetragon

selectors: update docs
  docs/content/en/docs/concepts/tracing-policy/selectors.md
  install/kubernetes/tetragon/crds-yaml/cilium.io_tracingpolicies.yaml
  install/kubernetes/tetragon/crds-yaml/cilium.io_tracingpoliciesnamespaced.yaml
  pkg/k8s/apis/cilium.io/client/crds/v1alpha1/cilium.io_tracingpolicies.yaml
  pkg/k8s/apis/cilium.io/client/crds/v1alpha1/cilium.io_tracingpoliciesnamespaced.yaml
  pkg/k8s/apis/cilium.io/v1alpha1/types.go
  pkg/k8s/apis/cilium.io/v1alpha1/version.go
  vendor/github.com/cilium/tetragon/pkg/k8s/apis/cilium.io/client/crds/v1alpha1/cilium.io_tracingpolicies.yaml
  vendor/github.com/cilium/tetragon/pkg/k8s/apis/cilium.io/client/crds/v1alpha1/cilium.io_tracingpoliciesnamespaced.yaml
  vendor/github.com/cilium/tetragon/pkg/k8s/apis/cilium.io/v1alpha1/types.go
  vendor/github.com/cilium/tetragon/pkg/k8s/apis/cilium.io/v1alpha1/version.go
Owners: @mtardy, @cilium/tetragon

selectors: test for multiple inactive selectors
  pkg/sensors/tracing/selectors_test.go
Owners: @cilium/tetragon

bpf: fix issue with multiple inactive selectors
  bpf/process/generic_calls.h
Owners: @cilium/tetragon

Prepare for v1.5.0 release
  contrib/upgrade-notes/v1.5.0.md
  docs/config/_default/hugo.toml
  docs/content/en/docs/reference/helm-chart.md
  install/kubernetes/tetragon/Chart.yaml
  install/kubernetes/tetragon/README.md
  install/kubernetes/tetragon/values.yaml
Owners: @cilium/tetragon, @mtardy

Prepare for v1.5.0 release
  contrib/upgrade-notes/v1.5.0.md
  docs/config/_default/hugo.toml
  docs/content/en/docs/reference/helm-chart.md
  install/kubernetes/tetragon/Chart.yaml
  install/kubernetes/tetragon/README.md
  install/kubernetes/tetragon/values.yaml
Owners: @cilium/tetragon, @mtardy

renovate: add v1.5 and remove 1.2
  .github/renovate.json5
Owners: @cilium/tetragon

k8s: change schema version to 1.6.0
  pkg/k8s/apis/cilium.io/v1alpha1/version.go
  vendor/github.com/cilium/tetragon/pkg/k8s/apis/cilium.io/v1alpha1/version.go
Owners: @cilium/tetragon

k8s: change schema version to 1.6.0
  pkg/k8s/apis/cilium.io/v1alpha1/version.go
  vendor/github.com/cilium/tetragon/pkg/k8s/apis/cilium.io/v1alpha1/version.go
Owners: @cilium/tetragon

renovate: add v1.5 and remove 1.2
  .github/renovate.json5
Owners: @cilium/tetragon

tetragon: Add usdt.h from libbpf/usdt
  contrib/tester-progs/usdt.h
Owners: @cilium/tetragon

tetragon: Add new SafeELFFile helpers
  pkg/elf/file.go
Owners: @cilium/tetragon

tetragon: Add usdt test binary
  contrib/tester-progs/Makefile
  contrib/tester-progs/usdt.c
Owners: @cilium/tetragon

tetragon: Add generic usdt bpf sensor code
  bpf/Makefile
  bpf/lib/msg_types.h
  bpf/process/bpf_generic_usdt.c
  bpf/process/generic_calls.h
Owners: @cilium/tetragon

tetragon: Add usdt elf args test
  pkg/elf/usdt_args_amd64_test.go
Owners: @cilium/tetragon

tetragon: Add usdt elf interface
  pkg/elf/usdt.go
  pkg/elf/usdt_args.go
  pkg/elf/usdt_args_amd64.go
  pkg/elf/usdt_linux.go
  pkg/elf/usdt_notsupp.go
Owners: @cilium/tetragon
