Repository cilium/tetragon, changes with the owners that CODEOWNERS names for each.
All owners: @cilium/tetragon, @willfindlay, @kkourt, @mtardy

tetragon: display tainted flags when loading modules
  bpf/process/types/basic.h
  bpf/process/types/module.h
  pkg/api/tracingapi/client_kprobe.go
  pkg/grpc/tracing/tracing.go
  pkg/reader/kernel/kernel.go
  pkg/sensors/tracing/generickprobe.go
Owners: @cilium/tetragon

api: add module so we can hook anywhere around modules
  pkg/k8s/apis/cilium.io/client/crds/v1alpha1/cilium.io_tracingpolicies.yaml
  pkg/k8s/apis/cilium.io/client/crds/v1alpha1/cilium.io_tracingpoliciesnamespaced.yaml
  pkg/k8s/apis/cilium.io/v1alpha1/register.go
  pkg/k8s/apis/cilium.io/v1alpha1/types.go
  vendor/github.com/cilium/tetragon/pkg/k8s/apis/cilium.io/client/crds/v1alpha1/cilium.io_tracingpolicies.yaml
  vendor/github.com/cilium/tetragon/pkg/k8s/apis/cilium.io/client/crds/v1alpha1/cilium.io_tracingpoliciesnamespaced.yaml
  vendor/github.com/cilium/tetragon/pkg/k8s/apis/cilium.io/v1alpha1/register.go
  vendor/github.com/cilium/tetragon/pkg/k8s/apis/cilium.io/v1alpha1/types.go
Owners: @cilium/tetragon

bpf: add module struct support
  bpf/process/types/basic.h
  pkg/api/tracingapi/client_kprobe.go
  pkg/btf/validation.go
  pkg/generictypes/generictypes.go
  pkg/grpc/tracing/tracing.go
  pkg/sensors/tracing/generickprobe.go
Owners: @cilium/tetragon

use-case: tracing policy to trace load/unload kernel modules operations
  examples/tracingpolicy/host-changes/monitor-kernel-modules.yaml
Owners: @cilium/tetragon

tetragon: Add metric to report rate limited events
  pkg/metrics/config/initmetrics.go
  pkg/metrics/ratelimitmetrics/ratelimitmetrics.go
  pkg/ratelimit/ratelimit.go
Owners: @cilium/tetragon

docs: add monitor kernel modules use case
  docs/content/en/docs/use-cases/host-system-changes/_index.md
  docs/content/en/docs/use-cases/host-system-changes/linux-kernel-modules.md
  docs/content/en/docs/use-cases/security-profiles/_index.md
Owners: @mtardy, @cilium/tetragon

tests: test module hooks stability
  pkg/sensors/tracing/kprobe_test.go
Owners: @cilium/tetragon

tests: add load/unload kernel module on Ubuntu systems only
  pkg/sensors/tracing/kprobe_test.go
Owners: @cilium/tetragon

use-case: add policy to use load_info and report if module is signed
  examples/tracingpolicy/host-changes/monitor-signed-kernel-modules.yaml
Owners: @cilium/tetragon

docs: detect if kernel modules are properly signed
  docs/content/en/docs/use-cases/host-system-changes/linux-kernel-modules.md
Owners: @mtardy, @cilium/tetragon

test: assert module signature verification succeeded
  pkg/sensors/tracing/kprobe_test.go
Owners: @cilium/tetragon

bpf: add module struct support
  bpf/process/types/basic.h
  pkg/api/tracingapi/client_kprobe.go
  pkg/btf/validation.go
  pkg/generictypes/generictypes.go
  pkg/grpc/tracing/tracing.go
  pkg/sensors/tracing/generickprobe.go
Owners: @cilium/tetragon

tetragon: display tainted flags when loading modules
  bpf/process/types/basic.h
  bpf/process/types/module.h
  pkg/api/tracingapi/client_kprobe.go
  pkg/grpc/tracing/tracing.go
  pkg/reader/kernel/kernel.go
  pkg/sensors/tracing/generickprobe.go
Owners: @cilium/tetragon

api: add KernelModule object to trace module operations
  api/v1/README.md
  api/v1/tetragon/codegen/eventchecker/eventchecker.pb.go
  api/v1/tetragon/tetragon.pb.go
  api/v1/tetragon/tetragon.pb.json.go
  api/v1/tetragon/tetragon.proto
  cmd/protoc-gen-go-tetragon/common/common.go
  docs/content/en/docs/reference/grpc-api.md
  vendor/github.com/cilium/tetragon/api/v1/tetragon/codegen/eventchecker/eventchecker.pb.go
  vendor/github.com/cilium/tetragon/api/v1/tetragon/tetragon.pb.go
  vendor/github.com/cilium/tetragon/api/v1/tetragon/tetragon.pb.json.go
  vendor/github.com/cilium/tetragon/api/v1/tetragon/tetragon.proto
Owners: @cilium/tetragon, @willfindlay, @mtardy

tests: test module hooks stability
  pkg/sensors/tracing/kprobe_test.go
Owners: @cilium/tetragon

docs: add monitor kernel modules use case
  docs/content/en/docs/use-cases/host-system-changes/_index.md
  docs/content/en/docs/use-cases/host-system-changes/linux-kernel-modules.md
  docs/content/en/docs/use-cases/security-profiles/_index.md
Owners: @mtardy, @cilium/tetragon

tests: add load/unload kernel module on Ubuntu systems only
  pkg/sensors/tracing/kprobe_test.go
Owners: @cilium/tetragon

test: assert module signature verification succeeded
  pkg/sensors/tracing/kprobe_test.go
Owners: @cilium/tetragon

api: add load_info to tracing policies
  pkg/k8s/apis/cilium.io/client/crds/v1alpha1/cilium.io_tracingpolicies.yaml
  pkg/k8s/apis/cilium.io/client/crds/v1alpha1/cilium.io_tracingpoliciesnamespaced.yaml
  pkg/k8s/apis/cilium.io/v1alpha1/register.go
  pkg/k8s/apis/cilium.io/v1alpha1/types.go
  vendor/github.com/cilium/tetragon/pkg/k8s/apis/cilium.io/client/crds/v1alpha1/cilium.io_tracingpolicies.yaml
  vendor/github.com/cilium/tetragon/pkg/k8s/apis/cilium.io/client/crds/v1alpha1/cilium.io_tracingpoliciesnamespaced.yaml
  vendor/github.com/cilium/tetragon/pkg/k8s/apis/cilium.io/v1alpha1/register.go
  vendor/github.com/cilium/tetragon/pkg/k8s/apis/cilium.io/v1alpha1/types.go
Owners: @cilium/tetragon

bpf:kprobe: add support for load_info modules
  bpf/process/types/basic.h
  bpf/process/types/module.h
  pkg/api/tracingapi/client_kprobe.go
  pkg/btf/validation.go
  pkg/generictypes/generictypes.go
  pkg/grpc/tracing/tracing.go
  pkg/sensors/tracing/generickprobe.go
Owners: @cilium/tetragon

use-case: add policy to use load_info and report if module is signed
  examples/tracingpolicy/host-changes/monitor-signed-kernel-modules.yaml
Owners: @cilium/tetragon

docs: detect if kernel modules are properly signed
  docs/content/en/docs/use-cases/host-system-changes/linux-kernel-modules.md
Owners: @mtardy, @cilium/tetragon

use-case: tracing policy to trace load/unload kernel modules operations
  examples/tracingpolicy/host-changes/monitor-kernel-modules.yaml
Owners: @cilium/tetragon

api: add module so we can hook anywhere around modules
  pkg/k8s/apis/cilium.io/client/crds/v1alpha1/cilium.io_tracingpolicies.yaml
  pkg/k8s/apis/cilium.io/client/crds/v1alpha1/cilium.io_tracingpoliciesnamespaced.yaml
  pkg/k8s/apis/cilium.io/v1alpha1/register.go
  pkg/k8s/apis/cilium.io/v1alpha1/types.go
  vendor/github.com/cilium/tetragon/pkg/k8s/apis/cilium.io/client/crds/v1alpha1/cilium.io_tracingpolicies.yaml
  vendor/github.com/cilium/tetragon/pkg/k8s/apis/cilium.io/client/crds/v1alpha1/cilium.io_tracingpoliciesnamespaced.yaml
  vendor/github.com/cilium/tetragon/pkg/k8s/apis/cilium.io/v1alpha1/register.go
  vendor/github.com/cilium/tetragon/pkg/k8s/apis/cilium.io/v1alpha1/types.go
Owners: @cilium/tetragon

arg matches: convert string postfix to LPM TRIE
  bpf/process/string_maps.h
  bpf/process/types/basic.h
  pkg/selectors/kernel.go
  pkg/selectors/selectors.go
  pkg/sensors/tracing/generickprobe.go
  pkg/sensors/tracing/generictracepoint.go
  pkg/sensors/tracing/kprobe_test.go
  pkg/sensors/tracing/selectors.go
Owners: @cilium/tetragon

arg matches: convert file/fd match to hash
  bpf/process/types/basic.h
  pkg/selectors/kernel.go
Owners: @cilium/tetragon

arg matches: convert file pre/postfix to look ups
  bpf/process/types/basic.h
  pkg/selectors/kernel.go
  pkg/sensors/tracing/kprobe_test.go
Owners: @cilium/tetragon

arg matches: convert string prefix to LPM TRIE
  bpf/process/string_maps.h
  bpf/process/types/basic.h
  pkg/selectors/kernel.go
  pkg/selectors/selectors.go
  pkg/sensors/tracing/generickprobe.go
  pkg/sensors/tracing/generictracepoint.go
  pkg/sensors/tracing/selectors.go
Owners: @cilium/tetragon

arg matches: string NotEqual/NotPrefix/NotPostfix
  bpf/process/types/basic.h
  pkg/selectors/kernel.go
Owners: @cilium/tetragon

arg matches: raise postfix match length <5.4
  bpf/process/string_maps.h
Owners: @cilium/tetragon

arg matches: convert string match to hash lookup
  bpf/process/string_maps.h
  bpf/process/types/basic.h
  examples/tracingpolicy/hardlink-observe.yaml
  examples/tracingpolicy/hardlink-override.yaml
  examples/tracingpolicy/openat_write.yaml
  examples/tracingpolicy/symlink-observe.yaml
  examples/tracingpolicy/symlink-override.yaml
  pkg/selectors/kernel.go
  pkg/selectors/kernel_test.go
  pkg/selectors/selectors.go
  pkg/sensors/tracing/generickprobe.go
  pkg/sensors/tracing/generictracepoint.go
  pkg/sensors/tracing/kprobe_test.go
  pkg/sensors/tracing/selectors.go
Owners: @cilium/tetragon

Update module github.com/pelletier/go-toml/v2 to v2.1.0
  go.mod
  go.sum
  vendor/github.com/pelletier/go-toml/v2/.goreleaser.yaml
  vendor/github.com/pelletier/go-toml/v2/LICENSE
  vendor/github.com/pelletier/go-toml/v2/README.md
  vendor/github.com/pelletier/go-toml/v2/ci.sh
  vendor/github.com/pelletier/go-toml/v2/decode.go
  vendor/github.com/pelletier/go-toml/v2/marshaler.go
  vendor/github.com/pelletier/go-toml/v2/unmarshaler.go
  vendor/github.com/pelletier/go-toml/v2/unstable/parser.go
  vendor/modules.txt
Owners: @cilium/tetragon

Update module github.com/pelletier/go-toml/v2 to v2.1.0
  go.mod
  go.sum
  vendor/github.com/pelletier/go-toml/v2/.goreleaser.yaml
  vendor/github.com/pelletier/go-toml/v2/LICENSE
  vendor/github.com/pelletier/go-toml/v2/README.md
  vendor/github.com/pelletier/go-toml/v2/ci.sh
  vendor/github.com/pelletier/go-toml/v2/decode.go
  vendor/github.com/pelletier/go-toml/v2/marshaler.go
  vendor/github.com/pelletier/go-toml/v2/unmarshaler.go
  vendor/github.com/pelletier/go-toml/v2/unstable/parser.go
  vendor/modules.txt
Owners: @cilium/tetragon

bpf: fix verification error in bpf_execve_event
  bpf/process/data_event.h
Owners: @cilium/tetragon

bpf: fix verification error in bpf_execve_event
  bpf/process/data_event.h
Owners: @cilium/tetragon

bpf-rate-limit: remove size limits
  bpf/process/types/basic.h
Owners: @cilium/tetragon

bpf-rate-limit: support IPv6
  bpf/process/types/basic.h
Owners: @cilium/tetragon

Refactor files under operator directory
  operator/cmd/root.go
  operator/main.go
  operator/option/config.go
  pkg/cmdref/cmdref.go
Owners: @cilium/tetragon

Allow multiple installations of the Tetragon Helm chart
  install/kubernetes/templates/clusterrole.yaml
  install/kubernetes/templates/clusterrolebinding.yml
  install/kubernetes/templates/daemonset.yaml
  install/kubernetes/templates/operator_clusterrole.yaml
  install/kubernetes/templates/operator_clusterrolebinding.yaml
  install/kubernetes/templates/operator_configmap.yaml
  install/kubernetes/templates/operator_deployment.yaml
  install/kubernetes/templates/operator_serviceaccount.yaml
  install/kubernetes/templates/service.yaml
  install/kubernetes/templates/serviceaccount.yaml
  install/kubernetes/templates/tetragon_configmap.yaml
Owners: @cilium/tetragon

Revert "Update module github.com/pelletier/go-toml/v2 to v2.1.0"
  go.mod
  go.sum
  vendor/github.com/pelletier/go-toml/v2/.goreleaser.yaml
  vendor/github.com/pelletier/go-toml/v2/LICENSE
  vendor/github.com/pelletier/go-toml/v2/README.md
  vendor/github.com/pelletier/go-toml/v2/ci.sh
  vendor/github.com/pelletier/go-toml/v2/decode.go
  vendor/github.com/pelletier/go-toml/v2/marshaler.go
  vendor/github.com/pelletier/go-toml/v2/unmarshaler.go
  vendor/github.com/pelletier/go-toml/v2/unstable/parser.go
  vendor/modules.txt
Owners: @cilium/tetragon

CODEOWNERS:

# Request a review from the Tetragon team on any PR
* @cilium/tetragon

# Request a review from William when codegen is edited
cmd/protoc-gen-go-tetragon/ @willfindlay

# Request a review from William when CI is edited
.github/workflows/ @willfindlay

# Request a review from kkourt when core sensor files are modified
pkg/src/sensors/ @kkourt

# Request a review from mtardy when anything from docs is modified but do not
# block on approval from anyone in the tetragon team
/docs/ @mtardy @cilium/tetragon
