Repository cilium/tetragon, changes with the owners that CODEOWNERS names for each.
All owners: @cilium/tetragon, @willfindlay, @kkourt, @mtardy

cleanup(pkg/sensors): port kprobe sensor to new DupInstance code.
  pkg/sensors/tracing/generickprobe.go
Owners: @cilium/tetragon

cleanup(pkg/sensors): port lsm sensor to new DupInstance code.
  pkg/sensors/tracing/genericlsm.go
Owners: @cilium/tetragon

new(pkg/sensors): introduce structure to manage sensor dups.
  pkg/sensors/tracing/generic.go
Owners: @cilium/tetragon

cleanup(pkg/sensors): port lsm sensor to new DupInstance code.
  pkg/sensors/tracing/genericlsm.go
Owners: @cilium/tetragon

cleanup(pkg/sensors): port kprobe sensor to new DupInstance code.
  pkg/sensors/tracing/generickprobe.go
Owners: @cilium/tetragon

Make size of the deleted pod cache configurable, with default 1024
  docs/content/en/docs/reference/helm-chart.md
  docs/data/tetragon_flags.yaml
  examples/configuration/tetragon.yaml
  install/kubernetes/tetragon/README.md
  install/kubernetes/tetragon/templates/tetragon_configmap.yaml
  install/kubernetes/tetragon/values.yaml
  pkg/constants/constants.go
  pkg/option/config.go
  pkg/option/flags.go
  pkg/watcher/deleted_pod_cache.go
Owners: @mtardy, @cilium/tetragon

Add tests that verify deleted pod cache metrics and behavior
  pkg/watcher/deleted_pod_cache_test.go
Owners: @cilium/tetragon

Log entries evicted from deleted pod lru at debug level
  pkg/watcher/deleted_pod_cache.go
Owners: @cilium/tetragon

Add metrics to count items evicted from the deleted pod cache
  docs/content/en/docs/reference/metrics.md
  pkg/metrics/watchermetrics/watchermetrics.go
  pkg/watcher/deleted_pod_cache.go
Owners: @mtardy, @cilium/tetragon

fix(tetra): read large stdin event lines
  cmd/tetra/getevents/io_reader_client.go
  cmd/tetra/getevents/io_reader_client_test.go
Owners: @cilium/tetragon

new(cmd/tetra): ported `policytest` to make use of `option.Enum`.
  cmd/tetra/policytest/policytest.go
Owners: @cilium/tetragon

new(cmd/tetra): ported `explain` to make use of `option.Enum`.
  cmd/tetra/explain/explain.go
Owners: @cilium/tetragon

new(cmd/tetra): ported `getevents` to make use of `option.Enum`.
  cmd/tetra/getevents/getevents.go
Owners: @cilium/tetragon

new(cmd/tetra): ported `tracingpolicy` to make use of `option.Enum`.
  cmd/tetra/tracingpolicy/tracingpolicy.go
Owners: @cilium/tetragon

new(pkg/option): added support for enum-like cobra flags.
  pkg/option/enum.go
  pkg/option/enum_test.go
Owners: @cilium/tetragon

Add file-backed tracing policy store
  pkg/policystore/format.go
  pkg/policystore/store.go
Owners: @cilium/tetragon

Test the file-backed tracing policy store
  pkg/policystore/store_test.go
Owners: @cilium/tetragon

fix(tetra): read large stdin event lines
  cmd/tetra/getevents/io_reader_client.go
  cmd/tetra/getevents/io_reader_client_test.go
Owners: @cilium/tetragon

Add metrics to count items evicted from the deleted pod cache
  docs/content/en/docs/reference/metrics.md
  pkg/metrics/watchermetrics/watchermetrics.go
  pkg/watcher/deleted_pod_cache.go
Owners: @mtardy, @cilium/tetragon

Log entries evicted from deleted pod lru at debug level
  pkg/watcher/deleted_pod_cache.go
Owners: @cilium/tetragon

Make size of the deleted pod cache configurable, with default 1024
  docs/content/en/docs/reference/helm-chart.md
  docs/data/tetragon_flags.yaml
  examples/configuration/tetragon.yaml
  install/kubernetes/tetragon/README.md
  install/kubernetes/tetragon/templates/tetragon_configmap.yaml
  install/kubernetes/tetragon/values.yaml
  pkg/constants/constants.go
  pkg/option/config.go
  pkg/option/flags.go
  pkg/watcher/deleted_pod_cache.go
Owners: @mtardy, @cilium/tetragon

Add tests that verify deleted pod cache metrics and behavior
  pkg/watcher/deleted_pod_cache_test.go
Owners: @cilium/tetragon

pkg/encoder: escape untrusted strings from events
  pkg/encoder/color.go
  pkg/encoder/encoder.go
Owners: @cilium/tetragon

pkg/encoder: add regression test for escaping special chars
  pkg/encoder/encoder_test.go
Owners: @cilium/tetragon

pkg/encoder: escape untrusted strings from events
  pkg/encoder/color.go
  pkg/encoder/encoder.go
Owners: @cilium/tetragon

pkg/encoder: add regression test for escaping special chars
  pkg/encoder/encoder_test.go
Owners: @cilium/tetragon

pkg/encoder: escape untrusted strings from events
  pkg/encoder/color.go
  pkg/encoder/encoder.go
Owners: @cilium/tetragon

pkg/encoder: add regression test for escaping special chars
  pkg/encoder/encoder_test.go
Owners: @cilium/tetragon

pkg/encoder: escape untrusted strings from events
  pkg/encoder/color.go
  pkg/encoder/encoder.go
Owners: @cilium/tetragon

pkg/encoder: add regression test for escaping special chars
  pkg/encoder/encoder_test.go
Owners: @cilium/tetragon

types: add Ignore for uprobe spec
  pkg/k8s/apis/cilium.io/v1alpha1/types.go
  pkg/k8s/apis/cilium.io/v1alpha1/version.go
Owners: @cilium/tetragon

uprobe: update BinaryDigest config docs
  docs/content/en/docs/concepts/tracing-policy/hooks.md
  pkg/k8s/apis/cilium.io/v1alpha1/types.go
  pkg/k8s/apis/cilium.io/v1alpha1/version.go
Owners: @mtardy, @cilium/tetragon

sensors: add ability to report hook status
  pkg/sensors/delayed_sensor_test.go
  pkg/sensors/handler.go
  pkg/sensors/sensors.go
Owners: @cilium/tetragon

docs: run "make gen-docs-references"
  docs/content/en/docs/reference/metrics.md
  docs/content/en/docs/reference/tracing-policy.md
Owners: @mtardy, @cilium/tetragon

sensors.proto: add partially loaded TP state
  api/v1/tetragon/sensors.proto
Owners: @cilium/tetragon

uprobe: allow partial policy loads
  pkg/sensors/tracing/genericuprobe.go
Owners: @cilium/tetragon

pkg/k8s: run "make crds"
  install/kubernetes/tetragon/crds-yaml/cilium.io_tracingpolicies.yaml
  install/kubernetes/tetragon/crds-yaml/cilium.io_tracingpoliciesnamespaced.yaml
  pkg/k8s/apis/cilium.io/client/crds/v1alpha1/cilium.io_tracingpolicies.yaml
  pkg/k8s/apis/cilium.io/client/crds/v1alpha1/cilium.io_tracingpoliciesnamespaced.yaml
  pkg/k8s/apis/cilium.io/v1alpha1/zz_generated.deepcopy.go
  vendor/github.com/cilium/tetragon/pkg/k8s/apis/cilium.io/client/crds/v1alpha1/cilium.io_tracingpolicies.yaml
  vendor/github.com/cilium/tetragon/pkg/k8s/apis/cilium.io/client/crds/v1alpha1/cilium.io_tracingpoliciesnamespaced.yaml
  vendor/github.com/cilium/tetragon/pkg/k8s/apis/cilium.io/v1alpha1/types.go
  vendor/github.com/cilium/tetragon/pkg/k8s/apis/cilium.io/v1alpha1/version.go
  vendor/github.com/cilium/tetragon/pkg/k8s/apis/cilium.io/v1alpha1/zz_generated.deepcopy.go
Owners: @cilium/tetragon

tracingpolicy: include policy hook status in API
  api/v1/tetragon/sensors.proto
Owners: @cilium/tetragon

sensors: add partially loaded state
  pkg/metrics/policymetrics/policymetrics.go
  pkg/metrics/policymetrics/policymetrics_test.go
  pkg/sensors/collection.go
  pkg/sensors/handler.go
Owners: @cilium/tetragon

api: run "make protogen"
  api/v1/README.md
  api/v1/tetragon/sensors.pb.go
  api/v1/tetragon/sensors.pb.json.go
  contrib/tetragon-rthooks/vendor/github.com/cilium/tetragon/api/v1/tetragon/sensors.pb.go
  contrib/tetragon-rthooks/vendor/github.com/cilium/tetragon/api/v1/tetragon/sensors.pb.json.go
  contrib/tetragon-rthooks/vendor/github.com/cilium/tetragon/api/v1/tetragon/sensors.proto
  docs/content/en/docs/reference/grpc-api.md
  vendor/github.com/cilium/tetragon/api/v1/tetragon/sensors.pb.go
  vendor/github.com/cilium/tetragon/api/v1/tetragon/sensors.pb.json.go
  vendor/github.com/cilium/tetragon/api/v1/tetragon/sensors.proto
Owners: @cilium/tetragon, @mtardy

CODEOWNERS:

# Request a review from the Tetragon team on any PR
* @cilium/tetragon

# Request a review from William when codegen is edited
cmd/protoc-gen-go-tetragon/ @willfindlay

# Request a review from William when CI is edited
.github/workflows/ @willfindlay

# Request a review from kkourt when core sensor files are modified
pkg/src/sensors/ @kkourt

# Request a review from mtardy when anything from docs is modified but do not
# block on approval from anyone in the tetragon team
/docs/ @mtardy @cilium/tetragon
