Repository cilium/tetragon, changes with the owners that CODEOWNERS names for each.
All owners: @cilium/tetragon, @willfindlay, @kkourt, @mtardy

CODEOWNERS:

# Request a review from the Tetragon team on any PR
* @cilium/tetragon

# Request a review from William when codegen is edited
cmd/protoc-gen-go-tetragon/ @willfindlay

# Request a review from William when CI is edited
.github/workflows/ @willfindlay

# Request a review from kkourt when core sensor files are modified
pkg/src/sensors/ @kkourt

# Request a review from mtardy when anything from docs is modified but do not
# block on approval from anyone in the tetragon team
/docs/ @mtardy @cilium/tetragon

helm: Improve exportFilePerm doc comment
  docs/content/en/docs/reference/helm-chart.md
  install/kubernetes/tetragon/README.md
  install/kubernetes/tetragon/values.yaml
Owners: @mtardy, @cilium/tetragon

helm: Update docs comment for dnsPolicy value
  docs/content/en/docs/reference/helm-chart.md
  install/kubernetes/tetragon/README.md
  install/kubernetes/tetragon/values.yaml
Owners: @mtardy, @cilium/tetragon

helm: Remove exportFileCreationInterval value
  docs/content/en/docs/reference/helm-chart.md
  install/kubernetes/tetragon/README.md
  install/kubernetes/tetragon/values.yaml
Owners: @mtardy, @cilium/tetragon

docs: update filename access section of the docs
  docs/content/en/docs/use-cases/filename-access.md
Owners: @mtardy, @cilium/tetragon

rthook: finish renovate config update due to rename
  .github/renovate.json5
Owners: @cilium/tetragon

rthook: finish renovate config update due to rename
  .github/renovate.json5
Owners: @cilium/tetragon

tetragon: Add --bpf-dir option
  cmd/tetragon/main.go
  docs/data/tetragon_flags.yaml
  pkg/option/config.go
  pkg/option/flags.go
Owners: @cilium/tetragon, @mtardy

tetragon: Add support to pin fmodret links
  pkg/sensors/program/loader.go
Owners: @cilium/tetragon

tetragon: Add HasLinkPin function
  cmd/tetragon/main.go
  pkg/bpf/detect.go
Owners: @cilium/tetragon

tetragon: Add support to pin tracepoint links
  pkg/sensors/program/loader.go
Owners: @cilium/tetragon

tetragon: Add --keep-sensors-on-exit option
  cmd/tetragon/main.go
  docs/data/tetragon_flags.yaml
  pkg/option/config.go
  pkg/option/flags.go
  pkg/sensors/program/loader.go
  pkg/sensors/program/map.go
  pkg/sensors/unloader/unloader.go
Owners: @cilium/tetragon, @mtardy

tetragon: Add support to pin kprobe multi links
  pkg/sensors/program/loader.go
Owners: @cilium/tetragon

tetragon: Add support to pin kprobe links
  pkg/sensors/program/loader.go
Owners: @cilium/tetragon

tetragon: Add local ebpf version
  go.mod
  go.sum
  vendor/github.com/cilium/ebpf/.vimto.toml
  vendor/github.com/cilium/ebpf/Makefile
  vendor/github.com/cilium/ebpf/elf_reader.go
  vendor/github.com/cilium/ebpf/features/prog.go
  vendor/github.com/cilium/ebpf/info.go
  vendor/github.com/cilium/ebpf/internal/epoll/poller.go
  vendor/github.com/cilium/ebpf/internal/sys/types.go
  vendor/github.com/cilium/ebpf/link/cgroup.go
  vendor/github.com/cilium/ebpf/link/kprobe.go
  vendor/github.com/cilium/ebpf/link/kprobe_multi.go
  vendor/github.com/cilium/ebpf/link/link.go
  vendor/github.com/cilium/ebpf/link/netfilter.go
  vendor/github.com/cilium/ebpf/link/netkit.go
  vendor/github.com/cilium/ebpf/link/netns.go
  vendor/github.com/cilium/ebpf/link/perf_event.go
  vendor/github.com/cilium/ebpf/link/tcx.go
  vendor/github.com/cilium/ebpf/link/tracepoint.go
  vendor/github.com/cilium/ebpf/link/tracing.go
  vendor/github.com/cilium/ebpf/link/uprobe.go
  vendor/github.com/cilium/ebpf/link/uprobe_multi.go
  vendor/github.com/cilium/ebpf/link/xdp.go
  vendor/github.com/cilium/ebpf/map.go
  vendor/github.com/cilium/ebpf/perf/reader.go
  vendor/github.com/cilium/ebpf/perf/ring.go
  vendor/github.com/cilium/ebpf/run-tests.sh
  vendor/modules.txt
Owners: @cilium/tetragon

tetragon: Add support to pin link
  pkg/sensors/program/loader.go
  pkg/sensors/program/loader_test.go
  pkg/sensors/program/program.go
Owners: @cilium/tetragon

tetragon: Detect move and remove previous bpf instance
  cmd/tetragon/main.go
Owners: @cilium/tetragon

tetragon: Add persistent enforcer tests
  pkg/sensors/tracing/enforcer_test.go
Owners: @cilium/tetragon

filters: implement parent binary export filter
  api/v1/README.md
  api/v1/tetragon/events.pb.go
  api/v1/tetragon/events.proto
  contrib/rthooks/tetragon-oci-hook/vendor/github.com/cilium/tetragon/api/v1/tetragon/events.pb.go
  contrib/rthooks/tetragon-oci-hook/vendor/github.com/cilium/tetragon/api/v1/tetragon/events.proto
  docs/content/en/docs/concepts/events.md
  docs/content/en/docs/reference/grpc-api.md
  pkg/filters/binary_regex.go
  pkg/filters/binary_regex_test.go
  pkg/filters/filters.go
  vendor/github.com/cilium/tetragon/api/v1/tetragon/events.pb.go
  vendor/github.com/cilium/tetragon/api/v1/tetragon/events.proto
Owners: @cilium/tetragon, @mtardy

filters: implement parent binary export filter
  api/v1/README.md
  api/v1/tetragon/events.pb.go
  api/v1/tetragon/events.proto
  contrib/rthooks/tetragon-oci-hook/vendor/github.com/cilium/tetragon/api/v1/tetragon/events.pb.go
  contrib/rthooks/tetragon-oci-hook/vendor/github.com/cilium/tetragon/api/v1/tetragon/events.proto
  docs/content/en/docs/concepts/events.md
  docs/content/en/docs/reference/grpc-api.md
  pkg/filters/binary_regex.go
  pkg/filters/binary_regex_test.go
  pkg/filters/filters.go
  vendor/github.com/cilium/tetragon/api/v1/tetragon/events.pb.go
  vendor/github.com/cilium/tetragon/api/v1/tetragon/events.proto
Owners: @cilium/tetragon, @mtardy

tetragon: Add persistent enforcer tests
  pkg/sensors/tracing/enforcer_test.go
Owners: @cilium/tetragon

tetragon: Add local ebpf version
  go.mod
  go.sum
  vendor/github.com/cilium/ebpf/.vimto.toml
  vendor/github.com/cilium/ebpf/Makefile
  vendor/github.com/cilium/ebpf/elf_reader.go
  vendor/github.com/cilium/ebpf/features/prog.go
  vendor/github.com/cilium/ebpf/info.go
  vendor/github.com/cilium/ebpf/internal/epoll/poller.go
  vendor/github.com/cilium/ebpf/internal/sys/types.go
  vendor/github.com/cilium/ebpf/link/cgroup.go
  vendor/github.com/cilium/ebpf/link/kprobe.go
  vendor/github.com/cilium/ebpf/link/kprobe_multi.go
  vendor/github.com/cilium/ebpf/link/link.go
  vendor/github.com/cilium/ebpf/link/netfilter.go
  vendor/github.com/cilium/ebpf/link/netkit.go
  vendor/github.com/cilium/ebpf/link/netns.go
  vendor/github.com/cilium/ebpf/link/perf_event.go
  vendor/github.com/cilium/ebpf/link/tcx.go
  vendor/github.com/cilium/ebpf/link/tracepoint.go
  vendor/github.com/cilium/ebpf/link/tracing.go
  vendor/github.com/cilium/ebpf/link/uprobe.go
  vendor/github.com/cilium/ebpf/link/uprobe_multi.go
  vendor/github.com/cilium/ebpf/link/xdp.go
  vendor/github.com/cilium/ebpf/map.go
  vendor/github.com/cilium/ebpf/perf/reader.go
  vendor/github.com/cilium/ebpf/perf/ring.go
  vendor/github.com/cilium/ebpf/run-tests.sh
  vendor/modules.txt
Owners: @cilium/tetragon

tetragon: Add HasLinkPin function
  cmd/tetragon/main.go
  pkg/bpf/detect.go
Owners: @cilium/tetragon

tetragon: Detect move and remove previous bpf instance
  cmd/tetragon/main.go
Owners: @cilium/tetragon

tetragon: Add support to pin kprobe links
  pkg/sensors/program/loader.go
Owners: @cilium/tetragon

tetragon: Add --keep-sensors-on-exit option
  cmd/tetragon/main.go
  docs/data/tetragon_flags.yaml
  pkg/option/config.go
  pkg/option/flags.go
  pkg/sensors/program/loader.go
  pkg/sensors/program/map.go
  pkg/sensors/unloader/unloader.go
Owners: @cilium/tetragon, @mtardy

tetragon: Add support to pin link
  pkg/sensors/program/loader.go
  pkg/sensors/program/loader_test.go
  pkg/sensors/program/program.go
Owners: @cilium/tetragon

tetragon: Add support to pin kprobe multi links
  pkg/sensors/program/loader.go
Owners: @cilium/tetragon

tetragon: Add --bpf-dir option
  cmd/tetragon/main.go
  docs/data/tetragon_flags.yaml
  pkg/option/config.go
  pkg/option/flags.go
Owners: @cilium/tetragon, @mtardy

tetragon: Add support to pin fmodret links
  pkg/sensors/program/loader.go
Owners: @cilium/tetragon

tetragon: Add support to pin tracepoint links
  pkg/sensors/program/loader.go
Owners: @cilium/tetragon

Fix linter warnings in Dockerfiles
  Dockerfile
  Dockerfile.dev
  Dockerfile.operator
  Dockerfile.rthooks
  Dockerfile.tarball
  Dockerfile.test
Owners: @cilium/tetragon

Fix linter warnings in Dockerfiles
  Dockerfile
  Dockerfile.dev
  Dockerfile.operator
  Dockerfile.rthooks
  Dockerfile.tarball
  Dockerfile.test
Owners: @cilium/tetragon

tetragon: small improvement to testing merge sensors
  pkg/testutils/sensors/load.go
Owners: @cilium/tetragon

docs: update filename access section of the docs
  docs/content/en/docs/use-cases/filename-access.md
Owners: @mtardy, @cilium/tetragon

tetragon: small improvement to testing merge sensors
  pkg/testutils/sensors/load.go
Owners: @cilium/tetragon

[btf] Cleanup AddModulesToSpec
  docs/data/tetragon_flags.yaml
  pkg/btf/btf.go
  pkg/btf/validation.go
  pkg/ksyms/ksyms.go
  pkg/option/config.go
  pkg/option/flags.go
  pkg/sensors/program/loader.go
  pkg/sensors/program/program.go
  pkg/sensors/tracing/generickprobe.go
Owners: @mtardy, @cilium/tetragon

tetragon: Add missing package to loader
  pkg/sensors/program/loader.go
Owners: @cilium/tetragon

Fix tetragon build
  pkg/sensors/program/loader.go
Owners: @cilium/tetragon

tetra: ignore deprecation warnings for sensor cmds
  cmd/tetra/sensors/sensors.go
Owners: @cilium/tetragon

autochore: make protogen
  api/v1/README.md
  api/v1/tetragon/sensors.pb.go
  api/v1/tetragon/sensors_grpc.pb.go
  contrib/tetragon-rthooks/vendor/github.com/cilium/tetragon/api/v1/tetragon/sensors.pb.go
  contrib/tetragon-rthooks/vendor/github.com/cilium/tetragon/api/v1/tetragon/sensors.proto
  contrib/tetragon-rthooks/vendor/github.com/cilium/tetragon/api/v1/tetragon/sensors_grpc.pb.go
  docs/content/en/docs/reference/grpc-api.md
  vendor/github.com/cilium/tetragon/api/v1/tetragon/sensors.pb.go
  vendor/github.com/cilium/tetragon/api/v1/tetragon/sensors.proto
  vendor/github.com/cilium/tetragon/api/v1/tetragon/sensors_grpc.pb.go
Owners: @cilium/tetragon, @mtardy
