Repository cilium/tetragon, changes with the owners that CODEOWNERS names for each.
All owners: @cilium/tetragon, @willfindlay, @kkourt, @mtardy

docs: Document hostSelector
  docs/content/en/docs/concepts/tracing-policy/k8s-filtering.md
Owners: @mtardy, @cilium/tetragon

Update tests to reflect the new design of hostSelector
  pkg/cgtracker/test/cgtracker_test.go
  pkg/crdutils/crdutils_test.go
  pkg/policyconf/test/mode_test.go
  pkg/policyfilter/k8s_test.go
  pkg/policyfilter/map_test.go
  pkg/policyfilter/state_test.go
  pkg/sensors/tracing/policyfilter_test.go
  pkg/tracingpolicy/generictracingpolicy_test.go
Owners: @cilium/tetragon

Add tests for hostSelector
  pkg/policyfilter/state_test.go
Owners: @cilium/tetragon

Update e2e tests to exclude host workloads
  tests/e2e/tests/policyfilter/policyfilter_test.go
Owners: @cilium/tetragon

Add support for the hostSelector in the agent
  pkg/labels/labels.go
  pkg/policyfilter/common.go
  pkg/policyfilter/disabled.go
  pkg/policyfilter/map.go
  pkg/policyfilter/policyfilter.go
  pkg/policyfilter/state.go
  pkg/sensors/k8s.go
  pkg/testutils/policyfilter/policyfilter.go
Owners: @cilium/tetragon

eBPF: Add hostSelector support
  bpf/process/policy_filter.h
Owners: @cilium/tetragon

Add hostSelector in the CRD
  docs/content/en/docs/reference/tracing-policy.md
  install/kubernetes/tetragon/crds-yaml/cilium.io_tracingpolicies.yaml
  install/kubernetes/tetragon/crds-yaml/cilium.io_tracingpoliciesnamespaced.yaml
  pkg/k8s/apis/cilium.io/client/crds/v1alpha1/cilium.io_tracingpolicies.yaml
  pkg/k8s/apis/cilium.io/client/crds/v1alpha1/cilium.io_tracingpoliciesnamespaced.yaml
  pkg/k8s/apis/cilium.io/v1alpha1/tracing_policy_types.go
  pkg/k8s/apis/cilium.io/v1alpha1/version.go
  pkg/k8s/apis/cilium.io/v1alpha1/zz_generated.deepcopy.go
  vendor/github.com/cilium/tetragon/pkg/k8s/apis/cilium.io/client/crds/v1alpha1/cilium.io_tracingpolicies.yaml
  vendor/github.com/cilium/tetragon/pkg/k8s/apis/cilium.io/client/crds/v1alpha1/cilium.io_tracingpoliciesnamespaced.yaml
  vendor/github.com/cilium/tetragon/pkg/k8s/apis/cilium.io/v1alpha1/tracing_policy_types.go
  vendor/github.com/cilium/tetragon/pkg/k8s/apis/cilium.io/v1alpha1/version.go
  vendor/github.com/cilium/tetragon/pkg/k8s/apis/cilium.io/v1alpha1/zz_generated.deepcopy.go
Owners: @mtardy, @cilium/tetragon

bpf: Auto-match IPv4 CIDRs against IPv4-mapped IPv6 addresses
  bpf/process/types/basic.h
  bpf/process/types/tuple.h
Owners: @cilium/tetragon

docs: Document IPv4-mapped IPv6 address matching
  docs/content/en/docs/concepts/tracing-policy/selectors.md
Owners: @mtardy, @cilium/tetragon

tests: Add tests for IPv4-mapped IPv6 CIDR matching
  pkg/sensors/tracing/kprobe_net_test.go
Owners: @cilium/tetragon

Revert "tetragon/windows: Fix process_exit event on Windows"
  bpf/windows/process_monitor.c
Owners: @cilium/tetragon

Add matchWorkloads in the CRD
  install/kubernetes/tetragon/crds-yaml/cilium.io_tracingpolicies.yaml
  install/kubernetes/tetragon/crds-yaml/cilium.io_tracingpoliciesnamespaced.yaml
  pkg/k8s/apis/cilium.io/client/crds/v1alpha1/cilium.io_tracingpolicies.yaml
  pkg/k8s/apis/cilium.io/client/crds/v1alpha1/cilium.io_tracingpoliciesnamespaced.yaml
  pkg/k8s/apis/cilium.io/v1alpha1/types.go
  pkg/k8s/apis/cilium.io/v1alpha1/zz_generated.deepcopy.go
  vendor/github.com/cilium/tetragon/pkg/k8s/apis/cilium.io/client/crds/v1alpha1/cilium.io_tracingpolicies.yaml
  vendor/github.com/cilium/tetragon/pkg/k8s/apis/cilium.io/client/crds/v1alpha1/cilium.io_tracingpoliciesnamespaced.yaml
  vendor/github.com/cilium/tetragon/pkg/k8s/apis/cilium.io/v1alpha1/types.go
  vendor/github.com/cilium/tetragon/pkg/k8s/apis/cilium.io/v1alpha1/zz_generated.deepcopy.go
Owners: @cilium/tetragon

Parse matchWorkloads
  pkg/selectors/kernel.go
Owners: @cilium/tetragon

pkg/selectors: fix InMap ranges with upper bound of math.MaxUint64
  pkg/selectors/kernel.go
  pkg/selectors/kernel_test.go
Owners: @cilium/tetragon

docs: document InMap memory usage with range notation
  docs/content/en/docs/concepts/tracing-policy/selectors.md
Owners: @mtardy, @cilium/tetragon

tetragon: Fail properly in OffsetFromAddr function
  pkg/elf/file.go
Owners: @cilium/tetragon

api: add unix socket sockaddr_un fields and regenerate CRDs/docs
  api/v1/README.md
  api/v1/tetragon/codegen/eventchecker/eventchecker.pb.go
  api/v1/tetragon/tetragon.pb.go
  api/v1/tetragon/tetragon.pb.json.go
  api/v1/tetragon/tetragon.proto
  contrib/tetragon-rthooks/vendor/github.com/cilium/tetragon/api/v1/tetragon/tetragon.pb.go
  contrib/tetragon-rthooks/vendor/github.com/cilium/tetragon/api/v1/tetragon/tetragon.pb.json.go
  contrib/tetragon-rthooks/vendor/github.com/cilium/tetragon/api/v1/tetragon/tetragon.proto
  docs/content/en/docs/reference/grpc-api.md
  docs/content/en/docs/reference/tracing-policy.md
  install/kubernetes/tetragon/crds-yaml/cilium.io_tracingpolicies.yaml
  install/kubernetes/tetragon/crds-yaml/cilium.io_tracingpoliciesnamespaced.yaml
  pkg/api/tracingapi/client_kprobe.go
  pkg/k8s/apis/cilium.io/client/crds/v1alpha1/cilium.io_tracingpolicies.yaml
  pkg/k8s/apis/cilium.io/client/crds/v1alpha1/cilium.io_tracingpoliciesnamespaced.yaml
  pkg/k8s/apis/cilium.io/v1alpha1/types.go
  pkg/k8s/apis/cilium.io/v1alpha1/version.go
  vendor/github.com/cilium/tetragon/api/v1/tetragon/codegen/eventchecker/eventchecker.pb.go
  vendor/github.com/cilium/tetragon/api/v1/tetragon/tetragon.pb.go
  vendor/github.com/cilium/tetragon/api/v1/tetragon/tetragon.pb.json.go
  vendor/github.com/cilium/tetragon/api/v1/tetragon/tetragon.proto
  vendor/github.com/cilium/tetragon/pkg/k8s/apis/cilium.io/client/crds/v1alpha1/cilium.io_tracingpolicies.yaml
  vendor/github.com/cilium/tetragon/pkg/k8s/apis/cilium.io/client/crds/v1alpha1/cilium.io_tracingpoliciesnamespaced.yaml
  vendor/github.com/cilium/tetragon/pkg/k8s/apis/cilium.io/v1alpha1/types.go
  vendor/github.com/cilium/tetragon/pkg/k8s/apis/cilium.io/v1alpha1/version.go
Owners: @cilium/tetragon, @mtardy

bpf: support sockaddr_un parsing and filtering for unix socket events
  bpf/process/generic_calls.h
  bpf/process/types/basic.h
  bpf/process/types/sockaddr_un.h
  bpf/process/types/tuple.h
  pkg/btf/validation.go
  pkg/generictypes/generictypes.go
  pkg/grpc/tracing/tracing.go
  pkg/selectors/kernel.go
  pkg/sensors/tracing/args_linux.go
  pkg/sensors/tracing/generictracepoint.go
Owners: @cilium/tetragon

tests: added unit tests for tracing unix socket events
  pkg/sensors/tracing/kprobe_net_test.go
Owners: @cilium/tetragon

docs: add sockaddr_un argument type documentation
  docs/content/en/docs/concepts/tracing-policy/argument_types.md
Owners: @mtardy, @cilium/tetragon

Updates
  bpf/process/pfilter.h
  bpf/process/policy_filter.h
  pkg/k8s/apis/cilium.io/v1alpha1/types.go
  pkg/k8s/apis/cilium.io/v1alpha1/version.go
  pkg/policyfilter/selectors.go
  pkg/selectors/kernel.go
  pkg/selectors/selectors.go
  pkg/sensors/k8s.go
  pkg/sensors/tracing/generickprobe.go
  pkg/sensors/tracing/genericlsm.go
  pkg/sensors/tracing/generictracepoint.go
  pkg/sensors/tracing/genericuprobe.go
  pkg/sensors/tracing/genericusdt.go
  pkg/sensors/tracing/selectors.go
  vendor/github.com/cilium/tetragon/pkg/k8s/apis/cilium.io/v1alpha1/types.go
  vendor/github.com/cilium/tetragon/pkg/k8s/apis/cilium.io/v1alpha1/version.go
Owners: @cilium/tetragon

new: add domain string to multiple tp-related sensors pb methods.
  api/v1/README.md
  api/v1/tetragon/sensors.pb.go
  api/v1/tetragon/sensors.proto
  contrib/tetragon-rthooks/vendor/github.com/cilium/tetragon/api/v1/tetragon/sensors.pb.go
  contrib/tetragon-rthooks/vendor/github.com/cilium/tetragon/api/v1/tetragon/sensors.proto
  docs/content/en/docs/reference/grpc-api.md
  vendor/github.com/cilium/tetragon/api/v1/tetragon/sensors.pb.go
  vendor/github.com/cilium/tetragon/api/v1/tetragon/sensors.proto
Owners: @cilium/tetragon, @mtardy

new(pkg): add a `TpDomain()` method on tracing policy.
  pkg/k8s/apis/cilium.io/v1alpha1/tracing_policy_types.go
  pkg/tracingpolicy/generictracingpolicy.go
  pkg/tracingpolicy/generictracingpolicy_nok8s.go
  pkg/tracingpolicy/tracingpolicy.go
  vendor/github.com/cilium/tetragon/pkg/k8s/apis/cilium.io/v1alpha1/tracing_policy_types.go
Owners: @cilium/tetragon

new(cmd,pkg): add `domain` arg to sensors.Manager interface methods.
  cmd/tetra/common/utils.go
  cmd/tetra/tracingpolicy/tracingpolicy.go
  pkg/metrics/policymetrics/policymetrics.go
  pkg/sensors/collection.go
  pkg/sensors/handler.go
  pkg/sensors/manager.go
  pkg/server/server.go
  pkg/watcher/crdwatcher/tracingpolicy.go
Owners: @cilium/tetragon

chore(pkg/sensors): use go1.26 `new(true)` to avoid temp bool decl.
  pkg/sensors/manager.go
Owners: @cilium/tetragon

fix(pkg/sensors): fixed tests build.
  pkg/metrics/policymetrics/policymetrics_test.go
  pkg/policyconf/test/mode_test.go
  pkg/sensors/manager_test.go
  pkg/sensors/tracing/enforcer_test.go
  pkg/sensors/tracing/generickprobe_test.go
  pkg/sensors/tracing/kprobe_net_test.go
  pkg/sensors/tracing/kprobe_test.go
  pkg/sensors/tracing/matchbinaries_follow_children_test.go
  pkg/sensors/tracing/policyfilter_test.go
  pkg/server/fake_observer.go
  pkg/testutils/policyfilter/tester/pftester.go
Owners: @cilium/tetragon

new: implement ListDomains rpc.
  api/v1/README.md
  api/v1/tetragon/sensors.pb.go
  api/v1/tetragon/sensors.pb.json.go
  api/v1/tetragon/sensors.proto
  api/v1/tetragon/sensors_grpc.pb.go
  cmd/tetra/getevents/io_reader_client.go
  contrib/tetragon-rthooks/vendor/github.com/cilium/tetragon/api/v1/tetragon/sensors.pb.go
  contrib/tetragon-rthooks/vendor/github.com/cilium/tetragon/api/v1/tetragon/sensors.pb.json.go
  contrib/tetragon-rthooks/vendor/github.com/cilium/tetragon/api/v1/tetragon/sensors.proto
  contrib/tetragon-rthooks/vendor/github.com/cilium/tetragon/api/v1/tetragon/sensors_grpc.pb.go
  docs/content/en/docs/reference/grpc-api.md
  pkg/sensors/handler.go
  pkg/sensors/manager.go
  pkg/server/fake_observer.go
  pkg/server/server.go
  vendor/github.com/cilium/tetragon/api/v1/tetragon/sensors.pb.go
  vendor/github.com/cilium/tetragon/api/v1/tetragon/sensors.pb.json.go
  vendor/github.com/cilium/tetragon/api/v1/tetragon/sensors.proto
  vendor/github.com/cilium/tetragon/api/v1/tetragon/sensors_grpc.pb.go
Owners: @cilium/tetragon, @mtardy

new(tetra): add `tetra tracingpolicy domains` command.
  cmd/tetra/tracingpolicy/tracingpolicy.go
Owners: @cilium/tetragon

cleanup: dropped unsupported test case.
  pkg/sensors/tracing/generickprobe_test.go
Owners: @cilium/tetragon

new(pkg/sensors): add a `TestPoliciesDomain` manager test.
  pkg/sensors/manager_test.go
Owners: @cilium/tetragon

new(pkg/sensors): deny add,delete,configure on `sensors` domain.
  pkg/sensors/collection.go
  pkg/sensors/manager.go
Owners: @cilium/tetragon

tetragon: Fail properly in OffsetFromAddr function
  pkg/elf/file.go
Owners: @cilium/tetragon

crd: Add tetragon category to PodInfo CRD
  install/kubernetes/tetragon/crds-yaml/cilium.io_podinfo.yaml
  pkg/k8s/apis/cilium.io/client/crds/v1alpha1/cilium.io_podinfo.yaml
  pkg/k8s/apis/cilium.io/v1alpha1/types.go
  pkg/k8s/apis/cilium.io/v1alpha1/version.go
  vendor/github.com/cilium/tetragon/pkg/k8s/apis/cilium.io/client/crds/v1alpha1/cilium.io_podinfo.yaml
  vendor/github.com/cilium/tetragon/pkg/k8s/apis/cilium.io/v1alpha1/types.go
  vendor/github.com/cilium/tetragon/pkg/k8s/apis/cilium.io/v1alpha1/version.go
Owners: @cilium/tetragon

Revert "tetragon/windows: Fix process_exit event on Windows"
  bpf/windows/process_monitor.c
Owners: @cilium/tetragon

Test fixes
  pkg/sensors/tracing/kprobe_test.go
  pkg/sensors/tracing/lsm_test.go
  pkg/sensors/tracing/selectors.go
  pkg/sensors/tracing/tracepoint_test.go
  pkg/sensors/tracing/uprobe_test.go
  pkg/sensors/tracing/usdt_test.go
Owners: @cilium/tetragon

cleanup: drop `TracingPolicyNamespaced` interface.
  cmd/tetragon/main.go
  pkg/k8s/apis/cilium.io/v1alpha1/tracing_policy_types.go
  pkg/policyconf/policyconf.go
  pkg/policystats/policystats.go
  pkg/sensors/handler.go
  pkg/sensors/k8s.go
  pkg/sensors/manager.go
  pkg/sensors/nok8s.go
  pkg/sensors/sensors.go
  pkg/sensors/tracing/enforcer.go
  pkg/sensors/tracing/policyhandler_linux.go
  pkg/server/server.go
  pkg/testutils/policyfilter/tester/pftester.go
  pkg/tracingpolicy/generictracingpolicy.go
  pkg/tracingpolicy/generictracingpolicy_nok8s.go
  pkg/tracingpolicy/generictracingpolicy_test.go
  pkg/tracingpolicy/tracingpolicy.go
  pkg/tracingpolicy/utils.go
  pkg/watcher/crdwatcher/tracingpolicy.go
  vendor/github.com/cilium/tetragon/pkg/k8s/apis/cilium.io/v1alpha1/tracing_policy_types.go
Owners: @cilium/tetragon

hubble-fgs/windows: Fix process_exit event on Windows
  bpf/windows/process_monitor.c
Owners: @cilium/tetragon

uprobe-test-1: have libs relative to binary
  contrib/tester-progs/Makefile
Owners: @cilium/tetragon

cleanup: drop `v1alpha1.TracingPolicyNamespaced`.
  pkg/k8s/apis/cilium.io/v1alpha1/register.go
  pkg/k8s/apis/cilium.io/v1alpha1/tracing_policy_types.go
  pkg/k8s/apis/cilium.io/v1alpha1/zz_generated.deepcopy.go
  pkg/sensors/manager_test.go
  pkg/watcher/crdwatcher/tracingpolicy.go
  vendor/github.com/cilium/tetragon/pkg/k8s/apis/cilium.io/v1alpha1/register.go
  vendor/github.com/cilium/tetragon/pkg/k8s/apis/cilium.io/v1alpha1/tracing_policy_types.go
  vendor/github.com/cilium/tetragon/pkg/k8s/apis/cilium.io/v1alpha1/zz_generated.deepcopy.go
Owners: @cilium/tetragon

cleanup(pkg): completely drop `GenericTracingPolicyNamespaced` type.
  pkg/cgtracker/test/cgtracker_test.go
  pkg/metrics/policymetrics/policymetrics_test.go
  pkg/policyconf/test/mode_test.go
  pkg/sensors/tracing/policyfilter_test.go
  pkg/testutils/policyfilter/tester/pftester.go
  pkg/tracingpolicy/generictracingpolicy.go
  pkg/tracingpolicy/k8s.go
Owners: @cilium/tetragon

CODEOWNERS:

# Request a review from the Tetragon team on any PR
* @cilium/tetragon

# Request a review from William when codegen is edited
cmd/protoc-gen-go-tetragon/ @willfindlay

# Request a review from William when CI is edited
.github/workflows/ @willfindlay

# Request a review from kkourt when core sensor files are modified
pkg/src/sensors/ @kkourt

# Request a review from mtardy when anything from docs is modified but do not
# block on approval from anyone in the tetragon team
/docs/ @mtardy @cilium/tetragon
