Repository cilium/tetragon, changes with the owners that CODEOWNERS names for each.
All owners: @cilium/tetragon, @willfindlay, @kkourt, @mtardy

treewide: implement matchUserCaller filter
  pkg/elf/file.go
  pkg/selectors/kernel.go
  pkg/sensors/tracing/generic.go
  pkg/sensors/tracing/genericuprobe.go
  pkg/sensors/tracing/genericusdt.go
Owners: @cilium/tetragon

crd: introduce matchUserCallers in KProbeSelector CRD
  docs/content/en/docs/reference/tracing-policy.md
  install/kubernetes/tetragon/crds-yaml/cilium.io_tracingpolicies.yaml
  install/kubernetes/tetragon/crds-yaml/cilium.io_tracingpoliciesnamespaced.yaml
  pkg/k8s/apis/cilium.io/client/crds/v1alpha1/cilium.io_tracingpolicies.yaml
  pkg/k8s/apis/cilium.io/client/crds/v1alpha1/cilium.io_tracingpoliciesnamespaced.yaml
  pkg/k8s/apis/cilium.io/v1alpha1/types.go
  pkg/k8s/apis/cilium.io/v1alpha1/zz_generated.deepcopy.go
  pkg/tracingpolicy/schemas/tracingpolicy-cilium.io.json
  pkg/tracingpolicy/schemas/tracingpolicynamespaced-cilium.io.json
  vendor/github.com/cilium/tetragon/pkg/k8s/apis/cilium.io/client/crds/v1alpha1/cilium.io_tracingpolicies.yaml
  vendor/github.com/cilium/tetragon/pkg/k8s/apis/cilium.io/client/crds/v1alpha1/cilium.io_tracingpoliciesnamespaced.yaml
  vendor/github.com/cilium/tetragon/pkg/k8s/apis/cilium.io/v1alpha1/types.go
  vendor/github.com/cilium/tetragon/pkg/k8s/apis/cilium.io/v1alpha1/zz_generated.deepcopy.go
Owners: @mtardy, @cilium/tetragon

bpf: implement matchUserCaller filter
  bpf/lib/generic.h
  bpf/process/caller_filter.h
  bpf/process/generic_calls.h
  bpf/process/pfilter.h
  bpf/process/types/basic.h
Owners: @cilium/tetragon

pkg/selectors: align tests with new selector layout
  pkg/selectors/kernel_test.go
Owners: @cilium/tetragon

docs: add selector section for matchUserCallers
  docs/content/en/docs/concepts/tracing-policy/selectors.md
Owners: @mtardy, @cilium/tetragon

pkg/elf: add NormalizedBuildID
  pkg/elf/build_id.go
Owners: @cilium/tetragon

bpf: reduce complexity in pfilter.h
  bpf/process/pfilter.h
Owners: @cilium/tetragon

bpf: pass down ctx in *_process_filter functions
  bpf/process/bpf_generic_fentry.c
  bpf/process/bpf_generic_kprobe.c
  bpf/process/bpf_generic_lsm_core.c
  bpf/process/bpf_generic_rawtp.c
  bpf/process/bpf_generic_tracepoint.c
  bpf/process/bpf_generic_uprobe.c
  bpf/process/bpf_generic_usdt.c
  bpf/process/generic_calls.h
  bpf/process/pfilter.h
Owners: @cilium/tetragon

pkg/bpf: detect complete amd64 uprobe callchains
  pkg/bpf/detect_linux.go
  pkg/bpf/probes.go
  pkg/selectors/kernel.go
Owners: @cilium/tetragon

tracing: validate substring kfunc support
  pkg/sensors/tracing/generickprobe.go
  pkg/sensors/tracing/genericlsm.go
  pkg/sensors/tracing/generictracepoint.go
  pkg/sensors/tracing/genericuprobe.go
  pkg/sensors/tracing/genericusdt.go
  pkg/sensors/tracing/kprobe_validation_test.go
  pkg/sensors/tracing/selectors.go
Owners: @cilium/tetragon

selectors: share substring IDs across selectors
  pkg/selectors/kernel.go
  pkg/selectors/selectors.go
Owners: @cilium/tetragon

selectors: verify substring IDs across shared selector maps
  pkg/sensors/tracing/kprobe_test.go
  tests/policytests/kprobes.go
Owners: @cilium/tetragon

tracing: size per-probe substring maps from selectors
  pkg/sensors/tracing/generickprobe.go
  pkg/sensors/tracing/kprobe_maxentries_test.go
  pkg/sensors/tracing/kprobe_validation_test.go
  pkg/sensors/tracing/selectors.go
Owners: @cilium/tetragon

tracing: size USDT substring maps from selectors
  pkg/sensors/tracing/genericusdt.go
Owners: @cilium/tetragon

tracing: size uprobe substring maps from selectors
  pkg/sensors/tracing/genericuprobe.go
Owners: @cilium/tetragon

btf: normalize kernel type names
  pkg/btf/validation.go
  pkg/btf/validation_test.go
Owners: @cilium/tetragon

tetragon: exit cleanly when SIGTERM arrives during startup
  cmd/tetragon/main.go
Owners: @cilium/tetragon

bpf: add task-keyed LSM heap to fix cross-task correlation (#5237)
  bpf/process/bpf_generic_lsm_core.c
  bpf/process/bpf_generic_lsm_output.c
  bpf/process/generic_maps.h
Owners: @cilium/tetragon

chore(pkg/sensors): drop procmanager listener upon sensor destoy.
  pkg/sensors/tracing/genericuprobe.go
Owners: @cilium/tetragon

chore(pkg/sensors): avoid sleep and poll /proc/pid/maps many times.
  pkg/sensors/tracing/genericuprobe.go
Owners: @cilium/tetragon

chore(pkg/sensors): pretty print `LibcAddrs` structure.
  pkg/sensors/tracing/genericuprobe.go
Owners: @cilium/tetragon

new: add policytest around the feature.
  contrib/tester-progs/uprobe-lib.c
  tests/policytests/uprobes.go
Owners: @cilium/tetragon

chore(pkg/sensors): only add mmap,dlopen,dlsym if in SO mode.
  pkg/sensors/tracing/genericuprobe.go
Owners: @cilium/tetragon

cleanup(pkg/sensors): only attach dynamyc SO maps if needed.
  pkg/sensors/tracing/genericuprobe.go
Owners: @cilium/tetragon

cleanup: split dynamic OS logic from genericuprobe.
  pkg/sensors/tracing/genericuprobe.go
  pkg/sensors/tracing/uprobe_dynamicso.go
Owners: @cilium/tetragon

new(bpf,pkg): add new `BPF_AREA_UPROBE_SO` bpf log area.
  bpf/lib/debug.h
  bpf/process/uprobe_dyn.h
  docs/data/tetragon_flags.yaml
  pkg/option/config.go
Owners: @cilium/tetragon, @mtardy

new(bpf/process): made uprobe_dyn architecture independent.
  bpf/process/uprobe_dyn.h
  pkg/sensors/tracing/genericuprobe.go
Owners: @cilium/tetragon

new(cmd,pkg): use a proper listener to listen on new events.
  cmd/tetragon/main.go
  pkg/grpc/exec/exec.go
  pkg/sensors/manager.go
  pkg/sensors/tracing/genericuprobe.go
Owners: @cilium/tetragon

cleanup: drop libc_addrs bpf map and process listeners.
  bpf/include/api.h
  bpf/process/uprobe_dyn.h
  bpf/process/uprobe_offload.h
  cmd/tetragon/main.go
  pkg/api/processapi/processapi.go
  pkg/elf/file.go
  pkg/selectors/kernel_regs_amd64.go
  pkg/sensors/manager.go
  pkg/sensors/tracing/genericuprobe.go
Owners: @cilium/tetragon

new(pkg/sensors): load host libc path instead of hardcoding.
  pkg/sensors/tracing/genericuprobe.go
Owners: @cilium/tetragon

chore(pkg/sensors): do not support multiuprobe for dynamic SO load feat.
  pkg/sensors/tracing/genericuprobe.go
Owners: @cilium/tetragon

new: initial dynamically-loaded symbol override for uprobes.
  bpf/process/uprobe_dyn.h
  bpf/process/uprobe_offload.h
  pkg/api/processapi/processapi.go
  pkg/grpc/exec/exec.go
  pkg/selectors/kernel_regs_amd64.go
  pkg/sensors/tracing/genericuprobe.go
Owners: @cilium/tetragon

new: introduce `ActionSelector.sopath`.
  install/kubernetes/tetragon/crds-yaml/cilium.io_tracingpolicies.yaml
  install/kubernetes/tetragon/crds-yaml/cilium.io_tracingpoliciesnamespaced.yaml
  pkg/k8s/apis/cilium.io/client/crds/v1alpha1/cilium.io_tracingpolicies.yaml
  pkg/k8s/apis/cilium.io/client/crds/v1alpha1/cilium.io_tracingpoliciesnamespaced.yaml
  pkg/k8s/apis/cilium.io/v1alpha1/types.go
  pkg/k8s/apis/cilium.io/v1alpha1/version.go
  pkg/sensors/tracing/genericuprobe.go
  pkg/sensors/tracing/uprobe_dynamicso.go
  pkg/tracingpolicy/schemas/tracingpolicy-cilium.io.json
  pkg/tracingpolicy/schemas/tracingpolicynamespaced-cilium.io.json
  tests/policytests/uprobes.go
  vendor/github.com/cilium/tetragon/pkg/k8s/apis/cilium.io/client/crds/v1alpha1/cilium.io_tracingpolicies.yaml
  vendor/github.com/cilium/tetragon/pkg/k8s/apis/cilium.io/client/crds/v1alpha1/cilium.io_tracingpoliciesnamespaced.yaml
  vendor/github.com/cilium/tetragon/pkg/k8s/apis/cilium.io/v1alpha1/types.go
  vendor/github.com/cilium/tetragon/pkg/k8s/apis/cilium.io/v1alpha1/version.go
Owners: @cilium/tetragon

cleanup(pkg/elf): re-define testutils.RepoRootPath().
  pkg/elf/pclntab_test.go
Owners: @cilium/tetragon

fix: `regs_map` should be a `program.MapBuilderSensor`.
  pkg/sensors/tracing/genericuprobe.go
  tests/policytests/uprobes.go
Owners: @cilium/tetragon

fix: add back `libc_addrs_map`.
  bpf/process/uprobe_dyn.h
  pkg/sensors/tracing/uprobe_dynamicso.go
Owners: @cilium/tetragon

fix(bpf): move mmap, dlopen and dlsym progs to OFFLOAD section.
  bpf/process/uprobe_dyn.h
Owners: @cilium/tetragon

new: introduce multi uprobe support.
  pkg/sensors/program/dynamic_so.go
  pkg/sensors/program/dynamic_so_windows.go
  pkg/sensors/program/loader_linux.go
  pkg/sensors/program/program.go
  pkg/sensors/tracing/genericuprobe.go
  pkg/sensors/tracing/uprobe_dynamicso.go
Owners: @cilium/tetragon

cleanup: drop testutils/confmap.go.
  pkg/sensors/exec/cgroups_test.go
  pkg/testutils/confmap.go
Owners: @cilium/tetragon

new(bpf/process): fixed arm64 support for uprobe dynamic SO feat.
  bpf/process/uprobe_dyn.h
  bpf/process/uprobe_dyn_arm64.h
  bpf/process/uprobe_dyn_x86.h
Owners: @cilium/tetragon

CODEOWNERS:

# Request a review from the Tetragon team on any PR
* @cilium/tetragon

# Request a review from William when codegen is edited
cmd/protoc-gen-go-tetragon/ @willfindlay

# Request a review from William when CI is edited
.github/workflows/ @willfindlay

# Request a review from kkourt when core sensor files are modified
pkg/src/sensors/ @kkourt

# Request a review from mtardy when anything from docs is modified but do not
# block on approval from anyone in the tetragon team
/docs/ @mtardy @cilium/tetragon
