Repository cilium/tetragon, changes with the owners that CODEOWNERS names for each.
All owners: @cilium/tetragon, @willfindlay, @kkourt, @mtardy

fieldfilters: fix regression with missing top-level info and add test
  pkg/fieldfilters/fields.go
  pkg/fieldfilters/fields_test.go
Owners: @cilium/tetragon

fieldfilters: fix regression with missing top-level info and add test
  pkg/fieldfilters/fields.go
  pkg/fieldfilters/fields_test.go
Owners: @cilium/tetragon

Prepare for v1.0.1 release
  docs/content/en/docs/reference/helm-chart.md
  docs/hugo.toml
  install/kubernetes/Chart.yaml
  install/kubernetes/README.md
  install/kubernetes/values.yaml
Owners: @mtardy, @cilium/tetragon

Prepare for v1.0.1 release
  docs/content/en/docs/reference/helm-chart.md
  docs/hugo.toml
  install/kubernetes/Chart.yaml
  install/kubernetes/README.md
  install/kubernetes/values.yaml
Owners: @mtardy, @cilium/tetragon

docs: add privacy-aware GoatCounter analytics
  docs/layouts/partials/hooks/head-end.html
Owners: @mtardy, @cilium/tetragon

helm: Add extensions templates
  install/kubernetes/tetragon/templates/_container_tetragon.tpl
  install/kubernetes/tetragon/templates/_extensions.tpl
  install/kubernetes/tetragon/templates/daemonset.yaml
  install/kubernetes/tetragon/templates/tetragon_configmap.yaml
Owners: @cilium/tetragon

ci: fix 32-bit system calls compatibility tests
  .github/workflows/gotests.yml
  contrib/tester-progs/Makefile
Owners: @willfindlay, @cilium/tetragon

ci: fix 32-bit system calls compatibility tests
  .github/workflows/gotests.yml
  contrib/tester-progs/Makefile
Owners: @willfindlay, @cilium/tetragon

tetragon: Add missing continue to GetProcessKprobe
  pkg/grpc/tracing/tracing.go
Owners: @cilium/tetragon

tetragon: Add support to use regex in Load tests
  pkg/testutils/sensors/load.go
Owners: @cilium/tetragon

tetragon: Move base sensor initialization to GetInitialSensor
  pkg/sensors/base/base.go
Owners: @cilium/tetragon

tetragon: Add support to detect available exit probes
  bpf/process/bpf_exit.c
  pkg/ksyms/ksyms.go
  pkg/sensors/base/base.go
  pkg/testutils/sensors/load.go
Owners: @cilium/tetragon

tetragon: Add missing continue to GetProcessKprobe
  pkg/grpc/tracing/tracing.go
Owners: @cilium/tetragon

tetragon: Add support to use regex in Load tests
  pkg/testutils/sensors/load.go
Owners: @cilium/tetragon

tetragon: Add support to detect available exit probes
  bpf/process/bpf_exit.c
  pkg/ksyms/ksyms.go
  pkg/sensors/base/base.go
  pkg/testutils/sensors/load.go
Owners: @cilium/tetragon

tetragon: Move base sensor initialization to GetInitialSensor
  pkg/sensors/base/base.go
Owners: @cilium/tetragon

api:proto: add short message field
  api/v1/README.md
  api/v1/tetragon/codegen/eventchecker/eventchecker.pb.go
  api/v1/tetragon/tetragon.pb.go
  api/v1/tetragon/tetragon.proto
  docs/content/en/docs/reference/grpc-api.md
  vendor/github.com/cilium/tetragon/api/v1/tetragon/codegen/eventchecker/eventchecker.pb.go
  vendor/github.com/cilium/tetragon/api/v1/tetragon/tetragon.pb.go
  vendor/github.com/cilium/tetragon/api/v1/tetragon/tetragon.proto
Owners: @cilium/tetragon, @mtardy

kubebuilder: add message field
  pkg/k8s/apis/cilium.io/v1alpha1/types.go
  vendor/github.com/cilium/tetragon/pkg/k8s/apis/cilium.io/v1alpha1/types.go
Owners: @cilium/tetragon

api:generate: add message field
  pkg/k8s/apis/cilium.io/client/crds/v1alpha1/cilium.io_tracingpolicies.yaml
  pkg/k8s/apis/cilium.io/client/crds/v1alpha1/cilium.io_tracingpoliciesnamespaced.yaml
  vendor/github.com/cilium/tetragon/pkg/k8s/apis/cilium.io/client/crds/v1alpha1/cilium.io_tracingpolicies.yaml
  vendor/github.com/cilium/tetragon/pkg/k8s/apis/cilium.io/client/crds/v1alpha1/cilium.io_tracingpoliciesnamespaced.yaml
Owners: @cilium/tetragon

kprobe: handle message field in kprobe events
  pkg/grpc/tracing/tracing.go
  pkg/sensors/tracing/generickprobe.go
Owners: @cilium/tetragon

tetragon: add default shipped directory for tracing policies
  cmd/tetragon/main.go
  docs/content/en/docs/reference/daemon-flags.md
  pkg/defaults/defaults.go
  pkg/option/flags.go
Owners: @cilium/tetragon, @mtardy

container: fill up /usr/lib/tetragon/tetragon.tp.d
  Dockerfile
Owners: @cilium/tetragon

tetragon:host: copy default tracing policies
  Dockerfile.tarball
  install/linux-tarball/install.sh
  install/linux-tarball/uninstall.sh
Owners: @cilium/tetragon

default:tracingpolicy: observer kprobe sysfs enabled disable
  install/tetragon.tp.d/90.kprobes.observe/kprobes_observe.yaml
Owners: @cilium/tetragon

test: add kprobe sysfs enable stability test
  pkg/sensors/tracing/kprobe_test.go
Owners: @cilium/tetragon

api:proto: add KernelProbe object
  api/v1/README.md
  api/v1/tetragon/tetragon.pb.go
  api/v1/tetragon/tetragon.pb.json.go
  api/v1/tetragon/tetragon.proto
  docs/content/en/docs/reference/grpc-api.md
  vendor/github.com/cilium/tetragon/api/v1/tetragon/tetragon.pb.go
  vendor/github.com/cilium/tetragon/api/v1/tetragon/tetragon.pb.json.go
  vendor/github.com/cilium/tetragon/api/v1/tetragon/tetragon.proto
Owners: @cilium/tetragon, @mtardy

api:tracingpolicy: add kprobe object
  pkg/k8s/apis/cilium.io/client/crds/v1alpha1/cilium.io_tracingpolicies.yaml
  pkg/k8s/apis/cilium.io/client/crds/v1alpha1/cilium.io_tracingpoliciesnamespaced.yaml
  pkg/k8s/apis/cilium.io/v1alpha1/types.go
  pkg/k8s/apis/cilium.io/v1alpha1/version.go
  vendor/github.com/cilium/tetragon/pkg/k8s/apis/cilium.io/client/crds/v1alpha1/cilium.io_tracingpolicies.yaml
  vendor/github.com/cilium/tetragon/pkg/k8s/apis/cilium.io/client/crds/v1alpha1/cilium.io_tracingpoliciesnamespaced.yaml
  vendor/github.com/cilium/tetragon/pkg/k8s/apis/cilium.io/v1alpha1/types.go
  vendor/github.com/cilium/tetragon/pkg/k8s/apis/cilium.io/v1alpha1/version.go
Owners: @cilium/tetragon

tetragon: handle kprobe at bpf and userspace
  bpf/process/types/basic.h
  pkg/api/tracingapi/client_kprobe.go
  pkg/btf/validation.go
  pkg/generictypes/generictypes.go
  pkg/sensors/tracing/generickprobe.go
Owners: @cilium/tetragon

api: add kprobe_arg
  api/v1/README.md
  api/v1/tetragon/codegen/eventchecker/eventchecker.pb.go
  api/v1/tetragon/tetragon.pb.go
  api/v1/tetragon/tetragon.proto
  docs/content/en/docs/reference/grpc-api.md
  vendor/github.com/cilium/tetragon/api/v1/tetragon/codegen/eventchecker/eventchecker.pb.go
  vendor/github.com/cilium/tetragon/api/v1/tetragon/tetragon.pb.go
  vendor/github.com/cilium/tetragon/api/v1/tetragon/tetragon.proto
Owners: @cilium/tetragon, @mtardy

api:proto: fixup the KernelProbe object
  api/v1/README.md
  api/v1/tetragon/codegen/eventchecker/eventchecker.pb.go
  api/v1/tetragon/tetragon.pb.go
  api/v1/tetragon/tetragon.proto
  docs/content/en/docs/reference/grpc-api.md
  vendor/github.com/cilium/tetragon/api/v1/tetragon/codegen/eventchecker/eventchecker.pb.go
  vendor/github.com/cilium/tetragon/api/v1/tetragon/tetragon.pb.go
  vendor/github.com/cilium/tetragon/api/v1/tetragon/tetragon.proto
Owners: @cilium/tetragon, @mtardy

tetragon: Add local ebpf version
  go.mod
  go.sum
  vendor/github.com/cilium/ebpf/ARCHITECTURE.md
  vendor/github.com/cilium/ebpf/CODEOWNERS
  vendor/github.com/cilium/ebpf/CONTRIBUTING.md
  vendor/github.com/cilium/ebpf/Makefile
  vendor/github.com/cilium/ebpf/README.md
  vendor/github.com/cilium/ebpf/attachtype_string.go
  vendor/github.com/cilium/ebpf/btf/core.go
  vendor/github.com/cilium/ebpf/btf/ext_info.go
  vendor/github.com/cilium/ebpf/btf/marshal.go
  vendor/github.com/cilium/ebpf/cpu.go
  vendor/github.com/cilium/ebpf/elf_reader.go
  vendor/github.com/cilium/ebpf/elf_sections.go
  vendor/github.com/cilium/ebpf/internal/sys/mapflags_string.go
  vendor/github.com/cilium/ebpf/internal/sys/syscall.go
  vendor/github.com/cilium/ebpf/internal/sys/types.go
  vendor/github.com/cilium/ebpf/internal/sysenc/buffer.go
  vendor/github.com/cilium/ebpf/internal/unix/types_linux.go
  vendor/github.com/cilium/ebpf/internal/unix/types_other.go
  vendor/github.com/cilium/ebpf/link/anchor.go
  vendor/github.com/cilium/ebpf/link/cgroup.go
  vendor/github.com/cilium/ebpf/link/link.go
  vendor/github.com/cilium/ebpf/link/program.go
  vendor/github.com/cilium/ebpf/link/query.go
  vendor/github.com/cilium/ebpf/link/syscalls.go
  vendor/github.com/cilium/ebpf/link/tcx.go
  vendor/github.com/cilium/ebpf/linker.go
  vendor/github.com/cilium/ebpf/map.go
  vendor/github.com/cilium/ebpf/marshalers.go
  vendor/github.com/cilium/ebpf/prog.go
  vendor/github.com/cilium/ebpf/run-tests.sh
  vendor/github.com/cilium/ebpf/syscalls.go
  vendor/github.com/cilium/ebpf/types.go
  vendor/github.com/cilium/ebpf/types_string.go
  vendor/modules.txt
Owners: @cilium/tetragon

workflows/vmtests: delete artifacts if run was successful
  .github/workflows/vmtests.yml
Owners: @willfindlay

workflows/vmtests: delete artifacts if run was successful
  .github/workflows/vmtests.yml
Owners: @willfindlay

bpf: add unit tests for the prepend_name function
  Makefile
  bpf/Makefile
  bpf/Makefile.defs
  bpf/tests/Makefile
  bpf/tests/prepend_name_test.c
  bpf/tests/prepend_name_test.go
Owners: @cilium/tetragon

deps: bump cilium/ebpf for fix cilium/ebpf#1275
  go.mod
  go.sum
  vendor/github.com/cilium/ebpf/ARCHITECTURE.md
  vendor/github.com/cilium/ebpf/CODEOWNERS
  vendor/github.com/cilium/ebpf/CONTRIBUTING.md
  vendor/github.com/cilium/ebpf/Makefile
  vendor/github.com/cilium/ebpf/README.md
  vendor/github.com/cilium/ebpf/attachtype_string.go
  vendor/github.com/cilium/ebpf/btf/core.go
  vendor/github.com/cilium/ebpf/btf/ext_info.go
  vendor/github.com/cilium/ebpf/btf/marshal.go
  vendor/github.com/cilium/ebpf/cpu.go
  vendor/github.com/cilium/ebpf/elf_reader.go
  vendor/github.com/cilium/ebpf/elf_sections.go
  vendor/github.com/cilium/ebpf/internal/sys/mapflags_string.go
  vendor/github.com/cilium/ebpf/internal/sys/syscall.go
  vendor/github.com/cilium/ebpf/internal/sys/types.go
  vendor/github.com/cilium/ebpf/internal/sysenc/buffer.go
  vendor/github.com/cilium/ebpf/internal/unix/types_linux.go
  vendor/github.com/cilium/ebpf/internal/unix/types_other.go
  vendor/github.com/cilium/ebpf/link/anchor.go
  vendor/github.com/cilium/ebpf/link/cgroup.go
  vendor/github.com/cilium/ebpf/link/link.go
  vendor/github.com/cilium/ebpf/link/program.go
  vendor/github.com/cilium/ebpf/link/query.go
  vendor/github.com/cilium/ebpf/link/syscalls.go
  vendor/github.com/cilium/ebpf/link/tcx.go
  vendor/github.com/cilium/ebpf/linker.go
  vendor/github.com/cilium/ebpf/map.go
  vendor/github.com/cilium/ebpf/marshalers.go
  vendor/github.com/cilium/ebpf/prog.go
  vendor/github.com/cilium/ebpf/run-tests.sh
  vendor/github.com/cilium/ebpf/syscalls.go
  vendor/github.com/cilium/ebpf/types.go
  vendor/github.com/cilium/ebpf/types_string.go
  vendor/modules.txt
Owners: @cilium/tetragon

bpf: fix bugs in the prepend_name function
  bpf/process/bpf_process_event.h
Owners: @cilium/tetragon

workflows: run BPF unit tests on BPF changes
  .github/workflows/bpf-unit-tests.yml
Owners: @willfindlay

tetragon: Use selidx name for selector index
  bpf/process/types/basic.h
Owners: @cilium/tetragon

tetragon: Split filter_tailcall_index in two values
  bpf/lib/generic.h
  bpf/process/bpf_generic_kprobe.c
  bpf/process/bpf_generic_tracepoint.c
  bpf/process/bpf_generic_uprobe.c
  bpf/process/generic_calls.h
  bpf/process/types/basic.h
Owners: @cilium/tetragon

tetragon: Remove early binary filter config code
  pkg/selectors/kernel.go
  pkg/sensors/tracing/generickprobe.go
  pkg/sensors/tracing/generictracepoint.go
  pkg/sensors/tracing/genericuprobe.go
Owners: @cilium/tetragon

CODEOWNERS:

# Request a review from the Tetragon team on any PR
* @cilium/tetragon

# Request a review from William when codegen is edited
cmd/protoc-gen-go-tetragon/ @willfindlay

# Request a review from William when CI is edited
.github/workflows/ @willfindlay

# Request a review from kkourt when core sensor files are modified
pkg/src/sensors/ @kkourt

# Request a review from mtardy when anything from docs is modified but do not
# block on approval from anyone in the tetragon team
/docs/ @mtardy @cilium/tetragon
