Repository cilium/tetragon, changes with the owners that CODEOWNERS names for each.
All owners: @cilium/tetragon, @willfindlay, @kkourt, @mtardy

CODEOWNERS:

# Request a review from the Tetragon team on any PR
* @cilium/tetragon

# Request a review from William when codegen is edited
cmd/protoc-gen-go-tetragon/ @willfindlay

# Request a review from William when CI is edited
.github/workflows/ @willfindlay

# Request a review from kkourt when core sensor files are modified
pkg/src/sensors/ @kkourt

# Request a review from mtardy when anything from docs is modified but do not
# block on approval from anyone in the tetragon team
/docs/ @mtardy @cilium/tetragon

docs: remove advanced-config and replace with install
  docs/content/en/docs/advanced-config/_index.md
  docs/content/en/docs/installation/Docker/_index.md
  docs/content/en/docs/installation/Kubernetes/_index.md
  docs/content/en/docs/installation/Systemd/_index.md
  docs/content/en/docs/installation/_index.md
  docs/content/en/docs/installation/container.md
  docs/content/en/docs/installation/kubernetes.md
  docs/content/en/docs/installation/package.md
  docs/content/en/docs/installation/tetra-cli.md
Owners: @mtardy, @cilium/tetragon

tetragon: docs, use service ip cidr instead of list of ips
  docs/content/en/docs/getting-started/tetragon-network.md
  quickstart/network_egress_cluster.yaml
Owners: @mtardy, @cilium/tetragon

docs: various form fixes and docs settings
  docs/content/en/docs/concepts/enforcement/_index.md
  docs/content/en/docs/concepts/events/_index.md
  docs/content/en/docs/concepts/events/grpc-events.md
  docs/content/en/docs/concepts/events/json-events.md
  docs/content/en/docs/concepts/metrics/_index.md
  docs/content/en/docs/concepts/tetragon-events/grpc-events.md
  docs/content/en/docs/getting-started/enforcement.md
  docs/content/en/docs/getting-started/execution.md
  docs/content/en/docs/getting-started/file-events.md
  docs/content/en/docs/getting-started/install-docker.md
  docs/content/en/docs/getting-started/install-k8s.md
  docs/content/en/docs/getting-started/network.md
  docs/content/en/docs/installation/Kubernetes/_index.md
  docs/content/en/docs/installation/_index.md
  docs/content/en/docs/installation/install-tetra-cli.md
Owners: @mtardy, @cilium/tetragon

tetragon: docs, remove caution note from try tetragon
  docs/content/en/docs/getting-started/try-tetragon-linux.md
Owners: @mtardy, @cilium/tetragon

tetragon: add pop up for JSON block
  docs/content/en/docs/getting-started/tetragon-execution.md
Owners: @mtardy, @cilium/tetragon

docs: moved quickstart folder under examples
  docs/content/en/docs/getting-started/enforcement.md
  docs/content/en/docs/getting-started/file-events.md
  docs/content/en/docs/getting-started/network.md
  examples/quickstart/file_monitoring.yaml
  examples/quickstart/file_monitoring_enforce.yaml
  examples/quickstart/network_egress_cluster.yaml
  examples/quickstart/network_egress_cluster_enforce.yaml
Owners: @mtardy, @cilium/tetragon

tetragon: move Deployment into Advance Configuration
  docs/content/en/docs/advanced-config/_index.md
  docs/content/en/docs/advanced-config/container.md
  docs/content/en/docs/advanced-config/kubernetes.md
  docs/content/en/docs/advanced-config/package.md
  docs/content/en/docs/faq/_index.md
  docs/content/en/docs/getting-started/deployment/_index.md
  docs/content/en/docs/tutorials/tetragon-metrics.md
Owners: @mtardy, @cilium/tetragon

tetragon: docs, swap reference and contribution guide
  docs/content/en/docs/contribution-guide/_index.md
  docs/content/en/docs/reference/_index.md
Owners: @mtardy, @cilium/tetragon

tetragon: Create a dedicated Developer section
  docs/content/en/docs/contribution-guide/development-setup.md
Owners: @mtardy, @cilium/tetragon

Change GRPC to gRPC
  docs/content/en/docs/concepts/events/_index.md
Owners: @mtardy, @cilium/tetragon

tetragon: docs, fixes from Mahe
  docs/content/en/docs/getting-started/install-tetragon/install-k8s.md
  docs/content/en/docs/getting-started/tetragon-execution.md
  docs/content/en/docs/getting-started/tetragon-file-events.md
  docs/content/en/docs/getting-started/tetragon-network.md
Owners: @mtardy, @cilium/tetragon

docs: move try tetragon on Linux to tutorials
  docs/content/en/docs/tutorials/software-bill-of-materials.md
  docs/content/en/docs/tutorials/try-tetragon-linux.md
  docs/content/en/docs/tutorials/verify-tetragon-image-signatures.md
Owners: @mtardy, @cilium/tetragon

tetragon: add exports for cluster create
  docs/content/en/docs/getting-started/enforcement.md
  docs/content/en/docs/getting-started/install-k8s.md
Owners: @mtardy, @cilium/tetragon

tetragon: gcloud install single node
  docs/content/en/docs/getting-started/install-k8s.md
Owners: @mtardy, @cilium/tetragon

tetragon: docs drop namespace of enforcement
  docs/content/en/docs/getting-started/enforcement.md
Owners: @mtardy, @cilium/tetragon

docs: Fix links to policy YAML files
  docs/content/en/docs/concepts/events/json-events.md
  docs/content/en/docs/getting-started/enforcement.md
  docs/content/en/docs/getting-started/file-events.md
  docs/content/en/docs/getting-started/network.md
  docs/content/en/docs/installation/package.md
Owners: @mtardy, @cilium/tetragon

tetragon: docs still filter getevents json output
  docs/content/en/docs/getting-started/execution.md
Owners: @mtardy, @cilium/tetragon

tetragon docs: cut'n'paste write to /etc example
  docs/content/en/docs/getting-started/file-events.md
Owners: @mtardy, @cilium/tetragon

docs: Fix links to policy YAML files
  docs/content/en/docs/concepts/events/json-events.md
  docs/content/en/docs/getting-started/enforcement.md
  docs/content/en/docs/getting-started/file-events.md
  docs/content/en/docs/getting-started/network.md
  docs/content/en/docs/installation/package.md
Owners: @mtardy, @cilium/tetragon

tetragon: docs use default project for commands
  docs/content/en/docs/getting-started/enforcement.md
  docs/content/en/docs/getting-started/network.md
Owners: @mtardy, @cilium/tetragon

tetragon: add exports for cluster create
  docs/content/en/docs/getting-started/enforcement.md
  docs/content/en/docs/getting-started/install-k8s.md
Owners: @mtardy, @cilium/tetragon

tetragon docs: cut'n'paste write to /etc example
  docs/content/en/docs/getting-started/file-events.md
Owners: @mtardy, @cilium/tetragon

tetragon: docs drop namespace of enforcement
  docs/content/en/docs/getting-started/enforcement.md
Owners: @mtardy, @cilium/tetragon

tetragon: gcloud install single node
  docs/content/en/docs/getting-started/install-k8s.md
Owners: @mtardy, @cilium/tetragon

tetragon: docs use default project for commands
  docs/content/en/docs/getting-started/enforcement.md
  docs/content/en/docs/getting-started/network.md
Owners: @mtardy, @cilium/tetragon

tetragon: docs still filter getevents json output
  docs/content/en/docs/getting-started/execution.md
Owners: @mtardy, @cilium/tetragon

tetragon: docs, transform events into single page
  docs/content/en/docs/concepts/events.md
  docs/content/en/docs/concepts/events/_index.md
  docs/content/en/docs/concepts/events/grpc-events.md
  docs/content/en/docs/concepts/events/json-events.md
Owners: @mtardy, @cilium/tetragon

tetragon: docs, minor updates to metrics concepts
  docs/content/en/docs/concepts/metrics.md
Owners: @mtardy, @cilium/tetragon

tetragon: docs, minor updates to metrics concepts
  docs/content/en/docs/concepts/metrics.md
Owners: @mtardy, @cilium/tetragon

docs: tracing policy concept updates
  docs/content/en/docs/concepts/tracing-policy/_index.md
  docs/content/en/docs/concepts/tracing-policy/example.md
  docs/content/en/docs/concepts/tracing-policy/hooks.md
Owners: @mtardy, @cilium/tetragon

Events: Support events from kernel and init
  pkg/eventcache/eventcache.go
  pkg/ktime/ktime.go
Owners: @cilium/tetragon

docs: tracing policy concept updates
  docs/content/en/docs/concepts/tracing-policy/_index.md
  docs/content/en/docs/concepts/tracing-policy/example.md
  docs/content/en/docs/concepts/tracing-policy/hooks.md
Owners: @mtardy, @cilium/tetragon

tetragon: docs, minor updates to metrics concepts
  docs/content/en/docs/concepts/metrics.md
Owners: @mtardy, @cilium/tetragon

tetragon: docs, transform events into single page
  docs/content/en/docs/concepts/events.md
  docs/content/en/docs/concepts/events/_index.md
  docs/content/en/docs/concepts/events/grpc-events.md
  docs/content/en/docs/concepts/events/json-events.md
Owners: @mtardy, @cilium/tetragon

creds: move cred helpers to bpf_cred.h
  bpf/lib/bpf_cred.h
  bpf/process/bpf_process_event.h
  bpf/process/types/basic.h
  bpf/process/types/capabilities.h
Owners: @cilium/tetragon

creds: rename capability_info_type to msg_capability
  bpf/lib/bpf_cred.h
  bpf/process/types/basic.h
Owners: @cilium/tetragon

fixes
  bpf/alignchecker/bpf_alignchecker.c
  bpf/lib/bpf_cred.h
  bpf/lib/process.h
  bpf/process/bpf_execve_event.c
  bpf/process/types/basic.h
  pkg/api/processapi/processapi.go
  pkg/api/tracingapi/client_kprobe.go
  pkg/sensors/exec/procevents/proc_reader.go
Owners: @cilium/tetragon

gh/vmtests: add 6.1 kernel
  .github/workflows/vmtests.yml
Owners: @willfindlay

docs: update enforcement page
  docs/content/en/docs/concepts/enforcement/_index.md
  docs/content/en/docs/concepts/tracing-policy/selectors.md
Owners: @mtardy, @cilium/tetragon

vmtests: TestLoader fails in 6.1 as well, skip it
  pkg/vmtests/skip.go
Owners: @cilium/tetragon
