Repository cilium/tetragon, changes with the owners that CODEOWNERS names for each.
All owners: @cilium/tetragon, @willfindlay, @kkourt, @mtardy

Makefile: add native build support for arm64 MacOS
  Makefile
Owners: @cilium/tetragon

workflows: only check links added by a PR
  .github/workflows/check-links-pr.yaml
Owners: @willfindlay

feat: add containerSelector to the policy filter
  pkg/k8s/apis/cilium.io/v1alpha1/tracing_policy_types.go
  pkg/k8s/apis/cilium.io/v1alpha1/version.go
  pkg/policyfilter/disabled.go
  pkg/policyfilter/podhelpers.go
  pkg/policyfilter/policyfilter.go
  pkg/policyfilter/rthooks/rthooks.go
  pkg/policyfilter/state.go
  pkg/sensors/handler.go
  vendor/github.com/cilium/tetragon/pkg/k8s/apis/cilium.io/v1alpha1/tracing_policy_types.go
  vendor/github.com/cilium/tetragon/pkg/k8s/apis/cilium.io/v1alpha1/version.go
Owners: @cilium/tetragon

test: add unit tests for containerSelector
  pkg/labels/labels_test.go
  pkg/policyfilter/k8s_test.go
  pkg/policyfilter/state_test.go
  pkg/sensors/tracing/policyfilter_test.go
Owners: @cilium/tetragon

crd: generate CRDs for containerSelector
  pkg/k8s/apis/cilium.io/client/crds/v1alpha1/cilium.io_tracingpolicies.yaml
  pkg/k8s/apis/cilium.io/client/crds/v1alpha1/cilium.io_tracingpoliciesnamespaced.yaml
  vendor/github.com/cilium/tetragon/pkg/k8s/apis/cilium.io/client/crds/v1alpha1/cilium.io_tracingpolicies.yaml
  vendor/github.com/cilium/tetragon/pkg/k8s/apis/cilium.io/client/crds/v1alpha1/cilium.io_tracingpoliciesnamespaced.yaml
Owners: @cilium/tetragon

test: integration test for containerSelector
  tests/e2e/tests/policyfilter/policyfilter_test.go
Owners: @cilium/tetragon

fix: update kind image for e2e tests and minor fix
  Makefile
  tests/e2e/helpers/cluster.go
Owners: @cilium/tetragon

doc: document how to use the container selector
  docs/content/en/docs/concepts/tracing-policy/k8s-filtering.md
Owners: @mtardy, @cilium/tetragon

tetragon-oci-hook: container name from annotations
  pkg/policyfilter/rthooks/rthooks.go
Owners: @cilium/tetragon

observer: remove unused field
  cmd/tetragon/main.go
  pkg/bench/bench.go
  pkg/observer/observer.go
  pkg/observer/observertesthelper/observer_test_helper.go
Owners: @cilium/tetragon

workflows: only check links added by a PR
  .github/workflows/check-links-pr.yaml
Owners: @willfindlay

implement redaction filters
  api/v1/README.md
  api/v1/tetragon/events.pb.go
  api/v1/tetragon/events.pb.json.go
  api/v1/tetragon/events.proto
  cmd/tetragon/main.go
  docs/content/en/docs/concepts/events.md
  docs/content/en/docs/reference/grpc-api.md
  docs/content/en/docs/reference/helm-chart.md
  docs/data/tetragon_flags.yaml
  install/kubernetes/tetragon/README.md
  install/kubernetes/tetragon/templates/tetragon_configmap.yaml
  install/kubernetes/tetragon/values.yaml
  pkg/bench/bench.go
  pkg/exporter/exporter_test.go
  pkg/fieldfilters/redaction.go
  pkg/fieldfilters/redaction_test.go
  pkg/grpc/exec/exec_test_helper.go
  pkg/grpc/process_manager.go
  pkg/grpc/process_manager_test.go
  pkg/observer/observertesthelper/observer_test_helper.go
  pkg/option/flags.go
  pkg/server/server.go
  vendor/github.com/cilium/tetragon/api/v1/tetragon/events.pb.go
  vendor/github.com/cilium/tetragon/api/v1/tetragon/events.pb.json.go
  vendor/github.com/cilium/tetragon/api/v1/tetragon/events.proto
  vendor/google.golang.org/protobuf/internal/msgfmt/format.go
  vendor/google.golang.org/protobuf/reflect/protopath/path.go
  vendor/google.golang.org/protobuf/reflect/protopath/step.go
  vendor/google.golang.org/protobuf/reflect/protorange/range.go
  vendor/modules.txt
Owners: @cilium/tetragon, @mtardy

Support user mode stacktraces in events
  api/v1/README.md
  api/v1/tetragon/codegen/eventchecker/eventchecker.pb.go
  api/v1/tetragon/tetragon.pb.go
  api/v1/tetragon/tetragon.proto
  bpf/lib/common.h
  bpf/lib/generic.h
  bpf/process/types/basic.h
  contrib/rthooks/tetragon-oci-hook/vendor/github.com/cilium/tetragon/api/v1/tetragon/tetragon.proto
  contrib/tester-progs/go/getcpu/getcpu.go
  docs/content/en/docs/concepts/tracing-policy/selectors.md
  docs/content/en/docs/reference/grpc-api.md
  docs/data/tetragon_flags.yaml
  examples/tracingpolicy/stack_traces.yaml
  go.mod
  pkg/api/processapi/processapi.go
  pkg/api/tracingapi/client_kprobe.go
  pkg/api/tracingapi/client_tracepoint.go
  pkg/encoder/encoder.go
  pkg/grpc/tracing/tracing.go
  pkg/k8s/apis/cilium.io/client/crds/v1alpha1/cilium.io_tracingpolicies.yaml
  pkg/k8s/apis/cilium.io/client/crds/v1alpha1/cilium.io_tracingpoliciesnamespaced.yaml
  pkg/k8s/apis/cilium.io/v1alpha1/types.go
  pkg/option/config.go
  pkg/option/flags.go
  pkg/procsyms/procsyms.go
  pkg/selectors/kernel.go
  pkg/selectors/kernel_test.go
  pkg/sensors/tracing/generickprobe.go
  pkg/sensors/tracing/kprobe_test.go
  vendor/github.com/cilium/tetragon/api/v1/tetragon/codegen/eventchecker/eventchecker.pb.go
  vendor/github.com/cilium/tetragon/api/v1/tetragon/tetragon.pb.go
  vendor/github.com/cilium/tetragon/api/v1/tetragon/tetragon.proto
  vendor/github.com/cilium/tetragon/pkg/k8s/apis/cilium.io/client/crds/v1alpha1/cilium.io_tracingpolicies.yaml
  vendor/github.com/cilium/tetragon/pkg/k8s/apis/cilium.io/client/crds/v1alpha1/cilium.io_tracingpoliciesnamespaced.yaml
  vendor/github.com/cilium/tetragon/pkg/k8s/apis/cilium.io/v1alpha1/types.go
Owners: @cilium/tetragon, @mtardy

Set debug log level for error attempts of getting user stacktrace
  pkg/sensors/tracing/generickprobe.go
Owners: @cilium/tetragon

Bump CRD version and fix generated crds
  pkg/k8s/apis/cilium.io/client/crds/v1alpha1/cilium.io_tracingpolicies.yaml
  pkg/k8s/apis/cilium.io/client/crds/v1alpha1/cilium.io_tracingpoliciesnamespaced.yaml
  pkg/k8s/apis/cilium.io/v1alpha1/version.go
  vendor/github.com/cilium/tetragon/pkg/k8s/apis/cilium.io/client/crds/v1alpha1/cilium.io_tracingpolicies.yaml
  vendor/github.com/cilium/tetragon/pkg/k8s/apis/cilium.io/client/crds/v1alpha1/cilium.io_tracingpoliciesnamespaced.yaml
  vendor/github.com/cilium/tetragon/pkg/k8s/apis/cilium.io/v1alpha1/version.go
Owners: @cilium/tetragon

Added stable test. Renamed options. Fix docs.
  contrib/tester-progs/Makefile
  contrib/tester-progs/go/user-stacktrace/user-stacktrace.go
  docs/content/en/docs/concepts/tracing-policy/selectors.md
  docs/data/tetragon_flags.yaml
  pkg/encoder/encoder.go
  pkg/option/flags.go
  pkg/procsyms/procsyms.go
  pkg/sensors/tracing/kprobe_test.go
Owners: @cilium/tetragon, @mtardy

Add docs for user stack traces
  docs/content/en/docs/concepts/tracing-policy/selectors.md
  examples/tracingpolicy/stack_traces.yaml
Owners: @mtardy, @cilium/tetragon

bpf & pkg: Add selectors for audit ids
  bpf/lib/process.h
  bpf/process/bpf_execve_event.c
  bpf/process/bpf_exit.h
  bpf/process/bpf_generic_retkprobe.c
  bpf/process/generic_calls.h
  bpf/process/pfilter.h
  bpf/process/types/basic.h
  docs/content/en/docs/concepts/tracing-policy/selectors.md
  pkg/api/processapi/processapi.go
  pkg/grpc/exec/exec_test_helper.go
  pkg/k8s/apis/cilium.io/client/crds/v1alpha1/cilium.io_tracingpolicies.yaml
  pkg/k8s/apis/cilium.io/client/crds/v1alpha1/cilium.io_tracingpoliciesnamespaced.yaml
  pkg/k8s/apis/cilium.io/v1alpha1/types.go
  pkg/k8s/apis/cilium.io/v1alpha1/version.go
  pkg/k8s/apis/cilium.io/v1alpha1/zz_generated.deepcopy.go
  pkg/selectors/kernel.go
  pkg/selectors/kernel_test.go
  vendor/github.com/cilium/tetragon/pkg/k8s/apis/cilium.io/client/crds/v1alpha1/cilium.io_tracingpolicies.yaml
  vendor/github.com/cilium/tetragon/pkg/k8s/apis/cilium.io/client/crds/v1alpha1/cilium.io_tracingpoliciesnamespaced.yaml
  vendor/github.com/cilium/tetragon/pkg/k8s/apis/cilium.io/v1alpha1/types.go
  vendor/github.com/cilium/tetragon/pkg/k8s/apis/cilium.io/v1alpha1/version.go
  vendor/github.com/cilium/tetragon/pkg/k8s/apis/cilium.io/v1alpha1/zz_generated.deepcopy.go
Owners: @cilium/tetragon, @mtardy

observer: remove unused field
  cmd/tetragon/main.go
  pkg/bench/bench.go
  pkg/observer/observer.go
  pkg/observer/observertesthelper/observer_test_helper.go
Owners: @cilium/tetragon

Filter out bash kubernetes healthchecks
  pkg/filters/health_check.go
  pkg/filters/health_check_test.go
Owners: @cilium/tetragon

tetragon: Factor __event_get_cgroup_info function
  bpf/process/bpf_execve_event.c
  bpf/process/bpf_process_event.h
Owners: @cilium/tetragon

tetragon: Rename base variable to initialSensor
  cmd/tetragon/main.go
  pkg/observer/observertesthelper/observer_test_helper.go
Owners: @cilium/tetragon

tetragon: Add Monotonic function to ktime object
  pkg/ktime/ktime.go
Owners: @cilium/tetragon

tetragon: Rename base variable to initialSensor
  cmd/tetragon/main.go
  pkg/observer/observertesthelper/observer_test_helper.go
Owners: @cilium/tetragon

tetragon: Add Monotonic function to ktime object
  pkg/ktime/ktime.go
Owners: @cilium/tetragon

tetragon: Factor __event_get_cgroup_info function
  bpf/process/bpf_execve_event.c
  bpf/process/bpf_process_event.h
Owners: @cilium/tetragon

tetragon: Add throttle message
  api/v1/README.md
  api/v1/tetragon/codegen/eventchecker/eventchecker.pb.go
  api/v1/tetragon/codegen/eventchecker/yaml/yaml.pb.go
  api/v1/tetragon/codegen/helpers/helpers.pb.go
  api/v1/tetragon/events.pb.go
  api/v1/tetragon/events.pb.json.go
  api/v1/tetragon/events.proto
  api/v1/tetragon/types.pb.go
  docs/content/en/docs/reference/grpc-api.md
  docs/content/en/docs/reference/metrics.md
  vendor/github.com/cilium/tetragon/api/v1/tetragon/codegen/eventchecker/eventchecker.pb.go
  vendor/github.com/cilium/tetragon/api/v1/tetragon/codegen/eventchecker/yaml/yaml.pb.go
  vendor/github.com/cilium/tetragon/api/v1/tetragon/codegen/helpers/helpers.pb.go
  vendor/github.com/cilium/tetragon/api/v1/tetragon/events.pb.go
  vendor/github.com/cilium/tetragon/api/v1/tetragon/events.pb.json.go
  vendor/github.com/cilium/tetragon/api/v1/tetragon/events.proto
  vendor/github.com/cilium/tetragon/api/v1/tetragon/types.pb.go
Owners: @cilium/tetragon, @mtardy

tetragon: Add options to configure cgroup rates
  docs/data/tetragon_flags.yaml
  pkg/option/config.go
  pkg/option/flags.go
Owners: @mtardy, @cilium/tetragon

tetragon: Add cgrouprate ebpf
  bpf/process/bpf_rate.h
Owners: @cilium/tetragon

tetragon: Add cgrouprate logic
  pkg/api/processapi/processapi.go
  pkg/cgrouprate/cgrouprate.go
Owners: @cilium/tetragon

tetragon: Add cgrouprate throttle
  pkg/cgrouprate/cgrouprate.go
  pkg/grpc/tracing/tracing.go
Owners: @cilium/tetragon

tetragon: Add cgrouprate object
  pkg/cgrouprate/cgrouprate.go
Owners: @cilium/tetragon

tetragon: Add cgrouprate metrics
  pkg/cgrouprate/cgrouprate.go
  pkg/metrics/cgroupratemetrics/cgroupratemetrics.go
Owners: @cilium/tetragon

tetra: Add support to display throttle events
  pkg/encoder/encoder.go
Owners: @cilium/tetragon

tetragon: Add cgrouprate instance for tetragon and tests
  cmd/tetragon/main.go
  pkg/observer/observertesthelper/observer_test_helper.go
  pkg/sensors/base/base.go
Owners: @cilium/tetragon

tetragon: Add cgrouprate support for clone
  bpf/lib/process.h
  bpf/process/bpf_fork.c
  pkg/api/processapi/processapi.go
  pkg/sensors/exec/exec.go
  pkg/testutils/sensors/load.go
Owners: @cilium/tetragon

tetragon: Add cgrouprate support for exit
  bpf/process/bpf_exit.h
  pkg/testutils/sensors/load.go
Owners: @cilium/tetragon

tetragon: Add throttle exec/fork event test
  pkg/observer/observertesthelper/observer_test_helper.go
  pkg/option/flags.go
  pkg/sensors/exec/exec_test.go
Owners: @cilium/tetragon

tetragon: Add cgrouprate support for execve
  bpf/process/bpf_execve_event.c
  pkg/sensors/exec/exec.go
  pkg/testutils/sensors/load.go
Owners: @cilium/tetragon

tetragon: log current security context if any at startup
  cmd/tetragon/main.go
  pkg/reader/proc/proc.go
Owners: @cilium/tetragon

CODEOWNERS:

# Request a review from the Tetragon team on any PR
* @cilium/tetragon

# Request a review from William when codegen is edited
cmd/protoc-gen-go-tetragon/ @willfindlay

# Request a review from William when CI is edited
.github/workflows/ @willfindlay

# Request a review from kkourt when core sensor files are modified
pkg/src/sensors/ @kkourt

# Request a review from mtardy when anything from docs is modified but do not
# block on approval from anyone in the tetragon team
/docs/ @mtardy @cilium/tetragon
