Repository cilium/tetragon, changes with the owners that CODEOWNERS names for each.
All owners: @cilium/tetragon, @willfindlay, @kkourt, @mtardy

CODEOWNERS:

# Request a review from the Tetragon team on any PR
* @cilium/tetragon

# Request a review from William when codegen is edited
cmd/protoc-gen-go-tetragon/ @willfindlay

# Request a review from William when CI is edited
.github/workflows/ @willfindlay

# Request a review from kkourt when core sensor files are modified
pkg/src/sensors/ @kkourt

# Request a review from mtardy when anything from docs is modified but do not
# block on approval from anyone in the tetragon team
/docs/ @mtardy @cilium/tetragon

fix(clang-format): format static array initialization in read_envs function
  bpf/process/bpf_execve_event.c
Owners: @cilium/tetragon

add feature flag for envs collection & move env vars from Process to ProcessExec
  api/v1/README.md
  api/v1/tetragon/codegen/eventchecker/eventchecker.pb.go
  api/v1/tetragon/tetragon.pb.go
  api/v1/tetragon/tetragon.proto
  contrib/tetragon-rthooks/vendor/github.com/cilium/tetragon/api/v1/tetragon/tetragon.pb.go
  contrib/tetragon-rthooks/vendor/github.com/cilium/tetragon/api/v1/tetragon/tetragon.proto
  docs/content/en/docs/reference/grpc-api.md
  pkg/grpc/exec/exec.go
  pkg/option/config.go
  pkg/option/flags.go
  pkg/process/process.go
  vendor/github.com/cilium/tetragon/api/v1/tetragon/codegen/eventchecker/eventchecker.pb.go
  vendor/github.com/cilium/tetragon/api/v1/tetragon/tetragon.pb.go
  vendor/github.com/cilium/tetragon/api/v1/tetragon/tetragon.proto
Owners: @cilium/tetragon, @mtardy

docs: add flag description
  docs/data/tetragon_flags.yaml
Owners: @mtardy, @cilium/tetragon

tetragon: Rename EventConfig Arg fields
  pkg/api/tracingapi/client_kprobe.go
  pkg/sensors/tracing/generickprobe.go
  pkg/sensors/tracing/genericlsm.go
  pkg/sensors/tracing/generictracepoint.go
  pkg/sensors/tracing/genericuprobe.go
Owners: @cilium/tetragon

tetragon: Add test for retrieving same argument multiple times
  pkg/sensors/tracing/kprobe_test.go
Owners: @cilium/tetragon

tetragon: Add test for argument index filtering
  pkg/sensors/tracing/kprobe_test.go
Owners: @cilium/tetragon

tetragon: Add test for resolving same argument multiple times
  pkg/sensors/tracing/kprobe_test.go
Owners: @cilium/tetragon

tetragon: Read only defined arguments
  bpf/process/generic_calls.h
  bpf/process/types/basic.h
  pkg/api/tracingapi/client_kprobe.go
  pkg/sensors/tracing/generickprobe.go
  pkg/sensors/tracing/genericlsm.go
  pkg/sensors/tracing/generictracepoint.go
  pkg/sensors/tracing/genericuprobe.go
  pkg/sensors/tracing/kprobe_test.go
Owners: @cilium/tetragon

tetragon: Add arg field to ArgSelector spec
  pkg/k8s/apis/cilium.io/v1alpha1/types.go
  pkg/k8s/apis/cilium.io/v1alpha1/version.go
  pkg/selectors/kernel.go
  pkg/selectors/kernel_test.go
  vendor/github.com/cilium/tetragon/pkg/k8s/apis/cilium.io/v1alpha1/types.go
  vendor/github.com/cilium/tetragon/pkg/k8s/apis/cilium.io/v1alpha1/version.go
Owners: @cilium/tetragon

tetragon: Generated code for previous spec change
  install/kubernetes/tetragon/crds-yaml/cilium.io_tracingpolicies.yaml
  install/kubernetes/tetragon/crds-yaml/cilium.io_tracingpoliciesnamespaced.yaml
  pkg/k8s/apis/cilium.io/client/crds/v1alpha1/cilium.io_tracingpolicies.yaml
  pkg/k8s/apis/cilium.io/client/crds/v1alpha1/cilium.io_tracingpoliciesnamespaced.yaml
  pkg/k8s/apis/cilium.io/v1alpha1/zz_generated.deepcopy.go
  vendor/github.com/cilium/tetragon/pkg/k8s/apis/cilium.io/client/crds/v1alpha1/cilium.io_tracingpolicies.yaml
  vendor/github.com/cilium/tetragon/pkg/k8s/apis/cilium.io/client/crds/v1alpha1/cilium.io_tracingpoliciesnamespaced.yaml
  vendor/github.com/cilium/tetragon/pkg/k8s/apis/cilium.io/v1alpha1/zz_generated.deepcopy.go
Owners: @cilium/tetragon

pkg/ & bpf/: Add new `Capability` operator workflow
  bpf/process/types/basic.h
  bpf/process/types/operations.h
  pkg/selectors/kernel.go
Owners: @cilium/tetragon

test: Add `Capability` operator test
  pkg/sensors/tracing/kprobe_test.go
Owners: @cilium/tetragon

docs: Add `Capability` operator in docs
  docs/content/en/docs/concepts/tracing-policy/selectors.md
Owners: @mtardy, @cilium/tetragon

examples: Add a new example policy `operator: Capability`
  examples/tracingpolicy/deny-privileged-containers.yml
Owners: @cilium/tetragon

pkg/ & bpf/: Add new `Capability` operator workflow
  bpf/process/types/basic.h
  bpf/process/types/operations.h
  pkg/selectors/kernel.go
Owners: @cilium/tetragon

test: Add `Capability` operator test
  pkg/sensors/tracing/kprobe_test.go
Owners: @cilium/tetragon

examples: Add a new example policy `operator: Capability`
  examples/tracingpolicy/deny-privileged-containers.yml
Owners: @cilium/tetragon

docs: Add `Capability` operator in docs
  docs/content/en/docs/concepts/tracing-policy/selectors.md
Owners: @mtardy, @cilium/tetragon

misc: added make gen-compile-commands for tetragon
  Makefile
Owners: @cilium/tetragon

misc: added make gen-compile-commands for tetragon
  Makefile
Owners: @cilium/tetragon

tetragon: Add support to detect map batch api
  pkg/bpf/detect_linux.go
  pkg/bpf/detect_windows.go
Owners: @cilium/tetragon

tetragon: Call sensor Destroy in LoadSensor cleanup
  pkg/testutils/sensors/sensors.go
Owners: @cilium/tetragon

tetragon: Add UpdateExecveMap interface
  pkg/mbset/mbset.go
Owners: @cilium/tetragon

tetragon: Do not keep mbset map open
  pkg/mbset/mbset.go
Owners: @cilium/tetragon

tetragon: Use map for id mbset storage
  pkg/mbset/mbset.go
Owners: @cilium/tetragon

tetragon: Add support to clean up mbset records
  pkg/mbset/mbset.go
Owners: @cilium/tetragon

tetragon: Add tg_mbset_removal map
  bpf/process/bpf_execve_event.c
  pkg/mbset/mbset.go
  pkg/sensors/base/base.go
  pkg/sensors/base/base_linux.go
Owners: @cilium/tetragon

tetragon: Do mbset cleanup on policy removal
  pkg/selectors/kernel.go
  pkg/sensors/tracing/generickprobe.go
  pkg/sensors/tracing/genericlsm.go
  pkg/sensors/tracing/generictracepoint.go
  pkg/sensors/tracing/genericuprobe.go
Owners: @cilium/tetragon

tetragon: Add support for followChildren NotIn opeator
  bpf/lib/process.h
  bpf/process/types/basic.h
  pkg/selectors/kernel.go
Owners: @cilium/tetragon

tetragon: Add test for re-using mbset IDs
  pkg/sensors/tracing/matchbinaries_follow_children_test.go
Owners: @cilium/tetragon

tetragon: Add test for mbset NotIn operator
  pkg/sensors/tracing/matchbinaries_follow_children_test.go
Owners: @cilium/tetragon

tetragon: Add extra getcpu call to TestMatchBinariesFollowChildren test
  pkg/sensors/tracing/matchbinaries_follow_children_test.go
Owners: @cilium/tetragon

tetragon: Add test to check on mnset execve_map update
  contrib/tester-progs/Makefile
  contrib/tester-progs/forks.c
  pkg/sensors/tracing/matchbinaries_follow_children_test.go
Owners: @cilium/tetragon

tetragon: Do not rate limit exit events
  bpf/process/bpf_exit.h
  pkg/testutils/sensors/load.go
Owners: @cilium/tetragon

tetragon: Do not rate limit exit events
  bpf/process/bpf_exit.h
  pkg/testutils/sensors/load.go
Owners: @cilium/tetragon

load
  bpf/Makefile
  bpf/process/bpf_execve_map_update.c
  pkg/mbset/mbset.go
  pkg/sensors/base/base.go
  pkg/sensors/base/base_linux.go
  pkg/sensors/base/update.go
  pkg/sensors/program/loader_linux.go
  pkg/sensors/sensor_types_linux.go
Owners: @cilium/tetragon

atomics
  bpf/process/bpf_execve_event.c
  bpf/process/bpf_execve_map_update.c
Owners: @cilium/tetragon

loop
  bpf/process/bpf_execve_map_update.c
  pkg/sensors/base/update.go
Owners: @cilium/tetragon

tetragon: add matchCurrentCred ruid selector logic
  bpf/process/pfilter.h
  bpf/process/types/basic.h
  pkg/selectors/kernel.go
Owners: @cilium/tetragon

tetra: export common.RetryPolicy methods
  cmd/tetra/common/client.go
Owners: @cilium/tetragon
