Repository cilium/tetragon, changes with the owners that CODEOWNERS names for each.
All owners: @cilium/tetragon, @willfindlay, @kkourt, @mtardy

CODEOWNERS:

# Request a review from the Tetragon team on any PR
* @cilium/tetragon

# Request a review from William when codegen is edited
cmd/protoc-gen-go-tetragon/ @willfindlay

# Request a review from William when CI is edited
.github/workflows/ @willfindlay

# Request a review from kkourt when core sensor files are modified
pkg/src/sensors/ @kkourt

# Request a review from mtardy when anything from docs is modified but do not
# block on approval from anyone in the tetragon team
/docs/ @mtardy @cilium/tetragon

tetragon: Add WithAllEvents hook to policytest Builder
  pkg/testutils/policytest/builder.go
  pkg/testutils/policytest/observertest.go
  pkg/testutils/policytest/policytest.go
Owners: @cilium/tetragon

tetragon: Add WithSetup hook to policytest Builder
  pkg/testutils/policytest/builder.go
  pkg/testutils/policytest/observertest.go
  pkg/testutils/policytest/policytest.go
  pkg/testutils/policytest/runner.go
Owners: @cilium/tetragon

tetragon: Truncate export file between scenarios in observer policy test
  pkg/testutils/filenames.go
  pkg/testutils/policytest/observertest.go
Owners: @cilium/tetragon

tetragon: Add policy test for matchParentBinaries selector
  pkg/sensors/tracing/kprobe_test.go
  tests/policytests/kprobe_matchparentbinaries.go
Owners: @cilium/tetragon

bpf: add DNS query parser and arg type
  bpf/process/generic_calls.h
  bpf/process/types/basic.h
  bpf/process/types/dns.h
Owners: @cilium/tetragon

pkg/dns: add reference DNS parser and qtype table
  pkg/dns/parser.go
  pkg/dns/parser_test.go
  pkg/dns/qtype.go
Owners: @cilium/tetragon

api: add KprobeDns argument to proto and Go API
  api/v1/tetragon/tetragon.proto
  pkg/api/tracingapi/client_kprobe.go
  pkg/generictypes/generictypes.go
  pkg/grpc/tracing/tracing.go
Owners: @cilium/tetragon

tracing: decode dns args and wire TracingPolicy selectors
  pkg/k8s/apis/cilium.io/v1alpha1/types.go
  pkg/selectors/kernel.go
  pkg/sensors/tracing/args_linux.go
Owners: @cilium/tetragon

tracing: add tests, example policy, and docs for DNS arg
  docs/content/en/docs/concepts/tracing-policy/argument_types.md
  examples/tracingpolicy/dns-egress.yaml
  pkg/sensors/tracing/kprobe_dns_test.go
Owners: @mtardy, @cilium/tetragon

fix: skip malformed stdin events in tetra getevents
  cmd/tetra/getevents/io_reader_client.go
  cmd/tetra/getevents/io_reader_client_test.go
Owners: @cilium/tetragon

examples: add CVE-2024-6387 OpenSSH regreSSHion detection policy
  examples/tracingpolicy/cves/cve-2024-6387-openssh-regresshion.yaml
Owners: @cilium/tetragon

docs: add VALIDATION for CVE-2024-6387 policy
  examples/tracingpolicy/cves/VALIDATION-cve-2024-6387.md
Owners: @cilium/tetragon

examples: add CVE-2016-5681 D-Link RCE detection (AryStinger)
  examples/tracingpolicy/cves/cve-2016-5681-dlink-rce.yaml
Owners: @cilium/tetragon

examples: refine CVE-2016-5681 policy — target AryStinger IOCs
  examples/tracingpolicy/cves/cve-2016-5681-dlink-rce.yaml
Owners: @cilium/tetragon

fix: skip malformed stdin events in tetra getevents
  cmd/tetra/getevents/io_reader_client.go
  cmd/tetra/getevents/io_reader_client_test.go
Owners: @cilium/tetragon

pkg/sensors/tracing: Add arm64 policies for uprobe regs tests
  contrib/tester-progs/regs-override.c
  pkg/sensors/tracing/uprobe_reg_test.go
Owners: @cilium/tetragon

fix: handle large stdin event lines in tetra getevents
  cmd/tetra/getevents/io_reader_client.go
  cmd/tetra/getevents/io_reader_client_test.go
Owners: @cilium/tetragon

k8s: Add PodEventSource framework
  pkg/manager/events/pods.go
  pkg/manager/manager.go
  pkg/manager/podevents.go
  pkg/manager/podevents_test.go
Owners: @cilium/tetragon

lint: Conform with err naming convention
  pkg/cgidmap/cgidmap.go
Owners: @cilium/tetragon

metrics: Migrate pod delete handler to PodEventSource
  cmd/tetragon/main_k8s.go
  pkg/metrics/metricwithpod.go
  pkg/metrics/podevents_test.go
Owners: @cilium/tetragon

cgidmap: Migrate to PodEventSource constructor injection
  cmd/tetragon/main_k8s.go
  cmd/tetragon/main_k8s_unix.go
  cmd/tetragon/main_k8s_windows.go
  pkg/cgidmap/podhooks.go
  pkg/cgidmap/register.go
Owners: @cilium/tetragon

policyfilter: Migrate to PodEventSource constructor injection
  cmd/tetragon/main_k8s.go
  pkg/manager/manager.go
  pkg/podhooks/podhooks.go
  pkg/policyfilter/disabled.go
  pkg/policyfilter/k8s_test.go
  pkg/policyfilter/policyfilter.go
  pkg/policyfilter/state.go
  pkg/testutils/policyfilter/policyfilter.go
Owners: @cilium/tetragon

k8s: Use controller-runtime for tracing policy reconcilers
  .github/workflows/integration-test.yaml
  cmd/tetragon/main.go
  cmd/tetragon/main_k8s.go
  cmd/tetragon/main_nok8s.go
  pkg/manager/manager.go
  pkg/watcher/crdwatcher/tracingpolicy.go
  pkg/watcher/crdwatcher/tracingpolicy_namespaced_reconciler.go
  pkg/watcher/crdwatcher/tracingpolicy_reconciler.go
  pkg/watcher/crdwatcher/tracingpolicy_reconciler_integration_test.go
  pkg/watcher/crdwatcher/tracingpolicy_reconciler_test.go
Owners: @willfindlay, @cilium/tetragon

feat: support tracing policy nodeSelector
  pkg/k8s/apis/cilium.io/v1alpha1/tracing_policy_types.go
  pkg/watcher/crdwatcher/tracingpolicy.go
Owners: @cilium/tetragon

chore: regenerate tracing policy CRDs
  install/kubernetes/tetragon/crds-yaml/cilium.io_tracingpolicies.yaml
  install/kubernetes/tetragon/crds-yaml/cilium.io_tracingpoliciesnamespaced.yaml
  pkg/k8s/apis/cilium.io/client/crds/v1alpha1/cilium.io_tracingpolicies.yaml
  pkg/k8s/apis/cilium.io/client/crds/v1alpha1/cilium.io_tracingpoliciesnamespaced.yaml
  pkg/k8s/apis/cilium.io/v1alpha1/zz_generated.deepcopy.go
  vendor/github.com/cilium/tetragon/pkg/k8s/apis/cilium.io/client/crds/v1alpha1/cilium.io_tracingpolicies.yaml
  vendor/github.com/cilium/tetragon/pkg/k8s/apis/cilium.io/client/crds/v1alpha1/cilium.io_tracingpoliciesnamespaced.yaml
  vendor/github.com/cilium/tetragon/pkg/k8s/apis/cilium.io/v1alpha1/tracing_policy_types.go
  vendor/github.com/cilium/tetragon/pkg/k8s/apis/cilium.io/v1alpha1/zz_generated.deepcopy.go
Owners: @cilium/tetragon

test: tracing policy nodeSelector matching
  pkg/watcher/crdwatcher/tracingpolicy_test.go
Owners: @cilium/tetragon

lint: Conform with err naming convention
  pkg/cgidmap/cgidmap.go
Owners: @cilium/tetragon

k8s: Use controller-runtime for tracing policy reconcilers
  .github/workflows/integration-test.yaml
  cmd/tetragon/main.go
  cmd/tetragon/main_k8s.go
  cmd/tetragon/main_nok8s.go
  pkg/manager/manager.go
  pkg/watcher/crdwatcher/tracingpolicy.go
  pkg/watcher/crdwatcher/tracingpolicy_namespaced_reconciler.go
  pkg/watcher/crdwatcher/tracingpolicy_reconciler.go
  pkg/watcher/crdwatcher/tracingpolicy_reconciler_integration_test.go
  pkg/watcher/crdwatcher/tracingpolicy_reconciler_test.go
Owners: @willfindlay, @cilium/tetragon

policyfilter: Migrate to PodEventSource constructor injection
  cmd/tetragon/main_k8s.go
  pkg/manager/manager.go
  pkg/podhooks/podhooks.go
  pkg/policyfilter/disabled.go
  pkg/policyfilter/k8s_test.go
  pkg/policyfilter/policyfilter.go
  pkg/policyfilter/state.go
  pkg/testutils/policyfilter/policyfilter.go
Owners: @cilium/tetragon

k8s: Add PodEventSource framework
  pkg/manager/events/pods.go
  pkg/manager/manager.go
  pkg/manager/podevents.go
  pkg/manager/podevents_test.go
Owners: @cilium/tetragon

cgidmap: Migrate to PodEventSource constructor injection
  cmd/tetragon/main_k8s.go
  cmd/tetragon/main_k8s_unix.go
  cmd/tetragon/main_k8s_windows.go
  pkg/cgidmap/podhooks.go
  pkg/cgidmap/register.go
Owners: @cilium/tetragon

metrics: Migrate pod delete handler to PodEventSource
  cmd/tetragon/main_k8s.go
  pkg/metrics/metricwithpod.go
  pkg/metrics/podevents_test.go
Owners: @cilium/tetragon

bpf: introduce tg_get_current_cgrp_tracker_id and do_policy_filter_check
  bpf/process/policy_filter.h
Owners: @cilium/tetragon

bpf: pass cgroup tracker ID in generic kprobe events
  bpf/lib/generic.h
  bpf/process/generic_calls.h
Owners: @cilium/tetragon

uprobe: check for consistency among probes
  pkg/sensors/tracing/genericuprobe.go
Owners: @cilium/tetragon

loader_test: correct alignment calculation
  pkg/sensors/tracing/loader_test.go
Owners: @cilium/tetragon

loader_test: remove desc size check
  pkg/sensors/tracing/loader_test.go
Owners: @cilium/tetragon

loader_test: move build-id parse logic out
  pkg/elf/build_id.go
  pkg/elf/usdt_linux.go
  pkg/sensors/tracing/loader_test.go
Owners: @cilium/tetragon

loader_test: refactor ParseBuildId
  pkg/elf/build_id.go
  pkg/sensors/tracing/loader_test.go
Owners: @cilium/tetragon

kprobe: use cgroup tracker ID for container metadata resolution
  pkg/api/tracingapi/client_kprobe.go
  pkg/api/tracingapi/client_tracepoint.go
  pkg/eventcache/eventcache.go
  pkg/grpc/tracing/cgidmap_resolve.go
  pkg/grpc/tracing/cgidmap_resolve_stub.go
  pkg/grpc/tracing/tracing.go
Owners: @cilium/tetragon
