Repository cilium/tetragon, changes with the owners that CODEOWNERS names for each.
All owners: @cilium/tetragon, @willfindlay, @kkourt, @mtardy

docs: Clarify titles of Getting Started and Installation sections
  docs/content/en/docs/getting-started/_index.md
  docs/content/en/docs/installation/_index.md
Owners: @mtardy, @cilium/tetragon

docs: Guide for configuring and accessing metrics
  docs/content/en/docs/concepts/metrics.md
  docs/content/en/docs/installation/configuration.md
  docs/content/en/docs/installation/metrics.md
Owners: @mtardy, @cilium/tetragon

oci-hook: allow users to set namespace exceptions and define default
  contrib/rthooks/tetragon-oci-hook/cmd/setup/main.go
  contrib/rthooks/tetragon-oci-hook/docs/demo.md
  contrib/rthooks/tetragon-oci-hook/k8s/ds-uninstall.yaml
  docs/content/en/docs/reference/helm-chart.md
  install/kubernetes/tetragon/README.md
  install/kubernetes/tetragon/templates/_container_oci_hooks_setup.tpl
  install/kubernetes/tetragon/values.yaml
Owners: @cilium/tetragon, @mtardy

Username for process_exec events
  api/v1/README.md
  api/v1/tetragon/codegen/eventchecker/eventchecker.pb.go
  api/v1/tetragon/tetragon.pb.go
  api/v1/tetragon/tetragon.pb.json.go
  api/v1/tetragon/tetragon.proto
  contrib/rthooks/tetragon-oci-hook/vendor/github.com/cilium/tetragon/api/v1/tetragon/tetragon.pb.go
  contrib/rthooks/tetragon-oci-hook/vendor/github.com/cilium/tetragon/api/v1/tetragon/tetragon.pb.json.go
  contrib/rthooks/tetragon-oci-hook/vendor/github.com/cilium/tetragon/api/v1/tetragon/tetragon.proto
  docs/content/en/docs/reference/grpc-api.md
  docs/data/tetragon_flags.yaml
  pkg/api/processapi/processapi.go
  pkg/cgroups/cgroups.go
  pkg/option/config.go
  pkg/option/flags.go
  pkg/process/process.go
  pkg/sensors/config/confmap/confmap.go
  pkg/sensors/exec/exec.go
  vendor/github.com/cilium/tetragon/api/v1/tetragon/codegen/eventchecker/eventchecker.pb.go
  vendor/github.com/cilium/tetragon/api/v1/tetragon/tetragon.pb.go
  vendor/github.com/cilium/tetragon/api/v1/tetragon/tetragon.pb.json.go
  vendor/github.com/cilium/tetragon/api/v1/tetragon/tetragon.proto
Owners: @cilium/tetragon, @mtardy

Check username in TestEventExecveWithUsername
  pkg/sensors/exec/exec_test.go
Owners: @cilium/tetragon

oci-hook: allow users to set namespace exceptions and define default
  contrib/rthooks/tetragon-oci-hook/cmd/setup/main.go
  contrib/rthooks/tetragon-oci-hook/docs/demo.md
  contrib/rthooks/tetragon-oci-hook/k8s/ds-uninstall.yaml
  docs/content/en/docs/reference/helm-chart.md
  install/kubernetes/tetragon/README.md
  install/kubernetes/tetragon/templates/_container_oci_hooks_setup.tpl
  install/kubernetes/tetragon/values.yaml
Owners: @cilium/tetragon, @mtardy

Don't create PodInfo if the pod is being deleted
  operator/podinfo/podinfo_controller.go
  operator/podinfo/podinfo_controller_test.go
  vendor/k8s.io/apimachinery/pkg/util/rand/rand.go
  vendor/modules.txt
  vendor/sigs.k8s.io/controller-runtime/pkg/client/fake/client.go
  vendor/sigs.k8s.io/controller-runtime/pkg/client/fake/doc.go
  vendor/sigs.k8s.io/controller-runtime/pkg/client/interceptor/intercept.go
  vendor/sigs.k8s.io/controller-runtime/pkg/internal/objectutil/objectutil.go
Owners: @cilium/tetragon

renovate: add v1.1 in stable branches in config
  .github/renovate.json5
Owners: @cilium/tetragon

test: show errors on TestTraceKernelModule
  pkg/sensors/tracing/kprobe_test.go
Owners: @cilium/tetragon

feat: Add collection key to differentiate namespaced policies
  api/v1/README.md
  api/v1/tetragon/sensors.pb.go
  api/v1/tetragon/sensors.proto
  contrib/rthooks/tetragon-oci-hook/vendor/github.com/cilium/tetragon/api/v1/tetragon/sensors.pb.go
  contrib/rthooks/tetragon-oci-hook/vendor/github.com/cilium/tetragon/api/v1/tetragon/sensors.proto
  docs/content/en/docs/reference/grpc-api.md
  pkg/metrics/policystatemetrics/policystatemetrics_test.go
  pkg/sensors/collection.go
  pkg/sensors/handler.go
  pkg/sensors/manager.go
  pkg/sensors/manager_test.go
  pkg/sensors/tracing/generickprobe_test.go
  pkg/sensors/tracing/policyfilter_test.go
  pkg/server/fake_observer.go
  pkg/server/server.go
  pkg/watcher/crd/watcher.go
  vendor/github.com/cilium/tetragon/api/v1/tetragon/sensors.pb.go
  vendor/github.com/cilium/tetragon/api/v1/tetragon/sensors.proto
Owners: @cilium/tetragon, @mtardy

Username for process_exec events
  api/v1/README.md
  api/v1/tetragon/codegen/eventchecker/eventchecker.pb.go
  api/v1/tetragon/tetragon.pb.go
  api/v1/tetragon/tetragon.pb.json.go
  api/v1/tetragon/tetragon.proto
  contrib/rthooks/tetragon-oci-hook/vendor/github.com/cilium/tetragon/api/v1/tetragon/tetragon.pb.go
  contrib/rthooks/tetragon-oci-hook/vendor/github.com/cilium/tetragon/api/v1/tetragon/tetragon.pb.json.go
  contrib/rthooks/tetragon-oci-hook/vendor/github.com/cilium/tetragon/api/v1/tetragon/tetragon.proto
  docs/content/en/docs/reference/grpc-api.md
  docs/data/tetragon_flags.yaml
  pkg/api/processapi/processapi.go
  pkg/cgroups/cgroups.go
  pkg/option/config.go
  pkg/option/flags.go
  pkg/process/process.go
  pkg/sensors/config/confmap/confmap.go
  pkg/sensors/exec/exec.go
  vendor/github.com/cilium/tetragon/api/v1/tetragon/codegen/eventchecker/eventchecker.pb.go
  vendor/github.com/cilium/tetragon/api/v1/tetragon/tetragon.pb.go
  vendor/github.com/cilium/tetragon/api/v1/tetragon/tetragon.pb.json.go
  vendor/github.com/cilium/tetragon/api/v1/tetragon/tetragon.proto
Owners: @cilium/tetragon, @mtardy

Check username in TestEventExecveWithUsername
  pkg/sensors/exec/exec_test.go
Owners: @cilium/tetragon

Don't create PodInfo if the pod is being deleted
  operator/podinfo/podinfo_controller.go
  operator/podinfo/podinfo_controller_test.go
  vendor/k8s.io/apimachinery/pkg/util/rand/rand.go
  vendor/modules.txt
  vendor/sigs.k8s.io/controller-runtime/pkg/client/fake/client.go
  vendor/sigs.k8s.io/controller-runtime/pkg/client/fake/doc.go
  vendor/sigs.k8s.io/controller-runtime/pkg/client/interceptor/intercept.go
  vendor/sigs.k8s.io/controller-runtime/pkg/internal/objectutil/objectutil.go
Owners: @cilium/tetragon

Don't create PodInfo if the pod is being deleted
  operator/podinfo/podinfo_controller.go
  operator/podinfo/podinfo_controller_test.go
  vendor/k8s.io/apimachinery/pkg/util/rand/rand.go
  vendor/modules.txt
  vendor/sigs.k8s.io/controller-runtime/pkg/client/fake/client.go
  vendor/sigs.k8s.io/controller-runtime/pkg/client/fake/doc.go
  vendor/sigs.k8s.io/controller-runtime/pkg/client/interceptor/intercept.go
  vendor/sigs.k8s.io/controller-runtime/pkg/internal/objectutil/objectutil.go
Owners: @cilium/tetragon

Don't create PodInfo if the pod is being deleted
  operator/podinfo/podinfo_controller.go
  operator/podinfo/podinfo_controller_test.go
  vendor/k8s.io/apimachinery/pkg/util/rand/rand.go
  vendor/modules.txt
  vendor/sigs.k8s.io/controller-runtime/pkg/client/fake/client.go
  vendor/sigs.k8s.io/controller-runtime/pkg/client/fake/doc.go
  vendor/sigs.k8s.io/controller-runtime/pkg/client/interceptor/intercept.go
  vendor/sigs.k8s.io/controller-runtime/pkg/internal/objectutil/objectutil.go
Owners: @cilium/tetragon

test: test trace module operation
  pkg/sensors/tracing/kprobe_test.go
Owners: @cilium/tetragon

Don't create PodInfo if the pod is being deleted
  operator/podinfo/podinfo_controller.go
  operator/podinfo/podinfo_controller_test.go
  vendor/k8s.io/apimachinery/pkg/util/rand/rand.go
  vendor/modules.txt
  vendor/sigs.k8s.io/controller-runtime/pkg/client/fake/client.go
  vendor/sigs.k8s.io/controller-runtime/pkg/client/fake/doc.go
  vendor/sigs.k8s.io/controller-runtime/pkg/client/interceptor/intercept.go
  vendor/sigs.k8s.io/controller-runtime/pkg/internal/objectutil/objectutil.go
Owners: @cilium/tetragon

Don't create PodInfo if the pod is being deleted
  operator/podinfo/podinfo_controller.go
  operator/podinfo/podinfo_controller_test.go
  vendor/k8s.io/apimachinery/pkg/util/rand/rand.go
  vendor/modules.txt
  vendor/sigs.k8s.io/controller-runtime/pkg/client/fake/client.go
  vendor/sigs.k8s.io/controller-runtime/pkg/client/fake/doc.go
  vendor/sigs.k8s.io/controller-runtime/pkg/client/interceptor/intercept.go
  vendor/sigs.k8s.io/controller-runtime/pkg/internal/objectutil/objectutil.go
Owners: @cilium/tetragon

test: test trace module operation
  pkg/sensors/tracing/kprobe_test.go
Owners: @cilium/tetragon

test: show errors on TestTraceKernelModule
  pkg/sensors/tracing/kprobe_test.go
Owners: @cilium/tetragon

test: show errors on TestTraceKernelModule
  pkg/sensors/tracing/kprobe_test.go
Owners: @cilium/tetragon

test: test trace module operation
  pkg/sensors/tracing/kprobe_test.go
Owners: @cilium/tetragon

renovate: add v1.1 in stable branches in config
  .github/renovate.json5
Owners: @cilium/tetragon

test: show errors on TestTraceKernelModule
  pkg/sensors/tracing/kprobe_test.go
Owners: @cilium/tetragon

test: test trace module operation
  pkg/sensors/tracing/kprobe_test.go
Owners: @cilium/tetragon

tetragon: Remove r/cmpbytes function
  bpf/process/types/basic.h
Owners: @cilium/tetragon

tetragon: Remove get_parent_auid function
  bpf/process/bpf_process_event.h
Owners: @cilium/tetragon

tetragon: Remove ty_is_nop function
  bpf/process/types/basic.h
Owners: @cilium/tetragon

btf/validation: nop is compatible with everything
  pkg/btf/validation.go
Owners: @cilium/tetragon

btf/validation: add types
  pkg/btf/validation.go
Owners: @cilium/tetragon

btf/validation: add simple enum handling
  pkg/btf/validation.go
  pkg/btf/validation_test.go
Owners: @cilium/tetragon

tetragon: resolve username for process_exec events
  api/v1/README.md
  api/v1/tetragon/codegen/eventchecker/eventchecker.pb.go
  api/v1/tetragon/tetragon.pb.go
  api/v1/tetragon/tetragon.pb.json.go
  api/v1/tetragon/tetragon.proto
  contrib/rthooks/tetragon-oci-hook/vendor/github.com/cilium/tetragon/api/v1/tetragon/tetragon.pb.go
  contrib/rthooks/tetragon-oci-hook/vendor/github.com/cilium/tetragon/api/v1/tetragon/tetragon.pb.json.go
  contrib/rthooks/tetragon-oci-hook/vendor/github.com/cilium/tetragon/api/v1/tetragon/tetragon.proto
  docs/content/en/docs/reference/grpc-api.md
  docs/data/tetragon_flags.yaml
  pkg/api/processapi/processapi.go
  pkg/cgroups/cgroups.go
  pkg/option/config.go
  pkg/option/flags.go
  pkg/process/process.go
  pkg/sensors/config/confmap/confmap.go
  pkg/sensors/exec/exec.go
  vendor/github.com/cilium/tetragon/api/v1/tetragon/codegen/eventchecker/eventchecker.pb.go
  vendor/github.com/cilium/tetragon/api/v1/tetragon/tetragon.pb.go
  vendor/github.com/cilium/tetragon/api/v1/tetragon/tetragon.pb.json.go
  vendor/github.com/cilium/tetragon/api/v1/tetragon/tetragon.proto
Owners: @cilium/tetragon, @mtardy

Check username in TestEventExecveWithUsername
  pkg/sensors/exec/exec_test.go
Owners: @cilium/tetragon

tetragon: Add func.h header
  bpf/alignchecker/bpf_alignchecker.c
  bpf/cgroup/bpf_cgroup_mkdir.c
  bpf/cgroup/bpf_cgroup_release.c
  bpf/cgroup/bpf_cgroup_rmdir.c
  bpf/include/func.h
  bpf/process/bpf_cgroup.c
  bpf/process/bpf_enforcer.c
  bpf/process/bpf_execve_bprm_commit_creds.c
  bpf/process/bpf_execve_event.c
  bpf/process/bpf_exit.c
  bpf/process/bpf_fork.c
  bpf/process/bpf_generic_kprobe.c
  bpf/process/bpf_generic_retkprobe.c
  bpf/process/bpf_generic_tracepoint.c
  bpf/process/bpf_generic_uprobe.c
  bpf/process/bpf_loader.c
  bpf/test/bpf_globals.c
  bpf/test/bpf_lseek.c
  bpf/tests/prepend_name_test.c
Owners: @cilium/tetragon

tetragon: Use FUNC_INLINE in bpf/process/retprobe_map.h
  bpf/process/retprobe_map.h
Owners: @cilium/tetragon

tetragon: Use FUNC_INLINE in bpf/lib/generic.h
  bpf/lib/generic.h
Owners: @cilium/tetragon

tetragon: Use FUNC_INLINE in bpf/process/bpf_process_event.h
  bpf/process/bpf_process_event.h
Owners: @cilium/tetragon

tetragon: Use FUNC_INLINE in bpf/process/pfilter.h
  bpf/process/pfilter.h
Owners: @cilium/tetragon

tetragon: Use FUNC_INLINE in bpf/lib/bpf_task.h
  bpf/lib/bpf_task.h
Owners: @cilium/tetragon

tetragon: Use FUNC_INLINE in bpf/lib/bpf_cred.h
  bpf/lib/bpf_cred.h
Owners: @cilium/tetragon

CODEOWNERS:

# Request a review from the Tetragon team on any PR
* @cilium/tetragon

# Request a review from William when codegen is edited
cmd/protoc-gen-go-tetragon/ @willfindlay

# Request a review from William when CI is edited
.github/workflows/ @willfindlay

# Request a review from kkourt when core sensor files are modified
pkg/src/sensors/ @kkourt

# Request a review from mtardy when anything from docs is modified but do not
# block on approval from anyone in the tetragon team
/docs/ @mtardy @cilium/tetragon
