Repository cilium/tetragon, changes with the owners that CODEOWNERS names for each.
All owners: @cilium/tetragon, @willfindlay, @kkourt, @mtardy

CODEOWNERS:

# Request a review from the Tetragon team on any PR
* @cilium/tetragon

# Request a review from William when codegen is edited
cmd/protoc-gen-go-tetragon/ @willfindlay

# Request a review from William when CI is edited
.github/workflows/ @willfindlay

# Request a review from kkourt when core sensor files are modified
pkg/src/sensors/ @kkourt

# Request a review from mtardy when anything from docs is modified but do not
# block on approval from anyone in the tetragon team
/docs/ @mtardy @cilium/tetragon

policystatemetrics: Refactor metrics collector
  pkg/metrics/policystatemetrics/policystatemetrics.go
  pkg/metrics/policystatemetrics/policystatemetrics_test.go
Owners: @cilium/tetragon

metricsconfig: Define health metrics group
  cmd/tetragon-metrics-docs/main.go
  pkg/exporter/metrics.go
  pkg/grpc/tracing/stats.go
  pkg/metrics/cgroupratemetrics/cgroupratemetrics.go
  pkg/metrics/errormetrics/errormetrics.go
  pkg/metrics/eventcachemetrics/eventcachemetrics.go
  pkg/metrics/eventmetrics/eventmetrics.go
  pkg/metrics/kprobemetrics/kprobemetrics.go
  pkg/metrics/opcodemetrics/opcodemetrics.go
  pkg/metrics/policyfiltermetrics/policyfiltermetrics.go
  pkg/metrics/ratelimitmetrics/ratelimitmetrics.go
  pkg/metrics/ringbufmetrics/ringbufmetrics.go
  pkg/metrics/ringbufqueuemetrics/ringbufqueuemetrics.go
  pkg/metrics/watchermetrics/watchermetrics.go
  pkg/metricsconfig/healthmetrics.go
  pkg/metricsconfig/initmetrics.go
  pkg/observer/data_stats.go
  pkg/process/metrics.go
  pkg/version/metrics.go
Owners: @cilium/tetragon

Don't give operator permissions to create CRDs if not needed
  install/kubernetes/tetragon/templates/operator_clusterrole.yaml
Owners: @cilium/tetragon

[grpc/exec] Do not refinc on a nil parent
  pkg/grpc/exec/kthread_init.go
Owners: @cilium/tetragon

pkg/sensors: reduce stack trace map memory footprint
  bpf/process/types/basic.h
  pkg/sensors/tracing/generickprobe.go
Owners: @cilium/tetragon

docs: updates homepage contents with correct links and description
  docs/content/en/_index.html
Owners: @mtardy, @cilium/tetragon

tetragon: Setup entries for enforcer map dynamically
  bpf/process/bpf_enforcer.h
  pkg/sensors/tracing/enforcer.go
  pkg/sensors/tracing/generickprobe.go
  pkg/sensors/tracing/generictracepoint.go
Owners: @cilium/tetragon

tetragon: Factor max entries setup
  pkg/sensors/tracing/generickprobe.go
  pkg/sensors/tracing/generictracepoint.go
Owners: @cilium/tetragon

tetragon: Pass spec directly to createGenericTracepointSensor
  pkg/sensors/tracing/generictracepoint.go
  pkg/sensors/tracing/policyhandler.go
  pkg/sensors/tracing/tracepoint_test.go
Owners: @cilium/tetragon

tetragon: Add max entries test
  pkg/sensors/tracing/kprobe_maxentries_test.go
Owners: @cilium/tetragon

helm, doc: Added debug Helm flag for the agent
  docs/content/en/docs/reference/helm-chart.md
  docs/content/en/docs/troubleshooting/_index.md
  install/kubernetes/tetragon/README.md
  install/kubernetes/tetragon/templates/tetragon_configmap.yaml
  install/kubernetes/tetragon/values.yaml
Owners: @mtardy, @cilium/tetragon

tetragon: push execObj() into new pkg to avoid circ dep
  pkg/sensors/base/base.go
  pkg/sensors/config/confmap/confmap.go
  pkg/sensors/exec/config/config.go
Owners: @cilium/tetragon

tetragon: Add debug interface to track cgroups to namespace mappings
  bpf/process/bpf_execve_event.c
  bpf/process/policy_filter.h
  pkg/policyfilter/disabled.go
  pkg/policyfilter/namespace.go
  pkg/policyfilter/policyfilter.go
  pkg/policyfilter/rthooks/rthooks.go
  pkg/policyfilter/state.go
  pkg/policyfilter/state_test.go
  pkg/sensors/tracing/policyfilter_test.go
Owners: @cilium/tetragon

tetragon: debug printer to show cgroup to namespace map
  cmd/tetra/dump/dump.go
  cmd/tetra/policyfilter/policyfilter.go
Owners: @cilium/tetragon

tetragon: push execObj() into new pkg to avoid circ dep
  pkg/sensors/base/base.go
  pkg/sensors/config/confmap/confmap.go
  pkg/sensors/exec/config/config.go
Owners: @cilium/tetragon

tetragon: Add debug interface to track cgroups to namespace mappings
  bpf/process/bpf_execve_event.c
  bpf/process/policy_filter.h
  pkg/policyfilter/disabled.go
  pkg/policyfilter/namespace.go
  pkg/policyfilter/policyfilter.go
  pkg/policyfilter/rthooks/rthooks.go
  pkg/policyfilter/state.go
  pkg/policyfilter/state_test.go
  pkg/sensors/tracing/policyfilter_test.go
Owners: @cilium/tetragon

tetragon: debug printer to show cgroup to namespace map
  cmd/tetra/dump/dump.go
  cmd/tetra/policyfilter/policyfilter.go
Owners: @cilium/tetragon

tetragon: Detect move and remove previous bpf instance
  cmd/tetragon/main.go
Owners: @cilium/tetragon

tetragon: Add persistent enforcer tests
  pkg/sensors/tracing/enforcer_test.go
Owners: @cilium/tetragon

tetragon: Add keep-sensors-on-exit option
  cmd/tetragon/main.go
  docs/data/tetragon_flags.yaml
  pkg/option/config.go
  pkg/option/flags.go
  pkg/sensors/program/loader.go
  pkg/sensors/program/map.go
  pkg/sensors/unloader/unloader.go
Owners: @cilium/tetragon, @mtardy

tetragon: Add support to pin link
  pkg/sensors/program/loader.go
  pkg/sensors/program/loader_test.go
  pkg/sensors/program/program.go
Owners: @cilium/tetragon

tetragon: Add support to pin tracepoint links
  pkg/sensors/program/loader.go
Owners: @cilium/tetragon

tetragon: Add support to pin kprobe links
  pkg/sensors/program/loader.go
Owners: @cilium/tetragon

tetragon: Add HasLinkPin function
  cmd/tetragon/main.go
  pkg/bpf/detect.go
Owners: @cilium/tetragon

tetragon: Add local ebpf version
  go.mod
  go.sum
  vendor/github.com/cilium/ebpf/.vimto.toml
  vendor/github.com/cilium/ebpf/Makefile
  vendor/github.com/cilium/ebpf/elf_reader.go
  vendor/github.com/cilium/ebpf/features/prog.go
  vendor/github.com/cilium/ebpf/info.go
  vendor/github.com/cilium/ebpf/internal/epoll/poller.go
  vendor/github.com/cilium/ebpf/internal/sys/types.go
  vendor/github.com/cilium/ebpf/link/cgroup.go
  vendor/github.com/cilium/ebpf/link/kprobe.go
  vendor/github.com/cilium/ebpf/link/kprobe_multi.go
  vendor/github.com/cilium/ebpf/link/link.go
  vendor/github.com/cilium/ebpf/link/netfilter.go
  vendor/github.com/cilium/ebpf/link/netkit.go
  vendor/github.com/cilium/ebpf/link/netns.go
  vendor/github.com/cilium/ebpf/link/perf_event.go
  vendor/github.com/cilium/ebpf/link/tcx.go
  vendor/github.com/cilium/ebpf/link/tracepoint.go
  vendor/github.com/cilium/ebpf/link/tracing.go
  vendor/github.com/cilium/ebpf/link/uprobe.go
  vendor/github.com/cilium/ebpf/link/uprobe_multi.go
  vendor/github.com/cilium/ebpf/link/xdp.go
  vendor/github.com/cilium/ebpf/map.go
  vendor/github.com/cilium/ebpf/perf/reader.go
  vendor/github.com/cilium/ebpf/perf/ring.go
  vendor/github.com/cilium/ebpf/run-tests.sh
  vendor/modules.txt
Owners: @cilium/tetragon

tetragon: Add --bpf-dir option
  cmd/tetragon/main.go
  docs/data/tetragon_flags.yaml
  pkg/option/config.go
  pkg/option/flags.go
Owners: @cilium/tetragon, @mtardy

tetragon: Add support to pin kprobe multi links
  pkg/sensors/program/loader.go
Owners: @cilium/tetragon

tetragon: Add support to pin fmodret links
  pkg/sensors/program/loader.go
Owners: @cilium/tetragon

pkg/sensors: pin the ratelimit_map to the fs
  pkg/sensors/tracing/generickprobe.go
Owners: @cilium/tetragon

bpf: remove rate limit maps and structs for kernel <5.3
  bpf/process/types/basic.h
Owners: @cilium/tetragon

pkg/sensors: reduce ratelimit map memory footprint
  bpf/process/types/basic.h
  pkg/sensors/tracing/generickprobe.go
Owners: @cilium/tetragon

pkg/sensors: fix for ratelimit_map wrong path pinning
  pkg/sensors/tracing/generickprobe.go
Owners: @cilium/tetragon

pkg/sensors: add rate limit test
  pkg/sensors/tracing/kprobe_test.go
Owners: @cilium/tetragon

Tests for LSM sensor
  pkg/sensors/tracing/lsm_test.go
Owners: @cilium/tetragon

LsmBlock action to block operations associated with LSM hook.
  api/v1/README.md
  api/v1/tetragon/tetragon.pb.go
  api/v1/tetragon/tetragon.proto
  bpf/process/bpf_generic_lsm.c
  bpf/process/types/basic.h
  contrib/rthooks/tetragon-oci-hook/vendor/github.com/cilium/tetragon/api/v1/tetragon/tetragon.pb.go
  contrib/rthooks/tetragon-oci-hook/vendor/github.com/cilium/tetragon/api/v1/tetragon/tetragon.proto
  docs/content/en/docs/reference/grpc-api.md
  install/kubernetes/tetragon/crds-yaml/cilium.io_tracingpolicies.yaml
  install/kubernetes/tetragon/crds-yaml/cilium.io_tracingpoliciesnamespaced.yaml
  pkg/api/tracingapi/client_kprobe.go
  pkg/grpc/tracing/tracing.go
  pkg/k8s/apis/cilium.io/client/crds/v1alpha1/cilium.io_tracingpolicies.yaml
  pkg/k8s/apis/cilium.io/client/crds/v1alpha1/cilium.io_tracingpoliciesnamespaced.yaml
  pkg/k8s/apis/cilium.io/v1alpha1/types.go
  pkg/selectors/kernel.go
  vendor/github.com/cilium/tetragon/api/v1/tetragon/tetragon.pb.go
  vendor/github.com/cilium/tetragon/api/v1/tetragon/tetragon.proto
  vendor/github.com/cilium/tetragon/pkg/k8s/apis/cilium.io/client/crds/v1alpha1/cilium.io_tracingpolicies.yaml
  vendor/github.com/cilium/tetragon/pkg/k8s/apis/cilium.io/client/crds/v1alpha1/cilium.io_tracingpoliciesnamespaced.yaml
  vendor/github.com/cilium/tetragon/pkg/k8s/apis/cilium.io/v1alpha1/types.go
Owners: @cilium/tetragon, @mtardy

tetragon-oci-hook-setup: use slog
  contrib/rthooks/tetragon-oci-hook/cmd/setup/main.go
  contrib/rthooks/tetragon-oci-hook/go.mod
Owners: @cilium/tetragon

patched-containerd-conf: deal with cr
  contrib/rthooks/tetragon-rthooks/cmd/setup/patch-containerd-conf.go
Owners: @cilium/tetragon

patch-containerd-conf: enable NRI command
  contrib/rthooks/tetragon-rthooks/cmd/setup/patch-containerd-conf.go
Owners: @cilium/tetragon

tetragon-hooks: rename hook to oci-hook
  Makefile
  contrib/rthooks/tetragon-rthooks/Makefile
  contrib/rthooks/tetragon-rthooks/cmd/oci-hook/cel.go
  contrib/rthooks/tetragon-rthooks/cmd/oci-hook/cel_test.go
  contrib/rthooks/tetragon-rthooks/cmd/oci-hook/main.go
Owners: @cilium/tetragon

tetragon-rthooks-setup: rename parseState
  contrib/rthooks/tetragon-rthooks/cmd/setup/patch-containerd-conf.go
Owners: @cilium/tetragon
