Repository cilium/tetragon, changes with the owners that CODEOWNERS names for each.
All owners: @cilium/tetragon, @willfindlay, @kkourt, @mtardy

CODEOWNERS:

# Request a review from the Tetragon team on any PR
* @cilium/tetragon

# Request a review from William when codegen is edited
cmd/protoc-gen-go-tetragon/ @willfindlay

# Request a review from William when CI is edited
.github/workflows/ @willfindlay

# Request a review from kkourt when core sensor files are modified
pkg/src/sensors/ @kkourt

# Request a review from mtardy when anything from docs is modified but do not
# block on approval from anyone in the tetragon team
/docs/ @mtardy @cilium/tetragon

chore(pkg/sensors): pretty print `LibcAddrs` structure.
  pkg/sensors/tracing/genericuprobe.go
Owners: @cilium/tetragon

chore(pkg/sensors): drop procmanager listener upon sensor destoy.
  pkg/sensors/tracing/genericuprobe.go
Owners: @cilium/tetragon

new: add policytest around the feature.
  contrib/tester-progs/uprobe-lib.c
  tests/policytests/uprobes.go
Owners: @cilium/tetragon

tetragon: Add Tetragon's own rodata config map
  pkg/sensors/base/rodata_linux.go
Owners: @cilium/tetragon

tetragon: Move ENV_VARS_ENABLED to rodata_config
  bpf/lib/config.h
  bpf/process/bpf_execve_event.h
  pkg/sensors/base/base.go
  pkg/sensors/base/rodata_linux.go
Owners: @cilium/tetragon

tetragon: Add test for shared rodata_config map
  pkg/sensors/tracing/kprobe_rodata_test.go
Owners: @cilium/tetragon

tetragon: Add test for rodata_config pin removal on unload
  pkg/sensors/tracing/kprobe_rodata_test.go
Owners: @cilium/tetragon

tetragon: Move PARENTS_MAP_ENABLED to rodata_config
  bpf/lib/config.h
  bpf/process/bpf_process_event.h
  bpf/process/pfilter.h
  pkg/sensors/base/base.go
  pkg/sensors/base/rodata_linux.go
Owners: @cilium/tetragon

tetragon: Add rodata_config map to base sensor
  pkg/sensors/base/base_linux.go
  pkg/sensors/program/loader_linux.go
Owners: @cilium/tetragon

process: handle disabling process cache
  pkg/grpc/exec/exec.go
  pkg/grpc/exec/kthread_init.go
  pkg/grpc/process_manager.go
  pkg/process/process.go
Owners: @cilium/tetragon

process: decouple k8s watcher and process cache
  cmd/tetragon/main.go
  pkg/process/process.go
Owners: @cilium/tetragon

process: read from execve map for process info
  cmd/tetragon/main.go
  pkg/grpc/exec/exec.go
  pkg/process/process.go
  pkg/process/process_id_linux.go
  pkg/process/process_id_windows.go
Owners: @cilium/tetragon

option: Add disable-process-cache flag
  cmd/tetragon/main.go
  pkg/option/config.go
  pkg/option/flags.go
Owners: @cilium/tetragon

podinfo: remove dead code
  pkg/process/podinfo.go
Owners: @cilium/tetragon

docs: run "make generate-flags"
  docs/data/tetragon_flags.yaml
Owners: @mtardy, @cilium/tetragon

api: fix comment typo
  pkg/api/flags.go
Owners: @cilium/tetragon

option: disallow conflicting options
  pkg/option/flags.go
  pkg/option/validate_test.go
Owners: @cilium/tetragon

flags: warn about ignored flags
  pkg/option/flags.go
Owners: @cilium/tetragon

fix(selectors): cap matchPIDs.values at 4 and bounds-check selector buffer writes
  pkg/k8s/apis/cilium.io/client/crds/v1alpha1/cilium.io_tracingpolicies.yaml
  pkg/k8s/apis/cilium.io/client/crds/v1alpha1/cilium.io_tracingpoliciesnamespaced.yaml
  pkg/k8s/apis/cilium.io/v1alpha1/types.go
  pkg/selectors/kernel.go
  pkg/selectors/kernel_test.go
  pkg/selectors/selectors.go
  pkg/tracingpolicy/schemas/tracingpolicy-cilium.io.json
Owners: @cilium/tetragon

policytest: make scenario preparation pluggable
  cmd/tetra/commands_linux.go
  cmd/tetra/policytest/policytest.go
  pkg/testutils/policytest/checkers.go
  pkg/testutils/policytest/runner.go
Owners: @cilium/tetragon

policytest: export ProcessCacheDisabled func
  pkg/testutils/policytest/checkers.go
Owners: @cilium/tetragon

policytest: export ProcessCacheDisabled func
  pkg/testutils/policytest/checkers.go
Owners: @cilium/tetragon

policytest: make scenario preparation pluggable
  cmd/tetra/commands_linux.go
  cmd/tetra/policytest/policytest.go
  pkg/testutils/policytest/checkers.go
  pkg/testutils/policytest/runner.go
Owners: @cilium/tetragon

fix(tetra): disable retry policy when retries are zero
  cmd/tetra/common/client.go
  cmd/tetra/common/client_test.go
Owners: @cilium/tetragon

fix(tetra): apply retry policy to EventLogService
  cmd/tetra/common/client.go
  cmd/tetra/eventlog/client.go
  cmd/tetra/eventlog/client_test.go
Owners: @cilium/tetragon

bpf: clear stale LSM output state before policy filtering
  bpf/process/generic_calls.h
  pkg/sensors/tracing/policyfilter_test.go
Owners: @cilium/tetragon

pkg/bugtool: skip gops collection without an address
  pkg/bugtool/bugtool.go
Owners: @cilium/tetragon

pkg/bugtool: remove redundant gops address check
  pkg/bugtool/bugtool.go
Owners: @cilium/tetragon

lsm: support matchData selectors
  api/v1/README.md
  api/v1/tetragon/codegen/eventchecker/eventchecker.pb.go
  api/v1/tetragon/tetragon.pb.go
  api/v1/tetragon/tetragon.proto
  contrib/tetragon-rthooks/vendor/github.com/cilium/tetragon/api/v1/tetragon/tetragon.pb.go
  contrib/tetragon-rthooks/vendor/github.com/cilium/tetragon/api/v1/tetragon/tetragon.proto
  docs/content/en/docs/reference/grpc-api.md
  docs/content/en/docs/reference/tracing-policy.md
  install/kubernetes/tetragon/crds-yaml/cilium.io_tracingpolicies.yaml
  install/kubernetes/tetragon/crds-yaml/cilium.io_tracingpoliciesnamespaced.yaml
  pkg/grpc/tracing/tracing.go
  pkg/k8s/apis/cilium.io/client/crds/v1alpha1/cilium.io_tracingpolicies.yaml
  pkg/k8s/apis/cilium.io/client/crds/v1alpha1/cilium.io_tracingpoliciesnamespaced.yaml
  pkg/k8s/apis/cilium.io/v1alpha1/types.go
  pkg/k8s/apis/cilium.io/v1alpha1/version.go
  pkg/k8s/apis/cilium.io/v1alpha1/zz_generated.deepcopy.go
  pkg/sensors/tracing/genericlsm.go
  pkg/sensors/tracing/lsm_test.go
  pkg/sensors/tracing/lsm_validation_test.go
  pkg/tracingpolicy/schemas/tracingpolicy-cilium.io.json
  pkg/tracingpolicy/schemas/tracingpolicynamespaced-cilium.io.json
  vendor/github.com/cilium/tetragon/api/v1/tetragon/codegen/eventchecker/eventchecker.pb.go
  vendor/github.com/cilium/tetragon/api/v1/tetragon/tetragon.pb.go
  vendor/github.com/cilium/tetragon/api/v1/tetragon/tetragon.proto
  vendor/github.com/cilium/tetragon/pkg/k8s/apis/cilium.io/client/crds/v1alpha1/cilium.io_tracingpolicies.yaml
  vendor/github.com/cilium/tetragon/pkg/k8s/apis/cilium.io/client/crds/v1alpha1/cilium.io_tracingpoliciesnamespaced.yaml
  vendor/github.com/cilium/tetragon/pkg/k8s/apis/cilium.io/v1alpha1/types.go
  vendor/github.com/cilium/tetragon/pkg/k8s/apis/cilium.io/v1alpha1/version.go
  vendor/github.com/cilium/tetragon/pkg/k8s/apis/cilium.io/v1alpha1/zz_generated.deepcopy.go
Owners: @cilium/tetragon, @mtardy

tetragon: Check err before reading the info in windows loader
  pkg/sensors/program/loader_windows.go
Owners: @cilium/tetragon

tetragon: Remove copyLoadedCollection from windows build
  pkg/sensors/program/coll.go
  pkg/sensors/program/coll_windows.go
  pkg/sensors/program/loader_windows.go
Owners: @cilium/tetragon

tetragon: Add USE_PERF_RING_BUF config variable
  bpf/lib/config.h
  bpf/lib/environ_conf.h
  bpf/lib/process.h
  bpf/test/bpf_lseek.c
  pkg/sensors/config/confmap/confmap.go
  pkg/sensors/program/loader_linux.go
  pkg/sensors/tracing/kprobe_test.go
  pkg/sensors/tracing/lsm_test.go
  pkg/sensors/tracing/tracepoint_test.go
  pkg/sensors/tracing/uprobe_test.go
  pkg/sensors/tracing/usdt_test.go
  pkg/testutils/sensors/load.go
Owners: @cilium/tetragon

tetragon: Store only refferenced maps in LoadedCollection
  pkg/sensors/program/coll.go
  pkg/sensors/program/loader_linux.go
Owners: @cilium/tetragon

tetragon: Load pinned maps without stat
  pkg/sensors/program/map.go
Owners: @cilium/tetragon

tetragon: Sanitize loader sensor path retrieval
  bpf/process/bpf_loader.c
  pkg/sensors/tracing/loader_linux.go
Owners: @cilium/tetragon

tetragon: Add Configure and Validate program.Map callbacks
  pkg/sensors/program/map.go
Owners: @cilium/tetragon

tetragon: Add pin name to program.Map
  pkg/sensors/load_linux.go
  pkg/sensors/program/map.go
Owners: @cilium/tetragon

tetragon: Factor loader refMaps resolving
  pkg/sensors/program/loader_linux.go
Owners: @cilium/tetragon

tetragon: Add struct rodata_config for read-only config data
  bpf/lib/config.h
Owners: @cilium/tetragon

ci: move vmpolicytests into package-e2e-tests
  .github/workflows/packages-e2e-tests.yaml
  .github/workflows/vmpolicytests.yaml
Owners: @willfindlay
