Repository cilium/tetragon, changes with the owners that CODEOWNERS names for each.
All owners: @cilium/tetragon, @willfindlay, @kkourt, @mtardy

CODEOWNERS:

# Request a review from the Tetragon team on any PR
* @cilium/tetragon

# Request a review from William when codegen is edited
cmd/protoc-gen-go-tetragon/ @willfindlay

# Request a review from William when CI is edited
.github/workflows/ @willfindlay

# Request a review from kkourt when core sensor files are modified
pkg/src/sensors/ @kkourt

# Request a review from mtardy when anything from docs is modified but do not
# block on approval from anyone in the tetragon team
/docs/ @mtardy @cilium/tetragon

tetra: add --hook-status flag
  cmd/tetra/common/utils.go
  cmd/tetra/policyfilter/k8s.go
  cmd/tetra/tracingpolicy/tracingpolicy.go
Owners: @cilium/tetragon

api: run "make protogen"
  api/v1/README.md
  api/v1/tetragon/sensors.pb.go
  contrib/tetragon-rthooks/vendor/github.com/cilium/tetragon/api/v1/tetragon/sensors.pb.go
  contrib/tetragon-rthooks/vendor/github.com/cilium/tetragon/api/v1/tetragon/sensors.proto
  docs/content/en/docs/reference/grpc-api.md
  vendor/github.com/cilium/tetragon/api/v1/tetragon/sensors.pb.go
  vendor/github.com/cilium/tetragon/api/v1/tetragon/sensors.proto
Owners: @cilium/tetragon, @mtardy

tracingpolicy: extend policy hook status in API
  api/v1/tetragon/sensors.proto
Owners: @cilium/tetragon

kprobe: report hook status
  pkg/sensors/tracing/generickprobe.go
Owners: @cilium/tetragon

uprobe: update digest verification tests
  pkg/sensors/tracing/uprobe_digest_test.go
Owners: @cilium/tetragon

sensors: handle empty sensors
  pkg/sensors/collection.go
  pkg/sensors/delayed_sensor_test.go
  pkg/sensors/load.go
  pkg/sensors/sensors.go
  pkg/sensors/tracing/generickprobe.go
  pkg/sensors/tracing/genericuprobe.go
Owners: @cilium/tetragon

kprobe: create empty sensor when all hooks ignored
  pkg/sensors/tracing/generickprobe.go
  pkg/sensors/tracing/policyhandler_linux.go
Owners: @cilium/tetragon

uprobe: Add resolvePathInContainer field to UProbeSpec
  docs/content/en/docs/reference/tracing-policy.md
  install/kubernetes/tetragon/crds-yaml/cilium.io_tracingpolicies.yaml
  install/kubernetes/tetragon/crds-yaml/cilium.io_tracingpoliciesnamespaced.yaml
  pkg/k8s/apis/cilium.io/client/crds/v1alpha1/cilium.io_tracingpolicies.yaml
  pkg/k8s/apis/cilium.io/client/crds/v1alpha1/cilium.io_tracingpoliciesnamespaced.yaml
  pkg/k8s/apis/cilium.io/v1alpha1/tracing_policy_types.go
  pkg/k8s/apis/cilium.io/v1alpha1/types.go
  pkg/k8s/apis/cilium.io/v1alpha1/version.go
  pkg/sensors/tracing/genericuprobe.go
  pkg/sensors/tracing/policyhandler_linux.go
  pkg/sensors/tracing/uprobe_validation_test.go
  vendor/github.com/cilium/tetragon/pkg/k8s/apis/cilium.io/client/crds/v1alpha1/cilium.io_tracingpolicies.yaml
  vendor/github.com/cilium/tetragon/pkg/k8s/apis/cilium.io/client/crds/v1alpha1/cilium.io_tracingpoliciesnamespaced.yaml
  vendor/github.com/cilium/tetragon/pkg/k8s/apis/cilium.io/v1alpha1/tracing_policy_types.go
  vendor/github.com/cilium/tetragon/pkg/k8s/apis/cilium.io/v1alpha1/types.go
  vendor/github.com/cilium/tetragon/pkg/k8s/apis/cilium.io/v1alpha1/version.go
Owners: @mtardy, @cilium/tetragon

contrib: Add tester-progs image for e2e test workloads
  Makefile
  contrib/tester-progs/Dockerfile
  contrib/tester-progs/uprobe-simple.c
Owners: @cilium/tetragon

uprobe: Wire resolvePathInContainer reconciler into policy load
  cmd/tetragon/main_k8s.go
  cmd/tetragon/main_k8s_unix.go
  cmd/tetragon/main_k8s_windows.go
  pkg/elf/build_id.go
  pkg/elf/pclntab.go
  pkg/elf/pclntab_test.go
  pkg/sensors/collection.go
  pkg/sensors/handler.go
  pkg/sensors/handler_lifecycle_test.go
  pkg/sensors/load.go
  pkg/sensors/load_hooks_test.go
  pkg/sensors/load_linux.go
  pkg/sensors/map_lifecycle_test.go
  pkg/sensors/program/map.go
  pkg/sensors/sensors.go
  pkg/sensors/sort_test.go
  pkg/sensors/tracing/genericuprobe.go
  pkg/sensors/tracing/policyhandler_linux.go
  pkg/sensors/tracing/uprobe_attacher_linux.go
  pkg/sensors/tracing/uprobe_attacher_linux_test.go
  pkg/sensors/tracing/uprobe_reconciler_linux.go
  pkg/sensors/tracing/uprobe_registry_linux.go
  pkg/sensors/tracing/uprobe_registry_linux_test.go
  pkg/sensors/tracing/uprobe_resolve_linux.go
  pkg/sensors/tracing/uprobe_ric_linux.go
  pkg/sensors/tracing/uprobe_ric_linux_test.go
  pkg/sensors/tracing/uprobe_ric_nok8s.go
  pkg/sensors/tracing/uprobe_validation_test.go
Owners: @cilium/tetragon

test: Add e2e test for resolve in container
  Makefile
  contrib/tester-progs/Dockerfile
  contrib/tester-progs/Dockerfile.dockerignore
  contrib/tester-progs/Makefile
  tests/e2e/flags/flags.go
  tests/e2e/helpers/cluster.go
  tests/e2e/tests/uprobe_ric/testdata/policy.yaml
  tests/e2e/tests/uprobe_ric/testdata/values.yaml
  tests/e2e/tests/uprobe_ric/testdata/workload.yaml
  tests/e2e/tests/uprobe_ric/uprobe_ric_test.go
Owners: @cilium/tetragon

uprobe: Add resolvePathInContainer docs and example policy
  docs/content/en/docs/concepts/tracing-policy/hooks.md
  examples/tracingpolicy/uprobe-pod.yaml
Owners: @mtardy, @cilium/tetragon

uprobe: Resolve container root via runtime hooks and CRI
  pkg/cri/container.go
  pkg/cri/container_test.go
  pkg/sensors/tracing/uprobe_rootdir_linux.go
  pkg/sensors/tracing/uprobe_rootdir_linux_test.go
Owners: @cilium/tetragon

uprobe: Add reconciler registry and pod-event seam
  pkg/manager/events/pods.go
  pkg/manager/podevents.go
  pkg/manager/podevents_test.go
  pkg/sensors/tracing/uprobe_podhooks_linux.go
  pkg/sensors/tracing/uprobe_podhooks_linux_test.go
  pkg/sensors/tracing/uprobe_registry_linux.go
  pkg/sensors/tracing/uprobe_registry_linux_test.go
Owners: @cilium/tetragon

uprobe: Add per-container reconciler
  pkg/sensors/tracing/uprobe_reconciler_linux.go
  pkg/sensors/tracing/uprobe_reconciler_linux_test.go
Owners: @cilium/tetragon

uprobe: Add container binary path resolver
  pkg/sensors/tracing/uprobe_resolve_linux.go
  pkg/sensors/tracing/uprobe_resolve_linux_test.go
Owners: @cilium/tetragon

policytests: fix policytest run
  tests/policytests/kprobes.go
Owners: @cilium/tetragon

new(install/kubernetes): make command to generate json schemas from crds.
  install/kubernetes/Makefile
  pkg/tracingpolicy/schemas/podinfo-cilium.io.json
  pkg/tracingpolicy/schemas/tracingpolicy-cilium.io.json
  pkg/tracingpolicy/schemas/tracingpolicynamespaced-cilium.io.json
Owners: @cilium/tetragon

new: `generate` to also generate tetragon schemas.
  Makefile
Owners: @cilium/tetragon

Testing tetragon caps
  docs/content/en/docs/reference/helm-chart.md
  install/kubernetes/tetragon/README.md
  install/kubernetes/tetragon/values.yaml
Owners: @mtardy, @cilium/tetragon

Testing tetragon caps
  docs/content/en/docs/reference/helm-chart.md
  install/kubernetes/tetragon/README.md
  install/kubernetes/tetragon/templates/_container_tetragon.tpl
  install/kubernetes/tetragon/values.yaml
Owners: @mtardy, @cilium/tetragon

tetragon: Set PARENTS_MAP_ENABLED for tracing sensors
  pkg/selectors/kernel.go
  pkg/sensors/tracing/generic.go
  pkg/sensors/tracing/generickprobe.go
  pkg/sensors/tracing/genericlsm.go
  pkg/sensors/tracing/generictracepoint.go
  pkg/sensors/tracing/genericuprobe.go
  pkg/sensors/tracing/genericusdt.go
Owners: @cilium/tetragon

tetragon: Fix matchParentBinaries filter
  bpf/process/pfilter.h
Owners: @cilium/tetragon

tetragon: Add Configure and Validate program.Map callbacks
  pkg/sensors/program/map.go
Owners: @cilium/tetragon

tetragon: Load pinned maps without stat
  pkg/sensors/program/map.go
Owners: @cilium/tetragon

tetragon: Add rodata config map builder
  pkg/sensors/program/rodata_linux.go
Owners: @cilium/tetragon

tetragon: Add test for rodata_config map values
  pkg/sensors/tracing/kprobe_rodata_test.go
Owners: @cilium/tetragon

tetragon: Factor loader refMaps resolving
  pkg/sensors/program/loader_linux.go
Owners: @cilium/tetragon

tetragon: Add pin name to program.Map
  pkg/sensors/load_linux.go
  pkg/sensors/program/map.go
Owners: @cilium/tetragon

tetragon: Store only refferenced maps in LoadedCollection
  pkg/sensors/program/coll.go
  pkg/sensors/program/loader_linux.go
Owners: @cilium/tetragon

tetragon: Move ENV_VARS_ENABLED to rodata_config
  bpf/lib/config.h
  bpf/process/bpf_execve_event.c
  pkg/kernels/kernels_windows.go
  pkg/sensors/base/base.go
  pkg/sensors/program/rodata_linux.go
Owners: @cilium/tetragon

tetragon: Add rodata_config map to base sensor
  pkg/sensors/base/base_linux.go
  pkg/sensors/program/loader_linux.go
Owners: @cilium/tetragon

tetragon: Remove copyLoadedCollection from windows build
  pkg/sensors/program/coll.go
  pkg/sensors/program/coll_windows.go
  pkg/sensors/program/loader_windows.go
Owners: @cilium/tetragon

tetragon: Introduce struct rodata_config for config data
  bpf/lib/config.h
Owners: @cilium/tetragon

tetragon: Check err before reading the info in windows loader
  pkg/sensors/program/loader_windows.go
Owners: @cilium/tetragon

tetragon: Move PARENTS_MAP_ENABLED to rodata_config
  bpf/lib/config.h
  bpf/process/bpf_process_event.h
  bpf/process/pfilter.h
  pkg/sensors/base/base.go
  pkg/sensors/program/rodata_linux.go
Owners: @cilium/tetragon

Persist gRPC policy server operations (Add/Delete)
  cmd/tetragon/main.go
  pkg/bench/bench.go
  pkg/exporter/exporter_test.go
  pkg/grpc/process_manager.go
  pkg/grpc/process_manager_test.go
  pkg/observer/observertesthelper/observer_test_helper.go
  pkg/server/server.go
Owners: @cilium/tetragon

Persist gRPC policy server operations (Enable/Disable)
  pkg/server/server.go
Owners: @cilium/tetragon

Restore persisted gRPC policies at agent startup
  cmd/tetragon/main.go
Owners: @cilium/tetragon

Document persistent gRPC policies
  docs/content/en/docs/concepts/enforcement/persistent-grpc-policies.md
Owners: @mtardy, @cilium/tetragon
