Repository cilium/tetragon, changes with the owners that CODEOWNERS names for each.
All owners: @cilium/tetragon, @willfindlay, @kkourt, @mtardy

CODEOWNERS:

# Request a review from the Tetragon team on any PR
* @cilium/tetragon

# Request a review from William when codegen is edited
cmd/protoc-gen-go-tetragon/ @willfindlay

# Request a review from William when CI is edited
.github/workflows/ @willfindlay

# Request a review from kkourt when core sensor files are modified
pkg/src/sensors/ @kkourt

# Request a review from mtardy when anything from docs is modified but do not
# block on approval from anyone in the tetragon team
/docs/ @mtardy @cilium/tetragon

pkg/sensors: reduce memory footprint of unused override maps
  bpf/process/bpf_generic_kprobe.c
  pkg/sensors/tracing/generickprobe.go
Owners: @cilium/tetragon

tetragon: Add max entries test
  pkg/sensors/tracing/kprobe_maxentries_test.go
Owners: @cilium/tetragon

pkg/sensors: add a test for override map resize
  pkg/sensors/tracing/kprobe_maxentries_test.go
Owners: @cilium/tetragon

pkg/sensors: reduce memory footprint of unused override maps
  bpf/process/bpf_generic_kprobe.c
  pkg/sensors/tracing/generickprobe.go
Owners: @cilium/tetragon

metrics: Reorganize code
  pkg/metrics/counter.go
  pkg/metrics/filteredlabels.go
  pkg/metrics/filteredlabels_test.go
  pkg/metrics/gauge.go
  pkg/metrics/granularmetric.go
  pkg/metrics/histogram.go
  pkg/metrics/metricwithpod.go
Owners: @cilium/tetragon

Extend metrics library
  pkg/metrics/bpfmetric.go
  pkg/metrics/counter.go
  pkg/metrics/customcollector.go
  pkg/metrics/custommetric.go
  pkg/metrics/doc.go
  pkg/metrics/filteredlabels.go
  pkg/metrics/gauge.go
  pkg/metrics/granularmetric.go
  pkg/metrics/group.go
  pkg/metrics/histogram.go
  pkg/metrics/labels.go
  pkg/metrics/opts.go
Owners: @cilium/tetragon

.github: update pull request template
  .github/pull_request_template.md
Owners: @cilium/tetragon

tetragon: make resolving uid to username work with a processapi struct
  pkg/sensors/exec/exec.go
  pkg/sensors/exec/procevents/proc_reader.go
  pkg/sensors/exec/userinfo/userinfo.go
Owners: @cilium/tetragon

tracing: allow only one of kprobes/tracepoints/lsm
  pkg/sensors/tracing/policyhandler.go
Owners: @cilium/tetragon

tracing: allow only one of kprobes/tracepoints/lsm
  pkg/sensors/tracing/policyhandler.go
Owners: @cilium/tetragon

docs: fix deploy preview appearing in search engine results.
  docs/static/robots.txt
  netlify.toml
Owners: @mtardy, @cilium/tetragon

docs: add noindex, nofollow with X-Robots-Tag on Netlify
  netlify.toml
Owners: @cilium/tetragon

docs: use different config for development and production
  docs/config/_default/hugo.toml
  docs/config/production/hugo.toml
Owners: @mtardy, @cilium/tetragon

docs: use the development environment for Netlify
  netlify.toml
Owners: @cilium/tetragon

docs: include analytics only in production builds
  docs/layouts/partials/hooks/head-end.html
Owners: @mtardy, @cilium/tetragon

docs: add noindex, nofollow with X-Robots-Tag on Netlify
  netlify.toml
Owners: @cilium/tetragon

fix: update execution monitoring section of docs
  docs/content/en/docs/getting-started/execution.md
  docs/content/en/docs/getting-started/install-docker.md
  examples/quickstart/docker-compose.yaml
Owners: @mtardy, @cilium/tetragon

fix: update execution events section
  docs/content/en/docs/getting-started/execution.md
Owners: @mtardy, @cilium/tetragon

fix(docs): update getting started instructions
  docs/content/en/docs/getting-started/execution.md
  docs/content/en/docs/getting-started/install-k8s.md
Owners: @mtardy, @cilium/tetragon

docs: display patch file for debug in PR links checker
  .github/workflows/check-links-pr.yaml
Owners: @willfindlay

docs: the PR link checker didn't expect github raw links
  .github/workflows/check-links-pr.yaml
Owners: @willfindlay

doc: Add docker-buildx to requirements
  docs/content/en/docs/contribution-guide/development-setup.md
Owners: @mtardy, @cilium/tetragon

docs: display patch file for debug in PR links checker
  .github/workflows/check-links-pr.yaml
Owners: @willfindlay

docs: the PR link checker didn't expect github raw links
  .github/workflows/check-links-pr.yaml
Owners: @willfindlay

metrics: Reorganize code
  pkg/metrics/counter.go
  pkg/metrics/filteredlabels.go
  pkg/metrics/filteredlabels_test.go
  pkg/metrics/gauge.go
  pkg/metrics/granularmetric.go
  pkg/metrics/histogram.go
  pkg/metrics/metricwithpod.go
Owners: @cilium/tetragon

Extend metrics library
  pkg/metrics/bpfmetric.go
  pkg/metrics/counter.go
  pkg/metrics/customcollector.go
  pkg/metrics/custommetric.go
  pkg/metrics/doc.go
  pkg/metrics/filteredlabels.go
  pkg/metrics/gauge.go
  pkg/metrics/granularmetric.go
  pkg/metrics/group.go
  pkg/metrics/histogram.go
  pkg/metrics/labels.go
  pkg/metrics/opts.go
Owners: @cilium/tetragon

eventmetrics: Refactor metrics collector
  pkg/metrics/eventmetrics/collector.go
  pkg/metrics/eventmetrics/eventmetrics.go
  pkg/metrics/labels.go
Owners: @cilium/tetragon

policystatemetrics: Refactor metrics collector
  pkg/metrics/policystatemetrics/policystatemetrics.go
  pkg/metrics/policystatemetrics/policystatemetrics_test.go
Owners: @cilium/tetragon

mapmetrics,observer: Refactor metrics collector
  pkg/metrics/mapmetrics/mapmetrics.go
  pkg/observer/observer_stats.go
Owners: @cilium/tetragon

metricsconfig: Define health metrics group
  cmd/tetragon-metrics-docs/main.go
  pkg/exporter/metrics.go
  pkg/grpc/tracing/stats.go
  pkg/metrics/cgroupratemetrics/cgroupratemetrics.go
  pkg/metrics/errormetrics/errormetrics.go
  pkg/metrics/eventcachemetrics/eventcachemetrics.go
  pkg/metrics/eventmetrics/eventmetrics.go
  pkg/metrics/kprobemetrics/kprobemetrics.go
  pkg/metrics/opcodemetrics/opcodemetrics.go
  pkg/metrics/policyfiltermetrics/policyfiltermetrics.go
  pkg/metrics/ratelimitmetrics/ratelimitmetrics.go
  pkg/metrics/ringbufmetrics/ringbufmetrics.go
  pkg/metrics/ringbufqueuemetrics/ringbufqueuemetrics.go
  pkg/metrics/watchermetrics/watchermetrics.go
  pkg/metricsconfig/healthmetrics.go
  pkg/metricsconfig/initmetrics.go
  pkg/observer/data_stats.go
  pkg/process/metrics.go
  pkg/version/metrics.go
Owners: @cilium/tetragon

tetragon: Events shift
  api/v1/tetragon/events.proto
Owners: @cilium/tetragon

tetragon: make generate and codegen
  api/v1/README.md
  api/v1/tetragon/codegen/helpers/helpers.pb.go
  api/v1/tetragon/events.pb.go
  contrib/tetragon-rthooks/vendor/github.com/cilium/tetragon/api/v1/tetragon/events.pb.go
  contrib/tetragon-rthooks/vendor/github.com/cilium/tetragon/api/v1/tetragon/events.proto
  docs/content/en/docs/reference/grpc-api.md
  vendor/github.com/cilium/tetragon/api/v1/tetragon/codegen/helpers/helpers.pb.go
  vendor/github.com/cilium/tetragon/api/v1/tetragon/events.pb.go
  vendor/github.com/cilium/tetragon/api/v1/tetragon/events.proto
Owners: @cilium/tetragon, @mtardy

docs: include analytics only in production builds
  docs/layouts/partials/hooks/head-end.html
Owners: @mtardy, @cilium/tetragon

docs: use different config for development and production
  docs/config/_default/hugo.toml
  docs/config/production/hugo.toml
Owners: @mtardy, @cilium/tetragon

docs: add noindex, nofollow with X-Robots-Tag on Netlify
  netlify.toml
Owners: @cilium/tetragon

docs: use the development environment for Netlify
  netlify.toml
Owners: @cilium/tetragon

update github.com/cilium/ebpf
  go.mod
  go.sum
  pkg/sensors/program/loader.go
  vendor/github.com/cilium/ebpf/CODEOWNERS
  vendor/github.com/cilium/ebpf/btf/btf.go
  vendor/github.com/cilium/ebpf/btf/handle.go
  vendor/github.com/cilium/ebpf/btf/types.go
  vendor/github.com/cilium/ebpf/collection.go
  vendor/github.com/cilium/ebpf/info.go
  vendor/github.com/cilium/ebpf/internal/errors.go
  vendor/github.com/cilium/ebpf/link/xdp.go
  vendor/github.com/cilium/ebpf/map.go
  vendor/github.com/cilium/ebpf/perf/reader.go
  vendor/github.com/cilium/ebpf/prog.go
  vendor/modules.txt
Owners: @cilium/tetragon

doc: Add docker-buildx to requirements
  docs/content/en/docs/contribution-guide/development-setup.md
Owners: @mtardy, @cilium/tetragon

update github.com/cilium/ebpf
  go.mod
  go.sum
  pkg/sensors/program/loader.go
  vendor/github.com/cilium/ebpf/CODEOWNERS
  vendor/github.com/cilium/ebpf/btf/btf.go
  vendor/github.com/cilium/ebpf/btf/handle.go
  vendor/github.com/cilium/ebpf/btf/types.go
  vendor/github.com/cilium/ebpf/collection.go
  vendor/github.com/cilium/ebpf/info.go
  vendor/github.com/cilium/ebpf/internal/errors.go
  vendor/github.com/cilium/ebpf/link/xdp.go
  vendor/github.com/cilium/ebpf/map.go
  vendor/github.com/cilium/ebpf/perf/reader.go
  vendor/github.com/cilium/ebpf/prog.go
  vendor/modules.txt
Owners: @cilium/tetragon

proto: Reserve removed field numbers
  api/v1/README.md
  api/v1/tetragon/codegen/helpers/helpers.pb.go
  api/v1/tetragon/events.pb.go
  api/v1/tetragon/events.proto
  contrib/tetragon-rthooks/vendor/github.com/cilium/tetragon/api/v1/tetragon/events.pb.go
  contrib/tetragon-rthooks/vendor/github.com/cilium/tetragon/api/v1/tetragon/events.proto
  docs/content/en/docs/reference/grpc-api.md
  vendor/github.com/cilium/tetragon/api/v1/tetragon/codegen/helpers/helpers.pb.go
  vendor/github.com/cilium/tetragon/api/v1/tetragon/events.pb.go
  vendor/github.com/cilium/tetragon/api/v1/tetragon/events.proto
Owners: @cilium/tetragon, @mtardy
