Repository cilium/tetragon, changes with the owners that CODEOWNERS names for each.
All owners: @cilium/tetragon, @willfindlay, @kkourt, @mtardy

policytest: Adding temp file support
  cmd/tetra/policytest/policytest.go
  pkg/testutils/policytest/builder.go
  pkg/testutils/policytest/conf.go
  pkg/testutils/policytest/observertest.go
  pkg/testutils/policytest/policytest.go
  pkg/testutils/policytest/runner.go
Owners: @cilium/tetragon

helm: Fix nested spec in certgen Job
  install/kubernetes/tetragon/templates/tls-cronjob/_job-spec.tpl
  install/kubernetes/tetragon/templates/tls-cronjob/cronjob.yaml
Owners: @cilium/tetragon

ci: Bump minimum K8s version for helm lint to 1.30
  .github/workflows/lint-helm.yaml
Owners: @willfindlay

helm: Fix duplicate label in certgen resources
  install/kubernetes/tetragon/templates/_helpers.tpl
  install/kubernetes/tetragon/templates/tls-cronjob/_job-spec.tpl
  install/kubernetes/tetragon/templates/tls-cronjob/cronjob.yaml
  install/kubernetes/tetragon/templates/tls-cronjob/job.yaml
  install/kubernetes/tetragon/templates/tls-cronjob/role.yaml
  install/kubernetes/tetragon/templates/tls-cronjob/rolebinding.yaml
  install/kubernetes/tetragon/templates/tls-cronjob/serviceaccount.yaml
Owners: @cilium/tetragon

helm: Validate gRPC TLS resources with kubeconform
  install/kubernetes/Makefile
  install/kubernetes/helm_lint_values_override.yaml
  install/kubernetes/kubeconform/crds-helm.yaml
  install/kubernetes/kubeconform/grpc-tls-cert-manager.yaml
  install/kubernetes/kubeconform/grpc-tls-cron-job.yaml
  install/kubernetes/kubeconform/grpc-tls-helm.yaml
Owners: @cilium/tetragon

helm: Set hostUsers where applicable
  docs/content/en/docs/reference/helm-chart.md
  install/kubernetes/Makefile
  install/kubernetes/tetragon/README.md
  install/kubernetes/tetragon/templates/daemonset.yaml
  install/kubernetes/tetragon/templates/operator_deployment.yaml
  install/kubernetes/tetragon/templates/rthooks-daemonset.yaml
  install/kubernetes/tetragon/templates/tls-cronjob/_job-spec.tpl
  install/kubernetes/tetragon/values.yaml
Owners: @mtardy, @cilium/tetragon

helm: Set hostUsers where applicable
  docs/content/en/docs/reference/helm-chart.md
  install/kubernetes/Makefile
  install/kubernetes/tetragon/README.md
  install/kubernetes/tetragon/templates/daemonset.yaml
  install/kubernetes/tetragon/templates/operator_deployment.yaml
  install/kubernetes/tetragon/templates/rthooks-daemonset.yaml
  install/kubernetes/tetragon/templates/tls-cronjob/_job-spec.tpl
  install/kubernetes/tetragon/values.yaml
Owners: @mtardy, @cilium/tetragon

policy: Report node filtered policies as skipped
  api/v1/README.md
  api/v1/tetragon/sensors.pb.go
  api/v1/tetragon/sensors.proto
  contrib/tetragon-rthooks/vendor/github.com/cilium/tetragon/api/v1/tetragon/sensors.pb.go
  contrib/tetragon-rthooks/vendor/github.com/cilium/tetragon/api/v1/tetragon/sensors.proto
  docs/content/en/docs/concepts/tracing-policy/k8s-filtering.md
  docs/content/en/docs/reference/grpc-api.md
  docs/content/en/docs/reference/metrics.md
  pkg/metrics/policymetrics/policymetrics.go
  pkg/metrics/policymetrics/policymetrics_test.go
  pkg/sensors/collection.go
  pkg/sensors/handler.go
  pkg/sensors/manager.go
  pkg/sensors/manager_test.go
  pkg/watcher/crdwatcher/nodeselector_test.go
  pkg/watcher/crdwatcher/tracingpolicy_namespaced_reconciler.go
  pkg/watcher/crdwatcher/tracingpolicy_reconciler.go
  pkg/watcher/crdwatcher/tracingpolicy_reconciler_integration_test.go
  pkg/watcher/crdwatcher/tracingpolicy_reconciler_test.go
  tests/e2e/tests/nodeselector/nodeselector_test.go
  vendor/github.com/cilium/tetragon/api/v1/tetragon/sensors.pb.go
  vendor/github.com/cilium/tetragon/api/v1/tetragon/sensors.proto
Owners: @cilium/tetragon, @mtardy

sensors: Extract helpers to register a tracing policy
  pkg/sensors/handler.go
  pkg/sensors/manager.go
Owners: @cilium/tetragon

lsm: Add duplicate LSM hook tests
  pkg/sensors/tracing/lsm_test.go
  tests/policytests/lsm.go
Owners: @cilium/tetragon

lsm: Fixing duplicate hook bug
  pkg/sensors/tracing/genericlsm.go
Owners: @cilium/tetragon

pkg/encoder: escape untrusted strings from events
  pkg/encoder/color.go
  pkg/encoder/encoder.go
Owners: @cilium/tetragon

pkg/encoder: add regression test for escaping special chars
  pkg/encoder/encoder_test.go
Owners: @cilium/tetragon

renovate: Schedule lvh updates monthly for stable branches
  .github/renovate.json5
Owners: @cilium/tetragon

renovate: Schedule lvh updates monthly for stable branches
  .github/renovate.json5
Owners: @cilium/tetragon

sensors: Extract helpers to register a tracing policy
  pkg/sensors/handler.go
  pkg/sensors/manager.go
Owners: @cilium/tetragon

policy: Report node filtered policies as skipped
  api/v1/README.md
  api/v1/tetragon/sensors.pb.go
  api/v1/tetragon/sensors.proto
  contrib/tetragon-rthooks/vendor/github.com/cilium/tetragon/api/v1/tetragon/sensors.pb.go
  contrib/tetragon-rthooks/vendor/github.com/cilium/tetragon/api/v1/tetragon/sensors.proto
  docs/content/en/docs/concepts/tracing-policy/k8s-filtering.md
  docs/content/en/docs/reference/grpc-api.md
  docs/content/en/docs/reference/metrics.md
  pkg/metrics/policymetrics/policymetrics.go
  pkg/metrics/policymetrics/policymetrics_test.go
  pkg/sensors/collection.go
  pkg/sensors/handler.go
  pkg/sensors/manager.go
  pkg/sensors/manager_test.go
  pkg/watcher/crdwatcher/nodeselector_test.go
  pkg/watcher/crdwatcher/tracingpolicy_namespaced_reconciler.go
  pkg/watcher/crdwatcher/tracingpolicy_reconciler.go
  pkg/watcher/crdwatcher/tracingpolicy_reconciler_integration_test.go
  pkg/watcher/crdwatcher/tracingpolicy_reconciler_test.go
  tests/e2e/tests/nodeselector/nodeselector_test.go
  vendor/github.com/cilium/tetragon/api/v1/tetragon/sensors.pb.go
  vendor/github.com/cilium/tetragon/api/v1/tetragon/sensors.proto
Owners: @cilium/tetragon, @mtardy

metrics: Collect tracingpolicy_loaded states in a loop
  pkg/metrics/policymetrics/policymetrics.go
Owners: @cilium/tetragon

Add flags to control persistent gRPC policies
  pkg/defaults/defaults.go
  pkg/defaults/defaults_windows.go
  pkg/option/config.go
  pkg/option/flags.go
Owners: @cilium/tetragon

Update tetragon_flags.yaml
  docs/data/tetragon_flags.yaml
Owners: @mtardy, @cilium/tetragon

examples: remove broken symlink
  examples/configuration/README.md
Owners: @cilium/tetragon

clang-format: align goto label formatting with checkpatch
  .clang-format
Owners: @cilium/tetragon

policytest: sort list when printing available policytests
  pkg/testutils/policytest/register.go
Owners: @cilium/tetragon

Makefile: also remove .btf files on clean
  contrib/tester-progs/Makefile
Owners: @cilium/tetragon

crds: fix typos in CRD docs
  docs/content/en/docs/reference/tracing-policy.md
  install/kubernetes/tetragon/crds-yaml/cilium.io_tracingpolicies.yaml
  install/kubernetes/tetragon/crds-yaml/cilium.io_tracingpoliciesnamespaced.yaml
  pkg/k8s/apis/cilium.io/client/crds/v1alpha1/cilium.io_tracingpolicies.yaml
  pkg/k8s/apis/cilium.io/client/crds/v1alpha1/cilium.io_tracingpoliciesnamespaced.yaml
  pkg/k8s/apis/cilium.io/v1alpha1/types.go
  pkg/k8s/apis/cilium.io/v1alpha1/version.go
  vendor/github.com/cilium/tetragon/pkg/k8s/apis/cilium.io/client/crds/v1alpha1/cilium.io_tracingpolicies.yaml
  vendor/github.com/cilium/tetragon/pkg/k8s/apis/cilium.io/client/crds/v1alpha1/cilium.io_tracingpoliciesnamespaced.yaml
  vendor/github.com/cilium/tetragon/pkg/k8s/apis/cilium.io/v1alpha1/types.go
  vendor/github.com/cilium/tetragon/pkg/k8s/apis/cilium.io/v1alpha1/version.go
Owners: @mtardy, @cilium/tetragon

option: validate export-rate-limit and warn on invalid or zero values
  docs/data/tetragon_flags.yaml
  install/kubernetes/tetragon/values.yaml
  pkg/option/flags.go
Owners: @mtardy, @cilium/tetragon

new(pkg): introduce `KernelSelectorArgs.UprobeID`.
  pkg/selectors/kernel.go
  pkg/selectors/kernel_regs_amd64.go
  pkg/selectors/kernel_regs_arm64.go
  pkg/selectors/kernel_test.go
  pkg/selectors/selectors.go
Owners: @cilium/tetragon

update(pkg/sensors): update `TestUprobeOverrideAction` to show the bug.
  pkg/sensors/tracing/uprobe_reg_test.go
Owners: @cilium/tetragon

fix(pkg/sensors): fixed `populateUprobeRegs` to use the correct index.
  pkg/sensors/tracing/genericuprobe.go
Owners: @cilium/tetragon

pkg/elf: small improvements to the build id parsing
  pkg/elf/build_id.go
  pkg/sensors/tracing/loader_test.go
Owners: @cilium/tetragon

examples: remove broken symlink
  examples/configuration/README.md
Owners: @cilium/tetragon

Makefile: also remove .btf files on clean
  contrib/tester-progs/Makefile
Owners: @cilium/tetragon

clang-format: align goto label formatting with checkpatch
  .clang-format
Owners: @cilium/tetragon

crds: fix typos in CRD docs
  docs/content/en/docs/reference/tracing-policy.md
  install/kubernetes/tetragon/crds-yaml/cilium.io_tracingpolicies.yaml
  install/kubernetes/tetragon/crds-yaml/cilium.io_tracingpoliciesnamespaced.yaml
  pkg/k8s/apis/cilium.io/client/crds/v1alpha1/cilium.io_tracingpolicies.yaml
  pkg/k8s/apis/cilium.io/client/crds/v1alpha1/cilium.io_tracingpoliciesnamespaced.yaml
  pkg/k8s/apis/cilium.io/v1alpha1/types.go
  pkg/k8s/apis/cilium.io/v1alpha1/version.go
  vendor/github.com/cilium/tetragon/pkg/k8s/apis/cilium.io/client/crds/v1alpha1/cilium.io_tracingpolicies.yaml
  vendor/github.com/cilium/tetragon/pkg/k8s/apis/cilium.io/client/crds/v1alpha1/cilium.io_tracingpoliciesnamespaced.yaml
  vendor/github.com/cilium/tetragon/pkg/k8s/apis/cilium.io/v1alpha1/types.go
  vendor/github.com/cilium/tetragon/pkg/k8s/apis/cilium.io/v1alpha1/version.go
Owners: @mtardy, @cilium/tetragon

pkg/elf: small improvements to the build id parsing
  pkg/elf/build_id.go
  pkg/sensors/tracing/loader_test.go
Owners: @cilium/tetragon

policytest: sort list when printing available policytests
  pkg/testutils/policytest/register.go
Owners: @cilium/tetragon

fix(pkg/sensors): fixed `populateUprobeRegs` to use the correct index.
  pkg/sensors/tracing/genericuprobe.go
Owners: @cilium/tetragon

update(pkg/sensors): update `TestUprobeOverrideAction` to show the bug.
  pkg/sensors/tracing/uprobe_reg_test.go
Owners: @cilium/tetragon

new(pkg): introduce `KernelSelectorArgs.UprobeID`.
  pkg/selectors/kernel.go
  pkg/selectors/kernel_regs_amd64.go
  pkg/selectors/kernel_regs_arm64.go
  pkg/selectors/kernel_test.go
  pkg/selectors/selectors.go
Owners: @cilium/tetragon

policytest: Adding temp file support
  cmd/tetra/policytest/policytest.go
  pkg/testutils/policytest/builder.go
  pkg/testutils/policytest/conf.go
  pkg/testutils/policytest/observertest.go
  pkg/testutils/policytest/policytest.go
  pkg/testutils/policytest/runner.go
Owners: @cilium/tetragon

CODEOWNERS:

# Request a review from the Tetragon team on any PR
* @cilium/tetragon

# Request a review from William when codegen is edited
cmd/protoc-gen-go-tetragon/ @willfindlay

# Request a review from William when CI is edited
.github/workflows/ @willfindlay

# Request a review from kkourt when core sensor files are modified
pkg/src/sensors/ @kkourt

# Request a review from mtardy when anything from docs is modified but do not
# block on approval from anyone in the tetragon team
/docs/ @mtardy @cilium/tetragon
