Repository cilium/tetragon, changes with the owners that CODEOWNERS names for each.
All owners: @cilium/tetragon, @willfindlay, @kkourt, @mtardy

enforcer map: distinguish between owner and user
  pkg/sensors/tracing/enforcer.go
  pkg/sensors/tracing/generickprobe.go
  pkg/sensors/tracing/generictracepoint.go
Owners: @cilium/tetragon

enforcer: implement CleanupEnforcerNotification
  bpf/process/bpf_enforcer.h
  bpf/process/types/basic.h
  pkg/api/tracingapi/client_kprobe.go
  pkg/grpc/tracing/tracing.go
  pkg/metrics/enforcermetrics/enforcermetrics.go
  pkg/selectors/kernel.go
Owners: @cilium/tetragon

enforcer: add CleanupEnforcerNotification action
  api/v1/tetragon/tetragon.proto
  pkg/k8s/apis/cilium.io/v1alpha1/types.go
  pkg/k8s/apis/cilium.io/v1alpha1/version.go
Owners: @cilium/tetragon

autochore: make crds protogen
  api/v1/README.md
  api/v1/tetragon/tetragon.pb.go
  contrib/tetragon-rthooks/vendor/github.com/cilium/tetragon/api/v1/tetragon/tetragon.pb.go
  contrib/tetragon-rthooks/vendor/github.com/cilium/tetragon/api/v1/tetragon/tetragon.proto
  docs/content/en/docs/reference/grpc-api.md
  install/kubernetes/tetragon/crds-yaml/cilium.io_tracingpolicies.yaml
  install/kubernetes/tetragon/crds-yaml/cilium.io_tracingpoliciesnamespaced.yaml
  pkg/k8s/apis/cilium.io/client/crds/v1alpha1/cilium.io_tracingpolicies.yaml
  pkg/k8s/apis/cilium.io/client/crds/v1alpha1/cilium.io_tracingpoliciesnamespaced.yaml
  vendor/github.com/cilium/tetragon/api/v1/tetragon/tetragon.pb.go
  vendor/github.com/cilium/tetragon/api/v1/tetragon/tetragon.proto
  vendor/github.com/cilium/tetragon/pkg/k8s/apis/cilium.io/client/crds/v1alpha1/cilium.io_tracingpolicies.yaml
  vendor/github.com/cilium/tetragon/pkg/k8s/apis/cilium.io/client/crds/v1alpha1/cilium.io_tracingpoliciesnamespaced.yaml
  vendor/github.com/cilium/tetragon/pkg/k8s/apis/cilium.io/v1alpha1/types.go
  vendor/github.com/cilium/tetragon/pkg/k8s/apis/cilium.io/v1alpha1/version.go
Owners: @cilium/tetragon, @mtardy

enforcer: track missed notifications
  bpf/lib/generic.h
  bpf/process/bpf_enforcer.h
  bpf/process/types/basic.h
  pkg/metrics/enforcermetrics/enforcermetrics.go
  pkg/selectors/kernel.go
  pkg/sensors/tracing/enforcer.go
Owners: @cilium/tetragon

bpf/Makefile: fix deps for enforcer
  bpf/Makefile
Owners: @cilium/tetragon

sensors: load enforcer first
  pkg/sensors/handler.go
  pkg/sensors/sensors.go
Owners: @cilium/tetragon

autochore: make crds
  pkg/k8s/apis/cilium.io/v1alpha1/zz_generated.deepcopy.go
  vendor/github.com/cilium/tetragon/pkg/k8s/apis/cilium.io/v1alpha1/zz_generated.deepcopy.go
Owners: @cilium/tetragon

enforcer: add docs for missed notifications metric
  docs/content/en/docs/reference/metrics.md
  pkg/metrics/enforcermetrics/enforcermetrics.go
Owners: @mtardy, @cilium/tetragon

enforcer: add metric for missed notifications
  pkg/metrics/enforcermetrics/enforcermetrics.go
  pkg/metricsconfig/healthmetrics.go
  pkg/sensors/tracing/generictracepoint.go
Owners: @cilium/tetragon

sensors: add AddPostUnloadHook method
  pkg/sensors/sensors.go
Owners: @cilium/tetragon

crd: introduce EnforcerNotifyActionArgIndex
  pkg/k8s/apis/cilium.io/v1alpha1/types.go
  vendor/github.com/cilium/tetragon/pkg/k8s/apis/cilium.io/v1alpha1/types.go
Owners: @cilium/tetragon

sensors: add AddPostUnloadHook method
  pkg/sensors/sensors.go
Owners: @cilium/tetragon

enforcer: add docs for missed notifications metric
  docs/content/en/docs/reference/metrics.md
  pkg/metrics/enforcermetrics/enforcermetrics.go
Owners: @mtardy, @cilium/tetragon

bpf/Makefile: fix deps for enforcer
  bpf/Makefile
Owners: @cilium/tetragon

enforcer: add CleanupEnforcerNotification action
  api/v1/tetragon/tetragon.proto
  pkg/k8s/apis/cilium.io/v1alpha1/types.go
  pkg/k8s/apis/cilium.io/v1alpha1/version.go
Owners: @cilium/tetragon

crd: introduce EnforcerNotifyActionArgIndex
  pkg/k8s/apis/cilium.io/v1alpha1/types.go
  vendor/github.com/cilium/tetragon/pkg/k8s/apis/cilium.io/v1alpha1/types.go
Owners: @cilium/tetragon

enforcer map: distinguish between owner and user
  pkg/sensors/tracing/enforcer.go
  pkg/sensors/tracing/generickprobe.go
  pkg/sensors/tracing/generictracepoint.go
Owners: @cilium/tetragon

enforcer: implement CleanupEnforcerNotification
  bpf/process/bpf_enforcer.h
  bpf/process/types/basic.h
  pkg/api/tracingapi/client_kprobe.go
  pkg/grpc/tracing/tracing.go
  pkg/metrics/enforcermetrics/enforcermetrics.go
  pkg/selectors/kernel.go
Owners: @cilium/tetragon

enforcer: add metric for missed notifications
  pkg/metrics/enforcermetrics/enforcermetrics.go
  pkg/metricsconfig/healthmetrics.go
  pkg/sensors/tracing/generictracepoint.go
Owners: @cilium/tetragon

autochore: make crds
  pkg/k8s/apis/cilium.io/v1alpha1/zz_generated.deepcopy.go
  vendor/github.com/cilium/tetragon/pkg/k8s/apis/cilium.io/v1alpha1/zz_generated.deepcopy.go
Owners: @cilium/tetragon

enforcer: track missed notifications
  bpf/lib/generic.h
  bpf/process/bpf_enforcer.h
  bpf/process/types/basic.h
  pkg/metrics/enforcermetrics/enforcermetrics.go
  pkg/selectors/kernel.go
  pkg/sensors/tracing/enforcer.go
Owners: @cilium/tetragon

sensors: load enforcer first
  pkg/sensors/handler.go
  pkg/sensors/sensors.go
Owners: @cilium/tetragon

autochore: make crds protogen
  api/v1/README.md
  api/v1/tetragon/tetragon.pb.go
  contrib/tetragon-rthooks/vendor/github.com/cilium/tetragon/api/v1/tetragon/tetragon.pb.go
  contrib/tetragon-rthooks/vendor/github.com/cilium/tetragon/api/v1/tetragon/tetragon.proto
  docs/content/en/docs/reference/grpc-api.md
  install/kubernetes/tetragon/crds-yaml/cilium.io_tracingpolicies.yaml
  install/kubernetes/tetragon/crds-yaml/cilium.io_tracingpoliciesnamespaced.yaml
  pkg/k8s/apis/cilium.io/client/crds/v1alpha1/cilium.io_tracingpolicies.yaml
  pkg/k8s/apis/cilium.io/client/crds/v1alpha1/cilium.io_tracingpoliciesnamespaced.yaml
  vendor/github.com/cilium/tetragon/api/v1/tetragon/tetragon.pb.go
  vendor/github.com/cilium/tetragon/api/v1/tetragon/tetragon.proto
  vendor/github.com/cilium/tetragon/pkg/k8s/apis/cilium.io/client/crds/v1alpha1/cilium.io_tracingpolicies.yaml
  vendor/github.com/cilium/tetragon/pkg/k8s/apis/cilium.io/client/crds/v1alpha1/cilium.io_tracingpoliciesnamespaced.yaml
  vendor/github.com/cilium/tetragon/pkg/k8s/apis/cilium.io/v1alpha1/types.go
  vendor/github.com/cilium/tetragon/pkg/k8s/apis/cilium.io/v1alpha1/version.go
Owners: @cilium/tetragon, @mtardy

policyfilter: Remove TestingDisableAndReset
  pkg/policyfilter/policyfilter.go
Owners: @cilium/tetragon

metrics: Add policy_namespace label to per-policy memory metric
  docs/content/en/docs/reference/metrics.md
  pkg/metrics/policymetrics/policymetrics.go
  pkg/metrics/policymetrics/policymetrics_test.go
Owners: @mtardy, @cilium/tetragon

testutils: Support dummy policy filter
  pkg/sensors/manager.go
  pkg/testutils/sensors/policyfilter.go
  pkg/testutils/sensors/sensors.go
Owners: @cilium/tetragon

testutils: Support dummy policy filter
  pkg/sensors/manager.go
  pkg/testutils/sensors/policyfilter.go
  pkg/testutils/sensors/sensors.go
Owners: @cilium/tetragon

metrics: Add policy_namespace label to per-policy memory metric
  docs/content/en/docs/reference/metrics.md
  pkg/metrics/policymetrics/policymetrics.go
  pkg/metrics/policymetrics/policymetrics_test.go
Owners: @mtardy, @cilium/tetragon

policyfilter: Remove TestingDisableAndReset
  pkg/policyfilter/policyfilter.go
Owners: @cilium/tetragon

renovate: add v1.2
  .github/renovate.json5
Owners: @cilium/tetragon

renovate: add v1.2
  .github/renovate.json5
Owners: @cilium/tetragon

github: Allow extern declarations in c files
  .github/workflows/checkpatch.yaml
Owners: @willfindlay

tetragon: Allow to override execve tail calls
  bpf/process/bpf_execve_event.c
Owners: @cilium/tetragon

tetragon: Load tail calls directly in generickprobe program
  bpf/process/bpf_generic_kprobe.c
  bpf/process/bpf_generic_retkprobe.c
  pkg/sensors/tracing/generickprobe.go
Owners: @cilium/tetragon

tetragon: Load tail calls directly in genericlsm program
  bpf/process/bpf_generic_lsm_core.c
  pkg/sensors/tracing/genericlsm.go
Owners: @cilium/tetragon

tetragon: Disable contents loading in initial map loading
  pkg/sensors/load.go
Owners: @cilium/tetragon

tetragon: Load tail calls directly in execve program
  bpf/process/bpf_execve_event.c
  pkg/sensors/base/base.go
Owners: @cilium/tetragon

tetragon: Load tail calls directly in generictracepoint program
  bpf/process/bpf_generic_tracepoint.c
  pkg/sensors/tracing/generictracepoint.go
Owners: @cilium/tetragon

tetragon: Load tail calls directly in genericuprobe program
  bpf/process/bpf_generic_uprobe.c
  pkg/sensors/tracing/genericuprobe.go
Owners: @cilium/tetragon

CODEOWNERS:

# Request a review from the Tetragon team on any PR
* @cilium/tetragon

# Request a review from William when codegen is edited
cmd/protoc-gen-go-tetragon/ @willfindlay

# Request a review from William when CI is edited
.github/workflows/ @willfindlay

# Request a review from kkourt when core sensor files are modified
pkg/src/sensors/ @kkourt

# Request a review from mtardy when anything from docs is modified but do not
# block on approval from anyone in the tetragon team
/docs/ @mtardy @cilium/tetragon
