Repository cilium/tetragon, changes with the owners that CODEOWNERS names for each.
All owners: @cilium/tetragon, @willfindlay, @kkourt, @mtardy

CODEOWNERS:

# Request a review from the Tetragon team on any PR
* @cilium/tetragon

# Request a review from William when codegen is edited
cmd/protoc-gen-go-tetragon/ @willfindlay

# Request a review from William when CI is edited
.github/workflows/ @willfindlay

# Request a review from kkourt when core sensor files are modified
pkg/src/sensors/ @kkourt

# Request a review from mtardy when anything from docs is modified but do not
# block on approval from anyone in the tetragon team
/docs/ @mtardy @cilium/tetragon

tetragon: Add TestFentryFileTypeFilterNotRegular test
  pkg/sensors/tracing/fentry_test.go
  pkg/sensors/tracing/kprobe_test.go
Owners: @cilium/tetragon

tetragon: Add TestFentryResolveSecondArg test
  pkg/sensors/tracing/fentry_test.go
  pkg/sensors/tracing/kprobe_test.go
Owners: @cilium/tetragon

tetragon: Add TestFentryObjectFilter* tests
  pkg/sensors/tracing/fentry_test.go
  pkg/sensors/tracing/kprobe_test.go
Owners: @cilium/tetragon

tetragon: Add TestFentryLinuxBinprmExtractPath test
  pkg/sensors/tracing/fentry_test.go
  pkg/sensors/tracing/kprobe_test.go
Owners: @cilium/tetragon

tetragon: Add TestFentryFileTypeFilterNotPipe test
  pkg/sensors/tracing/fentry_test.go
  pkg/sensors/tracing/kprobe_test.go
Owners: @cilium/tetragon

tetragon: Add TestFentryListSyscallDupsRange test
  pkg/sensors/tracing/fentry_test.go
  pkg/sensors/tracing/kprobe_test.go
  pkg/sensors/tracing/tracepoint_test.go
Owners: @cilium/tetragon

tetragon: Add TestFentryMatchBinariesEarlyExec test
  pkg/sensors/tracing/fentry_test.go
  pkg/sensors/tracing/kprobe_test.go
Owners: @cilium/tetragon

tetragon: Add TestFentryBpfAttr test
  pkg/sensors/tracing/fentry_test.go
  pkg/sensors/tracing/kprobe_test.go
Owners: @cilium/tetragon

tetragon: Add TestFentryArgsMultiResolve test
  pkg/sensors/tracing/fentry_test.go
  pkg/sensors/tracing/kprobe_test.go
Owners: @cilium/tetragon

tetragon: Add TestFentryLongPath test
  pkg/sensors/tracing/fentry_test.go
  pkg/sensors/tracing/kprobe_test.go
Owners: @cilium/tetragon

tetragon: Add TestFentryArgValues test
  pkg/sensors/tracing/fentry_test.go
  pkg/sensors/tracing/kprobe_test.go
Owners: @cilium/tetragon

tetragon: Add TestFentryMultiMatcArgs test
  pkg/sensors/tracing/fentry_test.go
  pkg/sensors/tracing/kprobe_test.go
Owners: @cilium/tetragon

tetragon: Add TestFentryFileTypeFilterMultiple test
  pkg/sensors/tracing/fentry_test.go
  pkg/sensors/tracing/kprobe_test.go
Owners: @cilium/tetragon

tetragon: Add TestFentryMatchBinaries test
  pkg/sensors/tracing/fentry_test.go
  pkg/sensors/tracing/kprobe_test.go
Owners: @cilium/tetragon

kprobe_test: handle do_filp_open rename to do_file_open
  pkg/sensors/tracing/kprobe_test.go
Owners: @cilium/tetragon

chore(deps): update all lvh-images main
  .github/workflows/vmtests.yml
Owners: @willfindlay

bpf: fix NotEqual operator for int args with multiple values
  bpf/process/types/basic.h
Owners: @cilium/tetragon

tests: add unit test for NotEqual operator with multiple values
  pkg/sensors/tracing/kprobe_test.go
Owners: @cilium/tetragon

bpf: fix NotEqual operator for int args with multiple values
  bpf/process/types/basic.h
Owners: @cilium/tetragon

tests: add unit test for NotEqual operator with multiple values
  pkg/sensors/tracing/kprobe_test.go
Owners: @cilium/tetragon

bpf: fix NotEqual operator for int args with multiple values
  bpf/process/types/basic.h
Owners: @cilium/tetragon

tests: add unit test for NotEqual operator with multiple values
  pkg/sensors/tracing/kprobe_test.go
Owners: @cilium/tetragon

kprobe_test: handle do_filp_open rename to do_file_open
  pkg/sensors/tracing/kprobe_test.go
Owners: @cilium/tetragon

chore(deps): update all lvh-images main
  .github/workflows/vmtests.yml
Owners: @willfindlay

encoder: add compact output for security_file_truncate
  pkg/encoder/encoder.go
Owners: @cilium/tetragon

docs: document kernel compatibility for filename access monitoring
  docs/content/en/docs/use-cases/filename-access.md
Owners: @mtardy, @cilium/tetragon

tests: fix TestMaxPath/path for kernels without security_path_truncate
  pkg/sensors/tracing/kprobe_test.go
Owners: @cilium/tetragon

tetragon: Use sensors.SensorsFromPolicy in loadTestCrd
  pkg/sensors/tracing/kprobe_test.go
Owners: @cilium/tetragon

tetragon: Use sensors.SensorsFromPolicy for validation
  pkg/sensors/tracing/kprobe_test.go
  pkg/sensors/tracing/kprobe_validation_test.go
Owners: @cilium/tetragon

tetragon: Use createCrdFile in usdt tests
  pkg/sensors/tracing/usdt_test.go
Owners: @cilium/tetragon

tetragon: Use createCrdFile in loader tests
  pkg/sensors/tracing/loader_test.go
Owners: @cilium/tetragon

tetragon: Remove GetMergedSensorFromParserPolicy function
  pkg/sensors/sensors.go
Owners: @cilium/tetragon

tetragon: Use createCrdFile in kprobe tests
  pkg/sensors/tracing/enforcer_test.go
  pkg/sensors/tracing/kprobe_amd64_test.go
  pkg/sensors/tracing/kprobe_maxentries_test.go
  pkg/sensors/tracing/kprobe_process_credentials_test.go
  pkg/sensors/tracing/kprobe_test.go
  pkg/sensors/tracing/kprobe_threads_test.go
Owners: @cilium/tetragon

tetragon: Return error in sensor.Destroy function
  pkg/sensors/delayed_sensor_test.go
  pkg/sensors/load.go
  pkg/sensors/sensors.go
Owners: @cilium/tetragon

tetragon: Use createCrdFile in uprobe tests
  pkg/sensors/tracing/uprobe_reg_test.go
  pkg/sensors/tracing/uprobe_test.go
Owners: @cilium/tetragon

tetragon: Use createCrdFile in tracepoint tests
  pkg/sensors/tracing/tracepoint_amd64_test.go
  pkg/sensors/tracing/tracepoint_test.go
Owners: @cilium/tetragon

tetragon: Use sensors.SensorsFromPolicy in bench
  pkg/bench/bench.go
Owners: @cilium/tetragon

tetragon: Use createCrdFile in lsm tests
  pkg/sensors/tracing/lsm_test.go
Owners: @cilium/tetragon

fix: incorrect default logger configuration
  pkg/logger/slog.go
Owners: @cilium/tetragon

Remove legacy stacktrace-tree API and implementation
  api/v1/README.md
  api/v1/tetragon/sensors.pb.go
  api/v1/tetragon/sensors.pb.json.go
  api/v1/tetragon/sensors.proto
  api/v1/tetragon/sensors_grpc.pb.go
  api/v1/tetragon/stack.pb.go
  api/v1/tetragon/stack.pb.json.go
  api/v1/tetragon/stack.proto
  cmd/tetra/commands.go
  cmd/tetra/getevents/io_reader_client.go
  cmd/tetra/stacktracetree/stacktracetree.go
  contrib/tetragon-rthooks/vendor/github.com/cilium/tetragon/api/v1/tetragon/sensors.pb.go
  contrib/tetragon-rthooks/vendor/github.com/cilium/tetragon/api/v1/tetragon/sensors.pb.json.go
  contrib/tetragon-rthooks/vendor/github.com/cilium/tetragon/api/v1/tetragon/sensors.proto
  contrib/tetragon-rthooks/vendor/github.com/cilium/tetragon/api/v1/tetragon/sensors_grpc.pb.go
  contrib/tetragon-rthooks/vendor/github.com/cilium/tetragon/api/v1/tetragon/stack.pb.go
  contrib/tetragon-rthooks/vendor/github.com/cilium/tetragon/api/v1/tetragon/stack.pb.json.go
  contrib/tetragon-rthooks/vendor/github.com/cilium/tetragon/api/v1/tetragon/stack.proto
  contrib/upgrade-notes/latest.md
  docs/content/en/docs/reference/grpc-api.md
  pkg/api/calltraceapi/calltraceapi.go
  pkg/server/server.go
  pkg/stacktracetree/stacktracetree.go
  pkg/stacktracetree/stacktracetree_test.go
  pkg/stt/sttmanager.go
  vendor/github.com/cilium/tetragon/api/v1/tetragon/sensors.pb.go
  vendor/github.com/cilium/tetragon/api/v1/tetragon/sensors.pb.json.go
  vendor/github.com/cilium/tetragon/api/v1/tetragon/sensors.proto
  vendor/github.com/cilium/tetragon/api/v1/tetragon/sensors_grpc.pb.go
  vendor/github.com/cilium/tetragon/api/v1/tetragon/stack.pb.go
  vendor/github.com/cilium/tetragon/api/v1/tetragon/stack.pb.json.go
  vendor/github.com/cilium/tetragon/api/v1/tetragon/stack.proto
Owners: @cilium/tetragon, @mtardy
