Repository cilium/tetragon, changes with the owners that CODEOWNERS names for each.
All owners: @cilium/tetragon, @willfindlay, @kkourt, @mtardy

CODEOWNERS:

# Request a review from the Tetragon team on any PR
* @cilium/tetragon

# Request a review from William when codegen is edited
cmd/protoc-gen-go-tetragon/ @willfindlay

# Request a review from William when CI is edited
.github/workflows/ @willfindlay

# Request a review from kkourt when core sensor files are modified
pkg/src/sensors/ @kkourt

# Request a review from mtardy when anything from docs is modified but do not
# block on approval from anyone in the tetragon team
/docs/ @mtardy @cilium/tetragon

events: include the tracing policy message in events
  pkg/grpc/tracing/tracing.go
  pkg/sensors/tracing/generickprobe.go
  pkg/sensors/tracing/generictracepoint.go
  pkg/sensors/tracing/genericuprobe.go
  pkg/sensors/tracing/message.go
Owners: @cilium/tetragon

tests: ensure that message field is reported
  pkg/sensors/tracing/kprobe_test.go
  pkg/sensors/tracing/tracepoint_test.go
  pkg/sensors/tracing/uprobe_test.go
Owners: @cilium/tetragon

policylibrary: add message field to module tracing policy
  examples/policylibrary/modules.yaml
Owners: @cilium/tetragon

metrics: Do not return when we cannot find a _stats map
  pkg/observer/observer_stats.go
Owners: @cilium/tetragon

vmtests: make a note when all tests skipped
  cmd/tetragon-vmtests-run/main.go
Owners: @cilium/tetragon

vmtests: use a strict pattern for test execution
  pkg/vmtests/vmtests.go
Owners: @cilium/tetragon

vmtests: improve running tests from a file
  pkg/vmtests/list.go
  pkg/vmtests/vmtests.go
Owners: @cilium/tetragon

vmtests: listTests now accepts a pattern
  pkg/vmtests/list.go
Owners: @cilium/tetragon

test: add message testing
  pkg/sensors/tracing/message_test.go
Owners: @cilium/tetragon

tracingpolicy: add a message field to inform users what is happening
  pkg/k8s/apis/cilium.io/client/crds/v1alpha1/cilium.io_tracingpolicies.yaml
  pkg/k8s/apis/cilium.io/client/crds/v1alpha1/cilium.io_tracingpoliciesnamespaced.yaml
  pkg/k8s/apis/cilium.io/v1alpha1/types.go
  pkg/k8s/apis/cilium.io/v1alpha1/version.go
  vendor/github.com/cilium/tetragon/pkg/k8s/apis/cilium.io/client/crds/v1alpha1/cilium.io_tracingpolicies.yaml
  vendor/github.com/cilium/tetragon/pkg/k8s/apis/cilium.io/client/crds/v1alpha1/cilium.io_tracingpoliciesnamespaced.yaml
  vendor/github.com/cilium/tetragon/pkg/k8s/apis/cilium.io/v1alpha1/types.go
  vendor/github.com/cilium/tetragon/pkg/k8s/apis/cilium.io/v1alpha1/version.go
Owners: @cilium/tetragon

api:proto: add short message to print Tracing Policy message
  api/v1/README.md
  api/v1/tetragon/codegen/eventchecker/eventchecker.pb.go
  api/v1/tetragon/tetragon.pb.go
  api/v1/tetragon/tetragon.proto
  docs/content/en/docs/reference/grpc-api.md
  vendor/github.com/cilium/tetragon/api/v1/tetragon/codegen/eventchecker/eventchecker.pb.go
  vendor/github.com/cilium/tetragon/api/v1/tetragon/tetragon.pb.go
  vendor/github.com/cilium/tetragon/api/v1/tetragon/tetragon.proto
Owners: @cilium/tetragon, @mtardy

events: include the tracing policy message in events
  pkg/grpc/tracing/tracing.go
  pkg/sensors/tracing/generickprobe.go
  pkg/sensors/tracing/generictracepoint.go
  pkg/sensors/tracing/genericuprobe.go
  pkg/sensors/tracing/message.go
Owners: @cilium/tetragon

tests: ensure that message field is reported
  pkg/sensors/tracing/kprobe_test.go
  pkg/sensors/tracing/tracepoint_test.go
  pkg/sensors/tracing/uprobe_test.go
Owners: @cilium/tetragon

policylibrary: add message field to module tracing policy
  examples/policylibrary/modules.yaml
Owners: @cilium/tetragon

test: add message testing
  pkg/sensors/tracing/message_test.go
Owners: @cilium/tetragon

metrics: Do not return when we cannot find a _stats map
  pkg/observer/observer_stats.go
Owners: @cilium/tetragon

tetragon-vmtests-run: support for detailed results
  cmd/tetragon-vmtests-run/conf.go
  cmd/tetragon-vmtests-run/main.go
  cmd/tetragon-vmtests-run/run_tests.go
Owners: @cilium/tetragon

gh: add --enable-detailed-results to vmtests
  .github/workflows/vmtests.yml
Owners: @willfindlay

api: detect binary execution that raise process privileges
  api/v1/README.md
  api/v1/tetragon/capabilities.pb.go
  api/v1/tetragon/capabilities.proto
  api/v1/tetragon/codegen/eventchecker/eventchecker.pb.go
  api/v1/tetragon/tetragon.pb.go
  api/v1/tetragon/tetragon.proto
  contrib/rthooks/tetragon-oci-hook/vendor/github.com/cilium/tetragon/api/v1/tetragon/capabilities.pb.go
  contrib/rthooks/tetragon-oci-hook/vendor/github.com/cilium/tetragon/api/v1/tetragon/capabilities.proto
  contrib/rthooks/tetragon-oci-hook/vendor/github.com/cilium/tetragon/api/v1/tetragon/tetragon.pb.go
  contrib/rthooks/tetragon-oci-hook/vendor/github.com/cilium/tetragon/api/v1/tetragon/tetragon.proto
  docs/content/en/docs/reference/grpc-api.md
  vendor/github.com/cilium/tetragon/api/v1/tetragon/capabilities.pb.go
  vendor/github.com/cilium/tetragon/api/v1/tetragon/capabilities.proto
  vendor/github.com/cilium/tetragon/api/v1/tetragon/codegen/eventchecker/eventchecker.pb.go
  vendor/github.com/cilium/tetragon/api/v1/tetragon/tetragon.pb.go
  vendor/github.com/cilium/tetragon/api/v1/tetragon/tetragon.proto
Owners: @cilium/tetragon, @mtardy

tetragon-vmtests-run: support for detailed results
  cmd/tetragon-vmtests-run/conf.go
  cmd/tetragon-vmtests-run/main.go
  cmd/tetragon-vmtests-run/run_tests.go
Owners: @cilium/tetragon

gh: add --enable-detailed-results to vmtests
  .github/workflows/vmtests.yml
Owners: @willfindlay

vmtests: make a note when all tests skipped
  cmd/tetragon-vmtests-run/main.go
Owners: @cilium/tetragon

vmtests: use a strict pattern for test execution
  pkg/vmtests/vmtests.go
Owners: @cilium/tetragon

tester-progs: compile killer-tester-32 statically
  contrib/tester-progs/Makefile
Owners: @cilium/tetragon

vmtests: listTests now accepts a pattern
  pkg/vmtests/list.go
Owners: @cilium/tetragon

vmtests: improve running tests from a file
  pkg/vmtests/list.go
  pkg/vmtests/vmtests.go
Owners: @cilium/tetragon

tetragon: detect binary execution that raise process privileges
  bpf/lib/bpf_cred.h
  bpf/lib/process.h
  bpf/process/bpf_execve_bprm_commit_creds.c
  pkg/api/processapi/processapi.go
  pkg/process/process.go
  pkg/reader/caps/caps.go
Owners: @cilium/tetragon

api: detect set-group-ID to root as privileges execution
  api/v1/README.md
  api/v1/tetragon/capabilities.pb.go
  api/v1/tetragon/capabilities.proto
  docs/content/en/docs/reference/grpc-api.md
  vendor/github.com/cilium/tetragon/api/v1/tetragon/capabilities.pb.go
  vendor/github.com/cilium/tetragon/api/v1/tetragon/capabilities.proto
Owners: @cilium/tetragon, @mtardy

tetragon: detect setgid execution to root as privileged execution
  bpf/lib/bpf_cred.h
  bpf/process/bpf_execve_bprm_commit_creds.c
  pkg/api/processapi/processapi.go
  pkg/reader/caps/caps.go
Owners: @cilium/tetragon

tests: split exec suid tests
  pkg/sensors/exec/exec_test.go
Owners: @cilium/tetragon

tests: add suid root and setuid to non root execution tests
  contrib/tester-progs/Makefile
  contrib/tester-progs/drop-privileges.c
  pkg/sensors/exec/exec_test.go
Owners: @cilium/tetragon

tests: detect privileged execution of file caps binaries
  pkg/sensors/exec/exec_test.go
Owners: @cilium/tetragon

tests: Unload policy after load
  tests/e2e/tests/policyfilter/policyfilter_test.go
  tests/e2e/tests/skeleton/skeleton_test.go
Owners: @cilium/tetragon

api: detect set-group-ID to root as privileges execution
  api/v1/README.md
  api/v1/tetragon/capabilities.pb.go
  api/v1/tetragon/capabilities.proto
  docs/content/en/docs/reference/grpc-api.md
  vendor/github.com/cilium/tetragon/api/v1/tetragon/capabilities.pb.go
  vendor/github.com/cilium/tetragon/api/v1/tetragon/capabilities.proto
Owners: @cilium/tetragon, @mtardy

api: detect binary execution that raise process privileges
  api/v1/README.md
  api/v1/tetragon/capabilities.pb.go
  api/v1/tetragon/capabilities.proto
  api/v1/tetragon/codegen/eventchecker/eventchecker.pb.go
  api/v1/tetragon/tetragon.pb.go
  api/v1/tetragon/tetragon.proto
  contrib/rthooks/tetragon-oci-hook/vendor/github.com/cilium/tetragon/api/v1/tetragon/capabilities.pb.go
  contrib/rthooks/tetragon-oci-hook/vendor/github.com/cilium/tetragon/api/v1/tetragon/capabilities.proto
  contrib/rthooks/tetragon-oci-hook/vendor/github.com/cilium/tetragon/api/v1/tetragon/tetragon.pb.go
  contrib/rthooks/tetragon-oci-hook/vendor/github.com/cilium/tetragon/api/v1/tetragon/tetragon.proto
  docs/content/en/docs/reference/grpc-api.md
  vendor/github.com/cilium/tetragon/api/v1/tetragon/capabilities.pb.go
  vendor/github.com/cilium/tetragon/api/v1/tetragon/capabilities.proto
  vendor/github.com/cilium/tetragon/api/v1/tetragon/codegen/eventchecker/eventchecker.pb.go
  vendor/github.com/cilium/tetragon/api/v1/tetragon/tetragon.pb.go
  vendor/github.com/cilium/tetragon/api/v1/tetragon/tetragon.proto
Owners: @cilium/tetragon, @mtardy

tests: add suid root and setuid to non root execution tests
  contrib/tester-progs/Makefile
  contrib/tester-progs/drop-privileges.c
  pkg/sensors/exec/exec_test.go
Owners: @cilium/tetragon

tests: detect privileged execution of file caps binaries
  pkg/sensors/exec/exec_test.go
Owners: @cilium/tetragon

tetragon: detect setgid execution to root as privileged execution
  bpf/lib/bpf_cred.h
  bpf/process/bpf_execve_bprm_commit_creds.c
  pkg/api/processapi/processapi.go
  pkg/reader/caps/caps.go
Owners: @cilium/tetragon

tetragon: detect binary execution that raise process privileges
  bpf/lib/bpf_cred.h
  bpf/lib/process.h
  bpf/process/bpf_execve_bprm_commit_creds.c
  pkg/api/processapi/processapi.go
  pkg/process/process.go
  pkg/reader/caps/caps.go
Owners: @cilium/tetragon

tests: split exec suid tests
  pkg/sensors/exec/exec_test.go
Owners: @cilium/tetragon
