Repository cilium/tetragon, changes with the owners that CODEOWNERS names for each.
All owners: @cilium/tetragon, @willfindlay, @kkourt, @mtardy

CODEOWNERS:

# Request a review from the Tetragon team on any PR
* @cilium/tetragon

# Request a review from William when codegen is edited
cmd/protoc-gen-go-tetragon/ @willfindlay

# Request a review from William when CI is edited
.github/workflows/ @willfindlay

# Request a review from kkourt when core sensor files are modified
pkg/src/sensors/ @kkourt

# Request a review from mtardy when anything from docs is modified but do not
# block on approval from anyone in the tetragon team
/docs/ @mtardy @cilium/tetragon

tetragon: handle resolving null pointer
  bpf/lib/generic.h
  bpf/process/event_config.h
  bpf/process/generic_calls.h
  bpf/process/generic_path.h
  bpf/process/types/basic.h
Owners: @cilium/tetragon

tetragon: Add new kprobe error arg type
  api/v1/tetragon/tetragon.proto
Owners: @cilium/tetragon

api: make protogen
  api/v1/README.md
  api/v1/tetragon/codegen/eventchecker/eventchecker.pb.go
  api/v1/tetragon/tetragon.pb.go
  api/v1/tetragon/tetragon.pb.json.go
  contrib/tetragon-rthooks/vendor/github.com/cilium/tetragon/api/v1/tetragon/tetragon.pb.go
  contrib/tetragon-rthooks/vendor/github.com/cilium/tetragon/api/v1/tetragon/tetragon.pb.json.go
  contrib/tetragon-rthooks/vendor/github.com/cilium/tetragon/api/v1/tetragon/tetragon.proto
  docs/content/en/docs/reference/grpc-api.md
  vendor/github.com/cilium/tetragon/api/v1/tetragon/codegen/eventchecker/eventchecker.pb.go
  vendor/github.com/cilium/tetragon/api/v1/tetragon/tetragon.pb.go
  vendor/github.com/cilium/tetragon/api/v1/tetragon/tetragon.pb.json.go
  vendor/github.com/cilium/tetragon/api/v1/tetragon/tetragon.proto
Owners: @cilium/tetragon, @mtardy

ratelimit: only iterate over read args
  bpf/process/event_config.h
  bpf/process/generic_calls.h
  bpf/process/types/basic.h
  bpf/tests/pid_match_test.c
  pkg/sensors/tracing/kprobe_test.go
  pkg/sensors/tracing/lsm_test.go
  pkg/sensors/tracing/tracepoint_test.go
Owners: @cilium/tetragon

tester-progs: Add program that passes NULL
  contrib/tester-progs/.gitignore
  contrib/tester-progs/Makefile
  contrib/tester-progs/uprobe-null.c
Owners: @cilium/tetragon

tetragon: Plumb resolve error from bpf to event
  pkg/grpc/tracing/tracing.go
  pkg/sensors/tracing/args_linux.go
  pkg/sensors/tracing/uprobe_reg_test.go
Owners: @cilium/tetragon

tetragon: test uprobe resolve failure
  pkg/sensors/tracing/uprobe_reg_test.go
Owners: @cilium/tetragon

tetragon: convert depth of resolve failure
  pkg/btf/btf.go
  pkg/btf/btf_test.go
  pkg/sensors/tracing/args_linux.go
  pkg/sensors/tracing/generic.go
  pkg/sensors/tracing/generic_test.go
  pkg/sensors/tracing/generickprobe.go
  pkg/sensors/tracing/genericlsm.go
  pkg/sensors/tracing/generictracepoint.go
  pkg/sensors/tracing/genericuprobe.go
  pkg/sensors/tracing/genericusdt.go
  pkg/sensors/tracing/uprobe_reg_test.go
Owners: @cilium/tetragon

bpf: fix 5.4 verifier problem
  bpf/process/types/basic.h
Owners: @cilium/tetragon

bpf: introduce MAX_POSSIBLE_ARGS_MASK
  bpf/lib/generic.h
  bpf/process/generic_calls.h
  bpf/process/generic_path.h
  bpf/process/types/basic.h
Owners: @cilium/tetragon

tetragon: make GetIndex() consistent
  pkg/sensors/tracing/generickprobe.go
  pkg/sensors/tracing/genericuprobe.go
  pkg/sensors/tracing/genericusdt.go
Owners: @cilium/tetragon

tetragon: Add additional returnCopy test
  pkg/sensors/tracing/kprobe_test.go
Owners: @cilium/tetragon

bpf: don't use MAX_SELECTORS_MASK for args
  bpf/lib/generic.h
  bpf/process/event_config.h
  bpf/process/generic_calls.h
  bpf/process/uprobe_preload.h
Owners: @cilium/tetragon

api:Add FileType operator to CRD
  docs/content/en/docs/reference/tracing-policy.md
  install/kubernetes/tetragon/crds-yaml/cilium.io_tracingpolicies.yaml
  install/kubernetes/tetragon/crds-yaml/cilium.io_tracingpoliciesnamespaced.yaml
  pkg/k8s/apis/cilium.io/client/crds/v1alpha1/cilium.io_tracingpolicies.yaml
  pkg/k8s/apis/cilium.io/client/crds/v1alpha1/cilium.io_tracingpoliciesnamespaced.yaml
  pkg/k8s/apis/cilium.io/v1alpha1/types.go
  pkg/k8s/apis/cilium.io/v1alpha1/version.go
  vendor/github.com/cilium/tetragon/pkg/k8s/apis/cilium.io/client/crds/v1alpha1/cilium.io_tracingpolicies.yaml
  vendor/github.com/cilium/tetragon/pkg/k8s/apis/cilium.io/client/crds/v1alpha1/cilium.io_tracingpoliciesnamespaced.yaml
  vendor/github.com/cilium/tetragon/pkg/k8s/apis/cilium.io/v1alpha1/types.go
  vendor/github.com/cilium/tetragon/pkg/k8s/apis/cilium.io/v1alpha1/version.go
Owners: @mtardy, @cilium/tetragon

bpf: create operations for file type filtering
  bpf/process/types/operations.h
Owners: @cilium/tetragon

feat(bugtool): add process cache and execve map dumps
  pkg/bugtool/bugtool.go
Owners: @cilium/tetragon

pkg/selectors: Implement FileType parsing logic
  pkg/selectors/kernel.go
Owners: @cilium/tetragon

pkg/celbpf: a first version
  pkg/celbpf/celbpf.go
  pkg/celbpf/celbpf_test.go
  pkg/celbpf/codegen.go
  pkg/celbpf/compiler.go
  pkg/celbpf/env.go
  pkg/celbpf/provider.go
Owners: @cilium/tetragon

pkg/celbpf: simple tests
  pkg/celbpf/celbpf_test.go
Owners: @cilium/tetragon

pkg/celbpf: generate code for "10 == 10"
  pkg/celbpf/celbpf.go
  pkg/celbpf/celbpf_test.go
  pkg/celbpf/codegen.go
  pkg/celbpf/compiler.go
  pkg/celbpf/env.go
Owners: @cilium/tetragon

pkg/celbpf: int32/uint32 support
  pkg/celbpf/celbpf_test.go
  pkg/celbpf/codegen.go
  pkg/celbpf/compiler.go
  pkg/celbpf/env.go
  pkg/celbpf/types.go
Owners: @cilium/tetragon

pkg/celbpf: support for args
  pkg/celbpf/celbpf.go
  pkg/celbpf/celbpf_test.go
  pkg/celbpf/codegen.go
  pkg/celbpf/compiler.go
  pkg/celbpf/env.go
  pkg/celbpf/types.go
Owners: @cilium/tetragon

pkg/celbpf: add support for +/- operations on ints
  pkg/celbpf/celbpf_test.go
  pkg/celbpf/codegen.go
  pkg/celbpf/compiler.go
  pkg/celbpf/env.go
  pkg/celbpf/types.go
Owners: @cilium/tetragon

pkg/celbpf: add support for logical operators
  pkg/celbpf/celbpf_test.go
  pkg/celbpf/codegen.go
  pkg/celbpf/compiler.go
  pkg/celbpf/env.go
Owners: @cilium/tetragon

pkg/celbpf: dump program on test failures.
  pkg/celbpf/celbpf_test.go
Owners: @cilium/tetragon

pkg/celbpf: add support for inequality operators
  pkg/celbpf/celbpf_test.go
  pkg/celbpf/celbpfexpr_test.go
  pkg/celbpf/codegen.go
  pkg/celbpf/compiler.go
  pkg/celbpf/env.go
  pkg/celbpf/types.go
Owners: @cilium/tetragon

k8s: add a CelExpr in the ArgsSelector
  pkg/k8s/apis/cilium.io/v1alpha1/types.go
  pkg/k8s/apis/cilium.io/v1alpha1/version.go
Owners: @cilium/tetragon

autochore: make crds
  install/kubernetes/tetragon/crds-yaml/cilium.io_tracingpolicies.yaml
  install/kubernetes/tetragon/crds-yaml/cilium.io_tracingpoliciesnamespaced.yaml
  pkg/k8s/apis/cilium.io/client/crds/v1alpha1/cilium.io_tracingpolicies.yaml
  pkg/k8s/apis/cilium.io/client/crds/v1alpha1/cilium.io_tracingpoliciesnamespaced.yaml
  vendor/github.com/cilium/tetragon/pkg/k8s/apis/cilium.io/client/crds/v1alpha1/cilium.io_tracingpolicies.yaml
  vendor/github.com/cilium/tetragon/pkg/k8s/apis/cilium.io/client/crds/v1alpha1/cilium.io_tracingpoliciesnamespaced.yaml
  vendor/github.com/cilium/tetragon/pkg/k8s/apis/cilium.io/v1alpha1/types.go
  vendor/github.com/cilium/tetragon/pkg/k8s/apis/cilium.io/v1alpha1/version.go
Owners: @cilium/tetragon

autochore: make tracing-policy-docs
  docs/content/en/docs/reference/tracing-policy.md
Owners: @mtardy, @cilium/tetragon

pkg/selectors: support for CEL expressions
  pkg/selectors/celexpr.go
  pkg/selectors/kernel.go
  pkg/selectors/selectors.go
  pkg/sensors/program/loader_linux.go
  pkg/sensors/program/program.go
  pkg/sensors/tracing/generickprobe.go
Owners: @cilium/tetragon

bpf: support for CEL expressions
  bpf/process/cel_expr.h
  bpf/process/types/basic.h
  bpf/process/types/operations.h
Owners: @cilium/tetragon

verify_test: add empty CEL functions
  contrib/verify/verify_test.go
Owners: @cilium/tetragon

testing: add celbpf perfring test using lseek
  pkg/sensors/tracing/celbpf_test.go
Owners: @cilium/tetragon

celbpf: deal with multiple kernels
  bpf/process/cel_expr.h
  contrib/verify/verify_test.go
  pkg/bpf/detect_linux.go
  pkg/bpf/detect_windows.go
  pkg/celbpf/celbpf.go
  pkg/celbpf/celbpf_test.go
  pkg/celbpf/celbpfexpr_test.go
  pkg/selectors/celexpr.go
  pkg/sensors/tracing/celbpf_test.go
  pkg/sensors/tracing/generickprobe.go
Owners: @cilium/tetragon

tetragon: Do proper error path cleanup in uprobeAttachExtra
  pkg/sensors/program/loader_linux.go
Owners: @cilium/tetragon

tetragon: make GetIndex() consistent
  pkg/sensors/tracing/generickprobe.go
  pkg/sensors/tracing/genericuprobe.go
  pkg/sensors/tracing/genericusdt.go
Owners: @cilium/tetragon

tetragon: Add additional returnCopy test
  pkg/sensors/tracing/kprobe_test.go
Owners: @cilium/tetragon

tetragon: Add support for SubString/IgnCase operators for matchArg selector
  bpf/include/api.h
  bpf/libbpf/bpf_core_read.h
  bpf/process/string_maps.h
  bpf/process/types/basic.h
  bpf/process/types/operations.h
  pkg/k8s/apis/cilium.io/v1alpha1/types.go
  pkg/selectors/kernel.go
  pkg/selectors/selectors.go
  pkg/sensors/tracing/genericuprobe.go
  pkg/sensors/tracing/selectors.go
  vendor/github.com/cilium/tetragon/pkg/k8s/apis/cilium.io/v1alpha1/types.go
Owners: @cilium/tetragon

tetragon: Add codegen change for previous commits
  docs/content/en/docs/reference/tracing-policy.md
  install/kubernetes/tetragon/crds-yaml/cilium.io_tracingpolicies.yaml
  install/kubernetes/tetragon/crds-yaml/cilium.io_tracingpoliciesnamespaced.yaml
  pkg/k8s/apis/cilium.io/client/crds/v1alpha1/cilium.io_tracingpolicies.yaml
  pkg/k8s/apis/cilium.io/client/crds/v1alpha1/cilium.io_tracingpoliciesnamespaced.yaml
  pkg/k8s/apis/cilium.io/v1alpha1/version.go
  vendor/github.com/cilium/tetragon/pkg/k8s/apis/cilium.io/client/crds/v1alpha1/cilium.io_tracingpolicies.yaml
  vendor/github.com/cilium/tetragon/pkg/k8s/apis/cilium.io/client/crds/v1alpha1/cilium.io_tracingpoliciesnamespaced.yaml
  vendor/github.com/cilium/tetragon/pkg/k8s/apis/cilium.io/v1alpha1/version.go
Owners: @mtardy, @cilium/tetragon

tetragon: Add uprobe preload test with substring match with override
  pkg/sensors/tracing/uprobe_reg_test.go
Owners: @cilium/tetragon
