Repository cilium/tetragon, changes with the owners that CODEOWNERS names for each.
All owners: @cilium/tetragon, @willfindlay, @kkourt, @mtardy

docs: add threat model section
  docs/content/en/docs/threat-model/_index.md
  docs/content/en/docs/threat-model/kubernetes-api.png
  docs/content/en/docs/threat-model/kubernetes-network.png
  docs/content/en/docs/threat-model/kubernetes-workload.png
  docs/content/en/docs/threat-model/limited-host.png
  docs/content/en/docs/threat-model/root.png
Owners: @mtardy, @cilium/tetragon

tetragon: Match agent load-time setup in TestVerifyTetragonPrograms
  contrib/verify/verify_test.go
Owners: @cilium/tetragon

docs: add threat model section
  docs/content/en/docs/threat-model/_index.md
  docs/content/en/docs/threat-model/kubernetes-api.png
  docs/content/en/docs/threat-model/kubernetes-network.png
  docs/content/en/docs/threat-model/kubernetes-workload.png
  docs/content/en/docs/threat-model/limited-host.png
  docs/content/en/docs/threat-model/root.png
Owners: @mtardy, @cilium/tetragon

pkg/multiplexer: gracefully handle transient failures
  pkg/multiplexer/multiplexer.go
Owners: @cilium/tetragon

tests/e2e/rthook: introduce rthook e2e test
  Makefile
  tests/e2e/flags/flags.go
  tests/e2e/helpers/cluster.go
  tests/e2e/install/tetragon/tetragon.go
  tests/e2e/runners/runners.go
  tests/e2e/tests/rthooks/rthooks_test.go
Owners: @cilium/tetragon

ci: replace existing rthook test with e2e test
  .github/workflows/tetragon-rthook-pr.yaml
  contrib/tetragon-rthooks/scripts/minikube-test-hook.sh
Owners: @willfindlay, @cilium/tetragon

helm: add log container to rthooks daemonset
  docs/content/en/docs/reference/helm-chart.md
  install/kubernetes/tetragon/README.md
  install/kubernetes/tetragon/templates/_container_rthooks.tpl
  install/kubernetes/tetragon/templates/_helpers.tpl
  install/kubernetes/tetragon/templates/rthooks-daemonset.yaml
  install/kubernetes/tetragon/values.yaml
Owners: @mtardy, @cilium/tetragon

tests/e2e: use the default UDS socket as agent server address
  Makefile
  tests/e2e/helpers/grpcbridge/grpcbridge.go
  tests/e2e/helpers/portforward.go
Owners: @cilium/tetragon

cmd/tetra: handle closed stdin in getevents
  cmd/tetra/getevents/getevents.go
  cmd/tetra/getevents/getevents_test.go
Owners: @cilium/tetragon

cmd/tetra: sort getevents event type errors
  cmd/tetra/getevents/getevents.go
  cmd/tetra/getevents/getevents_test.go
Owners: @cilium/tetragon

loader_test: refactor ParseBuildId
  pkg/elf/build_id.go
  pkg/sensors/tracing/loader_test.go
Owners: @cilium/tetragon

loader_test: correct alignment calculation
  pkg/sensors/tracing/loader_test.go
Owners: @cilium/tetragon

loader_test: move build-id parse logic out
  pkg/elf/build_id.go
  pkg/elf/usdt_linux.go
  pkg/sensors/tracing/loader_test.go
Owners: @cilium/tetragon

loader_test: remove desc size check
  pkg/sensors/tracing/loader_test.go
Owners: @cilium/tetragon

uprobe: check for consistency among probes
  pkg/sensors/tracing/genericuprobe.go
Owners: @cilium/tetragon

tetragon: Fix readArg handling for fd_ty type
  bpf/process/generic_calls.h
Owners: @cilium/tetragon

Revert "tracing: update expected maps"
  pkg/sensors/tracing/tracepoint_test.go
Owners: @cilium/tetragon

tetragon: Fix readArg handling for fd_ty type
  bpf/process/generic_calls.h
Owners: @cilium/tetragon

Revert "tracing: update expected maps"
  pkg/sensors/tracing/tracepoint_test.go
Owners: @cilium/tetragon

Add nopost in TracingPolicyActionCounters
  api/v1/README.md
  api/v1/tetragon/sensors.pb.go
  api/v1/tetragon/sensors.proto
  contrib/tetragon-rthooks/vendor/github.com/cilium/tetragon/api/v1/tetragon/sensors.pb.go
  contrib/tetragon-rthooks/vendor/github.com/cilium/tetragon/api/v1/tetragon/sensors.proto
  docs/content/en/docs/reference/grpc-api.md
  vendor/github.com/cilium/tetragon/api/v1/tetragon/sensors.pb.go
  vendor/github.com/cilium/tetragon/api/v1/tetragon/sensors.proto
Owners: @cilium/tetragon, @mtardy

Add nopost in action counters
  bpf/lib/policy_stats.h
  bpf/process/generic_calls.h
  pkg/policystats/policystats.go
  pkg/sensors/collection.go
Owners: @cilium/tetragon

Add TracingPolicySelectorActionCounters in protobuf
  api/v1/README.md
  api/v1/tetragon/sensors.pb.go
  api/v1/tetragon/sensors.pb.json.go
  api/v1/tetragon/sensors.proto
  contrib/tetragon-rthooks/vendor/github.com/cilium/tetragon/api/v1/tetragon/sensors.pb.go
  contrib/tetragon-rthooks/vendor/github.com/cilium/tetragon/api/v1/tetragon/sensors.pb.json.go
  contrib/tetragon-rthooks/vendor/github.com/cilium/tetragon/api/v1/tetragon/sensors.proto
  docs/content/en/docs/reference/grpc-api.md
  vendor/github.com/cilium/tetragon/api/v1/tetragon/sensors.pb.go
  vendor/github.com/cilium/tetragon/api/v1/tetragon/sensors.pb.json.go
  vendor/github.com/cilium/tetragon/api/v1/tetragon/sensors.proto
Owners: @cilium/tetragon, @mtardy

Update event_output_metric function to return true on success
  bpf/lib/process.h
Owners: @cilium/tetragon

Add actionCountersFromStats function
  pkg/sensors/collection.go
Owners: @cilium/tetragon

Add GetPolicySelectorStats to get per-policy action counters
  pkg/policystats/policystats.go
Owners: @cilium/tetragon

Add selector_stats map
  bpf/errmetrics/fileids.h
  bpf/lib/policy_stats.h
  bpf/process/event_config.h
  bpf/process/generic_calls.h
  pkg/api/tracingapi/client_kprobe.go
  pkg/errmetrics/files.go
Owners: @cilium/tetragon

Generate proper policyInfo for per-selector action counters
  pkg/sensors/tracing/generickprobe.go
  pkg/sensors/tracing/genericlsm.go
  pkg/sensors/tracing/generictracepoint.go
  pkg/sensors/tracing/genericuprobe.go
  pkg/sensors/tracing/genericusdt.go
  pkg/sensors/tracing/policyhandler_linux.go
Owners: @cilium/tetragon

Use CompareAndSwap on warnedOn*RetrievalFailure
  pkg/sensors/collection.go
Owners: @cilium/tetragon

Update tests
  pkg/sensors/tracing/kprobe_test.go
  pkg/sensors/tracing/tracepoint_test.go
Owners: @cilium/tetragon

Update stats() to generate per-policy action counters
  pkg/policystats/policystats.go
  pkg/sensors/collection.go
Owners: @cilium/tetragon

Export per-selector action counters as metrics
  docs/content/en/docs/reference/metrics.md
  pkg/metrics/policymetrics/policymetrics.go
Owners: @mtardy, @cilium/tetragon

Delete policy_stats map
  bpf/lib/policy_stats.h
  bpf/lib/process.h
  bpf/process/generic_calls.h
  pkg/policystats/policystats.go
  pkg/sensors/tracing/generickprobe.go
  pkg/sensors/tracing/genericlsm.go
  pkg/sensors/tracing/generictracepoint.go
  pkg/sensors/tracing/genericuprobe.go
  pkg/sensors/tracing/genericusdt.go
  pkg/sensors/tracing/policyhandler_linux.go
Owners: @cilium/tetragon

gha: Run go test with ubuntu 26.06
  .github/workflows/gotests.yml
Owners: @willfindlay

verify: init BTF cache so CONFIG_ITER_NUM matches production
  contrib/verify/verify_test.go
Owners: @cilium/tetragon

verify: resolve cel_expr refs for all filter_arg programs
  contrib/verify/verify_test.go
Owners: @cilium/tetragon

chore(pkg): export {k8s,grpc,static}domains constants.
  pkg/k8s/apis/cilium.io/v1alpha1/tracing_policy_types.go
  pkg/server/server.go
  pkg/tracingpolicy/generictracingpolicy.go
  pkg/tracingpolicy/generictracingpolicy_nok8s.go
  pkg/tracingpolicy/tracingpolicy.go
  vendor/github.com/cilium/tetragon/pkg/k8s/apis/cilium.io/v1alpha1/tracing_policy_types.go
Owners: @cilium/tetragon

renovate: Enable lvh upgrade for stable branches
  .github/renovate.json5
Owners: @cilium/tetragon

renovate: Enable lvh upgrade for stable branches
  .github/renovate.json5
Owners: @cilium/tetragon

renovate: Remove matchUpdateTypes for lvh for stable branches
  .github/renovate.json5
Owners: @cilium/tetragon

Export per-selector action counters as metrics
  docs/content/en/docs/reference/metrics.md
  pkg/metrics/policymetrics/policymetrics.go
Owners: @mtardy, @cilium/tetragon

CODEOWNERS:

# Request a review from the Tetragon team on any PR
* @cilium/tetragon

# Request a review from William when codegen is edited
cmd/protoc-gen-go-tetragon/ @willfindlay

# Request a review from William when CI is edited
.github/workflows/ @willfindlay

# Request a review from kkourt when core sensor files are modified
pkg/src/sensors/ @kkourt

# Request a review from mtardy when anything from docs is modified but do not
# block on approval from anyone in the tetragon team
/docs/ @mtardy @cilium/tetragon
