Repository cilium/tetragon, changes with the owners that CODEOWNERS names for each.
All owners: @cilium/tetragon, @willfindlay, @kkourt, @mtardy

CODEOWNERS:

# Request a review from the Tetragon team on any PR
* @cilium/tetragon

# Request a review from William when codegen is edited
cmd/protoc-gen-go-tetragon/ @willfindlay

# Request a review from William when CI is edited
.github/workflows/ @willfindlay

# Request a review from kkourt when core sensor files are modified
pkg/src/sensors/ @kkourt

# Request a review from mtardy when anything from docs is modified but do not
# block on approval from anyone in the tetragon team
/docs/ @mtardy @cilium/tetragon

contrib/kind: Improve readability of install-tetragon.sh script
  contrib/kind/install-tetragon.sh
Owners: @cilium/tetragon

Makefile: Add kind-down target for deleting dev kind cluster
  Makefile
  contrib/kind/bootstrap-kind-cluster.sh
  contrib/kind/delete-kind-cluster.sh
Owners: @cilium/tetragon

Makefile: Add option to pass custom values to kind-install-tetragon
  Makefile
Owners: @cilium/tetragon

Makefile: Add images dependency to kind-install-tetragon target
  Makefile
  Makefile.defs
Owners: @cilium/tetragon

Makefile: Reduce the amount of vendoring calls
  Makefile
Owners: @cilium/tetragon

bpf: Add generic LSM bpf object
  bpf/Makefile
  bpf/lib/msg_types.h
  bpf/process/bpf_generic_kprobe.c
  bpf/process/bpf_generic_lsm.c
  bpf/process/generic_calls.h
Owners: @cilium/tetragon

tetragon: Add ProcessLSM message
  api/v1/tetragon/events.proto
  api/v1/tetragon/tetragon.proto
Owners: @cilium/tetragon

tetragon: Add TestLSMObjectLoad and TestLSMOpenFile
  pkg/sensors/tracing/lsm_test.go
Owners: @cilium/tetragon

bpf: Add HasLSMPrograms() to check LSM support
  pkg/bpf/detect.go
Owners: @cilium/tetragon

tetragon: Update LoadLSMProgram to load generic LSM bpf object
  pkg/sensors/program/loader.go
Owners: @cilium/tetragon

Add LSM TracingPolicy examples
  examples/tracingpolicy/lsm_brm_check.yaml
  examples/tracingpolicy/lsm_file_open.yaml
Owners: @cilium/tetragon

helm: Add LSM event to exportAllowList and update install
  install/kubernetes/tetragon/README.md
  install/kubernetes/tetragon/crds-yaml/cilium.io_tracingpolicies.yaml
  install/kubernetes/tetragon/crds-yaml/cilium.io_tracingpoliciesnamespaced.yaml
  install/kubernetes/tetragon/values.yaml
Owners: @cilium/tetragon

contrib: Skip LSM bpf generic object load check in verify.sh
  contrib/verify/verify.sh
Owners: @cilium/tetragon

tetragon: Update codegen/generate
  api/v1/README.md
  api/v1/tetragon/codegen/eventchecker/eventchecker.pb.go
  api/v1/tetragon/codegen/eventchecker/yaml/yaml.pb.go
  api/v1/tetragon/codegen/helpers/helpers.pb.go
  api/v1/tetragon/events.pb.go
  api/v1/tetragon/tetragon.pb.go
  api/v1/tetragon/tetragon.pb.json.go
  api/v1/tetragon/types.pb.go
  contrib/tetragon-rthooks/vendor/github.com/cilium/tetragon/api/v1/tetragon/events.pb.go
  contrib/tetragon-rthooks/vendor/github.com/cilium/tetragon/api/v1/tetragon/events.proto
  contrib/tetragon-rthooks/vendor/github.com/cilium/tetragon/api/v1/tetragon/tetragon.pb.go
  contrib/tetragon-rthooks/vendor/github.com/cilium/tetragon/api/v1/tetragon/tetragon.pb.json.go
  contrib/tetragon-rthooks/vendor/github.com/cilium/tetragon/api/v1/tetragon/tetragon.proto
  contrib/tetragon-rthooks/vendor/github.com/cilium/tetragon/api/v1/tetragon/types.pb.go
  vendor/github.com/cilium/tetragon/api/v1/tetragon/codegen/eventchecker/eventchecker.pb.go
  vendor/github.com/cilium/tetragon/api/v1/tetragon/codegen/eventchecker/yaml/yaml.pb.go
  vendor/github.com/cilium/tetragon/api/v1/tetragon/codegen/helpers/helpers.pb.go
  vendor/github.com/cilium/tetragon/api/v1/tetragon/events.pb.go
  vendor/github.com/cilium/tetragon/api/v1/tetragon/events.proto
  vendor/github.com/cilium/tetragon/api/v1/tetragon/tetragon.pb.go
  vendor/github.com/cilium/tetragon/api/v1/tetragon/tetragon.pb.json.go
  vendor/github.com/cilium/tetragon/api/v1/tetragon/tetragon.proto
  vendor/github.com/cilium/tetragon/api/v1/tetragon/types.pb.go
Owners: @cilium/tetragon

Add documentation for LSM sensor
  docs/content/en/docs/concepts/tracing-policy/hooks.md
  docs/content/en/docs/reference/grpc-api.md
  docs/content/en/docs/reference/helm-chart.md
  docs/content/en/docs/reference/metrics.md
Owners: @mtardy, @cilium/tetragon

tetragon: Add TestLSMOverrideAction
  pkg/sensors/tracing/lsm_test.go
Owners: @cilium/tetragon

tetragon: Add generic LSM sensor
  pkg/api/ops/ops.go
  pkg/grpc/tracing/tracing.go
  pkg/k8s/apis/cilium.io/client/crds/v1alpha1/cilium.io_tracingpolicies.yaml
  pkg/k8s/apis/cilium.io/client/crds/v1alpha1/cilium.io_tracingpoliciesnamespaced.yaml
  pkg/k8s/apis/cilium.io/v1alpha1/tracing_policy_types.go
  pkg/k8s/apis/cilium.io/v1alpha1/types.go
  pkg/k8s/apis/cilium.io/v1alpha1/version.go
  pkg/k8s/apis/cilium.io/v1alpha1/zz_generated.deepcopy.go
  pkg/sensors/sensors.go
  pkg/sensors/tracing/genericlsm.go
  pkg/sensors/tracing/policyhandler.go
  vendor/github.com/cilium/tetragon/pkg/k8s/apis/cilium.io/client/crds/v1alpha1/cilium.io_tracingpolicies.yaml
  vendor/github.com/cilium/tetragon/pkg/k8s/apis/cilium.io/client/crds/v1alpha1/cilium.io_tracingpoliciesnamespaced.yaml
  vendor/github.com/cilium/tetragon/pkg/k8s/apis/cilium.io/v1alpha1/tracing_policy_types.go
  vendor/github.com/cilium/tetragon/pkg/k8s/apis/cilium.io/v1alpha1/types.go
  vendor/github.com/cilium/tetragon/pkg/k8s/apis/cilium.io/v1alpha1/version.go
  vendor/github.com/cilium/tetragon/pkg/k8s/apis/cilium.io/v1alpha1/zz_generated.deepcopy.go
Owners: @cilium/tetragon

docs: improve k8s filtering docs
  docs/content/en/docs/concepts/tracing-policy/k8s-filtering.md
Owners: @mtardy, @cilium/tetragon

contrib: Rename localdev directory to kind
  Makefile
  contrib/kind/bootstrap-kind-cluster.sh
  contrib/kind/conf
  contrib/kind/install-tetragon.sh
  contrib/kind/kind-config.yaml
Owners: @cilium/tetragon

Makefile: Add option to pass custom values to kind-install-tetragon
  Makefile
Owners: @cilium/tetragon

contrib/kind: Improve readability of install-tetragon.sh script
  contrib/kind/install-tetragon.sh
Owners: @cilium/tetragon

Makefile: Add kind-down target for deleting dev kind cluster
  Makefile
  contrib/kind/bootstrap-kind-cluster.sh
  contrib/kind/delete-kind-cluster.sh
Owners: @cilium/tetragon

contrib/kind: Use default values.yaml file
  contrib/kind/install-tetragon.sh
  contrib/kind/values.yaml
Owners: @cilium/tetragon

contrib/kind: Add option to override namespace
  contrib/kind/install-tetragon.sh
Owners: @cilium/tetragon

Makefile: Add images dependency to kind-install-tetragon target
  Makefile
  Makefile.defs
Owners: @cilium/tetragon

contrib/kind: Use cilium/tetragon images by default
  Makefile
  contrib/kind/install-tetragon.sh
Owners: @cilium/tetragon

contrib/kind: Change default namespace to tetragon
  contrib/kind/install-tetragon.sh
  docs/content/en/docs/contribution-guide/development-setup.md
Owners: @cilium/tetragon, @mtardy

Test
  install/kubernetes/tetragon/templates/_extensions.tpl
  install/kubernetes/tetragon/templates/daemonset.yaml
Owners: @cilium/tetragon

tetragon: fix filter
  pkg/filters/eventType.go
Owners: @cilium/tetragon

pkg/sensors: add rate limit test
  pkg/sensors/tracing/kprobe_test.go
Owners: @cilium/tetragon

pkg/sensors: reduce ratelimit map memory footprint
  bpf/process/types/basic.h
  pkg/sensors/tracing/generickprobe.go
Owners: @cilium/tetragon

pkg/sensors: pin the ratelimit_map to the fs
  pkg/sensors/tracing/generickprobe.go
Owners: @cilium/tetragon

bpf: remove rate limit maps and structs for kernel <5.3
  bpf/process/types/basic.h
Owners: @cilium/tetragon

pkg/sensors: fix for ratelimit_map wrong path pinning
  pkg/sensors/tracing/generickprobe.go
Owners: @cilium/tetragon

contrib/kind: Allow using custom Helm chart in install-tetragon.sh
  contrib/kind/install-tetragon.sh
Owners: @cilium/tetragon

fix(docs): update getting started instructions
  docs/content/en/docs/getting-started/execution.md
  docs/content/en/docs/getting-started/install-k8s.md
Owners: @mtardy, @cilium/tetragon

contrib/kind: Make install-tetragon.sh script runnable from anywhere
  contrib/kind/install-tetragon.sh
Owners: @cilium/tetragon

contrib/kind: Allow using custom Helm chart in install-tetragon.sh
  contrib/kind/install-tetragon.sh
Owners: @cilium/tetragon

contrib/kind: Make install-tetragon.sh script runnable from anywhere
  contrib/kind/install-tetragon.sh
Owners: @cilium/tetragon

Fix `tetra` CLI install directions for Windows
  docs/content/en/docs/installation/tetra-cli.md
Owners: @mtardy, @cilium/tetragon
