Repository cilium/tetragon, changes with the owners that CODEOWNERS names for each.
All owners: @cilium/tetragon, @willfindlay, @kkourt, @mtardy

helm: Added resource block to Operator Deployment
  install/kubernetes/templates/operator_deployment.yaml
  install/kubernetes/values.yaml
Owners: @cilium/tetragon

helm: placement config for Tetragon Operator
  install/kubernetes/templates/operator_deployment.yaml
  install/kubernetes/values.yaml
Owners: @cilium/tetragon

helm: Added securityContext to the Operator
  install/kubernetes/templates/operator_deployment.yaml
  install/kubernetes/values.yaml
Owners: @cilium/tetragon

helm: Added dedicated SA for Tetragon Operator
  install/kubernetes/templates/_helpers.tpl
  install/kubernetes/templates/clusterrolebinding.yml
  install/kubernetes/templates/daemonset.yaml
  install/kubernetes/templates/operator_clusterrolebinding.yaml
  install/kubernetes/templates/operator_deployment.yaml
  install/kubernetes/templates/operator_serviceaccount.yaml
  install/kubernetes/templates/serviceaccount.yaml
  install/kubernetes/values.yaml
Owners: @cilium/tetragon

helm: Updated Helm value doc
  docs/content/en/docs/reference/helm-chart.md
  install/kubernetes/README.md
Owners: @mtardy, @cilium/tetragon

helm: Customizable annotations for Operator
  install/kubernetes/templates/operator_deployment.yaml
  install/kubernetes/values.yaml
Owners: @cilium/tetragon

helm: Allowed update strategy definition Operator
  install/kubernetes/templates/operator_deployment.yaml
  install/kubernetes/values.yaml
Owners: @cilium/tetragon

helm: Added imagePullSecret to the Operator Deploy
  install/kubernetes/templates/operator_deployment.yaml
  install/kubernetes/values.yaml
Owners: @cilium/tetragon

helm: extraVolumes support for the Operator
  install/kubernetes/templates/operator_deployment.yaml
  install/kubernetes/values.yaml
Owners: @cilium/tetragon

helm: Added sections to default values.yaml
  install/kubernetes/values.yaml
Owners: @cilium/tetragon

helm: extra labels for the Tetragon Operator
  install/kubernetes/templates/operator_deployment.yaml
  install/kubernetes/values.yaml
Owners: @cilium/tetragon

verify.sh: add conditional checks on kernel version
  contrib/verify/verify.sh
Owners: @cilium/tetragon

ci: replace buildjet arm64 runners with actuated ones
  .github/workflows/gotests.yml
  .github/workflows/run-e2e-tests.yaml
Owners: @willfindlay

tests: add tests for the Prefix/NotPrefix matchBinaries operators
  pkg/sensors/tracing/kprobe_test.go
Owners: @cilium/tetragon

tests: add a test for Prefix use in matchBinaries and matchArgs
  pkg/sensors/tracing/kprobe_test.go
Owners: @cilium/tetragon

pkg/k8s: add Prefix and NotPrefix to BinarySelector operators
  pkg/k8s/apis/cilium.io/client/crds/v1alpha1/cilium.io_tracingpolicies.yaml
  pkg/k8s/apis/cilium.io/client/crds/v1alpha1/cilium.io_tracingpoliciesnamespaced.yaml
  pkg/k8s/apis/cilium.io/v1alpha1/types.go
  pkg/k8s/apis/cilium.io/v1alpha1/version.go
  vendor/github.com/cilium/tetragon/pkg/k8s/apis/cilium.io/client/crds/v1alpha1/cilium.io_tracingpolicies.yaml
  vendor/github.com/cilium/tetragon/pkg/k8s/apis/cilium.io/client/crds/v1alpha1/cilium.io_tracingpoliciesnamespaced.yaml
  vendor/github.com/cilium/tetragon/pkg/k8s/apis/cilium.io/v1alpha1/types.go
  vendor/github.com/cilium/tetragon/pkg/k8s/apis/cilium.io/v1alpha1/version.go
Owners: @cilium/tetragon

pkg/selectors: add userspace implementation of prefix
  bpf/process/types/basic.h
  pkg/selectors/kernel.go
  pkg/selectors/selectors.go
Owners: @cilium/tetragon

bpf: add matchBinaries Prefix operator implementation
  bpf/process/types/basic.h
Owners: @cilium/tetragon

bpf: enable matchBinaries prefix only for large progs kernels
  bpf/process/types/basic.h
  pkg/selectors/kernel.go
  pkg/sensors/tracing/kprobe_test.go
Owners: @cilium/tetragon

linters: add go-simple and fix corresponding alerts
  .golangci.yml
  cmd/protoc-gen-go-tetragon/common/common.go
  cmd/tetragon-vmtests-run/qemu.go
  cmd/tetragon/main.go
  pkg/btf/validation_test.go
  pkg/cgroups/cgroups.go
  pkg/encoder/encoder.go
  pkg/eventcheckertests/yamlhelpers/yamlhelpers.go
  pkg/fieldfilters/fields.go
  pkg/idtable/idtable.go
  pkg/kernels/kernels.go
  pkg/observer/observer.go
  pkg/option/config.go
  pkg/pidfile/pidfile.go
  pkg/policyfilter/k8s_test.go
  pkg/policyfilter/state_test.go
  pkg/process/args.go
  pkg/process/process.go
  pkg/reader/namespace/namespace.go
  pkg/selectors/kernel.go
  pkg/selectors/kernel_test.go
  pkg/sensors/exec/exit_test.go
  pkg/sensors/exec/procevents/proc.go
  pkg/sensors/exec/procevents/proc_reader.go
  pkg/sensors/exec/threads_test.go
  pkg/sensors/program/loader.go
  pkg/sensors/tracing/generickprobe.go
  pkg/sensors/tracing/killer.go
  pkg/sensors/tracing/lists.go
  pkg/tracepoint/fieldtype.go
  pkg/vtuplefilter/vtuplefilter.go
Owners: @cilium/tetragon, @willfindlay

helm: Add a correct LICENSE
  install/kubernetes/LICENSE
Owners: @cilium/tetragon

helm: Move the chart into tetragon directory
  install/kubernetes/tetragon/.helmignore
  install/kubernetes/tetragon/Chart.yaml
  install/kubernetes/tetragon/LICENSE
  install/kubernetes/tetragon/README.md
  install/kubernetes/tetragon/export-doc.sh
  install/kubernetes/tetragon/templates/_container_export_stdout.tpl
  install/kubernetes/tetragon/templates/_container_tetragon.tpl
  install/kubernetes/tetragon/templates/_helpers.tpl
  install/kubernetes/tetragon/templates/clusterrole.yaml
  install/kubernetes/tetragon/templates/clusterrolebinding.yml
  install/kubernetes/tetragon/templates/daemonset.yaml
  install/kubernetes/tetragon/templates/operator_clusterrole.yaml
  install/kubernetes/tetragon/templates/operator_clusterrolebinding.yaml
  install/kubernetes/tetragon/templates/operator_configmap.yaml
  install/kubernetes/tetragon/templates/operator_deployment.yaml
  install/kubernetes/tetragon/templates/operator_serviceaccount.yaml
  install/kubernetes/tetragon/templates/service.yaml
  install/kubernetes/tetragon/templates/serviceaccount.yaml
  install/kubernetes/tetragon/templates/servicemonitor.yaml
  install/kubernetes/tetragon/templates/tetragon_configmap.yaml
  install/kubernetes/tetragon/test.sh
  install/kubernetes/tetragon/values.yaml
Owners: @cilium/tetragon

docs: remove incompatibles Pixelpoint customizations
  docs/assets/scss/_styles_project.scss
  docs/assets/scss/_variables_project.scss
  docs/assets/scss/alert.scss
  docs/assets/scss/banner.scss
  docs/assets/scss/footer.scss
  docs/assets/scss/header.scss
  docs/assets/scss/home.scss
  docs/assets/scss/main-content.scss
  docs/assets/scss/page-card.scss
  docs/assets/scss/page-info.scss
  docs/assets/scss/prism.scss
  docs/assets/scss/sidebar.scss
  docs/assets/scss/tabbed-pane.scss
  docs/assets/scss/theme/buttons.scss
  docs/assets/scss/theme/code.scss
  docs/assets/scss/theme/content.scss
  docs/assets/scss/theme/main-container.scss
  docs/assets/scss/theme/nav.scss
  docs/assets/scss/theme/navbar.scss
  docs/assets/scss/theme/shortcodes/cards-pane.scss
  docs/assets/scss/theme/shortcodes/tabbed-pane.scss
  docs/assets/scss/theme/sidebar-toc.scss
  docs/assets/scss/theme/sidebar-tree.scss
  docs/assets/scss/theme/support/utilities.scss
  docs/assets/scss/theme/tables.scss
  docs/assets/scss/theme/taxonomy.scss
  docs/assets/scss/theme/text.scss
  docs/assets/scss/toc.scss
  docs/layouts/partials/footer.html
  docs/layouts/partials/navbar.html
  docs/layouts/partials/page-meta-lastmod.html
  docs/layouts/partials/page-meta-links.html
  docs/layouts/partials/section-index.html
  docs/layouts/partials/sidebar-tree.html
  docs/layouts/partials/toc.html
  docs/layouts/shortcodes/tabpane.html
Owners: @mtardy, @cilium/tetragon

docs: simplify the hugo.toml settings
  docs/hugo.toml
Owners: @mtardy, @cilium/tetragon

docs: fix syntax highlighting
  docs/content/en/docs/concepts/events.md
  docs/content/en/docs/concepts/metrics.md
  docs/content/en/docs/concepts/tracing-policy/example.md
  docs/content/en/docs/getting-started/enforcement.md
  docs/content/en/docs/getting-started/execution.md
  docs/content/en/docs/getting-started/file-events.md
  docs/content/en/docs/getting-started/install-docker.md
  docs/content/en/docs/getting-started/install-k8s.md
  docs/content/en/docs/getting-started/network.md
  docs/content/en/docs/installation/container.md
  docs/content/en/docs/installation/kubernetes.md
  docs/content/en/docs/installation/package.md
  docs/content/en/docs/installation/tetra-cli.md
  docs/content/en/docs/policy-library/observability/_index.md
  docs/content/en/docs/reference/helm-chart.md
  docs/content/en/docs/troubleshooting/_index.md
  docs/content/en/docs/use-cases/host-system-changes/linux-kernel-modules.md
  docs/content/en/docs/use-cases/linux-process-credentials/monitor-changes-at-kernel.md
  docs/content/en/docs/use-cases/process-lifecycle/advanced-process-execution.md
  docs/content/en/docs/use-cases/security-profiles/record-linux-capabilities.md
  docs/hugo.toml
Owners: @mtardy, @cilium/tetragon

docs: enable search using Algolia
  docs/hugo.toml
Owners: @mtardy, @cilium/tetragon

Adjust Helm chart references to the new location
  .github/ISSUE_TEMPLATE/release_template.md
  .github/renovate.json5
  .github/workflows/lint-helm.yaml
  .github/workflows/podinfo-test.yaml
  Makefile
  contrib/localdev/install-tetragon.sh
  contrib/update-helm-chart.sh
  docs/content/en/docs/concepts/tracing-policy/k8s-filtering.md
  docs/content/en/docs/installation/kubernetes.md
  docs/content/en/docs/reference/helm-chart.md
  install/kubernetes/DEVELOP.md
  install/kubernetes/tetragon/export-doc.sh
Owners: @cilium/tetragon, @willfindlay, @mtardy

helm: Move scripts to the parent of the chart directory
  .github/ISSUE_TEMPLATE/release_template.md
  .github/renovate.json5
  .github/workflows/lint-helm.yaml
  install/kubernetes/export-doc.sh
  install/kubernetes/test.sh
Owners: @cilium/tetragon, @willfindlay

helm: Generate values.yaml from a template
  Makefile.defs
  install/kubernetes/Makefile
  install/kubernetes/Makefile.values
  install/kubernetes/tetragon/values.yaml.tmpl
Owners: @cilium/tetragon

Update the script updating Helm chart version
  contrib/update-helm-chart.sh
Owners: @cilium/tetragon

ci: Validate Helm values
  .github/workflows/lint-helm.yaml
Owners: @willfindlay

renovate: Update Helm values template, not values.yaml directly
  .github/renovate.json5
Owners: @cilium/tetragon

Add initial .gitattributes file with Helm-specific attributes
  .gitattributes
Owners: @cilium/tetragon

feat: adding optional to expose tetragon-operator metrics
  docs/content/en/docs/reference/helm-chart.md
  install/kubernetes/README.md
  install/kubernetes/templates/operator_deployment.yaml
  install/kubernetes/templates/operator_service.yaml
  install/kubernetes/test.sh
  install/kubernetes/values.yaml
  operator/cmd/serve/serve.go
Owners: @mtardy, @cilium/tetragon

docs: add some custom CSS and partials
  docs/assets/scss/_styles_project.scss
  docs/assets/scss/alert.scss
  docs/assets/scss/banner.scss
  docs/assets/scss/codeblock.scss
  docs/assets/scss/details.scss
  docs/assets/scss/footer.scss
  docs/assets/scss/header.scss
  docs/assets/scss/home.scss
  docs/assets/scss/img.scss
  docs/assets/scss/page-card.scss
  docs/assets/scss/tabbed-pane.scss
  docs/assets/scss/tdcontent.scss
  docs/assets/scss/toc.scss
  docs/layouts/partials/footer.html
  docs/layouts/partials/section-index.html
  docs/layouts/partials/toc.html
  docs/static/icons/contribution-icon.svg
  docs/static/icons/faq-icon.svg
  docs/static/icons/features-icon.svg
  docs/static/icons/observability-icon.svg
  docs/static/icons/overview-icon.svg
  docs/static/icons/reference-icon.svg
  docs/static/icons/resources-icon.svg
  docs/static/icons/tutorials-icon.svg
Owners: @mtardy, @cilium/tetragon

docs: bump Hugo to v0.120.4
  .github/workflows/build-deploy-docs.yaml
  .github/workflows/check-links-pr.yaml
  netlify.toml
Owners: @willfindlay, @cilium/tetragon

docs: fix some Hugo-Docsy warnings
  docs/content/en/docs/installation/tetra-cli.md
  docs/hugo.toml
Owners: @mtardy, @cilium/tetragon

feat: adding optional to expose tetragon-operator metrics
  docs/content/en/docs/reference/helm-chart.md
  install/kubernetes/README.md
  install/kubernetes/templates/operator_deployment.yaml
  install/kubernetes/templates/operator_service.yaml
  install/kubernetes/test.sh
  install/kubernetes/values.yaml
  operator/cmd/serve/serve.go
Owners: @mtardy, @cilium/tetragon

String matching: Fix long strings prefix matching
  bpf/process/string_maps.h
  bpf/process/types/basic.h
Owners: @cilium/tetragon

String matching: Add tests for long pre/postfix
  pkg/sensors/tracing/kprobe_test.go
Owners: @cilium/tetragon

CODEOWNERS:

# Request a review from the Tetragon team on any PR
* @cilium/tetragon

# Request a review from William when codegen is edited
cmd/protoc-gen-go-tetragon/ @willfindlay

# Request a review from William when CI is edited
.github/workflows/ @willfindlay

# Request a review from kkourt when core sensor files are modified
pkg/src/sensors/ @kkourt

# Request a review from mtardy when anything from docs is modified but do not
# block on approval from anyone in the tetragon team
/docs/ @mtardy @cilium/tetragon
