Repository cilium/tetragon, changes with the owners that CODEOWNERS names for each.
All owners: @cilium/tetragon, @willfindlay, @kkourt, @mtardy

tetragon: Store link in program.Program
  pkg/sensors/program/loader.go
  pkg/sensors/program/program.go
Owners: @cilium/tetragon

tetragon: Add HasMissedStatsKprobe/Multi functions
  cmd/tetragon/main.go
  pkg/bpf/detect.go
Owners: @cilium/tetragon

tetragon: Factor AllPrograms maintaining
  pkg/sensors/load.go
  pkg/sensors/sensors.go
Owners: @cilium/tetragon

tetragon: Add support to set policy name for program
  pkg/sensors/base/base.go
  pkg/sensors/program/program.go
  pkg/sensors/tracing/generickprobe.go
Owners: @cilium/tetragon

tetragon: Store ebpf.Program instance in program.Program
  pkg/sensors/program/loader.go
  pkg/sensors/program/program.go
Owners: @cilium/tetragon

tetragon: Adding kprobe_multi prefix to program Attach string
  pkg/sensors/tracing/generickprobe.go
Owners: @cilium/tetragon

tetragon: Add missed stats to kprobemetrics package
  docs/content/en/docs/reference/metrics.md
  pkg/metrics/kprobemetrics/collector.go
  pkg/metrics/kprobemetrics/missed.go
  pkg/metricsconfig/healthmetrics.go
Owners: @mtardy, @cilium/tetragon

tetragon: Add test for tetragon_missed_prog_probes_total metric
  pkg/sensors/tracing/kprobe_test.go
Owners: @cilium/tetragon

tetragon: Store link in program.Program
  pkg/sensors/program/loader.go
  pkg/sensors/program/program.go
Owners: @cilium/tetragon

tetragon: Add HasMissedStatsKprobe/Multi functions
  cmd/tetragon/main.go
  pkg/bpf/detect.go
Owners: @cilium/tetragon

tetragon: Add missed stats to kprobemetrics package
  docs/content/en/docs/reference/metrics.md
  pkg/metrics/kprobemetrics/collector.go
  pkg/metrics/kprobemetrics/missed.go
  pkg/metricsconfig/healthmetrics.go
Owners: @mtardy, @cilium/tetragon

tetragon: Add test for tetragon_missed_prog_probes_total metric
  pkg/sensors/tracing/kprobe_test.go
Owners: @cilium/tetragon

tetragon: Store ebpf.Program instance in program.Program
  pkg/sensors/program/loader.go
  pkg/sensors/program/program.go
Owners: @cilium/tetragon

tetragon: Add support to set policy name for program
  pkg/sensors/base/base.go
  pkg/sensors/program/program.go
  pkg/sensors/tracing/generickprobe.go
Owners: @cilium/tetragon

tetragon: Factor AllPrograms maintaining
  pkg/sensors/load.go
  pkg/sensors/sensors.go
Owners: @cilium/tetragon

tetragon: Adding kprobe_multi prefix to program Attach string
  pkg/sensors/tracing/generickprobe.go
Owners: @cilium/tetragon

rthooks: fix comments
  pkg/rthooks/rthooks.go
  pkg/rthooks/runner.go
Owners: @cilium/tetragon

bpf: bump prepend_name underlying buffer size to 4096
  bpf/lib/process.h
  bpf/process/bpf_execve_event.c
  bpf/process/bpf_process_event.h
Owners: @cilium/tetragon

bpf: fix prepend_name unit tests for new buffer length
  Makefile
  bpf/tests/prepend_name_test.c
  bpf/tests/prepend_name_test.go
Owners: @cilium/tetragon

pkg/sensors: add TestKprobeMatchBinariesPrefixLargePath
  pkg/sensors/tracing/kprobe_test.go
Owners: @cilium/tetragon

doc:username: remove empty line to not break api doc
  api/v1/README.md
  api/v1/tetragon/tetragon.pb.go
  api/v1/tetragon/tetragon.proto
  contrib/tetragon-rthooks/vendor/github.com/cilium/tetragon/api/v1/tetragon/tetragon.pb.go
  contrib/tetragon-rthooks/vendor/github.com/cilium/tetragon/api/v1/tetragon/tetragon.proto
  docs/content/en/docs/reference/grpc-api.md
  vendor/github.com/cilium/tetragon/api/v1/tetragon/tetragon.pb.go
  vendor/github.com/cilium/tetragon/api/v1/tetragon/tetragon.proto
Owners: @cilium/tetragon, @mtardy

tetragon: Move generickprobe sensor maps under new hierarchy
  pkg/sensors/tracing/generickprobe.go
Owners: @cilium/tetragon

tetragon: Move genericuprobe sensor maps under new hierarchy
  pkg/sensors/tracing/genericuprobe.go
Owners: @cilium/tetragon

tetragon: Change generictracepoint sensor pin path
  pkg/sensors/tracing/generictracepoint.go
Owners: @cilium/tetragon

tetragon: Move genericlsm sensor maps under new hierarchy
  pkg/sensors/tracing/genericlsm.go
Owners: @cilium/tetragon

tetragon: Add shared map type fields
  pkg/sensors/program/map.go
Owners: @cilium/tetragon

tetragon: Move base sensor maps under new hierarchy
  pkg/sensors/base/base.go
Owners: @cilium/tetragon

tetragon: Create sensor directory hierarchy
  pkg/sensors/load.go
  pkg/sensors/program/loader.go
  pkg/sensors/program/program.go
  pkg/sensors/sensors.go
Owners: @cilium/tetragon

tetragon: Add PinPath to Map object
  pkg/sensors/load.go
  pkg/sensors/program/loader.go
  pkg/sensors/program/map.go
Owners: @cilium/tetragon

tetragon: Change genericlsm sensor pin path
  pkg/sensors/tracing/genericlsm.go
Owners: @cilium/tetragon

tetragon: Change genericuprobe sensor pin path
  pkg/sensors/tracing/genericuprobe.go
Owners: @cilium/tetragon

tetragon: Move generictracepoint sensor maps under new hierarchy
  pkg/sensors/tracing/generictracepoint.go
Owners: @cilium/tetragon

tetragon: Use map pin path for MapLoad interface
  pkg/sensors/program/loader.go
  pkg/sensors/program/program.go
  pkg/sensors/tracing/generickprobe.go
  pkg/sensors/tracing/genericlsm.go
  pkg/sensors/tracing/generictracepoint.go
  pkg/sensors/tracing/genericuprobe.go
  pkg/sensors/tracing/selectors.go
Owners: @cilium/tetragon

tetragon: Change generickprobe sensor pin path
  pkg/sensors/tracing/generickprobe.go
Owners: @cilium/tetragon

tetragon: Move enforcer sensor maps under new hierarchy
  pkg/sensors/tracing/enforcer.go
  pkg/sensors/tracing/generickprobe.go
  pkg/sensors/tracing/generictracepoint.go
Owners: @cilium/tetragon

tetragon: Get rid of MapBuilderPin functions
  pkg/sensors/load.go
  pkg/sensors/program/map.go
Owners: @cilium/tetragon

tetragon: Adjust linkPinPath for new hierarchy
  pkg/sensors/program/loader.go
  pkg/sensors/program/loader_test.go
Owners: @cilium/tetragon

tetragon: Sanitize policy name before using it in path
  pkg/sensors/load.go
  pkg/sensors/sensors.go
Owners: @cilium/tetragon

tetragon: Add policy argument to SensorBuilder function
  pkg/sensors/sensors.go
Owners: @cilium/tetragon

tetragon: Add documentation for maps usage
  pkg/sensors/program/map.go
  pkg/sensors/program/program.go
Owners: @cilium/tetragon

CODEOWNERS:

# Request a review from the Tetragon team on any PR
* @cilium/tetragon

# Request a review from William when codegen is edited
cmd/protoc-gen-go-tetragon/ @willfindlay

# Request a review from William when CI is edited
.github/workflows/ @willfindlay

# Request a review from kkourt when core sensor files are modified
pkg/src/sensors/ @kkourt

# Request a review from mtardy when anything from docs is modified but do not
# block on approval from anyone in the tetragon team
/docs/ @mtardy @cilium/tetragon
