Repository cilium/tetragon, changes with the owners that CODEOWNERS names for each.
All owners: @cilium/tetragon, @willfindlay, @kkourt, @mtardy

usdt: enable preload for reading args
  contrib/verify/verify_test.go
  pkg/errmetrics/files.go
  pkg/sensors/tracing/args_linux.go
  pkg/sensors/tracing/genericuprobe.go
  pkg/sensors/tracing/genericusdt.go
Owners: @cilium/tetragon

bpf: use the correct index for pt_regs config
  bpf/process/generic_calls.h
Owners: @cilium/tetragon

uprobe: test that correct pt_regs config is used
  pkg/sensors/tracing/uprobe_reg_test.go
Owners: @cilium/tetragon

docs: add kind-hook-setup.sh script for NRI configuration
  contrib/tetragon-rthooks/scripts/kind-hook-setup.sh
  docs/content/en/docs/concepts/tracing-policy/k8s-filtering.md
  docs/content/en/docs/installation/runtime-hooks.md
Owners: @cilium/tetragon, @mtardy

tetragon: Initialize BTFArg just once in kprobe sensor
  pkg/sensors/tracing/generickprobe.go
Owners: @cilium/tetragon

uprobe: add support for monitor mode and stats
  pkg/sensors/tracing/genericuprobe.go
Owners: @cilium/tetragon

logger: do not ignore time-stamped formats
  pkg/logger/log.go
Owners: @cilium/tetragon

autogenerated: update protobuf, CRDs, and vendor files
  api/v1/README.md
  api/v1/tetragon/codegen/eventchecker/eventchecker.pb.go
  api/v1/tetragon/tetragon.pb.go
  api/v1/tetragon/tetragon.pb.json.go
  api/v1/tetragon/tetragon.proto
  contrib/tetragon-rthooks/vendor/github.com/cilium/tetragon/api/v1/tetragon/tetragon.pb.go
  contrib/tetragon-rthooks/vendor/github.com/cilium/tetragon/api/v1/tetragon/tetragon.pb.json.go
  contrib/tetragon-rthooks/vendor/github.com/cilium/tetragon/api/v1/tetragon/tetragon.proto
  docs/content/en/docs/reference/grpc-api.md
  docs/content/en/docs/reference/tracing-policy.md
  install/kubernetes/tetragon/crds-yaml/cilium.io_tracingpolicies.yaml
  install/kubernetes/tetragon/crds-yaml/cilium.io_tracingpoliciesnamespaced.yaml
  pkg/k8s/apis/cilium.io/client/crds/v1alpha1/cilium.io_tracingpolicies.yaml
  pkg/k8s/apis/cilium.io/client/crds/v1alpha1/cilium.io_tracingpoliciesnamespaced.yaml
  pkg/k8s/apis/cilium.io/v1alpha1/types.go
  pkg/k8s/apis/cilium.io/v1alpha1/version.go
  vendor/github.com/cilium/tetragon/api/v1/tetragon/codegen/eventchecker/eventchecker.pb.go
  vendor/github.com/cilium/tetragon/api/v1/tetragon/tetragon.pb.go
  vendor/github.com/cilium/tetragon/api/v1/tetragon/tetragon.pb.json.go
  vendor/github.com/cilium/tetragon/api/v1/tetragon/tetragon.proto
  vendor/github.com/cilium/tetragon/pkg/k8s/apis/cilium.io/client/crds/v1alpha1/cilium.io_tracingpolicies.yaml
  vendor/github.com/cilium/tetragon/pkg/k8s/apis/cilium.io/client/crds/v1alpha1/cilium.io_tracingpoliciesnamespaced.yaml
  vendor/github.com/cilium/tetragon/pkg/k8s/apis/cilium.io/v1alpha1/types.go
  vendor/github.com/cilium/tetragon/pkg/k8s/apis/cilium.io/v1alpha1/version.go
Owners: @cilium/tetragon, @mtardy

bpf: add AF_UNIX (sockaddr_un) support
  bpf/process/generic_calls.h
  bpf/process/types/basic.h
  bpf/process/types/sockaddr_un.h
  bpf/process/types/tuple.h
  pkg/api/tracingapi/client_kprobe.go
  pkg/btf/validation.go
  pkg/generictypes/generictypes.go
  pkg/grpc/tracing/tracing.go
  pkg/selectors/kernel.go
  pkg/sensors/tracing/args_linux.go
  pkg/sensors/tracing/generictracepoint.go
Owners: @cilium/tetragon

tests: added unit tests for tracing unix socket events
  pkg/sensors/tracing/kprobe_net_test.go
Owners: @cilium/tetragon

docs: add kind-hook-setup.sh script for NRI configuration
  contrib/tetragon-rthooks/scripts/kind-hook-setup.sh
  docs/content/en/docs/concepts/tracing-policy/k8s-filtering.md
  docs/content/en/docs/installation/runtime-hooks.md
Owners: @cilium/tetragon, @mtardy

ci/e2e: Fallback to load images from registry
  tests/e2e/install/tetragon/tetragon.go
Owners: @cilium/tetragon

tetragon: Fix op_filter_gt filter
  bpf/process/types/basic.h
Owners: @cilium/tetragon

tetragon: Add tests for GT operator on unsigned value
  pkg/sensors/tracing/kprobe_test.go
Owners: @cilium/tetragon

ci: Fix package e2e tests GHA
  .github/workflows/packages-e2e-tests.yaml
Owners: @willfindlay

tetragon: Fail uprobe policy with multiple preload arguments
  pkg/sensors/tracing/genericuprobe.go
Owners: @cilium/tetragon

tetragon: Add uprobe validation test for multiple preload arguments
  pkg/sensors/tracing/uprobe_validation_test.go
Owners: @cilium/tetragon

tetragon: Add preload test for multiple uprobes
  pkg/sensors/tracing/uprobe_reg_test.go
Owners: @cilium/tetragon

logger: do not ignore time-stamped formats
  pkg/logger/log.go
Owners: @cilium/tetragon

tetragon: Initialize BTFArg just once in kprobe sensor
  pkg/sensors/tracing/generickprobe.go
Owners: @cilium/tetragon

ci/e2e: Fallback to load images from registry
  tests/e2e/install/tetragon/tetragon.go
Owners: @cilium/tetragon

uprobe: add support for monitor mode and stats
  pkg/sensors/tracing/genericuprobe.go
Owners: @cilium/tetragon

ci: Fix package e2e tests GHA
  .github/workflows/packages-e2e-tests.yaml
Owners: @willfindlay

fix(eventcache): resolve missing container metadata in kprobe events
  pkg/eventcache/eventcache.go
  pkg/grpc/tracing/tracing.go
  pkg/process/process.go
Owners: @cilium/tetragon

Test d_path
  bpf/lib/bpf_d_path.h
Owners: @cilium/tetragon

ebpf: Choose best loop for d_path in kernel
  bpf/lib/bpf_d_path.h
Owners: @cilium/tetragon

ebpf: Choose best loop for d_path in kernel
  bpf/lib/bpf_d_path.h
Owners: @cilium/tetragon

pkg/manager: use require assertions in integration tests
  pkg/manager/manager_integration_test.go
Owners: @cilium/tetragon

pkg/manager: optimize pod scheduling and deletion timing
  pkg/manager/manager_integration_test.go
Owners: @cilium/tetragon

pkg/manager: use unique names in TestFindContainer
  pkg/manager/manager_integration_test.go
Owners: @cilium/tetragon

pkg/manager: improve cache lookup reliability
  pkg/manager/manager_integration_test.go
Owners: @cilium/tetragon

operator: Replace hasAllRequiredFields requeue loop with a predicate
  operator/podinfo/podinfo_controller.go
Owners: @cilium/tetragon

uprobe: test that correct pt_regs config is used
  pkg/sensors/tracing/uprobe_reg_test.go
Owners: @cilium/tetragon

bpf: use the correct index for pt_regs config
  bpf/process/generic_calls.h
Owners: @cilium/tetragon

docs: add missing index field to data section examples
  docs/content/en/docs/concepts/tracing-policy/hooks.md
  docs/content/en/docs/concepts/tracing-policy/selectors.md
Owners: @mtardy, @cilium/tetragon

Revert "fix(pkg/sensors): fixed {k,u}retprobe args merge helper."
  pkg/sensors/tracing/generickprobe.go
Owners: @cilium/tetragon

Update pkg/exporter/exporter_test.go
  pkg/exporter/exporter_test.go
Owners: @cilium/tetragon

exporter: fix flaky Test_rateLimitExport with polling
  pkg/exporter/exporter_test.go
Owners: @cilium/tetragon

Update pkg/exporter/exporter_test.go
  pkg/exporter/exporter_test.go
Owners: @cilium/tetragon

feat(bugtool): add process cache and execve map dumps
  cmd/tetra/bugtool/bugtool.go
  pkg/bugtool/bugtool.go
  pkg/observer/observertesthelper/observer_test_helper.go
Owners: @cilium/tetragon

CODEOWNERS:

# Request a review from the Tetragon team on any PR
* @cilium/tetragon

# Request a review from William when codegen is edited
cmd/protoc-gen-go-tetragon/ @willfindlay

# Request a review from William when CI is edited
.github/workflows/ @willfindlay

# Request a review from kkourt when core sensor files are modified
pkg/src/sensors/ @kkourt

# Request a review from mtardy when anything from docs is modified but do not
# block on approval from anyone in the tetragon team
/docs/ @mtardy @cilium/tetragon
