Repository cilium/tetragon, changes with the owners that CODEOWNERS names for each.
All owners: @cilium/tetragon, @willfindlay, @kkourt, @mtardy

CODEOWNERS:

# Request a review from the Tetragon team on any PR
* @cilium/tetragon

# Request a review from William when codegen is edited
cmd/protoc-gen-go-tetragon/ @willfindlay

# Request a review from William when CI is edited
.github/workflows/ @willfindlay

# Request a review from kkourt when core sensor files are modified
pkg/src/sensors/ @kkourt

# Request a review from mtardy when anything from docs is modified but do not
# block on approval from anyone in the tetragon team
/docs/ @mtardy @cilium/tetragon

feat: develop Tetragon Enterprise page
  docs/assets/scss/home.scss
  docs/assets/scss/home/distribution.scss
  docs/assets/scss/home/hero.scss
  docs/assets/scss/social.scss
  docs/config/_default/hugo.toml
  docs/content/en/_index.html
  docs/content/en/enterprise.html
  docs/layouts/shortcodes/social.html
  docs/static/images/enterprise/eol.svg
  docs/static/images/enterprise/hero-illustration.png
  docs/static/images/enterprise/isovalent.svg
  docs/static/images/enterprise/security.svg
  docs/static/images/enterprise/support.svg
  docs/static/svgs/github-icon.svg
  docs/static/svgs/linkedin-icon.svg
  docs/static/svgs/slack-icon.svg
  docs/static/svgs/social/github-icon.svg
  docs/static/svgs/social/lab-icon.svg
  docs/static/svgs/social/linkedin-icon.svg
  docs/static/svgs/social/slack-icon.svg
  docs/static/svgs/social/x-icon.svg
  docs/static/svgs/x-icon.svg
Owners: @mtardy, @cilium/tetragon

tetragon: Get rid of .ll object files
  bpf/Makefile
  bpf/Makefile.defs
  bpf/tests/Makefile
Owners: @cilium/tetragon

tetragon: Remove explicit deps in makefile
  bpf/Makefile
Owners: @cilium/tetragon

tetragon: Use TARGET variable for common Makefile rename
  bpf/Makefile
Owners: @cilium/tetragon

linters: avoid redefining Go built-in functions min/max/cap
  pkg/reader/caps/caps.go
  pkg/sensors/load.go
  pkg/sensors/program/loader.go
  pkg/sensors/program/map.go
  tests/e2e/helpers/cluster.go
Owners: @cilium/tetragon

chore(deps): update go to v1.22.9
  .github/workflows/bpf-unit-tests.yml
  .github/workflows/build-clang-image.yaml
  .github/workflows/build-images-ci.yml
  .github/workflows/build-images-releases.yml
  .github/workflows/generated-files.yaml
  .github/workflows/gotests.yml
  .github/workflows/lint-codeql.yml
  .github/workflows/podinfo-test.yaml
  .github/workflows/run-e2e-tests.yaml
  .github/workflows/static-checks.yaml
  .github/workflows/vmtests.yml
  Dockerfile
  Dockerfile.dev
  Dockerfile.operator
  Dockerfile.test
  Makefile.cli
  pkg/k8s/Makefile
Owners: @willfindlay, @cilium/tetragon

gitignore: add tetragon-metrics-docs
  .gitignore
Owners: @cilium/tetragon

gitignore: add tetragon-metrics-docs
  .gitignore
Owners: @cilium/tetragon

chore(deps): update go to v1.22.9
  .github/workflows/bpf-unit-tests.yml
  .github/workflows/build-clang-image.yaml
  .github/workflows/build-images-ci.yml
  .github/workflows/build-images-releases.yml
  .github/workflows/generated-files.yaml
  .github/workflows/gotests.yml
  .github/workflows/lint-codeql.yml
  .github/workflows/podinfo-test.yaml
  .github/workflows/run-e2e-tests.yaml
  .github/workflows/static-checks.yaml
  .github/workflows/vmtests.yml
  Dockerfile
  Dockerfile.dev
  Dockerfile.operator
  Dockerfile.test
  Makefile.cli
  pkg/k8s/Makefile
Owners: @willfindlay, @cilium/tetragon

linters: avoid redefining Go built-in functions min/max/cap
  pkg/reader/caps/caps.go
  pkg/sensors/load.go
  pkg/sensors/program/loader.go
  pkg/sensors/program/map.go
  tests/e2e/helpers/cluster.go
Owners: @cilium/tetragon

tetragon: Move variant rules in DEFINE_VARIANT
  bpf/Makefile
Owners: @cilium/tetragon

tetragon: Simplify standard object/dependency build
  bpf/Makefile
Owners: @cilium/tetragon

tetragon: Group directory makefile variables
  bpf/Makefile
Owners: @cilium/tetragon

fix
  bpf/Makefile
  pkg/kernels/kernels.go
  pkg/sensors/exec/config/config.go
Owners: @cilium/tetragon

binary: add uid/gid owners of the binary
  bpf/lib/process.h
  pkg/api/processapi/processapi.go
Owners: @cilium/tetragon

bpf:execve: record binary file uid/gid
  bpf/lib/process.h
  bpf/process/bpf_execve_event.c
Owners: @cilium/tetragon

feat: develop Tetragon Enterprise page
  docs/assets/scss/home.scss
  docs/assets/scss/home/distribution.scss
  docs/assets/scss/home/hero.scss
  docs/assets/scss/social.scss
  docs/config/_default/hugo.toml
  docs/content/en/_index.html
  docs/content/en/enterprise.html
  docs/layouts/shortcodes/social.html
  docs/static/images/enterprise/eol.svg
  docs/static/images/enterprise/hero-illustration.png
  docs/static/images/enterprise/isovalent.svg
  docs/static/images/enterprise/security.svg
  docs/static/images/enterprise/support.svg
  docs/static/svgs/github-icon.svg
  docs/static/svgs/linkedin-icon.svg
  docs/static/svgs/slack-icon.svg
  docs/static/svgs/social/github-icon.svg
  docs/static/svgs/social/lab-icon.svg
  docs/static/svgs/social/linkedin-icon.svg
  docs/static/svgs/social/slack-icon.svg
  docs/static/svgs/social/x-icon.svg
  docs/static/svgs/x-icon.svg
Owners: @mtardy, @cilium/tetragon

Prepare for v1.2.1 release
  contrib/upgrade-notes/v1.2.1.md
  docs/config/_default/hugo.toml
  docs/content/en/docs/reference/helm-chart.md
  install/kubernetes/tetragon/Chart.yaml
  install/kubernetes/tetragon/README.md
  install/kubernetes/tetragon/values.yaml
Owners: @cilium/tetragon, @mtardy

Prepare for v1.2.1 release
  contrib/upgrade-notes/v1.2.1.md
  docs/config/_default/hugo.toml
  docs/content/en/docs/reference/helm-chart.md
  install/kubernetes/tetragon/Chart.yaml
  install/kubernetes/tetragon/README.md
  install/kubernetes/tetragon/values.yaml
Owners: @cilium/tetragon, @mtardy

release: Fix checkout to the correct branch before tagging
  .github/ISSUE_TEMPLATE/release_template.md
Owners: @cilium/tetragon

release: Fix checkout to the correct branch before tagging
  .github/ISSUE_TEMPLATE/release_template.md
Owners: @cilium/tetragon

bpf: add cgrpid to execve_map_value
  bpf/lib/process.h
  pkg/sensors/exec/execvemap/execve.go
Owners: @cilium/tetragon

bpf: on clone store the cgroup ID into current execve map
  bpf/process/bpf_fork.c
Owners: @cilium/tetragon

bpf: on execve store the current cgroup ID in execve_map
  bpf/process/bpf_execve_event.c
Owners: @cilium/tetragon

tetragon: Group directory makefile variables
  bpf/Makefile
Owners: @cilium/tetragon

tetragon: Get rid of .ll object files
  bpf/Makefile
  bpf/Makefile.defs
  bpf/tests/Makefile
Owners: @cilium/tetragon

tetragon: Remove explicit object dependencies in makefile
  bpf/Makefile
Owners: @cilium/tetragon

tetragon: Use MTARGET variable for common Makefile rename
  bpf/Makefile
Owners: @cilium/tetragon

tetragon: Move variant rules in DEFINE_VARIANT
  bpf/Makefile
Owners: @cilium/tetragon

tetragon: Simplify standard object/dependency build
  bpf/Makefile
Owners: @cilium/tetragon

tetragon: Make variant deps rules more generic
  bpf/Makefile
Owners: @cilium/tetragon

tetragon: Split sensors in Makefile based on kernel versions
  bpf/Makefile
Owners: @cilium/tetragon

tetragon: Add some docs to the bpf Makefile
  bpf/Makefile
Owners: @cilium/tetragon

tetragon: Use variables for directories in bpf Makefile
  bpf/Makefile
Owners: @cilium/tetragon

tetragon: Allow to build llvm IR objects
  bpf/Makefile
Owners: @cilium/tetragon

tetragon: Group directory makefile variables
  bpf/Makefile
Owners: @cilium/tetragon

tetragon: Use MTARGET variable for common Makefile rename
  bpf/Makefile
Owners: @cilium/tetragon

tetragon: Split sensors in Makefile based on kernel versions
  bpf/Makefile
Owners: @cilium/tetragon

tetragon: Allow to build llvm IR objects
  bpf/Makefile
Owners: @cilium/tetragon

tetragon: Get rid of .ll object files
  bpf/Makefile
  bpf/Makefile.defs
  bpf/tests/Makefile
Owners: @cilium/tetragon
