Repository cilium/tetragon, changes with the owners that CODEOWNERS names for each.
All owners: @cilium/tetragon, @willfindlay, @kkourt, @mtardy

tetra: print tracingpolicy stats
  cmd/tetra/common/utils.go
Owners: @cilium/tetragon

sensors: add policy stats
  pkg/sensors/collection.go
  pkg/sensors/handler.go
Owners: @cilium/tetragon

alignchecker: add policy_stats
  bpf/alignchecker/bpf_alignchecker.c
  pkg/alignchecker/alignchecker.go
Owners: @cilium/tetragon

new(cmd/tetra,pkg/bugtool): allow to extend bugtool tar archive.
  cmd/tetra/bugtool/bugtool.go
  cmd/tetra/commands_linux.go
  pkg/bugtool/bugtool.go
  pkg/observer/observertesthelper/observer_test_helper.go
Owners: @cilium/tetragon

chore(pkg/bugtool): moved `tarWriter` inside `bugtoolInfo` struct.
  pkg/bugtool/bugtool.go
Owners: @cilium/tetragon

adds tracing policy reference docs
  .github/workflows/generated-docs.yaml
  Makefile
  docs/Makefile
  docs/content/en/docs/concepts/tracing-policy/_index.md
  docs/content/en/docs/reference/templates/tracing_policy.tmpl
  docs/content/en/docs/reference/tracing-policy.md
Owners: @willfindlay, @cilium/tetragon, @mtardy

tetragon: eventsQueue only needs raw samples
  pkg/observer/observer_linux.go
Owners: @cilium/tetragon

tetragon: service the bpf ring buffer
  pkg/bpf/ringbuf_linux.go
  pkg/bpf/ringbuf_windows.go
  pkg/observer/observer.go
  pkg/observer/observer_linux.go
  vendor/github.com/cilium/ebpf/ringbuf/doc.go
  vendor/github.com/cilium/ebpf/ringbuf/reader.go
  vendor/github.com/cilium/ebpf/ringbuf/ring.go
  vendor/modules.txt
Owners: @cilium/tetragon

tetragon: add config to choose event ring buffer
  bpf/lib/environ_conf.h
  pkg/sensors/config/confmap/confmap.go
Owners: @cilium/tetragon

tetragon: fix-up capabilities test
  contrib/tester-progs/.gitignore
  contrib/tester-progs/Makefile
  contrib/tester-progs/capabilities-ioperm.c
  pkg/sensors/tracing/kprobe_amd64_test.go
Owners: @cilium/tetragon

tetragon: add switch to choose ring buffer
  cmd/tetragon/main.go
  docs/content/en/docs/reference/helm-chart.md
  docs/data/tetragon_flags.yaml
  install/kubernetes/tetragon/README.md
  install/kubernetes/tetragon/templates/tetragon_configmap.yaml
  install/kubernetes/tetragon/values.yaml
  pkg/option/config.go
  pkg/option/flags.go
Owners: @cilium/tetragon, @mtardy

tetragon: test support for bpf ring buffer
  pkg/observer/observertesthelper/observer_test_helper.go
  pkg/sensors/tracing/kprobe_test.go
  pkg/sensors/tracing/lsm_test.go
  pkg/sensors/tracing/tracepoint_test.go
  pkg/sensors/tracing/uprobe_test.go
  pkg/sensors/tracing/usdt_test.go
  pkg/testutils/perfring/perfring.go
  pkg/testutils/sensors/load.go
Owners: @cilium/tetragon

tetragon: Remove map and flags from event_output
  bpf/cgroup/bpf_cgroup_events.h
  bpf/lib/process.h
  bpf/process/bpf_execve_event.c
  bpf/process/bpf_exit.h
  bpf/process/bpf_fork.c
  bpf/process/bpf_loader.c
  bpf/process/bpf_rate.h
  bpf/process/data_event.h
  bpf/process/generic_calls.h
Owners: @cilium/tetragon

tetragon: Only service ring buffer in use
  pkg/observer/observer_linux.go
Owners: @cilium/tetragon

tetragon: fix prototype for ringbuf_output
  bpf/include/api.h
Owners: @cilium/tetragon

tetragon: use switch to choose ring buffer
  pkg/observer/observer_linux.go
  pkg/sensors/base/base_linux.go
  pkg/sensors/config/confmap/confmap.go
  pkg/sensors/test/cgroups.go
  pkg/sensors/test/test.go
  pkg/sensors/tracing/generickprobe.go
  pkg/sensors/tracing/genericlsm.go
  pkg/sensors/tracing/generictracepoint.go
  pkg/sensors/tracing/genericuprobe.go
  pkg/sensors/tracing/genericusdt.go
  pkg/sensors/tracing/loader_linux.go
Owners: @cilium/tetragon

tetragon: choose output ring buf from config
  bpf/lib/bpf_event.h
  bpf/lib/process.h
  bpf/process/data_event.h
  bpf/test/bpf_lseek.c
  pkg/api/processapi/processapi.go
  pkg/metrics/eventmetrics/eventmetrics.go
Owners: @cilium/tetragon

policyhandler: initialize policy stats map
  pkg/sensors/tracing/generickprobe.go
  pkg/sensors/tracing/genericlsm.go
  pkg/sensors/tracing/generictracepoint.go
  pkg/sensors/tracing/policyhandler_linux.go
Owners: @cilium/tetragon

alignchecker: add policy_stats
  bpf/alignchecker/bpf_alignchecker.c
  pkg/alignchecker/alignchecker.go
Owners: @cilium/tetragon

tetra: print tracingpolicy stats
  cmd/tetra/common/utils.go
Owners: @cilium/tetragon

sensors: add policy stats
  pkg/sensors/collection.go
  pkg/sensors/handler.go
Owners: @cilium/tetragon

pkg/policystats: package for policy stats
  pkg/policystats/policystats.go
Owners: @cilium/tetragon

policyhandler: use policyconf.PolicyConfMapName
  pkg/sensors/tracing/policyhandler_linux.go
Owners: @cilium/tetragon

alignchecker: support types with the same name
  pkg/alignchecker/alignchecker.go
Owners: @cilium/tetragon

bpf: policy stats
  bpf/lib/policy_stats.h
  bpf/lib/process.h
  bpf/process/generic_calls.h
Owners: @cilium/tetragon

api: add TracingPolicyStats
  api/v1/README.md
  api/v1/tetragon/sensors.pb.go
  api/v1/tetragon/sensors.pb.json.go
  api/v1/tetragon/sensors.proto
  bpf/lib/policy_stats.h
  contrib/tetragon-rthooks/vendor/github.com/cilium/tetragon/api/v1/tetragon/sensors.pb.go
  contrib/tetragon-rthooks/vendor/github.com/cilium/tetragon/api/v1/tetragon/sensors.pb.json.go
  contrib/tetragon-rthooks/vendor/github.com/cilium/tetragon/api/v1/tetragon/sensors.proto
  docs/content/en/docs/reference/grpc-api.md
  vendor/github.com/cilium/tetragon/api/v1/tetragon/sensors.pb.go
  vendor/github.com/cilium/tetragon/api/v1/tetragon/sensors.pb.json.go
  vendor/github.com/cilium/tetragon/api/v1/tetragon/sensors.proto
Owners: @cilium/tetragon, @mtardy

sensors: log errors on retrieving the policy mode
  pkg/sensors/collection.go
Owners: @cilium/tetragon

tetragon: add detection functions and probe command
  cmd/tetra/probe/config.go
  cmd/tetra/probe/probe.go
  pkg/bpf/detect_linux.go
  pkg/kernels/config.go
Owners: @cilium/tetragon

FindProgramFileUnderLocations: error logging
  pkg/config/prog.go
Owners: @cilium/tetragon

FindProgramFileUnderLocations: error logging
  pkg/config/prog.go
Owners: @cilium/tetragon

policy_stats: use the map only for policy sensors
  bpf/lib/policy_stats.h
  bpf/lib/process.h
  bpf/process/bpf_generic_tracepoint.c
  bpf/process/generic_calls.h
Owners: @cilium/tetragon

chore: make tracing-policy-docs
  docs/content/en/docs/reference/tracing-policy.md
Owners: @mtardy, @cilium/tetragon

helm: Add security context support for non-root operator
  install/kubernetes/tetragon/README.md
  install/kubernetes/tetragon/templates/operator_deployment.yaml
  install/kubernetes/tetragon/values.yaml
Owners: @cilium/tetragon

docs: Add documentation for non-root operator configuration
  Dockerfile.operator
  contrib/upgrade-notes/latest.md
  docs/content/en/docs/installation/configuration.md
  docs/content/en/docs/reference/helm-chart.md
  docs/content/en/docs/reference/tracing-policy.md
Owners: @cilium/tetragon, @mtardy

tetragon: Add InRange and NotInRange operators
  bpf/process/types/basic.h
  bpf/process/types/operations.h
  pkg/selectors/kernel.go
Owners: @cilium/tetragon

tests:tracing: test match current real and effective uids filters
  pkg/sensors/tracing/kprobe_process_credentials_test.go
Owners: @cilium/tetragon

tests:sensors: fix tests by ensuring we restore GIDs to root
  pkg/sensors/tracing/kprobe_process_credentials_test.go
Owners: @cilium/tetragon

tests:tracing: test NotInRange in current task
  pkg/sensors/tracing/kprobe_process_credentials_test.go
Owners: @cilium/tetragon

tetragon: Add InRange and NotInRange operators to spec
  docs/content/en/docs/reference/tracing-policy.md
  install/kubernetes/tetragon/crds-yaml/cilium.io_tracingpolicies.yaml
  install/kubernetes/tetragon/crds-yaml/cilium.io_tracingpoliciesnamespaced.yaml
  pkg/k8s/apis/cilium.io/client/crds/v1alpha1/cilium.io_tracingpolicies.yaml
  pkg/k8s/apis/cilium.io/client/crds/v1alpha1/cilium.io_tracingpoliciesnamespaced.yaml
  pkg/k8s/apis/cilium.io/v1alpha1/types.go
  pkg/k8s/apis/cilium.io/v1alpha1/version.go
  vendor/github.com/cilium/tetragon/pkg/k8s/apis/cilium.io/client/crds/v1alpha1/cilium.io_tracingpolicies.yaml
  vendor/github.com/cilium/tetragon/pkg/k8s/apis/cilium.io/client/crds/v1alpha1/cilium.io_tracingpoliciesnamespaced.yaml
  vendor/github.com/cilium/tetragon/pkg/k8s/apis/cilium.io/v1alpha1/types.go
  vendor/github.com/cilium/tetragon/pkg/k8s/apis/cilium.io/v1alpha1/version.go
Owners: @mtardy, @cilium/tetragon

autogenerated: update protobuf, CRDs, and vendor files
  api/v1/README.md
  api/v1/tetragon/codegen/eventchecker/eventchecker.pb.go
  api/v1/tetragon/tetragon.pb.go
  api/v1/tetragon/tetragon.pb.json.go
  api/v1/tetragon/tetragon.proto
  contrib/tetragon-rthooks/vendor/github.com/cilium/tetragon/api/v1/tetragon/tetragon.pb.go
  contrib/tetragon-rthooks/vendor/github.com/cilium/tetragon/api/v1/tetragon/tetragon.pb.json.go
  contrib/tetragon-rthooks/vendor/github.com/cilium/tetragon/api/v1/tetragon/tetragon.proto
  docs/content/en/docs/reference/grpc-api.md
  docs/content/en/docs/reference/tracing-policy.md
  install/kubernetes/tetragon/crds-yaml/cilium.io_tracingpolicies.yaml
  install/kubernetes/tetragon/crds-yaml/cilium.io_tracingpoliciesnamespaced.yaml
  pkg/k8s/apis/cilium.io/client/crds/v1alpha1/cilium.io_tracingpolicies.yaml
  pkg/k8s/apis/cilium.io/client/crds/v1alpha1/cilium.io_tracingpoliciesnamespaced.yaml
  pkg/k8s/apis/cilium.io/v1alpha1/types.go
  pkg/k8s/apis/cilium.io/v1alpha1/version.go
  vendor/github.com/cilium/tetragon/api/v1/tetragon/codegen/eventchecker/eventchecker.pb.go
  vendor/github.com/cilium/tetragon/api/v1/tetragon/tetragon.pb.go
  vendor/github.com/cilium/tetragon/api/v1/tetragon/tetragon.pb.json.go
  vendor/github.com/cilium/tetragon/api/v1/tetragon/tetragon.proto
  vendor/github.com/cilium/tetragon/pkg/k8s/apis/cilium.io/client/crds/v1alpha1/cilium.io_tracingpolicies.yaml
  vendor/github.com/cilium/tetragon/pkg/k8s/apis/cilium.io/client/crds/v1alpha1/cilium.io_tracingpoliciesnamespaced.yaml
  vendor/github.com/cilium/tetragon/pkg/k8s/apis/cilium.io/v1alpha1/types.go
  vendor/github.com/cilium/tetragon/pkg/k8s/apis/cilium.io/v1alpha1/version.go
Owners: @cilium/tetragon, @mtardy

CODEOWNERS:

# Request a review from the Tetragon team on any PR
* @cilium/tetragon

# Request a review from William when codegen is edited
cmd/protoc-gen-go-tetragon/ @willfindlay

# Request a review from William when CI is edited
.github/workflows/ @willfindlay

# Request a review from kkourt when core sensor files are modified
pkg/src/sensors/ @kkourt

# Request a review from mtardy when anything from docs is modified but do not
# block on approval from anyone in the tetragon team
/docs/ @mtardy @cilium/tetragon
