Repository cilium/tetragon, changes with the owners that CODEOWNERS names for each.
All owners: @cilium/tetragon, @willfindlay, @kkourt, @mtardy

CODEOWNERS:

# Request a review from the Tetragon team on any PR
* @cilium/tetragon

# Request a review from William when codegen is edited
cmd/protoc-gen-go-tetragon/ @willfindlay

# Request a review from William when CI is edited
.github/workflows/ @willfindlay

# Request a review from kkourt when core sensor files are modified
pkg/src/sensors/ @kkourt

# Request a review from mtardy when anything from docs is modified but do not
# block on approval from anyone in the tetragon team
/docs/ @mtardy @cilium/tetragon

loader_test: correct alignment calculation
  pkg/sensors/tracing/loader_test.go
Owners: @cilium/tetragon

docs: run "make gen-docs-references"
  docs/content/en/docs/reference/tracing-policy.md
Owners: @mtardy, @cilium/tetragon

DO NOT MERGE: hack for v5.15
  bpf/process/types/basic.h
Owners: @cilium/tetragon

uprobe: check for consistency among probes
  pkg/sensors/tracing/genericuprobe.go
Owners: @cilium/tetragon

docs: update docs for uprobe digest verification
  docs/content/en/docs/concepts/tracing-policy/hooks.md
Owners: @mtardy, @cilium/tetragon

tetra: add --hook-status flag
  cmd/tetra/common/utils.go
  cmd/tetra/policyfilter/k8s.go
  cmd/tetra/tracingpolicy/tracingpolicy.go
Owners: @cilium/tetragon

sensors: cleanup on error
  pkg/sensors/handler.go
  pkg/sensors/load.go
  pkg/sensors/tracing/genericuprobe.go
Owners: @cilium/tetragon

loader: link uprobe target by file descriptor
  pkg/sensors/program/loader_linux.go
  pkg/sensors/program/program.go
  pkg/sensors/tracing/genericuprobe.go
  pkg/sensors/tracing/genericusdt.go
Owners: @cilium/tetragon

uprobe: add BinaryDigest to UProbeSpec
  pkg/k8s/apis/cilium.io/v1alpha1/types.go
  pkg/k8s/apis/cilium.io/v1alpha1/version.go
Owners: @cilium/tetragon

api: make protogen
  api/v1/README.md
  api/v1/tetragon/sensors.pb.go
  api/v1/tetragon/sensors.pb.json.go
  contrib/tetragon-rthooks/vendor/github.com/cilium/tetragon/api/v1/tetragon/sensors.pb.go
  contrib/tetragon-rthooks/vendor/github.com/cilium/tetragon/api/v1/tetragon/sensors.pb.json.go
  contrib/tetragon-rthooks/vendor/github.com/cilium/tetragon/api/v1/tetragon/sensors.proto
  docs/content/en/docs/reference/grpc-api.md
  vendor/github.com/cilium/tetragon/api/v1/tetragon/sensors.pb.go
  vendor/github.com/cilium/tetragon/api/v1/tetragon/sensors.pb.json.go
  vendor/github.com/cilium/tetragon/api/v1/tetragon/sensors.proto
Owners: @cilium/tetragon, @mtardy

tracingpolicy: include policy hook status in API
  api/v1/tetragon/sensors.proto
Owners: @cilium/tetragon

uprobe: check the binary digest before attach
  pkg/sensors/tracing/genericuprobe.go
Owners: @cilium/tetragon

uprobe: add binaryDigests tests
  pkg/sensors/tracing/uprobe_digest_test.go
Owners: @cilium/tetragon

uprobe: show hooks status in policy status
  pkg/sensors/delayed_sensor_test.go
  pkg/sensors/handler.go
  pkg/sensors/sensors.go
  pkg/sensors/tracing/genericuprobe.go
  pkg/sensors/tracing/uprobe_digest_test.go
Owners: @cilium/tetragon

loader_test: move build-id parse logic out
  pkg/elf/build_id.go
  pkg/elf/usdt_linux.go
  pkg/sensors/tracing/loader_test.go
Owners: @cilium/tetragon

usdt: clean up USDT entries
  pkg/sensors/tracing/genericusdt.go
Owners: @cilium/tetragon

fix: enable tetra TLS for all TLS-related client flags
  cmd/tetra/common/tls.go
  cmd/tetra/common/tls_test.go
  docs/content/en/docs/installation/grpc-tls.md
Owners: @cilium/tetragon, @mtardy

tetragon: Remove event cache argument from selector_arg_offset
  bpf/process/generic_calls.h
  bpf/process/types/basic.h
Owners: @cilium/tetragon

docs: fix typo in rthooks demo
  contrib/tetragon-rthooks/docs/demo.md
Owners: @cilium/tetragon

test
  bpf/process/bpf_generic_uprobe.c
Owners: @cilium/tetragon

tetragon: Fix readArg handling for fd_ty type
  bpf/process/generic_calls.h
Owners: @cilium/tetragon

Revert "tracing: update expected maps"
  pkg/sensors/tracing/tracepoint_test.go
Owners: @cilium/tetragon

docs: fix typo in rthooks demo
  contrib/tetragon-rthooks/docs/demo.md
Owners: @cilium/tetragon

test fix
  pkg/sensors/tracing/kprobe_test.go
Owners: @cilium/tetragon

test: modernize color race test (range-over-int and WaitGroup.Go)
  pkg/process/cache_test.go
Owners: @cilium/tetragon

pkg/process: use atomic for color field in ProcessInternal
  pkg/process/cache.go
  pkg/process/cache_test.go
  pkg/process/process.go
Owners: @cilium/tetragon

ci: add race detector job for selected userspace packages
  .github/workflows/gotests.yml
  Makefile
Owners: @willfindlay, @cilium/tetragon

sensors: fix LoadedMapsInfo data race in TotalMemlock
  pkg/sensors/manager_test.go
  pkg/sensors/program/loader_linux.go
  pkg/sensors/program/loader_windows.go
  pkg/sensors/program/program.go
  pkg/sensors/sensors.go
  pkg/sensors/sensors_race_test.go
Owners: @cilium/tetragon

fix: enable tetra TLS for all TLS-related client flags
  cmd/tetra/common/tls.go
  cmd/tetra/common/tls_test.go
  docs/content/en/docs/installation/grpc-tls.md
Owners: @cilium/tetragon, @mtardy

fix
  pkg/sensors/tracing/kprobe_test.go
Owners: @cilium/tetragon

Revert "tracing: update expected maps"
  pkg/sensors/tracing/tracepoint_test.go
Owners: @cilium/tetragon

tetragon: Fix readArg handling for fd_ty type
  bpf/process/generic_calls.h
Owners: @cilium/tetragon

policytest: add namespaced policy scoping
  pkg/testutils/policytest/conf.go
  pkg/testutils/policytest/conf_test.go
  pkg/testutils/policytest/policyscope.go
  pkg/testutils/policytest/policyscope_test.go
  pkg/testutils/policytest/preparepolicy_test.go
  pkg/testutils/policytest/runner.go
Owners: @cilium/tetragon

examples: add least-privilege RBAC example
  examples/policytest/rbac.yaml
Owners: @cilium/tetragon

policytest: add k8s client and Tetragon agent discovery
  pkg/testutils/policytest/kube/discover.go
  pkg/testutils/policytest/kube/discover_test.go
Owners: @cilium/tetragon

policytest: support gRPC mTLS for run --kube
  cmd/tetra/policytest/inpod.go
  cmd/tetra/policytest/kube.go
  cmd/tetra/policytest/kube_test.go
  pkg/testutils/policytest/kube/orchestrator.go
  pkg/testutils/policytest/kube/orchestrator_test.go
  pkg/testutils/policytest/kube/results.go
  pkg/testutils/policytest/kube/results_test.go
  pkg/testutils/policytest/kube/testpod.go
  pkg/testutils/policytest/kube/testpod_test.go
Owners: @cilium/tetragon

ci: build the policytest image for the e2e job
  .github/workflows/run-e2e-tests.yaml
Owners: @willfindlay

cmd/tetra: add policytest run --kube command
  cmd/tetra/policytest/kube.go
  cmd/tetra/policytest/kube_test.go
  cmd/tetra/policytest/policytest.go
  pkg/testutils/policytest/kube/render.go
  pkg/testutils/policytest/kube/render_test.go
Owners: @cilium/tetragon

policytest: add dedicated container image
  Dockerfile.policytest
  Makefile
  pkg/testutils/policytest/kube/testpod.go
Owners: @cilium/tetragon

docs: document the run --kube workflow
  docs/content/en/docs/contribution-guide/policytests.md
  examples/policytest/rbac.yaml
Owners: @mtardy, @cilium/tetragon
