Repository cilium/tetragon, changes with the owners that CODEOWNERS names for each.
All owners: @cilium/tetragon, @willfindlay, @kkourt, @mtardy

test(pkg/elf): add tests for .gopclntab parser
  .github/workflows/static-checks.yaml
  contrib/tester-progs/Makefile
  contrib/tester-progs/go/pclntab-test/main.go
  contrib/tester-progs/pclntab-go122-stripped
  pkg/elf/pclntab_test.go
  pkg/sensors/tracing/uprobe_test.go
  tests/policytests/uprobes.go
Owners: @willfindlay, @cilium/tetragon

cmd/tetra: fall back to pclntab in generate uprobes
  cmd/tetra/tracingpolicy/generate/generate.go
Owners: @cilium/tetragon

tracing: usdts: add policy_stats
  pkg/sensors/tracing/genericusdt.go
Owners: @cilium/tetragon

bpf: introduce constants for the probes
  pkg/bpf/detect_linux.go
  pkg/bpf/probes.go
  tests/policytests/uprobes.go
Owners: @cilium/tetragon

tracing: TestUsdtSet: move it to policytests
  pkg/sensors/tracing/usdt_test.go
  tests/policytests/usdts.go
Owners: @cilium/tetragon

proto: add Set / MonitorSet actions in counters
  api/v1/tetragon/sensors.proto
Owners: @cilium/tetragon

autochore: make protogen
  api/v1/README.md
  api/v1/tetragon/sensors.pb.go
  contrib/tetragon-rthooks/vendor/github.com/cilium/tetragon/api/v1/tetragon/sensors.pb.go
  contrib/tetragon-rthooks/vendor/github.com/cilium/tetragon/api/v1/tetragon/sensors.proto
  docs/content/en/docs/reference/grpc-api.md
  vendor/github.com/cilium/tetragon/api/v1/tetragon/sensors.pb.go
  vendor/github.com/cilium/tetragon/api/v1/tetragon/sensors.proto
Owners: @cilium/tetragon, @mtardy

policytests: check policy couters for usdt-set
  tests/policytests/usdts.go
Owners: @cilium/tetragon

testutils: support for Set action counters
  pkg/testutils/policytest/actioncnts.go
Owners: @cilium/tetragon

policystats: Set / MonitorSet action counters
  cmd/tetra/common/utils.go
  pkg/policystats/policystats.go
  pkg/sensors/collection.go
Owners: @cilium/tetragon

bpf: handle set / monitor_set action counters
  bpf/lib/policy_stats.h
  bpf/process/generic_calls.h
Owners: @cilium/tetragon

new(cmd,pkg): expose event log service server.
  cmd/tetragon/main.go
  pkg/bench/bench.go
  pkg/exporter/exporter.go
  pkg/exporter/exporter_test.go
  pkg/observer/observertesthelper/observer_test_helper.go
Owners: @cilium/tetragon

new(cmd/tetra): added `tetra eventlog` command.
  cmd/tetra/commands.go
  cmd/tetra/eventlog/client.go
  cmd/tetra/eventlog/eventlog.go
Owners: @cilium/tetragon

new(pkg/exporter): added test around exporter SetLogParams.
  pkg/exporter/exporter_test.go
Owners: @cilium/tetragon

test(pkg/elf): add tests for .gopclntab parser
  .github/workflows/static-checks.yaml
  contrib/tester-progs/Makefile
  contrib/tester-progs/go/pclntab-test/main.go
  contrib/tester-progs/pclntab-go122-stripped
  pkg/elf/pclntab_test.go
  pkg/sensors/tracing/uprobe_test.go
  tests/policytests/uprobes.go
Owners: @willfindlay, @cilium/tetragon

new(pkg/elf): add .gopclntab parser for stripped Go binaries
  pkg/elf/file.go
  pkg/elf/pclntab.go
Owners: @cilium/tetragon

docs: document argument types for kprobes and tracepoints
  docs/content/en/docs/concepts/tracing-policy/argument_types.md
Owners: @mtardy, @cilium/tetragon

bpf: remove deprecated FD-tracking actions and related code
  bpf/process/generic_calls.h
  bpf/process/types/basic.h
  pkg/selectors/kernel.go
  pkg/selectors/kernel_test.go
  pkg/sensors/tracing/enforcer_test.go
  pkg/sensors/tracing/kprobe_copyfd_test.go
  pkg/sensors/tracing/kprobe_filterchange_test.go
  pkg/sensors/tracing/kprobe_maxentries_test.go
  pkg/sensors/tracing/kprobe_test.go
  testdata/specs/capchanges.yaml.tmpl
  testdata/specs/nschanges.yaml.tmpl
Owners: @cilium/tetragon

Remove tests for deprecated FollowFD/UnfollowFD/CopyFD actions
  pkg/sensors/tracing/enforcer_test.go
  pkg/sensors/tracing/kprobe_copyfd_test.go
  pkg/sensors/tracing/kprobe_filterchange_test.go
  pkg/sensors/tracing/kprobe_maxentries_test.go
  pkg/sensors/tracing/kprobe_test.go
  testdata/specs/capchanges.yaml.tmpl
  testdata/specs/nschanges.yaml.tmpl
Owners: @cilium/tetragon

tracing: skip matchNamespaceChanges and matchCapabilityChanges tests pending BPF investigation
  pkg/sensors/tracing/kprobe_filterchange_test.go
Owners: @cilium/tetragon

pkg(matchers): add generic MapMatcher and PrimitiveMatcher
  api/vendor/github.com/cilium/tetragon/pkg/matchers/mapmatcher/mapmatcher.go
  api/vendor/modules.txt
  pkg/matchers/mapmatcher/mapmatcher.go
  pkg/matchers/mapmatcher/mapmatcher_test.go
Owners: @cilium/tetragon

codegen(eventchecker): support generic map types
  tools/protoc-gen-go-tetragon/common/common.go
  tools/protoc-gen-go-tetragon/eventchecker/field.go
Owners: @cilium/tetragon

api(v1/tetragon): regenerate eventchecker code
  api/v1/tetragon/codegen/eventchecker/eventchecker.pb.go
  vendor/github.com/cilium/tetragon/api/v1/tetragon/codegen/eventchecker/eventchecker.pb.go
Owners: @cilium/tetragon

cmd/tetra: fall back to pclntab in generate uprobes
  cmd/tetra/tracingpolicy/generate/generate.go
Owners: @cilium/tetragon

pkg/sensors/tracing: resolve Go symbols via pclntab in uprobe sensor
  pkg/sensors/tracing/genericuprobe.go
Owners: @cilium/tetragon

metrics: Consolidate kprobe merge metrics into single counter
  pkg/metrics/kprobemetrics/kprobemetrics.go
Owners: @cilium/tetragon

metrics: Unify kprobe and uprobe merge error reporting
  pkg/sensors/tracing/generickprobe.go
  pkg/sensors/tracing/genericuprobe.go
Owners: @cilium/tetragon

bench: Use TotalMergeStatus helper and cleanup legacy metrics
  pkg/bench/summary.go
  pkg/metrics/kprobemetrics/kprobemetrics.go
Owners: @cilium/tetragon

docs: Update metrics docs
  docs/content/en/docs/reference/metrics.md
Owners: @mtardy, @cilium/tetragon

policytest: add parameter support
  pkg/testutils/policytest/builder.go
  pkg/testutils/policytest/conf.go
  pkg/testutils/policytest/policytest.go
  pkg/testutils/policytest/runner.go
Owners: @cilium/tetragon

tracing: move TestKprobeLseek to policy tests
  pkg/sensors/tracing/kprobe_test.go
  tests/policytests/kprobes.go
Owners: @cilium/tetragon

policytests: parametrize kprobe-lseek with Hook
  tests/policytests/kprobes.go
Owners: @cilium/tetragon

policytest: add params to DoObserverTest
  pkg/sensors/tracing/kprobe_test.go
  pkg/sensors/tracing/uprobe_test.go
  pkg/testutils/policytest/observertest.go
Owners: @cilium/tetragon

tetra: add pt dump-policy command
  cmd/tetra/policytest/policytest.go
Owners: @cilium/tetragon

tetra: policytest run: set params switch
  cmd/tetra/policytest/policytest.go
Owners: @cilium/tetragon

tetra: add --list-params in pt list
  cmd/tetra/policytest/policytest.go
Owners: @cilium/tetragon

policytests: clarify configuration
  cmd/tetra/policytest/policytest.go
  pkg/testutils/policytest/conf.go
  pkg/testutils/policytest/runner.go
  tests/policytests/uprobes.go
Owners: @cilium/tetragon

tracing: have TestKprobeLseek use a binary
  pkg/sensors/tracing/kprobe_test.go
Owners: @cilium/tetragon

docs: document argument types for kprobes and tracepoints
  docs/content/en/docs/concepts/tracing-policy/argument_types.md
Owners: @mtardy, @cilium/tetragon

refactor: Replace ebpf.Map with program.Map for policy filter
  pkg/policyfilter/map.go
  pkg/policyfilter/state.go
Owners: @cilium/tetragon

CODEOWNERS:

# Request a review from the Tetragon team on any PR
* @cilium/tetragon

# Request a review from William when codegen is edited
cmd/protoc-gen-go-tetragon/ @willfindlay

# Request a review from William when CI is edited
.github/workflows/ @willfindlay

# Request a review from kkourt when core sensor files are modified
pkg/src/sensors/ @kkourt

# Request a review from mtardy when anything from docs is modified but do not
# block on approval from anyone in the tetragon team
/docs/ @mtardy @cilium/tetragon
