Repository cilium/tetragon, changes with the owners that CODEOWNERS names for each.
All owners: @cilium/tetragon, @willfindlay, @kkourt, @mtardy

CODEOWNERS:

# Request a review from the Tetragon team on any PR
* @cilium/tetragon

# Request a review from William when codegen is edited
cmd/protoc-gen-go-tetragon/ @willfindlay

# Request a review from William when CI is edited
.github/workflows/ @willfindlay

# Request a review from kkourt when core sensor files are modified
pkg/src/sensors/ @kkourt

# Request a review from mtardy when anything from docs is modified but do not
# block on approval from anyone in the tetragon team
/docs/ @mtardy @cilium/tetragon

examples: drop redundant returnArgAction Post
  examples/policylibrary/bpf.yaml
  examples/quickstart/file_monitoring.yaml
  examples/quickstart/file_monitoring_enforce.yaml
  examples/tracingpolicy/cves/cve-2024-3094-xz-ssh.yaml
  examples/tracingpolicy/filename_monitoring.yaml
  examples/tracingpolicy/filename_monitoring_filtered.yaml
Owners: @cilium/tetragon

pkg/sensors: reject unsupported returnArgAction values
  bpf/process/generic_calls.h
  pkg/sensors/tracing/generickprobe.go
  pkg/sensors/tracing/kprobe_test.go
  pkg/sensors/tracing/kprobe_validation_test.go
Owners: @cilium/tetragon

docs: clarify returnArgAction semantics
  contrib/upgrade-notes/latest.md
  docs/content/en/docs/concepts/tracing-policy/hooks.md
  docs/content/en/docs/reference/tracing-policy.md
  install/kubernetes/tetragon/crds-yaml/cilium.io_tracingpolicies.yaml
  install/kubernetes/tetragon/crds-yaml/cilium.io_tracingpoliciesnamespaced.yaml
  pkg/k8s/apis/cilium.io/client/crds/v1alpha1/cilium.io_tracingpolicies.yaml
  pkg/k8s/apis/cilium.io/client/crds/v1alpha1/cilium.io_tracingpoliciesnamespaced.yaml
  pkg/k8s/apis/cilium.io/v1alpha1/types.go
  pkg/k8s/apis/cilium.io/v1alpha1/version.go
  vendor/github.com/cilium/tetragon/pkg/k8s/apis/cilium.io/v1alpha1/types.go
  vendor/github.com/cilium/tetragon/pkg/k8s/apis/cilium.io/v1alpha1/version.go
Owners: @cilium/tetragon, @mtardy

Prepare for v1.7.0 release
  contrib/upgrade-notes/latest.md
  contrib/upgrade-notes/v1.7.0.md
  docs/config/_default/hugo.toml
  docs/content/en/docs/reference/helm-chart.md
  install/kubernetes/tetragon/Chart.yaml
  install/kubernetes/tetragon/README.md
  install/kubernetes/tetragon/values.yaml
Owners: @cilium/tetragon, @mtardy

Starting v1.8 development
  .github/renovate.json5
  pkg/k8s/apis/cilium.io/v1alpha1/version.go
  vendor/github.com/cilium/tetragon/pkg/k8s/apis/cilium.io/v1alpha1/version.go
Owners: @cilium/tetragon

Starting v1.8 development
  .github/renovate.json5
  pkg/k8s/apis/cilium.io/v1alpha1/version.go
  vendor/github.com/cilium/tetragon/pkg/k8s/apis/cilium.io/v1alpha1/version.go
Owners: @cilium/tetragon

tetragoninfo: add darwin stub for bpfProbes
  pkg/tetragoninfo/info_darwin.go
Owners: @cilium/tetragon

fix(ci): fail on errors for macOS builds
  Makefile.cli
Owners: @cilium/tetragon

Add extra options for grpc Serve func
  cmd/tetragon/main.go
Owners: @cilium/tetragon

Add command line / configuration flag
  cmd/tetragon/main.go
  pkg/option/config.go
  pkg/option/flags.go
Owners: @cilium/tetragon

renovate.json5: disable digest updates
  .github/renovate.json5
Owners: @cilium/tetragon

tetragon: Add support for sensor to disable perf ringbuffer
  bpf/lib/process.h
Owners: @cilium/tetragon

tetragon: Add support for sensor to disable preload
  bpf/process/bpf_generic_uprobe.c
  bpf/process/generic_calls.h
  bpf/process/user_preload.h
Owners: @cilium/tetragon

tetragon: Add support for sensor to disable stacktrace
  bpf/process/generic_calls.h
Owners: @cilium/tetragon

tetragon: Remove specific names from uprobe OFFLOAD sections
  bpf/process/bpf_generic_uprobe.c
Owners: @cilium/tetragon

tetragon: Add support to detect sleepable tail calls
  pkg/bpf/detect_linux.go
  pkg/bpf/probes.go
Owners: @cilium/tetragon

tetragon: Warn when loader find multiple main labels
  pkg/sensors/program/loader_linux.go
Owners: @cilium/tetragon

tetragon: Add sleepable uprobe objects
  bpf/Makefile
  bpf/process/bpf_generic_retuprobe.c
  bpf/process/bpf_generic_uprobe.c
  contrib/verify/verify_test.go
Owners: @cilium/tetragon

tetragon: Allow to load sleepable uprobe objects
  pkg/config/config_linux.go
  pkg/config/config_windows.go
  pkg/sensors/tracing/genericuprobe.go
Owners: @cilium/tetragon

tetragon: Add support to read argument from user space
  bpf/process/generic_calls.h
  bpf/process/types/basic.h
  pkg/sensors/tracing/args_linux.go
  pkg/sensors/tracing/genericuprobe.go
  pkg/sensors/tracing/genericusdt.go
  pkg/sensors/tracing/uprobe_validation_test.go
Owners: @cilium/tetragon

tetragon: Add disable-sleepable option
  pkg/sensors/tracing/genericuprobe.go
  pkg/sensors/tracing/options.go
Owners: @cilium/tetragon

tetragon/example: Add a blocking policy to mitigate CVE-2026-31431
  examples/tracingpolicy/cves/CVE-2026-31431-copy-fail.yaml
Owners: @cilium/tetragon

tetragon: Add sleepable uprobe objects
  bpf/Makefile
  bpf/process/bpf_generic_fentry.c
  bpf/process/bpf_generic_fexit.c
Owners: @cilium/tetragon

tetragon: Add user argument support for fentry sensor
  pkg/config/config_linux.go
  pkg/config/config_windows.go
  pkg/k8s/apis/cilium.io/v1alpha1/types.go
  pkg/k8s/apis/cilium.io/v1alpha1/version.go
  pkg/sensors/tracing/generickprobe.go
  vendor/github.com/cilium/tetragon/pkg/k8s/apis/cilium.io/v1alpha1/types.go
  vendor/github.com/cilium/tetragon/pkg/k8s/apis/cilium.io/v1alpha1/version.go
Owners: @cilium/tetragon

tetragon: Add codegen and generate changes
  install/kubernetes/tetragon/crds-yaml/cilium.io_tracingpolicies.yaml
  install/kubernetes/tetragon/crds-yaml/cilium.io_tracingpoliciesnamespaced.yaml
  pkg/k8s/apis/cilium.io/client/crds/v1alpha1/cilium.io_tracingpolicies.yaml
  pkg/k8s/apis/cilium.io/client/crds/v1alpha1/cilium.io_tracingpoliciesnamespaced.yaml
  vendor/github.com/cilium/tetragon/pkg/k8s/apis/cilium.io/client/crds/v1alpha1/cilium.io_tracingpolicies.yaml
  vendor/github.com/cilium/tetragon/pkg/k8s/apis/cilium.io/client/crds/v1alpha1/cilium.io_tracingpoliciesnamespaced.yaml
Owners: @cilium/tetragon

api: fix comment typo
  pkg/api/flags.go
Owners: @cilium/tetragon

fix
  pkg/k8s/apis/cilium.io/v1alpha1/types.go
  pkg/sensors/tracing/generic.go
  pkg/sensors/tracing/generic_test.go
Owners: @cilium/tetragon

tetragon: Add codegen and generate changes
  install/kubernetes/tetragon/crds-yaml/cilium.io_tracingpolicies.yaml
  install/kubernetes/tetragon/crds-yaml/cilium.io_tracingpoliciesnamespaced.yaml
  pkg/k8s/apis/cilium.io/client/crds/v1alpha1/cilium.io_tracingpolicies.yaml
  pkg/k8s/apis/cilium.io/client/crds/v1alpha1/cilium.io_tracingpoliciesnamespaced.yaml
  vendor/github.com/cilium/tetragon/pkg/k8s/apis/cilium.io/client/crds/v1alpha1/cilium.io_tracingpolicies.yaml
  vendor/github.com/cilium/tetragon/pkg/k8s/apis/cilium.io/client/crds/v1alpha1/cilium.io_tracingpoliciesnamespaced.yaml
  vendor/github.com/cilium/tetragon/pkg/k8s/apis/cilium.io/v1alpha1/types.go
Owners: @cilium/tetragon

test
  pkg/sensors/tracing/fentry_test.go
  pkg/sensors/tracing/kprobe_test.go
  tests/policytests/kprobes.go
Owners: @cilium/tetragon

renovate.json5: disable digest updates
  .github/renovate.json5
Owners: @cilium/tetragon

tetragoninfo: add darwin stub for bpfProbes
  pkg/tetragoninfo/info_darwin.go
Owners: @cilium/tetragon

fix(ci): fail on errors for macOS builds
  Makefile.cli
Owners: @cilium/tetragon

Change numeric value to string in CVE policy
  examples/tracingpolicy/cves/CVE-2026-31431-copy-fail.yaml
Owners: @cilium/tetragon

Use kubebuilder XValidation for spec.hostSelector
  docs/content/en/docs/reference/tracing-policy.md
  install/kubernetes/tetragon/crds-yaml/cilium.io_tracingpolicies.yaml
  install/kubernetes/tetragon/crds-yaml/cilium.io_tracingpoliciesnamespaced.yaml
  pkg/k8s/apis/cilium.io/client/crds/v1alpha1/cilium.io_tracingpolicies.yaml
  pkg/k8s/apis/cilium.io/client/crds/v1alpha1/cilium.io_tracingpoliciesnamespaced.yaml
  pkg/k8s/apis/cilium.io/v1alpha1/tracing_policy_types.go
  pkg/k8s/apis/cilium.io/v1alpha1/version.go
  vendor/github.com/cilium/tetragon/pkg/k8s/apis/cilium.io/client/crds/v1alpha1/cilium.io_tracingpolicies.yaml
  vendor/github.com/cilium/tetragon/pkg/k8s/apis/cilium.io/client/crds/v1alpha1/cilium.io_tracingpoliciesnamespaced.yaml
  vendor/github.com/cilium/tetragon/pkg/k8s/apis/cilium.io/v1alpha1/tracing_policy_types.go
  vendor/github.com/cilium/tetragon/pkg/k8s/apis/cilium.io/v1alpha1/version.go
Owners: @mtardy, @cilium/tetragon

prevent code paths that use process and event cache
  pkg/grpc/exec/exec.go
  pkg/grpc/exec/kthread_init.go
  pkg/grpc/process_manager.go
  pkg/grpc/tracing/tracing.go
  pkg/process/process.go
Owners: @cilium/tetragon

tests/e2e: use the default UDS socket as agent server address
  Makefile
  tests/e2e/helpers/grpcbridge/grpcbridge.go
  tests/e2e/helpers/portforward.go
Owners: @cilium/tetragon

helm: add log container to rthooks daemonset
  docs/content/en/docs/reference/helm-chart.md
  install/kubernetes/tetragon/README.md
  install/kubernetes/tetragon/templates/_container_rthooks.tpl
  install/kubernetes/tetragon/templates/_helpers.tpl
  install/kubernetes/tetragon/templates/rthooks-daemonset.yaml
  install/kubernetes/tetragon/values.yaml
Owners: @mtardy, @cilium/tetragon

pkg/multiplexer: gracefully handle transient failures
  pkg/multiplexer/multiplexer.go
Owners: @cilium/tetragon

ci: replace existing rthook test with e2e test
  .github/workflows/tetragon-rthook-pr.yaml
  contrib/tetragon-rthooks/scripts/minikube-test-hook.sh
Owners: @willfindlay, @cilium/tetragon

tests/e2e/rthook: introduce rthook e2e test
  Makefile
  tests/e2e/flags/flags.go
  tests/e2e/helpers/cluster.go
  tests/e2e/install/tetragon/tetragon.go
  tests/e2e/runners/runners.go
  tests/e2e/tests/rthooks/rthooks_test.go
Owners: @cilium/tetragon
