Repository cilium/tetragon, changes with the owners that CODEOWNERS names for each.
All owners: @cilium/tetragon, @willfindlay, @kkourt, @mtardy

CODEOWNERS:

# Request a review from the Tetragon team on any PR
* @cilium/tetragon

# Request a review from William when codegen is edited
cmd/protoc-gen-go-tetragon/ @willfindlay

# Request a review from William when CI is edited
.github/workflows/ @willfindlay

# Request a review from kkourt when core sensor files are modified
pkg/src/sensors/ @kkourt

# Request a review from mtardy when anything from docs is modified but do not
# block on approval from anyone in the tetragon team
/docs/ @mtardy @cilium/tetragon

bpf: move failed sent metric outside of loop
  bpf/lib/process.h
  bpf/process/data_event.h
Owners: @cilium/tetragon

testing: unload base sensor once test ends
  pkg/observer/observertesthelper/observer_test_helper.go
  pkg/sensors/base/base.go
Owners: @cilium/tetragon

tetragon: Allow multiple symbol instances in non-kprobe-multi specs
  pkg/sensors/tracing/generickprobe.go
Owners: @cilium/tetragon

workflows: only run cron jobs on main repo
  .github/workflows/check-links-cron.yaml
  .github/workflows/renovate.yaml
Owners: @willfindlay

workflows: only run cron jobs on main repo
  .github/workflows/check-links-cron.yaml
  .github/workflows/renovate.yaml
Owners: @willfindlay

tetragon: Add tests for multiple symbol instances in kprobes
  pkg/sensors/tracing/kprobe_test.go
  pkg/sensors/tracing/kprobe_validation_test.go
Owners: @cilium/tetragon

tetragon: Add tests for multiple symbol instances in kprobes
  pkg/sensors/tracing/kprobe_test.go
  pkg/sensors/tracing/kprobe_validation_test.go
Owners: @cilium/tetragon

tetragon: Allow multiple symbol instances in non-kprobe-multi specs
  pkg/sensors/tracing/generickprobe.go
Owners: @cilium/tetragon

tetragon: Unflake the TestGeneratedExecEvents test
  cmd/tetragon/main_test.go
Owners: @cilium/tetragon

digestcheck: take all arguments as grep input
  contrib/digestcheck.sh
Owners: @cilium/tetragon

workflow: pass only the git diff files for digestcheck
  .github/workflows/digestcheck.yaml
Owners: @willfindlay

digestcheck: take all arguments as grep input
  contrib/digestcheck.sh
Owners: @cilium/tetragon

workflow: pass only the git diff files for digestcheck
  .github/workflows/digestcheck.yaml
Owners: @willfindlay

testing: unload base sensor once test ends
  pkg/observer/observertesthelper/observer_test_helper.go
  pkg/sensors/base/base.go
Owners: @cilium/tetragon

flags: fix docs for cgroup rate flag
  docs/data/tetragon_flags.yaml
  pkg/option/flags.go
Owners: @mtardy, @cilium/tetragon

tetragon: introduce base sensor extensions
  cmd/tetragon/main.go
  pkg/cgrouprate/bpf.go
  pkg/cgrouprate/cgrouprate.go
  pkg/cgrouprate/sensor.go
  pkg/observer/observertesthelper/observer_test_helper.go
  pkg/sensors/base/base.go
  pkg/sensors/base/extensions.go
Owners: @cilium/tetragon

base: simplify initialization
  pkg/sensors/base/base.go
Owners: @cilium/tetragon

bpf: remove unused fields in msg_k8s
  bpf/lib/process.h
  bpf/process/bpf_execve_event.c
  pkg/api/processapi/processapi.go
  pkg/grpc/exec/exec_test_helper.go
  pkg/sensors/exec/procevents/proc_reader.go
Owners: @cilium/tetragon

bpf: move failed sent metric outside of loop
  bpf/lib/process.h
  bpf/process/data_event.h
Owners: @cilium/tetragon

tetragon: Unflake the TestGeneratedExecEvents test
  cmd/tetragon/main_test.go
Owners: @cilium/tetragon

pkg/sensors/tracing: fix enforcer security tests
  pkg/sensors/tracing/enforcer_test.go
Owners: @cilium/tetragon

pkg/sensors/tracing: fix LSM open tests
  pkg/sensors/tracing/enforcer_test.go
Owners: @cilium/tetragon

cgrouprate: refactor base registration code
  cmd/tetragon/main.go
  pkg/cgrouprate/bpf.go
  pkg/cgrouprate/cgrouprate.go
  pkg/cgrouprate/cgrouprate_test.go
  pkg/cgrouprate/sensor.go
  pkg/observer/observertesthelper/observer_test_helper.go
  pkg/sensors/base/base.go
  pkg/sensors/base/extensions.go
  pkg/sensors/base/utils.go
Owners: @cilium/tetragon

cgrouprate: refactor base registration code
  cmd/tetragon/main.go
  pkg/cgrouprate/bpf.go
  pkg/cgrouprate/cgrouprate.go
  pkg/cgrouprate/cgrouprate_test.go
  pkg/cgrouprate/sensor.go
  pkg/observer/observertesthelper/observer_test_helper.go
  pkg/sensors/base/base.go
  pkg/sensors/base/extensions.go
  pkg/sensors/base/utils.go
Owners: @cilium/tetragon

tetragon: Remove ebpf spec.RewriteConstants call
  pkg/sensors/program/loader.go
Owners: @cilium/tetragon

github: Allow extern declarations in c files
  .github/workflows/checkpatch.yaml
Owners: @willfindlay

tetragon: Disable contents loading in initial map loading
  pkg/sensors/load.go
Owners: @cilium/tetragon

tetragon: Load tail calls directly in execve program
  bpf/process/bpf_execve_event.c
  pkg/sensors/base/base.go
Owners: @cilium/tetragon

tetragon: Load tail calls directly in generickprobe program
  bpf/process/bpf_generic_kprobe.c
  bpf/process/bpf_generic_retkprobe.c
  pkg/sensors/tracing/generickprobe.go
Owners: @cilium/tetragon

tetragon: Load tail calls directly in generictracepoint program
  bpf/process/bpf_generic_tracepoint.c
  pkg/sensors/tracing/generictracepoint.go
Owners: @cilium/tetragon

tetragon: Load tail calls directly in genericlsm program
  bpf/process/bpf_generic_lsm_core.c
  pkg/sensors/tracing/genericlsm.go
Owners: @cilium/tetragon

tetragon: Load tail calls directly in genericuprobe program
  bpf/process/bpf_generic_uprobe.c
  pkg/sensors/tracing/genericuprobe.go
Owners: @cilium/tetragon

tetragon: Allow to override execve tail calls
  bpf/process/bpf_execve_event.c
Owners: @cilium/tetragon

tetragon: Introduce CheckSensorLoadBase function
  pkg/testutils/sensors/load.go
Owners: @cilium/tetragon

tetragon: Mark some execve functions with __arg_ctx
  bpf/lib/common.h
  bpf/process/bpf_execve_event.c
Owners: @cilium/tetragon

pkg/sensors/tracing: fix enforcer security tests
  pkg/sensors/tracing/enforcer_test.go
Owners: @cilium/tetragon

pkg/sensors/tracing: fix LSM open tests
  pkg/sensors/tracing/enforcer_test.go
Owners: @cilium/tetragon

tester-progs: do not define O_DIRECT manually
  contrib/tester-progs/direct-write-tester.c
Owners: @cilium/tetragon

workflows: use GitHub arm64 runners instead of actuated
  .github/workflows/bpf-unit-tests.yml
  .github/workflows/gotests.yml
  .github/workflows/packages-e2e-tests.yaml
  .github/workflows/run-e2e-tests.yaml
Owners: @willfindlay

e2e tests: skip label test on ARM
  .github/workflows/run-e2e-tests.yaml
  tests/e2e/tests/labels/labels_test.go
Owners: @willfindlay, @cilium/tetragon
