Repository cilium/tetragon, changes with the owners that CODEOWNERS names for each.
All owners: @cilium/tetragon, @willfindlay, @kkourt, @mtardy

CODEOWNERS:

# Request a review from the Tetragon team on any PR
* @cilium/tetragon

# Request a review from William when codegen is edited
cmd/protoc-gen-go-tetragon/ @willfindlay

# Request a review from William when CI is edited
.github/workflows/ @willfindlay

# Request a review from kkourt when core sensor files are modified
pkg/src/sensors/ @kkourt

# Request a review from mtardy when anything from docs is modified but do not
# block on approval from anyone in the tetragon team
/docs/ @mtardy @cilium/tetragon

tracingpolicy: add validation for MatchBinaries
  pkg/k8s/apis/cilium.io/v1alpha1/types.go
  vendor/github.com/cilium/tetragon/pkg/k8s/apis/cilium.io/v1alpha1/version.go
Owners: @cilium/tetragon

chore: make crds
  install/kubernetes/tetragon/crds-yaml/cilium.io_tracingpolicies.yaml
  install/kubernetes/tetragon/crds-yaml/cilium.io_tracingpoliciesnamespaced.yaml
  pkg/k8s/apis/cilium.io/client/crds/v1alpha1/cilium.io_tracingpolicies.yaml
  pkg/k8s/apis/cilium.io/client/crds/v1alpha1/cilium.io_tracingpoliciesnamespaced.yaml
  pkg/k8s/apis/cilium.io/v1alpha1/version.go
  vendor/github.com/cilium/tetragon/pkg/k8s/apis/cilium.io/client/crds/v1alpha1/cilium.io_tracingpolicies.yaml
  vendor/github.com/cilium/tetragon/pkg/k8s/apis/cilium.io/client/crds/v1alpha1/cilium.io_tracingpoliciesnamespaced.yaml
  vendor/github.com/cilium/tetragon/pkg/k8s/apis/cilium.io/v1alpha1/types.go
Owners: @cilium/tetragon

chore(deps): Reorder renovate post-upgrade tasks
  .github/renovate.json5
Owners: @cilium/tetragon

Dockerfile: use BuildKit cache mounts
  Dockerfile
Owners: @cilium/tetragon

codegen(eventchecker): support generic map types
  tools/protoc-gen-go-tetragon/common/common.go
  tools/protoc-gen-go-tetragon/eventchecker/field.go
Owners: @cilium/tetragon

codegen: fix perfsprint lint errors in eventchecker
  tools/protoc-gen-go-tetragon/eventchecker/field.go
Owners: @cilium/tetragon

api(v1/tetragon): regenerate eventchecker code
  api/v1/tetragon/codegen/eventchecker/eventchecker.pb.go
  vendor/github.com/cilium/tetragon/api/v1/tetragon/codegen/eventchecker/eventchecker.pb.go
Owners: @cilium/tetragon

tracingpolicy: add validation for MatchBinaries
  pkg/k8s/apis/cilium.io/v1alpha1/types.go
  vendor/github.com/cilium/tetragon/pkg/k8s/apis/cilium.io/v1alpha1/version.go
Owners: @cilium/tetragon

chore: make crds
  install/kubernetes/tetragon/crds-yaml/cilium.io_tracingpolicies.yaml
  install/kubernetes/tetragon/crds-yaml/cilium.io_tracingpoliciesnamespaced.yaml
  pkg/k8s/apis/cilium.io/client/crds/v1alpha1/cilium.io_tracingpolicies.yaml
  pkg/k8s/apis/cilium.io/client/crds/v1alpha1/cilium.io_tracingpoliciesnamespaced.yaml
  pkg/k8s/apis/cilium.io/v1alpha1/version.go
  vendor/github.com/cilium/tetragon/pkg/k8s/apis/cilium.io/client/crds/v1alpha1/cilium.io_tracingpolicies.yaml
  vendor/github.com/cilium/tetragon/pkg/k8s/apis/cilium.io/client/crds/v1alpha1/cilium.io_tracingpoliciesnamespaced.yaml
  vendor/github.com/cilium/tetragon/pkg/k8s/apis/cilium.io/v1alpha1/types.go
Owners: @cilium/tetragon

chore(deps): Reorder renovate post-upgrade tasks
  .github/renovate.json5
Owners: @cilium/tetragon

Dockerfile: use BuildKit cache mounts
  Dockerfile
Owners: @cilium/tetragon

rthooks: add --fail-allow-namespaces-patterns flag
  contrib/tetragon-rthooks/cmd/oci-hook/cel.go
  contrib/tetragon-rthooks/cmd/oci-hook/cel_test.go
  contrib/tetragon-rthooks/cmd/oci-hook/main.go
Owners: @cilium/tetragon

helm: expose failAllowNamespacesPatterns in rthooks chart
  docs/content/en/docs/reference/helm-chart.md
  install/kubernetes/tetragon/README.md
  install/kubernetes/tetragon/templates/_container_rthooks.tpl
  install/kubernetes/tetragon/values.yaml
Owners: @mtardy, @cilium/tetragon

docs: document failAllowNamespacesPatterns in runtime-hooks.md
  docs/content/en/docs/installation/runtime-hooks.md
Owners: @mtardy, @cilium/tetragon

tetragon: Fix tail call program types for uprobe sensor
  bpf/process/bpf_generic_uprobe.c
Owners: @cilium/tetragon

tetragon: Fix tail call program types for uprobe sensor
  bpf/process/bpf_generic_uprobe.c
Owners: @cilium/tetragon

metrics: fix overhead_program_seconds_total unit (ns -> s)
  pkg/metrics/overhead/collector.go
  pkg/sensors/sensors.go
Owners: @cilium/tetragon

chore(k8s): regenerate CRDs/docs for go_string
  docs/content/en/docs/reference/tracing-policy.md
  install/kubernetes/tetragon/crds-yaml/cilium.io_tracingpolicies.yaml
  install/kubernetes/tetragon/crds-yaml/cilium.io_tracingpoliciesnamespaced.yaml
  pkg/k8s/apis/cilium.io/client/crds/v1alpha1/cilium.io_tracingpolicies.yaml
  pkg/k8s/apis/cilium.io/client/crds/v1alpha1/cilium.io_tracingpoliciesnamespaced.yaml
  pkg/k8s/apis/cilium.io/v1alpha1/types.go
  vendor/github.com/cilium/tetragon/pkg/k8s/apis/cilium.io/client/crds/v1alpha1/cilium.io_tracingpolicies.yaml
  vendor/github.com/cilium/tetragon/pkg/k8s/apis/cilium.io/client/crds/v1alpha1/cilium.io_tracingpoliciesnamespaced.yaml
  vendor/github.com/cilium/tetragon/pkg/k8s/apis/cilium.io/v1alpha1/types.go
Owners: @mtardy, @cilium/tetragon

feat(bpf/process): add go_string to user uprobe argument handling
  bpf/process/event_config.h
  bpf/process/generic_calls.h
  bpf/process/types/basic.h
  bpf/process/user_preload.h
Owners: @cilium/tetragon

test(tracing): integration test for go_string ServeContent uprobe
  contrib/tester-progs/Makefile
  contrib/tester-progs/go/servecontent-test/main.go
  pkg/sensors/tracing/uprobe_test.go
Owners: @cilium/tetragon

feat(tracing): add go_string type for Go uprobe arguments
  pkg/api/tracingapi/client_kprobe.go
  pkg/elf/pclntab.go
  pkg/generictypes/generictypes.go
  pkg/selectors/kernel.go
  pkg/sensors/tracing/args_linux.go
  pkg/sensors/tracing/genericuprobe.go
  pkg/sensors/tracing/goabi_slots.go
  pkg/sensors/tracing/goabi_slots_test.go
Owners: @cilium/tetragon

feat(uprobes): add Go ABI register slot mapping
  Makefile
  cmd/goabi-gen/main.go
  go.mod
  pkg/sensors/tracing/goabi_slots.go
  pkg/sensors/tracing/goabi_slots_gen.go
  pkg/sensors/tracing/goabi_slots_test.go
Owners: @cilium/tetragon

feat(tracing): add ClearGoString post action
  pkg/selectors/kernel.go
  pkg/sensors/tracing/genericuprobe.go
  pkg/sensors/tracing/goabi_slots.go
  pkg/sensors/tracing/goabi_slots_test.go
Owners: @cilium/tetragon

chore(k8s): regenerate CRDs/docs for ClearGoString action
  docs/content/en/docs/reference/tracing-policy.md
  install/kubernetes/tetragon/crds-yaml/cilium.io_tracingpolicies.yaml
  install/kubernetes/tetragon/crds-yaml/cilium.io_tracingpoliciesnamespaced.yaml
  pkg/k8s/apis/cilium.io/client/crds/v1alpha1/cilium.io_tracingpolicies.yaml
  pkg/k8s/apis/cilium.io/client/crds/v1alpha1/cilium.io_tracingpoliciesnamespaced.yaml
  pkg/k8s/apis/cilium.io/v1alpha1/types.go
  pkg/k8s/apis/cilium.io/v1alpha1/version.go
  vendor/github.com/cilium/tetragon/pkg/k8s/apis/cilium.io/client/crds/v1alpha1/cilium.io_tracingpolicies.yaml
  vendor/github.com/cilium/tetragon/pkg/k8s/apis/cilium.io/client/crds/v1alpha1/cilium.io_tracingpoliciesnamespaced.yaml
  vendor/github.com/cilium/tetragon/pkg/k8s/apis/cilium.io/v1alpha1/types.go
  vendor/github.com/cilium/tetragon/pkg/k8s/apis/cilium.io/v1alpha1/version.go
Owners: @mtardy, @cilium/tetragon

cleanup(ci): avoid x-compilation in packages-e2e-tests CI.
  .github/workflows/packages-e2e-tests.yaml
Owners: @willfindlay

tetragon: Fix tail call program types for uprobe sensor
  bpf/process/bpf_generic_uprobe.c
Owners: @cilium/tetragon

tetragon: Fix tail call program types for uprobe sensor
  bpf/process/bpf_generic_uprobe.c
Owners: @cilium/tetragon

Dockerfile: use BuildKit cache mounts
  Dockerfile
Owners: @cilium/tetragon

tetragon/windows: Fix process_exit event on Windows
  bpf/windows/process_monitor.c
Owners: @cilium/tetragon

cleanup(ci): avoid x-compilation in packages-e2e-tests CI.
  .github/workflows/packages-e2e-tests.yaml
Owners: @willfindlay

fix(bpf): define `_MULTI_KPROBE` macro when needed.
  bpf/Makefile
Owners: @cilium/tetragon

tetragon/windows: Fix process_exit event on Windows
  bpf/windows/process_monitor.c
Owners: @cilium/tetragon

ci: add prep job in vmtests to cache packages
  .github/workflows/vmtests.yml
Owners: @willfindlay

eBPF: Add hostSelector support
  bpf/process/policy_filter.h
Owners: @cilium/tetragon

Add hostSelector in the CRD
  docs/content/en/docs/reference/tracing-policy.md
  install/kubernetes/tetragon/crds-yaml/cilium.io_tracingpolicies.yaml
  install/kubernetes/tetragon/crds-yaml/cilium.io_tracingpoliciesnamespaced.yaml
  pkg/k8s/apis/cilium.io/client/crds/v1alpha1/cilium.io_tracingpolicies.yaml
  pkg/k8s/apis/cilium.io/client/crds/v1alpha1/cilium.io_tracingpoliciesnamespaced.yaml
  pkg/k8s/apis/cilium.io/v1alpha1/tracing_policy_types.go
  pkg/k8s/apis/cilium.io/v1alpha1/version.go
  pkg/k8s/apis/cilium.io/v1alpha1/zz_generated.deepcopy.go
  vendor/github.com/cilium/tetragon/pkg/k8s/apis/cilium.io/client/crds/v1alpha1/cilium.io_tracingpolicies.yaml
  vendor/github.com/cilium/tetragon/pkg/k8s/apis/cilium.io/client/crds/v1alpha1/cilium.io_tracingpoliciesnamespaced.yaml
  vendor/github.com/cilium/tetragon/pkg/k8s/apis/cilium.io/v1alpha1/tracing_policy_types.go
  vendor/github.com/cilium/tetragon/pkg/k8s/apis/cilium.io/v1alpha1/version.go
  vendor/github.com/cilium/tetragon/pkg/k8s/apis/cilium.io/v1alpha1/zz_generated.deepcopy.go
Owners: @mtardy, @cilium/tetragon

Update tests to reflect the new design of hostSelector
  pkg/cgtracker/test/cgtracker_test.go
  pkg/crdutils/crdutils_test.go
  pkg/policyconf/test/mode_test.go
  pkg/policyfilter/k8s_test.go
  pkg/policyfilter/map_test.go
  pkg/policyfilter/state_test.go
  pkg/sensors/tracing/policyfilter_test.go
  pkg/tracingpolicy/generictracingpolicy_test.go
Owners: @cilium/tetragon

docs: Document hostSelector
  docs/content/en/docs/concepts/tracing-policy/k8s-filtering.md
Owners: @mtardy, @cilium/tetragon

Add tests for hostSelector
  pkg/policyfilter/state_test.go
Owners: @cilium/tetragon

Update e2e tests to exclude host workloads
  tests/e2e/tests/policyfilter/policyfilter_test.go
Owners: @cilium/tetragon

Add support for the hostSelector in the agent
  pkg/labels/labels.go
  pkg/policyfilter/common.go
  pkg/policyfilter/disabled.go
  pkg/policyfilter/map.go
  pkg/policyfilter/policyfilter.go
  pkg/policyfilter/state.go
  pkg/sensors/k8s.go
  pkg/testutils/policyfilter/policyfilter.go
Owners: @cilium/tetragon
