Repository cilium/tetragon, changes with the owners that CODEOWNERS names for each.
All owners: @cilium/tetragon, @willfindlay, @kkourt, @mtardy

CODEOWNERS:

# Request a review from the Tetragon team on any PR
* @cilium/tetragon

# Request a review from William when codegen is edited
cmd/protoc-gen-go-tetragon/ @willfindlay

# Request a review from William when CI is edited
.github/workflows/ @willfindlay

# Request a review from kkourt when core sensor files are modified
pkg/src/sensors/ @kkourt

# Request a review from mtardy when anything from docs is modified but do not
# block on approval from anyone in the tetragon team
/docs/ @mtardy @cilium/tetragon

Revert "chore: `TestFooValidationReturnWithoutArg` to check for error string."
  pkg/tracingpolicy/k8s_xvalidation_test.go
Owners: @cilium/tetragon

Revert "cleanup(pkg): drop redundant `TestKprobeValidationMissingReturnArg`."
  pkg/build/k8s.go
  pkg/build/nok8s.go
  pkg/sensors/tracing/kprobe_validation_test.go
Owners: @cilium/tetragon

Revert "fix(install,pkg): fixed `return|returnArg` CEL rule to avoid warnings."
  install/kubernetes/tetragon/crds-yaml/cilium.io_tracingpolicies.yaml
  install/kubernetes/tetragon/crds-yaml/cilium.io_tracingpoliciesnamespaced.yaml
  pkg/k8s/apis/cilium.io/client/crds/v1alpha1/cilium.io_tracingpolicies.yaml
  pkg/k8s/apis/cilium.io/client/crds/v1alpha1/cilium.io_tracingpoliciesnamespaced.yaml
  pkg/k8s/apis/cilium.io/v1alpha1/types.go
  pkg/k8s/apis/cilium.io/v1alpha1/version.go
  pkg/tracingpolicy/schemas/tracingpolicy-cilium.io.json
  pkg/tracingpolicy/schemas/tracingpolicynamespaced-cilium.io.json
  vendor/github.com/cilium/tetragon/pkg/k8s/apis/cilium.io/client/crds/v1alpha1/cilium.io_tracingpolicies.yaml
  vendor/github.com/cilium/tetragon/pkg/k8s/apis/cilium.io/client/crds/v1alpha1/cilium.io_tracingpoliciesnamespaced.yaml
  vendor/github.com/cilium/tetragon/pkg/k8s/apis/cilium.io/v1alpha1/types.go
  vendor/github.com/cilium/tetragon/pkg/k8s/apis/cilium.io/v1alpha1/version.go
Owners: @cilium/tetragon

ci: attempt to glue windows flakes back
  .github/workflows/windows-build-smoke-test.yml
Owners: @willfindlay

Revert "new(nok8s): implement CEL validation."
  go.mod
  pkg/tracingpolicy/k8s_xvalidation_test.go
  pkg/tracingpolicy/nok8s.go
Owners: @cilium/tetragon

ci: attempt to glue windows flakes back
  .github/workflows/windows-build-smoke-test.yml
Owners: @willfindlay

Revert "new(make): `generate` target to also generate tetragon JSON schemas."
  Makefile
  pkg/tracingpolicy/schemas/podinfo-cilium.io.json
  pkg/tracingpolicy/schemas/tracingpolicy-cilium.io.json
  pkg/tracingpolicy/schemas/tracingpolicynamespaced-cilium.io.json
Owners: @cilium/tetragon

Revert "new(install/kubernetes): make target to generate JSON schemas from crds."
  install/kubernetes/Makefile
Owners: @cilium/tetragon

ci: attempt to glue windows flakes back
  .github/actions/download-artifact/action.yml
  .github/actions/download-file/action.yml
  .github/actions/extract-zip/action.yml
  .github/workflows/windows-build-smoke-test.yml
Owners: @cilium/tetragon, @willfindlay

ci: attempt to glue windows flakes back
  .github/actions/download-artifact/action.yml
  .github/actions/download-file/action.yml
  .github/actions/extract-zip/action.yml
  .github/workflows/windows-build-smoke-test.yml
Owners: @cilium/tetragon, @willfindlay

docs: restructure matchArgs filter docs for TracingPolicy selectors
  docs/content/en/docs/concepts/tracing-policy/selectors.md
Owners: @mtardy, @cilium/tetragon

docs: restructure matchData and returnMatchArgs filter docs (#708)
  docs/content/en/docs/concepts/tracing-policy/selectors.md
Owners: @mtardy, @cilium/tetragon

docs: restructure matchPIDs filter docs (#708)
  docs/content/en/docs/concepts/tracing-policy/selectors.md
Owners: @mtardy, @cilium/tetragon

docs: restructure matchBinaries and matchParentBinaries filter docs (#708)
  docs/content/en/docs/concepts/tracing-policy/selectors.md
Owners: @mtardy, @cilium/tetragon

docs: restructure matchNamespaces filter docs (#708)
  docs/content/en/docs/concepts/tracing-policy/selectors.md
Owners: @mtardy, @cilium/tetragon

docs: restructure capability and namespace change filter docs (#708)
  docs/content/en/docs/concepts/tracing-policy/selectors.md
Owners: @mtardy, @cilium/tetragon

docs: restructure matchWorkloads filter docs (#708)
  docs/content/en/docs/concepts/tracing-policy/selectors.md
Owners: @mtardy, @cilium/tetragon

docs: document isNamespaceCapability on matchCapabilities (#708)
  docs/content/en/docs/concepts/tracing-policy/selectors.md
Owners: @mtardy, @cilium/tetragon

docs: cross-reference followChildren operator restriction (#708)
  docs/content/en/docs/concepts/tracing-policy/selectors.md
Owners: @mtardy, @cilium/tetragon

docs: clarify isNamespaceCapability gate semantics (#708)
  docs/content/en/docs/concepts/tracing-policy/selectors.md
Owners: @mtardy, @cilium/tetragon

bpf: keep reverse-copy bounds visible to verifier
  bpf/process/types/basic.h
Owners: @cilium/tetragon

bpf: unroll v61 argument-filter slots
  bpf/process/types/basic.h
Owners: @cilium/tetragon

bpf: use bpf_loop for v61 substring filters
  bpf/process/types/basic.h
Owners: @cilium/tetragon

ci: attempt to glue windows flakes back
  .github/workflows/windows-build-smoke-test.yml
Owners: @willfindlay

ci: attempt to glue windows flakes back
  .github/workflows/windows-build-smoke-test.yml
Owners: @willfindlay

ci: attempt to glue windows flakes back
  .github/actions/download-artifact/action.yml
  .github/actions/download-file/action.yml
  .github/actions/extract-zip/action.yml
  .github/workflows/windows-build-smoke-test.yml
Owners: @cilium/tetragon, @willfindlay

ci: attempt to glue windows flakes back
  .github/actions/download-artifact/action.yml
  .github/actions/download-file/action.yml
  .github/actions/extract-zip/action.yml
  .github/workflows/windows-build-smoke-test.yml
Owners: @cilium/tetragon, @willfindlay

cleanup(pkg/tracingpolicy): split `go:embed` variable from nok8s.go.
  pkg/tracingpolicy/nok8s.go
  pkg/tracingpolicy/nok8s_embed.go
Owners: @cilium/tetragon

cmd/tetragon: add warning about untrusted TCP access
  cmd/tetragon/main.go
Owners: @cilium/tetragon

docs: add warning about exposing Tetragon via TCP
  docs/content/en/docs/concepts/events.md
  docs/content/en/docs/installation/grpc-tls.md
  docs/content/en/docs/installation/kubernetes.md
  docs/content/en/docs/reference/helm-chart.md
  docs/data/tetragon_flags.yaml
  install/kubernetes/tetragon/README.md
  install/kubernetes/tetragon/values.yaml
  pkg/option/flags.go
Owners: @mtardy, @cilium/tetragon

renovate: retain 5-day cooldown for official Docker Hub images
  .github/renovate.json5
Owners: @cilium/tetragon

chore(deps): update golangci/golangci-lint to v2.13.1
  .github/workflows/static-checks.yaml
  Makefile
  bpf/tests/pid_match_test.go
  bpf/tests/prepend_name_test.go
  operator/podinfo/podinfo_controller.go
  pkg/asm/regoffset_linux_arm64.go
  pkg/sensors/handler.go
  tests/e2e/install/tetragon/tetragon.go
Owners: @willfindlay, @cilium/tetragon

Prepare for v1.7.1 release
  contrib/upgrade-notes/latest.md
  contrib/upgrade-notes/v1.7.1.md
  docs/config/_default/hugo.toml
  docs/content/en/docs/reference/helm-chart.md
  install/kubernetes/tetragon/Chart.yaml
  install/kubernetes/tetragon/README.md
  install/kubernetes/tetragon/values.yaml
Owners: @cilium/tetragon, @mtardy

fix: have BPF_CORE_READ support clang > 20
  bpf/libbpf/bpf_core_read.h
Owners: @cilium/tetragon

fix: ensure read buffer size is never negative
  bpf/process/bpf_execve_event.h
Owners: @cilium/tetragon

fix: bound pointer offset to a max value
  bpf/lib/process.h
Owners: @cilium/tetragon

build: update clang Dockerfile to clang-22
  Dockerfile.clang
Owners: @cilium/tetragon

crdutils: reject unknown fields during validation
  pkg/crdutils/crdutils.go
Owners: @cilium/tetragon

fix(selectors): cap range span in writeRangeInMap to prevent hang
  pkg/selectors/kernel.go
  pkg/selectors/kernel_test.go
Owners: @cilium/tetragon

new(pkg): update `selectors.HasSetArgIndex` signature.
  pkg/selectors/kernel.go
  pkg/sensors/tracing/genericusdt.go
Owners: @cilium/tetragon
