Repository cilium/tetragon, changes with the owners that CODEOWNERS names for each.
All owners: @cilium/tetragon, @willfindlay, @kkourt, @mtardy

pkg: add MITRE attack detection to privileged exec
  pkg/detection/detection.go
  pkg/grpc/exec/exec.go
  pkg/process/process.go
Owners: @cilium/tetragon

Chore: make vendor
  contrib/tetragon-rthooks/go.mod
  contrib/tetragon-rthooks/go.sum
  contrib/tetragon-rthooks/vendor/github.com/containerd/containerd/errdefs/errors.go
  contrib/tetragon-rthooks/vendor/github.com/containerd/containerd/errdefs/grpc.go
  contrib/tetragon-rthooks/vendor/github.com/containerd/containerd/events/exchange/exchange.go
  contrib/tetragon-rthooks/vendor/github.com/containerd/containerd/filters/parser.go
  contrib/tetragon-rthooks/vendor/github.com/containerd/containerd/identifiers/validate.go
  contrib/tetragon-rthooks/vendor/github.com/containerd/containerd/namespaces/context.go
  contrib/tetragon-rthooks/vendor/github.com/containerd/containerd/plugin/context.go
  contrib/tetragon-rthooks/vendor/github.com/containerd/containerd/services/server/config/config.go
  contrib/tetragon-rthooks/vendor/github.com/containerd/typeurl/v2/README.md
  contrib/tetragon-rthooks/vendor/github.com/containerd/typeurl/v2/types.go
  contrib/tetragon-rthooks/vendor/github.com/containerd/typeurl/v2/types_gogo.go
  contrib/tetragon-rthooks/vendor/k8s.io/cri-api/pkg/apis/runtime/v1/api.pb.go
  contrib/tetragon-rthooks/vendor/k8s.io/cri-api/pkg/apis/runtime/v1/api.proto
  contrib/tetragon-rthooks/vendor/modules.txt
Owners: @cilium/tetragon

fix: correcting the script path for minikube installation steps in documentation
  docs/content/en/docs/concepts/tracing-policy/k8s-filtering.md
Owners: @mtardy, @cilium/tetragon

filters: Implement ancestor binary export filter
  api/v1/tetragon/codegen/eventchecker/eventchecker.pb.go
  api/v1/tetragon/codegen/helpers/helpers.pb.go
  api/v1/tetragon/events.pb.go
  api/v1/tetragon/events.proto
  pkg/filters/binary_regex.go
  pkg/filters/binary_regex_test.go
  pkg/filters/filters.go
  pkg/filters/filters_test.go
  tools/protoc-gen-go-tetragon/common/common.go
  tools/protoc-gen-go-tetragon/helpers/helpers.go
  vendor/github.com/cilium/tetragon/api/v1/tetragon/codegen/eventchecker/eventchecker.pb.go
  vendor/github.com/cilium/tetragon/api/v1/tetragon/codegen/helpers/helpers.pb.go
  vendor/github.com/cilium/tetragon/api/v1/tetragon/events.pb.go
  vendor/github.com/cilium/tetragon/api/v1/tetragon/events.proto
Owners: @cilium/tetragon

feat: Allow to include process' ancestors in events
  api/v1/tetragon/tetragon.pb.go
  api/v1/tetragon/tetragon.proto
  api/v1/tetragon/types.pb.go
  pkg/eventcache/eventcache.go
  pkg/eventcache/metrics.go
  pkg/grpc/exec/exec.go
  pkg/grpc/tracing/tracing.go
  pkg/option/config.go
  pkg/option/flags.go
  pkg/process/process.go
  pkg/reader/notify/notify.go
  tools/protoc-gen-go-tetragon/types/types.go
  vendor/github.com/cilium/tetragon/api/v1/tetragon/tetragon.pb.go
  vendor/github.com/cilium/tetragon/api/v1/tetragon/tetragon.proto
  vendor/github.com/cilium/tetragon/api/v1/tetragon/types.pb.go
Owners: @cilium/tetragon

docs: Add ancestors and ancestor filter information
  api/v1/README.md
  docs/content/en/docs/concepts/events.md
  docs/content/en/docs/reference/grpc-api.md
  docs/content/en/docs/reference/metrics.md
  docs/data/tetragon_flags.yaml
  examples/configuration/tetragon.yaml
Owners: @cilium/tetragon, @mtardy

tetragon: Load tail calls directly in generictracepoint program
  bpf/process/bpf_generic_tracepoint.c
  pkg/sensors/tracing/generictracepoint.go
Owners: @cilium/tetragon

tetragon: Load tail calls directly in genericuprobe program
  bpf/process/bpf_generic_uprobe.c
  pkg/sensors/tracing/genericuprobe.go
Owners: @cilium/tetragon

github: Allow extern declarations in c files
  .github/workflows/checkpatch.yaml
Owners: @willfindlay

tetragon: Load tail calls directly in execve program
  bpf/process/bpf_execve_event.c
  pkg/sensors/base/base.go
Owners: @cilium/tetragon

tetragon: Load tail calls directly in generickprobe program
  bpf/process/bpf_generic_kprobe.c
  bpf/process/bpf_generic_retkprobe.c
  pkg/sensors/tracing/generickprobe.go
Owners: @cilium/tetragon

tetragon: Remove ebpf spec.RewriteConstants call
  pkg/sensors/program/loader.go
Owners: @cilium/tetragon

tetragon: Load tail calls directly in genericlsm program
  bpf/process/bpf_generic_lsm_core.c
  pkg/sensors/tracing/genericlsm.go
Owners: @cilium/tetragon

tetragon: Disable contents loading in initial map loading
  pkg/sensors/load.go
Owners: @cilium/tetragon

tetragon: Introduce CheckSensorLoadBase function
  pkg/testutils/sensors/load.go
Owners: @cilium/tetragon

tetragon: Mark some execve functions with __arg_ctx
  bpf/lib/common.h
  bpf/process/bpf_execve_event.c
Owners: @cilium/tetragon

tetragon: Allow to override execve tail calls
  bpf/process/bpf_execve_event.c
Owners: @cilium/tetragon

base: simplify initialization
  pkg/sensors/base/base.go
Owners: @cilium/tetragon

renovate: remove ignores on used dependencies
  .github/renovate.json5
Owners: @cilium/tetragon

tetragon: introduce base sensor extensions
  cmd/tetragon/main.go
  pkg/cgrouprate/bpf.go
  pkg/cgrouprate/cgrouprate.go
  pkg/cgrouprate/sensor.go
  pkg/observer/observertesthelper/observer_test_helper.go
  pkg/sensors/base/base.go
  pkg/sensors/base/extensions.go
Owners: @cilium/tetragon

flags: fix docs for cgroup rate flag
  docs/data/tetragon_flags.yaml
  pkg/option/flags.go
Owners: @mtardy, @cilium/tetragon

renovate: ignore cgroups and go-toml major updates
  .github/renovate.json5
Owners: @cilium/tetragon

renovate: group more dependencies updates
  .github/renovate.json5
Owners: @cilium/tetragon

renovate: use the proper image repository for config check
  .github/workflows/renovate-config-validator.yaml
Owners: @willfindlay

renovate: migrate config, some matchers were deprecated
  .github/renovate.json5
Owners: @cilium/tetragon

bpf: remove unused fields in msg_k8s
  bpf/lib/process.h
  bpf/process/bpf_execve_event.c
  pkg/api/processapi/processapi.go
  pkg/grpc/exec/exec_test_helper.go
  pkg/sensors/exec/procevents/proc_reader.go
Owners: @cilium/tetragon

renovate: remove ignores on used dependencies
  .github/renovate.json5
Owners: @cilium/tetragon

renovate: ignore cgroups and go-toml major updates
  .github/renovate.json5
Owners: @cilium/tetragon

renovate: migrate config, some matchers were deprecated
  .github/renovate.json5
Owners: @cilium/tetragon

renovate: use the proper image repository for config check
  .github/workflows/renovate-config-validator.yaml
Owners: @willfindlay

renovate: group more dependencies updates
  .github/renovate.json5
Owners: @cilium/tetragon

tetragon: Disable contents loading in initial map loading
  pkg/sensors/load.go
Owners: @cilium/tetragon

tetragon: Load tail calls directly in execve program
  bpf/process/bpf_execve_event.c
  pkg/sensors/base/base.go
Owners: @cilium/tetragon

tetragon: Introduce CheckSensorLoadBase function
  pkg/testutils/sensors/load.go
Owners: @cilium/tetragon

tetragon: Load tail calls directly in genericuprobe program
  bpf/process/bpf_generic_uprobe.c
  pkg/sensors/tracing/genericuprobe.go
Owners: @cilium/tetragon

tetragon: Load tail calls directly in genericlsm program
  bpf/process/bpf_generic_lsm_core.c
  pkg/sensors/tracing/genericlsm.go
Owners: @cilium/tetragon

tetragon: Mark some execve functions with __arg_ctx
  bpf/lib/common.h
  bpf/process/bpf_execve_event.c
Owners: @cilium/tetragon

tetragon: Allow to override execve tail calls
  bpf/process/bpf_execve_event.c
Owners: @cilium/tetragon

tetragon: Load tail calls directly in generickprobe program
  bpf/process/bpf_generic_kprobe.c
  bpf/process/bpf_generic_retkprobe.c
  pkg/sensors/tracing/generickprobe.go
Owners: @cilium/tetragon

tetragon: Load tail calls directly in generictracepoint program
  bpf/process/bpf_generic_tracepoint.c
  pkg/sensors/tracing/generictracepoint.go
Owners: @cilium/tetragon

CODEOWNERS:

# Request a review from the Tetragon team on any PR
* @cilium/tetragon

# Request a review from William when codegen is edited
cmd/protoc-gen-go-tetragon/ @willfindlay

# Request a review from William when CI is edited
.github/workflows/ @willfindlay

# Request a review from kkourt when core sensor files are modified
pkg/src/sensors/ @kkourt

# Request a review from mtardy when anything from docs is modified but do not
# block on approval from anyone in the tetragon team
/docs/ @mtardy @cilium/tetragon
