Repository cilium/tetragon, changes with the owners that CODEOWNERS names for each.
All owners: @cilium/tetragon, @willfindlay, @kkourt, @mtardy

ci: Make artifact names unique in Go tests workflow
  .github/workflows/gotests.yml
Owners: @willfindlay

tetragon: Add loader support for uprobe write offload
  pkg/sensors/program/loader_linux.go
  pkg/sensors/program/program.go
Owners: @cilium/tetragon

tetragon: Store 8 usdt arguments in event config object
  bpf/process/types/basic.h
  pkg/api/tracingapi/client_kprobe.go
Owners: @cilium/tetragon

tetragon: Add support for usdt set action
  bpf/include/api.h
  bpf/lib/common.h
  bpf/process/generic_calls.h
  bpf/process/types/basic.h
  pkg/api/processapi/processapi.go
  pkg/api/tracingapi/client_kprobe.go
  pkg/grpc/tracing/tracing.go
  pkg/selectors/kernel.go
  pkg/sensors/tracing/genericusdt.go
Owners: @cilium/tetragon

tetragon: Use user space write offload in usdt set action
  bpf/process/bpf_generic_usdt.c
  bpf/process/generic_calls.h
  bpf/process/generic_maps.h
  pkg/selectors/kernel.go
  pkg/sensors/tracing/consts.go
  pkg/sensors/tracing/genericusdt.go
Owners: @cilium/tetragon

tetragon: Add documentation for usdt set action
  docs/content/en/docs/concepts/tracing-policy/selectors.md
Owners: @mtardy, @cilium/tetragon

tetragon: Add set action spec changes
  api/v1/tetragon/tetragon.proto
  contrib/tetragon-rthooks/vendor/github.com/cilium/tetragon/api/v1/tetragon/tetragon.proto
  pkg/k8s/apis/cilium.io/v1alpha1/types.go
  pkg/k8s/apis/cilium.io/v1alpha1/version.go
  vendor/github.com/cilium/tetragon/api/v1/tetragon/tetragon.proto
  vendor/github.com/cilium/tetragon/pkg/k8s/apis/cilium.io/v1alpha1/types.go
  vendor/github.com/cilium/tetragon/pkg/k8s/apis/cilium.io/v1alpha1/version.go
Owners: @cilium/tetragon

tetragon: Add usdt-override test program
  contrib/tester-progs/.gitignore
  contrib/tester-progs/Makefile
  contrib/tester-progs/usdt-override.c
Owners: @cilium/tetragon

tetragon: Add test for usdt set action
  pkg/sensors/tracing/usdt_amd64_test.go
Owners: @cilium/tetragon

tetragon: Add usdt set action example
  examples/tracingpolicy/usdt-set.yaml
Owners: @cilium/tetragon

tetragon: Add loader support for uprobe multi write offload
  pkg/sensors/program/loader_linux.go
Owners: @cilium/tetragon

tetragon: Add test to trigger wrong usdt set action
  pkg/sensors/tracing/usdt_validation_amd64_test.go
Owners: @cilium/tetragon

tetragon: Add generated changes
  api/v1/README.md
  api/v1/tetragon/tetragon.pb.go
  contrib/tetragon-rthooks/vendor/github.com/cilium/tetragon/api/v1/tetragon/tetragon.pb.go
  docs/content/en/docs/reference/grpc-api.md
  docs/content/en/docs/reference/tracing-policy.md
  install/kubernetes/tetragon/crds-yaml/cilium.io_tracingpolicies.yaml
  install/kubernetes/tetragon/crds-yaml/cilium.io_tracingpoliciesnamespaced.yaml
  pkg/k8s/apis/cilium.io/client/crds/v1alpha1/cilium.io_tracingpolicies.yaml
  pkg/k8s/apis/cilium.io/client/crds/v1alpha1/cilium.io_tracingpoliciesnamespaced.yaml
  vendor/github.com/cilium/tetragon/api/v1/tetragon/tetragon.pb.go
  vendor/github.com/cilium/tetragon/pkg/k8s/apis/cilium.io/client/crds/v1alpha1/cilium.io_tracingpolicies.yaml
  vendor/github.com/cilium/tetragon/pkg/k8s/apis/cilium.io/client/crds/v1alpha1/cilium.io_tracingpoliciesnamespaced.yaml
Owners: @cilium/tetragon, @mtardy

tetragon: Fix tail call program types for uprobe sensor
  bpf/process/bpf_generic_uprobe.c
Owners: @cilium/tetragon

tetragon: Fix tail call program types for kprobe sensor
  bpf/process/bpf_generic_kprobe.c
  bpf/process/bpf_generic_retkprobe.c
Owners: @cilium/tetragon

tetragon: Adjust TestTracepointLoadFormat test for new kernels
  pkg/tracepoint/tracepoint_test.go
Owners: @cilium/tetragon

tetragon: Fix tail call program types for usdt sensor
  bpf/process/bpf_generic_usdt.c
Owners: @cilium/tetragon

tetragon: Fix tail call program types for kprobe sensor
  bpf/process/bpf_generic_kprobe.c
  bpf/process/bpf_generic_retkprobe.c
Owners: @cilium/tetragon

tetragon: Fix tail call program types for uprobe sensor
  bpf/process/bpf_generic_uprobe.c
Owners: @cilium/tetragon

tetragon: Fix tail call program types for usdt sensor
  bpf/process/bpf_generic_usdt.c
Owners: @cilium/tetragon

tetragon: Adjust TestTracepointLoadFormat test for new kernels
  pkg/tracepoint/tracepoint_test.go
Owners: @cilium/tetragon

ci: Make artifact names unique in Go tests workflow
  .github/workflows/gotests.yml
Owners: @willfindlay

tetragon: Fix tail call program types for uprobe sensor
  bpf/process/bpf_generic_uprobe.c
Owners: @cilium/tetragon

tetragon: Adjust TestTracepointLoadFormat test for new kernels
  pkg/tracepoint/tracepoint_test.go
Owners: @cilium/tetragon

tetragon: Fix tail call program types for usdt sensor
  bpf/process/bpf_generic_usdt.c
Owners: @cilium/tetragon

tetragon: Fix tail call program types for kprobe sensor
  bpf/process/bpf_generic_kprobe.c
  bpf/process/bpf_generic_retkprobe.c
Owners: @cilium/tetragon

fix: always close the link before returning
  pkg/bpf/detect_linux.go
Owners: @cilium/tetragon

feat(helm): add envFrom to export.stdout via extraEnvFrom/envFromSecrets
  docs/content/en/docs/reference/helm-chart.md
  install/kubernetes/tetragon/README.md
  install/kubernetes/tetragon/templates/_container_export_stdout.tpl
  install/kubernetes/tetragon/values.yaml
Owners: @mtardy, @cilium/tetragon

tetragon: Add Assignment parsing to asm object
  pkg/asm/assignment_amd64.go
  pkg/asm/assignment_amd64_test.go
Owners: @cilium/tetragon

tetragon: Move register offset resolve to asm package
  pkg/asm/reg_offset_amd64.go
  pkg/elf/usdt_args_amd64.go
Owners: @cilium/tetragon

tetragon: Add support to detect uprobe regs change feature
  pkg/bpf/detect_linux.go
Owners: @cilium/tetragon

tetragon: Rename generic_usdt_write_offload to +generic_write_offload
  bpf/process/bpf_generic_usdt.c
  pkg/sensors/program/loader_linux.go
Owners: @cilium/tetragon

tetragon: Add uprobe regs action spec changes
  api/v1/tetragon/tetragon.proto
  contrib/tetragon-rthooks/vendor/github.com/cilium/tetragon/api/v1/tetragon/tetragon.proto
  pkg/k8s/apis/cilium.io/v1alpha1/types.go
  pkg/k8s/apis/cilium.io/v1alpha1/version.go
  vendor/github.com/cilium/tetragon/api/v1/tetragon/tetragon.proto
  vendor/github.com/cilium/tetragon/pkg/k8s/apis/cilium.io/v1alpha1/types.go
  vendor/github.com/cilium/tetragon/pkg/k8s/apis/cilium.io/v1alpha1/version.go
Owners: @cilium/tetragon

tetragon: Add generated code for spec changes
  api/v1/README.md
  api/v1/tetragon/tetragon.pb.go
  contrib/tetragon-rthooks/vendor/github.com/cilium/tetragon/api/v1/tetragon/tetragon.pb.go
  docs/content/en/docs/reference/grpc-api.md
  install/kubernetes/tetragon/crds-yaml/cilium.io_tracingpolicies.yaml
  install/kubernetes/tetragon/crds-yaml/cilium.io_tracingpoliciesnamespaced.yaml
  pkg/k8s/apis/cilium.io/client/crds/v1alpha1/cilium.io_tracingpolicies.yaml
  pkg/k8s/apis/cilium.io/client/crds/v1alpha1/cilium.io_tracingpoliciesnamespaced.yaml
  pkg/k8s/apis/cilium.io/v1alpha1/zz_generated.deepcopy.go
  vendor/github.com/cilium/tetragon/api/v1/tetragon/tetragon.pb.go
  vendor/github.com/cilium/tetragon/pkg/k8s/apis/cilium.io/client/crds/v1alpha1/cilium.io_tracingpolicies.yaml
  vendor/github.com/cilium/tetragon/pkg/k8s/apis/cilium.io/client/crds/v1alpha1/cilium.io_tracingpoliciesnamespaced.yaml
  vendor/github.com/cilium/tetragon/pkg/k8s/apis/cilium.io/v1alpha1/zz_generated.deepcopy.go
Owners: @cilium/tetragon, @mtardy

tetragon: Fix tail call program types for usdt sensor
  bpf/process/bpf_generic_usdt.c
Owners: @cilium/tetragon

feat: allow LSM funcs to be overridden on SLE
  pkg/sensors/tracing/generickprobe.go
Owners: @cilium/tetragon

tetragon: Add uprobe regs action code
  bpf/process/bpf_generic_uprobe.c
  bpf/process/generic_calls.h
  bpf/process/regs.h
  bpf/process/types/basic.h
  pkg/api/processapi/processapi.go
  pkg/selectors/kernel.go
  pkg/selectors/selectors.go
Owners: @cilium/tetragon

tetragon: Enable uprobe write regs offload
  pkg/sensors/tracing/genericuprobe.go
Owners: @cilium/tetragon

fix
  bpf/process/bpf_generic_uprobe.c
  bpf/process/regs.h
Owners: @cilium/tetragon

tetragon: Add support to specify uprobe with virtual address
  pkg/elf/file.go
  pkg/k8s/apis/cilium.io/v1alpha1/types.go
  pkg/k8s/apis/cilium.io/v1alpha1/version.go
  pkg/sensors/tracing/genericuprobe.go
  vendor/github.com/cilium/tetragon/pkg/k8s/apis/cilium.io/v1alpha1/types.go
  vendor/github.com/cilium/tetragon/pkg/k8s/apis/cilium.io/v1alpha1/version.go
Owners: @cilium/tetragon

CODEOWNERS:

# Request a review from the Tetragon team on any PR
* @cilium/tetragon

# Request a review from William when codegen is edited
cmd/protoc-gen-go-tetragon/ @willfindlay

# Request a review from William when CI is edited
.github/workflows/ @willfindlay

# Request a review from kkourt when core sensor files are modified
pkg/src/sensors/ @kkourt

# Request a review from mtardy when anything from docs is modified but do not
# block on approval from anyone in the tetragon team
/docs/ @mtardy @cilium/tetragon
