Repository cilium/tetragon, changes with the owners that CODEOWNERS names for each.
All owners: @cilium/tetragon, @willfindlay, @kkourt, @mtardy

CODEOWNERS:

# Request a review from the Tetragon team on any PR
* @cilium/tetragon

# Request a review from William when codegen is edited
cmd/protoc-gen-go-tetragon/ @willfindlay

# Request a review from William when CI is edited
.github/workflows/ @willfindlay

# Request a review from kkourt when core sensor files are modified
pkg/src/sensors/ @kkourt

# Request a review from mtardy when anything from docs is modified but do not
# block on approval from anyone in the tetragon team
/docs/ @mtardy @cilium/tetragon

sensors: add support for fd type to retrieve file*
  bpf/process/generic_calls.h
  bpf/process/generic_path.h
  bpf/process/types/basic.h
  pkg/sensors/tracing/args_linux.go
  pkg/sensors/tracing/fentry_test.go
  pkg/sensors/tracing/generictracepoint.go
  pkg/sensors/tracing/kprobe_test.go
  tests/policytests/kprobes.go
Owners: @cilium/tetragon

update(contrib/upgrade-notes): add note about new fd type changes
  contrib/upgrade-notes/latest.md
Owners: @cilium/tetragon

new(pkg/sensors): allow multiple sensors to be built from single tp.
  pkg/sensors/tracing/enforcer_test.go
  pkg/sensors/tracing/policyhandler.go
  pkg/sensors/tracing/policyhandler_linux.go
  pkg/sensors/tracing/policyhandler_windows.go
Owners: @cilium/tetragon

fix(pkg/crdutils): fixed test policy.
  pkg/crdutils/crdutils_test.go
Owners: @cilium/tetragon

new: add some k8s x-validation markers to uprobe and kprobe specs.
  install/kubernetes/tetragon/crds-yaml/cilium.io_tracingpolicies.yaml
  install/kubernetes/tetragon/crds-yaml/cilium.io_tracingpoliciesnamespaced.yaml
  pkg/k8s/apis/cilium.io/client/crds/v1alpha1/cilium.io_tracingpolicies.yaml
  pkg/k8s/apis/cilium.io/client/crds/v1alpha1/cilium.io_tracingpoliciesnamespaced.yaml
  pkg/k8s/apis/cilium.io/v1alpha1/types.go
  pkg/k8s/apis/cilium.io/v1alpha1/version.go
  vendor/github.com/cilium/tetragon/pkg/k8s/apis/cilium.io/client/crds/v1alpha1/cilium.io_tracingpolicies.yaml
  vendor/github.com/cilium/tetragon/pkg/k8s/apis/cilium.io/client/crds/v1alpha1/cilium.io_tracingpoliciesnamespaced.yaml
  vendor/github.com/cilium/tetragon/pkg/k8s/apis/cilium.io/v1alpha1/types.go
  vendor/github.com/cilium/tetragon/pkg/k8s/apis/cilium.io/v1alpha1/version.go
Owners: @cilium/tetragon

chore(pkg/build): introduce `K8sEnabled()` helper.
  pkg/build/k8s.go
  pkg/build/nok8s.go
Owners: @cilium/tetragon

new(pkg/tracingpolicy): added some new tests to test k8s validation.
  pkg/sensors/tracing/kprobe_validation_test.go
  pkg/tracingpolicy/k8s_xvalidation_test.go
Owners: @cilium/tetragon

new(pkg/sensors): add test.
  pkg/sensors/tracing/policyhandler_test.go
Owners: @cilium/tetragon

fix(pkg/crdutils): fixed test policy.
  pkg/crdutils/crdutils_test.go
Owners: @cilium/tetragon

new(pkg/tracingpolicy): added some new tests to test k8s validation.
  pkg/sensors/tracing/kprobe_validation_test.go
  pkg/tracingpolicy/k8s_xvalidation_test.go
Owners: @cilium/tetragon

new: add some k8s x-validation markers to uprobe and kprobe specs.
  install/kubernetes/tetragon/crds-yaml/cilium.io_tracingpolicies.yaml
  install/kubernetes/tetragon/crds-yaml/cilium.io_tracingpoliciesnamespaced.yaml
  pkg/k8s/apis/cilium.io/client/crds/v1alpha1/cilium.io_tracingpolicies.yaml
  pkg/k8s/apis/cilium.io/client/crds/v1alpha1/cilium.io_tracingpoliciesnamespaced.yaml
  pkg/k8s/apis/cilium.io/v1alpha1/types.go
  pkg/k8s/apis/cilium.io/v1alpha1/version.go
  vendor/github.com/cilium/tetragon/pkg/k8s/apis/cilium.io/client/crds/v1alpha1/cilium.io_tracingpolicies.yaml
  vendor/github.com/cilium/tetragon/pkg/k8s/apis/cilium.io/client/crds/v1alpha1/cilium.io_tracingpoliciesnamespaced.yaml
  vendor/github.com/cilium/tetragon/pkg/k8s/apis/cilium.io/v1alpha1/types.go
  vendor/github.com/cilium/tetragon/pkg/k8s/apis/cilium.io/v1alpha1/version.go
Owners: @cilium/tetragon

chore(pkg/build): introduce `K8sEnabled()` helper.
  pkg/build/k8s.go
  pkg/build/nok8s.go
Owners: @cilium/tetragon

fix(pkg/selectors): fixed kernel selectors tests.
  pkg/selectors/kernel_test.go
Owners: @cilium/tetragon

cleanup(bpf): dropped deprecated actions.
  bpf/process/generic_calls.h
  bpf/process/types/basic.h
Owners: @cilium/tetragon

new(contrib): add upgrade-notes about the drop.
  contrib/upgrade-notes/latest.md
Owners: @cilium/tetragon

cleanup(docs): drop deprecated (un)followfd/copyfd actions.
  docs/content/en/docs/concepts/tracing-policy/selectors.md
  docs/content/en/docs/reference/tracing-policy.md
  docs/security-observability-with-ebpf/README.md
Owners: @mtardy, @cilium/tetragon

cleanup: drop support for (un)followfd/copyfd actions in k8s crd.
  install/kubernetes/tetragon/crds-yaml/cilium.io_tracingpolicies.yaml
  install/kubernetes/tetragon/crds-yaml/cilium.io_tracingpoliciesnamespaced.yaml
  pkg/k8s/apis/cilium.io/client/crds/v1alpha1/cilium.io_tracingpolicies.yaml
  pkg/k8s/apis/cilium.io/client/crds/v1alpha1/cilium.io_tracingpoliciesnamespaced.yaml
  pkg/k8s/apis/cilium.io/v1alpha1/types.go
  vendor/github.com/cilium/tetragon/pkg/k8s/apis/cilium.io/client/crds/v1alpha1/cilium.io_tracingpolicies.yaml
  vendor/github.com/cilium/tetragon/pkg/k8s/apis/cilium.io/client/crds/v1alpha1/cilium.io_tracingpoliciesnamespaced.yaml
  vendor/github.com/cilium/tetragon/pkg/k8s/apis/cilium.io/v1alpha1/types.go
Owners: @cilium/tetragon

cleanup: mark actions as deprecated in protobuf.
  api/v1/README.md
  api/v1/tetragon/tetragon.pb.go
  api/v1/tetragon/tetragon.proto
  contrib/tetragon-rthooks/vendor/github.com/cilium/tetragon/api/v1/tetragon/tetragon.pb.go
  contrib/tetragon-rthooks/vendor/github.com/cilium/tetragon/api/v1/tetragon/tetragon.proto
  docs/content/en/docs/reference/grpc-api.md
  pkg/api/tracingapi/client_kprobe.go
  pkg/grpc/tracing/tracing.go
  vendor/github.com/cilium/tetragon/api/v1/tetragon/tetragon.pb.go
  vendor/github.com/cilium/tetragon/api/v1/tetragon/tetragon.proto
Owners: @cilium/tetragon, @mtardy

cleanup(pkg): drop `fdInstall` support in kprobe and tracepoint.
  pkg/selectors/kernel.go
  pkg/sensors/tracing/consts.go
  pkg/sensors/tracing/generickprobe.go
  pkg/sensors/tracing/generictracepoint.go
  pkg/sensors/tracing/kprobe_maxentries_test.go
Owners: @cilium/tetragon

cleanup(pkg,testdata): port tests away from dropped actions.
  pkg/sensors/tracing/enforcer_test.go
  pkg/sensors/tracing/kprobe_copyfd_test.go
  pkg/sensors/tracing/kprobe_test.go
  testdata/specs/capchanges.yaml.tmpl
  testdata/specs/copyfd-__fd_install.yaml.tmpl
  testdata/specs/copyfd-fd_install.yaml.tmpl
  testdata/specs/nschanges.yaml.tmpl
Owners: @cilium/tetragon

update(pkg,vendor): bump CustomResourceDefinitionSchemaVersion.
  pkg/k8s/apis/cilium.io/v1alpha1/version.go
  vendor/github.com/cilium/tetragon/pkg/k8s/apis/cilium.io/v1alpha1/version.go
Owners: @cilium/tetragon

btf: add fallback BTF lookup for parsed type casts
  pkg/btf/type_builder.go
Owners: @cilium/tetragon

btf : Migrate `ResolveBTFPath` to an object approach
  pkg/btf/btf.go
  pkg/btf/btf_test.go
  pkg/sensors/tracing/generic.go
Owners: @cilium/tetragon

btf : Add support to override the BTF type
  pkg/btf/btf.go
  pkg/btf/btf_test.go
Owners: @cilium/tetragon

btf : Add *btf.Spec to the `ResolveBTFPath`
  pkg/btf/btf.go
  pkg/btf/btf_test.go
  pkg/sensors/tracing/generic.go
Owners: @cilium/tetragon

sensors/tracing: support prefixed BTF casts in resolve paths
  pkg/sensors/tracing/generic.go
  pkg/sensors/tracing/generic_test.go
Owners: @cilium/tetragon

btf : Add tests for the type_builder.go API
  pkg/btf/type_builder_test.go
Owners: @cilium/tetragon

generic : Refactor resolve for PtRegs
  pkg/sensors/tracing/generic.go
  pkg/sensors/tracing/generickprobe.go
  pkg/sensors/tracing/genericuprobe.go
Owners: @cilium/tetragon

sensors/tracing : Pass the *btf.Spec to all the resolver caller
  pkg/sensors/tracing/generic.go
  pkg/sensors/tracing/generic_test.go
  pkg/sensors/tracing/generickprobe.go
  pkg/sensors/tracing/genericlsm.go
  pkg/sensors/tracing/generictracepoint.go
  pkg/sensors/tracing/genericuprobe.go
Owners: @cilium/tetragon

sensors/tracing : Refactor the use of btfPath to load the spec earlier
  pkg/sensors/tracing/generic.go
  pkg/sensors/tracing/genericuprobe.go
  pkg/sensors/tracing/genericusdt.go
Owners: @cilium/tetragon

uprobe : Add test to resolve value in `rsp`
  contrib/tester-progs/.gitignore
  contrib/tester-progs/Makefile
  contrib/tester-progs/uprobe-stack.c
  pkg/sensors/tracing/uprobe_reg_test.go
Owners: @cilium/tetragon

uprobe : Add TestUprobeResolveCast test
  contrib/tester-progs/uprobe-resolve.c
  pkg/sensors/tracing/uprobe_reg_test.go
Owners: @cilium/tetragon

docs : Add update hooks.md page to add "cast feature"
  docs/content/en/docs/concepts/tracing-policy/hooks.md
Owners: @mtardy, @cilium/tetragon

tetra: fix panic on empty health status slice
  cmd/tetra/status/status.go
Owners: @cilium/tetragon

tetra: fix nil pointer dereference in version command
  cmd/tetra/version/version.go
Owners: @cilium/tetragon

tetra: fix resource leak in info command
  cmd/tetra/info/info.go
Owners: @cilium/tetragon

tetra: fix nil error return in progs command
  cmd/tetra/debug/progs.go
Owners: @cilium/tetragon

new(contrib): add upgrade-notes about the drop.
  contrib/upgrade-notes/latest.md
Owners: @cilium/tetragon

cleanup: mark actions as deprecated in protobuf.
  api/v1/README.md
  api/v1/tetragon/tetragon.pb.go
  api/v1/tetragon/tetragon.proto
  contrib/tetragon-rthooks/vendor/github.com/cilium/tetragon/api/v1/tetragon/tetragon.pb.go
  contrib/tetragon-rthooks/vendor/github.com/cilium/tetragon/api/v1/tetragon/tetragon.proto
  docs/content/en/docs/reference/grpc-api.md
  pkg/api/tracingapi/client_kprobe.go
  pkg/grpc/tracing/tracing.go
  vendor/github.com/cilium/tetragon/api/v1/tetragon/tetragon.pb.go
  vendor/github.com/cilium/tetragon/api/v1/tetragon/tetragon.proto
Owners: @cilium/tetragon, @mtardy

update(pkg,vendor): bump CustomResourceDefinitionSchemaVersion.
  pkg/k8s/apis/cilium.io/v1alpha1/version.go
  vendor/github.com/cilium/tetragon/pkg/k8s/apis/cilium.io/v1alpha1/version.go
Owners: @cilium/tetragon
