Repository cilium/tetragon, changes with the owners that CODEOWNERS names for each.
All owners: @cilium/tetragon, @willfindlay, @kkourt, @mtardy

CODEOWNERS:

# Request a review from the Tetragon team on any PR
* @cilium/tetragon

# Request a review from William when codegen is edited
cmd/protoc-gen-go-tetragon/ @willfindlay

# Request a review from William when CI is edited
.github/workflows/ @willfindlay

# Request a review from kkourt when core sensor files are modified
pkg/src/sensors/ @kkourt

# Request a review from mtardy when anything from docs is modified but do not
# block on approval from anyone in the tetragon team
/docs/ @mtardy @cilium/tetragon

tetragon: Move rawSyscallName to raw_syscall_name_linux.go
  pkg/metrics/syscallmetrics/raw_syscall_name_linux.go
  pkg/metrics/syscallmetrics/syscallmetrics.go
Owners: @cilium/tetragon

tetragon: Add linux suffix to specific objects
  cmd/tetragon/main_linux.go
  pkg/bpf/detect_linux.go
  pkg/cgroups/cgroups_linux.go
  pkg/kernels/kernels_linux.go
  pkg/ktime/ktime_linux.go
  pkg/procsyms/procsyms_linux.go
  pkg/reader/ktime/ktime.go
  pkg/sensors/exec/config/config_linux.go
  pkg/sensors/exec/exec_linux.go
  pkg/sensors/load_linux.go
  pkg/sensors/program/loader_linux.go
  pkg/sensors/sensors_linux.go
  pkg/sensors/tracing/lists_linux.go
  pkg/sensors/tracing/loader_linux.go
  pkg/sensors/tracing/policyhandler_linux.go
  pkg/sensors/unloader/unloader_linux.go
  pkg/testutils/sensors/testrun_linux.go
Owners: @cilium/tetragon

tetragon: Move specific unix constants to pkg/constants/constants_linux.go
  pkg/bpf/perf.go
  pkg/constants/constants_linux.go
  pkg/grpc/tracing/tracing.go
  pkg/reader/caps/caps.go
  pkg/reader/caps/caps_test.go
  pkg/reader/network/inet.go
  pkg/reader/network/inet_family_linux.go
  pkg/reader/network/network.go
Owners: @cilium/tetragon

tetragon: Move rawSyscallEnter to raw_syscall_enter_linux.go
  pkg/encoder/encoder.go
  pkg/encoder/raw_syscall_enter.go
Owners: @cilium/tetragon

renovate: add v1.2 for golang 1.23
  .github/renovate.json5
Owners: @cilium/tetragon

renovate: add v1.2 for golang 1.23
  .github/renovate.json5
Owners: @cilium/tetragon

tetragon: Add linux suffix to specific objects
  cmd/tetragon/main_linux.go
  pkg/bpf/detect_linux.go
  pkg/cgroups/cgroups_linux.go
  pkg/kernels/kernels_linux.go
  pkg/ktime/ktime_linux.go
  pkg/procsyms/procsyms_linux.go
  pkg/reader/ktime/ktime.go
  pkg/sensors/exec/config/config_linux.go
  pkg/sensors/exec/exec_linux.go
  pkg/sensors/load_linux.go
  pkg/sensors/program/loader_linux.go
  pkg/sensors/sensors_linux.go
  pkg/sensors/tracing/lists_linux.go
  pkg/sensors/tracing/loader_linux.go
  pkg/sensors/tracing/policyhandler_linux.go
  pkg/sensors/unloader/unloader_linux.go
  pkg/testutils/sensors/testrun_linux.go
Owners: @cilium/tetragon

tetragon: Move kprobe constants to consts.go
  pkg/sensors/tracing/consts.go
  pkg/sensors/tracing/generickprobe.go
Owners: @cilium/tetragon

tetragon: Move specific unix constants to pkg/constants/constants_linux.go
  pkg/bpf/perf.go
  pkg/constants/constants_linux.go
  pkg/grpc/tracing/tracing.go
  pkg/reader/caps/caps.go
  pkg/reader/caps/caps_test.go
  pkg/reader/network/inet.go
  pkg/reader/network/inet_family_linux.go
  pkg/reader/network/network.go
Owners: @cilium/tetragon

tetragon: Move Signal function to signal_linux.go
  pkg/reader/exec/exec.go
  pkg/reader/exec/signal_linux.go
Owners: @cilium/tetragon

tetragon: Move rawSyscallEnter to raw_syscall_enter_linux.go
  pkg/encoder/encoder.go
  pkg/encoder/raw_syscall_enter.go
Owners: @cilium/tetragon

tetragon: Move rawSyscallName to raw_syscall_name_linux.go
  pkg/metrics/syscallmetrics/raw_syscall_name_linux.go
  pkg/metrics/syscallmetrics/syscallmetrics.go
Owners: @cilium/tetragon

tetragon: Move GetErrorMessage to err_msg_linux.go
  pkg/errmetrics/err_msg_linux.go
  pkg/errmetrics/map.go
Owners: @cilium/tetragon

tetragon: Move rawSyscallEnter to raw_syscall_enter_linux.go
  pkg/encoder/encoder.go
  pkg/encoder/raw_syscall_enter.go
Owners: @cilium/tetragon

tetragon: Add linux suffix to specific objects
  cmd/tetragon/main_linux.go
  pkg/bpf/detect_linux.go
  pkg/cgroups/cgroups_linux.go
  pkg/kernels/kernels_linux.go
  pkg/ktime/ktime_linux.go
  pkg/procsyms/procsyms_linux.go
  pkg/reader/ktime/ktime.go
  pkg/sensors/exec/config/config_linux.go
  pkg/sensors/exec/exec_linux.go
  pkg/sensors/load_linux.go
  pkg/sensors/program/loader_linux.go
  pkg/sensors/sensors_linux.go
  pkg/sensors/tracing/lists_linux.go
  pkg/sensors/tracing/loader_linux.go
  pkg/sensors/tracing/policyhandler_linux.go
  pkg/sensors/unloader/unloader_linux.go
  pkg/testutils/sensors/testrun_linux.go
Owners: @cilium/tetragon

tetragon: Move rawSyscallName to raw_syscall_name_linux.go
  pkg/metrics/syscallmetrics/raw_syscall_name_linux.go
  pkg/metrics/syscallmetrics/syscallmetrics.go
Owners: @cilium/tetragon

tetragon: Move kprobe constants to consts.go
  pkg/sensors/tracing/consts.go
  pkg/sensors/tracing/generickprobe.go
Owners: @cilium/tetragon

tetragon: Move Signal function to signal_linux.go
  pkg/reader/exec/exec.go
  pkg/reader/exec/signal_linux.go
Owners: @cilium/tetragon

tetragon: Move specific unix constants to pkg/constants/constants_linux.go
  pkg/bpf/perf.go
  pkg/constants/constants_linux.go
  pkg/grpc/tracing/tracing.go
  pkg/reader/caps/caps.go
  pkg/reader/caps/caps_test.go
  pkg/reader/network/inet.go
  pkg/reader/network/inet_family_linux.go
  pkg/reader/network/network.go
Owners: @cilium/tetragon

tetragon: Move GetErrorMessage to err_msg_linux.go
  pkg/errmetrics/err_msg_linux.go
  pkg/errmetrics/map.go
Owners: @cilium/tetragon

update mem.go
  pkg/observer/observer.go
Owners: @cilium/tetragon

chore(deps): update github action using old cache versions
  .github/workflows/gotests.yml
  .github/workflows/veristat-compare.yaml
  .github/workflows/veristat.yaml
Owners: @willfindlay

tetragon: Use tail call enum values instead of raw numbers
  bpf/process/bpf_generic_kprobe.c
  bpf/process/bpf_generic_lsm_core.c
  bpf/process/bpf_generic_retkprobe.c
  bpf/process/bpf_generic_tracepoint.c
  bpf/process/bpf_generic_uprobe.c
Owners: @cilium/tetragon

tetragon: Rename read_call_arg function to read_arg
  bpf/process/generic_calls.h
  bpf/process/types/basic.h
Owners: @cilium/tetragon

tetragon: Factor out store_path function
  bpf/process/types/basic.h
Owners: @cilium/tetragon

tetragon: Factor out generic_read_arg function
  bpf/process/generic_calls.h
Owners: @cilium/tetragon

tetragon: Factor out path pointer retrieval
  bpf/process/types/basic.h
Owners: @cilium/tetragon

tetragon: Add path offload
  bpf/lib/generic.h
  bpf/process/bpf_generic_kprobe.c
  bpf/process/bpf_generic_lsm_core.c
  bpf/process/bpf_generic_tracepoint.c
  bpf/process/generic_calls.h
  bpf/process/generic_path.h
Owners: @cilium/tetragon

tetragon: Move config package to pkg/config
  pkg/config/config_linux.go
  pkg/policyfilter/namespace.go
  pkg/sensors/base/base.go
  pkg/sensors/config/confmap/confmap.go
Owners: @cilium/tetragon

tetragon: Move GenericKprobeObjs function to config package
  pkg/config/config_linux.go
  pkg/kernels/kernels_linux.go
  pkg/policyfilter/map.go
  pkg/sensors/tracing/generickprobe.go
Owners: @cilium/tetragon

tetragon: Move Enable* functions to config package
  pkg/config/config_linux.go
  pkg/kernels/kernels_linux.go
  pkg/selectors/kernel.go
  pkg/selectors/kernel_test.go
  pkg/sensors/tracing/enforcer_test.go
  pkg/sensors/tracing/generickprobe.go
  pkg/sensors/tracing/genericlsm.go
  pkg/sensors/tracing/generictracepoint.go
  pkg/sensors/tracing/genericuprobe.go
  pkg/sensors/tracing/kprobe_test.go
  pkg/sensors/tracing/kprobe_validation_test.go
  pkg/sensors/tracing/lsm_test.go
  pkg/sensors/tracing/tracepoint_test.go
  pkg/sensors/tracing/uprobe_test.go
Owners: @cilium/tetragon

tetragon: Add go:build !windows to kernels.go
  pkg/kernels/kernels.go
Owners: @cilium/tetragon

tetragon: Use kernels.GetKernelVersion in observerFindBTF
  pkg/btf/btf.go
Owners: @cilium/tetragon

tetragon: Boost loop iteration in prepend_path
  bpf/lib/bpf_d_path.h
Owners: @cilium/tetragon

tetragon: Add TestLongPathMax test
  pkg/sensors/tracing/kprobe_test.go
Owners: @cilium/tetragon

helm: Allow extending clusterroles and operator configmap
  install/kubernetes/tetragon/templates/_extensions.tpl
  install/kubernetes/tetragon/templates/clusterrole.yaml
  install/kubernetes/tetragon/templates/operator_clusterrole.yaml
  install/kubernetes/tetragon/templates/operator_configmap.yaml
Owners: @cilium/tetragon

helm: enableLsmSensor flag
  docs/content/en/docs/reference/helm-chart.md
  install/kubernetes/tetragon/README.md
  install/kubernetes/tetragon/templates/_container_tetragon.tpl
  install/kubernetes/tetragon/templates/daemonset.yaml
  install/kubernetes/tetragon/values.yaml
Owners: @mtardy, @cilium/tetragon

helm: enableLsmSensor flag
  docs/content/en/docs/reference/helm-chart.md
  install/kubernetes/tetragon/README.md
  install/kubernetes/tetragon/templates/_container_tetragon.tpl
  install/kubernetes/tetragon/templates/daemonset.yaml
  install/kubernetes/tetragon/values.yaml
Owners: @mtardy, @cilium/tetragon

tetragon: Add go:build !windows to kernels.go
  pkg/kernels/kernels.go
Owners: @cilium/tetragon

tetragon: Move Enable* functions to config package
  pkg/config/config_linux.go
  pkg/kernels/kernels_linux.go
  pkg/selectors/kernel.go
  pkg/selectors/kernel_test.go
  pkg/sensors/tracing/enforcer_test.go
  pkg/sensors/tracing/generickprobe.go
  pkg/sensors/tracing/genericlsm.go
  pkg/sensors/tracing/generictracepoint.go
  pkg/sensors/tracing/genericuprobe.go
  pkg/sensors/tracing/kprobe_test.go
  pkg/sensors/tracing/kprobe_validation_test.go
  pkg/sensors/tracing/lsm_test.go
  pkg/sensors/tracing/tracepoint_test.go
  pkg/sensors/tracing/uprobe_test.go
Owners: @cilium/tetragon
