Repository cilium/tetragon, changes with the owners that CODEOWNERS names for each.
All owners: @cilium/tetragon, @willfindlay, @kkourt, @mtardy

CODEOWNERS:

# Request a review from the Tetragon team on any PR
* @cilium/tetragon

# Request a review from William when codegen is edited
cmd/protoc-gen-go-tetragon/ @willfindlay

# Request a review from William when CI is edited
.github/workflows/ @willfindlay

# Request a review from kkourt when core sensor files are modified
pkg/src/sensors/ @kkourt

# Request a review from mtardy when anything from docs is modified but do not
# block on approval from anyone in the tetragon team
/docs/ @mtardy @cilium/tetragon

celbpf: add multi-kprobe support
  bpf/process/cel_expr.h
  pkg/selectors/celexpr.go
  pkg/selectors/kernel.go
  pkg/selectors/kernel_test.go
  pkg/selectors/selectors.go
  pkg/sensors/tracing/celbpf_test.go
  pkg/sensors/tracing/generickprobe.go
Owners: @cilium/tetragon

bpf: don't use MAX_SELECTORS_MASK for args
  bpf/lib/generic.h
  bpf/process/event_config.h
  bpf/process/generic_arg.h
  bpf/process/generic_calls.h
  bpf/process/generic_path.h
  bpf/process/usdt_arg.h
  bpf/process/user_preload.h
Owners: @cilium/tetragon

bpf: correct off-by-one bounds checks
  bpf/process/types/basic.h
Owners: @cilium/tetragon

bpf: introduce MAX_POSSIBLE_ARGS_MASK
  bpf/lib/generic.h
  bpf/process/types/basic.h
Owners: @cilium/tetragon

bpf: remove unnecessary mask
  bpf/process/user_preload.h
Owners: @cilium/tetragon

bpf: use FNV-1a variant for ratelimit hash
  bpf/process/ratelimit_maps.h
  bpf/process/types/basic.h
Owners: @cilium/tetragon

bpf: hash args for ratelimit key
  bpf/process/heap.h
  bpf/process/ratelimit_maps.h
  bpf/process/types/basic.h
Owners: @cilium/tetragon

bugtool: add extra files support
  pkg/bugtool/bugtool.go
  pkg/defaults/defaults.go
  pkg/defaults/defaults_windows.go
Owners: @cilium/tetragon

bugtool: test extra files round-trip
  pkg/bugtool/bugtool_test.go
Owners: @cilium/tetragon

new(api,vendor): implement event log service proto.
  api/v1/README.md
  api/v1/tetragon/eventlogservice.pb.go
  api/v1/tetragon/eventlogservice.pb.json.go
  api/v1/tetragon/eventlogservice.proto
  api/v1/tetragon/eventlogservice_grpc.pb.go
  contrib/tetragon-rthooks/vendor/github.com/cilium/tetragon/api/v1/tetragon/eventlogservice.pb.go
  contrib/tetragon-rthooks/vendor/github.com/cilium/tetragon/api/v1/tetragon/eventlogservice.pb.json.go
  contrib/tetragon-rthooks/vendor/github.com/cilium/tetragon/api/v1/tetragon/eventlogservice.proto
  contrib/tetragon-rthooks/vendor/github.com/cilium/tetragon/api/v1/tetragon/eventlogservice_grpc.pb.go
  docs/content/en/docs/reference/grpc-api.md
  vendor/github.com/cilium/tetragon/api/v1/tetragon/eventlogservice.pb.go
  vendor/github.com/cilium/tetragon/api/v1/tetragon/eventlogservice.pb.json.go
  vendor/github.com/cilium/tetragon/api/v1/tetragon/eventlogservice.proto
  vendor/github.com/cilium/tetragon/api/v1/tetragon/eventlogservice_grpc.pb.go
Owners: @cilium/tetragon, @mtardy

new(pkg/server): implement event log service server.
  pkg/server/eventlog/server.go
Owners: @cilium/tetragon

new(pkg/exporter): added test around exporter SetLogParams.
  pkg/exporter/exporter_test.go
Owners: @cilium/tetragon

new(cmd/tetra): added `tetra eventlog` command.
  cmd/tetra/commands.go
  cmd/tetra/eventlog/client.go
  cmd/tetra/eventlog/eventlog.go
Owners: @cilium/tetragon

new(cmd,pkg): expose event log service server.
  cmd/tetragon/main.go
  pkg/bench/bench.go
  pkg/exporter/exporter.go
  pkg/exporter/exporter_test.go
  pkg/observer/observertesthelper/observer_test_helper.go
Owners: @cilium/tetragon

tetra: policytest: improve run output
  cmd/tetra/policytest/policytest.go
  pkg/testutils/policytest/dump.go
Owners: @cilium/tetragon

policytest: add ExecTester trigger
  pkg/testutils/policytest/trigger.go
Owners: @cilium/tetragon

policytest: add action counts test
  pkg/testutils/policytest/actioncnts.go
  pkg/testutils/policytest/policytest.go
  pkg/testutils/policytest/runner.go
  tests/policytests/uprobes.go
Owners: @cilium/tetragon

policytets: add uprobe-override test
  contrib/tester-progs/.gitignore
  contrib/tester-progs/Makefile
  contrib/tester-progs/uprobe-simple.c
  tests/policytests/uprobes.go
Owners: @cilium/tetragon

tetra: add policytest command
  cmd/tetra/commands_linux.go
  cmd/tetra/policytest/policytest.go
Owners: @cilium/tetragon

policytest: add support for monitor mode
  cmd/tetra/policytest/policytest.go
  pkg/testutils/policytest/conf.go
  pkg/testutils/policytest/runner.go
  tests/policytests/uprobes.go
Owners: @cilium/tetragon

policytest: move cleanup() closure into a struct
  pkg/testutils/policytest/runner.go
Owners: @cilium/tetragon

policytest: dump the poilcy file
  cmd/tetra/policytest/policytest.go
  pkg/testutils/policytest/conf.go
  pkg/testutils/policytest/runner.go
Owners: @cilium/tetragon

uprobes: redo TestUprobeGeneric using policytest
  pkg/sensors/tracing/uprobe_test.go
  tests/policytests/uprobes.go
Owners: @cilium/tetragon

policytest: introduce package
  pkg/testutils/policytest/builder.go
  pkg/testutils/policytest/conf.go
  pkg/testutils/policytest/eventcheck_logger.go
  pkg/testutils/policytest/observertest.go
  pkg/testutils/policytest/policytest.go
  pkg/testutils/policytest/register.go
  pkg/testutils/policytest/runner.go
  pkg/testutils/policytest/trigger.go
Owners: @cilium/tetragon

tests: add unit test for NotEqual operator with multiple values
  pkg/sensors/tracing/kprobe_test.go
Owners: @cilium/tetragon

bugtool: test extra files round-trip
  pkg/bugtool/bugtool_test.go
Owners: @cilium/tetragon

bugtool: add extra files support
  pkg/bugtool/bugtool.go
  pkg/defaults/defaults.go
  pkg/defaults/defaults_windows.go
Owners: @cilium/tetragon

fix: optimize WaitCRDs with resync period
  pkg/manager/manager.go
Owners: @cilium/tetragon

fix: optimize WaitCRDs with resync period
  pkg/manager/manager.go
Owners: @cilium/tetragon

bpf: remove deprecated FD-tracking actions and related code
  bpf/process/generic_calls.h
  bpf/process/types/basic.h
  pkg/selectors/kernel.go
  pkg/selectors/kernel_test.go
  pkg/sensors/tracing/enforcer_test.go
  pkg/sensors/tracing/kprobe_copyfd_test.go
  pkg/sensors/tracing/kprobe_filterchange_test.go
  pkg/sensors/tracing/kprobe_maxentries_test.go
  pkg/sensors/tracing/kprobe_test.go
  testdata/specs/capchanges.yaml.tmpl
  testdata/specs/nschanges.yaml.tmpl
Owners: @cilium/tetragon

autogenerated: update protobuf, CRDs, and vendor files
  api/v1/README.md
  api/v1/tetragon/codegen/eventchecker/eventchecker.pb.go
  api/v1/tetragon/tetragon.pb.go
  api/v1/tetragon/tetragon.pb.json.go
  api/v1/tetragon/tetragon.proto
  contrib/tetragon-rthooks/vendor/github.com/cilium/tetragon/api/v1/tetragon/tetragon.pb.go
  contrib/tetragon-rthooks/vendor/github.com/cilium/tetragon/api/v1/tetragon/tetragon.pb.json.go
  contrib/tetragon-rthooks/vendor/github.com/cilium/tetragon/api/v1/tetragon/tetragon.proto
  docs/content/en/docs/reference/grpc-api.md
  docs/content/en/docs/reference/tracing-policy.md
  install/kubernetes/tetragon/crds-yaml/cilium.io_tracingpolicies.yaml
  install/kubernetes/tetragon/crds-yaml/cilium.io_tracingpoliciesnamespaced.yaml
  pkg/k8s/apis/cilium.io/client/crds/v1alpha1/cilium.io_tracingpolicies.yaml
  pkg/k8s/apis/cilium.io/client/crds/v1alpha1/cilium.io_tracingpoliciesnamespaced.yaml
  pkg/k8s/apis/cilium.io/v1alpha1/types.go
  pkg/k8s/apis/cilium.io/v1alpha1/version.go
  vendor/github.com/cilium/tetragon/api/v1/tetragon/codegen/eventchecker/eventchecker.pb.go
  vendor/github.com/cilium/tetragon/api/v1/tetragon/tetragon.pb.go
  vendor/github.com/cilium/tetragon/api/v1/tetragon/tetragon.pb.json.go
  vendor/github.com/cilium/tetragon/api/v1/tetragon/tetragon.proto
  vendor/github.com/cilium/tetragon/pkg/k8s/apis/cilium.io/client/crds/v1alpha1/cilium.io_tracingpolicies.yaml
  vendor/github.com/cilium/tetragon/pkg/k8s/apis/cilium.io/client/crds/v1alpha1/cilium.io_tracingpoliciesnamespaced.yaml
  vendor/github.com/cilium/tetragon/pkg/k8s/apis/cilium.io/v1alpha1/types.go
  vendor/github.com/cilium/tetragon/pkg/k8s/apis/cilium.io/v1alpha1/version.go
Owners: @cilium/tetragon, @mtardy

tests: fix TestMaxPath/path for kernels without security_path_truncate
  pkg/sensors/tracing/kprobe_test.go
Owners: @cilium/tetragon

encoder: add compact output for security_file_truncate
  pkg/encoder/encoder.go
Owners: @cilium/tetragon

docs: document kernel compatibility for filename access monitoring
  docs/content/en/docs/use-cases/filename-access.md
Owners: @mtardy, @cilium/tetragon

fix(pkg/sensors): skip nested ptr detection for indexed array access.
  pkg/sensors/tracing/generic_test.go
Owners: @cilium/tetragon

tester-progs: extend uprobe resolve tests
  contrib/tester-progs/.uprobe-resolve.c.swp
  contrib/tester-progs/uprobe-resolve.c
  pkg/sensors/tracing/uprobe_reg_test.go
Owners: @cilium/tetragon

tester-progs: refactor uprobe resolve test code
  pkg/sensors/tracing/uprobe_reg_test.go
Owners: @cilium/tetragon

tester-progs: adjust dyn array uprobe-resolve test
  contrib/tester-progs/uprobe-resolve.c
  pkg/sensors/tracing/uprobe_reg_test.go
Owners: @cilium/tetragon

tracing: Add uprobe anon struct/union test
  pkg/sensors/tracing/uprobe_reg_test.go
Owners: @cilium/tetragon

uprobe-resolve: test 2D static arrays
  contrib/tester-progs/uprobe-resolve.c
  pkg/sensors/tracing/uprobe_reg_test.go
Owners: @cilium/tetragon
