Repository cilium/tetragon, changes with the owners that CODEOWNERS names for each.
All owners: @cilium/tetragon, @willfindlay, @kkourt, @mtardy

tetragon: docs, minor updates to metrics concepts
  docs/content/en/docs/concepts/metrics.md
Owners: @mtardy, @cilium/tetragon

Minor docs changes for 1.0 messaging
  docs/content/en/docs/overview/_index.md
  docs/layouts/partials/footer.html
Owners: @mtardy, @cilium/tetragon

Prepare for v1.0.0-rc.5 release
  docs/content/en/docs/reference/helm-chart.md
  docs/hugo.toml
  install/kubernetes/Chart.yaml
  install/kubernetes/README.md
  install/kubernetes/values.yaml
Owners: @mtardy, @cilium/tetragon

doc: Add intructions on how to create EKS and AKS clusters
  docs/content/en/docs/getting-started/install-k8s.md
Owners: @mtardy, @cilium/tetragon

doc: Add intructions on how to create EKS and AKS clusters
  docs/content/en/docs/getting-started/install-k8s.md
Owners: @mtardy, @cilium/tetragon

tetra:cli: print suid binary execution
  pkg/encoder/color.go
  pkg/encoder/encoder.go
Owners: @cilium/tetragon

ci: check docs links fixes and configuration
  .github/lychee.toml
  .github/workflows/check-links-cron.yaml
  .github/workflows/check-links-pr.yaml
Owners: @cilium/tetragon, @willfindlay

doc: Restructure menu
  docs/content/en/docs/policy-library/_index.md
  docs/content/en/docs/policy-library/bpf.md
  docs/content/en/docs/policy-library/library-version.md
  docs/content/en/docs/policy-library/observability/_index.md
  docs/content/en/docs/policy-library/sshd-accepts.md
  docs/content/en/docs/policy-library/sudo.md
  docs/content/en/docs/policy-library/tmp-execs.md
Owners: @mtardy, @cilium/tetragon

tetragon: Add policy library section
  docs/content/en/docs/policy-library/_index.md
  docs/content/en/docs/policy-library/bpf.md
  docs/content/en/docs/policy-library/library-version.md
  docs/content/en/docs/policy-library/sshd-accepts.md
  docs/content/en/docs/policy-library/sudo.md
  docs/content/en/docs/policy-library/tmp-execs.md
  examples/policylibrary/acceptsshd.yaml
  examples/policylibrary/bpf.yaml
  examples/policylibrary/library.yaml
Owners: @mtardy, @cilium/tetragon

tetragon: docs jq commands
  docs/content/en/docs/policy-library/observability/_index.md
Owners: @mtardy, @cilium/tetragon

gh: use cosign sign -y
  .github/workflows/build-clang-image.yaml
  .github/workflows/build-images-ci.yml
  .github/workflows/build-images-releases.yml
Owners: @willfindlay

build-images-ci: fix GH action
  .github/workflows/build-images-ci.yml
Owners: @willfindlay

gh: add CI image builds for test* branches
  .github/workflows/build-images-ci.yml
Owners: @willfindlay

gh: update cosign installer
  .github/workflows/build-images-ci.yml
  .github/workflows/build-images-releases.yml
Owners: @willfindlay

gh: add CI image builds for test* branches
  .github/workflows/build-images-ci.yml
Owners: @willfindlay

gh: use cosign sign -y
  .github/workflows/build-clang-image.yaml
  .github/workflows/build-images-ci.yml
  .github/workflows/build-images-releases.yml
Owners: @willfindlay

gh: update cosign installer
  .github/workflows/build-images-ci.yml
  .github/workflows/build-images-releases.yml
Owners: @willfindlay

build-images-ci: fix GH action
  .github/workflows/build-images-ci.yml
Owners: @willfindlay

Use a message copy to apply fieldFilters in exec events
  cmd/tetra/getevents/io_reader_client.go
  pkg/server/server.go
Owners: @cilium/tetragon

tetragon: docs, add jq for loader
  docs/content/en/docs/policy-library/observability/_index.md
Owners: @mtardy, @cilium/tetragon

doc: Add template for library sections
  docs/content/en/docs/policy-library/_index.md
  docs/content/en/docs/policy-library/observability/_index.md
Owners: @mtardy, @cilium/tetragon

Use a message copy to apply fieldFilters in exec events
  cmd/tetra/getevents/io_reader_client.go
  pkg/server/server.go
Owners: @cilium/tetragon

tetragon: docs, add template to policy library
  docs/content/en/docs/policy-library/observability/_index.md
Owners: @mtardy, @cilium/tetragon

policylibrary: add suid binary example
  docs/content/en/docs/policy-library/observability/_index.md
Owners: @mtardy, @cilium/tetragon

hubble-fgs: add BPF library policy
  docs/content/en/docs/policy-library/observability/_index.md
  examples/policylibrary/bpf.yaml
Owners: @mtardy, @cilium/tetragon

tetragon: library policy module load audit
  docs/content/en/docs/policy-library/observability/_index.md
  examples/policylibrary/modules.yaml
  examples/policylibrary/sshd.yaml
Owners: @mtardy, @cilium/tetragon

tetragon: docs egress cluster policy library
  docs/content/en/docs/policy-library/observability/_index.md
  examples/policylibrary/egress.yaml
Owners: @mtardy, @cilium/tetragon

ci: check docs links fixes and configuration
  .github/lychee.toml
  .github/workflows/check-links-cron.yaml
  .github/workflows/check-links-pr.yaml
Owners: @cilium/tetragon, @willfindlay

doc: Add template for library sections
  docs/content/en/docs/policy-library/_index.md
  docs/content/en/docs/policy-library/observability/_index.md
Owners: @mtardy, @cilium/tetragon

tetragon: docs jq commands
  docs/content/en/docs/policy-library/observability/_index.md
Owners: @mtardy, @cilium/tetragon

hubble-fgs: add BPF library policy
  docs/content/en/docs/policy-library/observability/_index.md
  examples/policylibrary/bpf.yaml
Owners: @mtardy, @cilium/tetragon

tetragon: docs, add jq for loader
  docs/content/en/docs/policy-library/observability/_index.md
Owners: @mtardy, @cilium/tetragon

tetragon: Add policy library section
  docs/content/en/docs/policy-library/_index.md
  docs/content/en/docs/policy-library/bpf.md
  docs/content/en/docs/policy-library/library-version.md
  docs/content/en/docs/policy-library/sshd-accepts.md
  docs/content/en/docs/policy-library/sudo.md
  docs/content/en/docs/policy-library/tmp-execs.md
  examples/policylibrary/acceptsshd.yaml
  examples/policylibrary/bpf.yaml
  examples/policylibrary/library.yaml
Owners: @mtardy, @cilium/tetragon

tetragon: docs, add template to policy library
  docs/content/en/docs/policy-library/observability/_index.md
Owners: @mtardy, @cilium/tetragon

doc: Restructure menu
  docs/content/en/docs/policy-library/_index.md
  docs/content/en/docs/policy-library/bpf.md
  docs/content/en/docs/policy-library/library-version.md
  docs/content/en/docs/policy-library/observability/_index.md
  docs/content/en/docs/policy-library/sshd-accepts.md
  docs/content/en/docs/policy-library/sudo.md
  docs/content/en/docs/policy-library/tmp-execs.md
Owners: @mtardy, @cilium/tetragon

tetragon: library policy module load audit
  docs/content/en/docs/policy-library/observability/_index.md
  examples/policylibrary/modules.yaml
  examples/policylibrary/sshd.yaml
Owners: @mtardy, @cilium/tetragon

tetragon: docs egress cluster policy library
  docs/content/en/docs/policy-library/observability/_index.md
  examples/policylibrary/egress.yaml
Owners: @mtardy, @cilium/tetragon

tetragon: docs, fix modules policy library CRD link
  docs/content/en/docs/policy-library/observability/_index.md
Owners: @mtardy, @cilium/tetragon

bpf: Dual-license the code as GPL-2.0 OR BSD-2-Clause (update text)
  README.md
  bpf/COPYING
  bpf/LICENSE.BSD-2-Clause
  bpf/LICENSE.GPL-2.0
Owners: @cilium/tetragon

tetragon: docs, fix modules policy library CRD link
  docs/content/en/docs/policy-library/observability/_index.md
Owners: @mtardy, @cilium/tetragon

CODEOWNERS:

# Request a review from the Tetragon team on any PR
* @cilium/tetragon

# Request a review from William when codegen is edited
cmd/protoc-gen-go-tetragon/ @willfindlay

# Request a review from William when CI is edited
.github/workflows/ @willfindlay

# Request a review from kkourt when core sensor files are modified
pkg/src/sensors/ @kkourt

# Request a review from mtardy when anything from docs is modified but do not
# block on approval from anyone in the tetragon team
/docs/ @mtardy @cilium/tetragon
