Repository cilium/tetragon, changes with the owners that CODEOWNERS names for each.
All owners: @cilium/tetragon, @willfindlay, @kkourt, @mtardy

CODEOWNERS:

# Request a review from the Tetragon team on any PR
* @cilium/tetragon

# Request a review from William when codegen is edited
cmd/protoc-gen-go-tetragon/ @willfindlay

# Request a review from William when CI is edited
.github/workflows/ @willfindlay

# Request a review from kkourt when core sensor files are modified
pkg/src/sensors/ @kkourt

# Request a review from mtardy when anything from docs is modified but do not
# block on approval from anyone in the tetragon team
/docs/ @mtardy @cilium/tetragon

metrics: Share WithPod constructors across builds
  pkg/metrics/metricvec.go
  pkg/metrics/metricwithpod.go
  pkg/metrics/nok8s.go
Owners: @cilium/tetragon

cleanup(cmd,pkg): port processCache to be context `Done` aware
  cmd/tetragon/main.go
  pkg/bench/bench.go
  pkg/grpc/exec/exec_test_helper.go
  pkg/grpc/process_manager_test.go
  pkg/grpc/process_manager_test_linux.go
  pkg/grpc/process_manager_test_windows.go
  pkg/observer/observertesthelper/observer_test_helper.go
  pkg/process/cache.go
  pkg/process/cache_test.go
  pkg/process/process.go
Owners: @cilium/tetragon

fix(pkg/process): use a closing-channel to signal processCache to leave.
  pkg/process/cache.go
Owners: @cilium/tetragon

cleanup(pkg): port eventCache to be context `Done` aware
  pkg/eventcache/eventcache.go
  pkg/grpc/exec/exec_test_helper.go
  pkg/grpc/process_manager.go
Owners: @cilium/tetragon

metrics: Bound the binary label cardinality
  cmd/tetragon/main.go
  docs/content/en/docs/installation/metrics.md
  docs/data/tetragon_flags.yaml
  pkg/constants/constants.go
  pkg/metrics/metricwithbinary.go
  pkg/metrics/metricwithbinary_test.go
  pkg/option/config.go
  pkg/option/flags.go
  pkg/option/metricslabels.go
Owners: @cilium/tetragon, @mtardy

exec: Release exit refs on event cache expiry
  pkg/eventcache/eventcache.go
  pkg/grpc/exec/exec.go
  pkg/grpc/exec/exec_test_helper.go
Owners: @cilium/tetragon

fix(pkg/eventcache): use a closing-channel to signal eventCache to leave.
  pkg/eventcache/eventcache.go
Owners: @cilium/tetragon

new(pkg): add a synctest to enforce cache goroutines cleanup
  pkg/eventcache/eventcache_test.go
Owners: @cilium/tetragon

uprobe: override registers with CEL expressions
  bpf/process/cel_expr.h
  bpf/process/generic_calls.h
  bpf/process/uprobe_offload.h
  contrib/verify/verify_test.go
  pkg/sensors/tracing/genericuprobe.go
Owners: @cilium/tetragon

policytest: cover cel() register overrides
  contrib/tester-progs/.gitignore
  contrib/tester-progs/Makefile
  contrib/tester-progs/cel-regs-override.c
  tests/policytests/uprobes_cel_regs.go
Owners: @cilium/tetragon

docs: document cel() in argRegs
  docs/content/en/docs/concepts/tracing-policy/selectors.md
Owners: @mtardy, @cilium/tetragon

policyfilter: remove ID if policy load fails
  pkg/sensors/handler.go
  pkg/sensors/manager_test.go
Owners: @cilium/tetragon

sensors: test that failed policy adds do not leak policyfilter IDs
  pkg/sensors/manager_test.go
Owners: @cilium/tetragon

ci/bpf-unit-tests: remove slow azure apt mirror
  .github/workflows/bpf-unit-tests.yml
Owners: @willfindlay

policyfilter: remove ID if policy load fails
  pkg/sensors/handler.go
Owners: @cilium/tetragon

sensors: test that failed policy adds do not leak policyfilter IDs
  pkg/sensors/manager_test.go
Owners: @cilium/tetragon

new(bpf): bpf implementation for `override.sopath` uprobe support
  bpf/process/uprobe_dyn.h
  bpf/process/uprobe_dyn_arm64.h
  bpf/process/uprobe_dyn_x86.h
  bpf/process/uprobe_offload.h
Owners: @cilium/tetragon

new(pkg): update `UprobeRegs` structure for uprobe dynamic SO feat
  pkg/api/processapi/processapi.go
Owners: @cilium/tetragon

new(pkg/sensors): introduce `tracing.DynamicOverride`
  pkg/sensors/tracing/dynamic_so.go
Owners: @cilium/tetragon

new: add policytest around `override.sopath` feat
  contrib/tester-progs/uprobe-lib.c
  contrib/tester-progs/uprobe-simple.c
  tests/policytests/uprobes.go
Owners: @cilium/tetragon

chore(pkg/sensors): non-dynamic symbol override mandates single uprobe.
  pkg/sensors/tracing/genericuprobe.go
Owners: @cilium/tetragon

new(pkg/elf): add `SafeELFFile::DynamicAddress`
  pkg/elf/file.go
Owners: @cilium/tetragon

new(docs): add documentation for `override.sopath` feat
  docs/content/en/docs/concepts/tracing-policy/selectors.md
Owners: @mtardy, @cilium/tetragon

new(pkg): userspace implementation for `override.sopath` uprobe support
  pkg/sensors/tracing/genericuprobe.go
Owners: @cilium/tetragon

chore(ci): enable `log-file` and `bpf-debug-{areas,log}` in policytests
  .github/workflows/tarball-tests.yaml
Owners: @willfindlay

crd: introduce matchStates in KProbeSelector CRD
  api/v1/README.md
  api/v1/tetragon/tetragon.pb.go
  api/v1/tetragon/tetragon.proto
  contrib/tetragon-rthooks/vendor/github.com/cilium/tetragon/api/v1/tetragon/tetragon.pb.go
  contrib/tetragon-rthooks/vendor/github.com/cilium/tetragon/api/v1/tetragon/tetragon.proto
  docs/content/en/docs/reference/grpc-api.md
  docs/content/en/docs/reference/tracing-policy.md
  install/kubernetes/tetragon/crds-yaml/cilium.io_tracingpolicies.yaml
  install/kubernetes/tetragon/crds-yaml/cilium.io_tracingpoliciesnamespaced.yaml
  pkg/api/tracingapi/client_kprobe.go
  pkg/grpc/tracing/tracing.go
  pkg/k8s/apis/cilium.io/client/crds/v1alpha1/cilium.io_tracingpolicies.yaml
  pkg/k8s/apis/cilium.io/client/crds/v1alpha1/cilium.io_tracingpoliciesnamespaced.yaml
  pkg/k8s/apis/cilium.io/v1alpha1/tracing_policy_types.go
  pkg/k8s/apis/cilium.io/v1alpha1/types.go
  pkg/k8s/apis/cilium.io/v1alpha1/version.go
  pkg/k8s/apis/cilium.io/v1alpha1/zz_generated.deepcopy.go
  pkg/tracingpolicy/schemas/tracingpolicy-cilium.io.json
  pkg/tracingpolicy/schemas/tracingpolicynamespaced-cilium.io.json
  pkg/tracingpolicy/validation_test.go
  vendor/github.com/cilium/tetragon/api/v1/tetragon/tetragon.pb.go
  vendor/github.com/cilium/tetragon/api/v1/tetragon/tetragon.proto
  vendor/github.com/cilium/tetragon/pkg/k8s/apis/cilium.io/client/crds/v1alpha1/cilium.io_tracingpolicies.yaml
  vendor/github.com/cilium/tetragon/pkg/k8s/apis/cilium.io/client/crds/v1alpha1/cilium.io_tracingpoliciesnamespaced.yaml
  vendor/github.com/cilium/tetragon/pkg/k8s/apis/cilium.io/v1alpha1/tracing_policy_types.go
  vendor/github.com/cilium/tetragon/pkg/k8s/apis/cilium.io/v1alpha1/types.go
  vendor/github.com/cilium/tetragon/pkg/k8s/apis/cilium.io/v1alpha1/version.go
  vendor/github.com/cilium/tetragon/pkg/k8s/apis/cilium.io/v1alpha1/zz_generated.deepcopy.go
Owners: @cilium/tetragon, @mtardy

tracing: expand state selectors from macros
  pkg/sensors/tracing/generic.go
Owners: @cilium/tetragon

policytest: add state policytest
  tests/policytests/kprobes.go
Owners: @cilium/tetragon

docs: add matchStates and UpdateState sections
  docs/content/en/docs/concepts/tracing-policy/selectors.md
Owners: @mtardy, @cilium/tetragon

tracing: map policy state names to ids
  pkg/sensors/tracing/policyhandler_linux.go
Owners: @cilium/tetragon

bpf: implement state matching and updating
  bpf/process/generic_calls.h
  bpf/process/generic_maps.h
  bpf/process/pfilter.h
  bpf/process/types/basic.h
Owners: @cilium/tetragon

tracing/lsm: allow UpdateState match actions
  pkg/sensors/tracing/genericlsm.go
Owners: @cilium/tetragon

selectors/kernel: encode state filters and UpdateState actions
  pkg/selectors/kernel.go
  pkg/selectors/kernel_test.go
  pkg/sensors/tracing/generickprobe.go
  pkg/sensors/tracing/genericlsm.go
  pkg/sensors/tracing/generictracepoint.go
  pkg/sensors/tracing/genericuprobe.go
  pkg/sensors/tracing/genericusdt.go
Owners: @cilium/tetragon

tracing: load policy state map
  pkg/sensors/tracing/generickprobe.go
  pkg/sensors/tracing/genericlsm.go
  pkg/sensors/tracing/generictracepoint.go
  pkg/sensors/tracing/genericuprobe.go
  pkg/sensors/tracing/genericusdt.go
Owners: @cilium/tetragon

tracepoint: truncate and quote unparsable format lines in errors
  pkg/tracepoint/tracepoint.go
Owners: @cilium/tetragon

crds: run "make crds"
  install/kubernetes/tetragon/crds-yaml/cilium.io_tracingpolicies.yaml
  install/kubernetes/tetragon/crds-yaml/cilium.io_tracingpoliciesnamespaced.yaml
  pkg/k8s/apis/cilium.io/client/crds/v1alpha1/cilium.io_tracingpolicies.yaml
  pkg/k8s/apis/cilium.io/client/crds/v1alpha1/cilium.io_tracingpoliciesnamespaced.yaml
  pkg/tracingpolicy/schemas/tracingpolicy-cilium.io.json
  pkg/tracingpolicy/schemas/tracingpolicynamespaced-cilium.io.json
  vendor/github.com/cilium/tetragon/pkg/k8s/apis/cilium.io/client/crds/v1alpha1/cilium.io_tracingpolicies.yaml
  vendor/github.com/cilium/tetragon/pkg/k8s/apis/cilium.io/client/crds/v1alpha1/cilium.io_tracingpoliciesnamespaced.yaml
  vendor/github.com/cilium/tetragon/pkg/k8s/apis/cilium.io/v1alpha1/types.go
  vendor/github.com/cilium/tetragon/pkg/k8s/apis/cilium.io/v1alpha1/version.go
Owners: @cilium/tetragon

tracepoint: do not index past the end of the type fields
  pkg/tracepoint/fieldtype.go
Owners: @cilium/tetragon

tracingpolicy: validate tracepoint subsystem and event names in the CRD
  pkg/k8s/apis/cilium.io/v1alpha1/types.go
  pkg/k8s/apis/cilium.io/v1alpha1/version.go
  pkg/sensors/tracing/generictracepoint.go
  pkg/sensors/tracing/tracepoint_validation_test.go
Owners: @cilium/tetragon

tracepoint: test parsing of truncated field definitions
  pkg/tracepoint/fieldtype_test.go
Owners: @cilium/tetragon

tracingpolicy: test schema validation of tracepoint subsystem and event
  pkg/tracingpolicy/validation_test.go
Owners: @cilium/tetragon
