Repository cilium/tetragon, changes with the owners that CODEOWNERS names for each.
All owners: @cilium/tetragon, @willfindlay, @kkourt, @mtardy

tetragon: Add TestMaxPath/file test
  pkg/sensors/tracing/kprobe_test.go
Owners: @cilium/tetragon

tetragon: Adjust TestMultiplePathComponents test with path offload
  pkg/sensors/tracing/kprobe_test.go
Owners: @cilium/tetragon

tetragon: Add TestMaxPath/path test
  pkg/sensors/tracing/kprobe_test.go
Owners: @cilium/tetragon

tetragon: Add TestMaxPath/dentry test
  pkg/sensors/tracing/kprobe_test.go
Owners: @cilium/tetragon

tetragon: Add documentation for some argument types
  docs/content/en/docs/concepts/tracing-policy/argument_types.md
Owners: @mtardy, @cilium/tetragon

watcher: Fix pod lookup if the index is out-of-sync
  pkg/watcher/fake.go
  pkg/watcher/watcher.go
Owners: @cilium/tetragon

k8s: change schema version to 1.5.0
  pkg/k8s/apis/cilium.io/v1alpha1/version.go
  vendor/github.com/cilium/tetragon/pkg/k8s/apis/cilium.io/v1alpha1/version.go
Owners: @cilium/tetragon

watcher: Fix pod lookup if the index is out-of-sync
  pkg/watcher/fake.go
  pkg/watcher/watcher.go
Owners: @cilium/tetragon

ci: In "Tetragon Go Test" add vmlinux in artifact when test fails
  .github/workflows/gotests.yml
Owners: @willfindlay

btf/validation.go : Change syscall prefix trim to use pkg/arch helper
  pkg/btf/validation.go
Owners: @cilium/tetragon

testdata: Change kprobe from `ksys_lseek` to `vfs_llseek`
  testdata/specs/lseek.yaml
  testdata/specs/notasyscall.yaml
  testdata/specs/wrongargindex.yaml
  testdata/specs/wrongargtype.yaml
Owners: @cilium/tetragon

btf.go : Add wrapper for `FindBtfFuncParamFromHook` to use different spec
  pkg/btf/btf.go
Owners: @cilium/tetragon

testdata: Change kprobe from `ksys_lseek` to `vfs_llseek`
  testdata/specs/lseek.yaml
  testdata/specs/notasyscall.yaml
  testdata/specs/wrongargindex.yaml
  testdata/specs/wrongargtype.yaml
Owners: @cilium/tetragon

btf_test.go : Add `listBtfFiles` to easily find all testable BTF files
  pkg/btf/btf_test.go
Owners: @cilium/tetragon

pkg/btf : Rename all functions/variables including "Btf" to "BTF"
  cmd/tetragon-vmtests-run/image.go
  cmd/tetragon/main_linux.go
  pkg/api/tracingapi/client_kprobe.go
  pkg/btf/btf.go
  pkg/btf/btf_test.go
  pkg/btf/validation.go
  pkg/btf/validation_test.go
  pkg/bugtool/bugtool.go
  pkg/bugtool/bugtool_test.go
  pkg/observer/observertesthelper/observer_test_helper.go
  pkg/sensors/tracing/generic.go
  pkg/sensors/tracing/generic_test.go
  pkg/sensors/tracing/generickprobe.go
  pkg/sensors/tracing/genericlsm.go
Owners: @cilium/tetragon

validation_test.go : Perform TestSpecs on multiple BTF files
  pkg/btf/validation_test.go
Owners: @cilium/tetragon

btf_test.go : Change TestResolveBtfPath sub-tests to use custom BTF file
  pkg/btf/btf_test.go
Owners: @cilium/tetragon

btf/validation.go : Change syscall prefix trim to use pkg/arch helper
  pkg/btf/validation.go
Owners: @cilium/tetragon

k8s: change schema version to 1.5.0
  pkg/k8s/apis/cilium.io/v1alpha1/version.go
  vendor/github.com/cilium/tetragon/pkg/k8s/apis/cilium.io/v1alpha1/version.go
Owners: @cilium/tetragon

renovate: add v1.4 and remove 1.1
  .github/renovate.json5
Owners: @cilium/tetragon

tetragon/windows: Compilation only change to build config package
  pkg/config/config_windows.go
Owners: @cilium/tetragon

Add support for pod annotations in Tetragon events
  api/v1/README.md
  api/v1/tetragon/tetragon.pb.go
  api/v1/tetragon/tetragon.proto
  contrib/tetragon-rthooks/vendor/github.com/cilium/tetragon/api/v1/tetragon/tetragon.pb.go
  contrib/tetragon-rthooks/vendor/github.com/cilium/tetragon/api/v1/tetragon/tetragon.proto
  docs/content/en/docs/reference/grpc-api.md
  pkg/option/config.go
  pkg/option/flags.go
  pkg/process/podinfo.go
  vendor/github.com/cilium/tetragon/api/v1/tetragon/tetragon.pb.go
  vendor/github.com/cilium/tetragon/api/v1/tetragon/tetragon.proto
Owners: @cilium/tetragon, @mtardy

Add enablePodAnnotations option to Helm chart
  install/kubernetes/tetragon/templates/tetragon_configmap.yaml
  install/kubernetes/tetragon/values.yaml
Owners: @cilium/tetragon

fix: add pod annotations support to Helm config Signed-off-by: Amir Reza Nazarizadeh <amir.nazarizadeh@gmail.com>
  install/kubernetes/tetragon/templates/tetragon_configmap.yaml
  install/kubernetes/tetragon/values.yaml
Owners: @cilium/tetragon

Set default for enable-pod-annotations to true in code
  pkg/option/flags.go
Owners: @cilium/tetragon

watcher: Fix pod lookup if the index is out-of-sync
  pkg/watcher/fake.go
  pkg/watcher/watcher.go
Owners: @cilium/tetragon

tetragon/windows: Cimpilation only change to compile cgroups package
  pkg/cgroups/cgroups.go
  pkg/cgroups/cgroups_linux.go
  pkg/cgroups/cgroups_windows.go
Owners: @cilium/tetragon

tetragon/windows: Add default definitions for Windows
  pkg/defaults/defaults_windows.go
Owners: @cilium/tetragon

chore(deps): update github action using old cache versions
  .github/workflows/gotests.yml
  .github/workflows/veristat-compare.yaml
  .github/workflows/veristat.yaml
Owners: @willfindlay

tetragon/windows: Port reader/namespace package to Windows
  pkg/reader/namespace/namespace_linux.go
  pkg/reader/namespace/namespace_windows.go
Owners: @cilium/tetragon

chore(deps): update github action using old cache versions
  .github/workflows/gotests.yml
  .github/workflows/veristat-compare.yaml
  .github/workflows/veristat.yaml
Owners: @willfindlay

e2e tests: fix port-forwading race
  pkg/multiplexer/multiplexer.go
  tests/e2e/helpers/portforward.go
Owners: @cilium/tetragon

e2e tests: use existing connections.
  pkg/multiplexer/multiplexer.go
  tests/e2e/checker/rpcchecker.go
  tests/e2e/helpers/grpc/grpc.go
  tests/e2e/helpers/portforward.go
  tests/e2e/state/state.go
Owners: @cilium/tetragon

watcher: Fix pod lookup if the index is out-of-sync
  pkg/watcher/fake.go
  pkg/watcher/watcher.go
Owners: @cilium/tetragon

tetragon/windows: Compilation only Change for pkg/procsyms on Windows
  pkg/procsyms/procsyms.go
  pkg/procsyms/procsyms_linux.go
  pkg/procsyms/procsyms_windows.go
Owners: @cilium/tetragon

tetragon/windows: Compilation only change to build encoder package
  pkg/encoder/raw_syscall_enter.go
  pkg/encoder/raw_syscall_enter_windows.go
Owners: @cilium/tetragon

tetragon/windows: Port package errmetrics to Windows
  pkg/errmetrics/err_msg_windows.go
  pkg/errmetrics/err_msg_windows_test.go
Owners: @cilium/tetragon

tetragon/windows: Compilation only change for pkg/metrics/syscallmetrics
  pkg/metrics/syscallmetrics/raw_syscall_name_windows.go
Owners: @cilium/tetragon

watcher: Fix pod lookup if the index is out-of-sync
  pkg/watcher/fake.go
  pkg/watcher/watcher.go
Owners: @cilium/tetragon

tetragon/windows: Port pidfile package on Windows
  pkg/pidfile/pid_alive_linux.go
  pkg/pidfile/pid_alive_windows.go
  pkg/pidfile/pidfile.go
  pkg/pidfile/pidfile_test.go
Owners: @cilium/tetragon

CODEOWNERS:

# Request a review from the Tetragon team on any PR
* @cilium/tetragon

# Request a review from William when codegen is edited
cmd/protoc-gen-go-tetragon/ @willfindlay

# Request a review from William when CI is edited
.github/workflows/ @willfindlay

# Request a review from kkourt when core sensor files are modified
pkg/src/sensors/ @kkourt

# Request a review from mtardy when anything from docs is modified but do not
# block on approval from anyone in the tetragon team
/docs/ @mtardy @cilium/tetragon
