Repository cilium/tetragon, changes with the owners that CODEOWNERS names for each.
All owners: @cilium/tetragon, @willfindlay, @kkourt, @mtardy

feat: add `nameOverride` support to helm templates
  install/kubernetes/tetragon/templates/_helpers.tpl
  install/kubernetes/tetragon/templates/clusterrole.yaml
  install/kubernetes/tetragon/templates/clusterrolebinding.yml
  install/kubernetes/tetragon/templates/daemonset.yaml
  install/kubernetes/tetragon/templates/operator_clusterrole.yaml
  install/kubernetes/tetragon/templates/operator_clusterrolebinding.yaml
  install/kubernetes/tetragon/templates/operator_configmap.yaml
  install/kubernetes/tetragon/templates/operator_deployment.yaml
  install/kubernetes/tetragon/templates/operator_role.yaml
  install/kubernetes/tetragon/templates/operator_rolebinding.yaml
  install/kubernetes/tetragon/templates/operator_service.yaml
  install/kubernetes/tetragon/templates/operator_servicemonitor.yaml
  install/kubernetes/tetragon/templates/service.yaml
  install/kubernetes/tetragon/templates/servicemonitor.yaml
  install/kubernetes/tetragon/templates/tetragon_configmap.yaml
  install/kubernetes/tetragon/values.yaml
Owners: @cilium/tetragon

tetragon/windows: Fix ancestor list
  pkg/constants/constants_linux.go
  pkg/constants/constants_windows.go
  pkg/pidfile/pid_alive_windows.go
  pkg/pidfile/pid_alive_windows_test.go
  pkg/process/process.go
  pkg/sensors/exec/procevents/proc_reader_windows.go
Owners: @cilium/tetragon

tetragon/windows: Fix ancestor list
  pkg/constants/constants_linux.go
  pkg/constants/constants_windows.go
  pkg/pidfile/pid_alive_windows.go
  pkg/pidfile/pid_alive_windows_test.go
  pkg/process/process.go
  pkg/sensors/exec/procevents/proc_reader_windows.go
Owners: @cilium/tetragon

btf validation: add dentry type
  pkg/btf/validation.go
Owners: @cilium/tetragon

btf validation: allow void * for char_buf
  pkg/btf/validation.go
Owners: @cilium/tetragon

btf validation: proper kernel type is kernel_cap_t *
  pkg/btf/validation.go
Owners: @cilium/tetragon

tetragon: Generated code for previous spec change
  install/kubernetes/tetragon/crds-yaml/cilium.io_tracingpolicies.yaml
  install/kubernetes/tetragon/crds-yaml/cilium.io_tracingpoliciesnamespaced.yaml
  pkg/k8s/apis/cilium.io/client/crds/v1alpha1/cilium.io_tracingpolicies.yaml
  pkg/k8s/apis/cilium.io/client/crds/v1alpha1/cilium.io_tracingpoliciesnamespaced.yaml
  pkg/k8s/apis/cilium.io/v1alpha1/zz_generated.deepcopy.go
  vendor/github.com/cilium/tetragon/pkg/k8s/apis/cilium.io/client/crds/v1alpha1/cilium.io_tracingpolicies.yaml
  vendor/github.com/cilium/tetragon/pkg/k8s/apis/cilium.io/client/crds/v1alpha1/cilium.io_tracingpoliciesnamespaced.yaml
  vendor/github.com/cilium/tetragon/pkg/k8s/apis/cilium.io/v1alpha1/zz_generated.deepcopy.go
Owners: @cilium/tetragon

tetragon: Add test for retrieving same argument multiple times
  pkg/sensors/tracing/kprobe_test.go
Owners: @cilium/tetragon

tetragon: Add arg field to ArgSelector spec
  pkg/k8s/apis/cilium.io/v1alpha1/types.go
  pkg/k8s/apis/cilium.io/v1alpha1/version.go
  pkg/selectors/kernel.go
  pkg/selectors/kernel_test.go
  vendor/github.com/cilium/tetragon/pkg/k8s/apis/cilium.io/v1alpha1/types.go
  vendor/github.com/cilium/tetragon/pkg/k8s/apis/cilium.io/v1alpha1/version.go
Owners: @cilium/tetragon

tetragon: Read only defined arguments
  bpf/process/generic_calls.h
  bpf/process/types/basic.h
  pkg/api/tracingapi/client_kprobe.go
  pkg/sensors/tracing/generickprobe.go
  pkg/sensors/tracing/genericlsm.go
  pkg/sensors/tracing/generictracepoint.go
  pkg/sensors/tracing/genericuprobe.go
  pkg/sensors/tracing/kprobe_test.go
Owners: @cilium/tetragon

tetragon: Add test for argument index filtering
  pkg/sensors/tracing/kprobe_test.go
Owners: @cilium/tetragon

tetragon: Add test for resolving same argument multiple times
  pkg/sensors/tracing/kprobe_test.go
Owners: @cilium/tetragon

tetragon: Rename EventConfig Arg fields
  pkg/api/tracingapi/client_kprobe.go
  pkg/sensors/tracing/generickprobe.go
  pkg/sensors/tracing/genericlsm.go
  pkg/sensors/tracing/generictracepoint.go
  pkg/sensors/tracing/genericuprobe.go
Owners: @cilium/tetragon

tetragon: Update docs for new selector arg field
  docs/content/en/docs/concepts/tracing-policy/selectors.md
Owners: @mtardy, @cilium/tetragon

tetragon: Generated code for previous spec change
  install/kubernetes/tetragon/crds-yaml/cilium.io_tracingpolicies.yaml
  install/kubernetes/tetragon/crds-yaml/cilium.io_tracingpoliciesnamespaced.yaml
  pkg/k8s/apis/cilium.io/client/crds/v1alpha1/cilium.io_tracingpolicies.yaml
  pkg/k8s/apis/cilium.io/client/crds/v1alpha1/cilium.io_tracingpoliciesnamespaced.yaml
  pkg/k8s/apis/cilium.io/v1alpha1/zz_generated.deepcopy.go
  vendor/github.com/cilium/tetragon/pkg/k8s/apis/cilium.io/client/crds/v1alpha1/cilium.io_tracingpolicies.yaml
  vendor/github.com/cilium/tetragon/pkg/k8s/apis/cilium.io/client/crds/v1alpha1/cilium.io_tracingpoliciesnamespaced.yaml
  vendor/github.com/cilium/tetragon/pkg/k8s/apis/cilium.io/v1alpha1/zz_generated.deepcopy.go
Owners: @cilium/tetragon

tetragon: Add test for retrieving same argument multiple times
  pkg/sensors/tracing/kprobe_test.go
Owners: @cilium/tetragon

tetragon: Add arg field to ArgSelector spec
  pkg/k8s/apis/cilium.io/v1alpha1/types.go
  pkg/k8s/apis/cilium.io/v1alpha1/version.go
  pkg/selectors/kernel.go
  pkg/selectors/kernel_test.go
  vendor/github.com/cilium/tetragon/pkg/k8s/apis/cilium.io/v1alpha1/types.go
  vendor/github.com/cilium/tetragon/pkg/k8s/apis/cilium.io/v1alpha1/version.go
Owners: @cilium/tetragon

tetragon: Add test for argument index filtering
  pkg/sensors/tracing/kprobe_test.go
Owners: @cilium/tetragon

tetragon: Read only defined arguments
  bpf/process/generic_calls.h
  bpf/process/types/basic.h
  pkg/api/tracingapi/client_kprobe.go
  pkg/sensors/tracing/generickprobe.go
  pkg/sensors/tracing/genericlsm.go
  pkg/sensors/tracing/generictracepoint.go
  pkg/sensors/tracing/genericuprobe.go
  pkg/sensors/tracing/kprobe_test.go
Owners: @cilium/tetragon

tetragon: Update docs for new selector arg field
  docs/content/en/docs/concepts/tracing-policy/selectors.md
Owners: @mtardy, @cilium/tetragon

tetragon: Rename EventConfig Arg fields
  pkg/api/tracingapi/client_kprobe.go
  pkg/sensors/tracing/generickprobe.go
  pkg/sensors/tracing/genericlsm.go
  pkg/sensors/tracing/generictracepoint.go
  pkg/sensors/tracing/genericuprobe.go
Owners: @cilium/tetragon

tetragon: Add test for resolving same argument multiple times
  pkg/sensors/tracing/kprobe_test.go
Owners: @cilium/tetragon

btf validation: allow void * for char_buf
  pkg/btf/validation.go
Owners: @cilium/tetragon

btf validation: add dentry type
  pkg/btf/validation.go
Owners: @cilium/tetragon

btf validation: proper kernel type is kernel_cap_t *
  pkg/btf/validation.go
Owners: @cilium/tetragon

procevents: fix in-init-tree
  pkg/sensors/exec/procevents/proc_reader.go
  pkg/sensors/exec/procevents/proc_reader_linux.go
  pkg/sensors/exec/procevents/proc_reader_windows.go
Owners: @cilium/tetragon

tetragon: Do not keep mbset map open
  pkg/mbset/mbset.go
Owners: @cilium/tetragon

tetragon: Add UpdateExecveMap interface
  pkg/mbset/mbset.go
Owners: @cilium/tetragon

tetragon: Use atomic instructions for mb_bitset update
  bpf/process/bpf_execve_event.c
Owners: @cilium/tetragon

tetragon: Use map for id mbset storage
  pkg/mbset/mbset.go
Owners: @cilium/tetragon

tetragon: Add support to clean up mbset records
  pkg/mbset/mbset.go
Owners: @cilium/tetragon

fix "security_inode_copy_up" example in docs
  docs/content/en/docs/concepts/tracing-policy/hooks.md
Owners: @mtardy, @cilium/tetragon

fix "security_inode_copy_up" example in docs
  docs/content/en/docs/concepts/tracing-policy/hooks.md
Owners: @mtardy, @cilium/tetragon

cel: Move heavy operations outside of loops
  pkg/filters/cel_expression.go
Owners: @cilium/tetragon

cel: Move heavy operations outside of loops
  pkg/filters/cel_expression.go
Owners: @cilium/tetragon

Dummy Change
  pkg/sensors/exec/procevents/proc_reader_test.go
Owners: @cilium/tetragon

tetragon/windows: Fix CI by installing llvm 18.1.8
  .github/workflows/windows-build-smoke-test.yml
Owners: @willfindlay

tetragon/windows: Fix CI by installing llvm 18.1.8
  .github/workflows/windows-build-smoke-test.yml
Owners: @willfindlay

cel: Apply EvalCEL only on events that are related to the rule
  pkg/filters/cel_expression.go
Owners: @cilium/tetragon

cel: Apply EvalCEL only on events that are related to the rule
  pkg/filters/cel_expression.go
Owners: @cilium/tetragon

CODEOWNERS:

# Request a review from the Tetragon team on any PR
* @cilium/tetragon

# Request a review from William when codegen is edited
cmd/protoc-gen-go-tetragon/ @willfindlay

# Request a review from William when CI is edited
.github/workflows/ @willfindlay

# Request a review from kkourt when core sensor files are modified
pkg/src/sensors/ @kkourt

# Request a review from mtardy when anything from docs is modified but do not
# block on approval from anyone in the tetragon team
/docs/ @mtardy @cilium/tetragon
