Repository cilium/tetragon, changes with the owners that CODEOWNERS names for each.
All owners: @cilium/tetragon, @willfindlay, @kkourt, @mtardy

CODEOWNERS:

# Request a review from the Tetragon team on any PR
* @cilium/tetragon

# Request a review from William when codegen is edited
cmd/protoc-gen-go-tetragon/ @willfindlay

# Request a review from William when CI is edited
.github/workflows/ @willfindlay

# Request a review from kkourt when core sensor files are modified
pkg/src/sensors/ @kkourt

# Request a review from mtardy when anything from docs is modified but do not
# block on approval from anyone in the tetragon team
/docs/ @mtardy @cilium/tetragon

metricsconfig: Split InitMetrics and introduce InitMetricsForDocs
  cmd/tetra/metrics/print.go
  pkg/metrics/eventmetrics/eventmetrics.go
  pkg/metrics/kprobemetrics/kprobemetrics.go
  pkg/metrics/metricsconfig/initmetrics.go
  pkg/metrics/policystatemetrics/policystatemetrics.go
  pkg/metrics/syscallmetrics/syscallmetrics.go
Owners: @cilium/tetragon

Split metrics reference into sections
  Makefile
  cmd/tetra/metrics/print.go
  pkg/metrics/metricsconfig/initmetrics.go
Owners: @cilium/tetragon

eventmetrics: Initialize metrics with example labels for docs
  pkg/metrics/consts/consts.go
  pkg/metrics/eventmetrics/eventmetrics.go
Owners: @cilium/tetragon

syscallmetrics: Initialize metrics with example labels for docs
  pkg/metrics/consts/consts.go
  pkg/metrics/syscallmetrics/syscallmetrics.go
Owners: @cilium/tetragon

kprobemetrics: Initialize metrics with example labels for docs
  pkg/metrics/kprobemetrics/kprobemetrics.go
Owners: @cilium/tetragon

observer: Initialize custom collectors for docs
  pkg/metrics/metricsconfig/initmetrics.go
  pkg/observer/observer_stats.go
Owners: @cilium/tetragon

make: check if docker is using new oci save format
  Makefile
Owners: @cilium/tetragon

eventmetrics: Initialize custom collectors for docs
  pkg/metrics/eventmetrics/collector.go
  pkg/metrics/metricsconfig/initmetrics.go
Owners: @cilium/tetragon

ci: Check generated metrics docs
  .github/workflows/generated-files.yaml
Owners: @willfindlay

policystatemetrics: Initialize custom collectors for docs
  pkg/metrics/policystatemetrics/policystatemetrics.go
Owners: @cilium/tetragon

docs: Add autogenerated metrics reference page
  .gitattributes
  docs/content/en/docs/reference/metrics.md
Owners: @cilium/tetragon, @mtardy

make: check if docker is using new oci save format
  Makefile
Owners: @cilium/tetragon

github:workflow: install jq
  .github/workflows/build-images-releases.yml
  .github/workflows/packages-e2e-tests.yaml
Owners: @willfindlay

makefile: fix go-format target
  Makefile
Owners: @cilium/tetragon

filters: implement capability filters
  api/v1/README.md
  api/v1/tetragon/events.pb.go
  api/v1/tetragon/events.pb.json.go
  api/v1/tetragon/events.proto
  docs/content/en/docs/reference/grpc-api.md
  go.mod
  go.sum
  pkg/filters/caps.go
  pkg/filters/caps_test.go
  pkg/filters/filters.go
  pkg/filters/filters_test.go
  vendor/github.com/cilium/tetragon/api/v1/tetragon/events.pb.go
  vendor/github.com/cilium/tetragon/api/v1/tetragon/events.pb.json.go
  vendor/github.com/cilium/tetragon/api/v1/tetragon/events.proto
  vendor/github.com/deckarep/golang-set/v2/.gitignore
  vendor/github.com/deckarep/golang-set/v2/LICENSE
  vendor/github.com/deckarep/golang-set/v2/README.md
  vendor/github.com/deckarep/golang-set/v2/iterator.go
  vendor/github.com/deckarep/golang-set/v2/new_improved.jpeg
  vendor/github.com/deckarep/golang-set/v2/set.go
  vendor/github.com/deckarep/golang-set/v2/sorted.go
  vendor/github.com/deckarep/golang-set/v2/threadsafe.go
  vendor/github.com/deckarep/golang-set/v2/threadunsafe.go
  vendor/modules.txt
Owners: @cilium/tetragon, @mtardy

docs: replace test-pod with nginx
  docs/content/en/docs/use-cases/process-lifecycle/privileged-execution.md
  testdata/specs/testpod.yaml
Owners: @mtardy, @cilium/tetragon

tetragon: Add missing maps to generic kprobe sensor
  pkg/sensors/tracing/generickprobe.go
Owners: @cilium/tetragon

tetragon: Do not merge loaded sensors in observer_test_helper
  pkg/observer/observertesthelper/observer_test_helper.go
Owners: @cilium/tetragon

tetragon: Use sensor stack trace map to lookup stack
  pkg/sensors/tracing/generickprobe.go
Owners: @cilium/tetragon

tetragon: Remove CgroupsTrackingMapV53 map variant
  pkg/sensors/test/cgroups.go
Owners: @cilium/tetragon

tetragon: Move enforcer-tester to .gitignore
  contrib/tester-progs/.gitignore
Owners: @cilium/tetragon

tetragon: Move enforcer-tester to .gitignore
  contrib/tester-progs/.gitignore
Owners: @cilium/tetragon

tetragon: Remove CgroupsTrackingMapV53 map variant
  pkg/sensors/test/cgroups.go
Owners: @cilium/tetragon

tetragon: Add missing maps to generic kprobe sensor
  pkg/sensors/tracing/generickprobe.go
Owners: @cilium/tetragon

tetragon: Use sensor stack trace map to lookup stack
  pkg/sensors/tracing/generickprobe.go
Owners: @cilium/tetragon

tetragon: Do not merge loaded sensors in observer_test_helper
  pkg/observer/observertesthelper/observer_test_helper.go
Owners: @cilium/tetragon

DONTMERGE: Revert "Remove unused utility func"
  pkg/observer/observertesthelper/observer_test_helper.go
  pkg/watcher/fake.go
  pkg/watcher/fake_test.go
  pkg/watcher/watcher.go
  pkg/watcher/watcher_test.go
Owners: @cilium/tetragon

loader: remove dead code
  pkg/sensors/program/loader.go
Owners: @cilium/tetragon

loader: rename and export tail call installer
  pkg/sensors/program/cgroup/cgroup.go
  pkg/sensors/program/loader.go
Owners: @cilium/tetragon

watcher: Refactor how informers are created in K8sWatcher
  pkg/observer/observertesthelper/observer_test_helper.go
  pkg/watcher/fake.go
  pkg/watcher/watcher.go
Owners: @cilium/tetragon

watcher: Don't create service and podInfo informers
  pkg/watcher/watcher.go
  vendor/github.com/cilium/tetragon/pkg/k8s/client/clientset/versioned/fake/clientset_generated.go
  vendor/github.com/cilium/tetragon/pkg/k8s/client/clientset/versioned/fake/doc.go
  vendor/github.com/cilium/tetragon/pkg/k8s/client/clientset/versioned/fake/register.go
  vendor/github.com/cilium/tetragon/pkg/k8s/client/clientset/versioned/typed/cilium.io/v1alpha1/fake/doc.go
  vendor/github.com/cilium/tetragon/pkg/k8s/client/clientset/versioned/typed/cilium.io/v1alpha1/fake/fake_cilium.io_client.go
  vendor/github.com/cilium/tetragon/pkg/k8s/client/clientset/versioned/typed/cilium.io/v1alpha1/fake/fake_podinfo.go
  vendor/github.com/cilium/tetragon/pkg/k8s/client/clientset/versioned/typed/cilium.io/v1alpha1/fake/fake_tracingpolicy.go
  vendor/github.com/cilium/tetragon/pkg/k8s/client/clientset/versioned/typed/cilium.io/v1alpha1/fake/fake_tracingpolicynamespaced.go
  vendor/modules.txt
Owners: @cilium/tetragon

watcher: Don't start watcher in NewK8sWatcher
  cmd/tetragon/main.go
  pkg/process/podinfo_test.go
  pkg/watcher/watcher.go
Owners: @cilium/tetragon

Tracepoints: Add support for data_loc params
  bpf/process/bpf_generic_tracepoint.c
  bpf/process/types/basic.h
  pkg/generictypes/generictypes.go
  pkg/k8s/apis/cilium.io/client/crds/v1alpha1/cilium.io_tracingpolicies.yaml
  pkg/k8s/apis/cilium.io/client/crds/v1alpha1/cilium.io_tracingpoliciesnamespaced.yaml
  pkg/k8s/apis/cilium.io/v1alpha1/types.go
  pkg/k8s/apis/cilium.io/v1alpha1/version.go
  pkg/selectors/kernel.go
  pkg/sensors/tracing/generictracepoint.go
  vendor/github.com/cilium/tetragon/pkg/k8s/apis/cilium.io/client/crds/v1alpha1/cilium.io_tracingpolicies.yaml
  vendor/github.com/cilium/tetragon/pkg/k8s/apis/cilium.io/client/crds/v1alpha1/cilium.io_tracingpoliciesnamespaced.yaml
  vendor/github.com/cilium/tetragon/pkg/k8s/apis/cilium.io/v1alpha1/types.go
  vendor/github.com/cilium/tetragon/pkg/k8s/apis/cilium.io/v1alpha1/version.go
Owners: @cilium/tetragon

Tracepoints: Remove old types
  pkg/generictypes/generictypes.go
  pkg/selectors/kernel.go
  pkg/selectors/kernel_test.go
  pkg/sensors/tracing/generictracepoint.go
Owners: @cilium/tetragon

Tracepoints: Add support for skb and sock types
  bpf/process/bpf_generic_tracepoint.c
  pkg/grpc/tracing/tracing.go
  pkg/sensors/tracing/generictracepoint.go
Owners: @cilium/tetragon

Tracepoints: Remove old types
  pkg/generictypes/generictypes.go
  pkg/selectors/kernel.go
  pkg/selectors/kernel_test.go
  pkg/sensors/tracing/generictracepoint.go
Owners: @cilium/tetragon

Tracepoints: Add support for data_loc params
  bpf/process/bpf_generic_tracepoint.c
  bpf/process/types/basic.h
  pkg/generictypes/generictypes.go
  pkg/k8s/apis/cilium.io/client/crds/v1alpha1/cilium.io_tracingpolicies.yaml
  pkg/k8s/apis/cilium.io/client/crds/v1alpha1/cilium.io_tracingpoliciesnamespaced.yaml
  pkg/k8s/apis/cilium.io/v1alpha1/types.go
  pkg/k8s/apis/cilium.io/v1alpha1/version.go
  pkg/selectors/kernel.go
  pkg/sensors/tracing/generictracepoint.go
  vendor/github.com/cilium/tetragon/pkg/k8s/apis/cilium.io/client/crds/v1alpha1/cilium.io_tracingpolicies.yaml
  vendor/github.com/cilium/tetragon/pkg/k8s/apis/cilium.io/client/crds/v1alpha1/cilium.io_tracingpoliciesnamespaced.yaml
  vendor/github.com/cilium/tetragon/pkg/k8s/apis/cilium.io/v1alpha1/types.go
  vendor/github.com/cilium/tetragon/pkg/k8s/apis/cilium.io/v1alpha1/version.go
Owners: @cilium/tetragon

Tracepoints: Add support for skb and sock types
  bpf/process/bpf_generic_tracepoint.c
  pkg/grpc/tracing/tracing.go
  pkg/sensors/tracing/generictracepoint.go
Owners: @cilium/tetragon

docs: getting-started k8s fix kind create a cluster
  docs/content/en/docs/getting-started/install-k8s.md
Owners: @mtardy, @cilium/tetragon

watcher: Refactor how informers are created in K8sWatcher
  pkg/observer/observertesthelper/observer_test_helper.go
  pkg/watcher/fake.go
  pkg/watcher/watcher.go
Owners: @cilium/tetragon
