Repository cilium/tetragon, changes with the owners that CODEOWNERS names for each.
All owners: @cilium/tetragon, @willfindlay, @kkourt, @mtardy

CODEOWNERS:

# Request a review from the Tetragon team on any PR
* @cilium/tetragon

# Request a review from William when codegen is edited
cmd/protoc-gen-go-tetragon/ @willfindlay

# Request a review from William when CI is edited
.github/workflows/ @willfindlay

# Request a review from kkourt when core sensor files are modified
pkg/src/sensors/ @kkourt

# Request a review from mtardy when anything from docs is modified but do not
# block on approval from anyone in the tetragon team
/docs/ @mtardy @cilium/tetragon

bpf: read proc exe at tracepoint/sys_execve
  bpf/lib/bpf_task.h
  bpf/lib/process.h
  bpf/process/bpf_execve_event.c
Owners: @cilium/tetragon

bpf: copy exe absolute path into execve_map
  bpf/process/bpf_execve_event.c
Owners: @cilium/tetragon

Add masOS compatibility for 'sed' usage in scripts
  api/export-doc.sh
  docs/content/en/docs/reference/grpc-api.md
  docs/content/en/docs/reference/helm-chart.md
  install/kubernetes/export-doc.sh
Owners: @cilium/tetragon, @mtardy

Add masOS compatibility for 'sed' usage in scripts
  api/export-doc.sh
  docs/content/en/docs/reference/grpc-api.md
  docs/content/en/docs/reference/helm-chart.md
  install/kubernetes/export-doc.sh
Owners: @cilium/tetragon, @mtardy

Docs: improve rate limit documentation
  docs/content/en/docs/concepts/tracing-policy/selectors.md
Owners: @mtardy, @cilium/tetragon

Docs: improve rate limit documentation
  docs/content/en/docs/concepts/tracing-policy/selectors.md
Owners: @mtardy, @cilium/tetragon

Tracepoint tests: Fix comm signedness check
  pkg/tracepoint/tracepoint_test.go
Owners: @cilium/tetragon

ci: cross compile the arm tarball for tests
  .github/workflows/packages-e2e-tests.yaml
Owners: @willfindlay

ci: test tetragon with different policy-dir
  .github/workflows/packages-e2e-tests.yaml
Owners: @willfindlay

Tracepoint tests: Fix comm signedness check
  pkg/tracepoint/tracepoint_test.go
Owners: @cilium/tetragon

Actions: add rateLimitScope
  bpf/process/types/basic.h
  docs/content/en/docs/concepts/tracing-policy/selectors.md
  pkg/k8s/apis/cilium.io/client/crds/v1alpha1/cilium.io_tracingpolicies.yaml
  pkg/k8s/apis/cilium.io/client/crds/v1alpha1/cilium.io_tracingpoliciesnamespaced.yaml
  pkg/k8s/apis/cilium.io/v1alpha1/types.go
  pkg/k8s/apis/cilium.io/v1alpha1/version.go
  pkg/selectors/kernel.go
  pkg/selectors/kernel_test.go
  vendor/github.com/cilium/tetragon/pkg/k8s/apis/cilium.io/client/crds/v1alpha1/cilium.io_tracingpolicies.yaml
  vendor/github.com/cilium/tetragon/pkg/k8s/apis/cilium.io/client/crds/v1alpha1/cilium.io_tracingpoliciesnamespaced.yaml
  vendor/github.com/cilium/tetragon/pkg/k8s/apis/cilium.io/v1alpha1/types.go
  vendor/github.com/cilium/tetragon/pkg/k8s/apis/cilium.io/v1alpha1/version.go
Owners: @cilium/tetragon, @mtardy

policy: monitor dangerous TTY ioctl performed by unprivileged
  examples/policylibrary/tty/tty-ioctl-observe.yaml
Owners: @cilium/tetragon

test: test some TTY ioctls call sites
  pkg/sensors/tracing/kprobe_test.go
Owners: @cilium/tetragon

Actions: add rateLimitScope
  bpf/process/types/basic.h
  docs/content/en/docs/concepts/tracing-policy/selectors.md
  pkg/k8s/apis/cilium.io/client/crds/v1alpha1/cilium.io_tracingpolicies.yaml
  pkg/k8s/apis/cilium.io/client/crds/v1alpha1/cilium.io_tracingpoliciesnamespaced.yaml
  pkg/k8s/apis/cilium.io/v1alpha1/types.go
  pkg/k8s/apis/cilium.io/v1alpha1/version.go
  pkg/selectors/kernel.go
  pkg/selectors/kernel_test.go
  vendor/github.com/cilium/tetragon/pkg/k8s/apis/cilium.io/client/crds/v1alpha1/cilium.io_tracingpolicies.yaml
  vendor/github.com/cilium/tetragon/pkg/k8s/apis/cilium.io/client/crds/v1alpha1/cilium.io_tracingpoliciesnamespaced.yaml
  vendor/github.com/cilium/tetragon/pkg/k8s/apis/cilium.io/v1alpha1/types.go
  vendor/github.com/cilium/tetragon/pkg/k8s/apis/cilium.io/v1alpha1/version.go
Owners: @cilium/tetragon, @mtardy

bpf: copy exe absolute path into execve_map
  bpf/process/bpf_execve_event.c
Owners: @cilium/tetragon

bpf: read proc exe at tracepoint/sys_execve
  bpf/lib/bpf_task.h
  bpf/lib/process.h
  bpf/process/bpf_execve_event.c
Owners: @cilium/tetragon

docs: Use latest Cilium SW demo application
  docs/content/en/docs/concepts/events.md
  docs/content/en/docs/getting-started/file-events.md
  docs/content/en/docs/getting-started/install-k8s.md
  docs/hugo.toml
Owners: @mtardy, @cilium/tetragon

docs: Fix Kubernetes installation guide for zsh
  docs/content/en/docs/getting-started/install-k8s.md
Owners: @mtardy, @cilium/tetragon

workflows: add apt-get update before installs
  .github/workflows/bpf-unit-tests.yml
  .github/workflows/gotests.yml
  .github/workflows/vmtests.yml
Owners: @willfindlay

workflows: add apt-get update before installs
  .github/workflows/bpf-unit-tests.yml
  .github/workflows/gotests.yml
  .github/workflows/vmtests.yml
Owners: @willfindlay

bpf: add unit tests for the prepend_name function
  Makefile
  bpf/Makefile
  bpf/Makefile.defs
  bpf/tests/Makefile
  bpf/tests/prepend_name_test.c
  bpf/tests/prepend_name_test.go
Owners: @cilium/tetragon

bpf: fix bugs in the prepend_name function
  bpf/process/bpf_process_event.h
Owners: @cilium/tetragon

workflows: run BPF unit tests on BPF changes
  .github/workflows/bpf-unit-tests.yml
Owners: @willfindlay

ci: test tetragon with different policy-dir
  .github/workflows/packages-e2e-tests.yaml
Owners: @willfindlay

ci: cross compile the arm tarball for tests
  .github/workflows/packages-e2e-tests.yaml
Owners: @willfindlay

Dockerfile: bump bpftool revision to 7.3.0
  Dockerfile
Owners: @cilium/tetragon

docs: Fix Kubernetes installation guide for zsh
  docs/content/en/docs/getting-started/install-k8s.md
Owners: @mtardy, @cilium/tetragon

docs: Use latest Cilium SW demo application
  docs/content/en/docs/concepts/events.md
  docs/content/en/docs/getting-started/file-events.md
  docs/content/en/docs/getting-started/install-k8s.md
  docs/hugo.toml
Owners: @mtardy, @cilium/tetragon

docs: fix invalid site param in hugo.toml
  docs/hugo.toml
Owners: @mtardy, @cilium/tetragon

doc: added uprobe info
  docs/content/en/docs/concepts/tracing-policy/hooks.md
Owners: @mtardy, @cilium/tetragon

tetragon: Use symbols list in UProbeSpec
  examples/tracingpolicy/uprobe-binaries.yaml
  examples/tracingpolicy/uprobe-host.yaml
  examples/tracingpolicy/uprobe-pid.yaml
  examples/tracingpolicy/uprobe.yaml
  pkg/k8s/apis/cilium.io/client/crds/v1alpha1/cilium.io_tracingpolicies.yaml
  pkg/k8s/apis/cilium.io/client/crds/v1alpha1/cilium.io_tracingpoliciesnamespaced.yaml
  pkg/k8s/apis/cilium.io/v1alpha1/types.go
  pkg/k8s/apis/cilium.io/v1alpha1/zz_generated.deepcopy.go
  pkg/sensors/tracing/genericuprobe.go
  pkg/sensors/tracing/uprobe_test.go
  vendor/github.com/cilium/tetragon/pkg/k8s/apis/cilium.io/client/crds/v1alpha1/cilium.io_tracingpolicies.yaml
  vendor/github.com/cilium/tetragon/pkg/k8s/apis/cilium.io/client/crds/v1alpha1/cilium.io_tracingpoliciesnamespaced.yaml
  vendor/github.com/cilium/tetragon/pkg/k8s/apis/cilium.io/v1alpha1/types.go
  vendor/github.com/cilium/tetragon/pkg/k8s/apis/cilium.io/v1alpha1/zz_generated.deepcopy.go
Owners: @cilium/tetragon

tetragon: Add support to generate uprobe policy from binary
  cmd/tetra/tracingpolicy/generate/generate.go
  pkg/tracingpolicy/generate/generate.go
Owners: @cilium/tetragon

Dockerfile: bump bpftool revision to 7.3.0
  Dockerfile
Owners: @cilium/tetragon

docs: fix invalid site param in hugo.toml
  docs/hugo.toml
Owners: @mtardy, @cilium/tetragon

bpf: fix bugs in the prepend_name function
  bpf/process/bpf_process_event.h
Owners: @cilium/tetragon

bpf: add unit tests for the prepend_name function
  Makefile
  bpf/Makefile
  bpf/Makefile.defs
  bpf/tests/Makefile
  bpf/tests/prepend_name_test.c
  bpf/tests/prepend_name_test.go
Owners: @cilium/tetragon

workflows: run BPF unit tests on BPF changes
  .github/workflows/bpf-unit-tests.yml
Owners: @willfindlay

doc: added uprobe info
  docs/content/en/docs/concepts/tracing-policy/hooks.md
Owners: @mtardy, @cilium/tetragon

perf: handle metrics correctly
  pkg/eventcache/eventcache.go
  pkg/grpc/exec/exec.go
  pkg/metrics/errormetrics/errormetrics.go
  pkg/metrics/eventcachemetrics/eventcachemetrics.go
Owners: @cilium/tetragon

pkg/filters: Implement policy name filter
  api/v1/README.md
  api/v1/tetragon/codegen/helpers/helpers.pb.go
  api/v1/tetragon/events.pb.go
  api/v1/tetragon/events.proto
  cmd/protoc-gen-go-tetragon/common/common.go
  cmd/protoc-gen-go-tetragon/helpers/helpers.go
  contrib/rthooks/tetragon-oci-hook/vendor/github.com/cilium/tetragon/api/v1/tetragon/events.pb.go
  contrib/rthooks/tetragon-oci-hook/vendor/github.com/cilium/tetragon/api/v1/tetragon/events.proto
  docs/content/en/docs/reference/grpc-api.md
  pkg/filters/filters.go
  pkg/filters/policies.go
  pkg/filters/policies_test.go
  vendor/github.com/cilium/tetragon/api/v1/tetragon/codegen/helpers/helpers.pb.go
  vendor/github.com/cilium/tetragon/api/v1/tetragon/events.pb.go
  vendor/github.com/cilium/tetragon/api/v1/tetragon/events.proto
Owners: @cilium/tetragon, @willfindlay, @mtardy
