Repository cilium/tetragon, changes with the owners that CODEOWNERS names for each.
All owners: @cilium/tetragon, @willfindlay, @kkourt, @mtardy

killer: move global state to a single struct
  pkg/sensors/tracing/killer.go
Owners: @cilium/tetragon

contrib/tester-progs: add getcpu prog
  contrib/tester-progs/.gitignore
  contrib/tester-progs/Makefile
  contrib/tester-progs/go/getcpu/getcpu.go
Owners: @cilium/tetragon

killer: add spec option for override method
  pkg/sensors/tracing/killer.go
  pkg/sensors/tracing/options.go
Owners: @cilium/tetragon

killer sensor: fail if signal helper is missing
  pkg/sensors/tracing/killer.go
Owners: @cilium/tetragon

killer: use const for map name
  pkg/sensors/tracing/killer.go
Owners: @cilium/tetragon

bpf: fix verification failure
  bpf/lib/bpf_task.h
Owners: @cilium/tetragon

killer_test: use a different syscall than prctl
  pkg/sensors/tracing/killer_test.go
Owners: @cilium/tetragon

docs: add a contribution to the documentation guide
  docs/README.md
  docs/content/en/docs/contribution-guide/_index.md
  docs/content/en/docs/contribution-guide/developer-certificate-of-origin.md
  docs/content/en/docs/contribution-guide/documentation.md
  docs/content/en/docs/contribution-guide/submitting-a-pull-request.md
Owners: @mtardy, @cilium/tetragon

docs: improve contribution guide inclusivity
  docs/content/en/docs/contribution-guide/_index.md
Owners: @mtardy, @cilium/tetragon

docs: add a contribution to the documentation guide
  docs/README.md
  docs/content/en/docs/contribution-guide/_index.md
  docs/content/en/docs/contribution-guide/developer-certificate-of-origin.md
  docs/content/en/docs/contribution-guide/documentation.md
  docs/content/en/docs/contribution-guide/submitting-a-pull-request.md
Owners: @mtardy, @cilium/tetragon

tetragon: prepare for v1.0.2 release
  docs/hugo.toml
Owners: @mtardy, @cilium/tetragon

tetragon: prepare for v1.0.2 release
  docs/hugo.toml
Owners: @mtardy, @cilium/tetragon

metrics: Do not process the same map multiple times
  pkg/observer/observer_stats.go
Owners: @cilium/tetragon

metrics: Do not process the same map multiple times
  pkg/observer/observer_stats.go
Owners: @cilium/tetragon

docs: link checker config for docs contributor guide
  .github/lychee.toml
Owners: @cilium/tetragon

Add flags to make it possible using k8s api without TP CRDs
  cmd/tetragon/main.go
  docs/data/tetragon_flags.yaml
  pkg/option/config.go
  pkg/option/flags.go
Owners: @cilium/tetragon, @mtardy

Add flags for operator to make it possible using k8s api without TP CRDs
  docs/content/en/docs/reference/helm-chart.md
  install/kubernetes/tetragon/README.md
  install/kubernetes/tetragon/templates/operator_configmap.yaml
  install/kubernetes/tetragon/templates/tetragon_configmap.yaml
  install/kubernetes/tetragon/values.yaml
  operator/cmd/common/common.go
  operator/crd/crd.go
  operator/option/config.go
Owners: @mtardy, @cilium/tetragon

tetragon: Add u/int16 and u/int8 to generic type
  bpf/process/types/basic.h
  pkg/generictypes/generictypes.go
  pkg/k8s/apis/cilium.io/client/crds/v1alpha1/cilium.io_tracingpolicies.yaml
  pkg/k8s/apis/cilium.io/client/crds/v1alpha1/cilium.io_tracingpoliciesnamespaced.yaml
  pkg/k8s/apis/cilium.io/v1alpha1/types.go
  pkg/sensors/tracing/generickprobe.go
  vendor/github.com/cilium/tetragon/pkg/k8s/apis/cilium.io/client/crds/v1alpha1/cilium.io_tracingpolicies.yaml
  vendor/github.com/cilium/tetragon/pkg/k8s/apis/cilium.io/client/crds/v1alpha1/cilium.io_tracingpoliciesnamespaced.yaml
  vendor/github.com/cilium/tetragon/pkg/k8s/apis/cilium.io/v1alpha1/types.go
Owners: @cilium/tetragon

tetragon: Add kprobe args test
  pkg/sensors/tracing/kprobe_args_test.go
Owners: @cilium/tetragon

fix: fill the missing type in tracingpolicy example
  pkg/tracingpolicy/examples/tracepoint-lseek-pid.yaml
  pkg/tracingpolicy/examples/tracepoint-lseek-test.yaml
Owners: @cilium/tetragon

docs: fix property naming
  docs/content/en/docs/concepts/tracing-policy/selectors.md
Owners: @mtardy, @cilium/tetragon

tetragon: Move argument grpc code to getKprobeArgument
  pkg/grpc/tracing/tracing.go
Owners: @cilium/tetragon

tetragon: Move argument processing code to args.go
  pkg/sensors/tracing/args.go
  pkg/sensors/tracing/generickprobe.go
Owners: @cilium/tetragon

tetragon: Rename argPrinters type to argPrinter
  pkg/sensors/tracing/generickprobe.go
Owners: @cilium/tetragon

tetragon: Move argument helpers code to args.go
  pkg/sensors/tracing/args.go
  pkg/sensors/tracing/generickprobe.go
  pkg/sensors/tracing/generictracepoint.go
Owners: @cilium/tetragon

tetragon: Add signed long kprobe argument type
  pkg/api/tracingapi/client_kprobe.go
  pkg/grpc/tracing/tracing.go
  pkg/sensors/tracing/args.go
Owners: @cilium/tetragon

tetragon: Add support for int16 and int8 types
  bpf/process/types/basic.h
  pkg/generictypes/generictypes.go
  pkg/k8s/apis/cilium.io/client/crds/v1alpha1/cilium.io_tracingpolicies.yaml
  pkg/k8s/apis/cilium.io/client/crds/v1alpha1/cilium.io_tracingpoliciesnamespaced.yaml
  pkg/k8s/apis/cilium.io/v1alpha1/types.go
  pkg/sensors/tracing/args.go
  vendor/github.com/cilium/tetragon/pkg/k8s/apis/cilium.io/client/crds/v1alpha1/cilium.io_tracingpolicies.yaml
  vendor/github.com/cilium/tetragon/pkg/k8s/apis/cilium.io/client/crds/v1alpha1/cilium.io_tracingpoliciesnamespaced.yaml
  vendor/github.com/cilium/tetragon/pkg/k8s/apis/cilium.io/v1alpha1/types.go
Owners: @cilium/tetragon

tetragon: Add more types to btf compatibility validation
  pkg/btf/validation.go
Owners: @cilium/tetragon

tetragon: Add support to process uprobe arguments
  bpf/process/generic_calls.h
  pkg/grpc/tracing/tracing.go
  pkg/sensors/tracing/genericuprobe.go
Owners: @cilium/tetragon

tetragon: Add args to ProcessUprobe message
  api/v1/README.md
  api/v1/tetragon/codegen/eventchecker/eventchecker.pb.go
  api/v1/tetragon/tetragon.pb.go
  api/v1/tetragon/tetragon.proto
  docs/content/en/docs/reference/grpc-api.md
  vendor/github.com/cilium/tetragon/api/v1/tetragon/codegen/eventchecker/eventchecker.pb.go
  vendor/github.com/cilium/tetragon/api/v1/tetragon/tetragon.pb.go
  vendor/github.com/cilium/tetragon/api/v1/tetragon/tetragon.proto
Owners: @cilium/tetragon, @mtardy

tetragon: Add uprobe args retrieval test
  pkg/sensors/tracing/uprobe_test.go
Owners: @cilium/tetragon

tetragon: Fix uprobe documentation example
  docs/content/en/docs/concepts/tracing-policy/hooks.md
Owners: @mtardy, @cilium/tetragon

tetragon: Add kprobe args retrieval test
  pkg/sensors/tracing/kprobe_test.go
Owners: @cilium/tetragon

tetragon: Add uprobe test functions for argument values
  contrib/tester-progs/uprobe-lib.c
  contrib/tester-progs/uprobe-test.c
Owners: @cilium/tetragon

tetragon: Add args array to uprobe spec
  pkg/k8s/apis/cilium.io/client/crds/v1alpha1/cilium.io_tracingpolicies.yaml
  pkg/k8s/apis/cilium.io/client/crds/v1alpha1/cilium.io_tracingpoliciesnamespaced.yaml
  pkg/k8s/apis/cilium.io/v1alpha1/types.go
  pkg/k8s/apis/cilium.io/v1alpha1/zz_generated.deepcopy.go
  vendor/github.com/cilium/tetragon/pkg/k8s/apis/cilium.io/client/crds/v1alpha1/cilium.io_tracingpolicies.yaml
  vendor/github.com/cilium/tetragon/pkg/k8s/apis/cilium.io/client/crds/v1alpha1/cilium.io_tracingpoliciesnamespaced.yaml
  vendor/github.com/cilium/tetragon/pkg/k8s/apis/cilium.io/v1alpha1/types.go
  vendor/github.com/cilium/tetragon/pkg/k8s/apis/cilium.io/v1alpha1/zz_generated.deepcopy.go
Owners: @cilium/tetragon

docs: fix property naming
  docs/content/en/docs/concepts/tracing-policy/selectors.md
Owners: @mtardy, @cilium/tetragon

docs: link checker config for docs contributor guide
  .github/lychee.toml
Owners: @cilium/tetragon

Exec: Remove extra copying of message data
  pkg/api/processapi/processapi.go
  pkg/grpc/exec/exec.go
  pkg/grpc/exec/exec_test_helper.go
  pkg/grpc/process_manager_test.go
  pkg/process/process.go
  pkg/sensors/exec/cgroups_test.go
  pkg/sensors/exec/exec.go
  pkg/sensors/exec/exec_test.go
  pkg/sensors/exec/procevents/proc_reader.go
  pkg/sensors/exec/threads_test.go
  pkg/sensors/tracing/policyfilter_test.go
Owners: @cilium/tetragon

Test Sensor: Remove extra copy
  pkg/grpc/test/test.go
  pkg/sensors/test/test.go
  pkg/testutils/perfring/perfring.go
Owners: @cilium/tetragon

GenericKProbe: Remove extra copy
  pkg/grpc/tracing/tracing.go
  pkg/sensors/tracing/generickprobe.go
  pkg/sensors/tracing/kprobe_test.go
Owners: @cilium/tetragon

CODEOWNERS:

# Request a review from the Tetragon team on any PR
* @cilium/tetragon

# Request a review from William when codegen is edited
cmd/protoc-gen-go-tetragon/ @willfindlay

# Request a review from William when CI is edited
.github/workflows/ @willfindlay

# Request a review from kkourt when core sensor files are modified
pkg/src/sensors/ @kkourt

# Request a review from mtardy when anything from docs is modified but do not
# block on approval from anyone in the tetragon team
/docs/ @mtardy @cilium/tetragon
