Repository cilium/tetragon, changes with the owners that CODEOWNERS names for each.
All owners: @cilium/tetragon, @willfindlay, @kkourt, @mtardy

chores: run make crds with updated scripts
  install/kubernetes/schemas/podinfo-cilium.io.json
  install/kubernetes/schemas/tracingpolicy-cilium.io.json
  install/kubernetes/schemas/tracingpolicynamespaced-cilium.io.json
  install/kubernetes/tetragon/crds-yaml/cilium.io_podinfo.yaml
  install/kubernetes/tetragon/crds-yaml/cilium.io_tracingpolicies.yaml
  install/kubernetes/tetragon/crds-yaml/cilium.io_tracingpoliciesnamespaced.yaml
  pkg/k8s/apis/cilium.io/client/crds/v1alpha1/cilium.io_podinfo.yaml
  pkg/k8s/apis/cilium.io/client/crds/v1alpha1/cilium.io_tracingpolicies.yaml
  pkg/k8s/apis/cilium.io/client/crds/v1alpha1/cilium.io_tracingpoliciesnamespaced.yaml
  pkg/k8s/apis/cilium.io/v1alpha1/version.go
  pkg/k8s/client/clientset/versioned/fake/clientset_generated.go
  pkg/k8s/client/clientset/versioned/typed/cilium.io/v1alpha1/fake/fake_podinfo.go
  pkg/k8s/client/clientset/versioned/typed/cilium.io/v1alpha1/fake/fake_tracingpolicy.go
  pkg/k8s/client/clientset/versioned/typed/cilium.io/v1alpha1/fake/fake_tracingpolicynamespaced.go
  pkg/k8s/client/clientset/versioned/typed/cilium.io/v1alpha1/podinfo.go
  pkg/k8s/client/clientset/versioned/typed/cilium.io/v1alpha1/tracingpolicy.go
  pkg/k8s/client/clientset/versioned/typed/cilium.io/v1alpha1/tracingpolicynamespaced.go
  pkg/k8s/client/informers/externalversions/factory.go
  pkg/k8s/client/listers/cilium.io/v1alpha1/podinfo.go
  pkg/k8s/client/listers/cilium.io/v1alpha1/tracingpolicy.go
  pkg/k8s/client/listers/cilium.io/v1alpha1/tracingpolicynamespaced.go
  pkg/k8s/vendor/k8s.io/client-go/listers/doc.go
  pkg/k8s/vendor/k8s.io/client-go/listers/generic_helpers.go
  pkg/k8s/vendor/modules.txt
  vendor/github.com/cilium/tetragon/pkg/k8s/apis/cilium.io/client/crds/v1alpha1/cilium.io_podinfo.yaml
  vendor/github.com/cilium/tetragon/pkg/k8s/apis/cilium.io/client/crds/v1alpha1/cilium.io_tracingpolicies.yaml
  vendor/github.com/cilium/tetragon/pkg/k8s/apis/cilium.io/client/crds/v1alpha1/cilium.io_tracingpoliciesnamespaced.yaml
  vendor/github.com/cilium/tetragon/pkg/k8s/apis/cilium.io/v1alpha1/version.go
  vendor/github.com/cilium/tetragon/pkg/k8s/client/clientset/versioned/typed/cilium.io/v1alpha1/podinfo.go
  vendor/github.com/cilium/tetragon/pkg/k8s/client/clientset/versioned/typed/cilium.io/v1alpha1/tracingpolicy.go
  vendor/github.com/cilium/tetragon/pkg/k8s/client/clientset/versioned/typed/cilium.io/v1alpha1/tracingpolicynamespaced.go
  vendor/github.com/cilium/tetragon/pkg/k8s/client/informers/externalversions/factory.go
  vendor/github.com/cilium/tetragon/pkg/k8s/client/listers/cilium.io/v1alpha1/podinfo.go
  vendor/github.com/cilium/tetragon/pkg/k8s/client/listers/cilium.io/v1alpha1/tracingpolicy.go
  vendor/github.com/cilium/tetragon/pkg/k8s/client/listers/cilium.io/v1alpha1/tracingpolicynamespaced.go
Owners: @cilium/tetragon

kube-codegen: update tool to generate client-go libs
  pkg/k8s/Makefile
  pkg/k8s/tools/k8s-code-gen.sh
Owners: @cilium/tetragon

chores: fix golangci-lint deprecation notices
  pkg/metrics/metricwithpod.go
Owners: @cilium/tetragon

chores: run make crds with updated scripts
  install/kubernetes/schemas/podinfo-cilium.io.json
  install/kubernetes/schemas/tracingpolicy-cilium.io.json
  install/kubernetes/schemas/tracingpolicynamespaced-cilium.io.json
  install/kubernetes/tetragon/crds-yaml/cilium.io_podinfo.yaml
  install/kubernetes/tetragon/crds-yaml/cilium.io_tracingpolicies.yaml
  install/kubernetes/tetragon/crds-yaml/cilium.io_tracingpoliciesnamespaced.yaml
  pkg/k8s/apis/cilium.io/client/crds/v1alpha1/cilium.io_podinfo.yaml
  pkg/k8s/apis/cilium.io/client/crds/v1alpha1/cilium.io_tracingpolicies.yaml
  pkg/k8s/apis/cilium.io/client/crds/v1alpha1/cilium.io_tracingpoliciesnamespaced.yaml
  pkg/k8s/apis/cilium.io/v1alpha1/version.go
  pkg/k8s/client/clientset/versioned/fake/clientset_generated.go
  pkg/k8s/client/clientset/versioned/typed/cilium.io/v1alpha1/fake/fake_podinfo.go
  pkg/k8s/client/clientset/versioned/typed/cilium.io/v1alpha1/fake/fake_tracingpolicy.go
  pkg/k8s/client/clientset/versioned/typed/cilium.io/v1alpha1/fake/fake_tracingpolicynamespaced.go
  pkg/k8s/client/clientset/versioned/typed/cilium.io/v1alpha1/podinfo.go
  pkg/k8s/client/clientset/versioned/typed/cilium.io/v1alpha1/tracingpolicy.go
  pkg/k8s/client/clientset/versioned/typed/cilium.io/v1alpha1/tracingpolicynamespaced.go
  pkg/k8s/client/informers/externalversions/factory.go
  pkg/k8s/client/listers/cilium.io/v1alpha1/podinfo.go
  pkg/k8s/client/listers/cilium.io/v1alpha1/tracingpolicy.go
  pkg/k8s/client/listers/cilium.io/v1alpha1/tracingpolicynamespaced.go
  pkg/k8s/vendor/k8s.io/client-go/listers/doc.go
  pkg/k8s/vendor/k8s.io/client-go/listers/generic_helpers.go
  pkg/k8s/vendor/modules.txt
  vendor/github.com/cilium/tetragon/pkg/k8s/apis/cilium.io/client/crds/v1alpha1/cilium.io_podinfo.yaml
  vendor/github.com/cilium/tetragon/pkg/k8s/apis/cilium.io/client/crds/v1alpha1/cilium.io_tracingpolicies.yaml
  vendor/github.com/cilium/tetragon/pkg/k8s/apis/cilium.io/client/crds/v1alpha1/cilium.io_tracingpoliciesnamespaced.yaml
  vendor/github.com/cilium/tetragon/pkg/k8s/apis/cilium.io/v1alpha1/version.go
  vendor/github.com/cilium/tetragon/pkg/k8s/client/clientset/versioned/typed/cilium.io/v1alpha1/podinfo.go
  vendor/github.com/cilium/tetragon/pkg/k8s/client/clientset/versioned/typed/cilium.io/v1alpha1/tracingpolicy.go
  vendor/github.com/cilium/tetragon/pkg/k8s/client/clientset/versioned/typed/cilium.io/v1alpha1/tracingpolicynamespaced.go
  vendor/github.com/cilium/tetragon/pkg/k8s/client/informers/externalversions/factory.go
  vendor/github.com/cilium/tetragon/pkg/k8s/client/listers/cilium.io/v1alpha1/podinfo.go
  vendor/github.com/cilium/tetragon/pkg/k8s/client/listers/cilium.io/v1alpha1/tracingpolicy.go
  vendor/github.com/cilium/tetragon/pkg/k8s/client/listers/cilium.io/v1alpha1/tracingpolicynamespaced.go
Owners: @cilium/tetragon

image: Install iproute2 without APK cache
  Dockerfile
Owners: @cilium/tetragon

ProcessCache: Remove stale entries
  docs/content/en/docs/reference/metrics.md
  docs/data/tetragon_flags.yaml
  pkg/defaults/defaults.go
  pkg/option/config.go
  pkg/option/flags.go
  pkg/process/cache.go
  pkg/process/cache_test.go
  pkg/process/metrics.go
  pkg/process/process.go
Owners: @mtardy, @cilium/tetragon

ProcessCache: Delay removal for custom refcnts
  pkg/grpc/exec/exec.go
  pkg/process/cache.go
  pkg/process/process.go
Owners: @cilium/tetragon

Implemented a possibility to disable gops via helm
  docs/content/en/docs/reference/helm-chart.md
  install/kubernetes/tetragon/README.md
  install/kubernetes/tetragon/templates/tetragon_configmap.yaml
  install/kubernetes/tetragon/values.yaml
Owners: @mtardy, @cilium/tetragon

tetra: move code from debug map command under pkg/bugtool
  cmd/tetra/debug/maps.go
  pkg/bugtool/maps.go
Owners: @cilium/tetragon

bugtool: run debug maps command in bugtool
  pkg/bugtool/bugtool.go
Owners: @cilium/tetragon

CI: Improved lint Helm CI workflow
  .github/workflows/lint-helm.yaml
  install/kubernetes/Makefile
  install/kubernetes/schemas/podinfo-cilium.io.json
  install/kubernetes/schemas/tracingpolicy-cilium.io.json
  install/kubernetes/schemas/tracingpolicynamespaced-cilium.io.json
Owners: @willfindlay, @cilium/tetragon

CI: Improved lint Helm CI workflow
  .github/workflows/lint-helm.yaml
  install/kubernetes/Makefile
  install/kubernetes/schemas/podinfo-cilium.io.json
  install/kubernetes/schemas/tracingpolicy-cilium.io.json
  install/kubernetes/schemas/tracingpolicynamespaced-cilium.io.json
Owners: @willfindlay, @cilium/tetragon

Implemented a possibility to disable gops via helm
  docs/content/en/docs/reference/helm-chart.md
  install/kubernetes/tetragon/README.md
  install/kubernetes/tetragon/templates/tetragon_configmap.yaml
  install/kubernetes/tetragon/values.yaml
Owners: @mtardy, @cilium/tetragon

image: Improved bash-completions for tetra and ip
  Dockerfile
Owners: @cilium/tetragon

image: Install iproute2 without APK cache
  Dockerfile
Owners: @cilium/tetragon

image: Improved bash-completions for tetra and ip
  Dockerfile
Owners: @cilium/tetragon

tetra: add a JSON output format in debug map command
  cmd/tetra/debug/maps.go
Owners: @cilium/tetragon

bugtool: run debug maps command in bugtool
  pkg/bugtool/bugtool.go
Owners: @cilium/tetragon

tetra: move code from debug map command under pkg/bugtool
  cmd/tetra/debug/maps.go
  pkg/bugtool/maps.go
Owners: @cilium/tetragon

tetragon: Cleanup policy/sensor/progs directories
  pkg/sensors/load.go
  pkg/sensors/sensors.go
Owners: @cilium/tetragon

tetragon: Cleanup directories fater failed sensor load
  pkg/sensors/load.go
Owners: @cilium/tetragon

tetragon: Move loop out of loadMaps function
  pkg/sensors/load.go
Owners: @cilium/tetragon

tetragon: Cleanup progs/maps after failed sensor load
  pkg/sensors/load.go
Owners: @cilium/tetragon

bpf: return flag from generic_actions if event is to be posted
  bpf/process/bpf_generic_kprobe.c
  bpf/process/bpf_generic_retkprobe.c
  bpf/process/bpf_generic_tracepoint.c
  bpf/process/bpf_generic_uprobe.c
  bpf/process/types/basic.h
Owners: @cilium/tetragon

bpf: Add lsm.s/* bpf programs for IMA hash collection
  bpf/Makefile
  bpf/include/api.h
  bpf/lib/common.h
  bpf/lib/generic.h
  bpf/process/bpf_generic_lsm_core.c
  bpf/process/bpf_generic_lsm_ima_bprm.c
  bpf/process/bpf_generic_lsm_ima_file.c
  bpf/process/bpf_generic_lsm_output.c
  bpf/process/bpf_lsm_ima.h
  bpf/process/generic_calls.h
  bpf/process/types/basic.h
  pkg/sensors/tracing/genericlsm.go
Owners: @cilium/tetragon

tetragon: Support IMA hash collection for LSM sensor
  api/v1/README.md
  api/v1/tetragon/codegen/eventchecker/eventchecker.pb.go
  api/v1/tetragon/tetragon.pb.go
  api/v1/tetragon/tetragon.proto
  contrib/tetragon-rthooks/vendor/github.com/cilium/tetragon/api/v1/tetragon/tetragon.pb.go
  contrib/tetragon-rthooks/vendor/github.com/cilium/tetragon/api/v1/tetragon/tetragon.proto
  docs/content/en/docs/reference/grpc-api.md
  install/kubernetes/tetragon/crds-yaml/cilium.io_tracingpolicies.yaml
  install/kubernetes/tetragon/crds-yaml/cilium.io_tracingpoliciesnamespaced.yaml
  pkg/api/processapi/processapi.go
  pkg/grpc/tracing/tracing.go
  pkg/k8s/apis/cilium.io/client/crds/v1alpha1/cilium.io_tracingpolicies.yaml
  pkg/k8s/apis/cilium.io/client/crds/v1alpha1/cilium.io_tracingpoliciesnamespaced.yaml
  pkg/k8s/apis/cilium.io/v1alpha1/types.go
  pkg/k8s/apis/cilium.io/v1alpha1/version.go
  pkg/selectors/kernel.go
  pkg/selectors/kernel_test.go
  pkg/sensors/tracing/genericlsm.go
  vendor/github.com/cilium/tetragon/api/v1/tetragon/codegen/eventchecker/eventchecker.pb.go
  vendor/github.com/cilium/tetragon/api/v1/tetragon/tetragon.pb.go
  vendor/github.com/cilium/tetragon/api/v1/tetragon/tetragon.proto
  vendor/github.com/cilium/tetragon/pkg/k8s/apis/cilium.io/client/crds/v1alpha1/cilium.io_tracingpolicies.yaml
  vendor/github.com/cilium/tetragon/pkg/k8s/apis/cilium.io/client/crds/v1alpha1/cilium.io_tracingpoliciesnamespaced.yaml
  vendor/github.com/cilium/tetragon/pkg/k8s/apis/cilium.io/v1alpha1/types.go
  vendor/github.com/cilium/tetragon/pkg/k8s/apis/cilium.io/v1alpha1/version.go
Owners: @cilium/tetragon, @mtardy

tetra: add IMA hashes human output to compact mode
  cmd/tetra/getevents/getevents.go
  pkg/encoder/encoder.go
  pkg/encoder/encoder_test.go
Owners: @cilium/tetragon

docs: imaHash flag for Post Action selector
  docs/content/en/docs/concepts/tracing-policy/selectors.md
Owners: @mtardy, @cilium/tetragon

Update LSM tracingPolicy examples
  examples/tracingpolicy/lsm_bprm_check.yaml
Owners: @cilium/tetragon

tetragon: Add TestLSMIMAHash
  pkg/sensors/tracing/lsm_test.go
Owners: @cilium/tetragon

CVE: detect and mitigate cups foomatic-rip CVE-2024-47176 2024-47177
  examples/tracingpolicy/cves/cve-cups-CVE-2024-47176-2024-47177.yaml
Owners: @cilium/tetragon

tetragon: Add tests for proper cleanup after sensor unload
  pkg/sensors/test/sensors_test.go
Owners: @cilium/tetragon

tetra: add IMA hashes human output to compact mode
  cmd/tetra/getevents/getevents.go
  pkg/encoder/encoder.go
  pkg/encoder/encoder_test.go
Owners: @cilium/tetragon

Update LSM tracingPolicy examples
  examples/tracingpolicy/lsm_bprm_check.yaml
Owners: @cilium/tetragon

bpf: return flag from generic_actions if event is to be posted
  bpf/process/bpf_generic_kprobe.c
  bpf/process/bpf_generic_retkprobe.c
  bpf/process/bpf_generic_tracepoint.c
  bpf/process/bpf_generic_uprobe.c
  bpf/process/types/basic.h
Owners: @cilium/tetragon

bpf: Add lsm.s/* bpf programs for IMA hash collection
  bpf/Makefile
  bpf/include/api.h
  bpf/lib/common.h
  bpf/lib/generic.h
  bpf/process/bpf_generic_lsm_core.c
  bpf/process/bpf_generic_lsm_ima_bprm.c
  bpf/process/bpf_generic_lsm_ima_file.c
  bpf/process/bpf_generic_lsm_output.c
  bpf/process/bpf_lsm_ima.h
  bpf/process/generic_calls.h
  bpf/process/types/basic.h
  pkg/sensors/tracing/genericlsm.go
Owners: @cilium/tetragon

tetragon: Support IMA hash collection for LSM sensor
  api/v1/README.md
  api/v1/tetragon/codegen/eventchecker/eventchecker.pb.go
  api/v1/tetragon/tetragon.pb.go
  api/v1/tetragon/tetragon.proto
  contrib/tetragon-rthooks/vendor/github.com/cilium/tetragon/api/v1/tetragon/tetragon.pb.go
  contrib/tetragon-rthooks/vendor/github.com/cilium/tetragon/api/v1/tetragon/tetragon.proto
  docs/content/en/docs/reference/grpc-api.md
  install/kubernetes/tetragon/crds-yaml/cilium.io_tracingpolicies.yaml
  install/kubernetes/tetragon/crds-yaml/cilium.io_tracingpoliciesnamespaced.yaml
  pkg/api/processapi/processapi.go
  pkg/grpc/tracing/tracing.go
  pkg/k8s/apis/cilium.io/client/crds/v1alpha1/cilium.io_tracingpolicies.yaml
  pkg/k8s/apis/cilium.io/client/crds/v1alpha1/cilium.io_tracingpoliciesnamespaced.yaml
  pkg/k8s/apis/cilium.io/v1alpha1/types.go
  pkg/k8s/apis/cilium.io/v1alpha1/version.go
  pkg/selectors/kernel.go
  pkg/selectors/kernel_test.go
  pkg/sensors/tracing/genericlsm.go
  vendor/github.com/cilium/tetragon/api/v1/tetragon/codegen/eventchecker/eventchecker.pb.go
  vendor/github.com/cilium/tetragon/api/v1/tetragon/tetragon.pb.go
  vendor/github.com/cilium/tetragon/api/v1/tetragon/tetragon.proto
  vendor/github.com/cilium/tetragon/pkg/k8s/apis/cilium.io/client/crds/v1alpha1/cilium.io_tracingpolicies.yaml
  vendor/github.com/cilium/tetragon/pkg/k8s/apis/cilium.io/client/crds/v1alpha1/cilium.io_tracingpoliciesnamespaced.yaml
  vendor/github.com/cilium/tetragon/pkg/k8s/apis/cilium.io/v1alpha1/types.go
  vendor/github.com/cilium/tetragon/pkg/k8s/apis/cilium.io/v1alpha1/version.go
Owners: @cilium/tetragon, @mtardy

tetragon: Add TestLSMIMAHash
  pkg/sensors/tracing/lsm_test.go
Owners: @cilium/tetragon

docs: imaHash flag for Post Action selector
  docs/content/en/docs/concepts/tracing-policy/selectors.md
Owners: @mtardy, @cilium/tetragon

helm: Added dedicated persistent enforcement flag
  docs/content/en/docs/reference/helm-chart.md
  install/kubernetes/tetragon/README.md
  install/kubernetes/tetragon/templates/tetragon_configmap.yaml
  install/kubernetes/tetragon/values.yaml
Owners: @mtardy, @cilium/tetragon

CODEOWNERS:

# Request a review from the Tetragon team on any PR
* @cilium/tetragon

# Request a review from William when codegen is edited
cmd/protoc-gen-go-tetragon/ @willfindlay

# Request a review from William when CI is edited
.github/workflows/ @willfindlay

# Request a review from kkourt when core sensor files are modified
pkg/src/sensors/ @kkourt

# Request a review from mtardy when anything from docs is modified but do not
# block on approval from anyone in the tetragon team
/docs/ @mtardy @cilium/tetragon
