Repository cilium/tetragon, changes with the owners that CODEOWNERS names for each.
All owners: @cilium/tetragon, @willfindlay, @kkourt, @mtardy

CODEOWNERS:

# Request a review from the Tetragon team on any PR
* @cilium/tetragon

# Request a review from William when codegen is edited
cmd/protoc-gen-go-tetragon/ @willfindlay

# Request a review from William when CI is edited
.github/workflows/ @willfindlay

# Request a review from kkourt when core sensor files are modified
pkg/src/sensors/ @kkourt

# Request a review from mtardy when anything from docs is modified but do not
# block on approval from anyone in the tetragon team
/docs/ @mtardy @cilium/tetragon

docs: update kind instructions for /proc
  docs/content/en/docs/getting-started/install-k8s.md
Owners: @mtardy, @cilium/tetragon

docs: update enforcement page
  docs/content/en/docs/concepts/enforcement/_index.md
  docs/content/en/docs/concepts/tracing-policy/selectors.md
Owners: @mtardy, @cilium/tetragon

tetragon: Remove GenericTracepointConf type
  pkg/sensors/tracing/generictracepoint.go
  pkg/sensors/tracing/policyfilter_test.go
  pkg/sensors/tracing/tracepoint_test.go
Owners: @cilium/tetragon

tetragon: Add options into spec
  pkg/k8s/apis/cilium.io/client/crds/v1alpha1/cilium.io_tracingpolicies.yaml
  pkg/k8s/apis/cilium.io/client/crds/v1alpha1/cilium.io_tracingpoliciesnamespaced.yaml
  pkg/k8s/apis/cilium.io/v1alpha1/tracing_policy_types.go
  pkg/k8s/apis/cilium.io/v1alpha1/types.go
  pkg/k8s/apis/cilium.io/v1alpha1/version.go
  pkg/k8s/apis/cilium.io/v1alpha1/zz_generated.deepcopy.go
  vendor/github.com/cilium/tetragon/pkg/k8s/apis/cilium.io/client/crds/v1alpha1/cilium.io_tracingpolicies.yaml
  vendor/github.com/cilium/tetragon/pkg/k8s/apis/cilium.io/client/crds/v1alpha1/cilium.io_tracingpoliciesnamespaced.yaml
  vendor/github.com/cilium/tetragon/pkg/k8s/apis/cilium.io/v1alpha1/tracing_policy_types.go
  vendor/github.com/cilium/tetragon/pkg/k8s/apis/cilium.io/v1alpha1/types.go
  vendor/github.com/cilium/tetragon/pkg/k8s/apis/cilium.io/v1alpha1/version.go
  vendor/github.com/cilium/tetragon/pkg/k8s/apis/cilium.io/v1alpha1/zz_generated.deepcopy.go
Owners: @cilium/tetragon

tetragon: Pass whole spec to createGenericKprobeSensor
  pkg/sensors/tracing/generickprobe.go
  pkg/sensors/tracing/generickprobe_test.go
  pkg/sensors/tracing/policyhandler.go
Owners: @cilium/tetragon

tetragon: Add support to pass options for spec
  pkg/sensors/tracing/generickprobe.go
  pkg/sensors/tracing/options.go
Owners: @cilium/tetragon

tetragon: Switch off kprobe multi via spec in security_ test
  pkg/sensors/tracing/kprobe_test.go
Owners: @cilium/tetragon

tetragon: Add documentation for options
  docs/content/en/docs/concepts/tracing-policy/options.md
Owners: @mtardy, @cilium/tetragon

tetragon: Add documentation for options
  docs/content/en/docs/concepts/tracing-policy/options.md
Owners: @mtardy, @cilium/tetragon

tetragon: Add options into spec
  pkg/k8s/apis/cilium.io/client/crds/v1alpha1/cilium.io_tracingpolicies.yaml
  pkg/k8s/apis/cilium.io/client/crds/v1alpha1/cilium.io_tracingpoliciesnamespaced.yaml
  pkg/k8s/apis/cilium.io/v1alpha1/tracing_policy_types.go
  pkg/k8s/apis/cilium.io/v1alpha1/types.go
  pkg/k8s/apis/cilium.io/v1alpha1/version.go
  pkg/k8s/apis/cilium.io/v1alpha1/zz_generated.deepcopy.go
  vendor/github.com/cilium/tetragon/pkg/k8s/apis/cilium.io/client/crds/v1alpha1/cilium.io_tracingpolicies.yaml
  vendor/github.com/cilium/tetragon/pkg/k8s/apis/cilium.io/client/crds/v1alpha1/cilium.io_tracingpoliciesnamespaced.yaml
  vendor/github.com/cilium/tetragon/pkg/k8s/apis/cilium.io/v1alpha1/tracing_policy_types.go
  vendor/github.com/cilium/tetragon/pkg/k8s/apis/cilium.io/v1alpha1/types.go
  vendor/github.com/cilium/tetragon/pkg/k8s/apis/cilium.io/v1alpha1/version.go
  vendor/github.com/cilium/tetragon/pkg/k8s/apis/cilium.io/v1alpha1/zz_generated.deepcopy.go
Owners: @cilium/tetragon

tetragon: Pass whole spec to createGenericKprobeSensor
  pkg/sensors/tracing/generickprobe.go
  pkg/sensors/tracing/generickprobe_test.go
  pkg/sensors/tracing/policyhandler.go
Owners: @cilium/tetragon

tetragon: Add support to pass options for spec
  pkg/sensors/tracing/generickprobe.go
  pkg/sensors/tracing/options.go
Owners: @cilium/tetragon

tetragon: Remove GenericTracepointConf type
  pkg/sensors/tracing/generictracepoint.go
  pkg/sensors/tracing/policyfilter_test.go
  pkg/sensors/tracing/tracepoint_test.go
Owners: @cilium/tetragon

tetragon: Switch off kprobe multi via spec in security_ test
  pkg/sensors/tracing/kprobe_test.go
Owners: @cilium/tetragon

docs: delete unused or duplicate images
  docs/content/en/_index.html
  docs/static/svgs/hero-illustration.svg
  docs/static/svgs/logo.inline.svg
Owners: @mtardy, @cilium/tetragon

docs: reframe logo, add dark version and update logo in README
  README.md
  docs/assets/icons/logo-dark.svg
  docs/assets/icons/logo.svg
Owners: @cilium/tetragon, @mtardy

README: update links to docs to use new tetragon.io domain
  README.md
Owners: @cilium/tetragon

vmtests: bump timeout and start multiple job for builds
  .github/workflows/vmtests.yml
Owners: @willfindlay

README: update links to docs to use new tetragon.io domain
  README.md
Owners: @cilium/tetragon

docs: delete unused or duplicate images
  docs/content/en/_index.html
  docs/static/svgs/hero-illustration.svg
  docs/static/svgs/logo.inline.svg
Owners: @mtardy, @cilium/tetragon

docs: reframe logo, add dark version and update logo in README
  README.md
  docs/assets/icons/logo-dark.svg
  docs/assets/icons/logo.svg
Owners: @cilium/tetragon, @mtardy

vmtests: bump timeout and start multiple job for builds
  .github/workflows/vmtests.yml
Owners: @willfindlay

ringbufer: default to 1MiB / core
  pkg/observer/observer.go
  pkg/option/flags.go
Owners: @cilium/tetragon

Update the Star Wars demo app URL
  docs/content/en/docs/getting-started/install-k8s.md
  docs/content/en/docs/use-cases/linux-process-credentials/monitor-changes-at-kernel.md
  docs/content/en/docs/use-cases/linux-process-credentials/syscalls-monitoring.md
  docs/content/en/docs/use-cases/process-lifecycle/advanced-process-execution.md
  docs/content/en/docs/use-cases/security-profiles/record-linux-capabilities.md
  docs/hugo.toml
  docs/layouts/shortcodes/demo-app-url.html
Owners: @mtardy, @cilium/tetragon

Update the Star Wars demo app URL
  docs/content/en/docs/getting-started/install-k8s.md
  docs/content/en/docs/use-cases/linux-process-credentials/monitor-changes-at-kernel.md
  docs/content/en/docs/use-cases/linux-process-credentials/syscalls-monitoring.md
  docs/content/en/docs/use-cases/process-lifecycle/advanced-process-execution.md
  docs/content/en/docs/use-cases/security-profiles/record-linux-capabilities.md
  docs/hugo.toml
  docs/layouts/shortcodes/demo-app-url.html
Owners: @mtardy, @cilium/tetragon

Prepare for v1.0.0-rc.4 release
  docs/content/en/docs/reference/helm-chart.md
  docs/hugo.toml
  install/kubernetes/Chart.yaml
  install/kubernetes/README.md
  install/kubernetes/values.yaml
Owners: @mtardy, @cilium/tetragon

Update gitignore
  contrib/tester-progs/.gitignore
Owners: @cilium/tetragon

Prepare for v1.0.0-rc.4 release
  docs/content/en/docs/reference/helm-chart.md
  docs/hugo.toml
  install/kubernetes/Chart.yaml
  install/kubernetes/README.md
  install/kubernetes/values.yaml
Owners: @mtardy, @cilium/tetragon

helm: add tracepoints to event set
  docs/content/en/docs/reference/helm-chart.md
  install/kubernetes/README.md
  install/kubernetes/values.yaml
Owners: @mtardy, @cilium/tetragon

gh: update cosign installer
  .github/workflows/build-clang-image.yaml
  .github/workflows/build-images-ci.yml
  .github/workflows/build-images-releases.yml
Owners: @willfindlay

gh: add CI image builds for test* branches
  .github/workflows/build-images-ci.yml
Owners: @willfindlay

gh: update cosign installer
  .github/workflows/build-clang-image.yaml
  .github/workflows/build-images-ci.yml
  .github/workflows/build-images-releases.yml
Owners: @willfindlay

gh: add CI image builds for test* branches
  .github/workflows/build-images-ci.yml
Owners: @willfindlay

build-images-ci: fix GH action
  .github/workflows/build-images-ci.yml
Owners: @willfindlay

build-images-ci: fix GH action
  .github/workflows/build-images-ci.yml
Owners: @willfindlay

gh: use cosign sign -y
  .github/workflows/build-clang-image.yaml
  .github/workflows/build-images-ci.yml
  .github/workflows/build-images-releases.yml
Owners: @willfindlay

gh: use cosign sign -y
  .github/workflows/build-clang-image.yaml
  .github/workflows/build-images-ci.yml
  .github/workflows/build-images-releases.yml
Owners: @willfindlay

Minor docs changes for 1.0 messaging
  docs/content/en/docs/overview/_index.md
  docs/layouts/partials/footer.html
Owners: @mtardy, @cilium/tetragon

helm: add tracepoints to event set
  docs/content/en/docs/reference/helm-chart.md
  install/kubernetes/README.md
  install/kubernetes/values.yaml
Owners: @mtardy, @cilium/tetragon

Prepare for v1.0.0-rc.5 release
  docs/content/en/docs/reference/helm-chart.md
  docs/hugo.toml
  install/kubernetes/Chart.yaml
  install/kubernetes/README.md
  install/kubernetes/values.yaml
Owners: @mtardy, @cilium/tetragon
