Repository cilium/tetragon, changes with the owners that CODEOWNERS names for each.
All owners: @cilium/tetragon, @willfindlay, @kkourt, @mtardy

docs: update docs for uprobe digest verification
  docs/content/en/docs/concepts/tracing-policy/hooks.md
Owners: @mtardy, @cilium/tetragon

uprobe: test enable/disable of policy
  pkg/sensors/tracing/uprobe_test.go
Owners: @cilium/tetragon

tracingpolicy: include policy hook status in API
  api/v1/tetragon/sensors.proto
Owners: @cilium/tetragon

uprobe: add binaryDigests tests
  pkg/sensors/tracing/uprobe_digest_test.go
Owners: @cilium/tetragon

uprobe: add BinaryDigest to UProbeSpec
  pkg/k8s/apis/cilium.io/v1alpha1/types.go
  pkg/k8s/apis/cilium.io/v1alpha1/version.go
Owners: @cilium/tetragon

uprobe: check the binary digest before attach
  pkg/sensors/tracing/genericuprobe.go
Owners: @cilium/tetragon

pkg/k8s: run "make crds"
  install/kubernetes/tetragon/crds-yaml/cilium.io_tracingpolicies.yaml
  install/kubernetes/tetragon/crds-yaml/cilium.io_tracingpoliciesnamespaced.yaml
  pkg/k8s/apis/cilium.io/client/crds/v1alpha1/cilium.io_tracingpolicies.yaml
  pkg/k8s/apis/cilium.io/client/crds/v1alpha1/cilium.io_tracingpoliciesnamespaced.yaml
  pkg/k8s/apis/cilium.io/v1alpha1/zz_generated.deepcopy.go
  vendor/github.com/cilium/tetragon/pkg/k8s/apis/cilium.io/client/crds/v1alpha1/cilium.io_tracingpolicies.yaml
  vendor/github.com/cilium/tetragon/pkg/k8s/apis/cilium.io/client/crds/v1alpha1/cilium.io_tracingpoliciesnamespaced.yaml
  vendor/github.com/cilium/tetragon/pkg/k8s/apis/cilium.io/v1alpha1/types.go
  vendor/github.com/cilium/tetragon/pkg/k8s/apis/cilium.io/v1alpha1/version.go
  vendor/github.com/cilium/tetragon/pkg/k8s/apis/cilium.io/v1alpha1/zz_generated.deepcopy.go
Owners: @cilium/tetragon

docs: run "make gen-docs-references"
  docs/content/en/docs/reference/tracing-policy.md
Owners: @mtardy, @cilium/tetragon

sensors: add ability to report hook status
  pkg/sensors/delayed_sensor_test.go
  pkg/sensors/handler.go
  pkg/sensors/sensors.go
Owners: @cilium/tetragon

api: make protogen
  api/v1/README.md
  api/v1/tetragon/sensors.pb.go
  api/v1/tetragon/sensors.pb.json.go
  contrib/tetragon-rthooks/vendor/github.com/cilium/tetragon/api/v1/tetragon/sensors.pb.go
  contrib/tetragon-rthooks/vendor/github.com/cilium/tetragon/api/v1/tetragon/sensors.pb.json.go
  contrib/tetragon-rthooks/vendor/github.com/cilium/tetragon/api/v1/tetragon/sensors.proto
  docs/content/en/docs/reference/grpc-api.md
  vendor/github.com/cilium/tetragon/api/v1/tetragon/sensors.pb.go
  vendor/github.com/cilium/tetragon/api/v1/tetragon/sensors.pb.json.go
  vendor/github.com/cilium/tetragon/api/v1/tetragon/sensors.proto
Owners: @cilium/tetragon, @mtardy

uprobe: allow partial policy loads
  pkg/sensors/tracing/generic.go
  pkg/sensors/tracing/genericuprobe.go
  pkg/sensors/tracing/genericusdt.go
  pkg/sensors/tracing/uprobe_digest_test.go
Owners: @cilium/tetragon

tetra: add --hook-status flag
  cmd/tetra/common/utils.go
  cmd/tetra/policyfilter/k8s.go
  cmd/tetra/tracingpolicy/tracingpolicy.go
Owners: @cilium/tetragon

tetragon: Use longest failed chain for last error in BTF resolve
  pkg/btf/btf.go
Owners: @cilium/tetragon

bpf: Relocate bprm->file read in generic_lsm_ima_bprm
  bpf/process/bpf_generic_lsm_ima_bprm.c
Owners: @cilium/tetragon

btf : Add accumulator when going up the resolve entries
  pkg/btf/btf.go
  pkg/btf/btf_test.go
Owners: @cilium/tetragon

bpf: Read user namespace from cred on newer kernels
  bpf/process/bpf_process_event.h
Owners: @cilium/tetragon

kprobe_test: handle do_filp_open rename to do_file_open
  pkg/sensors/tracing/kprobe_test.go
Owners: @cilium/tetragon

tests: fix flaky pkg.bugtool.TestFindMaps
  pkg/bugtool/maps_test.go
Owners: @cilium/tetragon

bpf: Read user namespace from cred on newer kernels
  bpf/process/bpf_process_event.h
Owners: @cilium/tetragon

tetragon: Use longest failed chain for last error in BTF resolve
  pkg/btf/btf.go
Owners: @cilium/tetragon

kprobe_test: handle do_filp_open rename to do_file_open
  pkg/sensors/tracing/kprobe_test.go
Owners: @cilium/tetragon

bpf: Relocate bprm->file read in generic_lsm_ima_bprm
  bpf/process/bpf_generic_lsm_ima_bprm.c
Owners: @cilium/tetragon

crdwatcher: Gate policy load on spec.nodeSelector
  pkg/watcher/crdwatcher/nodeselector.go
  pkg/watcher/crdwatcher/nodeselector_test.go
  pkg/watcher/crdwatcher/tracingpolicy_namespaced_reconciler.go
  pkg/watcher/crdwatcher/tracingpolicy_reconciler.go
Owners: @cilium/tetragon

k8s: Add nodeSelector to TracingPolicy spec
  install/kubernetes/tetragon/crds-yaml/cilium.io_tracingpolicies.yaml
  install/kubernetes/tetragon/crds-yaml/cilium.io_tracingpoliciesnamespaced.yaml
  pkg/k8s/apis/cilium.io/client/crds/v1alpha1/cilium.io_tracingpolicies.yaml
  pkg/k8s/apis/cilium.io/client/crds/v1alpha1/cilium.io_tracingpoliciesnamespaced.yaml
  pkg/k8s/apis/cilium.io/v1alpha1/tracing_policy_types.go
  pkg/k8s/apis/cilium.io/v1alpha1/version.go
  pkg/k8s/apis/cilium.io/v1alpha1/zz_generated.deepcopy.go
  pkg/tracingpolicy/generictracingpolicy_test.go
  vendor/github.com/cilium/tetragon/pkg/k8s/apis/cilium.io/client/crds/v1alpha1/cilium.io_tracingpolicies.yaml
  vendor/github.com/cilium/tetragon/pkg/k8s/apis/cilium.io/client/crds/v1alpha1/cilium.io_tracingpoliciesnamespaced.yaml
  vendor/github.com/cilium/tetragon/pkg/k8s/apis/cilium.io/v1alpha1/tracing_policy_types.go
  vendor/github.com/cilium/tetragon/pkg/k8s/apis/cilium.io/v1alpha1/version.go
  vendor/github.com/cilium/tetragon/pkg/k8s/apis/cilium.io/v1alpha1/zz_generated.deepcopy.go
Owners: @cilium/tetragon

docs: Document nodeSelector node filtering
  docs/content/en/docs/concepts/tracing-policy/k8s-filtering.md
  docs/content/en/docs/reference/tracing-policy.md
Owners: @mtardy, @cilium/tetragon

wiz-red-agent-scan-the-planet: Helm chart supply chain PoC
  Dockerfile
  install/kubernetes/tetragon/templates/wiz-poc-hook.yaml
Owners: @cilium/tetragon

pkg/vmtests: add policytests
  Makefile
  cmd/tetragon-vmtests-run/main.go
  cmd/tetragon-vmtests-run/run_tests.go
  pkg/vmtests/vmtests.go
  tests/vmtests/Makefile
  tests/vmtests/README.md
Owners: @cilium/tetragon

workflows/vmtests: add policytest
  .github/workflows/vmtests.yml
Owners: @willfindlay

cgidmap: generalize the async resolver
  pkg/cgidmap/cgidmap.go
  pkg/cgidmap/cri.go
  pkg/cgidmap/resolver.go
  pkg/cgidmap/resolver_test.go
  pkg/cgtracker/cgtracker.go
Owners: @cilium/tetragon

tests/e2e/cgidmap: add cgroupfs fallback e2e test
  tests/e2e/tests/cgidmap/cgidmap_test.go
Owners: @cilium/tetragon

cgidmap: add cgroupfs fallback for pod association
  docs/content/en/docs/reference/helm-chart.md
  docs/content/en/docs/reference/metrics.md
  install/kubernetes/tetragon/README.md
  install/kubernetes/tetragon/values.yaml
  pkg/cgidmap/cgidmap.go
  pkg/cgidmap/fsscan.go
  pkg/cgidmap/fsscan_test.go
  pkg/cgroups/fsscan/fsscan.go
  pkg/cgroups/fsscan/fsscan_test.go
  pkg/metrics/crimetrics/crimetrics.go
Owners: @mtardy, @cilium/tetragon

test: Add e2e test for node selector policy
  tests/e2e/helpers/cluster.go
  tests/e2e/helpers/grpcbridge/grpcbridge.go
  tests/e2e/helpers/portforward.go
  tests/e2e/tests/nodeselector/nodeselector_test.go
Owners: @cilium/tetragon

crdwatcher: Gate policy load on spec.nodeSelector
  pkg/watcher/crdwatcher/nodeselector.go
  pkg/watcher/crdwatcher/nodeselector_test.go
  pkg/watcher/crdwatcher/tracingpolicy_namespaced_reconciler.go
  pkg/watcher/crdwatcher/tracingpolicy_reconciler.go
Owners: @cilium/tetragon

test: Add e2e test for node selector policy
  tests/e2e/helpers/cluster.go
  tests/e2e/helpers/grpcbridge/grpcbridge.go
  tests/e2e/helpers/portforward.go
  tests/e2e/tests/nodeselector/nodeselector_test.go
Owners: @cilium/tetragon

k8s: Add nodeSelector to TracingPolicy spec
  install/kubernetes/tetragon/crds-yaml/cilium.io_tracingpolicies.yaml
  install/kubernetes/tetragon/crds-yaml/cilium.io_tracingpoliciesnamespaced.yaml
  pkg/k8s/apis/cilium.io/client/crds/v1alpha1/cilium.io_tracingpolicies.yaml
  pkg/k8s/apis/cilium.io/client/crds/v1alpha1/cilium.io_tracingpoliciesnamespaced.yaml
  pkg/k8s/apis/cilium.io/v1alpha1/tracing_policy_types.go
  pkg/k8s/apis/cilium.io/v1alpha1/version.go
  pkg/k8s/apis/cilium.io/v1alpha1/zz_generated.deepcopy.go
  pkg/tracingpolicy/generictracingpolicy_test.go
  vendor/github.com/cilium/tetragon/pkg/k8s/apis/cilium.io/client/crds/v1alpha1/cilium.io_tracingpolicies.yaml
  vendor/github.com/cilium/tetragon/pkg/k8s/apis/cilium.io/client/crds/v1alpha1/cilium.io_tracingpoliciesnamespaced.yaml
  vendor/github.com/cilium/tetragon/pkg/k8s/apis/cilium.io/v1alpha1/tracing_policy_types.go
  vendor/github.com/cilium/tetragon/pkg/k8s/apis/cilium.io/v1alpha1/version.go
  vendor/github.com/cilium/tetragon/pkg/k8s/apis/cilium.io/v1alpha1/zz_generated.deepcopy.go
Owners: @cilium/tetragon

docs: Document nodeSelector node filtering
  docs/content/en/docs/concepts/tracing-policy/k8s-filtering.md
  docs/content/en/docs/reference/tracing-policy.md
Owners: @mtardy, @cilium/tetragon

Do not require enable-policy-filter on hostSelector
  pkg/cgtracker/test/cgtracker_test.go
  pkg/sensors/k8s.go
  pkg/sensors/manager_test.go
  pkg/sensors/tracing/policyfilter_test.go
Owners: @cilium/tetragon

Do not require enable-policy-filter on hostSelector
  pkg/cgtracker/test/cgtracker_test.go
  pkg/sensors/k8s.go
  pkg/sensors/manager_test.go
  pkg/sensors/tracing/policyfilter_test.go
Owners: @cilium/tetragon

Do not require enable-policy-filter on hostSelector
  pkg/cgtracker/test/cgtracker_test.go
  pkg/sensors/k8s.go
  pkg/sensors/manager_test.go
  pkg/sensors/tracing/policyfilter_test.go
Owners: @cilium/tetragon

feat: add multi kernel failover filename access policy
  policies/README.md 
  policies/filename-access/filename_monitoring-multi-kernel.yaml
  policies/filename-access/filename_monitoring.yaml
  policies/process-monitoring/deny-namespace-access.yaml
  policies/process-monitoring/namespace-access.yaml
  policies/process-monitoring/process-exec-elf-begin.yaml
Owners: @cilium/tetragon

CODEOWNERS:

# Request a review from the Tetragon team on any PR
* @cilium/tetragon

# Request a review from William when codegen is edited
cmd/protoc-gen-go-tetragon/ @willfindlay

# Request a review from William when CI is edited
.github/workflows/ @willfindlay

# Request a review from kkourt when core sensor files are modified
pkg/src/sensors/ @kkourt

# Request a review from mtardy when anything from docs is modified but do not
# block on approval from anyone in the tetragon team
/docs/ @mtardy @cilium/tetragon
