Repository cilium/tetragon, changes with the owners that CODEOWNERS names for each.
All owners: @cilium/tetragon, @willfindlay, @kkourt, @mtardy

CODEOWNERS:

# Request a review from the Tetragon team on any PR
* @cilium/tetragon

# Request a review from William when codegen is edited
cmd/protoc-gen-go-tetragon/ @willfindlay

# Request a review from William when CI is edited
.github/workflows/ @willfindlay

# Request a review from kkourt when core sensor files are modified
pkg/src/sensors/ @kkourt

# Request a review from mtardy when anything from docs is modified but do not
# block on approval from anyone in the tetragon team
/docs/ @mtardy @cilium/tetragon

certloader: add reloadable TLS config for gRPC server
  go.mod
  pkg/certloader/doc.go
  pkg/certloader/export_test.go
  pkg/certloader/integration_test.go
  pkg/certloader/testdata_test.go
  pkg/certloader/tls.go
  pkg/certloader/tls_test.go
  pkg/certloader/watcher.go
Owners: @cilium/tetragon

tests/e2e: add gRPC mTLS tests
  tests/e2e/tests/grpctls/grpctls_test.go
Owners: @cilium/tetragon

install/kubernetes: provision gRPC mTLS via Helm
  docs/content/en/docs/reference/helm-chart.md
  install/kubernetes/tetragon/README.md
  install/kubernetes/tetragon/templates/_container_tetragon.tpl
  install/kubernetes/tetragon/templates/_helpers.tpl
  install/kubernetes/tetragon/templates/daemonset.yaml
  install/kubernetes/tetragon/templates/tetragon_configmap.yaml
  install/kubernetes/tetragon/templates/tls-certmanager/server-secret.yaml
  install/kubernetes/tetragon/templates/tls-cronjob/_job-spec.tpl
  install/kubernetes/tetragon/templates/tls-cronjob/cronjob.yaml
  install/kubernetes/tetragon/templates/tls-cronjob/job.yaml
  install/kubernetes/tetragon/templates/tls-cronjob/role.yaml
  install/kubernetes/tetragon/templates/tls-cronjob/rolebinding.yaml
  install/kubernetes/tetragon/templates/tls-cronjob/serviceaccount.yaml
  install/kubernetes/tetragon/templates/tls-helm/server-secret.yaml
  install/kubernetes/tetragon/values.yaml
Owners: @mtardy, @cilium/tetragon

cmd/tetragon: advertise unix socket in tetragon-info.json
  cmd/tetragon/main.go
Owners: @cilium/tetragon

cmd/tetra: add TLS / mTLS client flags
  cmd/tetra/common/client.go
  cmd/tetra/common/tls.go
  cmd/tetra/common/tls_test.go
  cmd/tetra/eventlog/client.go
  cmd/tetra/main.go
Owners: @cilium/tetragon

cmd/tetragon: wire TLS / mTLS and add dual-listener mode
  cmd/tetragon/main.go
  cmd/tetragon/main_linux.go
  cmd/tetragon/main_windows.go
  docs/data/tetragon_flags.yaml
Owners: @cilium/tetragon, @mtardy

option: add server TLS / mTLS flags
  pkg/option/config.go
  pkg/option/flags.go
  pkg/option/tls_validate_test.go
Owners: @cilium/tetragon

docs: Add docs for mTLS confiuration
  docs/content/en/docs/installation/configuration.md
  docs/content/en/docs/installation/grpc-tls.md
  docs/content/en/docs/installation/tetra-cli.md
  docs/content/en/docs/troubleshooting/grpc-tls.md
Owners: @mtardy, @cilium/tetragon

Add a method to remove a single pod from the fake watcher
  pkg/watcher/fake.go
  pkg/watcher/fake_test.go
Owners: @cilium/tetragon

CODEOWNERS: remove William review for anything CI
  .github/CODEOWNERS
Owners: @cilium/tetragon

CODEOWNERS: add specific William review on protobuf infra
  .github/CODEOWNERS
Owners: @cilium/tetragon

CODEOWNERS: add tetragon-docs ownership
  .github/CODEOWNERS
Owners: @cilium/tetragon

CODEOWNERS: add tetragon-bpf ownership and fix /pkg/sensors path
  .github/CODEOWNERS
Owners: @cilium/tetragon

CODEOWNERS: add tetragon-windows ownership
  .github/CODEOWNERS
Owners: @cilium/tetragon

cmd/tetragon-tester: improve sysrq-trigger shutdown failure log
  cmd/tetragon-tester/init.go
Owners: @cilium/tetragon

Add a method to remove a single pod from the fake watcher
  pkg/watcher/fake.go
  pkg/watcher/fake_test.go
Owners: @cilium/tetragon

chore: fix duplicated "an" in process.go GetPodInfo doc comment
  pkg/process/process.go
Owners: @cilium/tetragon

chore(pkg/sensors): emit a warning when `monitor_only` mode is enforced.
  pkg/sensors/tracing/policyhandler_linux.go
Owners: @cilium/tetragon

bpf: guard namespace collection
  bpf/process/bpf_process_event.h
Owners: @cilium/tetragon

exec: remove initial sensor load test
  pkg/sensors/exec/exec_test.go
Owners: @cilium/tetragon

program: skip disabled programs for map replacements
  pkg/sensors/program/loader_linux.go
  pkg/sensors/program/loader_linux_test.go
Owners: @cilium/tetragon

tracing: skip empty selector map loads
  pkg/sensors/tracing/selector_maploads_test.go
  pkg/sensors/tracing/selectors.go
Owners: @cilium/tetragon

program: stabilize multi-uprobe attach links
  pkg/sensors/program/loader_linux.go
  pkg/sensors/program/loader_linux_test.go
  pkg/sensors/tracing/genericuprobe.go
  pkg/sensors/tracing/uprobe_validation_test.go
Owners: @cilium/tetragon

bpf: skip ktime read for disabled rate limits
  bpf/process/types/basic.h
Owners: @cilium/tetragon

bpf: use local calls for hot helpers
  bpf/lib/process.h
  bpf/process/bpf_execve_event.c
  bpf/process/bpf_process_event.h
  bpf/process/generic_calls.h
  bpf/process/pfilter.h
  bpf/process/types/basic.h
Owners: @cilium/tetragon

sensors: reject duplicate program pin paths
  pkg/sensors/load.go
  pkg/sensors/load_test.go
Owners: @cilium/tetragon

tracing: validate uprobe target modes
  pkg/sensors/tracing/genericuprobe.go
  pkg/sensors/tracing/uprobe_validation_test.go
Owners: @cilium/tetragon

bpf: add bpf2bpf v511 sensor variants
  bpf/Makefile
  bpf/include/compiler.h
  pkg/config/config_linux.go
Owners: @cilium/tetragon

tracing: remove lsm object load test
  pkg/sensors/tracing/lsm_test.go
Owners: @cilium/tetragon

asm: parse assignments with strings.Cut
  pkg/asm/assignment_linux.go
Owners: @cilium/tetragon

tracing: remove uprobe sensor load test
  pkg/sensors/tracing/uprobe_test.go
Owners: @cilium/tetragon

tracing: remove usdt sensor load test
  pkg/sensors/tracing/usdt_test.go
Owners: @cilium/tetragon

asm: hand parse register offset assignments
  pkg/asm/assignment_linux.go
Owners: @cilium/tetragon

asm: hand parse register assignments
  pkg/asm/assignment_linux.go
Owners: @cilium/tetragon

tracing: remove kprobe sensor load test
  pkg/sensors/tracing/kprobe_test.go
Owners: @cilium/tetragon

asm: add parseOffset helper
  pkg/asm/assignment_linux.go
Owners: @cilium/tetragon

asm: hand parse register dereference assignments
  pkg/asm/assignment_linux.go
Owners: @cilium/tetragon

testutils: remove unused sensor load checker
  pkg/testutils/sensors/load.go
Owners: @cilium/tetragon

asm: parse constants with parseOffset
  pkg/asm/assignment_linux.go
Owners: @cilium/tetragon

tracing: remove tracepoint sensor load test
  pkg/sensors/tracing/tracepoint_test.go
Owners: @cilium/tetragon
