Repository cilium/tetragon, changes with the owners that CODEOWNERS names for each.
All owners: @cilium/tetragon, @willfindlay, @kkourt, @mtardy

CODEOWNERS:

# Request a review from the Tetragon team on any PR
* @cilium/tetragon

# Request a review from William when codegen is edited
cmd/protoc-gen-go-tetragon/ @willfindlay

# Request a review from William when CI is edited
.github/workflows/ @willfindlay

# Request a review from kkourt when core sensor files are modified
pkg/src/sensors/ @kkourt

# Request a review from mtardy when anything from docs is modified but do not
# block on approval from anyone in the tetragon team
/docs/ @mtardy @cilium/tetragon

tetragon: Add documentation for maps usage
  pkg/sensors/program/map.go
Owners: @cilium/tetragon

tetragon: Add tests for map builders
  bpf/Makefile
  bpf/process/bpf_map_test_p1.c
  bpf/process/bpf_map_test_p2.c
  pkg/sensors/test/sensors_test.go
Owners: @cilium/tetragon

tetragon: Add tests for map max entries setup
  pkg/sensors/test/sensors_test.go
Owners: @cilium/tetragon

tetragon:username: use login name instead of display name
  pkg/reader/userdb/userdb.go
Owners: @cilium/tetragon

tetragon:username: use login name instead of display name
  pkg/reader/userdb/userdb.go
Owners: @cilium/tetragon

tetragon:username: use login name instead of display name
  pkg/sensors/exec/exec.go
Owners: @cilium/tetragon

pkg/sensors: add rate limit test
  pkg/sensors/tracing/kprobe_test.go
Owners: @cilium/tetragon

pkg/sensors: pin the ratelimit_map to the fs
  pkg/sensors/tracing/generickprobe.go
Owners: @cilium/tetragon

pkg/sensors: fix for ratelimit_map wrong path pinning
  pkg/sensors/tracing/generickprobe.go
Owners: @cilium/tetragon

bpf: remove rate limit maps and structs for kernel <5.3
  bpf/process/types/basic.h
Owners: @cilium/tetragon

pkg/sensors: reduce ratelimit map memory footprint
  bpf/process/types/basic.h
  pkg/sensors/tracing/generickprobe.go
Owners: @cilium/tetragon

docs: update docs dev deps for security fixes
  docs/package-lock.json
  docs/package.json
Owners: @mtardy, @cilium/tetragon

tetragon: improve systemd deployment detection
  pkg/cgroups/cgroups.go
Owners: @cilium/tetragon

tetragon:username: use login name instead of display name
  pkg/sensors/exec/exec.go
Owners: @cilium/tetragon

tetragon: fail if --username-metadata receives invalid value
  cmd/tetragon/main.go
  pkg/option/flags.go
Owners: @cilium/tetragon

process:bpf: report euid as the process.uid at execve
  bpf/process/bpf_execve_event.c
  pkg/sensors/exec/exec_test.go
Owners: @cilium/tetragon

api: improve process.uid and process_credentials documentation
  api/v1/README.md
  api/v1/tetragon/tetragon.pb.go
  api/v1/tetragon/tetragon.proto
  contrib/rthooks/tetragon-oci-hook/vendor/github.com/cilium/tetragon/api/v1/tetragon/tetragon.pb.go
  contrib/rthooks/tetragon-oci-hook/vendor/github.com/cilium/tetragon/api/v1/tetragon/tetragon.proto
  docs/content/en/docs/reference/grpc-api.md
  vendor/github.com/cilium/tetragon/api/v1/tetragon/tetragon.pb.go
  vendor/github.com/cilium/tetragon/api/v1/tetragon/tetragon.proto
Owners: @cilium/tetragon, @mtardy

process:bpf: report euid as the process.uid at execve
  bpf/process/bpf_execve_event.c
  pkg/sensors/exec/exec_test.go
Owners: @cilium/tetragon

api: improve process.uid and process_credentials documentation
  api/v1/README.md
  api/v1/tetragon/tetragon.pb.go
  api/v1/tetragon/tetragon.proto
  contrib/rthooks/tetragon-oci-hook/vendor/github.com/cilium/tetragon/api/v1/tetragon/tetragon.pb.go
  contrib/rthooks/tetragon-oci-hook/vendor/github.com/cilium/tetragon/api/v1/tetragon/tetragon.proto
  docs/content/en/docs/reference/grpc-api.md
  vendor/github.com/cilium/tetragon/api/v1/tetragon/tetragon.pb.go
  vendor/github.com/cilium/tetragon/api/v1/tetragon/tetragon.proto
Owners: @cilium/tetragon, @mtardy

process:bpf: report euid as the process.uid at execve
  bpf/process/bpf_execve_event.c
  pkg/sensors/exec/exec_test.go
Owners: @cilium/tetragon

api: improve process.uid and process_credentials documentation
  api/v1/README.md
  api/v1/tetragon/tetragon.pb.go
  api/v1/tetragon/tetragon.proto
  contrib/rthooks/tetragon-oci-hook/vendor/github.com/cilium/tetragon/api/v1/tetragon/tetragon.pb.go
  contrib/rthooks/tetragon-oci-hook/vendor/github.com/cilium/tetragon/api/v1/tetragon/tetragon.proto
  docs/content/en/docs/reference/grpc-api.md
  vendor/github.com/cilium/tetragon/api/v1/tetragon/tetragon.pb.go
  vendor/github.com/cilium/tetragon/api/v1/tetragon/tetragon.proto
Owners: @cilium/tetragon, @mtardy

github:workflow: install jq
  .github/workflows/build-images-releases.yml
  .github/workflows/packages-e2e-tests.yaml
Owners: @willfindlay

make: check if docker is using new oci save format
  Makefile
Owners: @cilium/tetragon

process:bpf: report euid as the process.uid at execve
  bpf/process/bpf_execve_event.c
  pkg/sensors/exec/exec_test.go
Owners: @cilium/tetragon

api: improve process.uid and process_credentials documentation
  api/v1/README.md
  api/v1/tetragon/tetragon.pb.go
  api/v1/tetragon/tetragon.proto
  contrib/rthooks/tetragon-oci-hook/vendor/github.com/cilium/tetragon/api/v1/tetragon/tetragon.pb.go
  contrib/rthooks/tetragon-oci-hook/vendor/github.com/cilium/tetragon/api/v1/tetragon/tetragon.proto
  docs/content/en/docs/reference/grpc-api.md
  vendor/github.com/cilium/tetragon/api/v1/tetragon/tetragon.pb.go
  vendor/github.com/cilium/tetragon/api/v1/tetragon/tetragon.proto
Owners: @cilium/tetragon, @mtardy

tetragon: resolve uid->username for processes from /proc
  pkg/reader/namespace/namespace.go
  pkg/sensors/exec/exec.go
  pkg/sensors/exec/procevents/proc_reader.go
  pkg/sensors/exec/userinfo/userinfo.go
Owners: @cilium/tetragon

tests: add test for getAccountUnix()
  pkg/sensors/exec/userinfo/userinfo_test.go
Owners: @cilium/tetragon

process: trace log when uid to username fails
  pkg/sensors/exec/exec.go
  pkg/sensors/exec/procevents/proc_reader.go
Owners: @cilium/tetragon

process:username: metric for errors
  docs/content/en/docs/reference/metrics.md
  pkg/metrics/errormetrics/errormetrics.go
  pkg/sensors/exec/userinfo/userinfo.go
Owners: @mtardy, @cilium/tetragon

Extend metrics library
  pkg/metrics/bpfmetric.go
  pkg/metrics/counter.go
  pkg/metrics/customcollector.go
  pkg/metrics/custommetric.go
  pkg/metrics/doc.go
  pkg/metrics/filteredlabels.go
  pkg/metrics/filteredlabels_test.go
  pkg/metrics/gauge.go
  pkg/metrics/granularmetric.go
  pkg/metrics/group.go
  pkg/metrics/histogram.go
  pkg/metrics/labels.go
  pkg/metrics/metricwithpod.go
  pkg/metrics/opts.go
Owners: @cilium/tetragon

github:workflow: install jq
  .github/workflows/build-images-releases.yml
  .github/workflows/packages-e2e-tests.yaml
Owners: @willfindlay

process:bpf: report euid as the process.uid at execve
  bpf/process/bpf_execve_event.c
  pkg/sensors/exec/exec_test.go
Owners: @cilium/tetragon

api: improve process.uid and process_credentials documentation
  api/v1/README.md
  api/v1/tetragon/tetragon.pb.go
  api/v1/tetragon/tetragon.proto
  contrib/rthooks/tetragon-oci-hook/vendor/github.com/cilium/tetragon/api/v1/tetragon/tetragon.pb.go
  contrib/rthooks/tetragon-oci-hook/vendor/github.com/cilium/tetragon/api/v1/tetragon/tetragon.proto
  docs/content/en/docs/reference/grpc-api.md
  vendor/github.com/cilium/tetragon/api/v1/tetragon/tetragon.pb.go
  vendor/github.com/cilium/tetragon/api/v1/tetragon/tetragon.proto
Owners: @cilium/tetragon, @mtardy

make: check if docker is using new oci save format
  Makefile
Owners: @cilium/tetragon

tetragon: cache username lookups
  pkg/reader/userdb/userdb.go
  pkg/sensors/exec/exec.go
Owners: @cilium/tetragon

test: test userdb lookups
  pkg/reader/userdb/userdb_test.go
Owners: @cilium/tetragon

tetragon: resolve uid->username for processes from /proc
  pkg/reader/namespace/namespace.go
  pkg/sensors/exec/exec.go
  pkg/sensors/exec/procevents/proc_reader.go
  pkg/sensors/exec/userinfo/userinfo.go
Owners: @cilium/tetragon

tests: add test for getAccountUnix()
  pkg/sensors/exec/userinfo/userinfo_test.go
Owners: @cilium/tetragon

process: trace log when uid to username fails
  pkg/sensors/exec/exec.go
  pkg/sensors/exec/procevents/proc_reader.go
Owners: @cilium/tetragon

filters: implement parent binary export filter
  api/v1/README.md
  api/v1/tetragon/events.pb.go
  api/v1/tetragon/events.proto
  contrib/rthooks/tetragon-oci-hook/vendor/github.com/cilium/tetragon/api/v1/tetragon/events.pb.go
  contrib/rthooks/tetragon-oci-hook/vendor/github.com/cilium/tetragon/api/v1/tetragon/events.proto
  docs/content/en/docs/concepts/events.md
  docs/content/en/docs/reference/grpc-api.md
  pkg/filters/binary_regex.go
  pkg/filters/binary_regex_test.go
  pkg/filters/filters.go
  vendor/github.com/cilium/tetragon/api/v1/tetragon/events.pb.go
  vendor/github.com/cilium/tetragon/api/v1/tetragon/events.proto
Owners: @cilium/tetragon, @mtardy
