Repository cilium/tetragon, changes with the owners that CODEOWNERS names for each.
All owners: @cilium/tetragon, @willfindlay, @kkourt, @mtardy

kprobemetrics: Fix collecting missed metrics
  pkg/metrics/kprobemetrics/collector.go
Owners: @cilium/tetragon

api/ops: Remove MsgOp* constants
  docs/content/en/docs/reference/metrics.md
  pkg/api/ops/ops.go
  pkg/metrics/errormetrics/errormetrics.go
  pkg/metrics/labels.go
  pkg/metrics/opcodemetrics/opcodemetrics.go
Owners: @mtardy, @cilium/tetragon

bpf: Add postfix/notpostfix operator for matching binaries
  bpf/lib/process.h
  bpf/process/bpf_execve_event.c
  bpf/process/types/basic.h
  pkg/api/processapi/processapi.go
  pkg/sensors/exec/procevents/proc_reader.go
Owners: @cilium/tetragon

tetragon: Add Postfix and NotPostfix operators to matchBinaries selector
  install/kubernetes/tetragon/crds-yaml/cilium.io_tracingpolicies.yaml
  install/kubernetes/tetragon/crds-yaml/cilium.io_tracingpoliciesnamespaced.yaml
  pkg/k8s/apis/cilium.io/client/crds/v1alpha1/cilium.io_tracingpolicies.yaml
  pkg/k8s/apis/cilium.io/client/crds/v1alpha1/cilium.io_tracingpoliciesnamespaced.yaml
  pkg/k8s/apis/cilium.io/v1alpha1/types.go
  pkg/k8s/apis/cilium.io/v1alpha1/version.go
  pkg/selectors/kernel.go
  vendor/github.com/cilium/tetragon/pkg/k8s/apis/cilium.io/client/crds/v1alpha1/cilium.io_tracingpolicies.yaml
  vendor/github.com/cilium/tetragon/pkg/k8s/apis/cilium.io/client/crds/v1alpha1/cilium.io_tracingpoliciesnamespaced.yaml
  vendor/github.com/cilium/tetragon/pkg/k8s/apis/cilium.io/v1alpha1/types.go
  vendor/github.com/cilium/tetragon/pkg/k8s/apis/cilium.io/v1alpha1/version.go
Owners: @cilium/tetragon

tetragon: Update tests for KprobeMatchBinaries
  pkg/sensors/tracing/kprobe_test.go
Owners: @cilium/tetragon

docs: Update docs for matchBinaries selector
  docs/content/en/docs/concepts/tracing-policy/selectors.md
Owners: @mtardy, @cilium/tetragon

tetragon: Add Postfix and NotPostfix operators to matchBinaries selector
  install/kubernetes/tetragon/crds-yaml/cilium.io_tracingpolicies.yaml
  install/kubernetes/tetragon/crds-yaml/cilium.io_tracingpoliciesnamespaced.yaml
  pkg/k8s/apis/cilium.io/client/crds/v1alpha1/cilium.io_tracingpolicies.yaml
  pkg/k8s/apis/cilium.io/client/crds/v1alpha1/cilium.io_tracingpoliciesnamespaced.yaml
  pkg/k8s/apis/cilium.io/v1alpha1/types.go
  pkg/k8s/apis/cilium.io/v1alpha1/version.go
  pkg/selectors/kernel.go
  vendor/github.com/cilium/tetragon/pkg/k8s/apis/cilium.io/client/crds/v1alpha1/cilium.io_tracingpolicies.yaml
  vendor/github.com/cilium/tetragon/pkg/k8s/apis/cilium.io/client/crds/v1alpha1/cilium.io_tracingpoliciesnamespaced.yaml
  vendor/github.com/cilium/tetragon/pkg/k8s/apis/cilium.io/v1alpha1/types.go
  vendor/github.com/cilium/tetragon/pkg/k8s/apis/cilium.io/v1alpha1/version.go
Owners: @cilium/tetragon

tetragon: Update tests for KprobeMatchBinaries
  pkg/sensors/tracing/kprobe_test.go
Owners: @cilium/tetragon

bpf: Add postfix/notpostfix operator for matching binaries
  bpf/lib/process.h
  bpf/process/bpf_execve_event.c
  bpf/process/types/basic.h
  pkg/api/processapi/processapi.go
  pkg/sensors/exec/procevents/proc_reader.go
Owners: @cilium/tetragon

docs: Update docs for matchBinaries selector
  docs/content/en/docs/concepts/tracing-policy/selectors.md
Owners: @mtardy, @cilium/tetragon

metrics: Expose go_sched_latencies_seconds
  docs/content/en/docs/reference/metrics.md
  pkg/metricsconfig/initmetrics.go
Owners: @mtardy, @cilium/tetragon

CI: Changed lint Helm CI trigger
  .github/workflows/lint-helm.yaml
Owners: @willfindlay

CI: Changed lint Helm CI trigger
  .github/workflows/lint-helm.yaml
Owners: @willfindlay

Dockerfile.clang: upgrade to clang-18
  Dockerfile.clang
Owners: @cilium/tetragon

Dockerfile.clang-format: upgrade to clang-format-18
  Dockerfile.clang-format
Owners: @cilium/tetragon

clang-format: remove duplicate settings in config
  .clang-format
Owners: @cilium/tetragon

clang-format: remove duplicate settings in config
  .clang-format
Owners: @cilium/tetragon

Dockerfile.clang: upgrade to clang-18
  Dockerfile.clang
Owners: @cilium/tetragon

Dockerfile.clang-format: upgrade to clang-format-18
  Dockerfile.clang-format
Owners: @cilium/tetragon

clang: upgrade to use Clang 18
  Dockerfile
  Dockerfile.dev
  Dockerfile.test
  Makefile
Owners: @cilium/tetragon

Dockerfile: fix a static linking issue with bpftool
  Dockerfile
Owners: @cilium/tetragon

bpf: satisfy the verifier on v5.3 generic programs
  bpf/process/pfilter.h
Owners: @cilium/tetragon

Dockerfile: Ubuntu apt now uses the deb822 format
  Dockerfile
Owners: @cilium/tetragon

feat: add banner and move tetragon slides
  docs/assets/scss/_styles_project.scss
  docs/assets/scss/community-banner.scss
  docs/assets/scss/header.scss
  docs/assets/scss/home.scss
  docs/content/en/_index.html
  docs/layouts/_default/baseof.html
  docs/layouts/partials/community-banner.html
Owners: @mtardy, @cilium/tetragon

feat: add banner and move tetragon slides
  docs/assets/scss/_styles_project.scss
  docs/assets/scss/community-banner.scss
  docs/assets/scss/header.scss
  docs/assets/scss/home.scss
  docs/content/en/_index.html
  docs/layouts/_default/baseof.html
  docs/layouts/partials/community-banner.html
Owners: @mtardy, @cilium/tetragon

encoder: display event type info on compact encoder failure
  pkg/encoder/encoder.go
Owners: @cilium/tetragon

encoder: handle test event type in compact encoder
  pkg/encoder/encoder.go
Owners: @cilium/tetragon

bpf: satisfy the verifier on v5.3 generic programs
  bpf/process/pfilter.h
Owners: @cilium/tetragon

clang: upgrade to use Clang 18
  Dockerfile
  Dockerfile.dev
  Dockerfile.test
  Makefile
Owners: @cilium/tetragon

Dockerfile: fix a static linking issue with bpftool
  Dockerfile
Owners: @cilium/tetragon

Dockerfile: Ubuntu apt now uses the deb822 format
  Dockerfile
Owners: @cilium/tetragon

encoder: add missing process_uprobe case to compact encoder
  pkg/encoder/encoder.go
Owners: @cilium/tetragon

encoder: add fuzz test for compact encoder
  pkg/encoder/encoder_test.go
Owners: @cilium/tetragon

feat: add Linkedin to the Community Section
  docs/assets/scss/home/hero.scss
  docs/assets/scss/social.scss
  docs/content/en/_index.html
  docs/static/svgs/linkedin-icon.svg
Owners: @mtardy, @cilium/tetragon

encoder: add fuzz test for compact encoder
  pkg/encoder/encoder_test.go
Owners: @cilium/tetragon

encoder: display event type info on compact encoder failure
  pkg/encoder/encoder.go
Owners: @cilium/tetragon

encoder: add missing process_uprobe case to compact encoder
  pkg/encoder/encoder.go
Owners: @cilium/tetragon

encoder: handle test event type in compact encoder
  pkg/encoder/encoder.go
Owners: @cilium/tetragon

metrics: Expose go_sched_latencies_seconds
  docs/content/en/docs/reference/metrics.md
  pkg/metricsconfig/initmetrics.go
Owners: @mtardy, @cilium/tetragon

api/ops: Remove MsgOp* constants
  docs/content/en/docs/reference/metrics.md
  pkg/api/ops/ops.go
  pkg/metrics/errormetrics/errormetrics.go
  pkg/metrics/labels.go
  pkg/metrics/opcodemetrics/opcodemetrics.go
Owners: @mtardy, @cilium/tetragon

CODEOWNERS:

# Request a review from the Tetragon team on any PR
* @cilium/tetragon

# Request a review from William when codegen is edited
cmd/protoc-gen-go-tetragon/ @willfindlay

# Request a review from William when CI is edited
.github/workflows/ @willfindlay

# Request a review from kkourt when core sensor files are modified
pkg/src/sensors/ @kkourt

# Request a review from mtardy when anything from docs is modified but do not
# block on approval from anyone in the tetragon team
/docs/ @mtardy @cilium/tetragon
