Repository cilium/tetragon, changes with the owners that CODEOWNERS names for each.
All owners: @cilium/tetragon, @willfindlay, @kkourt, @mtardy

tetragon-vmtests-run: create a gotest sub-command
  .github/workflows/vmtests.yml
  cmd/tetragon-vmtests-run/gotests.go
  cmd/tetragon-vmtests-run/image.go
  cmd/tetragon-vmtests-run/main.go
  tests/vmtests/README.md
Owners: @willfindlay, @cilium/tetragon

tetragon-vmtests-run: remove unused variable
  cmd/tetragon-vmtests-run/conf.go
  cmd/tetragon-vmtests-run/image.go
  cmd/tetragon-vmtests-run/main.go
Owners: @cilium/tetragon

tetragon-vmtests-run: add common conf struct
  cmd/tetragon-vmtests-run/conf.go
Owners: @cilium/tetragon

tetragon-vmtests-run: rename runTests
  cmd/tetragon-vmtests-run/gotests.go
  cmd/tetragon-vmtests-run/run_tests.go
Owners: @cilium/tetragon

vmtests-run: add policytest subcommand
  cmd/tetragon-vmtests-run/main.go
  cmd/tetragon-vmtests-run/policytest.go
  cmd/tetragon-vmtests-run/policytester_service.go
  cmd/tetragon-vmtests-run/tester_progs.go
  cmd/tetragon-vmtests-run/tetragon_service.go
Owners: @cilium/tetragon

tetragon-vmtests-run: introduce qemu helpers
  cmd/tetragon-vmtests-run/gotests.go
  cmd/tetragon-vmtests-run/qemu.go
Owners: @cilium/tetragon

tetragon-vmtests-run: add helper for flags
  cmd/tetragon-vmtests-run/conf.go
  cmd/tetragon-vmtests-run/gotests.go
Owners: @cilium/tetragon

tetragon-vmtests-run: update buildQemuArgs
  cmd/tetragon-vmtests-run/gotests.go
  cmd/tetragon-vmtests-run/qemu.go
Owners: @cilium/tetragon

tetragon-vmtests-run: update testImageFilename
  cmd/tetragon-vmtests-run/conf.go
Owners: @cilium/tetragon

go.mod: update to the latest lvh
  go.mod
  go.sum
  vendor/github.com/cilium/little-vm-helper/pkg/images/actions.go
  vendor/modules.txt
Owners: @cilium/tetragon

vmtests-run: policytest: BTF file support
  cmd/tetragon-vmtests-run/policytest.go
  cmd/tetragon-vmtests-run/tetragon_service.go
Owners: @cilium/tetragon

Makefile: create tester-progs-tarball target
  Makefile
  contrib/tester-progs/Makefile
Owners: @cilium/tetragon

vmtests-run: policytest: support OCI images
  cmd/tetragon-vmtests-run/conf.go
  cmd/tetragon-vmtests-run/policytest.go
Owners: @cilium/tetragon

vmtests-run: policytest: support progs tar
  cmd/tetragon-vmtests-run/policytest.go
Owners: @cilium/tetragon

vmtests-run: policytest: tetragon install via tar
  cmd/tetragon-vmtests-run/policytest.go
Owners: @cilium/tetragon

gha: introduce vmpolicytest workflow
  .github/workflows/vmpolicytests.yaml
Owners: @willfindlay

tracing: Scope uprobe and usdt events via policyfilter
  pkg/sensors/tracing/genericuprobe.go
  pkg/sensors/tracing/genericusdt.go
  pkg/sensors/tracing/policyfilter_test.go
  pkg/sensors/tracing/uprobe_validation_test.go
  pkg/sensors/tracing/usdt_validation_test.go
Owners: @cilium/tetragon

fix(fieldfilters): apply all redaction regexes to each env var
  pkg/fieldfilters/redaction.go
Owners: @cilium/tetragon

test(fieldfilters): cover multiple redactions in one env var
  pkg/fieldfilters/redaction_test.go
Owners: @cilium/tetragon

feat: add policy short codes
  docs/config/_default/hugo.toml
  docs/content/en/docs/use-cases/host-system-changes/linux-kernel-modules.md
  docs/layouts/shortcodes/policy-example.html
  docs/layouts/shortcodes/policy-raw-url.html
  docs/layouts/shortcodes/policy-ref.html
Owners: @mtardy, @cilium/tetragon

feat: update docs contribution guide for policy shortcode
  docs/content/en/docs/contribution-guide/documentation.md
Owners: @mtardy, @cilium/tetragon

test(fieldfilters): cover multiple redactions in one env var
  pkg/fieldfilters/redaction_test.go
Owners: @cilium/tetragon

fix(fieldfilters): apply all redaction regexes to each env var
  pkg/fieldfilters/redaction.go
Owners: @cilium/tetragon

pkg/encoder: add regression test for escaping special chars
  pkg/encoder/encoder_test.go
Owners: @cilium/tetragon

tracingpolicy: include policy hook status in API
  api/v1/tetragon/sensors.proto
Owners: @cilium/tetragon

sensors.proto: add partially loaded TP state
  api/v1/tetragon/sensors.proto
Owners: @cilium/tetragon

api: run "make protogen"
  api/v1/README.md
  api/v1/tetragon/sensors.pb.go
  api/v1/tetragon/sensors.pb.json.go
  contrib/tetragon-rthooks/vendor/github.com/cilium/tetragon/api/v1/tetragon/sensors.pb.go
  contrib/tetragon-rthooks/vendor/github.com/cilium/tetragon/api/v1/tetragon/sensors.pb.json.go
  contrib/tetragon-rthooks/vendor/github.com/cilium/tetragon/api/v1/tetragon/sensors.proto
  docs/content/en/docs/reference/grpc-api.md
  vendor/github.com/cilium/tetragon/api/v1/tetragon/sensors.pb.go
  vendor/github.com/cilium/tetragon/api/v1/tetragon/sensors.pb.json.go
  vendor/github.com/cilium/tetragon/api/v1/tetragon/sensors.proto
Owners: @cilium/tetragon, @mtardy

sensors: add ability to report hook status
  pkg/sensors/delayed_sensor_test.go
  pkg/sensors/handler.go
  pkg/sensors/sensors.go
Owners: @cilium/tetragon

sensors: add partially loaded state
  pkg/metrics/policymetrics/policymetrics.go
  pkg/metrics/policymetrics/policymetrics_test.go
  pkg/sensors/collection.go
  pkg/sensors/handler.go
Owners: @cilium/tetragon

types: add Ignore for uprobe spec
  pkg/k8s/apis/cilium.io/v1alpha1/types.go
  pkg/k8s/apis/cilium.io/v1alpha1/version.go
Owners: @cilium/tetragon

uprobe: allow partial policy loads
  pkg/sensors/tracing/genericuprobe.go
Owners: @cilium/tetragon

docs: run "make gen-docs-references"
  docs/content/en/docs/reference/metrics.md
  docs/content/en/docs/reference/tracing-policy.md
Owners: @mtardy, @cilium/tetragon

pkg/k8s: run "make crds"
  install/kubernetes/tetragon/crds-yaml/cilium.io_tracingpolicies.yaml
  install/kubernetes/tetragon/crds-yaml/cilium.io_tracingpoliciesnamespaced.yaml
  pkg/k8s/apis/cilium.io/client/crds/v1alpha1/cilium.io_tracingpolicies.yaml
  pkg/k8s/apis/cilium.io/client/crds/v1alpha1/cilium.io_tracingpoliciesnamespaced.yaml
  pkg/k8s/apis/cilium.io/v1alpha1/zz_generated.deepcopy.go
  vendor/github.com/cilium/tetragon/pkg/k8s/apis/cilium.io/client/crds/v1alpha1/cilium.io_tracingpolicies.yaml
  vendor/github.com/cilium/tetragon/pkg/k8s/apis/cilium.io/client/crds/v1alpha1/cilium.io_tracingpoliciesnamespaced.yaml
  vendor/github.com/cilium/tetragon/pkg/k8s/apis/cilium.io/v1alpha1/types.go
  vendor/github.com/cilium/tetragon/pkg/k8s/apis/cilium.io/v1alpha1/version.go
  vendor/github.com/cilium/tetragon/pkg/k8s/apis/cilium.io/v1alpha1/zz_generated.deepcopy.go
Owners: @cilium/tetragon

uprobe: update BinaryDigest config docs
  docs/content/en/docs/concepts/tracing-policy/hooks.md
  pkg/k8s/apis/cilium.io/v1alpha1/types.go
  pkg/k8s/apis/cilium.io/v1alpha1/version.go
Owners: @mtardy, @cilium/tetragon

tetra: show hook status with TP list
  cmd/tetra/common/utils.go
Owners: @cilium/tetragon

kprobe: report hook status
  pkg/sensors/tracing/generickprobe.go
Owners: @cilium/tetragon

api: run "make protogen"
  api/v1/README.md
  api/v1/tetragon/sensors.pb.go
  contrib/tetragon-rthooks/vendor/github.com/cilium/tetragon/api/v1/tetragon/sensors.pb.go
  contrib/tetragon-rthooks/vendor/github.com/cilium/tetragon/api/v1/tetragon/sensors.proto
  docs/content/en/docs/reference/grpc-api.md
  vendor/github.com/cilium/tetragon/api/v1/tetragon/sensors.pb.go
  vendor/github.com/cilium/tetragon/api/v1/tetragon/sensors.proto
Owners: @cilium/tetragon, @mtardy

sensors: handle empty sensors
  pkg/sensors/collection.go
  pkg/sensors/delayed_sensor_test.go
  pkg/sensors/load.go
  pkg/sensors/sensors.go
  pkg/sensors/tracing/generickprobe.go
  pkg/sensors/tracing/genericuprobe.go
Owners: @cilium/tetragon

uprobe: update digest verification tests
  pkg/sensors/tracing/uprobe_digest_test.go
Owners: @cilium/tetragon

kprobe: create empty sensor when all hooks ignored
  pkg/sensors/tracing/generickprobe.go
  pkg/sensors/tracing/policyhandler_linux.go
Owners: @cilium/tetragon

CODEOWNERS:

# Request a review from the Tetragon team on any PR
* @cilium/tetragon

# Request a review from William when codegen is edited
cmd/protoc-gen-go-tetragon/ @willfindlay

# Request a review from William when CI is edited
.github/workflows/ @willfindlay

# Request a review from kkourt when core sensor files are modified
pkg/src/sensors/ @kkourt

# Request a review from mtardy when anything from docs is modified but do not
# block on approval from anyone in the tetragon team
/docs/ @mtardy @cilium/tetragon
